@page "/pharmacy/prescriptions/cl/{PageMode}"

@using McDermott.Web.Components.Layout
@rendermode InteractiveServer

<PageTitle>McHealthCare - Pharmacy</PageTitle>

@if (IsAccess && UserAccessCRUID is not null && (UserAccessCRUID.IsCreate || UserAccessCRUID.IsUpdate))
{
    <div class="wrapper">
        <BaseHeaderPage Title="Pharmacy" OnClickBack="@(async () => NavigationManager.NavigateTo($"pharmacy/prescriptions/{EnumPageMode.Update.GetDisplayName()}/?Id={PostConcoction.PharmacyId}"))" ShowBackButton="true" />
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col">
                        <EditForm Model="@PostConcoction" Context="EditFormContext" OnInvalidSubmit="@HandleInvalidSubmit" OnValidSubmit="@HandleValidSubmit">
                            <DataAnnotationsValidator />
                            <AntiforgeryToken />
                            <div class="sticky">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="col-auto align-self-end">
                                            <DxButton Visible="@(PostPharmacy.Id != 0 && UserLogin.IsDoctor == true)" RenderStyle="ButtonRenderStyle.Primary" RenderStyleMode="@ButtonRenderStyleMode.Contained" IconCssClass="fa-solid fa-floppy-disk" Text="Save" SubmitFormOnClick="true"></DxButton>
                                            <DxButton Visible="@(PostPharmacy.Id!=0 && UserLogin.IsDoctor == true)" RenderStyle="ButtonRenderStyle.Danger" RenderStyleMode="@ButtonRenderStyleMode.Contained" IconCssClass="fa-solid fa-xmark" Text="Discard" Click="OnDiscard" SubmitFormOnClick="true"></DxButton>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <DxLoadingPanel @bind-Visible="PanelVisible"
                                            IndicatorAnimationType="WaitIndicatorAnimationType.Pulse"
                                            IsContentBlocked="true"
                                            ApplyBackgroundShading="true"
                                            IndicatorAreaVisible="false"
                                            Text="Fetching Data...">
                                <div class="card">
                                    <div class="card-header">
                                        <h3>Concoction Pharmacy</h3>
                                    </div>
                                    <div class="card-body">
                                        <DxFormLayout CssClass="w100">
                                            <DxFormLayoutItem Caption="Prescribing Doctor" CaptionCssClass="normal-caption" ColSpanMd="6">
                                                <DxComboBox ShowValidationIcon="true"
                                                            ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto" FilteringMode="@DataGridFilteringMode.Contains"
                                                            Data="@GetPractitioners"
                                                            NullText="Select Prescribing Doctor..."
                                                            @bind-Value="@PostConcoction.PractitionerId"
                                                            TextFieldName="Name"
                                                            ReadOnly
                                                            ValueFieldName="Id">
                                                </DxComboBox>
                                                <ValidationMessage For="@(()=> PostConcoction.PractitionerId)" />
                                            </DxFormLayoutItem>
                                            <DxFormLayoutItem Caption="Medicament Group" CaptionCssClass="normal-caption" ColSpanMd="6">
                                                <DxComboBox ShowValidationIcon="true"
                                                            ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto" FilteringMode="@DataGridFilteringMode.Contains"
                                                            Data="@GetMedicamentGroup"
                                                            NullText="Select Medicament Group..."
                                                            @bind-Value="@PostConcoction.MedicamentGroupId"
                                                            SelectedItemChanged="@((MedicamentGroupDto value) =>  SelectedMedicamentGroupConcoction(value))"
                                                            TextFieldName="Name"
                                                            ReadOnly="@(PostPharmacy.Status != EnumStatusPharmacy.Draft)"
                                                            ValueFieldName="Id">
                                                </DxComboBox>
                                                <ValidationMessage For="@(()=> PostConcoction.MedicamentGroupId)" />
                                            </DxFormLayoutItem>

                                            <DxFormLayoutItem Caption="Medicine Name" CaptionCssClass="normal-caption" ColSpanMd="6">
                                                <DxTextBox @bind-Text="@PostConcoction.MedicamenName"
                                                           ShowValidationIcon="true"
                                                           ReadOnly="@(PostPharmacy.Status != EnumStatusPharmacy.Draft)"
                                                           ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
                                                           NullText="Name" />
                                                <ValidationMessage For="@(() => PostConcoction.MedicamenName)"   />
                                            </DxFormLayoutItem>

                                            <DxFormLayoutItem Caption="Drug Route" CaptionCssClass="normal-caption" ColSpanMd="6">
                                                <DxComboBox ShowValidationIcon="true" Data="@GetDrugRoutes"
                                                            NullText="Drug Route..."
                                                            ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
                                                            FilteringMode="@DataGridFilteringMode.Contains"
                                                            @bind-Value="PostConcoction.DrugRouteId"
                                                            TextFieldName="Route"
                                                            ReadOnly="@(PostPharmacy.Status != EnumStatusPharmacy.Draft)"
                                                            ValueFieldName="Id">
                                                </DxComboBox>
                                                <ValidationMessage For="@(()=> PostConcoction.DrugRouteId)" />
                                            </DxFormLayoutItem>

                                            <DxFormLayoutItem Caption="Form" CaptionCssClass="normal-caption" ColSpanMd="6">
                                                <DxComboBox ShowValidationIcon="true"
                                                            ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto" FilteringMode="@DataGridFilteringMode.Contains"
                                                            Data="@GetDrugForms"
                                                            ReadOnly="@(PostPharmacy.Status != EnumStatusPharmacy.Draft)"
                                                            NullText="Select Form..."
                                                            @bind-Value="@PostConcoction.DrugFormId"
                                                            TextFieldName="Name"
                                                            ValueFieldName="Id">
                                                </DxComboBox>
                                                <ValidationMessage For="@(()=> PostConcoction.DrugFormId)" />
                                            </DxFormLayoutItem>

                                            <DxFormLayoutItem Caption="Intruction" CaptionCssClass="normal-caption" ColSpanMd="6">
                                                <DxComboBox Data="@GetDrugDosages"
                                                            @bind-Value="@PostConcoction.DrugDosageId"
                                                            NullText="Select Intruction.."
                                                            TextFieldName="Frequency"
                                                            ValueFieldName="Id"
                                                            ShowValidationIcon="true"
                                                            ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
                                                            FilteringMode="@DataGridFilteringMode.Contains"></DxComboBox>
                                                <ValidationMessage For="@(()=> PostConcoction.DrugDosageId)"   />
                                            </DxFormLayoutItem>


                                            <DxFormLayoutItem Caption="Concoction Qty" CaptionCssClass="normal-caption" ColSpanMd="6">
                                                <DxSpinEdit Value="@PostConcoction.ConcoctionQty"
                                                            ValueExpression="@(()=>PostConcoction.ConcoctionQty)"
                                                            ValueChanged="@((long value) => ChangeTotalQtyInHeader(value))"
                                                            NullText="Total Qty..."
                                                            ReadOnly="@(PostPharmacy.Status != EnumStatusPharmacy.Draft)"
                                                            ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto" />
                                                <ValidationMessage For="@(()=> PostConcoction.ConcoctionQty)"   />
                                            </DxFormLayoutItem>
                                        </DxFormLayout>
                                    </div>
                                </div>
                                @if (PostConcoction.Id != 0)
                                {
                                    <div class="card">
                                        <div class="card-body">
                                            <DxFormLayout CssClass="w-100">
                                                <DxLoadingPanel @bind-Visible="PanelVisibleCl"
                                                                IndicatorAnimationType="WaitIndicatorAnimationType.Pulse"
                                                                IsContentBlocked="true"
                                                                ApplyBackgroundShading="true"
                                                                IndicatorAreaVisible="false"
                                                                Text="Fetching Data...">
                                                    <MyGridPaginate @ref="Grid"
                                                                    Data="GetConcoctionLine"
                                                                    @bind-SelectedDataItems="@SelectedDataItemsCl"
                                                                    EditModelSaving="OnSaveCl"
                                                                    DataItemDeleting="OnDelete"
                                                                    EditFormButtonsVisible="false"
                                                                    FocusedRowChanged="GridCl_FocusedRowChanged"
                                                                    KeyFieldName="Id">
                                                        <ToolbarTemplate>
                                                            <MyDxToolbarBase TItem="ConcoctionLineDto"
                                                                             Items="@GetConcoctionLine"
                                                                             Grid="Grid"
                                                                             SelectedDataItems="@SelectedDataItemsCl"
                                                                             NewItem_Click="@NewItemCl_Click"
                                                                             EditItem_Click="@(async () => await EditItemCl_Click())"
                                                                             DeleteItem_Click="@DeleteItemCl_Click"
                                                                             Refresh_Click="@Refresh_Click"
                                                                             IsImport="UserAccessCRUID.IsImport"
                                                                             EnableDelete="isActiveButton"
                                                                             VisibleNew="UserAccessCRUID.IsCreate"
                                                                             VisibleEdit="UserAccessCRUID.IsUpdate"
                                                                             VisibleDelete="UserAccessCRUID.IsDelete" />

                                                        </ToolbarTemplate>
                                                        <Columns>
                                                            <DxGridSelectionColumn Width="15px" />
                                                            @if (UserLogin.IsPharmacy == true)
                                                            {
                                                                <DxGridDataColumn FieldName="Id" AllowSort="false" Width="10px" MinWidth="100" TextAlignment="GridTextAlignment.Center">
                                                                    <CellDisplayTemplate>
                                                                        <DxButton RenderStyle="ButtonRenderStyle.Success"
                                                                                  Attributes="@(new Dictionary<string, object> {  ["title"] = "Select Batch" })"
                                                                                  IconCssClass="fa-solid fa-clipboard-list"
                                                                                  Enabled="@(UserLogin.IsPharmacy == true && (PostPharmacy.Status == EnumStatusPharmacy.Received||PostPharmacy.Status == EnumStatusPharmacy.Processed ||PostPharmacy.Status == EnumStatusPharmacy.Done))"
                                                                                  Click="@(()=>ShowCutStockLines((context.DataItem as ConcoctionLineDto).Id))"
                                                                                  CssClass="me-1" />
                                                                    </CellDisplayTemplate>
                                                                    <HeaderCaptionTemplate>Action</HeaderCaptionTemplate>
                                                                </DxGridDataColumn>
                                                            }
                                                            <DxGridDataColumn MinWidth="200" FieldName="Product.Name" Caption="Medicine Name" SortIndex="0" />
                                                            <DxGridDataColumn MinWidth="200" FieldName="AvaliableQty" Caption="Prescription Quantity" />
                                                            <DxGridDataColumn MinWidth="200" Visible="false" FieldName="ActiveComponentNames" Caption="Active Component" />
                                                            <DxGridDataColumn MinWidth="200" FieldName="TotalQty" Caption="Stock" />
                                                            <DxGridDataColumn MinWidth="200" FieldName="DosageAndFrequency" Caption="Dosage/Intruction" />
                                                            @* <DxGridDataColumn MinWidth="200" FieldName="PriceUnit" Caption="Price Unit" /> *@
                                                            @* <DxGridDataColumn MinWidth="200" FieldName="DrugRoute.Route" Caption="Route" /> *@

                                                        </Columns>
                                                        <EditFormTemplate Context="EditFormContextCl">
                                                            <DataAnnotationsValidator />
                                                            <AntiforgeryToken />
                                                            @{
                                                                PostConcoctionLine = (ConcoctionLineDto)EditFormContextCl.EditModel;
                                                            }
                                                            <div class="row w-100">
                                                                <div class="col-md-6">
                                                                    <DxFormLayout CssClass="mt w-100">
                                                                        <DxFormLayoutItem Caption="Medicine Name" CaptionCssClass="normal-caption" ColSpanMd="12">
                                                                            <DxComboBox ShowValidationIcon="true"
                                                                                        ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto" FilteringMode="@DataGridFilteringMode.Contains"
                                                                                        Data="@GetProducts"
                                                                                        NullText="Select Medicine Name..."
                                                                                        @bind-Value="@PostConcoctionLine.ProductId"
                                                                                        SelectedItemChanged="@((ProductDto product)=> ChangeProduct(product))"
                                                                                        TextFieldName="Name"
                                                                                        ValueFieldName="Id">
                                                                            </DxComboBox>
                                                                            <ValidationMessage For="@(()=> PostConcoctionLine.ProductId)" />
                                                                        </DxFormLayoutItem>

                                                                        <DxFormLayoutItem Caption="Active Component" CaptionCssClass="normal-caption" ColSpanMd="12">
                                                                            <DxTagBox Data="@ActiveComponents"
                                                                                      FilteringMode="@DataGridFilteringMode.Contains"
                                                                                      @bind-Values="@selectedActiveComponents"
                                                                                      NullText="Select Active Component.."
                                                                                      ReadOnly
                                                                                      ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
                                                                                      TextFieldName="Name" />
                                                                            <ValidationMessage For="@(()=> PostConcoctionLine.ActiveComponentId)" />
                                                                        </DxFormLayoutItem>

                                                                        <DxFormLayoutItem Caption="Unit of Dosage" CaptionCssClass="normal-caption" ColSpanMd="12">
                                                                            <DxComboBox ShowValidationIcon="true"
                                                                                        ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto" FilteringMode="@DataGridFilteringMode.Contains"
                                                                                        Data="@GetUom"
                                                                                        ReadOnly
                                                                                        NullText="Select UoM..."
                                                                                        @bind-Value="@PostConcoctionLine.UomId"
                                                                                        TextFieldName="Name"
                                                                                        ValueFieldName="Id">
                                                                            </DxComboBox>
                                                                            <ValidationMessage For="@(()=> PostConcoctionLine.UomId)" />
                                                                        </DxFormLayoutItem>

                                                                        <DxFormLayoutItem Caption="Current Stock" CaptionCssClass="normal-caption" ColSpanMd="12">
                                                                            <DxSpinEdit @bind-Value="@PostConcoctionLine.AvaliableQty"
                                                                                        NullText="Available Qty..."
                                                                                        ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
                                                                                        ReadOnly
                                                                                        BindValueMode="BindValueMode.OnInput" />
                                                                            <ValidationMessage For="@(()=> PostConcoctionLine.AvaliableQty)"   />
                                                                        </DxFormLayoutItem>
                                                                    </DxFormLayout>
                                                                </div>

                                                                <div class="col-md-6">
                                                                    <DxFormLayout CssClass="mt w-100">
                                                                        <DxFormLayoutItem Caption="Medicine Dosage" CaptionCssClass="normal-caption" ColSpanMd="12">
                                                                            <DxSpinEdit Value="@PostConcoctionLine.MedicamentDosage"
                                                                                        NullText="Medicine Unit Of Dosage..."
                                                                                        ValueExpression="@(()=>PostConcoctionLine.MedicamentDosage)"
                                                                                        ReadOnly
                                                                                        ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto" />
                                                                            <ValidationMessage For="@(()=> PostConcoctionLine.MedicamentDosage)"   />
                                                                        </DxFormLayoutItem>
                                                                        <DxFormLayoutItem Caption="Dosage" CaptionCssClass="normal-caption" ColSpanMd="12">
                                                                            <DxSpinEdit Value="@PostConcoctionLine.Dosage"
                                                                                        NullText="Input Dosage..."
                                                                                        ValueExpression="@(()=>PostConcoctionLine.Dosage)"
                                                                                        ValueChanged="@((long value)=>ChangeTotalQtyMedicament(value))"
                                                                                        ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto" />
                                                                            <ValidationMessage For="@(()=> PostConcoctionLine.Dosage)"   />
                                                                        </DxFormLayoutItem>

                                                                        <DxFormLayoutItem Caption="Total Qty" CaptionCssClass="normal-caption" ColSpanMd="12">
                                                                            <DxSpinEdit @bind-Value="@PostConcoctionLine.TotalQty"
                                                                                        NullText="Total Qty..."
                                                                                        ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
                                                                                        BindValueMode="BindValueMode.OnInput" />
                                                                            <ValidationMessage For="@(()=> PostConcoctionLine.TotalQty)"   />
                                                                        </DxFormLayoutItem>

                                                                    </DxFormLayout>
                                                                </div>
                                                            </div>
                                                        </EditFormTemplate>
                                                    </MyGridPaginate>
                                                </DxLoadingPanel>
                                            </DxFormLayout>
                                        </div>
                                    </div>


                                }
                            </DxLoadingPanel>
                        </EditForm>
                    </div>
                </div>
            </div>
        </div>
    </div>
}