@page "/pharmacy/prescriptions/"
@using McDermott.Application.Dtos.Pharmacies
@rendermode InteractiveServer

@if (!IsPopUpForm)
{
    <PageTitle>McHealthCare - Insurance Policy</PageTitle>
}

@if (IsAccess)
{
    <div class="wrapper">

        <BaseHeaderPage Title="Pharmacy" OnClickBack="@(async () => await LoadData())" ShowBackButton="true" />

        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col">

                        <div class="card">
                            <DxLoadingPanel @bind-Visible="PanelVisible"
                                            IndicatorAnimationType="WaitIndicatorAnimationType.Pulse"
                                            IsContentBlocked="true"
                                            ApplyBackgroundShading="true"
                                            IndicatorAreaVisible="false"
                                            Text="Fetching Data...">
                                <MyGridPaginate @ref="Grid"
                                                Data="getPharmacy"
                                                @bind-SelectedDataItems="@SelectedDataItems"
                                                DataItemDeleting="OnDelete"
                                                FocusedRowChanged="Grid_FocusedRowChanged"
                                                KeyFieldName="Id">
                                    <ToolbarTemplate>
                                        <MyDxToolbarBase TItem="PharmacyDto"
                                                         Items="@getPharmacy"
                                                         Grid="Grid"
                                                         SelectedDataItems="@SelectedDataItems"
                                                         EditItem_Click="@(async () => await EditItem_Click())"
                                                         DeleteItem_Click="@DeleteItem_Click"
                                                         Refresh_Click="@Refresh_Click"
                                                         IsImport="false"
                                                         VisibleNew="false"
                                                         VisibleEdit="UserAccessCRUID.IsUpdate"
                                                         VisibleDelete="UserAccessCRUID.IsDelete" />

                                    </ToolbarTemplate>

                                    <Columns>
                                        <DxGridSelectionColumn Width="15px" />
                                        <DxGridDataColumn MinWidth="200" FieldName="ReceiptDate" Caption="Receipt Date" DisplayFormat="dd MMMM yyyy" />
                                        <DxGridDataColumn MinWidth="200" FieldName="Patient.Name" Caption="Patient" />
                                        <DxGridDataColumn MinWidth="200" FieldName="Practitioner.Name" Caption="Prescribing Doctor" />
                                        <DxGridDataColumn MinWidth="200" FieldName="Status" Caption="Status">
                                            <CellDisplayTemplate>
                                                @GetIssueStatusIconHtml((context.DataItem as PharmacyDto).Status)
                                            </CellDisplayTemplate>
                                        </DxGridDataColumn>
                                    </Columns>
                                    <TotalSummary>
                                        <DxGridSummaryItem SummaryType="GridSummaryItemType.Count"
                                                           FieldName="ReceiptDate"
                                                           Visible="true" />
                                    </TotalSummary>
                                </MyGridPaginate>
                                <div class="row">
                                    <DxFormLayout>
                                        <div class="col-md-9">
                                            <DxFormLayoutItem>
                                                <DxPager PageCount="totalCount"
                                                         ActivePageIndexChanged="OnPageIndexChanged"
                                                         ActivePageIndex="activePageIndex"
                                                         VisibleNumericButtonCount="10"
                                                         SizeMode="SizeMode.Medium"
                                                         NavigationMode="PagerNavigationMode.Auto">
                                                </DxPager>
                                            </DxFormLayoutItem>
                                        </div>
                                        <div class="col-md-3 d-flex justify-content-end">
                                            <DxFormLayoutItem Caption="Page Size:">
                                                <MyDxComboBox Data="(new[] { 10, 25, 50, 100 })"
                                                              NullText="Select Page Size"
                                                              ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Never"
                                                              SelectedItemChanged="((int e ) => OnPageSizeIndexChanged(e))"
                                                              @bind-Value="pageSize">
                                                </MyDxComboBox>
                                            </DxFormLayoutItem>
                                        </div>
                                    </DxFormLayout>
                                </div>

                            </DxLoadingPanel>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </div>

}
else
{
    <div class="wrapper">
        <McDermott.Web.Components.Layout.BaseContentHeaderLayout Title="Prescription" />

        <LoadingIndicatorLayout></LoadingIndicatorLayout>
    </div>
}

