 @page "/clinic-service/maternities/{PageMode}"

@using DevExpress.Blazor.Reporting
@using McDermott.Web.Components.Layout
@using McDermott.Web.Components.LayoutComponents
@using McDermott.Web.Components.Popups
@rendermode InteractiveServer

<PageTitle>@Helper.APP_NAME - Maternities</PageTitle>

@if (IsAccess && UserAccessCRUID is not null && (UserAccessCRUID.IsCreate || UserAccessCRUID.IsUpdate))
{
    <div class="wrapper">

        <BaseHeaderPage Title="Maternities" OnClickBack="@(async () => NavigationManager.NavigateTo(FormUrl))" ShowBackButton="true" />

        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col">
                        <DxLoadingPanel @bind-Visible="IsLoading"
                                        IndicatorAnimationType="WaitIndicatorAnimationType.Pulse"
                                        IsContentBlocked="true"
                                        ApplyBackgroundShading="true"
                                        IndicatorAreaVisible="false"
                                        Text="Fetching Data...">
                            <EditForm Model="@GeneralConsultanService"
                                      @onkeypress="@KeyPressHandler"
                                      Context="EditFormContext22" Enhance
                                      OnValidSubmit="HandleValidSubmit"
                                      OnInvalidSubmit="@HandleInvalidSubmit">

                                <DataAnnotationsValidator />
                                <ValidationSummary />
                                <AntiforgeryToken />

                                <div class="row justify-content-end mb-3">
                                    <div class="col-auto align-self-end">
                                        <DxTabs>
                                            <DxTab Text="Planned" Enabled="@IsStatus(EnumStatusGeneralConsultantService.Planned)"></DxTab>
                                            <DxTab Text="Confirmed" Enabled="@IsStatus(EnumStatusGeneralConsultantService.Confirmed)"></DxTab>
                                            <DxTab Text="Midwife" Enabled="@IsStatus(EnumStatusGeneralConsultantService.Midwife)"></DxTab>
                                            <DxTab Text="Finished" Enabled="@IsStatus(EnumStatusGeneralConsultantService.Finished)"></DxTab>
                                            <DxTab Text="Canceled" Enabled="@IsStatus(EnumStatusGeneralConsultantService.Canceled)"></DxTab>
                                        </DxTabs>
                                    </div>
                                </div>

                                @if (GeneralConsultanService.Status != EnumStatusGeneralConsultantService.ProcedureRoom && GeneralConsultanService.Status != EnumStatusGeneralConsultantService.Finished && GeneralConsultanService.Status != EnumStatusGeneralConsultantService.Canceled)
                                {
                                    bool showButtons = (GeneralConsultanService.Status == EnumStatusGeneralConsultantService.ProcedureRoom || GeneralConsultanService.Status == EnumStatusGeneralConsultantService.Physician)
                                    ? (GeneralConsultanMedicalSupport.Status == EnumStatusGeneralConsultantServiceProcedureRoom.Finish || GeneralConsultanMedicalSupport.Id == 0)
                                    : true;

                                    if (showButtons)
                                    {
                                        <div class="card sticky">
                                            <div class="card-body">
                                                <div class=" row w-100">
                                                    <div class="col-auto pe-0 ">
                                                        <DxButton Enabled="!IsLoading"
                                                                  IconCssClass="fa-solid fa-check"
                                                                  Text="@StagingText.GetDisplayName()"
                                                                  Click="(async () => await OnClickConfirm(false,false))"
                                                                  Visible="@(!(GeneralConsultanService.Status == EnumStatusGeneralConsultantService.Waiting && Convert.ToBoolean(UserLogin.IsNurse)))"
                                                                  RenderStyle="ButtonRenderStyle.Primary">
                                                        </DxButton>
                                                        <DxButton Visible="@(GeneralConsultanService.Id > 0)"
                                                                  Enabled="!IsLoading"
                                                                  IconCssClass="fa-solid fa-xmark"
                                                                  Text="Cancel"
                                                                  Click="OnCancelStatus"
                                                                  RenderStyle="ButtonRenderStyle.Danger">
                                                        </DxButton>
                                                    </div>
                                                    @if (GeneralConsultanService.Id > 0)
                                                    {
                                                        <div class="col-sm-4 ">
                                                            <DxToolbar ItemRenderStyleMode="ToolbarRenderStyleMode.Contained">
                                                                <DxToolbarItem Text="Print" BeginGroup="true" RenderStyle="ButtonRenderStyle.Success" CssClass="rounded-button" IconCssClass="fa-solid fa-print">
                                                                    <Items>
                                                                        <DxToolbarItem IconCssClass="fa-solid fa-file-arrow-down" Text="SLIP" GroupName="italic" Click="OnPrint" />
                                                                        <DxToolbarItem IconCssClass="fa-solid fa-file-arrow-down" Text="Rujukan BPJS" GroupName="italic" Click="OnPrintRujukanBPJS" />
                                                                        <DxToolbarItem IconCssClass="fa-solid fa-file-arrow-down" Text="Rujukan BPJS + PRB" GroupName="italic" Click="OnPrintRujukanBPJSPRB" />
                                                                        @if (GeneralConsultanService.IsSickLeave == true || GeneralConsultanService.IsMaternityLeave == true)
                                                                        {
                                                                            <DxToolbarItem IconCssClass="fa-solid fa-file-arrow-down" Text="SickLeave" Click="(()=>SendToPrint(GeneralConsultanService.Id))" />
                                                                        }
                                                                    </Items>
                                                                </DxToolbarItem>

                                                            </DxToolbar>
                                                        </div>
                                                    }

                                                    @if (!GeneralConsultanService.Status.Equals(EnumStatusGeneralConsultantService.Waiting) && !GeneralConsultanService.Status.Equals(EnumStatusGeneralConsultantService.Confirmed) && !GeneralConsultanService.Status.Equals(EnumStatusGeneralConsultantService.Finished) && !GeneralConsultanService.StatusName.Equals("Canceled"))
                                                    {
                                                        <div class="col-sm align-self-end">
                                                            <div class="row justify-content-end">
                                                                <div class="col-auto">
                                                                    <DxButton Enabled="!IsLoading" RenderStyle="ButtonRenderStyle.Primary" RenderStyleMode="@ButtonRenderStyleMode.Contained" IconCssClass="fa-solid fa-floppy-disk" Text="Save" SubmitFormOnClick="true"></DxButton>
                                                                    <DxButton RenderStyle="ButtonRenderStyle.Danger" RenderStyleMode="@ButtonRenderStyleMode.Contained" IconCssClass="fa-solid fa-xmark" Text="Close" Click="OnCancelBack"></DxButton>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    }
                                                </div>
                                            </div>
                                        </div>


                                    }
                                }

                                <div class="card">
                                    <div class="card-body">
                                        <div class="w-100">
                                            <DxToolbar Title="Actions" ItemRenderStyleMode="ToolbarRenderStyleMode.Contained" AdaptivityMinRootItemCount="2" AdaptivityAutoHideRootItems="true" AdaptivityAutoCollapseItemsToIcons="true">
                                                <Items>
                                                    <DxToolbarItem Visible="@(GeneralConsultanService.Status == EnumStatusGeneralConsultantService.Midwife)"
                                                                   Alignment="ToolbarItemAlignment.Left"
                                                                   BeginGroup="true"
                                                                   IconCssClass="fa-solid fa-notes-medical"
                                                                   Click="OnReferToClick"
                                                                   Text="Refer To" />

                                                    <DxToolbarItem Alignment="ToolbarItemAlignment.Left" BeginGroup="true"
                                                                   IconCssClass="fa-solid fa-notes-medical"
                                                                   Click="OnAppoimentPopUpClick"
                                                                   Text="Follow Up" />

                                                    <DxToolbarItem Alignment="ToolbarItemAlignment.Left" BeginGroup="true"
                                                                   IconCssClass="fa-solid fa-notes-medical"
                                                                   Click="OnClickPopUpHistoricalMedical"
                                                                   Text="Historical Medical Record Patient" />

                                                    <DxToolbarItem Alignment="ToolbarItemAlignment.Left" BeginGroup="true"
                                                                   IconCssClass="fa-solid fa-notes-medical"
                                                                   Click="OnClickPopUpAppoimentPending"
                                                                   Text="Appointment pending in patient alert" />

                                                    @if (GeneralConsultanService.Status == EnumStatusGeneralConsultantService.Midwife)
                                                    {
                                                        <DxToolbarItem Alignment="ToolbarItemAlignment.Left" BeginGroup="true"
                                                                       IconCssClass="fa-solid fa-notes-medical"
                                                                       Click="OnClickReferralPrescriptionConcoction"
                                                                       Text="Referral Prescription & Concoction" />

                                                    }

                                                    <DxToolbarItem Alignment="ToolbarItemAlignment.Left" BeginGroup="true"
                                                                   IconCssClass="fa-solid fa-file-circle-check"
                                                                   Click="OnPrintDocumentMedical"
                                                                   Text="Print Out Document Medical" />
                                                </Items>
                                            </DxToolbar>
                                        </div>
                                    </div>
                                </div>

                                @* General Information Services *@
                                <_BaseGeneralConsultationServiceInformationLayoutComponent GeneralConsultanService="GeneralConsultanService"
                                                                                           Patients="Patients"
                                                                                           OnInputPatient="OnInputPatient"
                                                                                           OnSelectedPatientChanged="SelectedItemChanged"
                                                                                           UserForm="UserForm"
                                                                                           Services="Services"
                                                                                           SelectedItemChangedService="SelectedItemChanged"
                                                                                           OnInputService="OnInputService"
                                                                                           Physicions="Physicions"
                                                                                           OnInputPhysicion="OnInputPhysicion"
                                                                                           SelectedItemChangedPhysicion="SelectedItemChangedPhysicion"
                                                                                           SelectedItemPayment="SelectedItemPaymentChanged"
                                                                                           InsurancePolicies="InsurancePolicies"
                                                                                           OnInputInsurancePolicy="OnInputInsurancePolicy"
                                                                                           SelectedItemChangedInsurancePolicy="SelectedItemChanged"
                                                                                           ReadOnlyForm="ReadOnlyForm"
                                                                                           SelectedDateMaternityChanged="SelectedDateMaternityChanged"
                                                                                           IsMaternity="true">
                                </_BaseGeneralConsultationServiceInformationLayoutComponent>

                                @* History Medical *@
                                <div class="w-100">
                                    <div class="card">
                                        <div class="card-header">
                                            <span class="fw-bolder">History</span>
                                        </div>

                                        <div class="card-body">
                                            <div class="w-100">
                                                <div class="card">
                                                    <div class="card-header">
                                                        <span class="fw-bolder">Allergy Data</span>
                                                    </div>

                                                    <div class="card-body">
                                                        <DxFormLayout CssClass="w-100">
                                                            <DxFormLayoutItem CaptionCssClass="normal-caption" Caption="Weather" ColSpanMd="12">
                                                                <div class="row w-100">
                                                                    <div class="col-md-1">
                                                                        <DxCheckBox @bind-Checked="@UserForm.IsWeatherPatientAllergyIds"
                                                                                    ReadOnly="ReadOnlyForm()" />
                                                                    </div>
                                                                    <div class="col-md-11">
                                                                        @if (UserForm.IsWeatherPatientAllergyIds)
                                                                        {
                                                                            <DxTagBox Data="@WeatherAllergies"
                                                                                      NullText="Select Allergy"
                                                                                      @bind-Values="@SelectedWeatherAllergies"
                                                                                      ReadOnly="ReadOnlyForm()"
                                                                                      EditFormat="{0}"
                                                                                      InputId="tbMultiColumn">
                                                                                <DxListEditorColumn FieldName="@nameof(AllergyDto.NmAllergy)"
                                                                                                    Caption="Name" />
                                                                                <DxListEditorColumn FieldName="@nameof(AllergyDto.KdAllergy)"
                                                                                                    Caption="Code"
                                                                                                    Width="100px" />
                                                                                <DxListEditorColumn FieldName="@nameof(AllergyDto.TypeString)"
                                                                                                    Caption="Type" />
                                                                            </DxTagBox>
                                                                        }
                                                                    </div>
                                                                </div>
                                                            </DxFormLayoutItem>

                                                            <DxFormLayoutItem CaptionCssClass="normal-caption" Caption="Pharmacology" ColSpanMd="12">
                                                                <div class="row w-100">
                                                                    <div class="col-md-1">
                                                                        <DxCheckBox @bind-Checked="@UserForm.IsPharmacologyPatientAllergyIds"
                                                                                    ReadOnly="ReadOnlyForm()" />
                                                                    </div>
                                                                    <div class="col">
                                                                        @if (UserForm.IsPharmacologyPatientAllergyIds)
                                                                        {
                                                                            <DxTagBox Data="@PharmacologyAllergies"
                                                                                      NullText="Select Allergy"
                                                                                      @bind-Values="@SelectedPharmacologyAllergies"
                                                                                      ReadOnly="ReadOnlyForm()"
                                                                                      EditFormat="{0}"
                                                                                      InputId="tbMultiColumn">
                                                                                <DxListEditorColumn FieldName="@nameof(AllergyDto.NmAllergy)"
                                                                                                    Caption="Name" />
                                                                                <DxListEditorColumn FieldName="@nameof(AllergyDto.KdAllergy)"
                                                                                                    Caption="Code"
                                                                                                    Width="100px" />
                                                                                <DxListEditorColumn FieldName="@nameof(AllergyDto.TypeString)"
                                                                                                    Caption="Type" />
                                                                            </DxTagBox>
                                                                        }
                                                                    </div>
                                                                </div>
                                                            </DxFormLayoutItem>

                                                            <DxFormLayoutItem CaptionCssClass="normal-caption" Caption="Food" ColSpanMd="12">
                                                                <div class="row w-100">
                                                                    <div class="col-md-1">
                                                                        <DxCheckBox @bind-Checked="@UserForm.IsFoodPatientAllergyIds"
                                                                                    ReadOnly="ReadOnlyForm()" />
                                                                    </div>
                                                                    <div class="col-md-11">
                                                                        @if (UserForm.IsFoodPatientAllergyIds)
                                                                        {
                                                                            <DxTagBox Data="@FoodAllergies"
                                                                                      NullText="Select Allergy"
                                                                                      ReadOnly="ReadOnlyForm()"
                                                                                      @bind-Values="@SelectedFoodAllergies"
                                                                                      EditFormat="{0}"
                                                                                      InputId="tbMultiColumn">
                                                                                <DxListEditorColumn FieldName="@nameof(AllergyDto.NmAllergy)"
                                                                                                    Caption="Name" />
                                                                                <DxListEditorColumn FieldName="@nameof(AllergyDto.KdAllergy)"
                                                                                                    Caption="Code"
                                                                                                    Width="100px" />
                                                                                <DxListEditorColumn FieldName="@nameof(AllergyDto.TypeString)"
                                                                                                    Caption="Type" />
                                                                            </DxTagBox>
                                                                        }
                                                                    </div>
                                                                </div>
                                                            </DxFormLayoutItem>

                                                        </DxFormLayout>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="w-100 mt-2">
                                                <div class="row w-100">
                                                    <div class="col-md-6">
                                                        <DxFormLayout CssClass="w-100">
                                                            <DxFormLayoutItem Caption="Family Medical History" CaptionCssClass="normal-caption" ColSpanMd="12">
                                                                <Template>
                                                                    <DxGridLayout ColumnSpacing="8px">
                                                                        <Rows>
                                                                            <DxGridLayoutRow />
                                                                        </Rows>
                                                                        <Columns>
                                                                            <DxGridLayoutColumn />
                                                                            <DxGridLayoutColumn />
                                                                        </Columns>
                                                                        <Items>
                                                                            <DxGridLayoutItem Row="0" Column="0" CssClass="normal-caption" ColumnSpan="1">
                                                                                <Template>
                                                                                    <MyDxComboBox Data="@Helper.YesNoOptions"
                                                                                                  NullText="Yes/No"
                                                                                                  ReadOnly="ReadOnlyForm()"
                                                                                                  @bind-Value="@UserForm.IsFamilyMedicalHistory">
                                                                                    </MyDxComboBox>
                                                                                </Template>
                                                                            </DxGridLayoutItem>
                                                                            <DxGridLayoutItem Row="0" Visible="@(UserForm.IsFamilyMedicalHistory == "Yes")" Column="1" CssClass=" normal-caption " ColumnSpan="12">
                                                                                <Template>
                                                                                    <MyDxComboBox Data="@Helper.RiwayatPenyakitKeluarga"
                                                                                                  NullText="Select Family Medical History..."
                                                                                                  ReadOnly="ReadOnlyForm()"
                                                                                                  @bind-Value="@UserForm.FamilyMedicalHistory">
                                                                                    </MyDxComboBox>
                                                                                </Template>
                                                                            </DxGridLayoutItem>
                                                                        </Items>
                                                                    </DxGridLayout>
                                                                </Template>
                                                            </DxFormLayoutItem>

                                                            <DxFormLayoutItem Caption=" " Visible="@(UserForm.FamilyMedicalHistory is not null && UserForm.FamilyMedicalHistory.Equals("Other"))" CaptionCssClass="normal-caption" ColSpanMd="12">
                                                                <MyTextBox @bind-Text="@UserForm.FamilyMedicalHistoryOther"
                                                                           ReadOnly="ReadOnlyForm()"
                                                                           NullText="Family MedicalHistory Other" />
                                                            </DxFormLayoutItem>


                                                            <DxFormLayoutItem Caption="Medication History" CaptionCssClass="normal-caption" ColSpanMd="12">
                                                                <Template>
                                                                    <DxGridLayout ColumnSpacing="8px">
                                                                        <Rows>
                                                                            <DxGridLayoutRow />
                                                                        </Rows>
                                                                        <Columns>
                                                                            <DxGridLayoutColumn />
                                                                            <DxGridLayoutColumn />
                                                                        </Columns>
                                                                        <Items>
                                                                            <DxGridLayoutItem Row="0" Column="0" CssClass="normal-caption" ColumnSpan="1">
                                                                                <Template>
                                                                                    <MyDxComboBox Data="@Helper.YesNoOptions"
                                                                                                  ReadOnly="ReadOnlyForm()"
                                                                                                  NullText="Yes/No"
                                                                                                  @bind-Value="@UserForm.IsMedicationHistory">
                                                                                    </MyDxComboBox>
                                                                                </Template>
                                                                            </DxGridLayoutItem>
                                                                            <DxGridLayoutItem Visible="@(UserForm.IsMedicationHistory == "Yes")" Row="0" Column="1" CssClass=" normal-caption " ColumnSpan="12">
                                                                                <Template>
                                                                                    <MyTextBox @bind-Text="@UserForm.MedicationHistory"
                                                                                               ReadOnly="ReadOnlyForm()"
                                                                                               NullText="Medication History" />
                                                                                </Template>
                                                                            </DxGridLayoutItem>
                                                                        </Items>
                                                                    </DxGridLayout>
                                                                </Template>
                                                            </DxFormLayoutItem>

                                                            <DxFormLayoutItem Caption="Past Medical History" CaptionCssClass="normal-caption" ColSpanMd="12">
                                                                <MyTextBox @bind-Text="@UserForm.PastMedicalHistory"
                                                                           ReadOnly="ReadOnlyForm()"
                                                                           NullText="Past Medical History" />
                                                            </DxFormLayoutItem>

                                                        </DxFormLayout>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                @* IsStatus(EnumStatusGeneralConsultantService.Planned) || IsStatus(EnumStatusGeneralConsultantService.NurseStation) || IsStatus(EnumStatusGeneralConsultantService.Waiting) || IsStatus(EnumStatusGeneralConsultantService.Physician) || IsStatus(EnumStatusGeneralConsultantService.Finished) || IsStatus(EnumStatusGeneralConsultantService.Canceled) *@
                                @* Clinical Assesment *@
                                @if (!(IsStatus(EnumStatusGeneralConsultantService.Planned) || IsStatus(EnumStatusGeneralConsultantService.Confirmed)))
                                {
                                    <div class="w-100">
                                        <div class="card">
                                            <div class="card-body">
                                                <DxTabs>
                                                    @* Clinical Assesment *@
                                                    <_BaseGeneralConsultationServiceClinicalAssesmentLayoutComponent ReadOnlyForm="ReadOnlyForm"
                                                                                                                     GeneralConsultanService="GeneralConsultanService" />

                                                    @* CPPT *@
                                                    <_BaseGeneralConsultationServiceCPPTsLayoutComponent GeneralConsultanService="GeneralConsultanService"
                                                                                                         UserLogin="UserLogin" />

                                                    @* BPJS Integration *@
                                                    <_BaseGeneralConsultationServiceBPJSIntegrationLayoutComponent GeneralConsultanService="GeneralConsultanService"
                                                                                                                   Awareness="Awareness"
                                                                                                                   InsurancePolicies="InsurancePolicies"
                                                                                                                   Physicions="Physicions"
                                                                                                                   SelectedFoodAllergies="SelectedFoodAllergies"
                                                                                                                   SelectedPharmacologyAllergies="SelectedPharmacologyAllergies"
                                                                                                                   SelectedWeatherAllergies="SelectedWeatherAllergies"
                                                                                                                   Services="Services" />

                                                    <DxTabPage Text="ANC" Click="@(async () => await OnSearchReference())">
                                                        <div class="w-100 mt-2">
                                                            <div class="card">
                                                                <div class="card-header">
                                                                    <div class="row justify-content-between">
                                                                        <div class="col">
                                                                            <span class="fw-bolder">ANC</span>
                                                                        </div>
                                                                        @if (GeneralConsultanServiceAnc.Id != 0 && GeneralConsultanServiceAnc.Status == EnumStatusGeneralConsultanServiceAnc.Closed)
                                                                        {
                                                                            <div class="col-sm text-end align-self-center">
                                                                                <span class="badge text-bg-danger" style="font-size: 0.9rem">Closed</span>
                                                                            </div>
                                                                        }
                                                                    </div>
                                                                </div>


                                                                <EditForm Model="@GeneralConsultanServiceAnc"
                                                                          @onkeypress="@KeyPressHandler"
                                                                          Context="EditFormContext223"
                                                                          Enhance
                                                                          OnValidSubmit="HandleValidSubmitAnc"
                                                                          OnInvalidSubmit="@HandleInvalidSubmit">

                                                                    <DataAnnotationsValidator />
                                                                    <AntiforgeryToken />

                                                                    <DxFormLayout CssClass="w-100">
                                                                        <DxFormLayoutItem CaptionCssClass="normal-caption" Caption="Reference" ColSpanMd="12">
                                                                            <MyDxComboBox Data="@GeneralConsultanServiceAncReferences"
                                                                                          NullText="Select Reference"
                                                                                          @ref="refReferenceComboBox"
                                                                                          @bind-Value="@GeneralConsultanServiceAnc.Reference"
                                                                                          TextFieldName="Reference"
                                                                                          ValueFieldName="Reference"
                                                                                          TextChanged="((string e) => OnInputReferenceChanged(e))"
                                                                                          SelectedItemChanged="((GeneralConsultanServiceAncDto e) => OnSelectedReferenceChanged(e))">
                                                                                <Buttons>
                                                                                    <DxEditorButton Click="OnSearchReferenceIndexDecrement"
                                                                                                    Visible="!ReadOnlyForm() && IsStatus(EnumStatusGeneralConsultantService.Planned)"
                                                                                                    IconCssClass="fa-solid fa-caret-left"
                                                                                                    Tooltip="Previous Index" />
                                                                                    <DxEditorButton Click="OnSearchReference"
                                                                                                    IconCssClass="fa-solid fa-magnifying-glass"
                                                                                                    Visible="!ReadOnlyForm() && IsStatus(EnumStatusGeneralConsultantService.Planned)"
                                                                                                    Tooltip="Search" />
                                                                                    <DxEditorButton Click="OnSearchReferenceIndexIncrement"
                                                                                                    Visible="!ReadOnlyForm() && IsStatus(EnumStatusGeneralConsultantService.Planned)"
                                                                                                    IconCssClass="fa-solid fa-caret-right"
                                                                                                    Tooltip="Next Index" />
                                                                                </Buttons>
                                                                            </MyDxComboBox>
                                                                            <ValidationMessage For="@(()=>GeneralConsultanServiceAnc.Reference)" />
                                                                        </DxFormLayoutItem>

                                                                        <DxFormLayoutItem Context="abc" Caption="Pregnancy Status" CaptionCssClass="normal-caption" ColSpanMd="6">
                                                                            <DxFormLayoutItem Caption="G" CaptionCssClass="normal-caption" ColSpanMd="12">
                                                                                <DxSpinEdit MinValue="0" @bind-Value="@GeneralConsultanServiceAnc.PregnancyStatusG"
                                                                                            ReadOnly="ReadOnlyForm() || GeneralConsultanServiceAnc.Status == EnumStatusGeneralConsultanServiceAnc.Closed"
                                                                                            NullText="G" />
                                                                            </DxFormLayoutItem>
                                                                            <ValidationMessage For="@(()=>GeneralConsultanServiceAnc.PregnancyStatusG)" />

                                                                            <DxFormLayoutItem Caption="P" CaptionCssClass="normal-caption" ColSpanMd="12">
                                                                                <DxSpinEdit MinValue="0" @bind-Value="@GeneralConsultanServiceAnc.PregnancyStatusP"
                                                                                            ReadOnly="ReadOnlyForm() || GeneralConsultanServiceAnc.Status == EnumStatusGeneralConsultanServiceAnc.Closed"
                                                                                            NullText="P" />
                                                                                <ValidationMessage For="@(()=>GeneralConsultanServiceAnc.PregnancyStatusP)" />
                                                                            </DxFormLayoutItem>

                                                                            <DxFormLayoutItem Caption="A" CaptionCssClass="normal-caption" ColSpanMd="12">
                                                                                <DxSpinEdit MinValue="0" @bind-Value="@GeneralConsultanServiceAnc.PregnancyStatusA"
                                                                                            ReadOnly="ReadOnlyForm() || GeneralConsultanServiceAnc.Status == EnumStatusGeneralConsultanServiceAnc.Closed"
                                                                                            NullText="A" />
                                                                                <ValidationMessage For="@(()=>GeneralConsultanServiceAnc.PregnancyStatusA)" />
                                                                            </DxFormLayoutItem>

                                                                            <DxFormLayoutItem Caption="H" CaptionCssClass="normal-caption" ColSpanMd="12">
                                                                                <DxSpinEdit MinValue="0" @bind-Value="@GeneralConsultanServiceAnc.PregnancyStatusH"
                                                                                            ReadOnly="ReadOnlyForm() || GeneralConsultanServiceAnc.Status == EnumStatusGeneralConsultanServiceAnc.Closed"
                                                                                            NullText="H" />
                                                                                <ValidationMessage For="@(()=>GeneralConsultanServiceAnc.PregnancyStatusH)" />
                                                                            </DxFormLayoutItem>


                                                                        </DxFormLayoutItem>

                                                                        <DxFormLayoutItem Context="abcd" CaptionCssClass="normal-caption" ColSpanMd="6">
                                                                            <DxFormLayout>
                                                                                <DxFormLayoutItem Caption="SC History" CaptionCssClass="normal-caption" ColSpanMd="12">
                                                                                    <MyTextBox @bind-Text="@GeneralConsultanServiceAnc.HistorySC"
                                                                                               ReadOnly="ReadOnlyForm() || GeneralConsultanServiceAnc.Status == EnumStatusGeneralConsultanServiceAnc.Closed"
                                                                                               NullText="SC History" />
                                                                                    <ValidationMessage For="@(()=>GeneralConsultanServiceAnc.HistorySC)" />
                                                                                </DxFormLayoutItem>

                                                                                <DxFormLayoutItem CaptionCssClass="required-caption normal-caption" Caption="HPHT" ColSpanMd="12">
                                                                                    <DxDateEdit ReadOnly="ReadOnlyForm() || GeneralConsultanServiceAnc.Status == EnumStatusGeneralConsultanServiceAnc.Closed"
                                                                                                Date="@GeneralConsultanServiceAnc.HPHT"
                                                                                                DisplayFormat="@Helper.DefaultFormatDate"
                                                                                                DateExpression="@(() => GeneralConsultanServiceAnc.HPHT)"
                                                                                                NullText="Select HPHT"
                                                                                                ShowValidationIcon="true"
                                                                                                DateChanged="((DateTime? e) => DateChangedHPHT(e))">
                                                                                    </DxDateEdit>
                                                                                    <ValidationMessage For="@(() => GeneralConsultanServiceAnc.HPHT)" />
                                                                                </DxFormLayoutItem>

                                                                                <DxFormLayoutItem CaptionCssClass="required-caption normal-caption" Caption="HPL" ColSpanMd="12">
                                                                                    <DxDateEdit ReadOnly="true"
                                                                                                @bind-Date="@GeneralConsultanServiceAnc.HPL"
                                                                                                ShowValidationIcon="true"
                                                                                                DisplayFormat="@Helper.DefaultFormatDate"
                                                                                                NullText="Select HPL">
                                                                                    </DxDateEdit>
                                                                                    <ValidationMessage For="@(() => GeneralConsultanServiceAnc.HPL)" />
                                                                                </DxFormLayoutItem>

                                                                                <DxFormLayoutItem CaptionCssClass="required-caption normal-caption" Caption="Gestational Age (UK)" ColSpanMd="12">
                                                                                    <DxSpinEdit ReadOnly="true"
                                                                                                @bind-Value="@GeneralConsultanServiceAnc.UK"
                                                                                                NullText="Gestational Age"
                                                                                                InputCssClass="fw-normal">
                                                                                        <Buttons>
                                                                                            <DxEditorButton Tooltip="Week"
                                                                                                            Text="Week" />
                                                                                        </Buttons>
                                                                                    </DxSpinEdit>
                                                                                </DxFormLayoutItem>
                                                                            </DxFormLayout>
                                                                        </DxFormLayoutItem>

                                                                        <DxFormLayoutItem Caption="Notes" CaptionCssClass="normal-caption" ColSpanMd="12" Visible="@(GeneralConsultanServiceAnc.Status == EnumStatusGeneralConsultanServiceAnc.Closed)">
                                                                            <MyTextBox @bind-Text="@GeneralConsultanServiceAnc.Notes"
                                                                                       ReadOnly="true"
                                                                                       NullText="Notes" />
                                                                            <ValidationMessage For="@(()=>GeneralConsultanServiceAnc.Notes)" />
                                                                        </DxFormLayoutItem>

                                                                        @if (GeneralConsultanService.Status == EnumStatusGeneralConsultantService.Midwife && GeneralConsultanServiceAnc.Status == EnumStatusGeneralConsultanServiceAnc.Open)
                                                                        {
                                                                            <div class="mt-3 row w-100">
                                                                                <div class="col-sm align-self-end">
                                                                                    <div class="row justify-content-end">
                                                                                        <div class="col-auto">
                                                                                            <DxButton Enabled="!IsLoading" RenderStyle="ButtonRenderStyle.Primary" RenderStyleMode="@ButtonRenderStyleMode.Contained" IconCssClass="fa-solid fa-floppy-disk" Text="Save" SubmitFormOnClick="true"></DxButton>
                                                                                            <DxButton RenderStyle="ButtonRenderStyle.Danger" RenderStyleMode="@ButtonRenderStyleMode.Contained" IconCssClass="fa-solid fa-xmark" Text="Clear"></DxButton>
                                                                                            <DxButton RenderStyle="ButtonRenderStyle.Success"
                                                                                                      Visible="@(GeneralConsultanServiceAnc.Status == EnumStatusGeneralConsultanServiceAnc.Open && GeneralConsultanServiceAnc.Id != 0)"
                                                                                                      RenderStyleMode="@ButtonRenderStyleMode.Contained"
                                                                                                      IconCssClass="fa-solid fa-times-circle"
                                                                                                      Text="Close ANC"
                                                                                                      Click="ShowClosePopup">
                                                                                            </DxButton>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        }
                                                                    </DxFormLayout>
                                                                </EditForm>

                                                                <DxFormLayout CssClass="w-100">
                                                                    <DxFormLayout CssClass="w-100 mt-3">
                                                                        <DxLoadingPanel @bind-Visible="PanelVisible"
                                                                                        IndicatorAnimationType="WaitIndicatorAnimationType.Pulse"
                                                                                        IsContentBlocked="true"
                                                                                        ApplyBackgroundShading="true"
                                                                                        IndicatorAreaVisible="false"
                                                                                        Text="Fetching Data...">
                                                                            <MyGridPaginate @ref="GridAnc"
                                                                                            Data="GeneralConsultanServiceAncDetails"
                                                                                            @bind-SelectedDataItems="@SelectedDataItemsAnc"
                                                                                            EditModelSaving="OnSaveAnc"
                                                                                            DataItemDeleting="OnDeleteAnc"
                                                                                            FocusedRowChanged="GridTabAnc_FocusedRowChanged"
                                                                                            SearchTextChanged="OnSearchBoxChangedGridAnc"
                                                                                            KeyFieldName="Id">

                                                                                <Columns>
                                                                                    <DxGridDataColumn FieldName="Date" Caption="Date" DisplayFormat="@Helper.DefaultFormatDateTime" />
                                                                                    <DxGridDataColumn FieldName="Trimester" Caption="Trimester" GroupIndex="0" />
                                                                                    <DxGridDataColumn FieldName="Complaint" Caption="Complaint" />
                                                                                    <DxGridDataColumn FieldName="KU" Caption="KU" />
                                                                                    <DxGridDataColumn FieldName="TD" Caption="TD" />
                                                                                    <DxGridDataColumn FieldName="BB" Caption="BB" />
                                                                                    <DxGridDataColumn FieldName="TFU" Caption="TFU" />
                                                                                    <DxGridDataColumn FieldName="FetusPosition" Caption="Fetus Position" />
                                                                                    <DxGridDataColumn FieldName="DJJ" Caption="DJJ" />
                                                                                    <DxGridDataColumn FieldName="TT" Caption="TT" />
                                                                                </Columns>


                                                                                <ToolbarTemplate>
                                                                                    <MyDxToolbarBase TItem="GeneralConsultanServiceAncDetailDto"
                                                                                                     Items="@GeneralConsultanServiceAncDetails"
                                                                                                     SelectedDataItems="@SelectedDataItemsAnc"
                                                                                                     NewItem_Click="@NewItemAnc_Click"
                                                                                                     EditItem_Click="@EditItemAnc_Click"
                                                                                                     DeleteItem_Click="@DeleteItemAnc_Click"
                                                                                                     Refresh_Click="@RefreshAnc_Click"
                                                                                                     Grid="GridAnc"
                                                                                                     IsImport="false"
                                                                                                     VisibleNew="(IsStatus(EnumStatusGeneralConsultantService.Midwife)) && !string.IsNullOrWhiteSpace(GeneralConsultanServiceAnc.Reference)  && GeneralConsultanServiceAnc.Status == EnumStatusGeneralConsultanServiceAnc.Open"
                                                                                                     VisibleEdit="(IsStatus(EnumStatusGeneralConsultantService.Midwife)) && !IsReadOnlyAncField  && !string.IsNullOrWhiteSpace(GeneralConsultanServiceAnc.Reference) && GeneralConsultanServiceAnc.Status == EnumStatusGeneralConsultanServiceAnc.Open"
                                                                                                     VisibleDelete="(IsStatus(EnumStatusGeneralConsultantService.Midwife)) && !IsReadOnlyAncField  && !string.IsNullOrWhiteSpace(GeneralConsultanServiceAnc.Reference) && GeneralConsultanServiceAnc.Status == EnumStatusGeneralConsultanServiceAnc.Open" />
                                                                                </ToolbarTemplate>

                                                                                <EditFormTemplate Context="EditFormContext">
                                                                                    @{
                                                                                        // var a = (GeneralConsultanServiceAncDetailDto)EditFormContext.EditModel;
                                                                                    }
                                                                                    <DxFormLayout CssClass="w-100">
                                                                                        <DxFormLayoutItem CaptionCssClass=" normal-caption" Caption="Trimester" ColSpanMd="12">
                                                                                            <MyDxComboBox Data="@Trimester"
                                                                                                          NullText="Select Trimester"
                                                                                                          @bind-Value="@GeneralConsultanServiceAncDetail.Trimester">
                                                                                            </MyDxComboBox>
                                                                                            <ValidationMessage For="@(()=>SelectedReference)" />
                                                                                        </DxFormLayoutItem>

                                                                                        <DxFormLayoutItem CaptionCssClass=" normal-caption" Caption="Complaint" ColSpanMd="12">
                                                                                            <MyTextBox @bind-Text="@GeneralConsultanServiceAncDetail.Complaint" NullText="Complaint" />
                                                                                        </DxFormLayoutItem>

                                                                                        <DxFormLayoutItem CaptionCssClass=" normal-caption" Caption="General Condition (KU)" ColSpanMd="12">
                                                                                            <DxSpinEdit MinValue="0" @bind-Value="@GeneralConsultanServiceAncDetail.KU" NullText="General Condition (KU)" InputCssClass="fw-normal" />
                                                                                        </DxFormLayoutItem>

                                                                                        <DxFormLayoutItem CaptionCssClass=" normal-caption" Caption="Blood Pressure (TD)" ColSpanMd="6">
                                                                                            <DxSpinEdit MinValue="0" @bind-Value="@GeneralConsultanServiceAncDetail.TD" NullText="0" InputCssClass="fw-normal" />
                                                                                        </DxFormLayoutItem>

                                                                                        <DxFormLayoutItem CaptionCssClass=" normal-caption" Caption="/" ColSpanMd="6">
                                                                                            <DxSpinEdit MinValue="0" @bind-Value="@GeneralConsultanServiceAncDetail.TD2" NullText="0" InputCssClass="fw-normal" />
                                                                                        </DxFormLayoutItem>

                                                                                        <DxFormLayoutItem CaptionCssClass=" normal-caption" Caption="Temperature (Suhu)" ColSpanMd="12">
                                                                                            <DxSpinEdit MinValue="0" @bind-Value="@GeneralConsultanServiceAncDetail.Suhu" NullText="Temperature" InputCssClass="fw-normal" />
                                                                                        </DxFormLayoutItem>

                                                                                        <DxFormLayoutItem CaptionCssClass=" normal-caption" Caption="Body Weight (BB)" ColSpanMd="12">
                                                                                            <DxSpinEdit MinValue="0" @bind-Value="@GeneralConsultanServiceAncDetail.BB" NullText="Body Weight" InputCssClass="fw-normal" />
                                                                                        </DxFormLayoutItem>

                                                                                        <DxFormLayoutItem CaptionCssClass=" normal-caption" Caption="Uterine Fundal Height (TFU)" ColSpanMd="12">
                                                                                            <DxSpinEdit MinValue="0" @bind-Value="@GeneralConsultanServiceAncDetail.TFU" NullText="Uterine Fundal Height" InputCssClass="fw-normal" />
                                                                                        </DxFormLayoutItem>

                                                                                        <DxFormLayoutItem CaptionCssClass=" normal-caption" Caption="Fetus Position" ColSpanMd="12">
                                                                                            <MyTextBox @bind-Text="@GeneralConsultanServiceAncDetail.FetusPosition" NullText="Fetus Position" />
                                                                                        </DxFormLayoutItem>

                                                                                        <DxFormLayoutItem CaptionCssClass=" normal-caption" Caption="Fetal Heart Rate (DJJ)" ColSpanMd="12">
                                                                                            <MyTextBox @bind-Text="@GeneralConsultanServiceAncDetail.DJJ" NullText="Fetal Heart Rate" InputCssClass="fw-normal" />
                                                                                        </DxFormLayoutItem>

                                                                                        <DxFormLayoutItem CaptionCssClass=" normal-caption" Caption="Immunization TT" ColSpanMd="12">
                                                                                            <DxSpinEdit MinValue="0" @bind-Value="@GeneralConsultanServiceAncDetail.TT" NullText="Immunization TT" InputCssClass="fw-normal" />
                                                                                        </DxFormLayoutItem>
                                                                                    </DxFormLayout>
                                                                                </EditFormTemplate>

                                                                            </MyGridPaginate>


                                                                            <div class="row">
                                                                                <DxFormLayout>
                                                                                    <div class="col-md-9">
                                                                                        <DxFormLayoutItem>
                                                                                            <DxPager PageCount="totalCountGridAnc"
                                                                                                     ActivePageIndexChanged="OnPageIndexChangedGridAnc"
                                                                                                     ActivePageIndex="activePageIndexTotalCountGridAnc"
                                                                                                     VisibleNumericButtonCount="10"
                                                                                                     SizeMode="SizeMode.Medium"
                                                                                                     NavigationMode="PagerNavigationMode.Auto">
                                                                                            </DxPager>
                                                                                        </DxFormLayoutItem>
                                                                                    </div>
                                                                                    <div class="col-md-3 d-flex justify-content-end">
                                                                                        <DxFormLayoutItem Caption="Page Size:">
                                                                                            <MyDxComboBox Data="(new[] { 10, 25, 50, 100 })"
                                                                                                          NullText="Select Page Size"
                                                                                                          ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Never"
                                                                                                          SelectedItemChanged="((int e ) => OnpageSizeGridAncIndexChangedGridAnc(e))"
                                                                                                          @bind-Value="pageSizeGridAnc">
                                                                                            </MyDxComboBox>
                                                                                        </DxFormLayoutItem>
                                                                                    </div>
                                                                                </DxFormLayout>
                                                                            </div>
                                                                        </DxLoadingPanel>
                                                                    </DxFormLayout>
                                                                </DxFormLayout>
                                                            </div>
                                                        </div>
                                                    </DxTabPage>
                                                </DxTabs>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </EditForm>
                        </DxLoadingPanel>
                    </div>
                </div>
            </div>
        </section>
    </div>
}
else if (UserAccessCRUID is not null && (!UserAccessCRUID.IsCreate && !UserAccessCRUID.IsUpdate))
{
    <InvalidPermissionPage />
}
else
{
    <LoadingIndicatorLayout />
}


<PopUpShowConfirmation Visible="PopUpConfirmation"
                       ConfirmationMessage="You have not filled in the CPPT! Do you want to continue?"
                       OnConfirmed="OnPopupConfirmed">

</PopUpShowConfirmation>


<DxPopup HeaderText="Follow Up" @bind-Visible="@IsFollowUp" Closed="( () => IsFollowUp = false)" HeaderCssClass="fw-bold" CloseOnOutsideClick="false" Width="95%">
    <PopUpGCFollowUp GeneralConsultanService="GeneralConsultanService"
                     OnClosePopup="HandleClosePopup"
                     UserForm="UserForm"
                     TempInsurancePolicies="InsurancePolicies">

    </PopUpGCFollowUp>
</DxPopup>

<DxPopup HeaderText="Appointment pending in patient alert" @bind-Visible="@IsAppoimentPending" Closed="( () => IsAppoimentPending = false)" HeaderCssClass="fw-bold" CloseOnOutsideClick="false" Width="95%">
    <PopUpGCPatientAppoimentPendingAlert GeneralConsultanService="GeneralConsultanService">

    </PopUpGCPatientAppoimentPendingAlert>
</DxPopup>

<DxPopup HeaderText="Refer To" @bind-Visible="@IsReferTo" Closed="(async () => await HandleClosePopupReferTo())" HeaderCssClass="fw-bold" CloseOnOutsideClick="false" Width="95%">
    <PopUpGCReferTo OnClosePopupReferTo="HandleClosePopupReferTo"
                    GeneralConsultanService="GeneralConsultanService"
                    UserForm="UserForm"
                    TempInsurancePolicies="InsurancePolicies">

    </PopUpGCReferTo>
</DxPopup>

<PopUpPainScale IsPopUpPainScale="@IsPopUpPainScale"
                OnClosePopup="OnClosePopup" />

<DxPopup Visible="isPrint" Width="874px">
    <DxRichEdit @ref="richEdit" ActiveRibbonTabIndex="0" DocumentContent="@DocumentContent" CssClass="w-100 ch-720">
        <MailMergeSettings>
            <DxMailMergeSettings ViewMergedData="true"></DxMailMergeSettings>
        </MailMergeSettings>
    </DxRichEdit>
</DxPopup>

<DxPopup HeaderText="Historical Medical Record Patient" @bind-Visible="@IsHistoricalRecordPatient" HeaderCssClass="fw-bold" CloseOnOutsideClick="false" Width="90%">
    <PopUpGCHistoricalMedicalRecordPatient GeneralConsultanService="GeneralConsultanService">

    </PopUpGCHistoricalMedicalRecordPatient>
</DxPopup>

<DxPopup @bind-Visible="IsClosePopupVisible"
         CloseOnOutsideClick="true"
         ShowCloseButton="true"
         HeaderText="Close ANC Confirmation"
         ShowFooter="true"
         Width="400px">
    <BodyContentTemplate>
        <div class="mb-3">
            <p>Are you sure you want to close ANC?</p>
            <DxTextBox @bind-Text="CloseNote"
                       NullText="Enter your notes here..." />
        </div>

    </BodyContentTemplate>
    <FooterContentTemplate>
        <DxButton RenderStyle="ButtonRenderStyle.Danger"
                  RenderStyleMode="@ButtonRenderStyleMode.Contained"
                  Text="Cancel"
                  Click="CancelClosePopup" />
        <DxButton RenderStyle="ButtonRenderStyle.Success"
                  RenderStyleMode="@ButtonRenderStyleMode.Contained"
                  Text="Confirm"
                  Click="ConfirmCloseANC" />
    </FooterContentTemplate>
</DxPopup>

<DxPopup HeaderText="Print Rujukan BPJS"
         @bind-Visible="@IsPrintRujukanBPJS"
         HeaderCssClass="fw-bold"
         CloseOnOutsideClick="false"
         Closed="(() => IsPrintRujukanBPJS = false)"
         Width="90%">

    <DxReportViewer @ref="reportViewerRujukanBPJS"
                    Report="@ReportRujukanBPJS">
    </DxReportViewer>

</DxPopup>

<DxPopup HeaderText="Print Rujukan BPJS + PRB"
         @bind-Visible="@IsPrintRujukanBPJSPRB"
         HeaderCssClass="fw-bold"
         CloseOnOutsideClick="false"
         Closed="(() => IsPrintRujukanBPJSPRB = false)"
         Width="90%">

    <DxReportViewer @ref="reportViewerRujukanBPJSPRB"
                    Report="@ReportRujukanBPJSPRB">
    </DxReportViewer>

</DxPopup>