@page "/transaction/general-consultan-service"
@rendermode InteractiveServer
<PageTitle>McDermott - Master Data General Consultan Service</PageTitle>

@if (IsAccess)
{
    <div class="wrapper">
        <McDermott.Web.Components.Layout.BaseContentHeaderLayout Title="General Consultan Service" />
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col">
                        @if (!showForm)
                        {
                            <div class="card">
                                <div class="card-header">
                                    <ToolbarTemplate>
                                                <DxToolbar ItemRenderStyleMode="ToolbarRenderStyleMode.Contained">
                                                    <DxToolbarItem Visible="@UserAccessCRUID.Create" Text="New" Click="NewItem_Click" IconCssClass="fa-solid fa-plus" />
                                                    <DxToolbarItem Visible="@UserAccessCRUID.Update" Text="Edit" Click="EditItem_Click" IconCssClass="fa-solid fa-pen-to-square" Enabled="SelectedDataItems.Count > 0 && GeneralConsultanServices.Count > 0" />
                                                    <DxToolbarItem Visible="@UserAccessCRUID.Delete" Text="Delete" Click="DeleteItem_Click" IconCssClass="fa-solid fa-trash" Enabled="SelectedDataItems.Count > 0 && GeneralConsultanServices.Count > 0" />
                                                    <DxToolbarItem Text="Column Chooser" Click="ColumnChooserButton_Click" BeginGroup="true" IconCssClass="fa-solid fa-table-columns" />
                                                    <DxToolbarItem Text="Export" IconCssClass="fa-solid fa-file-export">
                                                        <Items>
                                                            <DxToolbarItem Text="To CSV" Click="ExportCsvItem_Click" />
                                                            <DxToolbarItem Text="To XLSX" Click="ExportXlsxItem_Click" />
                                                            <DxToolbarItem Text="To XLS" Click="ExportXlsItem_Click" />
                                                        </Items>
                                                    </DxToolbarItem>
                                                    <DxToolbarItem Visible="@UserAccessCRUID.Import" Text="Import" id="upload" IconCssClass="fa-solid fa-file-import" />
                                                </DxToolbar>
                                            </ToolbarTemplate>
                                </div>
                                <div class="card-body">
                                    <DxLoadingPanel @bind-Visible="PanelVisible"
                                                    IndicatorAnimationType="WaitIndicatorAnimationType.Pulse"
                                                    IsContentBlocked="true"
                                                    ApplyBackgroundShading="true"
                                                    IndicatorAreaVisible="false"
                                                    Text="Fetching Data...">
                                        <DxGrid @ref="Grid"
                                                Data="GeneralConsultanServices"
                                                PageSize="10"
                                                @bind-SelectedDataItems="@SelectedDataItems"
                                                FilterMenuButtonDisplayMode="GridFilterMenuButtonDisplayMode.Always"
                                                KeyFieldName="Id"
                                                CustomizeDataRowEditor="Grid_CustomizeDataRowEditor"
                                                DataItemDeleting="OnDelete"
                                                EditMode="GridEditMode.PopupEditForm"
                                                PagerPosition="GridPagerPosition.Bottom"
                                                PageSizeSelectorVisible="true"
                                                PageSizeSelectorItems="@(new int[] { 10, 20, 50, 100 })"
                                                PageSizeSelectorAllRowsItemVisible="true"
                                                PagerSwitchToInputBoxButtonCount="10"
                                                AllowSelectRowByClick="true"
                                                FocusedRowEnabled="true"
                                                PagerVisibleNumericButtonCount="10"
                                                FocusedRowChanged="Grid_FocusedRowChanged"
                                                ShowGroupPanel="true"
                                                AutoExpandAllGroupRows="true"
                                                ShowFilterRow="true"
                                                CustomizeElement="Grid_CustomizeElement"
                                                ShowSearchBox="true"
                                                SelectAllCheckboxMode="GridSelectAllCheckboxMode.Mixed"
                                                KeyboardNavigationEnabled="true">
                                           
                                            <Columns>
                                                <DxGridSelectionColumn Width="15px" />
                                                <DxGridDataColumn FieldName="DateSchendule" Caption="Tanggal" SortIndex="0" />
                                                <DxGridDataColumn FieldName="Patient.Name" Caption="Patient" />
                                                <DxGridDataColumn FieldName="Insurance.Name" Caption="Payment Methode" />
                                                <DxGridDataColumn FieldName="Pratitioner.Name" Caption="Docter" />
                                                <DxGridDataColumn FieldName="Service.Name" Caption="Service" />
                                                <DxGridDataColumn FieldName="Service.Name" Caption="Status" />
                                            </Columns>
                                        </DxGrid>

                                    </DxLoadingPanel>

                                </div>
                            </div>
                        }
                        else if (showForm)
                        {
                            <EditForm Model="@FormRegis" Context="EditFormContext">
                                <div class="card">
                                    <div class="card-header"></div>
                                    <div class="card-body">
                                        @* <DxPopup @bind-Visible="@PopupVisible" HeaderText="@textPopUp" HeaderCssClass="fw-bold" Width="70%"> *@
                                        <div class="row">
                                            <div class="col-md-6">
                                                <DxFormLayout CssClass="mt ">
                                                    <DxFormLayoutItem Caption="Patient" ColSpanMd="12">
                                                        <DxComboBox Data="@IsPatient" NullText="Select Partner..."
                                                                    @bind-Value="@FormRegis.PatientId"
                                                                    TextFieldName="Name"
                                                                    ValueFieldName="Id"></DxComboBox>
                                                    </DxFormLayoutItem>
                                                    <DxFormLayoutItem Caption="No. RM" ColSpanMd="12">
                                                        <DxTextBox @bind-Text="@FormRegis.NoRM" NullText="No RM" />
                                                    </DxFormLayoutItem>
                                                    <DxFormLayoutItem Caption="Identity Number" ColSpanMd="12">
                                                        <DxTextBox @bind-Text="@FormRegis.IdentityNumber" NullText="Identity Number" />
                                                    </DxFormLayoutItem>
                                                    <DxFormLayoutItem Caption="BirthDay" ColSpanMd="12">
                                                        <DxDateEdit @bind-Date="@FormRegis.BirthDay" NullText="Birthday" />
                                                    </DxFormLayoutItem>
                                                    <DxFormLayoutItem Caption="Register Type" ColSpanMd="12">
                                                        <DxComboBox Data="@RegisType"
                                                                    NullText="Select Regis Type..."
                                                                    @bind-Value="@FormRegis.TypeRegistration">
                                                        </DxComboBox>
                                                    </DxFormLayoutItem>
                                                </DxFormLayout>
                                            </div>
                                            <div class="col-md-6">
                                                <DxFormLayout CssClass="mt ">

                                                    <DxFormLayoutItem Caption="Docter" ColSpanMd="12">
                                                        <DxComboBox Data="@IsPratition"
                                                                    NullText="Docter"
                                                                    @bind-Value="@FormRegis.PratitionerId" TextFieldName="Name" ValueFieldName="Id"></DxComboBox>
                                                    </DxFormLayoutItem>
                                                    <DxFormLayoutItem Caption="Medical type" ColSpanMd="12">
                                                        <DxComboBox Data="@Services"
                                                                    NullText="Medical Type.."
                                                                    @bind-Value="@FormRegis.ServiceId" TextFieldName="Name" ValueFieldName="Id"></DxComboBox>
                                                    </DxFormLayoutItem>
                                                    <DxFormLayoutItem Caption="Insurance type" ColSpanMd="12">
                                                        <DxComboBox Data="@Insurances"
                                                                    NullText="Insurance Type.."
                                                                    @bind-Value="@FormRegis.InsuranceId" TextFieldName="Name" ValueFieldName="Id"></DxComboBox>
                                                    </DxFormLayoutItem>
                                                    <DxFormLayoutItem Caption="Schendule Date" ColSpanMd="12">
                                                        <DxDateEdit @bind-Date="@FormRegis.DateSchendule" Mask="@DateTimeMask.ShortDate" NullText="Tanggal"></DxDateEdit>
                                                    </DxFormLayoutItem>
                                                    <DxFormLayoutItem Caption="Schendule Time" ColSpanMd="12">
                                                        <Template>
                                                            <DxGridLayout>
                                                                <Rows>
                                                                    <DxGridLayoutRow />
                                                                </Rows>
                                                                <Columns>
                                                                    <DxGridLayoutColumn />
                                                                    <DxGridLayoutColumn />
                                                                </Columns>
                                                                <Items>
                                                                    <DxGridLayoutItem Row="0" Column="0" CssClass="mt">
                                                                        <Template>
                                                                            <DxTimeEdit NullText="Work From..."
                                                                                        @bind-Time="@FormRegis.WorkFrom"
                                                                                        TextFieldName="Name"
                                                                                        ValueFieldName="Id" />
                                                                        </Template>
                                                                    </DxGridLayoutItem>
                                                                    <DxGridLayoutItem Row="0" Column="1" CssClass="mt ml">
                                                                        <Template>
                                                                            <DxTimeEdit NullText="Work To..."
                                                                                        @bind-Time="@FormRegis.WorkTo"
                                                                                        TextFieldName="Name"
                                                                                        ValueFieldName="Id" />
                                                                        </Template>
                                                                    </DxGridLayoutItem>
                                                                </Items>
                                                            </DxGridLayout>
                                                        </Template>
                                                    </DxFormLayoutItem>
                                                </DxFormLayout>
                                            </div>
                                        </div>
                                        @* </DxPopup> *@
                                    </div>
                                    <div class="card-footer">
                                        <div class="row  justify-content-end">
                                            <div class="col-auto align-self-end">
                                                <DxButton RenderStyle="ButtonRenderStyle.Info" RenderStyleMode="@ButtonRenderStyleMode.Outline" IconCssClass="fa-solid fa-floppy-disk" Text="Confirm" SubmitFormOnClick="true" Click="OnSave"></DxButton>
                                                <DxButton RenderStyle="ButtonRenderStyle.Danger" RenderStyleMode="@ButtonRenderStyleMode.Outline" IconCssClass="fa-solid fa-xmark" Text="Cancel" SubmitFormOnClick="true" Click="OnCancel"></DxButton>

                                            </div>
                                           @*  <div class="col-4">
                                            </div> *@
                                        </div>
                                    </div>
                                </div>
                            </EditForm>
                        }
                    </div>
                </div>
            </div>
        </section>
    </div>
}