@page "/transaction/general-consultan-service"
@rendermode InteractiveServer
<PageTitle>McDermott - Transaction General Consultan Service</PageTitle>

@if (IsAccess)
{
    <div class="wrapper">
        <McDermott.Web.Components.Layout.BaseContentHeaderLayout Title="General Consultan Service" />
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col">
                        @if (!showForm)
                        {
                            <div class="card">
                                <div class="card-header">
                                    <ToolbarTemplate>
                                        <DxToolbar ItemRenderStyleMode="ToolbarRenderStyleMode.Contained">
                                            <DxToolbarItem Visible="@UserAccessCRUID.Create" Text="New" Click="NewItem_Click" IconCssClass="fa-solid fa-plus" />
                                            <DxToolbarItem Visible="@UserAccessCRUID.Update" Text="Edit" Click="EditItem_Click" IconCssClass="fa-solid fa-pen-to-square" Enabled="SelectedDataItems.Count > 0 && GeneralConsultanServices.Count > 0" />
                                            <DxToolbarItem Visible="@UserAccessCRUID.Delete" Text="Delete" Click="DeleteItem_Click" IconCssClass="fa-solid fa-trash" Enabled="SelectedDataItems.Count > 0 && GeneralConsultanServices.Count > 0" />
                                            <DxToolbarItem Text="Column Chooser" Click="ColumnChooserButton_Click" BeginGroup="true" IconCssClass="fa-solid fa-table-columns" />
                                            <DxToolbarItem Text="Export" BeginGroup="true" IconCssClass="fa-solid fa-file-export">
                                                <Items>
                                                    <DxToolbarItem Text="To CSV" Click="ExportCsvItem_Click" />
                                                    <DxToolbarItem Text="To XLSX" Click="ExportXlsxItem_Click" />
                                                    <DxToolbarItem Text="To XLS" Click="ExportXlsItem_Click" />
                                                </Items>
                                            </DxToolbarItem>
                                            <DxToolbarItem Visible="false" Text="Import" id="upload" IconCssClass="fa-solid fa-file-import" />
                                        </DxToolbar>
                                    </ToolbarTemplate>
                                </div>
                                <div class="card-body">
                                    <DxLoadingPanel @bind-Visible="PanelVisible"
                                                    IndicatorAnimationType="WaitIndicatorAnimationType.Pulse"
                                                    IsContentBlocked="true"
                                                    ApplyBackgroundShading="true"
                                                    IndicatorAreaVisible="false"
                                                    Text="Fetching Data...">
                                        <DxGrid @ref="Grid" PagerNavigationMode="PagerNavigationMode.InputBox"
                                                Data="GeneralConsultanServices"
                                                PageSize="10"
                                                @bind-SelectedDataItems="@SelectedDataItems"
                                                FilterMenuButtonDisplayMode="GridFilterMenuButtonDisplayMode.Always"
                                                KeyFieldName="Id"
                                                CustomizeDataRowEditor="Grid_CustomizeDataRowEditor"
                                                DataItemDeleting="OnDelete"
                                                EditMode="GridEditMode.PopupEditForm"
                                                PagerPosition="GridPagerPosition.Bottom"
                                                PageSizeSelectorVisible="true"
                                                PageSizeSelectorItems="@(new int[] { 10, 20, 50, 100 })"
                                                PageSizeSelectorAllRowsItemVisible="true"
                                                PagerSwitchToInputBoxButtonCount="10"
                                                AllowSelectRowByClick="true"
                                                FocusedRowEnabled="true"
                                                PagerVisibleNumericButtonCount="10"
                                                FocusedRowChanged="Grid_FocusedRowChanged"
                                                ShowGroupPanel="true"
                                                AutoExpandAllGroupRows="true"
                                                ShowFilterRow="true"
                                                CustomizeElement="Grid_CustomizeElement"
                                                ShowSearchBox="true"
                                                SelectAllCheckboxMode="GridSelectAllCheckboxMode.Mixed"
                                                KeyboardNavigationEnabled="true">

                                            <Columns>
                                                <DxGridSelectionColumn Width="15px" />
                                                <DxGridDataColumn FieldName="DateSchendule" Caption="Tanggal" SortIndex="0" />
                                                <DxGridDataColumn FieldName="Patient.Name" Caption="Patient" />
                                                <DxGridDataColumn FieldName="Insurance.Name" Caption="Payment Methode" />
                                                <DxGridDataColumn FieldName="Pratitioner.Name" Caption="Docter" />
                                                <DxGridDataColumn FieldName="Service.Name" Caption="Service" />
                                                <DxGridDataColumn FieldName="status" Caption="Status" />
                                            </Columns>
                                        </DxGrid>
                                    </DxLoadingPanel>
                                </div>
                            </div>
                        }
                        else if (showForm)
                        {
                            <EditForm Model="@FormRegis" Context="EditFormContext">
                                <div class="card">
                                    <div class="card-header">

                                        @* <DxToolbarItem Visible="@UserAccessCRUID.Create" Text="Confirm" IconCssClass="fa-solid fa-check" /> *@

                                        <div class="row justify-content-end">

                                            <div class="col align-self-center">
                                                <DxButton IconCssClass="fa-solid fa-check" Text="Confirm" RenderStyle="ButtonRenderStyle.Info"></DxButton>
                                                <DxButton IconCssClass="fa-solid fa-xmark" Text="Cancel" RenderStyle="ButtonRenderStyle.Danger"></DxButton>
                                            </div>

                                            <div class="col-auto align-self-end">
                                                <DxTabs>
                                                    <DxTab Text="Planned"></DxTab>
                                                    <DxTab Text="Confirmed" Enabled="false"></DxTab>
                                                    <DxTab Text="Nurse Station" Enabled="false"></DxTab>
                                                    <DxTab Text="Waiting" Enabled="false"></DxTab>
                                                    <DxTab Text="Physician" Enabled="false"></DxTab>
                                                    <DxTab Text="Finished" Enabled="false"></DxTab>
                                                </DxTabs>
                                            </div>
                                        </div>

                                        @*   <div class="col-auto align-self-end">
                                <DxGrid Data="@NurseStations">
                                <Columns>
                                <DxGridDataColumn FieldName="@nameof(NurseStation.Status)" Caption="Status" />
                                <DxGridDataColumn FieldName="@nameof(NurseStation.Count)" Caption="Count" />

                                </Columns>
                                </DxGrid>
                                </div> *@
                                    </div>
                                    <div class="card-body">
                                        @* <DxPopup @bind-Visible="@PopupVisible" HeaderText="@textPopUp" HeaderCssClass="fw-bold" Width="70%"> *@
                                        <div class="row">
                                            <div class="col-md-6">
                                                <DxFormLayout CssClass="mt ">
                                                    @* <DxFormLayoutItem Caption="Admission Queue" ColSpanMd="12">
                                            <DxTextBox @bind-Text="@FormRegis.AdmissionQueue" />
                                            </DxFormLayoutItem> *@
                                                    <DxFormLayoutItem Caption="Patient" ColSpanMd="12">
                                                        <DxComboBox Data="@patients"
                                                                    NullText="Select Partner..."
                                                                    @bind-Value="@Value"
                                                                    TextFieldName="Name"
                                                                    ValueFieldName="Id">
                                                        </DxComboBox>
                                                    </DxFormLayoutItem>
                                                    <DxFormLayoutItem Caption="Medical Record" ColSpanMd="12">
                                                        <DxTextBox @bind-Text="@FormRegis.NoRM" NullText="Medical Record Number" ReadOnly InputCssClass="fw-normal" />
                                                     </DxFormLayoutItem>
                                                     <DxFormLayoutItem Caption="Identity Number" ColSpanMd="12">
                                                         <DxTextBox @bind-Text="@FormRegis.IdentityNumber" NullText="Identity Number" ReadOnly InputCssClass="fw-normal" />
                                                         @* <p>@FormRegis.IdentityNumber</p> *@
                                                     </DxFormLayoutItem>
                                                     <DxFormLayoutItem Caption="Age" ColSpanMd="12">
                                                         <Template>
                                                             <DxGridLayout>
                                                                 <Rows>
                                                                     <DxGridLayoutRow />
                                                                 </Rows>
                                                                 <Columns>
                                                                     <DxGridLayoutColumn Width="90%" />
                                                                     <DxGridLayoutColumn Width="30%" />
                                                                 </Columns>
                                                                 <Items>
                                                                     <DxGridLayoutItem Row="0" Column="0" CssClass="mt">
                                                                         <Template>
                                                                             <DxSpinEdit @bind-Value="@FormRegis.Age" NullText="Age" ReadOnly InputCssClass="fw-normal" />
                                                                         </Template>
                                                                     </DxGridLayoutItem>
                                                                     <DxGridLayoutItem Row="0" Column="1" CssClass="mt ml">
                                                                         <Template>
                                                                             <h6 class="pl-1 pt-2">Year</h6>
                                                                         </Template>
                                                                     </DxGridLayoutItem>
                                                                 </Items>
                                                             </DxGridLayout>

                                                         </Template>
                                                     </DxFormLayoutItem>
                                                     <DxFormLayoutItem Caption="Reg Type:" ColSpanMd="12">
                                                         <DxComboBox Data="@RegisType"
                                                                     NullText="Select Registration..."
                                                                     @bind-Value="@FormRegis.TypeRegistration">
                                                         </DxComboBox>
                                                     </DxFormLayoutItem>
                                                     <DxFormLayoutItem Caption="Medical Type:" ColSpanMd="12">
                                                         <DxComboBox Data="@Method"
                                                                     NullText="Select Method..."
                                                                     @bind-Value="@FormRegis.Method">
                                                         </DxComboBox>
                                                     </DxFormLayoutItem>
                                                 </DxFormLayout>
                                             </div>
                                             <div class="col-md-6">
                                                 <DxFormLayout CssClass="mt ">
                                                     <DxFormLayoutItem Caption="Service" ColSpanMd="12">
                                                         <DxComboBox Data="@Services"
                                                                     NullText="Service.."
                                                                     @bind-Value="@FormRegis.ServiceId" TextFieldName="Name" ValueFieldName="Id"></DxComboBox>
                                                     </DxFormLayoutItem>
                                                     <DxFormLayoutItem Caption="Physicion:" ColSpanMd="12">
                                                         <DxComboBox Data="@IsPratition"
                                                                     NullText="Docter"
                                                                     @bind-Value="@FormRegis.PratitionerId"
                                                                     TextFieldName="Name"
                                                                     InputId="CbDoctoreName"></DxComboBox>
                                                     </DxFormLayoutItem>
                                                     <DxFormLayoutItem Caption="Payment Methode" ColSpanMd="12">
                                                         <DxComboBox Data="@Payments"
                                                                     NullText="Payment Method.."
                                                                     @bind-Value="@FormRegis.Payment"></DxComboBox>
                                                     </DxFormLayoutItem>
                                                     @if (@FormRegis.Payment == "Corporate")
                                                    {
                                                        <DxFormLayoutItem Caption=" " ColSpanMd="12">
                                                            <DxComboBox Data="@Insurances" @bind-Value="@FormRegis.InsuranceId" NullText="Select Insurance .."></DxComboBox>
                                                        </DxFormLayoutItem>
                                                    }
                                                    <DxFormLayoutItem Caption="Registration Date:" ColSpanMd="12">
                                                        <DxDateEdit @bind-Date="@FormRegis.DateSchendule" Mask="@DateTimeMask.ShortDate" NullText="Tanggal"></DxDateEdit>
                                                    </DxFormLayoutItem>
                                                    <DxFormLayoutItem Caption="Schendule Time" ColSpanMd="12">
                                                        <Template>
                                                            <DxGridLayout>
                                                                <Rows>
                                                                    <DxGridLayoutRow />
                                                                </Rows>
                                                                <Columns>
                                                                    <DxGridLayoutColumn />
                                                                    <DxGridLayoutColumn />
                                                                </Columns>
                                                                <Items>
                                                                    <DxGridLayoutItem Row="0" Column="0" CssClass="mt">
                                                                        <Template>
                                                                            <DxTimeEdit NullText="Work From..."
                                                                                        @bind-Time="@FormRegis.WorkFrom"
                                                                                        TextFieldName="Name"
                                                                                        ValueFieldName="Id" />
                                                                        </Template>
                                                                    </DxGridLayoutItem>
                                                                    <DxGridLayoutItem Row="0" Column="1" CssClass="mt ml">
                                                                        <Template>
                                                                            <DxTimeEdit NullText="Work To..."
                                                                                        @bind-Time="@FormRegis.WorkTo"
                                                                                        TextFieldName="Name"
                                                                                        ValueFieldName="Id" />
                                                                        </Template>
                                                                    </DxGridLayoutItem>
                                                                </Items>
                                                            </DxGridLayout>
                                                        </Template>
                                                    </DxFormLayoutItem>
                                                </DxFormLayout>
                                            </div>
                                        </div>
                                        @* </DxPopup> *@
                                        <div class="cw-480 ch-220 mt-5">
                                            <DxTabs @bind-ActiveTabIndex="@ActiveTabIndex">
                                                <DxTab Text="Clinical Assesment"></DxTab>
                                                <DxTab Text="CPPT"></DxTab>
                                                <DxTab Text="Laboratorium Attachment"></DxTab>
                                                <DxTab Text="Radiology Attachment"></DxTab>
                                                <DxTab Text="Alcohol & Drugs Test Attachment"></DxTab>
                                                <DxTab Text="BPJS Integration"></DxTab>
                                            </DxTabs>

                                            @switch (ActiveTabIndex)
                                            {
                                                case 0:
                                                    <DxFormLayout>
                                                        <Items>
                                                            <DxFormLayoutGroup Caption="Clinical Assessment" ColSpanMd="12">
                                                                <Items>
                                                                    <DxFormLayoutItem Caption="Weight:">
                                                                        <DxTextBox @bind-Text="@FormRegis.IdentityNumber" NullText="Weight" ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto" />
                                                                    </DxFormLayoutItem>
                                                                    <DxFormLayoutItem Caption="Temp:">
                                                                        <DxTextBox @bind-Text="@FormRegis.IdentityNumber" NullText="Temp" ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto" />
                                                                    </DxFormLayoutItem>
                                                                    <DxFormLayoutItem Caption="Height:">
                                                                        <DxTextBox @bind-Text="@FormRegis.IdentityNumber" NullText="Height" ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto" />
                                                                    </DxFormLayoutItem>
                                                                    <DxFormLayoutItem Caption="HR:">
                                                                        <Template>
                                                                            <DxGridLayout>
                                                                                <Rows>
                                                                                    <DxGridLayoutRow />
                                                                                </Rows>
                                                                                <Columns>
                                                                                    <DxGridLayoutColumn Width="90%" />
                                                                                    <DxGridLayoutColumn Width="30%" />
                                                                                </Columns>
                                                                                <Items>
                                                                                    <DxGridLayoutItem Row="0" Column="0" CssClass="mt">
                                                                                        <Template>
                                                                                            <DxTextBox @bind-Text="@FormRegis.IdentityNumber" NullText="HR" ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto" />
                                                                                        </Template>
                                                                                    </DxGridLayoutItem>
                                                                                </Items>
                                                                            </DxGridLayout>

                                                                        </Template>
                                                                    </DxFormLayoutItem>
                                                                    <DxFormLayoutItem Caption="RR:">
                                                                        <DxTextBox @bind-Text="@FormRegis.IdentityNumber" NullText="RR" ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto" />
                                                                    </DxFormLayoutItem>
                                                                    <DxFormLayoutItem Caption="Systolic/Diastolic BP:">
                                                                        <DxTextBox @bind-Text="@FormRegis.IdentityNumber" />
                                                                    </DxFormLayoutItem>
                                                                    <DxFormLayoutItem Caption="SpO2:">
                                                                        <DxTextBox @bind-Text="@FormRegis.IdentityNumber" />
                                                                    </DxFormLayoutItem>
                                                                    <DxFormLayoutItem Caption="RBS:">
                                                                        <DxTextBox @bind-Text="@FormRegis.IdentityNumber" />
                                                                    </DxFormLayoutItem>
                                                                    <DxFormLayoutItem Caption="Body Max Index:">
                                                                        <h2>0</h2>
                                                                    </DxFormLayoutItem>
                                                                    <DxFormLayoutItem Caption="BMI State:">
                                                                        <h2>0</h2>
                                                                    </DxFormLayoutItem>
                                                                    <DxFormLayoutItem BeginRow="true" Caption="GCS">
                                                                        <p></p>
                                                                    </DxFormLayoutItem>
                                                                    <DxFormLayoutItem BeginRow="true" Caption="E" ColSpanMd="12">
                                                                        <DxTextBox @bind-Text="@FormRegis.IdentityNumber" NullText="E" ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto" />
                                                                    </DxFormLayoutItem>
                                                                    <DxFormLayoutItem Caption="V:" ColSpanMd="12">
                                                                        <DxTextBox @bind-Text="@FormRegis.IdentityNumber" NullText="V" ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto" />
                                                                    </DxFormLayoutItem>
                                                                    <DxFormLayoutItem Caption="M:" ColSpanMd="12">
                                                                        <DxTextBox @bind-Text="@FormRegis.IdentityNumber" NullText="M" ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto" />
                                                                    </DxFormLayoutItem>
                                                                </Items>
                                                            </DxFormLayoutGroup>
                                                        </Items>
                                                    </DxFormLayout>
                                                    break;
                                                case 1:
                                                    <DxFormLayout>
                                                        <DxFormLayoutGroup Caption="Input CPPT" ColSpanMd="12">
                                                            <Items>
                                                                <DxFormLayoutItem Caption="User:" ColSpanMd="12">
                                                                    <DxComboBox Data="@patients"
                                                                                NullText="Select User..."
                                                                                @bind-Value="@FormRegis.Id"
                                                                                TextFieldName="Name"
                                                                                ValueFieldName="Id">
                                                                    </DxComboBox>
                                                                </DxFormLayoutItem>

                                                                <DxFormLayoutItem Caption="Subjective:" ColSpanMd="12">
                                                                    <DxTextBox @bind-Text="@FormRegis.IdentityNumber" />
                                                                </DxFormLayoutItem>

                                                                <DxFormLayoutItem Caption="Objective:" ColSpanMd="12">
                                                                    <DxTextBox @bind-Text="@FormRegis.IdentityNumber" />
                                                                </DxFormLayoutItem>

                                                                <DxFormLayoutItem Caption="Diagnosis:" ColSpanMd="12">
                                                                    <DxComboBox Data="@patients"
                                                                                NullText="Select Diagnosis..."
                                                                                @bind-Value="@FormRegis.Id"
                                                                                TextFieldName="Name"
                                                                                ValueFieldName="Id">
                                                                    </DxComboBox>
                                                                </DxFormLayoutItem>

                                                                <DxFormLayoutItem Caption="Code:" ColSpanMd="12">
                                                                    <DxTextBox ReadOnly="true" @bind-Text="@FormRegis.IdentityNumber" />
                                                                </DxFormLayoutItem>

                                                                <DxFormLayoutItem Caption="Disease:" ColSpanMd="12">
                                                                    <DxTextBox @bind-Text="@FormRegis.IdentityNumber" />
                                                                </DxFormLayoutItem>

                                                                <DxFormLayoutItem Caption="Disease Category:" ColSpanMd="12">
                                                                    <DxTextBox @bind-Text="@FormRegis.IdentityNumber" />
                                                                </DxFormLayoutItem>

                                                                <DxFormLayoutItem Caption="Plan:" ColSpanMd="12">
                                                                    <DxTextBox @bind-Text="@FormRegis.IdentityNumber" />
                                                                </DxFormLayoutItem>
                                                            </Items>
                                                        </DxFormLayoutGroup>
                                                    </DxFormLayout>

                                                      <DxButton CssClass="ml-2" IconCssClass="fa-solid fa-check" Text="Confirm" RenderStyle="ButtonRenderStyle.Info"></DxButton>

                                                    <DxFormLayout>
                                                        <DxFormLayoutGroup Caption="CPPT" ColSpanMd="12">
                                                            <Items>
                                                                <DxLoadingPanel @bind-Visible="PanelVisible"
                                                                                IndicatorAnimationType="WaitIndicatorAnimationType.Pulse"
                                                                                IsContentBlocked="true"
                                                                                ApplyBackgroundShading="true"
                                                                                IndicatorAreaVisible="false"
                                                                                Text="Fetching Data...">
                                                                    <DxGrid @ref="Grid" PagerNavigationMode="PagerNavigationMode.InputBox"
                                                                            Data="Temppps"
                                                                            PageSize="10"
                                                                            @bind-SelectedDataItems="@SelectedDataItems"
                                                                            FilterMenuButtonDisplayMode="GridFilterMenuButtonDisplayMode.Always"
                                                                            KeyFieldName="Id"
                                                                            CustomizeDataRowEditor="Grid_CustomizeDataRowEditor"
                                                                            EditModelSaving="OnSave"
                                                                            DataItemDeleting="OnDelete"
                                                                            AllowSelectRowByClick="true"
                                                                            EditMode="GridEditMode.PopupEditForm"
                                                                            PopupEditFormCssClass="pw-800"
                                                                            PagerPosition="GridPagerPosition.Bottom"
                                                                            PageSizeSelectorVisible="true"
                                                                            PageSizeSelectorItems="@(new int[] { 10, 20, 50, 100 })"
                                                                            PageSizeSelectorAllRowsItemVisible="true"
                                                                            PagerSwitchToInputBoxButtonCount="10"
                                                                            FocusedRowEnabled="true"
                                                                            PagerVisibleNumericButtonCount="10"
                                                                            FocusedRowChanged="Grid_FocusedRowChanged"
                                                                            ShowGroupPanel="true"
                                                                            AutoExpandAllGroupRows="true"
                                                                            ShowFilterRow="true"
                                                                            ShowSearchBox="true"
                                                                            SelectAllCheckboxMode="GridSelectAllCheckboxMode.Mixed"
                                                                            KeyboardNavigationEnabled="true">
                                                                        <ToolbarTemplate>
                                                                            <DxToolbar ItemRenderStyleMode="ToolbarRenderStyleMode.Contained">
                                                                                <DxToolbarItem BeginGroup="true" Text="Refresh" Click="Refresh_Click" IconCssClass="fa-solid fa-arrows-rotate" />
                                                                                <DxToolbarItem Text="Column Chooser" Click="ColumnChooserButton_Click" BeginGroup="true" IconCssClass="fa-solid fa-table-columns" />
                                                                                <DxToolbarItem Text="Export" BeginGroup="true" IconCssClass="fa-solid fa-file-export">
                                                                                    <Items>
                                                                                        <DxToolbarItem Text="To CSV" Click="ExportCsvItem_Click" />
                                                                                        <DxToolbarItem Text="To XLSX" Click="ExportXlsxItem_Click" />
                                                                                        <DxToolbarItem Text="To XLS" Click="ExportXlsItem_Click" />
                                                                                    </Items>
                                                                                </DxToolbarItem>
                                                                            </DxToolbar>
                                                                        </ToolbarTemplate>
                                                                        <Columns>
                                                                            <DxGridSelectionColumn Width="15px" />
                                                                            <DxGridDataColumn FieldName="Title" SortIndex="0" />
                                                                            <DxGridDataColumn FieldName="Body" />
                                                                        </Columns>
                                                                    </DxGrid>
                                                                </DxLoadingPanel>
                                                            </Items>
                                                        </DxFormLayoutGroup>
                                                    </DxFormLayout>
                                                    break;
                                                case 2:
                                                    <DxFormLayout>
                                                        <DxFormLayoutGroup ColSpanMd="12">
                                                            <Items>
                                                                <DxFormLayoutItem Caption="Patient Name:" ColSpanMd="12">
                                                                    <DxTextBox @bind-Text="@FormRegis.IdentityNumber" NullText="Patient Name" ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto" />
                                                                </DxFormLayoutItem>
                                                                <DxFormLayoutItem Caption="Attachment:" ColSpanMd="12">
                                                                    <DxTextBox @bind-Text="@FormRegis.IdentityNumber" ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto" />
                                                                </DxFormLayoutItem>
                                                            </Items>
                                                        </DxFormLayoutGroup>
                                                    </DxFormLayout>
                                                    break;
                                                case 3:
                                                    <DxFormLayout>
                                                        <DxFormLayoutGroup ColSpanMd="12">
                                                            <Items>
                                                                <DxFormLayoutItem Caption="Patient Name:" ColSpanMd="12">
                                                                    <DxTextBox @bind-Text="@FormRegis.IdentityNumber" NullText="Patient Name" ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto" />
                                                                </DxFormLayoutItem>
                                                                <DxFormLayoutItem Caption="Attachment:" ColSpanMd="12">
                                                                    <DxTextBox @bind-Text="@FormRegis.IdentityNumber" ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto" />
                                                                </DxFormLayoutItem>
                                                            </Items>
                                                        </DxFormLayoutGroup>
                                                    </DxFormLayout>
                                                    break;
                                                case 4:
                                                    <DxFormLayout>
                                                        <DxFormLayoutGroup ColSpanMd="12">
                                                            <Items>
                                                                <DxFormLayoutItem Caption="Patient Name:" ColSpanMd="12">
                                                                    <DxTextBox @bind-Text="@FormRegis.IdentityNumber" NullText="Patient Name" ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto" />
                                                                </DxFormLayoutItem>
                                                                <DxFormLayoutItem Caption="Attachment:" ColSpanMd="12">
                                                                    <DxTextBox @bind-Text="@FormRegis.IdentityNumber" ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto" />
                                                                </DxFormLayoutItem>
                                                                 <DxFormLayoutItem Caption="Negative:">
                                                                    <DxCheckBox @bind-Checked="@FormRegis.Negatif" />
                                                                </DxFormLayoutItem>
                                                                 <DxFormLayoutItem Caption="Positive:">
                                                                    <DxCheckBox @bind-Checked="@FormRegis.Negatif" />
                                                                </DxFormLayoutItem>
                                                            </Items>
                                                        </DxFormLayoutGroup>
                                                    </DxFormLayout>
                                                    break;
                                                default:
                                                    break;
                                            }

                                        </div>
                                    </div>
                                    <div class="card-footer">
                                        <div class="row  justify-content-end">
                                            <div class="col-auto align-self-end">
                                                <DxButton RenderStyle="ButtonRenderStyle.Info" RenderStyleMode="@ButtonRenderStyleMode.Outline" IconCssClass="fa-solid fa-floppy-disk" Text="Save" SubmitFormOnClick="true" Click="OnSave"></DxButton>
                                                <DxButton RenderStyle="ButtonRenderStyle.Danger" RenderStyleMode="@ButtonRenderStyleMode.Outline" IconCssClass="fa-solid fa-xmark" Text="Discard" SubmitFormOnClick="true" Click="OnCancel"></DxButton>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </EditForm>
                        }
                    </div>
                </div>
            </div>
        </section>
    </div>
}