@page "/clinic-service/medical-checkups"
@rendermode InteractiveServer

<PageTitle>@Helper.APP_NAME - Medical Checkup</PageTitle>

@if (IsAccess)
{
    <BaseHeaderPage Title="Medical Checkup" OnClickBack="@(async () => await LoadData())" ShowBackButton="ShowForm" />

    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col">
                    @if (!ShowForm)
                    {
                        <div class="card">
                            <InputFile id="fileInput" style="display:none" OnChange="@ImportExcelFile" accept=".xlsx" multiple="false"></InputFile>
                            <DxLoadingPanel @bind-Visible="IsLoading"
                                            IndicatorAnimationType="WaitIndicatorAnimationType.Pulse"
                                            IsContentBlocked="true"
                                            ApplyBackgroundShading="true"
                                            IndicatorAreaVisible="false"
                                            Text="Fetching Data...">

                                <DxToolbar>
                                    <Items>
                                        <DxToolbarItem Click="@(() => IsDashboard = true)" Tooltip="Dashboard" Alignment="ToolbarItemAlignment.Right" IconCssClass="fa-solid fa-table-columns" />
                                        <DxToolbarItem Click="@(() => IsDashboard = false)" Tooltip="List" Alignment="ToolbarItemAlignment.Right" IconCssClass="fa-solid fa-list" />
                                    </Items>
                                </DxToolbar>

                                @if (!IsDashboard)
                                {
                                    <MyGrid @ref="Grid"
                                            KeyFieldName="Id"
                                            Data="GeneralConsultanServices"
                                            @bind-SelectedDataItems="@SelectedDataItems"
                                            DataItemDeleting="OnDeleting"
                                            FocusedRowChanged="Grid_FocusedRowChanged"
                                            RowDoubleClick="EditItem_Click">

                                        <ToolbarTemplate>
                                            <MyDxToolbarBase Grid="Grid"
                                                             TItem="GeneralConsultanServiceDto"
                                                             Items="@GeneralConsultanServices"
                                                             SelectedDataItems="@SelectedDataItems"
                                                             NewItem_Click="@NewItem_Click"
                                                             EditItem_Click="@EditItem_Click"
                                                             DeleteItem_Click="@DeleteItem_Click"
                                                             Refresh_Click="@(async () => await LoadData())"
                                                             IsImport="true"
                                                             ImportFile="ImportFile"
                                                             ExportToExcel="ExportToExcel"
                                                             VisibleNew="UserAccessCRUID.IsCreate"
                                                             VisibleEdit="UserAccessCRUID.IsUpdate"
                                                             VisibleDelete="UserAccessCRUID.IsDelete" />
                                        </ToolbarTemplate>

                                        <Columns>
                                            <DxGridSelectionColumn Width="15px" />
                                            <DxGridDataColumn MinWidth="200"
                                                              FieldName="RegistrationDate"
                                                              FilterRowOperatorType="GridFilterRowOperatorType.Contains"
                                                              DisplayFormat="ddd, dd MMM yyyy"
                                                              Caption="Registration Date" />
                                            <DxGridDataColumn MinWidth="200" FieldName="Patient.Name" Caption="Patient" />
                                            <DxGridDataColumn MinWidth="200" FieldName="Pratitioner.Name" Caption="Doctor" />
                                            <DxGridDataColumn MinWidth="200" FieldName="Service.Name" Caption="Service" />
                                            <DxGridDataColumn MinWidth="200" FieldName="MedexType" Caption="Medex Type" />
                                            <DxGridDataColumn MinWidth="200" FieldName="IsBatamString" Caption="Location" />
                                            <DxGridDataColumn MinWidth="200" FieldName="StatusMcuName" Caption="Status" />
                                        </Columns>
                                    </MyGrid>
                                }
                                else
                                {
                                    <DxPieChart Data="@statusMcuData"
                                                T="StatusMcuData"
                                                Diameter="null">
                                        <DxPieChartSeries T="StatusMcuData"
                                                          TArgument="string"
                                                          TValue="int"
                                                          ArgumentField="s => s.Status"
                                                          SummaryMethod="Enumerable.Sum"
                                                          ValueField="s => s.Count">
                                            <DxChartSeriesLabel Visible="true"
                                                                Position="RelativePosition.Outside">
                                                <DxChartSeriesLabelConnector Visible="true" />
                                            </DxChartSeriesLabel>
                                        </DxPieChartSeries>
                                        <DxChartTooltip Enabled="true"
                                                        Position="RelativePosition.Outside">
                                            <div style="margin: 0.75rem">
                                                <div class="fw-bold">@context.Point.Argument</div>
                                                <div>Total: @($"{context.Point.Value}")</div>
                                            </div>
                                        </DxChartTooltip>
                                        <DxChartTitle Text="Medical Checkup">
                                            <DxChartSubTitle Text="Sorted by Status" />
                                        </DxChartTitle>
                                        <DxChartLegend HorizontalAlignment="HorizontalAlignment.Center"
                                                       VerticalAlignment="VerticalEdge.Bottom"
                                                       Position="RelativePosition.Outside"
                                                       Orientation="Orientation.Horizontal" />
                                    </DxPieChart>
                                }
                            </DxLoadingPanel>
                        </div>
                    }
                    else
                    {
                        <DxLoadingPanel @bind-Visible="IsLoading"
                                        IsContentBlocked="true"
                                        CssClass="w-100"
                                        ApplyBackgroundShading="true">
                            <EditForm Model="GeneralConsultanService" Context="EditForm" OnValidSubmit="OnValidSubmitSave" OnInvalidSubmit="OnInvalidSubmitSave">
                                <DataAnnotationsValidator />

                                @if (GeneralConsultanService.Id != 0)
                                {
                                    <div class="row justify-content-end mb-3">
                                        <div class="col-auto align-self-end">
                                            @if (GeneralConsultanService.IsBatam)
                                            {
                                                <DxTabs>
                                                    <DxTab Text="@EnumStatusMCU.Draft.GetDisplayName()" Enabled="@IsStatus(EnumStatusMCU.Draft)"></DxTab>
                                                    <DxTab Text="@EnumStatusMCU.HRCandidat.GetDisplayName()" Enabled="@IsStatus(EnumStatusMCU.HRCandidat)"></DxTab>
                                                    <DxTab Text="@EnumStatusMCU.Examination.GetDisplayName()" Enabled="@IsStatus(EnumStatusMCU.Examination)"></DxTab>
                                                    <DxTab Text="@EnumStatusMCU.Result.GetDisplayName()" Enabled="@IsStatus(EnumStatusMCU.Result)"></DxTab>
                                                    <DxTab Text="@EnumStatusMCU.Done.GetDisplayName()" Enabled="@IsStatus(EnumStatusMCU.Done)"></DxTab>
                                                </DxTabs>
                                            }
                                            else
                                            {
                                                <DxTabs>
                                                    <DxTab Text="@EnumStatusMCU.Draft.GetDisplayName()" Enabled="@IsStatus(EnumStatusMCU.Draft)"></DxTab>
                                                    <DxTab Text="@EnumStatusMCU.EmployeeTest.GetDisplayName()" Enabled="@IsStatus(EnumStatusMCU.EmployeeTest)"></DxTab>
                                                    <DxTab Text="@EnumStatusMCU.HRCandidat.GetDisplayName()" Enabled="@IsStatus(EnumStatusMCU.HRCandidat)"></DxTab>
                                                    <DxTab Text="@EnumStatusMCU.Examination.GetDisplayName()" Enabled="@IsStatus(EnumStatusMCU.Examination)"></DxTab>
                                                    <DxTab Text="@EnumStatusMCU.Result.GetDisplayName()" Enabled="@IsStatus(EnumStatusMCU.Result)"></DxTab>
                                                    <DxTab Text="@EnumStatusMCU.Done.GetDisplayName()" Enabled="@IsStatus(EnumStatusMCU.Done)"></DxTab>
                                                </DxTabs>
                                            }
                                        </div>
                                    </div>
                                    @if (!GeneralConsultanService.StatusMCU.Equals(EnumStatusMCU.Done))
                                    {
                                        <div class="card">
                                            <div class="card-body">
                                                <div class="w-100">
                                                    <div class="col align-self-center">
                                                        @{
                                                            var text = StagingText;
                                                            if (IsStatus(EnumStatusMCU.Draft))
                                                            {
                                                                text = "Confirm";
                                                            }
                                                            else if (IsStatus(EnumStatusMCU.EmployeeTest))
                                                            {
                                                                text = "Posted";
                                                            }
                                                        }
                                                        @if (UserLogin.IsHr && (IsStatus(EnumStatusMCU.EmployeeTest) || IsStatus(EnumStatusMCU.Draft) || IsStatus(EnumStatusMCU.HRCandidat)))
                                                        {
                                                            <DxButton IconCssClass="fa-solid fa-check" Text="@text" Click="OnClickConfirm" RenderStyle="ButtonRenderStyle.Primary"></DxButton>
                                                        }
                                                        else if (UserLogin.IsDoctor && (IsStatus(EnumStatusMCU.Result) || IsStatus(EnumStatusMCU.Done)))
                                                        {
                                                            <DxButton IconCssClass="fa-solid fa-check" Text="@StagingText" Click="OnClickConfirm" RenderStyle="ButtonRenderStyle.Primary"></DxButton>
                                                        }
                                                        else if (UserLogin.IsMcu && (IsStatus(EnumStatusMCU.Examination)))
                                                        {
                                                            <DxButton IconCssClass="fa-solid fa-check" Text="@StagingText" Click="OnClickConfirm" RenderStyle="ButtonRenderStyle.Primary"></DxButton>
                                                        }
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                }

                                @if (IsStatus(EnumStatusMCU.Result))
                                {
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="w-100">
                                                <DxToolbar Title="Actions" ItemRenderStyleMode="ToolbarRenderStyleMode.Contained" AdaptivityMinRootItemCount="2" AdaptivityAutoHideRootItems="true" AdaptivityAutoCollapseItemsToIcons="true">
                                                    <Items>
                                                        <DxToolbarItem IconCssClass="fa-solid fa-notes-medical"
                                                                       Click="OnReferToClick"
                                                                       Text="Refer To" />
                                                    </Items>
                                                </DxToolbar>
                                            </div>
                                        </div>
                                    </div>
                                }

                                <div class="card">
                                    <div class="card-header">
                                        <span class="fw-bolder">@(GeneralConsultanService.Id == 0 ? "Add Medical Checkup Information" : "Medical Checkup Information")</span>
                                    </div>

                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-md-6">
                                                @{
                                                    if (GeneralConsultanService.Patient is null)
                                                    {
                                                        GeneralConsultanService.Patient = new();
                                                    }
                                                }
                                                <DxFormLayout Enabled="false">
                                                    <DxFormLayoutItem CaptionCssClass="required-caption normal-caption normal-caption" Caption="Patient" ColSpanMd="12">
                                                        <MyDxComboBox ReadOnly="@(!GeneralConsultanService.Status.Equals(EnumStatusGeneralConsultantService.Planned))"
                                                                      Data="@Patients"
                                                                      NullText="Select Patient..."
                                                                      @bind-Value="@GeneralConsultanService.PatientId"
                                                                      TextFieldName="Name"
                                                                      SelectedItemChanged="@((UserDto e) => SelectedItemPatientChanged(e))"
                                                                      ValueFieldName="Id">
                                                        </MyDxComboBox>
                                                        <ValidationMessage For="@(() => GeneralConsultanService.PatientId)"   />
                                                    </DxFormLayoutItem>

                                                    <DxFormLayoutItem CaptionCssClass="normal-caption" Caption="Medical Record" ColSpanMd="12">
                                                        <DxTextBox @bind-Text="(GeneralConsultanService.Patient.NoRm)" NullText="Medical Record Number" ReadOnly InputCssClass="fw-normal" />
                                                    </DxFormLayoutItem>

                                                    <DxFormLayoutItem CaptionCssClass="normal-caption" Caption="Identity Number" ColSpanMd="12">
                                                        <DxTextBox @bind-Text="(GeneralConsultanService.Patient.NoId)" NullText="Identity Number" ReadOnly InputCssClass="fw-normal" />
                                                    </DxFormLayoutItem>

                                                    <DxFormLayoutItem CaptionCssClass="required-caption normal-caption" Caption="Current Mobile" ColSpanMd="12">
                                                        <DxMaskedInput @bind-Value="@UserForm.CurrentMobile"
                                                                       ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
                                                                       NullText="Current Mobile" 
                                                                       ShowValidationIcon="true">
                                                        </DxMaskedInput>
                                                        <ValidationMessage For="@(() => UserForm.MobilePhone)"   />
                                                    </DxFormLayoutItem>

                                                    <DxFormLayoutItem CaptionCssClass="normal-caption" Caption="Age" ColSpanMd="12">
                                                        <Template>
                                                            <DxGridLayout>
                                                                <Rows>
                                                                    <DxGridLayoutRow />
                                                                </Rows>
                                                                <Columns>
                                                                    <DxGridLayoutColumn Width="90%" />
                                                                    <DxGridLayoutColumn Width="30%" />
                                                                </Columns>
                                                                <Items>
                                                                    <DxGridLayoutItem Row="0" Column="0" CssClass="mt">
                                                                        <Template>
                                                                            <DxSpinEdit MinValue="0" @bind-Value="@GeneralConsultanService.Age" NullText="Age" ReadOnly InputCssClass="fw-normal" />
                                                                        </Template>
                                                                    </DxGridLayoutItem>
                                                                    <DxGridLayoutItem Row="0" Column="1" CssClass="mt ml">
                                                                        <Template>
                                                                            <h6 class="pl-1 pt-2 normal-caption">Year</h6>
                                                                        </Template>
                                                                    </DxGridLayoutItem>
                                                                </Items>
                                                            </DxGridLayout>

                                                        </Template>
                                                    </DxFormLayoutItem>

                                                    <DxFormLayoutItem CaptionCssClass="required-caption normal-caption" Caption="Reg. Type" ColSpanMd="12">
                                                        <MyDxComboBox Data="@RegisType"
                                                                      ReadOnly
                                                                      NullText="Select Registration Type..."
                                                                      AllowUserInput="true"
                                                                      @bind-Value="@GeneralConsultanService.TypeRegistration">
                                                        </MyDxComboBox>
                                                        <ValidationMessage For="@(() => GeneralConsultanService.TypeRegistration)" />
                                                    </DxFormLayoutItem>

                                                    <DxFormLayoutItem CaptionCssClass="required-caption normal-caption" Caption="Registration Date" ColSpanMd="12">
                                                        <DxDateEdit @bind-Date="@GeneralConsultanService.RegistrationDate"
                                                                    Mask="@DateTimeMask.ShortDate"
                                                                    NullText="Select Registration Date">
                                                        </DxDateEdit>
                                                    </DxFormLayoutItem>
                                                </DxFormLayout>
                                            </div>

                                            <div class="col-md-6">
                                                <DxFormLayout Enabled="true">

                                                    <DxFormLayoutItem CaptionCssClass="required-caption normal-caption" Caption="Service" ColSpanMd="12">
                                                        <MyDxComboBox Data="@Services"
                                                                      NullText="Select Service.."
                                                                      SelectedItemChanged="@((ServiceDto e) => SelectedItemServiceChanged(e))"
                                                                      @bind-Value="@GeneralConsultanService.ServiceId"
                                                                      TextFieldName="Name"
                                                                      ValueFieldName="Id">
                                                        </MyDxComboBox>
                                                        <ValidationMessage For="@(() => GeneralConsultanService.ServiceId)" />
                                                    </DxFormLayoutItem>

                                                    <DxFormLayoutItem CaptionCssClass="normal-caption" Caption="Physicion" ColSpanMd="12">
                                                        <MyDxComboBox Data="@Physicions"
                                                                      NullText="Select Physicion..."
                                                                      @bind-Value="@GeneralConsultanService.PratitionerId"
                                                                      TextFieldName="Name"
                                                                      ValueFieldName="Id">
                                                        </MyDxComboBox>
                                                        <ValidationMessage For="@(() => GeneralConsultanService.PratitionerId)" />
                                                    </DxFormLayoutItem>

                                                    <DxFormLayoutItem CaptionCssClass="required-caption normal-caption" Caption="MCU Type" ColSpanMd="12">
                                                        <MyDxComboBox Data="@MCUType"
                                                                      NullText="Select MCU Type..."
                                                                      AllowUserInput="true"
                                                                      @bind-Value="@GeneralConsultanService.TypeMedical">
                                                        </MyDxComboBox>
                                                        <ValidationMessage For="@(() => GeneralConsultanService.TypeMedical)" />
                                                    </DxFormLayoutItem>

                                                    <DxFormLayoutItem CaptionCssClass="required-caption normal-caption" Caption="Medex Type" ColSpanMd="12">
                                                        <MyDxComboBox Data="@MedexType"
                                                                      NullText="Select Medex Type..."
                                                                      AllowUserInput="true"
                                                                      @bind-Value="@GeneralConsultanService.MedexType">
                                                        </MyDxComboBox>
                                                        <ValidationMessage For="@(() => GeneralConsultanService.MedexType)" />
                                                    </DxFormLayoutItem>

                                                    <DxFormLayoutItem CaptionCssClass="normal-caption" Caption="Candidate From" ColSpanMd="12">
                                                        <DxCheckBox CssClass="normal-caption" @bind-Checked="@GeneralConsultanService.IsBatam">
                                                            <div class="normal-caption">Batam</div>
                                                        </DxCheckBox>
                                                        <DxCheckBox @bind-Checked="@(GeneralConsultanService.IsOutsideBatam)">
                                                            <div class="normal-caption">Outside Batam</div>
                                                        </DxCheckBox>
                                                    </DxFormLayoutItem>

                                                    <DxFormLayoutItem CaptionCssClass="normal-caption" Caption="Examination Docs" ColSpanMd="12">
                                                        <DxMaskedInput @bind-Value="@GeneralConsultanService.McuExaminationDocs"
                                                                       ShowValidationIcon="true"
                                                                       ReadOnly="true"
                                                                       MaskMode="MaskMode.RegEx">
                                                            <Buttons>
                                                                <InputFile id="file" OnChange="@SelectFiles" multiple="false" style="display:none" />
                                                                <DxEditorButton Click="SelectFile" IconCssClass="fa-solid fa-upload" />
                                                                <DxEditorButton Click="() => DownloadFile(GeneralConsultanService.McuExaminationDocs)"
                                                                                IconCssClass="fa-solid fa-download" />
                                                                <DxEditorButton Click="RemoveSelectedFile" IconCssClass="fa-solid fa-trash" />
                                                            </Buttons>
                                                        </DxMaskedInput>
                                                    </DxFormLayoutItem>
                                                </DxFormLayout>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                @if (!string.IsNullOrEmpty(GeneralConsultanService.McuExaminationBase64))
                                {
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <DxFormLayout Enabled="true">

                                                        <DxFormLayoutItem ColSpanMd="12">
                                                            <MyTextBox @bind-Text="GeneralConsultanService.McuExaminationBase64"></MyTextBox>
                                                            <iframe src="@($"data:application/pdf;base64,{GeneralConsultanService.McuExaminationBase64}")" style="width: 100%; height: 500px;" frameborder="0"></iframe>
                                                        </DxFormLayoutItem>

                                                    </DxFormLayout>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }

                                @* <div class="card">
                        <div class="card-header">
                        <span class="fw-bolder">Nature Of Injury</span>
                        </div>
                        </div> *@

                                @if (!GeneralConsultanService.StatusMCU.Equals(EnumStatusMCU.Done))
                                {
                                    <div class="row  justify-content-end mb-2 mt-2">
                                        <div class="col-auto align-self-end">

                                            <DxButton RenderStyle="ButtonRenderStyle.Primary" IconCssClass="fa-solid fa-floppy-disk" Text="Save" SubmitFormOnClick="true" />

                                            <DxButton RenderStyle="ButtonRenderStyle.Danger" IconCssClass="fa-solid fa-xmark" Text="Cancel" Click="@(async () => await LoadData())"></DxButton>
                                        </div>
                                    </div>
                                }
                            </EditForm>

                        </DxLoadingPanel>

                    }

                </div>
            </div>
        </div>
    </section>
}
else
{
    <LoadingIndicatorLayout />
}

@* <DxPopup HeaderText="Follow Up" @bind-Visible="@IsFollowUp" HeaderCssClass="fw-bold" CloseOnOutsideClick="false" Closed="CloseFollowUpClick" Width="90%">
    <DxLoadingPanel @bind-Visible="IsLoadingFollowUp"
                    IndicatorAnimationType="WaitIndicatorAnimationType.Pulse"
                    IsContentBlocked="true"
                    ApplyBackgroundShading="true"
                    IndicatorAreaVisible="false"
                    Text="Fetching Data...">
        <EditForm Model="@FollowUpGeneralConsultanService" Context="EditFormContext2" OnValidSubmit="@HandleValidSubmitFollowUp" OnInvalidSubmit="@HandleInvalidSubmit">
            <DataAnnotationsValidator />

            <div class="card ">
                <div class="card-body">
                    <div class="w-100">
                        <div class="row w-100">
                            <div class="col-md-12 align-self-center">
                                <DxButton Enabled="!IsLoading" RenderStyle="ButtonRenderStyle.Primary" RenderStyleMode="@ButtonRenderStyleMode.Contained" IconCssClass="fa-solid fa-floppy-disk" Text="Save" SubmitFormOnClick="true"></DxButton>
                                <DxButton RenderStyle="ButtonRenderStyle.Danger" RenderStyleMode="@ButtonRenderStyleMode.Contained" IconCssClass="fa-solid fa-xmark" Text="Discard" Click="@(() => IsFollowUp = false)"></DxButton>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="w-100">
                <div class="w-100">
                    <div class="card">
                        <div class="card-header">
                            <span class="fw-bolder">General Consultation Service Information</span>
                        </div>

                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-6">
                                    @{
                                        if (FollowUpGeneralConsultanService.Patient is null)
                                        {
                                            FollowUpGeneralConsultanService.Patient = new();
                                        }
                                    }
                                    <DxFormLayout>
                                        <DxFormLayoutItem CaptionCssClass="required-caption normal-caption normal-caption" Caption="Patient" ColSpanMd="12">
                                            <MyDxComboBox ReadOnly
                                                          Data="@Patients"
                                                          NullText="Select Patient..."
                                                          @bind-Value="@FollowUpGeneralConsultanService.PatientId"
                                                          TextFieldName="Name"
                                                          SelectedItemChanged="@((UserDto e) => SelectedItemPatientChangedFollowUp(e))"
                                                          ValueFieldName="Id">
                                            </MyDxComboBox>
                                            <ValidationMessage For="@(() => FollowUpGeneralConsultanService.PatientId)"   />
                                        </DxFormLayoutItem>
                                        <DxFormLayoutItem CaptionCssClass="normal-caption" Caption="Medical Record" ColSpanMd="12">
                                            <DxTextBox @bind-Text="(FollowUpGeneralConsultanService.Patient.NoRm)" NullText="Medical Record Number" ReadOnly InputCssClass="fw-normal" />

                                        </DxFormLayoutItem>
                                        <DxFormLayoutItem CaptionCssClass="normal-caption" Caption="Identity Number" ColSpanMd="12">
                                            <DxTextBox @bind-Text="(FollowUpGeneralConsultanService.Patient.NoId)" NullText="Identity Number" ReadOnly InputCssClass="fw-normal" />
                                        </DxFormLayoutItem>
                                        <DxFormLayoutItem CaptionCssClass="normal-caption" Caption="Age" ColSpanMd="12">
                                            <Template>
                                                <DxGridLayout>
                                                    <Rows>
                                                        <DxGridLayoutRow />
                                                    </Rows>
                                                    <Columns>
                                                        <DxGridLayoutColumn Width="90%" />
                                                        <DxGridLayoutColumn Width="10%" />
                                                    </Columns>
                                                    <Items>
                                                        <DxGridLayoutItem Row="0" Column="0" CssClass="mt">
                                                            <Template>
                                                                <DxSpinEdit MinValue="0" @bind-Value="@FollowUpGeneralConsultanService.Age" NullText="Age" ReadOnly InputCssClass="fw-normal" />
                                                            </Template>
                                                        </DxGridLayoutItem>
                                                        <DxGridLayoutItem Row="0" Column="1" CssClass="mt ml">
                                                            <Template>
                                                                <h6 class="pl-1 pt-2 normal-caption">Year</h6>
                                                            </Template>
                                                        </DxGridLayoutItem>
                                                    </Items>
                                                </DxGridLayout>

                                            </Template>
                                        </DxFormLayoutItem>
                                        <DxFormLayoutItem CaptionCssClass="required-caption normal-caption" Caption="Reg Type" ColSpanMd="12">
                                            <MyDxComboBox ReadOnly
                                                          Data="@RegisType"
                                                          NullText="Select Registration..."
                                                          AllowUserInput="true"
                                                          SelectedItemChanged="@((string city) => SelectedItemRegisTypeChangedFollowUp(city))"
                                                          @bind-Value="@FollowUpGeneralConsultanService.TypeRegistration">
                                            </MyDxComboBox>
                                            <ValidationMessage For="@(() => FollowUpGeneralConsultanService.TypeRegistration)" />
                                        </DxFormLayoutItem>
                                        <DxFormLayoutItem Visible="@(!string.IsNullOrWhiteSpace(FollowUpGeneralConsultanService.TypeRegistration) && !FollowUpGeneralConsultanService.TypeRegistration.Equals("General Consultation"))"
                                                          CaptionCssClass="required-caption normal-caption"
                                                          Caption="Medical Type" ColSpanMd="12">
                                            <MyDxComboBox ReadOnly="@(!FollowUpGeneralConsultanService.Status.Equals(EnumStatusGeneralConsultantService.Planned))"
                                                          Data="@Method"
                                                          NullText="Select Method..."
                                                          @bind-Value="@FollowUpGeneralConsultanService.TypeMedical">
                                            </MyDxComboBox>
                                        </DxFormLayoutItem>

                                        <DxFormLayoutItem CaptionCssClass="normal-caption" Caption="Alert Information Special Case" ColSpanMd="12">
                                            <DxCheckBox ReadOnly="@(!FollowUpGeneralConsultanService.Status.Equals(EnumStatusGeneralConsultantService.Planned))" @bind-Checked="@FollowUpGeneralConsultanService.IsAlertInformationSpecialCase" />
                                        </DxFormLayoutItem>
                                        <DxFormLayoutItem Visible="@(FollowUpGeneralConsultanService.Status.Equals(EnumStatusGeneralConsultantService.Physician))" CaptionCssClass="required-caption normal-caption" Caption="Return Status" ColSpanMd="12">
                                            <MyDxComboBox Data="@_homeStatusTemps"
                                                          NullText="Return Status..."
                                                          ReadOnly="@(!FollowUpGeneralConsultanService.Status.Equals(EnumStatusGeneralConsultantService.Physician) || FollowUpGeneralConsultanService.Status.Equals(EnumStatusGeneralConsultantService.Finished))"
                                                          @bind-Value="@FollowUpGeneralConsultanService.HomeStatus"
                                                          TextFieldName="Name"
                                                          ValueFieldName="Code">
                                            </MyDxComboBox>
                                        </DxFormLayoutItem>
                                    </DxFormLayout>
                                </div>
                                <div class="col-md-6">
                                    <DxFormLayout>
                                        <DxFormLayoutItem CaptionCssClass="normal-caption" Caption="Patient Type" ColSpanMd="12">
                                            <MyDxComboBox Data="@ClassTypes"
                                                          NullText="Select Patient Type.."
                                                          ReadOnly="@(!FollowUpGeneralConsultanService.Status.Equals(EnumStatusGeneralConsultantService.Planned))"
                                                          TextFieldName="Name" ValueFieldName="Id"
                                                          @bind-Value="@FollowUpGeneralConsultanService.ClassType">
                                            </MyDxComboBox>
                                            <ValidationMessage For="@(() => FollowUpGeneralConsultanService.ClassType)" />
                                        </DxFormLayoutItem>
                                        <DxFormLayoutItem CaptionCssClass="required-caption normal-caption" Caption="Service" ColSpanMd="12">
                                            <MyDxComboBox Data="@Services"
                                                          NullText="Select Service.."
                                                          ReadOnly="@(!FollowUpGeneralConsultanService.Status.Equals(EnumStatusGeneralConsultantService.Planned))"
                                                          SelectedItemChanged="@((ServiceDto e) => SelectedItemServiceChangedFollowUp(e))"
                                                          @bind-Value="@FollowUpGeneralConsultanService.ServiceId" TextFieldName="Name" ValueFieldName="Id">
                                            </MyDxComboBox>
                                            <ValidationMessage For="@(() => FollowUpGeneralConsultanService.ServiceId)" />
                                        </DxFormLayoutItem>
                                        <DxFormLayoutItem CaptionCssClass="normal-caption" Caption="Physicion" ColSpanMd="12">
                                            <MyDxComboBox Data="@Physicions"
                                                          NullText="Select Physicion..."
                                                          @bind-Value="@FollowUpGeneralConsultanService.PratitionerId"
                                                          ReadOnly="@(!FollowUpGeneralConsultanService.Status.Equals(EnumStatusGeneralConsultantService.Planned))"
                                                          TextFieldName="Name"
                                                          ValueFieldName="Id"
                                                          InputId="CbDoctoreName">
                                            </MyDxComboBox>
                                            <ValidationMessage For="@(() => FollowUpGeneralConsultanService.PratitionerId)" />
                                        </DxFormLayoutItem>
                                        <DxFormLayoutItem CaptionCssClass="required-caption normal-caption" Caption="Payment Method" ColSpanMd="12">
                                            <MyDxComboBox Data="@Payments"
                                                          NullText="Payment Method.."
                                                          ReadOnly="@(!FollowUpGeneralConsultanService.Status.Equals(EnumStatusGeneralConsultantService.Planned))"
                                                          SelectedItemChanged="@((string e) => SelectedItemPaymentChangedFollowUp(e))"
                                                          @bind-Value="FollowUpGeneralConsultanService.Payment">

                                            </MyDxComboBox>
                                            <ValidationMessage For="@(() => FollowUpGeneralConsultanService.Payment)" />
                                        </DxFormLayoutItem>
                                        @if (FollowUpGeneralConsultanService.Payment == "Insurance" || FollowUpGeneralConsultanService.Payment == "BPJS")
                                        {
                                            <DxFormLayoutItem CaptionCssClass="required-caption normal-caption" Caption="Insurance Policy" ColSpanMd="12">
                                                <MyDxComboBox ReadOnly="@(!FollowUpGeneralConsultanService.Status.Equals(EnumStatusGeneralConsultantService.Planned))"
                                                              Data="@FollowUpInsurancePolicies"
                                                              SelectedItemChanged="@((InsurancePolicyDto? e) => SelectedItemInsurancePolicyChangedFollowUp(e))"
                                                              @bind-Value="@SelectedInsurancePolicyFollowUp"
                                                              NullText="Select Insurance Policy..."
                                                              EditFormat="{0} - {1}">
                                                    <Columns>
                                                        <DxListEditorColumn FieldName="@nameof(InsurancePolicyDto.PolicyNumber)"
                                                                            Caption="No Card" />

                                                        <DxListEditorColumn FieldName="Insurance.Name"
                                                                            Caption="Insurance Company" />
                                                    </Columns>
                                                </MyDxComboBox>
                                            </DxFormLayoutItem>
                                        }

                                        <DxFormLayoutItem CaptionCssClass="required-caption normal-caption" Caption="Follow Up" ColSpanMd="12">
                                            <DxDateEdit @bind-Date="@FollowUpGeneralConsultanService.AppointmentDate"
                                                        Mask="@DateTimeMask.ShortDate"
                                                        NullText="Select Follow Up Date">
                                            </DxDateEdit>
                                            <ValidationMessage For="@(() => FollowUpGeneralConsultanService.AppointmentDate)" />
                                        </DxFormLayoutItem>
                                    </DxFormLayout>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </EditForm>
    </DxLoadingPanel>
</DxPopup> *@

@* <div>
    <canvas id="signature-pad" width="1000" height="1000" style="border: 2px solid #000;"></canvas>
    <div>
        <button @onclick="ClearCanvas">Clear</button>
        <button @onclick="SaveCanvas">Save</button>
    </div>
</div> *@

<DxPopup Context="P" HeaderText="Refer To" @bind-Visible="@IsReferTo" HeaderCssClass="fw-bold" CloseOnOutsideClick="false" Closing="CloseReferTo" Width="90%" HorizontalAlignment="HorizontalAlignment.Center" VerticalAlignment="VerticalAlignment.Center">
    <BodyContentTemplate>
        <div class="popup-content">
            <DxFormLayout CssClass="100">
                <DxFormLayout CssClass="w-100">
                    <DxFormLayoutItem CaptionCssClass="normal-caption" Caption="Refer Type" ColSpanMd="6">
                        <MyDxComboBox Data="@RujukanTypes"
                                      NullText="Select Refer Type..."
                                      @bind-Value="SelectedRujukanType">
                        </MyDxComboBox>
                    </DxFormLayoutItem>

                    <DxFormLayoutItem CaptionCssClass="normal-caption" Caption=" " ColSpanMd="6">

                    </DxFormLayoutItem>

                    @if (SelectedRujukanType is not null && SelectedRujukanType.Equals(RujukanTypes.ToList()[1]))
                    {
                        <DxFormLayoutItem CaptionCssClass="normal-caption" Caption="Refer" ColSpanMd="6">
                            <MyDxComboBox Data="@RujukanExtenalVertical"
                                          NullText="Select Refer Vertical Type..."
                                          @bind-Value="SelectedRujukanVertical">
                            </MyDxComboBox>
                        </DxFormLayoutItem>
                    }
                </DxFormLayout>

                <hr />

                @if (!string.IsNullOrWhiteSpace(SelectedRujukanType) || !string.IsNullOrWhiteSpace(SelectedRujukanVertical))
                {
                    <DxFormLayout CssClass="w-100">
                        @if (SelectedRujukanType is not null && SelectedRujukanType.Equals(RujukanTypes.ToList()[0]))
                        {
                            <DxLoadingPanel @bind-Visible="IsLoadingFollowUp"
                                            IndicatorAnimationType="WaitIndicatorAnimationType.Pulse"
                                            IsContentBlocked="true"
                                            ApplyBackgroundShading="true"
                                            IndicatorAreaVisible="false"
                                            Text="Fetching Data...">
                                <EditForm Model="@ReferToGeneralConsultanService" Context="EditFormContext2" OnValidSubmit="@HandleValidSubmitFollowUp" OnInvalidSubmit="@HandleInvalidSubmit">
                                    <DataAnnotationsValidator />

                                    <div class="card ">
                                        <div class="card-body">
                                            <div class="w-100">
                                                <div class="row w-100">
                                                    <div class="col-md-12 align-self-center">
                                                        <DxButton RenderStyle="ButtonRenderStyle.Primary" RenderStyleMode="@ButtonRenderStyleMode.Contained" IconCssClass="fa-solid fa-floppy-disk" Text="Save" SubmitFormOnClick="true"></DxButton>
                                                        <DxButton RenderStyle="ButtonRenderStyle.Danger" RenderStyleMode="@ButtonRenderStyleMode.Contained" IconCssClass="fa-solid fa-xmark" Text="Cancel" Click="@(() => IsReferTo = false)"></DxButton>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="w-100">
                                        <div class="w-100">
                                            <div class="card">
                                                <div class="card-header">
                                                    <span class="fw-bolder">General Consultation Service Information</span>
                                                </div>

                                                <div class="card-body">
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            @{
                                                                if (ReferToGeneralConsultanService.Patient is null)
                                                                {
                                                                    ReferToGeneralConsultanService.Patient = new();
                                                                }

                                                                if (ServicesReferTo is not null && ServicesReferTo.Count > 0)
                                                                {
                                                                    ReferToGeneralConsultanService.ServiceId = ServicesReferTo.FirstOrDefault()?.Id ?? null;
                                                                }
                                                            }
                                                            <DxFormLayout>
                                                                <DxFormLayoutItem CaptionCssClass="required-caption normal-caption normal-caption" Caption="Patient" ColSpanMd="12">
                                                                    <MyDxComboBox ReadOnly
                                                                                  Data="@Patients"
                                                                                  NullText="Select Patient..."
                                                                                  @bind-Value="@ReferToGeneralConsultanService.PatientId"
                                                                                  TextFieldName="Name"
                                                                                  SelectedItemChanged="@((UserDto e) => SelectedItemPatientChangedReferTo(e))"
                                                                                  ValueFieldName="Id">
                                                                    </MyDxComboBox>
                                                                    <ValidationMessage For="@(() => ReferToGeneralConsultanService.PatientId)"   />
                                                                </DxFormLayoutItem>
                                                                <DxFormLayoutItem CaptionCssClass="normal-caption" Caption="Medical Record" ColSpanMd="12">
                                                                    <DxTextBox @bind-Text="(ReferToGeneralConsultanService.Patient.NoRm)" NullText="Medical Record Number" ReadOnly InputCssClass="fw-normal" />

                                                                </DxFormLayoutItem>
                                                                <DxFormLayoutItem CaptionCssClass="normal-caption" Caption="Identity Number" ColSpanMd="12">
                                                                    <DxTextBox @bind-Text="(ReferToGeneralConsultanService.Patient.NoId)" NullText="Identity Number" ReadOnly InputCssClass="fw-normal" />
                                                                </DxFormLayoutItem>
                                                                <DxFormLayoutItem CaptionCssClass="normal-caption" Caption="Age" ColSpanMd="12">
                                                                    <Template>
                                                                        <DxGridLayout>
                                                                            <Rows>
                                                                                <DxGridLayoutRow />
                                                                            </Rows>
                                                                            <Columns>
                                                                                <DxGridLayoutColumn Width="90%" />
                                                                                <DxGridLayoutColumn Width="10%" />
                                                                            </Columns>
                                                                            <Items>
                                                                                <DxGridLayoutItem Row="0" Column="0" CssClass="mt">
                                                                                    <Template>
                                                                                        <DxSpinEdit MinValue="0" @bind-Value="@ReferToGeneralConsultanService.Age" NullText="Age" ReadOnly InputCssClass="fw-normal" />
                                                                                    </Template>
                                                                                </DxGridLayoutItem>
                                                                                <DxGridLayoutItem Row="0" Column="1" CssClass="mt ml">
                                                                                    <Template>
                                                                                        <h6 class="pl-1 pt-2 normal-caption">Year</h6>
                                                                                    </Template>
                                                                                </DxGridLayoutItem>
                                                                            </Items>
                                                                        </DxGridLayout>

                                                                    </Template>
                                                                </DxFormLayoutItem>
                                                                <DxFormLayoutItem CaptionCssClass="required-caption normal-caption" Caption="Reg Type" ColSpanMd="12">
                                                                    <MyDxComboBox ReadOnly
                                                                                  Data="@RegisType"
                                                                                  NullText="Select Registration..."
                                                                                  AllowUserInput="true"
                                                                                  SelectedItemChanged="@((string city) => SelectedItemRegisTypeChangedReferTo(city))"
                                                                                  @bind-Value="@ReferToGeneralConsultanService.TypeRegistration">
                                                                    </MyDxComboBox>
                                                                    <ValidationMessage For="@(() => ReferToGeneralConsultanService.TypeRegistration)" />
                                                                </DxFormLayoutItem>
                                                                <DxFormLayoutItem Visible="@(!string.IsNullOrWhiteSpace(ReferToGeneralConsultanService.TypeRegistration) && !ReferToGeneralConsultanService.TypeRegistration.Equals("General Consultation"))"
                                                                                  CaptionCssClass="required-caption normal-caption"
                                                                                  Caption="Medical Type" ColSpanMd="12">
                                                                    <MyDxComboBox ReadOnly="@(!ReferToGeneralConsultanService.Status.Equals(EnumStatusGeneralConsultantService.Planned))"
                                                                                  Data="@Method"
                                                                                  NullText="Select Method..."
                                                                                  @bind-Value="@ReferToGeneralConsultanService.TypeMedical">
                                                                    </MyDxComboBox>
                                                                </DxFormLayoutItem>

                                                                <DxFormLayoutItem CaptionCssClass="normal-caption" Caption="Alert Information Special Case" ColSpanMd="12">
                                                                    <DxCheckBox ReadOnly="@(!ReferToGeneralConsultanService.Status.Equals(EnumStatusGeneralConsultantService.Planned))" @bind-Checked="@ReferToGeneralConsultanService.IsAlertInformationSpecialCase" />
                                                                </DxFormLayoutItem>
                                                                <DxFormLayoutItem Visible="@(ReferToGeneralConsultanService.Status.Equals(EnumStatusGeneralConsultantService.Physician))" CaptionCssClass="required-caption normal-caption" Caption="Return Status" ColSpanMd="12">
                                                                    <MyDxComboBox Data="@_homeStatusTemps"
                                                                                  NullText="Return Status..."
                                                                                  ReadOnly="@(!ReferToGeneralConsultanService.Status.Equals(EnumStatusGeneralConsultantService.Physician) || ReferToGeneralConsultanService.Status.Equals(EnumStatusGeneralConsultantService.Finished))"
                                                                                  @bind-Value="@ReferToGeneralConsultanService.HomeStatus"
                                                                                  TextFieldName="Name"
                                                                                  ValueFieldName="Code">
                                                                    </MyDxComboBox>
                                                                </DxFormLayoutItem>
                                                            </DxFormLayout>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <DxFormLayout>
                                                                <DxFormLayoutItem CaptionCssClass="normal-caption" Caption="Patient Type" ColSpanMd="12">
                                                                    <MyDxComboBox Data="@ClassTypes"
                                                                                  NullText="Select Patient Type.."
                                                                                  ReadOnly="@(!ReferToGeneralConsultanService.Status.Equals(EnumStatusGeneralConsultantService.Planned))"
                                                                                 
                                                                                  @bind-Value="@ReferToGeneralConsultanService.ClassType">
                                                                    </MyDxComboBox>
                                                                    <ValidationMessage For="@(() => ReferToGeneralConsultanService.ClassType)" />
                                                                </DxFormLayoutItem>
                                                                <DxFormLayoutItem CaptionCssClass="required-caption normal-caption" Caption="Service" ColSpanMd="12">
                                                                    <MyDxComboBox Data="@ServicesReferTo"
                                                                                  NullText="Select Service.."
                                                                                  ReadOnly
                                                                                  SelectedItemChanged="@((ServiceDto e) => SelectedItemServiceChangedReferTO(e))"
                                                                                  @bind-Value="@ReferToGeneralConsultanService.ServiceId" TextFieldName="Name" ValueFieldName="Id">
                                                                    </MyDxComboBox>
                                                                    <ValidationMessage For="@(() => ReferToGeneralConsultanService.ServiceId)" />
                                                                </DxFormLayoutItem>
                                                                <DxFormLayoutItem CaptionCssClass="normal-caption" Caption="Physicion" ColSpanMd="12">
                                                                    <MyDxComboBox Data="@Physicions"
                                                                                  NullText="Select Physicion..."
                                                                                  @bind-Value="@ReferToGeneralConsultanService.PratitionerId"
                                                                                  ReadOnly="@(!ReferToGeneralConsultanService.Status.Equals(EnumStatusGeneralConsultantService.Planned))"
                                                                                  TextFieldName="Name"
                                                                                  ValueFieldName="Id"
                                                                                  InputId="CbDoctoreName">
                                                                    </MyDxComboBox>
                                                                    <ValidationMessage For="@(() => ReferToGeneralConsultanService.PratitionerId)" />
                                                                </DxFormLayoutItem>
                                                                <DxFormLayoutItem CaptionCssClass="required-caption normal-caption" Caption="Payment Method" ColSpanMd="12">
                                                                    <MyDxComboBox Data="@Payments"
                                                                                  NullText="Payment Method.."
                                                                                  ReadOnly="@(!ReferToGeneralConsultanService.Status.Equals(EnumStatusGeneralConsultantService.Planned))"
                                                                                  SelectedItemChanged="@((string e) => SelectedItemPaymentChangedReferTo(e))"
                                                                                  @bind-Value="ReferToGeneralConsultanService.Payment">

                                                                    </MyDxComboBox>
                                                                    <ValidationMessage For="@(() => ReferToGeneralConsultanService.Payment)" />
                                                                </DxFormLayoutItem>
                                                                @if (ReferToGeneralConsultanService.Payment == "Insurance" || ReferToGeneralConsultanService.Payment == "BPJS")
                                                                {
                                                                    <DxFormLayoutItem CaptionCssClass="required-caption normal-caption" Caption="Insurance Policy" ColSpanMd="12">
                                                                        <MyDxComboBox ReadOnly="@(!ReferToGeneralConsultanService.Status.Equals(EnumStatusGeneralConsultantService.Planned))"
                                                                                      Data="@ReferToInsurancePolicies"
                                                                                      SelectedItemChanged="@((InsurancePolicyDto? e) => SelectedItemInsurancePolicyChangedReferTo(e))"
                                                                                      @bind-Value="@SelectedInsurancePolicyReferTo"
                                                                                      NullText="Select Insurance Policy..."
                                                                                      EditFormat="{0} - {1}">
                                                                            <Columns>
                                                                                <DxListEditorColumn FieldName="@nameof(InsurancePolicyDto.PolicyNumber)"
                                                                                                    Caption="No Card" />

                                                                                <DxListEditorColumn FieldName="Insurance.Name"
                                                                                                    Caption="Insurance Company" />
                                                                            </Columns>
                                                                        </MyDxComboBox>
                                                                    </DxFormLayoutItem>
                                                                }
                                                            </DxFormLayout>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </EditForm>

                            </DxLoadingPanel>
                        }
                        else if (SelectedRujukanVertical is not null)
                        {
                            <div class="w-100">
                                <div class="w-100">
                                    <div class="card">
                                        <div class="card-header">
                                            <span class="fw-bolder">Search for Referral Health Facilities</span>
                                        </div>

                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <DxFormLayout CssClass="w-100">
                                                        @if (SelectedRujukanVertical is not null && SelectedRujukanVertical.Equals(RujukanExtenalVertical.ToList()[0]))
                                                        {
                                                            <DxFormLayoutItem CaptionCssClass="required-caption normal-caption normal-caption" Caption="Category" ColSpanMd="12">
                                                                <MyDxComboBox Data="@SpesialisRefrensiKhusus"
                                                                              NullText="Select Category..."
                                                                              @bind-Value="@GeneralConsultanService.ReferVerticalKhususCategoryCode"
                                                                              TextFieldName="NmKhusus"
                                                                              ValueFieldName="KdKhusus">
                                                                </MyDxComboBox>
                                                            </DxFormLayoutItem>
                                                            <DxFormLayoutItem CaptionCssClass="normal-caption" Caption="Reason..." ColSpanMd="12">
                                                                <DxTextBox @bind-Text="@GeneralConsultanService.ReferReason" NullText="Reason..." InputCssClass="fw-normal" />
                                                            </DxFormLayoutItem>
                                                        }
                                                        else if (SelectedRujukanVertical is not null && SelectedRujukanVertical.Equals(RujukanExtenalVertical.ToList()[1]))
                                                        {
                                                            <DxFormLayoutItem CaptionCssClass="required-caption normal-caption normal-caption" Caption="Spesialis" ColSpanMd="12">
                                                                <MyDxComboBox Data="@SpesialisPs"
                                                                              NullText="Select Spesialis..."
                                                                              @bind-Value="@GeneralConsultanService.ReferVerticalSpesialisParentSpesialisCode"
                                                                              SelectedItemChanged="(SpesialisPCare e) => SelectedItemSpesialis(e)"
                                                                              TextFieldName="NmSpesialis"
                                                                              ValueFieldName="KdSpesialis">
                                                                </MyDxComboBox>
                                                            </DxFormLayoutItem>

                                                            <DxFormLayoutItem CaptionCssClass="normal-caption" Caption="Sarana" ColSpanMd="12">
                                                                <DxCheckBox @bind-Checked="@GeneralConsultanService.IsSarana" />
                                                            </DxFormLayoutItem>

                                                        }
                                                    </DxFormLayout>
                                                </div>

                                                <div class="col-md-6">
                                                    <DxFormLayout CssClass="w-100">
                                                        @if (SelectedRujukanVertical is not null && SelectedRujukanVertical.Equals(RujukanExtenalVertical.ToList()[1]))
                                                        {
                                                            <DxFormLayoutItem CaptionCssClass="required-caption normal-caption normal-caption" Caption="Sub Spesialis" ColSpanMd="12">
                                                                <MyDxComboBox Data="@SubSpesialisPs"
                                                                              NullText="Select Sub Spesialis..."
                                                                              @bind-Value="@GeneralConsultanService.ReferVerticalSpesialisParentSubSpesialisCode"
                                                                              TextFieldName="NmSubSpesialis"
                                                                              ValueFieldName="KdSubSpesialis">
                                                                </MyDxComboBox>
                                                            </DxFormLayoutItem>

                                                            @if (Convert.ToBoolean(GeneralConsultanService.IsSarana))
                                                            {
                                                                <DxFormLayoutItem CaptionCssClass="required-caption normal-caption normal-caption" Caption="Sarana" ColSpanMd="12">
                                                                    <MyDxComboBox Data="@SpesialisSaranas"
                                                                                  NullText="Select Sarana..."
                                                                                  @bind-Value="@GeneralConsultanService.ReferVerticalSpesialisSaranaCode"
                                                                                  TextFieldName="NmSarana"
                                                                                  ValueFieldName="KdSarana">
                                                                    </MyDxComboBox>
                                                                </DxFormLayoutItem>
                                                            }
                                                        }

                                                        <div class="w-100 row justify-content-end mt-2 mb-2">
                                                            <div class="col-auto align-self-end p-0 m-0">
                                                                <DxDateEdit @bind-Date="@GeneralConsultanService.ReferDateVisit"
                                                                            Mask="@DateTimeMask.ShortDate"
                                                                            NullText="Select Visit Date" />
                                                                <DxButton CssClass="mt-2" RenderStyle="ButtonRenderStyle.Primary" IconCssClass="fa-solid fa-magnifying-glass" Text="Search Faskes" Click="OnClickSearchFaskes" SubmitFormOnClick="true"></DxButton>
                                                                <DxButton RenderStyle="ButtonRenderStyle.Danger" IconCssClass="fa-solid fa-xmark" Text="Cancel"></DxButton>

                                                            </div>
                                                        </div>
                                                    </DxFormLayout>

                                                </div>

                                                <hr />

                                                <div class="col-md-12 mt-2">
                                                    <DxLoadingPanel @bind-Visible="IsLoadingSearchFaskes"
                                                                    IndicatorAnimationType="WaitIndicatorAnimationType.Pulse"
                                                                    IsContentBlocked="true"
                                                                    ApplyBackgroundShading="true"
                                                                    IndicatorAreaVisible="false"
                                                                    Text="Fetching Data...">
                                                        <MyGrid @ref="GridRujukanRefer"
                                                                Data="RujukanSubSpesialis"
                                                                KeyFieldName="Kdppk">
                                                            <Columns>
                                                                <DxGridDataColumn FieldName="@(nameof(RujukanFaskesKhususSpesialisPCare.Nmppk))" Caption="Faskes" />
                                                                <DxGridDataColumn FieldName="@(nameof(RujukanFaskesKhususSpesialisPCare.Kelas))" Caption="Class" />
                                                                <DxGridDataColumn FieldName="@(nameof(RujukanFaskesKhususSpesialisPCare.AlamatPpk))" Caption="Address" />
                                                                <DxGridDataColumn FieldName="@(nameof(RujukanFaskesKhususSpesialisPCare.TelpPpk))" Caption="Phone" />
                                                                <DxGridDataColumn FieldName="@(nameof(RujukanFaskesKhususSpesialisPCare.Distance))" Caption="Distance" />
                                                                <DxGridDataColumn FieldName="@(nameof(RujukanFaskesKhususSpesialisPCare.JmlRujuk))" Caption="Patient" />
                                                                <DxGridDataColumn FieldName="@(nameof(RujukanFaskesKhususSpesialisPCare.Kapasitas))" Caption="Patient" />
                                                                <DxGridDataColumn FieldName="@(nameof(RujukanFaskesKhususSpesialisPCare.Persentase))" Caption="%" />
                                                            </Columns>
                                                        </MyGrid>
                                                    </DxLoadingPanel>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </DxFormLayout>
                }
            </DxFormLayout>
        </div>
    </BodyContentTemplate>
</DxPopup>

<script>
    window.initializeSignaturePad = () => {
        const canvas = document.getElementById('signature-pad');
        const ctx = canvas.getContext('2d');
        let isDrawing = false;
        let lastX = 0;
        let lastY = 0;

        canvas.addEventListener('mousedown', (e) => {
            isDrawing = true;
            [lastX, lastY] = [e.offsetX, e.offsetY];
        });

        canvas.addEventListener('mousemove', (e) => {
            if (!isDrawing) return;
            ctx.beginPath();
            ctx.moveTo(lastX, lastY);
            ctx.lineTo(e.offsetX, e.offsetY);
            ctx.stroke();
            [lastX, lastY] = [e.offsetX, e.offsetY];
        });

        canvas.addEventListener('mouseup', () => isDrawing = false);
        canvas.addEventListener('mouseout', () => isDrawing = false);

        // Initialize canvas settings
        ctx.strokeStyle = '#000';
        ctx.lineJoin = 'round';
        ctx.lineCap = 'round';
        ctx.lineWidth = 2;
    };

    window.clearCanvas = () => {
        const canvas = document.getElementById('signature-pad');
        const ctx = canvas.getContext('2d');
        ctx.clearRect(0, 0, canvas.width, canvas.height);
    };

    window.saveCanvas = () => {
        const canvas = document.getElementById('signature-pad');
        const dataURL = canvas.toDataURL('image/png');
        const link = document.createElement('a');
        link.href = dataURL;
        link.download = 'signature.png';
        link.click();
    };

</script>