@page "/clinic-service/procedure-room"
@rendermode InteractiveServer

<PageTitle>McHealthCare - Procedure Room</PageTitle>

@if (IsAccess)
{
    <div class="wrapper">

        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>Procedure Room</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a class="no-underline" href="/">Home</a></li>
                            <li class="breadcrumb-item" @onclick="LoadData"><a class="no-underline" href="/clinic-service/procedure-room">Procedure Room</a></li>
                        </ol>
                    </div>
                </div>
            </div>
        </section>

        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col">
                        @if (!ShowForm)
                        {
                            <div class="card">
                                <div class="card-body">
                                    <DxLoadingPanel @bind-Visible="PanelVisible"
                                                    IndicatorAnimationType="WaitIndicatorAnimationType.Pulse"
                                                    IsContentBlocked="true"
                                                    ApplyBackgroundShading="true"
                                                    IndicatorAreaVisible="false"
                                                    Text="Fetching Data...">
                                        <DxGrid @ref="Grid" PagerNavigationMode="PagerNavigationMode.InputBox"
                                                Data="GeneralConsultanMedicalSupports"
                                                PageSize="10"
                                                @bind-SelectedDataItems="@SelectedDataItems"
                                                FilterMenuButtonDisplayMode="GridFilterMenuButtonDisplayMode.Always"
                                                KeyFieldName="Id"
                                                CustomizeDataRowEditor="Grid_CustomizeDataRowEditor"
                                                EditModelSaving="OnSave"
                                                EditorRenderMode="GridEditorRenderMode.Detached"
                                                DataItemDeleting="OnDelete"
                                                AllowSelectRowByClick="true"
                                                EditMode="GridEditMode.PopupEditForm"
                                                PopupEditFormCssClass="pw-800"
                                                PagerPosition="GridPagerPosition.Bottom"
                                                PageSizeSelectorVisible="true"
                                                PageSizeSelectorItems="@(new int[] { 10, 20, 50, 100 })"
                                                PageSizeSelectorAllRowsItemVisible="true"
                                                PagerSwitchToInputBoxButtonCount="10"
                                                FocusedRowEnabled="true"
                                                PagerVisibleNumericButtonCount="10"
                                                FocusedRowChanged="Grid_FocusedRowChanged"
                                                ShowGroupPanel="true"
                                                AutoExpandAllGroupRows="true"
                                                ShowFilterRow="true"
                                                RowDoubleClick="EditItem_Click"
                                                CustomizeElement="Grid_CustomizeElement"
                                                ShowSearchBox="true"
                                                SelectAllCheckboxMode="GridSelectAllCheckboxMode.Mixed"
                                                KeyboardNavigationEnabled="true">
                                            <ToolbarTemplate>
                                                <DxToolbar ItemRenderStyleMode="ToolbarRenderStyleMode.Plain">
                                                    <DxToolbarItem Visible="@UserAccessCRUID.Update" Text="Edit" Click="EditItem_Click" IconCssClass="fa-solid fa-pen-to-square" Enabled="SelectedDataItems.Count > 0 && GeneralConsultanMedicalSupports.Count > 0" />
                                                    <DxToolbarItem Visible="@UserAccessCRUID.Delete" Text="Delete" Click="DeleteItem_Click" IconCssClass="fa-solid fa-trash" Enabled="SelectedDataItems.Count > 0 && GeneralConsultanMedicalSupports.Count > 0" />
                                                    <DxToolbarItem BeginGroup="true" Text="Refresh" Click="Refresh_Click" IconCssClass="fa-solid fa-arrows-rotate" />
                                                    <DxToolbarItem Text="Column Chooser" Click="ColumnChooserButton_Click" BeginGroup="true" IconCssClass="fa-solid fa-table-columns" />
                                                    <DxToolbarItem Text="Export" BeginGroup="true" IconCssClass="fa-solid fa-file-export">
                                                        <Items>
                                                            <DxToolbarItem Text="To CSV" Click="ExportCsvItem_Click" />
                                                            <DxToolbarItem Text="To XLSX" Click="ExportXlsxItem_Click" />
                                                            <DxToolbarItem Text="To XLS" Click="ExportXlsItem_Click" />
                                                        </Items>
                                                    </DxToolbarItem>
                                                </DxToolbar>
                                            </ToolbarTemplate>
                                            <Columns>
                                                <DxGridSelectionColumn Width="15px" />
                                                <DxGridDataColumn FieldName="GeneralConsultanService.RegistrationDate" DisplayFormat="ddd, dd MMM yyyy" Caption="Registration Date" />
                                                <DxGridDataColumn FieldName="GeneralConsultanService.Patient.Name" Caption="Patient" />
                                                <DxGridDataColumn FieldName="Status" Caption="Status" />
                                            </Columns>
                                        </DxGrid>
                                    </DxLoadingPanel>
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="row justify-content-end mb-3">
                                <div class="col-auto align-self-end">
                                    <DxTabs>
                                        <DxTab Text="Draft" Enabled="@(GeneralConsultanMedicalSupport.Status == "Draft")"></DxTab>
                                        <DxTab Text="In-Progress" Enabled="@(GeneralConsultanMedicalSupport.Status == "In-Progress")"></DxTab>
                                        <DxTab Text="Finish" Enabled="@(GeneralConsultanMedicalSupport.Status == "Finish")"></DxTab>
                                    </DxTabs>
                                </div>
                            </div>

                            @if (GeneralConsultanMedicalSupport.Status is not null && !GeneralConsultanMedicalSupport.Status.Equals("Finish"))
                            {
                                <div class="card">
                                    <div class="card-body">
                                        <div class="w-100">
                                            <div class="col align-self-center">
                                                <DxButton IconCssClass="fa-solid fa-check" Text="@StagingText" Click="OnClickConfirm" RenderStyle="ButtonRenderStyle.Primary" Enabled="@(!GeneralConsultanMedicalSupport.Status.Equals("Finish") && !Loading)"></DxButton>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }

                            <div class="card">
                                <div class="card-body">
                                    <div class="w-100">
                                        <DxFormLayout>
                                            <DxFormLayoutGroup ColSpanMd="12">
                                                <Items>
                                                    <DxFormLayoutItem CaptionCssClass="normal-caption" Caption="Patient" ColSpanMd="12">
                                                        <p>@GeneralConsultanService?.Patient?.Name</p>
                                                    </DxFormLayoutItem>
                                                    <DxFormLayoutItem CaptionCssClass="normal-caption" Caption="Medical Record" ColSpanMd="12">
                                                        <p>@GeneralConsultanService?.Patient?.NoRm</p>
                                                    </DxFormLayoutItem>
                                                </Items>
                                            </DxFormLayoutGroup>
                                        </DxFormLayout>

                                        <EditForm Model="@GeneralConsultanMedicalSupport" Context="EditFormContext2" OnValidSubmit="@HandleValidSubmit" OnInvalidSubmit="@HandleInvalidSubmit">
                                            <DataAnnotationsValidator />
                                            <DxFormLayout>
                                                <DxFormLayoutGroup ColSpanMd="12" Caption="Lab Result" ExpandButtonDisplayMode="GroupExpandButtonDisplayMode.Start" AnimationType="LayoutAnimationType.Slide">
                                                    <Items>
                                                        <DxFormLayoutItem CaptionCssClass="required-caption normal-caption" Caption="Practitioner" ColSpanMd="12">
                                                            <DxComboBox ReadOnly="@(GeneralConsultanMedicalSupport.Status is not null && GeneralConsultanMedicalSupport.Status.Equals("Finish"))" ShowValidationIcon="true" Data="@Doctors"
                                                                        NullText="Select Practitioner..."
                                                                        @bind-Value="@GeneralConsultanMedicalSupport.PractitionerLabEximinationId"
                                                                        TextFieldName="Name"
                                                                        ValueFieldName="Id">
                                                            </DxComboBox>
                                                            <ValidationMessage For="@(() => GeneralConsultanMedicalSupport.PractitionerLabEximinationId)" />
                                                        </DxFormLayoutItem>

                                                        @*  <DxFormLayoutItem Caption="Lab Test:" CaptionCssClass="normal-caption" ColSpanMd="12">
                                                <DxTagBox Data="@LabTests"
                                                FilteringMode="@DataGridFilteringMode.Contains"
                                                @bind-Values="@SelectedLabTests"
                                                TextFieldName="Name"
                                                ValueFieldName="Name"
                                                NullText="Select Lab Test..."
                                                ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto" />
                                                </DxFormLayoutItem> *@

                                                        <DxFormLayoutItem CaptionCssClass="normal-caption" Caption="Attachment" ColSpanMd="12">
                                                            <DxMaskedInput @bind-Value="@GeneralConsultanMedicalSupport.LabEximinationAttachment"
                                                                           ShowValidationIcon="true"
                                                                           ReadOnly="true"
                                                                           MaskMode="MaskMode.RegEx">
                                                                <Buttons>
                                                                    <InputFile id="labFile" OnChange="@SelectFilesLab" multiple="false" style="display:none" />
                                                                    <DxEditorButton Click="SelectFileLab" IconCssClass="fa-solid fa-upload" />
                                                                    <DxEditorButton Click="() => DownloadFile(GeneralConsultanMedicalSupport.LabEximinationAttachment)" IconCssClass="fa-solid fa-download" />
                                                                    <DxEditorButton Click="RemoveSelectedFileLab" IconCssClass="fa-solid fa-trash" />
                                                                </Buttons>
                                                            </DxMaskedInput>
                                                        </DxFormLayoutItem>

                                                        <DxFormLayoutItem ColSpanMd="12">
                                                            <hr />
                                                        </DxFormLayoutItem>

                                                        <DxFormLayoutItem CaptionCssClass="normal-caption" Caption="Test" ColSpanMd="12">
                                                            <DxComboBox ShowValidationIcon="true"
                                                                        Data="@LabTests"
                                                                        NullText="Select Test..."
                                                                        ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
                                                                        FilteringMode="@DataGridFilteringMode.Contains"
                                                                        @bind-Value="@GeneralConsultanMedicalSupport.LabTestId"
                                                                        TextFieldName="Name"
                                                                        SelectedItemChanged="@((LabTestDto e) => SelectedItemLabTest(e))"
                                                                        ValueFieldName="Id">
                                                            </DxComboBox>
                                                            <ValidationMessage For="@(() => GeneralConsultanMedicalSupport.LabTestId)" />
                                                        </DxFormLayoutItem>

                                                        <DxFormLayoutGroup ColSpanMd="12" Caption="Lab Test" ExpandButtonDisplayMode="GroupExpandButtonDisplayMode.Start" AnimationType="LayoutAnimationType.Slide">
                                                            <Items>
                                                                <DxLoadingPanel @bind-Visible="PanelVisible"
                                                                                IndicatorAnimationType="WaitIndicatorAnimationType.Pulse"
                                                                                IsContentBlocked="true"
                                                                                ApplyBackgroundShading="true"
                                                                                IndicatorAreaVisible="false"
                                                                                Text="Fetching Data...">
                                                                    <DxGrid @ref="GridLabTest" PagerNavigationMode="PagerNavigationMode.InputBox"
                                                                            PageSize="12"
                                                                            TextWrapEnabled="false"
                                                                            @bind-SelectedDataItems="@SelectedLabTestDataItems"
                                                                            Data="LabResultDetails"
                                                                            KeyFieldName="Id"
                                                                            FilterMenuButtonDisplayMode="GridFilterMenuButtonDisplayMode.Always"
                                                                            CustomizeDataRowEditor="Grid_CustomizeDataRowEditor"
                                                                            AllowSelectRowByClick="true"
                                                                            EditModelSaving="OnSaveLabTest"
                                                                            DataItemDeleting="OnDeleteLabTest"
                                                                            EditMode="GridEditMode.PopupEditForm"
                                                                            PopupEditFormCssClass="pw-800"
                                                                            PagerPosition="GridPagerPosition.Bottom"
                                                                            PageSizeSelectorVisible="true"
                                                                            CustomizeElement="Grid_CustomizeElement"
                                                                            PageSizeSelectorItems="@(new int[] { 12, 24, 68, 100 })"
                                                                            PageSizeSelectorAllRowsItemVisible="true"
                                                                            PagerSwitchToInputBoxButtonCount="10"
                                                                            FocusedRowChanged="GridLabTest_FocusedRowChanged"
                                                                            FocusedRowEnabled="true"
                                                                            PagerVisibleNumericButtonCount="10"
                                                                            AutoExpandAllGroupRows="true"
                                                                            ShowSearchBox="true"
                                                                            KeyboardNavigationEnabled="true">
                                                                        <Columns>
                                                                            <DxGridDataColumn MinWidth="200" FieldName="Parameter" Caption="Parameter" />
                                                                            <DxGridDataColumn MinWidth="200" FieldName="NormalRange" Caption="Normal Range" />
                                                                            <DxGridDataColumn MinWidth="200" FieldName="LabUom.Name" Caption="UoM" />
                                                                            <DxGridDataColumn MinWidth="200" FieldName="Result" Caption="Result" />
                                                                            <DxGridDataColumn MinWidth="200" FieldName="ResultType" Caption="Result Type" />
                                                                            <DxGridDataColumn MinWidth="200" FieldName="Remark" Caption="Remark" />
                                                                            <DxGridCommandColumn MinWidth="100" FixedPosition="GridColumnFixedPosition.Right">
                                                                                <HeaderTemplate>
                                                                                    <a class="fa-solid fa-plus" @onclick="@(async () => await AddNewLabResult())" style="text-decoration: none;" href="javascript:void(0);"></a>
                                                                                </HeaderTemplate>
                                                                                <CellDisplayTemplate>
                                                                                    <a class="fa-solid fa-pen-to-square text-warning" @onclick="@(async () => await EditLabResult(context))" style="text-decoration: none;" href="javascript:void(0);"></a>
                                                                                    <a class="ml-1 fa-solid fa-trash text-danger" @onclick="@(() => GridLabTest.ShowDataItemDeleteConfirmation(context.DataItem))" style="text-decoration: none;" href="javascript:void(0);"></a>
                                                                                </CellDisplayTemplate>
                                                                            </DxGridCommandColumn>
                                                                        </Columns>
                                                                        <EditFormTemplate Context="EditFormContext22">
                                                                            <DxFormLayout CssClass="w-100">
                                                                                <DxFormLayoutItem CaptionCssClass="normal-caption" Caption="Parameter" ColSpanMd="12">
                                                                                    <DxTextBox ReadOnly="LabResultDetail.IsFromDB" ShowValidationIcon="true" @bind-Text="@LabResultDetail.Parameter" NullText="Parameter" InputCssClass="fw-normal" />
                                                                                </DxFormLayoutItem>

                                                                                <DxFormLayoutItem CaptionCssClass="normal-caption" Caption="Normal Range" ColSpanMd="12">
                                                                                    <DxTextBox ReadOnly="LabResultDetail.IsFromDB" ShowValidationIcon="true" @bind-Text="@LabResultDetail.NormalRange" NullText="Normal Range" InputCssClass="fw-normal" />
                                                                                </DxFormLayoutItem>

                                                                                <DxFormLayoutItem CaptionCssClass="normal-caption" Caption="UoM" ColSpanMd="12">
                                                                                    <DxComboBox ShowValidationIcon="true"
                                                                                                Data="@LabUoms"
                                                                                                ReadOnly="LabResultDetail.Id != 0"
                                                                                                NullText="Select UoM..."
                                                                                                ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
                                                                                                FilteringMode="@DataGridFilteringMode.Contains"
                                                                                                @bind-Value="@LabResultDetail.LabUomId"
                                                                                                TextFieldName="Name"
                                                                                                ValueFieldName="Id">
                                                                                    </DxComboBox>
                                                                                    <ValidationMessage For="@(()=> LabResultDetail.LabUomId)"   />
                                                                                </DxFormLayoutItem>

                                                                                @{
                                                                                    var showResult = true;

                                                                                    ResultValueTypes = ["Low", "Normal", "High"];

                                                                                    if (LabResultDetail.ResultValueType is not null && LabResultDetail.ResultValueType.Equals("Qualitative"))
                                                                                    {
                                                                                        showResult = false;
                                                                                        ResultValueTypes = ["Positive", "Negative"];
                                                                                    }
                                                                                    else
                                                                                    {
                                                                                        showResult = true;
                                                                                    }
                                                                                }

                                                                                <DxFormLayoutItem Visible="showResult" CaptionCssClass="normal-caption" Caption="Result" ColSpanMd="12">
                                                                                    <DxTextBox InputDelay="1000" @oninput="OnResultTextChanged" ShowValidationIcon="true" @bind-Text="@LabResultDetail.Result" NullText="Result" InputCssClass="fw-normal" />
                                                                                    <ValidationMessage For="@(() => LabResultDetail.Result)" />
                                                                                </DxFormLayoutItem>

                                                                                <DxFormLayoutItem CaptionCssClass="normal-caption" Caption="Result Type" ColSpanMd="12">
                                                                                    <DxComboBox ShowValidationIcon="true"
                                                                                                Data="@ResultValueTypes"
                                                                                                NullText="Select Result Type..."
                                                                                                ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
                                                                                                FilteringMode="@DataGridFilteringMode.Contains"
                                                                                                @bind-Value="@LabResultDetail.ResultType">
                                                                                    </DxComboBox>
                                                                                    <ValidationMessage For="@(()=> LabResultDetail.ResultType)"   />
                                                                                </DxFormLayoutItem>

                                                                                <DxFormLayoutItem CaptionCssClass="normal-caption" Caption="Remark" ColSpanMd="12">
                                                                                    <DxTextBox ReadOnly="LabResultDetail.IsFromDB" ShowValidationIcon="true" @bind-Text="@LabResultDetail.Remark" NullText="Remark" InputCssClass="fw-normal" />
                                                                                    <ValidationMessage For="@(() => LabResultDetail.Remark)" />
                                                                                </DxFormLayoutItem>
                                                                            </DxFormLayout>
                                                                        </EditFormTemplate>
                                                                    </DxGrid>
                                                                </DxLoadingPanel>
                                                            </Items>
                                                        </DxFormLayoutGroup>
                                                    </Items>
                                                </DxFormLayoutGroup>

                                                <DxFormLayoutGroup ColSpanMd="12" Caption="Radiology Result" ExpandButtonDisplayMode="GroupExpandButtonDisplayMode.Start" AnimationType="LayoutAnimationType.Slide">
                                                    <Items>
                                                        <DxFormLayoutItem CaptionCssClass="required-caption normal-caption" Caption="Practitioner" ColSpanMd="12">
                                                            <DxComboBox ReadOnly="@(GeneralConsultanMedicalSupport.Status is not null && GeneralConsultanMedicalSupport.Status.Equals("Finish"))" ShowValidationIcon="true" Data="@Doctors"
                                                                        NullText="Select Practitioner..."
                                                                        @bind-Value="@GeneralConsultanMedicalSupport.PractitionerRadiologyEximinationId"
                                                                        TextFieldName="Name"
                                                                        ValueFieldName="Id">
                                                            </DxComboBox>
                                                            <ValidationMessage For="@(() => GeneralConsultanMedicalSupport.PractitionerRadiologyEximinationId)" />
                                                        </DxFormLayoutItem>
                                                        <DxFormLayoutItem CaptionCssClass="normal-caption" Caption="Examination Name" ColSpanMd="12">
                                                            <DxTextBox ReadOnly="@(GeneralConsultanMedicalSupport.Status is not null && GeneralConsultanMedicalSupport.Status.Equals("Finish"))" @bind-Text="@GeneralConsultanMedicalSupport.RadiologyEximinationName" NullText="Examination Name" ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto" />
                                                        </DxFormLayoutItem>
                                                        <DxFormLayoutItem CaptionCssClass="normal-caption" Caption="Attachment" ColSpanMd="12">
                                                            <DxMaskedInput @bind-Value="@GeneralConsultanMedicalSupport.RadiologyEximinationAttachment"
                                                                           ShowValidationIcon="true"
                                                                           ReadOnly="true"
                                                                           MaskMode="MaskMode.RegEx">
                                                                <Buttons>
                                                                    <InputFile id="radiologyFile" OnChange="@SelectFilesRadiology" multiple="false" style="display:none" />
                                                                    <DxEditorButton Click="SelectFileRadiology" IconCssClass="fa-solid fa-upload" />
                                                                    <DxEditorButton Click="() => DownloadFile(GeneralConsultanMedicalSupport.RadiologyEximinationAttachment)" IconCssClass="fa-solid fa-download" />
                                                                    <DxEditorButton Click="RemoveSelectedFileRadiology" IconCssClass="fa-solid fa-trash" />
                                                                </Buttons>
                                                            </DxMaskedInput>
                                                        </DxFormLayoutItem>
                                                    </Items>
                                                </DxFormLayoutGroup>

                                                <DxFormLayoutGroup ColSpanMd="12" Caption="Alcohol Result" ExpandButtonDisplayMode="GroupExpandButtonDisplayMode.Start" AnimationType="LayoutAnimationType.Slide">
                                                    <Items>
                                                        <DxFormLayoutItem CaptionCssClass="required-caption normal-caption" Caption="Practitioner" ColSpanMd="12">
                                                            <DxComboBox ShowValidationIcon="true" Data="@Doctors"
                                                                        NullText="Select Practitioner..."
                                                                        @bind-Value="@GeneralConsultanMedicalSupport.PractitionerAlcoholEximinationId"
                                                                        TextFieldName="Name"
                                                                        ReadOnly="@(GeneralConsultanMedicalSupport.Status is not null && GeneralConsultanMedicalSupport.Status.Equals("Finish"))"
                                                                        ValueFieldName="Id">
                                                            </DxComboBox>
                                                            <ValidationMessage For="@(() => GeneralConsultanMedicalSupport.PractitionerAlcoholEximinationId)" />
                                                        </DxFormLayoutItem>
                                                        <DxFormLayoutItem CaptionCssClass="normal-caption" Caption="Examination Name" ColSpanMd="12">
                                                            <DxTextBox @bind-Text="@GeneralConsultanMedicalSupport.AlcoholEximinationName" NullText="Examination Name" ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto" />
                                                        </DxFormLayoutItem>
                                                        <DxFormLayoutItem CaptionCssClass="normal-caption" Caption="Attachment" ColSpanMd="12">
                                                            <DxMaskedInput @bind-Value="@GeneralConsultanMedicalSupport.AlcoholEximinationAttachment"
                                                                           ShowValidationIcon="true"
                                                                           ReadOnly="true"
                                                                           MaskMode="MaskMode.RegEx">
                                                                <Buttons>
                                                                    <InputFile id="alcoholFile" OnChange="@SelectFilesAlcohol" multiple="false" style="display:none" />
                                                                    <DxEditorButton Click="SelectFileAlcohol" IconCssClass="fa-solid fa-upload" />
                                                                    <DxEditorButton Click="() => DownloadFile(GeneralConsultanMedicalSupport.AlcoholEximinationAttachment)" IconCssClass="fa-solid fa-download" />
                                                                    <DxEditorButton Click="RemoveSelectedFileAlcohol" IconCssClass="fa-solid fa-trash" />
                                                                </Buttons>
                                                            </DxMaskedInput>
                                                        </DxFormLayoutItem>
                                                        <DxFormLayoutItem CaptionCssClass="normal-caption" Caption="Negative">
                                                            <DxCheckBox @bind-Checked="@GeneralConsultanMedicalSupport.AlcoholNegative" />
                                                        </DxFormLayoutItem>
                                                        <DxFormLayoutItem CaptionCssClass="normal-caption" Caption="Positive">
                                                            <DxCheckBox @bind-Checked="@GeneralConsultanMedicalSupport.AlcoholPositive" />
                                                        </DxFormLayoutItem>
                                                    </Items>
                                                </DxFormLayoutGroup>

                                                <DxFormLayoutGroup ColSpanMd="12" Caption="Drug Result" ExpandButtonDisplayMode="GroupExpandButtonDisplayMode.Start" AnimationType="LayoutAnimationType.Slide">
                                                    <Items>
                                                        <DxFormLayoutItem CaptionCssClass="required-caption normal-caption" Caption="Practitioner" ColSpanMd="12">
                                                            <DxComboBox ShowValidationIcon="true" Data="@Doctors"
                                                                        NullText="Select Practitioner..."
                                                                        ReadOnly="@(GeneralConsultanMedicalSupport.Status is not null && GeneralConsultanMedicalSupport.Status.Equals("Finish"))"
                                                                        @bind-Value="@GeneralConsultanMedicalSupport.PractitionerDrugEximinationId"
                                                                        TextFieldName="Name"
                                                                        ValueFieldName="Id">
                                                            </DxComboBox>
                                                            <ValidationMessage For="@(() => GeneralConsultanMedicalSupport.PractitionerDrugEximinationId)" />
                                                        </DxFormLayoutItem>
                                                        <DxFormLayoutItem CaptionCssClass="normal-caption" Caption="Examination Name" ColSpanMd="12">
                                                            <DxTextBox @bind-Text="@GeneralConsultanMedicalSupport.DrugEximinationName" NullText="Examination Name" ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto" />
                                                        </DxFormLayoutItem>
                                                        <DxFormLayoutItem CaptionCssClass="normal-caption" Caption="Attachment" ColSpanMd="12">
                                                            <DxMaskedInput @bind-Value="@GeneralConsultanMedicalSupport.DrugEximinationAttachment"
                                                                           ShowValidationIcon="true"
                                                                           ReadOnly="true"
                                                                           MaskMode="MaskMode.RegEx">
                                                                <Buttons>
                                                                    <InputFile id="drugFile" OnChange="@SelectFilesDrug" multiple="false" style="display:none" />
                                                                    <DxEditorButton Click="SelectFileDrug" IconCssClass="fa-solid fa-upload" />
                                                                    <DxEditorButton Click="() => DownloadFile(GeneralConsultanMedicalSupport.DrugEximinationAttachment)" IconCssClass="fa-solid fa-download" />
                                                                    <DxEditorButton Click="RemoveSelectedFileDrug" IconCssClass="fa-solid fa-trash" />
                                                                </Buttons>
                                                            </DxMaskedInput>
                                                        </DxFormLayoutItem>
                                                        @*  <DxFormLayoutItem CaptionCssClass="normal-caption" Caption="Negative">
                                                <DxCheckBox @bind-Checked="@GeneralConsultanMedicalSupport.DrugNegative" />
                                                </DxFormLayoutItem>
                                                <DxFormLayoutItem CaptionCssClass="normal-caption" Caption="Positive">
                                                <DxCheckBox @bind-Checked="@GeneralConsultanMedicalSupport.DrugPositive" />
                                                </DxFormLayoutItem> *@

                                                        <DxFormLayoutItem CaptionCssClass="normal-caption" Caption="Amphetamines" ColSpanMd="12">
                                                            <Template>
                                                                <DxGridLayout>
                                                                    <Rows>
                                                                        <DxGridLayoutRow />
                                                                    </Rows>
                                                                    <Columns>
                                                                        <DxGridLayoutColumn Width="70" />
                                                                        <DxGridLayoutColumn Width="50" />
                                                                        <DxGridLayoutColumn Width="70" />
                                                                        <DxGridLayoutColumn Width="50" />
                                                                        <DxGridLayoutColumn />
                                                                    </Columns>
                                                                    <Items>
                                                                        <DxGridLayoutItem ColumnSpan="2" Row="0" Column="0">
                                                                            <Template>
                                                                                <h6 class="pt-1">Positive</h6>
                                                                            </Template>
                                                                        </DxGridLayoutItem>
                                                                        <DxGridLayoutItem ColumnSpan="2" Row="0" Column="1">
                                                                            <Template>
                                                                                <DxCheckBox @bind-Checked="@GeneralConsultanMedicalSupport.AmphetaminesPositive" />
                                                                            </Template>
                                                                        </DxGridLayoutItem>
                                                                        <DxGridLayoutItem ColumnSpan="2" Row="0" Column="2">
                                                                            <Template>
                                                                                <h6 class="pt-1">Negative</h6>
                                                                            </Template>
                                                                        </DxGridLayoutItem>
                                                                        <DxGridLayoutItem ColumnSpan="2" Row="0" Column="3">
                                                                            <Template>
                                                                                <DxCheckBox @bind-Checked="@GeneralConsultanMedicalSupport.AmphetaminesNegative" />
                                                                            </Template>
                                                                        </DxGridLayoutItem>
                                                                        <DxGridLayoutItem ColumnSpan="2" Row="0" Column="4">
                                                                            <Template>
                                                                                <h6 class="pt-1">Expect Range 1000 ng/ml</h6>
                                                                            </Template>
                                                                        </DxGridLayoutItem>
                                                                    </Items>
                                                                </DxGridLayout>
                                                            </Template>
                                                        </DxFormLayoutItem>

                                                        <DxFormLayoutItem CaptionCssClass="normal-caption" Caption="Benzodiazepines" ColSpanMd="12">
                                                            <Template>
                                                                <DxGridLayout>
                                                                    <Rows>
                                                                        <DxGridLayoutRow />
                                                                    </Rows>
                                                                    <Columns>
                                                                        <DxGridLayoutColumn Width="70" />
                                                                        <DxGridLayoutColumn Width="50" />
                                                                        <DxGridLayoutColumn Width="70" />
                                                                        <DxGridLayoutColumn Width="50" />
                                                                        <DxGridLayoutColumn />
                                                                    </Columns>
                                                                    <Items>
                                                                        <DxGridLayoutItem ColumnSpan="2" Row="0" Column="0">
                                                                            <Template>
                                                                                <h6 class="pt-1">Positive</h6>
                                                                            </Template>
                                                                        </DxGridLayoutItem>
                                                                        <DxGridLayoutItem ColumnSpan="2" Row="0" Column="1">
                                                                            <Template>
                                                                                <DxCheckBox @bind-Checked="@GeneralConsultanMedicalSupport.BenzodiazepinesPositive" />
                                                                            </Template>
                                                                        </DxGridLayoutItem>
                                                                        <DxGridLayoutItem ColumnSpan="2" Row="0" Column="2">
                                                                            <Template>
                                                                                <h6 class="pt-1">Negative</h6>
                                                                            </Template>
                                                                        </DxGridLayoutItem>
                                                                        <DxGridLayoutItem ColumnSpan="2" Row="0" Column="3">
                                                                            <Template>
                                                                                <DxCheckBox @bind-Checked="@GeneralConsultanMedicalSupport.BenzodiazepinesNegative" />
                                                                            </Template>
                                                                        </DxGridLayoutItem>
                                                                        <DxGridLayoutItem ColumnSpan="2" Row="0" Column="4">
                                                                            <Template>
                                                                                <h6 class="pt-1">Expect Range 300 ng/ml</h6>
                                                                            </Template>
                                                                        </DxGridLayoutItem>
                                                                    </Items>
                                                                </DxGridLayout>
                                                            </Template>
                                                        </DxFormLayoutItem>

                                                        <DxFormLayoutItem CaptionCssClass="normal-caption" Caption="Cocaine / Metabolites" ColSpanMd="12">
                                                            <Template>
                                                                <DxGridLayout>
                                                                    <Rows>
                                                                        <DxGridLayoutRow />
                                                                    </Rows>
                                                                    <Columns>
                                                                        <DxGridLayoutColumn Width="70" />
                                                                        <DxGridLayoutColumn Width="50" />
                                                                        <DxGridLayoutColumn Width="70" />
                                                                        <DxGridLayoutColumn Width="50" />
                                                                        <DxGridLayoutColumn />
                                                                    </Columns>
                                                                    <Items>
                                                                        <DxGridLayoutItem ColumnSpan="2" Row="0" Column="0">
                                                                            <Template>
                                                                                <h6 class="pt-1">Positive</h6>
                                                                            </Template>
                                                                        </DxGridLayoutItem>
                                                                        <DxGridLayoutItem ColumnSpan="2" Row="0" Column="1">
                                                                            <Template>
                                                                                <DxCheckBox @bind-Checked="@GeneralConsultanMedicalSupport.CocaineMetabolitesPositive" />
                                                                            </Template>
                                                                        </DxGridLayoutItem>
                                                                        <DxGridLayoutItem ColumnSpan="2" Row="0" Column="2">
                                                                            <Template>
                                                                                <h6 class="pt-1">Negative</h6>
                                                                            </Template>
                                                                        </DxGridLayoutItem>
                                                                        <DxGridLayoutItem ColumnSpan="2" Row="0" Column="3">
                                                                            <Template>
                                                                                <DxCheckBox @bind-Checked="@GeneralConsultanMedicalSupport.CocaineMetabolitesNegative" />
                                                                            </Template>
                                                                        </DxGridLayoutItem>
                                                                        <DxGridLayoutItem ColumnSpan="2" Row="0" Column="4">
                                                                            <Template>
                                                                                <h6 class="pt-1">Expect Range 300 ng/ml</h6>
                                                                            </Template>
                                                                        </DxGridLayoutItem>
                                                                    </Items>
                                                                </DxGridLayout>
                                                            </Template>
                                                        </DxFormLayoutItem>

                                                        <DxFormLayoutItem CaptionCssClass="normal-caption" Caption="Opiates" ColSpanMd="12">
                                                            <Template>
                                                                <DxGridLayout>
                                                                    <Rows>
                                                                        <DxGridLayoutRow />
                                                                    </Rows>
                                                                    <Columns>
                                                                        <DxGridLayoutColumn Width="70" />
                                                                        <DxGridLayoutColumn Width="50" />
                                                                        <DxGridLayoutColumn Width="70" />
                                                                        <DxGridLayoutColumn Width="50" />
                                                                        <DxGridLayoutColumn />
                                                                    </Columns>
                                                                    <Items>
                                                                        <DxGridLayoutItem ColumnSpan="2" Row="0" Column="0">
                                                                            <Template>
                                                                                <h6 class="pt-1">Positive</h6>
                                                                            </Template>
                                                                        </DxGridLayoutItem>
                                                                        <DxGridLayoutItem ColumnSpan="2" Row="0" Column="1">
                                                                            <Template>
                                                                                <DxCheckBox @bind-Checked="@GeneralConsultanMedicalSupport.OpiatesPositive" />
                                                                            </Template>
                                                                        </DxGridLayoutItem>
                                                                        <DxGridLayoutItem ColumnSpan="2" Row="0" Column="2">
                                                                            <Template>
                                                                                <h6 class="pt-1">Negative</h6>
                                                                            </Template>
                                                                        </DxGridLayoutItem>
                                                                        <DxGridLayoutItem ColumnSpan="2" Row="0" Column="3">
                                                                            <Template>
                                                                                <DxCheckBox @bind-Checked="@GeneralConsultanMedicalSupport.OpiatesNegative" />
                                                                            </Template>
                                                                        </DxGridLayoutItem>
                                                                        <DxGridLayoutItem ColumnSpan="2" Row="0" Column="4">
                                                                            <Template>
                                                                                <h6 class="pt-1">Expect Range 50 ng/ml</h6>
                                                                            </Template>
                                                                        </DxGridLayoutItem>
                                                                    </Items>
                                                                </DxGridLayout>
                                                            </Template>
                                                        </DxFormLayoutItem>

                                                        <DxFormLayoutItem CaptionCssClass="normal-caption" Caption="Methamphetamines" ColSpanMd="12">
                                                            <Template>
                                                                <DxGridLayout>
                                                                    <Rows>
                                                                        <DxGridLayoutRow />
                                                                    </Rows>
                                                                    <Columns>
                                                                        <DxGridLayoutColumn Width="70" />
                                                                        <DxGridLayoutColumn Width="50" />
                                                                        <DxGridLayoutColumn Width="70" />
                                                                        <DxGridLayoutColumn Width="50" />
                                                                        <DxGridLayoutColumn />
                                                                    </Columns>
                                                                    <Items>
                                                                        <DxGridLayoutItem ColumnSpan="2" Row="0" Column="0">
                                                                            <Template>
                                                                                <h6 class="pt-1">Positive</h6>
                                                                            </Template>
                                                                        </DxGridLayoutItem>
                                                                        <DxGridLayoutItem ColumnSpan="2" Row="0" Column="1">
                                                                            <Template>
                                                                                <DxCheckBox @bind-Checked="@GeneralConsultanMedicalSupport.MethamphetaminesPositive" />
                                                                            </Template>
                                                                        </DxGridLayoutItem>
                                                                        <DxGridLayoutItem ColumnSpan="2" Row="0" Column="2">
                                                                            <Template>
                                                                                <h6 class="pt-1">Negative</h6>
                                                                            </Template>
                                                                        </DxGridLayoutItem>
                                                                        <DxGridLayoutItem ColumnSpan="2" Row="0" Column="3">
                                                                            <Template>
                                                                                <DxCheckBox @bind-Checked="@GeneralConsultanMedicalSupport.MethamphetaminesNegative" />
                                                                            </Template>
                                                                        </DxGridLayoutItem>
                                                                        <DxGridLayoutItem ColumnSpan="2" Row="0" Column="4">
                                                                            <Template>
                                                                                <h6 class="pt-1">Expect Range 1000 ng/ml</h6>
                                                                            </Template>
                                                                        </DxGridLayoutItem>
                                                                    </Items>
                                                                </DxGridLayout>
                                                            </Template>
                                                        </DxFormLayoutItem>

                                                        <DxFormLayoutItem CaptionCssClass="normal-caption" Caption="THC / Cannabinoid (Marijuana)" ColSpanMd="12">
                                                            <Template>
                                                                <DxGridLayout>
                                                                    <Rows>
                                                                        <DxGridLayoutRow />
                                                                    </Rows>
                                                                    <Columns>
                                                                        <DxGridLayoutColumn Width="70" />
                                                                        <DxGridLayoutColumn Width="50" />
                                                                        <DxGridLayoutColumn Width="70" />
                                                                        <DxGridLayoutColumn Width="50" />
                                                                        <DxGridLayoutColumn />
                                                                    </Columns>
                                                                    <Items>
                                                                        <DxGridLayoutItem ColumnSpan="2" Row="0" Column="0">
                                                                            <Template>
                                                                                <h6 class="pt-1">Positive</h6>
                                                                            </Template>
                                                                        </DxGridLayoutItem>
                                                                        <DxGridLayoutItem ColumnSpan="2" Row="0" Column="1">
                                                                            <Template>
                                                                                <DxCheckBox @bind-Checked="@GeneralConsultanMedicalSupport.THCCannabinoidMarijuanaPositive" />
                                                                            </Template>
                                                                        </DxGridLayoutItem>
                                                                        <DxGridLayoutItem ColumnSpan="2" Row="0" Column="2">
                                                                            <Template>
                                                                                <h6 class="pt-1">Negative</h6>
                                                                            </Template>
                                                                        </DxGridLayoutItem>
                                                                        <DxGridLayoutItem ColumnSpan="2" Row="0" Column="3">
                                                                            <Template>
                                                                                <DxCheckBox @bind-Checked="@GeneralConsultanMedicalSupport.THCCannabinoidMarijuanaNegative" />
                                                                            </Template>
                                                                        </DxGridLayoutItem>
                                                                        <DxGridLayoutItem ColumnSpan="2" Row="0" Column="4">
                                                                            <Template>
                                                                                <h6 class="pt-1">Expect Range 50 ng/ml</h6>
                                                                            </Template>
                                                                        </DxGridLayoutItem>
                                                                    </Items>
                                                                </DxGridLayout>
                                                            </Template>
                                                        </DxFormLayoutItem>
                                                    </Items>

                                                </DxFormLayoutGroup>

                                                <DxFormLayoutGroup ColSpanMd="12" Caption="ECG" ExpandButtonDisplayMode="GroupExpandButtonDisplayMode.Start" AnimationType="LayoutAnimationType.Slide">
                                                    <Items>
                                                        <DxFormLayoutItem CaptionCssClass="required-caption normal-caption" Caption="Practitioner" ColSpanMd="12">
                                                            <DxComboBox ShowValidationIcon="true" Data="@Doctors"
                                                                        NullText="Select Practitioner..."
                                                                        ReadOnly="@(GeneralConsultanMedicalSupport.Status is not null && GeneralConsultanMedicalSupport.Status.Equals("Finish"))"
                                                                        @bind-Value="@GeneralConsultanMedicalSupport.PractitionerECGId"
                                                                        TextFieldName="Name"
                                                                        ValueFieldName="Id">
                                                            </DxComboBox>
                                                            <ValidationMessage For="@(() => GeneralConsultanMedicalSupport.PractitionerECGId)" />
                                                        </DxFormLayoutItem>
                                                        <DxFormLayoutItem CaptionCssClass="normal-caption" Caption="Normal Resting ECG" ColSpanMd="12">
                                                            <DxCheckBox @bind-Checked="@GeneralConsultanMedicalSupport.IsNormalRestingECG" />
                                                        </DxFormLayoutItem>
                                                        <DxFormLayoutItem CaptionCssClass="normal-caption" Caption="Sinus Rhythm" ColSpanMd="12">
                                                            <DxCheckBox @bind-Checked="@GeneralConsultanMedicalSupport.IsSinusRhythm" />
                                                        </DxFormLayoutItem>
                                                        <DxFormLayoutItem CaptionCssClass="normal-caption" Caption="Sinus Bradycardia" ColSpanMd="12">
                                                            <DxCheckBox @bind-Checked="@GeneralConsultanMedicalSupport.IsSinusBradycardia" />
                                                        </DxFormLayoutItem>
                                                        <DxFormLayoutItem CaptionCssClass="normal-caption" Caption="Sinus Tachycardia" ColSpanMd="12">
                                                            <DxCheckBox @bind-Checked="@GeneralConsultanMedicalSupport.IsSinusTachycardia" />
                                                        </DxFormLayoutItem>
                                                        <DxFormLayoutItem CaptionCssClass="normal-caption" Caption="HR" ColSpanMd="12">
                                                            <Template>
                                                                <DxGridLayout>
                                                                    <Rows>
                                                                        <DxGridLayoutRow />
                                                                    </Rows>
                                                                    <Columns>
                                                                        <DxGridLayoutColumn Width="350" />
                                                                        <DxGridLayoutColumn />
                                                                    </Columns>
                                                                    <Items>
                                                                        <DxGridLayoutItem Row="0" Column="0" CssClass="mt">
                                                                            <Template>
                                                                                <DxSpinEdit ShowValidationIcon="true" MinValue="0" @bind-Value="@GeneralConsultanMedicalSupport.HR" NullText="HR" ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto" />
                                                                            </Template>
                                                                        </DxGridLayoutItem>
                                                                        <DxGridLayoutItem Row="0" Column="1" CssClass="mt ml">
                                                                            <Template>
                                                                                <h6 class="pl-1 pt-2">BPM</h6>
                                                                            </Template>
                                                                        </DxGridLayoutItem>
                                                                    </Items>
                                                                </DxGridLayout>

                                                            </Template>
                                                        </DxFormLayoutItem>
                                                        <DxFormLayoutItem CaptionCssClass="normal-caption" Caption="Other" ColSpanMd="12">
                                                            <DxCheckBox @bind-Checked="@GeneralConsultanMedicalSupport.IsOtherECG" />
                                                        </DxFormLayoutItem>
                                                        <DxFormLayoutItem ColSpanMd="12" Visible="@Convert.ToBoolean(GeneralConsultanMedicalSupport.IsOtherECG)">
                                                            <DxMemo @bind-Text="GeneralConsultanMedicalSupport.OtherDesc"
                                                                    NullText="Other Description..."
                                                                    ShowValidationIcon="true"
                                                                    Rows="1" />
                                                        </DxFormLayoutItem>
                                                        <DxFormLayoutItem CaptionCssClass="normal-caption" Caption="Attachment" ColSpanMd="12">
                                                            <DxMaskedInput @bind-Value="@GeneralConsultanMedicalSupport.ECGAttachment"
                                                                           ShowValidationIcon="true"
                                                                           ReadOnly="true"
                                                                           MaskMode="MaskMode.RegEx">
                                                                <Buttons>
                                                                    <InputFile id="radiologyFile" OnChange="@SelectFilesRadiology" multiple="false" style="display:none" />
                                                                    <DxEditorButton Click="SelectFileRadiology" IconCssClass="fa-solid fa-upload" />
                                                                    <DxEditorButton Click="() => DownloadFile(GeneralConsultanMedicalSupport.ECGAttachment)" IconCssClass="fa-solid fa-download" />
                                                                    <DxEditorButton Click="RemoveSelectedFileRadiology" IconCssClass="fa-solid fa-trash" />
                                                                </Buttons>
                                                            </DxMaskedInput>
                                                        </DxFormLayoutItem>
                                                    </Items>
                                                </DxFormLayoutGroup>

                                                <DxFormLayoutGroup ColSpanMd="12" Caption="Other Examination" ExpandButtonDisplayMode="GroupExpandButtonDisplayMode.Start" AnimationType="LayoutAnimationType.Slide">
                                                    <Items>
                                                        <DxFormLayoutItem CaptionCssClass="normal-caption" Caption="Other Examination" ColSpanMd="12">
                                                            <DxCheckBox @bind-Checked="@GeneralConsultanMedicalSupport.IsOtherExaminationECG" />
                                                        </DxFormLayoutItem>
                                                        @if (Convert.ToBoolean(GeneralConsultanMedicalSupport.IsOtherExaminationECG))
                                                        {
                                                            <DxFormLayoutItem CaptionCssClass="normal-caption" Caption=" " ColSpanMd="12">
                                                                <DxMemo @bind-Text="GeneralConsultanMedicalSupport.OtherExaminationTypeECG"
                                                                        NullText="Examination Type..."
                                                                        ShowValidationIcon="true"
                                                                        Rows="1" />
                                                            </DxFormLayoutItem>
                                                        }
                                                        @if (Convert.ToBoolean(GeneralConsultanMedicalSupport.IsOtherExaminationECG))
                                                        {
                                                            <DxFormLayoutItem CaptionCssClass="normal-caption" Caption=" " ColSpanMd="12">
                                                                <DxMemo @bind-Text="GeneralConsultanMedicalSupport.OtherExaminationRemarkECG"
                                                                        NullText="Remark..."
                                                                        ShowValidationIcon="true"
                                                                        Rows="1" />
                                                            </DxFormLayoutItem>

                                                        }
                                                        @if (Convert.ToBoolean(GeneralConsultanMedicalSupport.IsOtherExaminationECG))
                                                        {
                                                            <DxFormLayoutItem CaptionCssClass="normal-caption" Caption=" " ColSpanMd="12">
                                                                <DxMaskedInput @bind-Value="@GeneralConsultanMedicalSupport.OtherExaminationAttachment"
                                                                               ShowValidationIcon="true"
                                                                               ReadOnly="true"
                                                                               MaskMode="MaskMode.RegEx">
                                                                    <Buttons>
                                                                        <InputFile id="drugFile" OnChange="@SelectFilesDrug" multiple="false" style="display:none" />
                                                                        <DxEditorButton Click="SelectFileDrug" IconCssClass="fa-solid fa-upload" />
                                                                        <DxEditorButton Click="() => DownloadFile(GeneralConsultanMedicalSupport.OtherExaminationAttachment)" IconCssClass="fa-solid fa-download" />
                                                                        <DxEditorButton Click="RemoveSelectedFileDrug" IconCssClass="fa-solid fa-trash" />
                                                                    </Buttons>
                                                                </DxMaskedInput>
                                                            </DxFormLayoutItem>
                                                        }
                                                    </Items>
                                                </DxFormLayoutGroup>
                                            </DxFormLayout>
                                            <div class="row justify-content-end">
                                                <div class="col-auto align-self-end">
                                                    <DxButton RenderStyle="ButtonRenderStyle.Info" RenderStyleMode="@ButtonRenderStyleMode.Outline" IconCssClass="fa-solid fa-floppy-disk" Text="Save" SubmitFormOnClick="true"></DxButton>
                                                    <DxButton RenderStyle="ButtonRenderStyle.Danger" RenderStyleMode="@ButtonRenderStyleMode.Outline" IconCssClass="fa-solid fa-xmark" Text="Cancel" Click="OnCancel"></DxButton>
                                                </div>
                                            </div>
                                        </EditForm>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </section>
    </div>
}
else
{
    <div class="wrapper">

        <McDermott.Web.Components.Layout.BaseContentHeaderLayout Title="Procedure Room" />

        <LoadingIndicatorLayout></LoadingIndicatorLayout>
    </div>
}