@page "/medical/insurances"
@rendermode InteractiveServer

<PageTitle>McHealthCare - Insurance</PageTitle>

@if (IsAccess && UserAccessCRUID is not null && UserAccessCRUID.IsRead)
{
    <div class="wrapper">

        <BaseHeaderPage Title="Insurance" OnClickBack="@(async () => await LoadData())" ShowBackButton="false" />

        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col">
                        <div class="card">
                            <InputFile id="fileInput" style="display:none" OnChange="@ImportExcelFile" accept=".xlsx" multiple="false"></InputFile>

                            <DxLoadingPanel @bind-Visible="PanelVisible"
                                            IndicatorAnimationType="WaitIndicatorAnimationType.Pulse"
                                            IsContentBlocked="true"
                                            ApplyBackgroundShading="true"
                                            IndicatorAreaVisible="false"
                                            Text="Fetching Data...">

                                <MyGridPaginate @ref="Grid"
                                                Data="Insurances"
                                                @bind-SelectedDataItems="@SelectedDataItems"
                                                EditModelSaving="OnSave"
                                                DataItemDeleting="OnDelete"
                                                SearchTextChanged="OnSearchBoxChanged"
                                                KeyFieldName="Id">
                                    <ToolbarTemplate>
                                        <MyDxToolbarBase TItem="InsuranceDto"
                                                         Items="@Insurances"
                                                         SelectedDataItems="@SelectedDataItems"
                                                         NewItem_Click="@NewItem_Click"
                                                         EditItem_Click="@EditItem_Click"
                                                         DeleteItem_Click="@DeleteItem_Click"
                                                         Refresh_Click="@Refresh_Click"
                                                         IsImport="UserAccessCRUID.IsImport"
                                                         Grid="Grid"
                                                         ImportFile="ImportFile"
                                                         ExportToExcel="ExportToExcel"
                                                         VisibleNew="UserAccessCRUID.IsCreate"
                                                         VisibleEdit="UserAccessCRUID.IsUpdate"
                                                         VisibleDelete="UserAccessCRUID.IsDelete" />
                                    </ToolbarTemplate>


                                    <Columns>
                                        <DxGridSelectionColumn Width="15px" />
                                        <DxGridDataColumn MinWidth="200" FieldName="Name" SortIndex="0" />
                                        <DxGridDataColumn MinWidth="200" FieldName="Code" Visible="true" />
                                        <DxGridDataColumn MinWidth="200" FieldName="Type" Visible="true" />
                                        <DxGridDataColumn MinWidth="200" FieldName="AdminFee" Caption="Admin Fee %" />
                                        <DxGridDataColumn MinWidth="200" FieldName="Presentase" />
                                        <DxGridDataColumn MinWidth="200" FieldName="AdminFeeMax" Caption="Admin Fee Max" />
                                        <DxGridDataColumn MinWidth="200" FieldName="IsBPJSTK" Caption="BPJS TK" />
                                        <DxGridDataColumn MinWidth="200" FieldName="IsBPJSKesehatan" Caption="BPJS KS" />
                                    </Columns>

                                    <EditFormTemplate Context="EditFormContext">
                                        @{
                                            var a = (InsuranceDto)EditFormContext.EditModel;
                                        }
                                        <DxFormLayout CssClass="w-100">
                                            <DxFormLayoutItem Caption="Name" CaptionCssClass="required-caption normal-caption" ColSpanMd="12">
                                                <MyTextBox @bind-Text="@a.Name"
                                                           NullText="Name" />
                                                <ValidationMessage For="@(() => a.Name)"   />
                                            </DxFormLayoutItem>

                                            <DxFormLayoutItem Caption="Code" CaptionCssClass="normal-caption" ColSpanMd="12">
                                                <MyTextBox @bind-Text="@a.Code"
                                                           NullText="Code" />
                                                <ValidationMessage For="@(() => a.Code)"   />
                                            </DxFormLayoutItem>

                                            <DxFormLayoutItem CaptionCssClass="normal-caption" Caption="Payment Method" ColSpanMd="12">
                                                <MyDxComboBox Data="@Types"
                                                              NullText="Select Type..."
                                                              @bind-Value="a.Type">
                                                </MyDxComboBox>
                                                <ValidationMessage For="@(() => a.Type)" />
                                            </DxFormLayoutItem>

                                            <DxFormLayoutItem CaptionCssClass="normal-caption" Caption="Admin Fee" ColSpanMd="12">
                                                <DxSpinEdit ShowValidationIcon="true"
                                                            MinValue="0"
                                                            @bind-Value="@a.AdminFee"
                                                            NullText="AdminFee"
                                                            ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto" />
                                                <ValidationMessage For="@(()=> a.AdminFee)"   />
                                            </DxFormLayoutItem>

                                            <DxFormLayoutItem CaptionCssClass="normal-caption" Caption="Presentase %" ColSpanMd="12">
                                                <DxSpinEdit ShowValidationIcon="true"
                                                            MinValue="0"
                                                            @bind-Value="@a.Presentase"
                                                            NullText="Presentase %"
                                                            ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto" />
                                                <ValidationMessage For="@(()=> a.Presentase)"   />
                                            </DxFormLayoutItem>

                                            <DxFormLayoutItem CaptionCssClass="normal-caption" Caption="Admin Fee Max" ColSpanMd="12">
                                                <DxSpinEdit ShowValidationIcon="true"
                                                            MinValue="0"
                                                            @bind-Value="@a.AdminFeeMax"
                                                            NullText="Admin Fee Max"
                                                            ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto" />
                                                <ValidationMessage For="@(()=> a.AdminFeeMax)"   />
                                            </DxFormLayoutItem>

                                            <DxFormLayoutItem CaptionCssClass="normal-caption"
                                                              Caption="BPJS Kesehatan" ColSpanMd="3">
                                                <DxCheckBox @bind-Checked="a.IsBPJSKesehatan" />
                                            </DxFormLayoutItem>

                                            <DxFormLayoutItem CaptionCssClass="normal-caption"
                                                              Caption="BPJS TK" ColSpanMd="3">
                                                <DxCheckBox @bind-Checked="a.IsBPJSTK" />
                                            </DxFormLayoutItem>
                                        </DxFormLayout>
                                    </EditFormTemplate>
                                    <TotalSummary>
                                        <DxGridSummaryItem SummaryType="GridSummaryItemType.Count"
                                                           FieldName="Name"
                                                           Visible="true" />
                                    </TotalSummary>
                                </MyGridPaginate>
                                <div class="row">
                                    <DxFormLayout>
                                        <div class="col-md-8">
                                            <DxFormLayoutItem>
                                                <DxPager PageCount="totalCount"
                                                         ActivePageIndexChanged="OnPageIndexChanged"
                                                         ActivePageIndex="activePageIndex"
                                                         VisibleNumericButtonCount="10"
                                                         SizeMode="SizeMode.Medium"
                                                         NavigationMode="PagerNavigationMode.Auto">
                                                </DxPager>
                                            </DxFormLayoutItem>
                                        </div>
                                        <div class="col-md-4 d-flex justify-content-end">
                                            <DxFormLayoutItem Caption="Page Size:">
                                                <MyDxComboBox Data="(new[] { 10, 25, 50, 100 })"
                                                              NullText="Select Page Size"
                                                              ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Never"
                                                              SelectedItemChanged="((int e ) => OnPageSizeIndexChanged(e))"
                                                              @bind-Value="pageSize">
                                                </MyDxComboBox>
                                            </DxFormLayoutItem>
                                        </div>
                                    </DxFormLayout>
                                </div>

                            </DxLoadingPanel>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
}
else if (UserAccessCRUID is not null && !UserAccessCRUID.IsRead)
{
    <InvalidPermissionPage />
}
else
{
    <LoadingIndicatorLayout />
}