@page "/medical/lab-test"
@rendermode InteractiveServer

<PageTitle>McHealthCare - Lab Test</PageTitle>

@if (IsAccess)
{
    <div class="wrapper">
        <BaseHeaderPage Title="LabTest" OnClickBack="@(async () => await LoadData())" ShowBackButton="false" />

        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col">
                        <div class="card">
                            @if (!ShowForm)
                            {
                                <div class="card-body">
                                    <DxLoadingPanel @bind-Visible="PanelVisible"
                                                    IndicatorAnimationType="WaitIndicatorAnimationType.Pulse"
                                                    IsContentBlocked="true"
                                                    ApplyBackgroundShading="true"
                                                    IndicatorAreaVisible="false"
                                                    Text="Fetching Data...">
                                        <MyGridPaginate @ref="Grid"
                                                        Data="LabTests"
                                                        @bind-SelectedDataItems="@SelectedDataItems"
                                                        EditModelSaving="OnSave"
                                                        DataItemDeleting="OnDelete"
                                                        FocusedRowChanged="Grid_FocusedRowChanged"
                                                        SearchTextChanged="OnSearchBoxChanged"
                                                        KeyFieldName="Id">
                                            <ToolbarTemplate>
                                                <MyDxToolbarBase TItem="LabTestDto"
                                                                 Items="@LabTests"
                                                                 SelectedDataItems="@SelectedDataItems"
                                                                 NewItem_Click="@NewItem_Click"
                                                                 EditItem_Click="@EditItem_Click"
                                                                 DeleteItem_Click="@DeleteItem_Click"
                                                                 Refresh_Click="@Refresh_Click"
                                                                 IsImport="true"
                                                                 Grid="Grid"
                                                                 ImportFile="ImportFile"
                                                                 ExportToExcel="ExportToExcel"
                                                                 VisibleNew="UserAccessCRUID.Create"
                                                                 VisibleEdit="UserAccessCRUID.Update"
                                                                 VisibleDelete="UserAccessCRUID.Delete" />
                                            </ToolbarTemplate>
                                            <Columns>
                                                <DxGridSelectionColumn Width="15px" />
                                                <DxGridDataColumn MinWidth="200" FieldName="Name" SortIndex="0" />
                                                <DxGridDataColumn MinWidth="200" FieldName="Code" SortIndex="0" />
                                                <DxGridDataColumn MinWidth="200" FieldName="SampleType.Name" Caption="Sample Type" SortIndex="0" />
                                            </Columns>
                                            <TotalSummary>
                                                <DxGridSummaryItem SummaryType="GridSummaryItemType.Count"
                                                                   FieldName="Name"
                                                                   Visible="true" />
                                            </TotalSummary>
                                        </MyGridPaginate>
                                        <div class="row">
                                            <DxFormLayout>
                                                <div class="col-md-8">
                                                    <DxFormLayoutItem>
                                                        <DxPager PageCount="totalCount"
                                                                 ActivePageIndexChanged="OnPageIndexChanged"
                                                                 ActivePageIndex="activePageIndex"
                                                                 VisibleNumericButtonCount="10"
                                                                 SizeMode="SizeMode.Medium"
                                                                 NavigationMode="PagerNavigationMode.Auto">
                                                        </DxPager>
                                                    </DxFormLayoutItem>
                                                </div>
                                                <div class="col-md-4 d-flex justify-content-end">
                                                    <DxFormLayoutItem Caption="Page Size:">
                                                        <MyDxComboBox Data="(new[] { 10, 25, 50, 100 })"
                                                                      NullText="Select Page Size"
                                                                      ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Never"
                                                                      SelectedItemChanged="((int e ) => OnPageSizeIndexChanged(e))"
                                                                      @bind-Value="pageSize">
                                                        </MyDxComboBox>
                                                    </DxFormLayoutItem>
                                                </div>
                                            </DxFormLayout>
                                        </div>
                                    </DxLoadingPanel>
                                </div>
                            }
                            else
                            {
                                <EditForm Model="@LabTest" @onkeypress="@KeyPressHandler" Context="EditFormContext22" OnValidSubmit="HandleValidSubmit" OnInvalidSubmit="@HandleInvalidSubmit">
                                    <DataAnnotationsValidator />
                                    <DxFormLayout CssClass="w-100">

                                        <DxFormLayoutItem Caption="Name" CaptionCssClass="normal-caption required-caption" ColSpanMd="12">
                                            <DxTextBox @bind-Text="@LabTest.Name"
                                                       ShowValidationIcon="true"
                                                       ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
                                                       NullText="Name" />
                                            <ValidationMessage For="@(() => LabTest.Name)"   />
                                        </DxFormLayoutItem>

                                        <DxFormLayoutItem Caption="Code" CaptionCssClass="normal-caption" ColSpanMd="12">
                                            <DxTextBox @bind-Text="@LabTest.Code"
                                                       ShowValidationIcon="true"
                                                       ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
                                                       NullText="Code" />
                                            <ValidationMessage For="@(() => LabTest.Code)"   />
                                        </DxFormLayoutItem>

                                        <DxFormLayoutItem CaptionCssClass="normal-caption" Caption="Sample Type" ColSpanMd="12">
                                            <MyDxComboBox Data="@SampleTypes"
                                                          NullText="Select Sampel type..."
                                                          @ref="refSampleTypesComboBox"
                                                          @bind-Value="@LabTest.SampleTypeId"
                                                          TextFieldName="Name"
                                                          ValueFieldName="Id"
                                                          TextChanged="((string e) => OnInputSampleTypesChanged(e))">
                                                <Buttons>
                                                    <DxEditorButton Click="OnSearchSampleTypesIndexDecrement"
                                                                    IconCssClass="fa-solid fa-caret-left"
                                                                    Tooltip="Previous Index" />
                                                    <DxEditorButton Click="OnSearchSampleTypes"
                                                                    IconCssClass="fa-solid fa-magnifying-glass"
                                                                    Tooltip="Search" />
                                                    <DxEditorButton Click="OnSearchSampleTypesIndexIncrement"
                                                                    IconCssClass="fa-solid fa-caret-right"
                                                                    Tooltip="Next Index" />
                                                </Buttons>
                                            </MyDxComboBox>
                                            <ValidationMessage For="@(()=> LabTest.SampleTypeId)"   />
                                        </DxFormLayoutItem>

                                        <DxFormLayoutItem CaptionCssClass="normal-caption" Caption="Result Type" ColSpanMd="12">
                                            <DxComboBox ShowValidationIcon="true"
                                                        Data="@ResultValueTypes"
                                                        NullText="Select Result Type..."
                                                        FilteringMode="@DataGridFilteringMode.Contains"
                                                        @bind-Value="@LabTest.ResultType">
                                            </DxComboBox>
                                            <ValidationMessage For="@(()=> LabTest.ResultType)"   />
                                        </DxFormLayoutItem>
                                    </DxFormLayout>

                                    <hr />

                                    <DxFormLayout CssClass="w-100">
                                        <DxFormLayoutItem CaptionCssClass="normal-caption required-caption" Context="ItemContext" CaptionPosition="CaptionPosition.Vertical" Caption="Diagnosis" ColSpanMd="12">
                                            <Template>
                                                <DxLoadingPanel @bind-Visible="PanelVisible"
                                                                IndicatorAnimationType="WaitIndicatorAnimationType.Pulse"
                                                                IsContentBlocked="true"
                                                                ApplyBackgroundShading="true"
                                                                IndicatorAreaVisible="false"
                                                                Text="Fetching Data...">
                                                    <MyGridPaginate @ref="Grid"
                                                                    Data="LabTestDetailForms"
                                                                    @bind-SelectedDataItems="@SelectedDetailDataItems"
                                                                    EditModelSaving="OnSave"
                                                                    DataItemDeleting="OnDeleteLabTestDetail"
                                                                    FocusedRowChanged="Grid_FocusedRowChanged"
                                                                    SearchTextChanged="OnSearchBoxChanged"
                                                                    KeyFieldName="Id">
                                                        <ToolbarTemplate>
                                                            <MyDxToolbarBase TItem="LabTestDetailDto"
                                                                             Items="@LabTestDetailForms"
                                                                             SelectedDataItems="@SelectedDetailDataItems"
                                                                             NewItem_Click="@NewItemDetail_Click"
                                                                             EditItem_Click="@(()=>EditItemDetail_Click(context.Grid))"
                                                                             DeleteItem_Click="@DeleteItemDetail_Click"
                                                                             Refresh_Click="@RefreshDetail_Click"
                                                                             IsImport="true"
                                                                             Grid="Grid"
                                                                             ImportFile="ImportFile"
                                                                             ExportToExcel="ExportToExcel"
                                                                             VisibleNew="UserAccessCRUID.Create"
                                                                             VisibleEdit="UserAccessCRUID.Update"
                                                                             VisibleDelete="UserAccessCRUID.Delete" />
                                                        </ToolbarTemplate>
                                                        <Columns>
                                                            <DxGridSelectionColumn Width="15px" />
                                                            <DxGridDataColumn MinWidth="200" FieldName="Name" Caption="Parameter" SortIndex="0" />
                                                            <DxGridDataColumn MinWidth="200" FieldName="LabUom.Name" Caption="UoM" />
                                                            <DxGridDataColumn MinWidth="200" FieldName="NormalRangeMale" Caption="Normal Range (Male)" />
                                                            <DxGridDataColumn MinWidth="200" FieldName="NormalRangeFemale" Caption="Normal Range (Female)" />
                                                            <DxGridDataColumn MinWidth="200" FieldName="ResultValueType" Caption="Result Value Type" />
                                                            <DxGridDataColumn MinWidth="200" FieldName="Remark" Caption="Remark" />
                                                        </Columns>
                                                        <EditFormTemplate Context="EditFormContext">
                                                            @{
                                                                var a = (LabTestDetailDto)EditFormContext.EditModel;
                                                                if (string.IsNullOrWhiteSpace(a.ResultValueType))
                                                                {
                                                                    a.ResultValueType = LabTest.ResultType;
                                                                }
                                                            }
                                                            <DxFormLayout CssClass="w-100">
                                                                <DxFormLayoutItem CaptionCssClass="normal-caption required-caption" Caption="Parameter" ColSpanMd="12">
                                                                    <DxTextBox @bind-Text="@a.Name" NullText="Parameter" InputCssClass="fw-normal" ShowValidationIcon="true" />
                                                                    <ValidationMessage For="@(() => a.Name)" />
                                                                </DxFormLayoutItem>

                                                                <DxFormLayoutItem CaptionCssClass="normal-caption" Caption="Normal Range (Male)" ColSpanMd="12">
                                                                    <DxTextBox ShowValidationIcon="true" @bind-Text="@a.NormalRangeMale" NullText="Normal Range (Male)" InputCssClass="fw-normal" />
                                                                    <ValidationMessage For="@(() => a.NormalRangeMale)" />
                                                                </DxFormLayoutItem>

                                                                <DxFormLayoutItem CaptionCssClass="normal-caption" Caption="Normal Range (Female)" ColSpanMd="12">
                                                                    <DxTextBox ShowValidationIcon="true" @bind-Text="@a.NormalRangeFemale" NullText="Normal Range (Female)" InputCssClass="fw-normal" />
                                                                    <ValidationMessage For="@(() => a.NormalRangeFemale)" />
                                                                </DxFormLayoutItem>

                                                                <DxFormLayoutItem CaptionCssClass="normal-caption" Caption="UoM" ColSpanMd="12">
                                                                    <MyDxComboBox Data="@LabUoms"
                                                                                  NullText="Select Lab Uom..."
                                                                                  @ref="refLabUomComboBox"
                                                                                  @bind-Value="@a.LabUomId"
                                                                                  TextFieldName="Name"
                                                                                  ValueFieldName="Id"
                                                                                  TextChanged="((string e) => OnInputLabUomChanged(e))">
                                                                        <Buttons>
                                                                            <DxEditorButton Click="OnSearchLabUomIndexDecrement"
                                                                                            IconCssClass="fa-solid fa-caret-left"
                                                                                            Tooltip="Previous Index" />
                                                                            <DxEditorButton Click="OnSearchLabUom"
                                                                                            IconCssClass="fa-solid fa-magnifying-glass"
                                                                                            Tooltip="Search" />
                                                                            <DxEditorButton Click="OnSearchLabUomIndexIncrement"
                                                                                            IconCssClass="fa-solid fa-caret-right"
                                                                                            Tooltip="Next Index" />
                                                                        </Buttons>
                                                                    </MyDxComboBox>
                                                                    <ValidationMessage For="@(()=> a.LabUomId)"   />
                                                                </DxFormLayoutItem>

                                                                <DxFormLayoutItem CaptionCssClass="normal-caption" Caption="Result Value Type" ColSpanMd="12">
                                                                    <DxComboBox ShowValidationIcon="true"
                                                                                Data="@ResultValueTypes"
                                                                                NullText="Select Result Value Type..."
                                                                                ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
                                                                                FilteringMode="@DataGridFilteringMode.Contains"
                                                                                @bind-Value="@a.ResultValueType">
                                                                    </DxComboBox>
                                                                    <ValidationMessage For="@(()=> a.ResultValueType)"   />
                                                                </DxFormLayoutItem>

                                                                <DxFormLayoutItem CaptionCssClass="normal-caption" Caption="Remark" ColSpanMd="12">
                                                                    <DxTextBox ShowValidationIcon="true" @bind-Text="@a.Remark" NullText="Remark" InputCssClass="fw-normal" />
                                                                    <ValidationMessage For="@(() => a.Remark)" />
                                                                </DxFormLayoutItem>
                                                            </DxFormLayout>
                                                        </EditFormTemplate>
                                                        </MyGridPaginate>
                                                </DxLoadingPanel>
                                            </Template>
                                        </DxFormLayoutItem>

                                    </DxFormLayout>

                                    <div class="w-100 row justify-content-end mb-2">
                                        <div class="col-auto align-self-end p-0 m-0">
                                            <DxButton RenderStyle="ButtonRenderStyle.Info" RenderStyleMode="@ButtonRenderStyleMode.Outline" IconCssClass="fa-solid fa-floppy-disk" Text="Save" SubmitFormOnClick="true">
                                            </DxButton>
                                            <DxButton RenderStyle="ButtonRenderStyle.Danger" RenderStyleMode="@ButtonRenderStyleMode.Outline" IconCssClass="fa-solid fa-xmark" Text="Cancel" Click="CancelItem_Click"></DxButton>
                                        </div>
                                    </div>
                                </EditForm>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
}
else
{
    <div class="wrapper">
        <McDermott.Web.Components.Layout.BaseContentHeaderLayout Title="Laboratorium Test" />

        <LoadingIndicatorLayout></LoadingIndicatorLayout>
    </div>
} 