@page "/medical/practitioner"
@inject IHttpContextAccessor _httpContextAccessor

<PageTitle>McDermott - Master Data Practitioner</PageTitle>

@if (IsAccess)
{
    <div class="wrapper">

        <McDermott.Web.Components.Layout.BaseContentHeaderLayout Title="Practitioners" />

        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col">
                        <div class="card">
                            @if (!ShowForm)
                            {
                                <div class="card-body">
                                    <DxLoadingPanel @bind-Visible="PanelVisible"
                                                    IndicatorAnimationType="WaitIndicatorAnimationType.Pulse"
                                                    IsContentBlocked="true"
                                                    ApplyBackgroundShading="true"
                                                    IndicatorAreaVisible="false"
                                                    Text="Fetching Data...">
                                        <DxGrid @ref="Grid" PagerNavigationMode="PagerNavigationMode.InputBox"
                                                Data="Users"
                                                PageSize="10"
                                                @bind-SelectedDataItems="@SelectedDataItems"
                                                AllowSelectRowByClick="true"
                                                FilterMenuButtonDisplayMode="GridFilterMenuButtonDisplayMode.Always"
                                                KeyFieldName="Id"
                                                CustomizeDataRowEditor="Grid_CustomizeDataRowEditor"
                                                EditModelSaving="OnSave"
                                                DataItemDeleting="OnDelete"
                                                FocusedRowEnabled="true"
                                                PopupEditFormCssClass="pw-800"
                                                PagerPosition="GridPagerPosition.Bottom"
                                                PageSizeSelectorVisible="true"
                                                PageSizeSelectorItems="@(new int[] { 10, 20, 50, 100 })"
                                                RowDoubleClick="OnRowDoubleClick"
                                                PageSizeSelectorAllRowsItemVisible="true"
                                                PagerSwitchToInputBoxButtonCount="10"
                                                PagerVisibleNumericButtonCount="10"
                                                FocusedRowChanged="Grid_FocusedRowChanged"
                                                ShowGroupPanel="true"
                                                AutoExpandAllGroupRows="true"
                                                ShowFilterRow="true"
                                                ShowSearchBox="true"
                                                SelectAllCheckboxMode="GridSelectAllCheckboxMode.Mixed"
                                                KeyboardNavigationEnabled="true">
                                            <ToolbarTemplate>
                                                <DxToolbar ItemRenderStyleMode="ToolbarRenderStyleMode.Contained">
                                                    <DxToolbarItem Visible="@UserAccessCRUID.Create" Text="New" Click="NewItem_Click" IconCssClass="fa-solid fa-plus" />
                                                    <DxToolbarItem Visible="@UserAccessCRUID.Update" Text="Edit" Click="EditItem_Click" IconCssClass="fa-solid fa-pen-to-square" Enabled="SelectedDataItems.Count > 0 && Users.Count > 0" />
                                                    <DxToolbarItem Visible="@UserAccessCRUID.Delete" Text="Delete" Click="DeleteItem_Click" IconCssClass="fa-solid fa-trash" Enabled="SelectedDataItems.Count > 0 && Users.Count > 0 && !IsDeleted" />
                                                    <DxToolbarItem BeginGroup="true" Text="Refresh" Click="Refresh_Click" IconCssClass="fa-solid fa-arrows-rotate" />
                                                    <DxToolbarItem Text="Column Chooser" Click="ColumnChooserButton_Click" BeginGroup="true" IconCssClass="fa-solid fa-table-columns" />
                                                    <DxToolbarItem Text="Export" BeginGroup="true" IconCssClass="fa-solid fa-file-export">
                                                        <Items>
                                                            <DxToolbarItem Text="To CSV" Click="ExportCsvItem_Click" />
                                                            <DxToolbarItem Text="To XLSX" Click="ExportXlsxItem_Click" />
                                                            <DxToolbarItem Text="To XLS" Click="ExportXlsItem_Click" />
                                                        </Items>
                                                    </DxToolbarItem>
                                                    @* <DxToolbarItem Visible="false" Text="Import" id="upload" IconCssClass="fa-solid fa-file-import" /> *@
                                                </DxToolbar>
                                            </ToolbarTemplate>
                                            <Columns>
                                                <DxGridSelectionColumn Width="15px" />
                                                <DxGridDataColumn FieldName="Name" SortIndex="0" />
                                                <DxGridDataColumn FieldName="Email" />
                                                <DxGridDataColumn FieldName="SipNo" Caption="SIP" />
                                                <DxGridDataColumn FieldName="StrNo" Caption="STR" />
                                            </Columns>
                                        </DxGrid>
                                    </DxLoadingPanel>
                                </div>
                            }
                            else
                            {
                                <EditForm Model="@UserForm" Context="EditFormContext" OnValidSubmit="@HandleValidSubmit"
                                          OnInvalidSubmit="@HandleInvalidSubmit">
                                    <DataAnnotationsValidator />
                                    <DxFormLayout CssClass="mt">
                                        <DxFormLayoutGroup Caption="General Information" ColSpanMd="12">
                                            <DxFormLayoutItem CaptionCssClass="required-caption normal-caption" Caption="Name">
                                                <DxTextBox @bind-Text="@UserForm.Name" ShowValidationIcon="true" ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto" NullText="Name" />
                                            </DxFormLayoutItem>
                                            <DxFormLayoutItem CaptionCssClass="required-caption normal-caption" Caption="Email">
                                                <DxMaskedInput @bind-Value="@UserForm.Email"
                                                               Mask="@EmailMask"
                                                               ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
                                                               NullText="mail@domain.com"
                                                               ShowValidationIcon="true"
                                                               MaskMode="MaskMode.RegEx">
                                                    <Buttons>
                                                        <DxEditorButton IconCssClass="fa-solid fa-envelope" />
                                                    </Buttons>
                                                    <ChildContent>
                                                        <DxRegExMaskProperties MaskAutoCompleteMode="@MaskAutoCompleteMode.Strong"
                                                                               Placeholder="@('_')"
                                                                               PlaceholdersVisible="true" />
                                                    </ChildContent>
                                                </DxMaskedInput>
                                            </DxFormLayoutItem>
                                            <DxFormLayoutItem CaptionCssClass="-caption normal-caption" Caption="Mobile Phone">
                                                <DxMaskedInput @bind-Value="@UserForm.MobilePhone"
                                                               ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
                                                               NullText="Mobile Phone"
                                                               ShowValidationIcon="true"
                                                               Mask="@NumericMask.WholeNumber">
                                                    <DxTextMaskProperties Placeholder="Placeholder" />
                                                </DxMaskedInput>
                                            </DxFormLayoutItem>
                                            <DxFormLayoutItem CaptionCssClass="-caption normal-caption"Caption="Phone">
                                                <DxMaskedInput @bind-Value="@UserForm.HomePhoneNumber"
                                                               ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
                                                               ShowValidationIcon="true"
                                                               NullText="Home Mobile Phone">
                                                    <DxTextMaskProperties Placeholder="Placeholder" />
                                                </DxMaskedInput>
                                            </DxFormLayoutItem>
                                            <DxFormLayoutItem CaptionCssClass="-caption normal-caption" Caption="Religion">
                                                <DxComboBox ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto" FilteringMode="@DataGridFilteringMode.Contains"
                                                            Data="@Religions" NullText="Religion" @bind-Value="@UserForm.ReligionId" TextFieldName="Name" ValueFieldName="Id" />
                                            </DxFormLayoutItem>
                                            <DxFormLayoutItem CaptionCssClass="-caption normal-caption" Caption="NPWP">
                                                <DxTextBox @bind-Text="@UserForm.Npwp" ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto" NullText="NPWP" />
                                            </DxFormLayoutItem>
                                            <DxFormLayoutItem CaptionCssClass="-caption normal-caption" Caption="Identity Number">
                                                <DxMaskedInput @bind-Value="@UserForm.NoId"
                                                               ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
                                                               ShowValidationIcon="true"
                                                               NullText="Identity Number">
                                                    <DxTextMaskProperties Placeholder="Placeholder" />
                                                </DxMaskedInput>
                                            </DxFormLayoutItem>
                                            <DxFormLayoutItem CaptionCssClass="-caption normal-caption" Caption="Identity Type">
                                                <DxComboBox Data="@IdentityTypes" @bind-Value="@UserForm.TypeId"></DxComboBox>
                                            </DxFormLayoutItem>
                                            <DxFormLayoutItem CaptionCssClass="-caption normal-caption" Caption="Expired Identity" Visible="@(@UserForm.TypeId == null ? false : @UserForm.TypeId.Contains("VISA"))">
                                                <DxDateEdit @bind-Date="@UserForm.ExpiredId" Mask="@DateTimeMask.ShortDate" />
                                            </DxFormLayoutItem>
                                            <DxFormLayoutItem CaptionCssClass="-caption normal-caption" Caption="Emergency Name">
                                                <DxTextBox @bind-Text="@UserForm.EmergencyName" ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto" NullText="Emergency Name" />
                                            </DxFormLayoutItem>
                                            <DxFormLayoutItem CaptionCssClass="-caption normal-caption" Caption="Emergency Relation">
                                                <DxTextBox @bind-Text="@UserForm.EmergencyRelation" ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto" NullText="Emergency Relation" />
                                            </DxFormLayoutItem>
                                            <DxFormLayoutItem CaptionCssClass="-caption normal-caption" Caption="Emergency Email">
                                                <DxTextBox @bind-Text="@UserForm.EmergencyEmail" ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto" NullText="Emergency Email" />
                                            </DxFormLayoutItem>
                                            <DxFormLayoutItem CaptionCssClass="-caption normal-caption" Caption="Date of Birth">
                                                <DxDateEdit @bind-Date="@UserForm.DateOfBirth" NullText="Date of Birth" Mask="@DateTimeMask.ShortDate" />
                                            </DxFormLayoutItem>
                                            <DxFormLayoutItem CaptionCssClass="-caption normal-caption" Caption="Emergency Phone">
                                                <DxMaskedInput @bind-Value="@UserForm.EmergencyPhone"
                                                               NullText="Emergency Phone"
                                                               ShowValidationIcon="true"
                                                               ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto">
                                                    <DxTextMaskProperties Placeholder="Placeholder" />
                                                </DxMaskedInput>
                                            </DxFormLayoutItem>
                                            <DxFormLayoutItem CaptionCssClass="-caption normal-caption" Caption="Gender">
                                                <DxComboBox ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto" FilteringMode="@DataGridFilteringMode.Contains"
                                                            Data="@Genders" NullText="Gender" @bind-Value="@UserForm.GenderId" TextFieldName="Name" ValueFieldName="Id" />
                                            </DxFormLayoutItem>
                                            <DxFormLayoutItem CaptionCssClass="-caption normal-caption" Caption="Martial Status">
                                                <DxComboBox ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto" FilteringMode="@DataGridFilteringMode.Contains"
                                                            Data="@MartialStatuss" NullText="Martial Status" @bind-Value="@UserForm.MartialStatus"></DxComboBox>
                                            </DxFormLayoutItem>
                                            <DxFormLayoutItem CaptionCssClass="-caption normal-caption" Caption="KTP Address" ColSpanMd="12">
                                                <Template>
                                                    <DxGridLayout>
                                                        <Rows>
                                                            <DxGridLayoutRow />
                                                            <DxGridLayoutRow />
                                                            <DxGridLayoutRow />
                                                            <DxGridLayoutRow />
                                                            <DxGridLayoutRow />
                                                            <DxGridLayoutRow />
                                                        </Rows>
                                                        <Columns>
                                                            <DxGridLayoutColumn />
                                                            <DxGridLayoutColumn />
                                                        </Columns>
                                                        <Items>
                                                            <DxGridLayoutItem Row="0" Column="0" ColumnSpan="12">
                                                                <Template>
                                                                    <DxTextBox @bind-Text="@UserForm.IdCardAddress1" NullText="Street 1..." />
                                                                </Template>
                                                            </DxGridLayoutItem>
                                                            <DxGridLayoutItem Row="1" Column="0" ColumnSpan="12">
                                                                <Template>
                                                                    <DxTextBox @bind-Text="@UserForm.IdCardAddress2" CssClass="mt" NullText="Street 2..." />
                                                                </Template>
                                                            </DxGridLayoutItem>
                                                            <DxGridLayoutItem Row="2" Column="0" ColumnSpan="12" CssClass="mt">
                                                                <Template>
                                                                    <DxTextBox @bind-Text="@UserForm.IdCardRtRw" NullText="RT/RW..." />
                                                                </Template>
                                                            </DxGridLayoutItem>
                                                            <DxGridLayoutItem Row="3" Column="0" CssClass="mt">
                                                                <Template>
                                                                    <DxComboBox ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto" FilteringMode="@DataGridFilteringMode.Contains"
                                                                                Data="@Provinces"
                                                                                NullText="Select Province..."
                                                                                @bind-Value="@UserForm.IdCardProvinceId"
                                                                                TextFieldName="Name"
                                                                                ValueFieldName="Id">
                                                                    </DxComboBox>
                                                                </Template>
                                                            </DxGridLayoutItem>
                                                            <DxGridLayoutItem Row="3" Column="1" CssClass="mt ml">
                                                                <Template>
                                                                    <DxComboBox ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto" FilteringMode="@DataGridFilteringMode.Contains"
                                                                                Data="@Cities.Where(x => x.ProvinceId == UserForm.IdCardProvinceId)"
                                                                                NullText="Select City..."
                                                                                @bind-Value="@UserForm.IdCardCityId"
                                                                                TextFieldName="Name"
                                                                                ValueFieldName="Id">
                                                                    </DxComboBox>
                                                                </Template>
                                                            </DxGridLayoutItem>
                                                            <DxGridLayoutItem Row="4" Column="0" CssClass="mt">
                                                                <Template>
                                                                    <DxComboBox ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto" FilteringMode="@DataGridFilteringMode.Contains"
                                                                                Data="@Districts.Where(x => x.CityId == UserForm.IdCardCityId && x.ProvinceId == UserForm.IdCardProvinceId)"
                                                                                NullText="Select District..."
                                                                                @bind-Value="@UserForm.IdCardDistrictId"
                                                                                TextFieldName="Name"
                                                                                ValueFieldName="Id">
                                                                    </DxComboBox>
                                                                </Template>
                                                            </DxGridLayoutItem>
                                                            <DxGridLayoutItem Row="4" Column="1" CssClass="mt ml">
                                                                <Template>
                                                                    <DxComboBox ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto" FilteringMode="@DataGridFilteringMode.Contains"
                                                                                Data="@Villages.Where(x => x.CityId == UserForm.IdCardCityId && x.ProvinceId == UserForm.IdCardProvinceId && x.DistrictId == UserForm.IdCardDistrictId)"
                                                                                NullText="Select Village..."
                                                                                @bind-Value="@UserForm.IdCardVillageId"
                                                                                TextFieldName="Name"
                                                                                ValueFieldName="Id">
                                                                    </DxComboBox>
                                                                </Template>
                                                            </DxGridLayoutItem>
                                                            <DxGridLayoutItem Row="5" Column="0" ColumnSpan="12" CssClass="mt">
                                                                <Template>
                                                                    <DxComboBox ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto" FilteringMode="@DataGridFilteringMode.Contains"
                                                                                Data="@Countries.Where(x => UserForm.IdCardProvinceId == null || x.Id == Provinces.FirstOrDefault(z => z.Id == UserForm.IdCardProvinceId)?.CountryId)"
                                                                                NullText="Select Country..."
                                                                                @bind-Value="@UserForm.IdCardCountryId"
                                                                                TextFieldName="Name"
                                                                                ValueFieldName="Id">
                                                                    </DxComboBox>
                                                                </Template>
                                                            </DxGridLayoutItem>
                                                        </Items>
                                                    </DxGridLayout>
                                                </Template>
                                            </DxFormLayoutItem>
                                            <DxFormLayoutItem CaptionCssClass="-caption normal-caption" Caption="Domicile Address" ColSpanMd="12">
                                                <Template>
                                                    <DxGridLayout>
                                                        <Rows>
                                                            <DxGridLayoutRow />
                                                            <DxGridLayoutRow />
                                                            <DxGridLayoutRow />
                                                            <DxGridLayoutRow />
                                                            <DxGridLayoutRow />
                                                            <DxGridLayoutRow />
                                                        </Rows>
                                                        <Columns>
                                                            <DxGridLayoutColumn />
                                                            <DxGridLayoutColumn />
                                                        </Columns>
                                                        <Items>
                                                            <DxGridLayoutItem Row="0" Column="0" ColumnSpan="12">
                                                                <Template>
                                                                    <DxTextBox @bind-Text="@UserForm.DomicileAddress1" NullText="Street 1..." />
                                                                </Template>
                                                            </DxGridLayoutItem>
                                                            <DxGridLayoutItem Row="1" Column="0" ColumnSpan="12">
                                                                <Template>
                                                                    <DxTextBox @bind-Text="@UserForm.DomicileAddress2" CssClass="mt" NullText="Street 2..." />
                                                                </Template>
                                                            </DxGridLayoutItem>
                                                            <DxGridLayoutItem Row="2" Column="0" ColumnSpan="12" CssClass="mt">
                                                                <Template>
                                                                    <DxTextBox @bind-Text="@UserForm.DomicileRtRw" NullText="RT/RW..." />
                                                                </Template>
                                                            </DxGridLayoutItem>
                                                            <DxGridLayoutItem Row="3" Column="0" CssClass="mt">
                                                                <Template>
                                                                    <DxComboBox ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto" FilteringMode="@DataGridFilteringMode.Contains"
                                                                                Data="@Provinces"
                                                                                NullText="Select Province..."
                                                                                @bind-Value="@UserForm.DomicileProvinceId"
                                                                                TextFieldName="Name"
                                                                                ValueFieldName="Id">
                                                                    </DxComboBox>
                                                                </Template>
                                                            </DxGridLayoutItem>
                                                            <DxGridLayoutItem Row="3" Column="1" CssClass="mt ml">
                                                                <Template>
                                                                    <DxComboBox ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto" FilteringMode="@DataGridFilteringMode.Contains"
                                                                                Data="@Cities.Where(x => x.ProvinceId == UserForm.DomicileProvinceId.GetValueOrDefault())"
                                                                                NullText="Select City..."
                                                                                @bind-Value="@UserForm.DomicileCityId"
                                                                                TextFieldName="Name"
                                                                                ValueFieldName="Id">
                                                                    </DxComboBox>
                                                                </Template>
                                                            </DxGridLayoutItem>
                                                            <DxGridLayoutItem Row="4" Column="0" CssClass="mt">
                                                                <Template>
                                                                    <DxComboBox ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto" FilteringMode="@DataGridFilteringMode.Contains"

                                                                        Data="@Districts.Where(x => x.CityId == UserForm.DomicileCityId && x.ProvinceId == UserForm.DomicileProvinceId)"
                                                                                NullText="Select District..."
                                                                                @bind-Value="@UserForm.DomicileDistrictId"
                                                                                TextFieldName="Name"
                                                                                ValueFieldName="Id">
                                                                    </DxComboBox>
                                                                </Template>
                                                            </DxGridLayoutItem>
                                                            <DxGridLayoutItem Row="4" Column="1" CssClass="mt ml">
                                                                <Template>
                                                                    <DxComboBox ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto" FilteringMode="@DataGridFilteringMode.Contains"

                                                                        Data="@Villages.Where(x => x.CityId == UserForm.DomicileCityId && x.ProvinceId == UserForm.DomicileProvinceId && x.DistrictId == UserForm.DomicileDistrictId)"
                                                                                NullText="Select Village..."
                                                                                @bind-Value="@UserForm.DomicileVillageId"
                                                                                TextFieldName="Name"
                                                                                ValueFieldName="Id">
                                                                    </DxComboBox>
                                                                </Template>
                                                            </DxGridLayoutItem>
                                                            <DxGridLayoutItem Row="5" Column="0" ColumnSpan="12" CssClass="mt">
                                                                <Template>
                                                                    <DxComboBox ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto" FilteringMode="@DataGridFilteringMode.Contains"
                                                                                Data="@Countries.Where(x => UserForm.DomicileProvinceId == null || x.Id == Provinces.FirstOrDefault(z => z.Id == UserForm.DomicileProvinceId)?.CountryId)"
                                                                                NullText="Select Country..."
                                                                                @bind-Value="@UserForm.DomicileCountryId"
                                                                                TextFieldName="Name"
                                                                                ValueFieldName="Id">
                                                                    </DxComboBox>
                                                                </Template>
                                                            </DxGridLayoutItem>
                                                        </Items>
                                                    </DxGridLayout>
                                                </Template>
                                            </DxFormLayoutItem>
                                        </DxFormLayoutGroup>

                                        <DxFormLayoutGroup Caption="Practitioner License" ColSpanMd="12">
                                            <DxGridLayout ColumnSpacing="3">
                                                <Rows>
                                                    <DxGridLayoutRow />
                                                </Rows>
                                                <Columns>
                                                    <DxGridLayoutColumn />
                                                    <DxGridLayoutColumn />
                                                </Columns>
                                                <Items>
                                                    <DxGridLayoutItem Row="0" Column="0">
                                                        <Template>
                                                            <DxFormLayoutItem CaptionCssClass="-caption normal-caption" Caption="Physicion">
                                                                <DxCheckBox @bind-Checked="@UserForm.IsPhysicion" />
                                                            </DxFormLayoutItem>
                                                        </Template>
                                                    </DxGridLayoutItem>
                                                    <DxGridLayoutItem Row="0" Column="1" CssClass="layout-margin-l">
                                                        <Template>
                                                            <DxFormLayoutItem CaptionCssClass="-caption normal-caption" Caption="Nurse:">
                                                                <DxCheckBox @bind-Checked="@UserForm.IsNurse" />
                                                            </DxFormLayoutItem>
                                                        </Template>
                                                    </DxGridLayoutItem>
                                                </Items>
                                            </DxGridLayout>

                                            <DxFormLayoutItem CaptionCssClass="-caption normal-caption" Caption="Sip Number">
                                                <DxMaskedInput @bind-Value="@UserForm.SipNo"
                                                               NullText="Sip Number"
                                                               ShowValidationIcon="true"
                                                               ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto">
                                                    <DxTextMaskProperties Placeholder="Placeholder" />
                                                </DxMaskedInput>
                                            </DxFormLayoutItem>
                                            <DxFormLayoutItem CaptionCssClass="-caption normal-caption" Caption="Str Number">
                                                <DxMaskedInput @bind-Value="@UserForm.StrNo"
                                                               NullText="Str Number"
                                                               ShowValidationIcon="true"
                                                               ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto">
                                                    <DxTextMaskProperties Placeholder="Placeholder" />
                                                </DxMaskedInput>
                                            </DxFormLayoutItem>
                                            <DxFormLayoutItem CaptionCssClass="-caption normal-caption" Caption="Sip File">
                                                <DxMaskedInput @bind-Value="@UserForm.SipFile"
                                                               ShowValidationIcon="true"
                                                               ReadOnly="true"
                                                               MaskMode="MaskMode.RegEx">
                                                    <Buttons>
                                                        <InputFile id="sipFile" accept=".txt, .pdf, .docx" OnChange="@SelectFiles" multiple="false" style="display:none" />
                                                        <DxEditorButton Click="SelectFile" IconCssClass="fa-solid fa-upload" />
                                                        <DxEditorButton Click="DownloadFile" IconCssClass="fa-solid fa-download" />
                                                        <DxEditorButton Click="RemoveSelectedFile" IconCssClass="fa-solid fa-trash" />
                                                    </Buttons>
                                                </DxMaskedInput>
                                                @* <DxTextBox @bind-Text="@UserForm.SipFile" ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto" NullText="Sip File" /> *@
                                            </DxFormLayoutItem>
                                            <DxFormLayoutItem CaptionCssClass="-caption normal-caption" Caption="Str Expired">
                                                <DxDateEdit @bind-Date="@UserForm.StrExp" NullText="Str Expired" Mask="@DateTimeMask.ShortDate" />
                                            </DxFormLayoutItem>
                                            <DxFormLayoutItem CaptionCssClass="-caption normal-caption" Caption="Sip Expired">
                                                <DxDateEdit @bind-Date="@UserForm.SipExp" NullText="Sip Expired" Mask="@DateTimeMask.ShortDate" />
                                            </DxFormLayoutItem>
                                            <DxFormLayoutItem CaptionCssClass="-caption normal-caption" Caption="Services">
                                                <DxTagBox Data="@Services"
                                                          FilteringMode="@DataGridFilteringMode.Contains"
                                                          @bind-Values="@SelectedServices"
                                                          TextFieldName="Name"
                                                          NullText="Select Service"
                                                          ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto" />
                                            </DxFormLayoutItem>
                                            <DxFormLayoutItem CaptionCssClass="-caption normal-caption" Caption="Speciality">
                                                <Template>
                                                    <DxComboBox ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto" FilteringMode="@DataGridFilteringMode.Contains"
                                                                Data="@Specialities"
                                                                NullText="Select Speciality..."
                                                                @bind-Value="@UserForm.SpecialityId"
                                                                TextFieldName="Name"
                                                                ValueFieldName="Id">
                                                    </DxComboBox>
                                                </Template>
                                            </DxFormLayoutItem>
                                        </DxFormLayoutGroup>
                                    </DxFormLayout>
                                    <div class="ml-2 mt-1 mb-2 mr-3">
                                        <div class="row justify-content-end">
                                            <div class="col-auto align-self-end">
                                                <DxButton RenderStyleMode="@ButtonRenderStyleMode.Outline"
                                                          Text="Save"
                                                          RenderStyle="ButtonRenderStyle.Info"
                                                          SubmitFormOnClick="true"
                                                          IconCssClass="fa-solid fa-floppy-disk"
                                                          CssClass="w-20 ml" />
                                                <DxButton RenderStyleMode="@ButtonRenderStyleMode.Outline"
                                                          Text="Cancel"
                                                          RenderStyle="ButtonRenderStyle.Danger"
                                                          Click="OnCancel"
                                                          IconCssClass="fa-solid fa-xmark"
                                                          CssClass="w-20 ml" />
                                            </div>
                                        </div>
                                    </div>
                                </EditForm>
                                <div class="mt-2"></div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
}