@page "/group"
@using static McDermott.Application.Features.Commands.MenuCommand
@rendermode InteractiveServer

<PageTitle>Group</PageTitle>

<div class="wrapper">

    <McDermott.Web.Components.Layout.BaseContentHeaderLayout Title="Group" />

    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col">
                    <div class="card">
                        <div class="card-body">
                            <DxGrid @ref="Grid"
                                    Data="Groups"
                                    PageSize="10"
                                    FilterMenuButtonDisplayMode="GridFilterMenuButtonDisplayMode.Always"
                                    KeyFieldName="Id"
                                    CustomizeDataRowEditor="Grid_CustomizeDataRowEditor"
                                    EditModelSaving="OnSave"
                                    DataItemDeleting="OnDelete"
                                    EditMode="GridEditMode.EditForm"
                                    PopupEditFormCssClass="pw-800"
                                    PagerPosition="GridPagerPosition.Bottom"
                                    PageSizeSelectorVisible="true"
                                    PageSizeSelectorItems="@(new int[] { 10, 20, 50, 100 })"
                                    PageSizeSelectorAllRowsItemVisible="true"
                                    PagerSwitchToInputBoxButtonCount="10"
                                    PagerVisibleNumericButtonCount="10"
                                    ShowGroupPanel="true"
                                    AutoExpandAllGroupRows="true"
                                    ShowFilterRow="true"
                                    ShowSearchBox="true"
                                    SelectAllCheckboxMode="GridSelectAllCheckboxMode.Mixed"
                                    KeyboardNavigationEnabled="true">
                                <Columns>
                                    <DxGridDataColumn FieldName="Name" SortIndex="0" />
                                    <DxGridCommandColumn/>
                                </Columns>
                                <EditFormTemplate Context="EditFormContext">
                                    @{
                                        var m = Menus;
                                    }
                                    <DxFormLayout CssClass="w-100">
                                        <DxFormLayoutItem Caption="Name:" ColSpanMd="6">
                                            @EditFormContext.GetEditor("Name")
                                        </DxFormLayoutItem>
                                        <DxFormLayoutItem Caption="Menu:" ColSpanMd="6">
                                            <DxTagBox Data="@Menus"
                                                      HideSelectedItems="false"
                                                      TextFieldName="@nameof(MenuDto.Name)"
                                                      @bind-Values="@SelectedGroupMenus"
                                                      CssClass="cw-480" />
                                        </DxFormLayoutItem>
                                    </DxFormLayout>
                                </EditFormTemplate>
                            </DxGrid>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>