@page "/login"
@using McDermott.Application.Features.Services
@using McDermott.Domain.Entities
@using McDermott.Persistence.Context
@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.EntityFrameworkCore
@using System.Security.Cryptography
@using System.Text
@using Newtonsoft.Json
@using System.Security.Claims
@inject HttpClient Http

@inject CustomAuthenticationStateProvider CustomAuth

<PageTitle>McDermott - Login</PageTitle>

<div class="hold-transition login-page">
    <div class="login-box">
        <!-- /.login-logo -->
        <div class="card card-outline card-primary">
            <div class="card-header text-center">
                <a href="../../index2.html" class="h1"><b>Mc</b>Dermott</a>
            </div>
            <div class="card-body">
                <p class="login-box-msg">Sign in to start your session</p>

                @*  <div hidden="@isSuccess" class="alert alert-danger alert-dismissible">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                <h5><i class="icon fas fa-ban"></i> Alert!</h5>
                @text
                </div> *@

                @*   <form>
                <div class="input-group mb-3">
                <input @bind="User.Email" id="exampleInputEmail1" type="email" class="form-control" placeholder="Email">
                <div class="input-group-append">
                <div class="input-group-text">
                <span class="fas fa-envelope"></span>
                </div>
                </div>

                </div>
                <div class="input-group mb-3">
                <input @bind="User.Password" type="password" class="form-control" placeholder="Password">
                <div class="input-group-append">
                <div class="input-group-text">
                <span class="fas fa-lock"></span>
                </div>
                </div>
                </div>
                <button type="button" @onclick="OnLogin" class="btn btn-block btn-primary">
                Sign in
                </button>

                </form> *@

                <DxFormLayout CssClass="mt-auto col-md">
                    <DxFormLayoutItem ColSpanMd="12" BeginRow="true">
                        <label for="EmailId" class="demo-text mb-1">
                            Email:
                        </label>
                        <DxMaskedInput Value="@User.Email"
                                       Mask="@EmailMask"
                                       NullText="mail@domain.com"
                                       ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
                                       InputId="EmailId"
                                       ValueChanged="@((string value) => OnEmailChanged(value))"
                                       MaskMode="MaskMode.RegEx">
                            <Buttons>
                                <DxEditorButton IconCssClass="fa-solid fa-envelope" />
                            </Buttons>
                            <ChildContent>
                                <DxRegExMaskProperties MaskAutoCompleteMode="@MaskAutoCompleteMode.Strong"
                                                       Placeholder="@('_')"
                                                       PlaceholdersVisible="true" />
                            </ChildContent>
                        </DxMaskedInput>
                    </DxFormLayoutItem>
                    <DxFormLayoutItem ColSpanMd="12" BeginRow="true">
                        <label for="PasswordId" class="demo-text mb-1">
                            Password:
                        </label>
                        <DxTextBox @bind-Text="@User.Password"
                                   InputId="PasswordId"
                                   NullText="Password" ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
                                   Password="true">
                            <Buttons>
                                <DxEditorButton IconCssClass="fa-solid fa-lock" />
                            </Buttons>
                        </DxTextBox>
                    </DxFormLayoutItem>
                    <DxFormLayoutItem ColSpanMd="12" BeginRow="true">
                        <div class="row  justify-content-end">
                            <div class="col-auto align-self-end">
                                <DxButton RenderStyleMode="@ButtonRenderStyleMode.Outline" Click="OnLogin" IconCssClass="fa-solid fa-right-to-bracket" Text="Sign In" SubmitFormOnClick="true" />
                            </div>
                        </div>
                    </DxFormLayoutItem>
                </DxFormLayout>
            </div>
        </div>
    </div>
</div>

@code {
    #region MaskedInput
    string EmailMask { get; set; } = @"(\w|[.-])+@(\w|-)+\.(\w|-){2,4}";
    string EmailLink { get; set; } = "mailto:test@example.com";
    void OnEmailChanged(string email)
    {
        User.Email = email;
        EmailLink = $"mailto:{email}";
    }
    #endregion
    private GroupMenuDto UserAccessCRUID = new();
    private bool IsAccess = false;

    protected override async Task OnInitializedAsync()
    {
        //Helper.DeleteFile("Hasil-Ronsen.jpg");
        // try
        // {
        //     var result = await NavigationManager.CheckAccessUser(oLocal);
        //     IsAccess = result.Item1;
        //     UserAccessCRUID = result.Item2;
        // }
        // catch { }

    }
    private async Task DownloadFile()
    {
        try
        {
            // await Helper.DownloadFile(HttpContextAccessor, Http, JsRuntime);
            // Replace "api/download/file" with the actual API endpoint for downloading files
            var response = await Http.GetAsync("http://localhost:5000/Uploads/Hasil-Ronsen.jpeg");

            if (response.IsSuccessStatusCode)
            {
                var content = await response.Content.ReadAsStreamAsync();
                var fileName = "Hasil-Ronsen.jpeg"; // Change the file name if necessary

                // Convert file content to Base64 string
                var bytes = new byte[content.Length];
                await content.ReadAsync(bytes, 0, (int)content.Length);
                var base64Content = Convert.ToBase64String(bytes);

                // Trigger file download and specify file name
                await JsRuntime.InvokeVoidAsync("downloadFile", new
                {
                    fileName = fileName,
                    content = base64Content
                });
            }
            else
            {
                // Handle error
                // You might want to show an error message or log the error
            }
        }
        catch (Exception ex)
        {
            ToastService.ShowError(ex.Message);
            // Handle exception
            // You might want to show an error message or log the exception
        }
    }
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await base.OnAfterRenderAsync(firstRender);

        if (firstRender)
        {
            try
            {

                await DownloadFile();
            }
            catch { }
        }
    }

    private void ClickLogin()
    {
        NavigationManager.NavigateTo("/", true);
    }

    private User User = new User
    {
        // Email = "admin@example.com",
        // Password = "123"
    };

    private async Task OnLogin()
    {
        // toastService.ShowSuccess("Success");
        // toastService.ShowInfo("Info");
        // toastService.ShowWarning("Warning");
        // toastService.ShowError("Error");

        var user = await Mediator.Send(new GetUserByEmailPasswordQuery(User.Adapt<UserDto>()));
        if (user is not null && !string.IsNullOrWhiteSpace(User!.Email) && !string.IsNullOrWhiteSpace(User.Password))
        {
            // Helper.UserLogin = user;

            // var claims = new List<Claim>
            // {
            //     new Claim(ClaimTypes.Name, user.Name),
            //     new Claim(ClaimTypes.Role, Convert.ToBoolean(user.IsEmployee) ? "Employee" : "")
            // };
            // // var claims = new List<Claim>
            // // {
            // //     new Claim(ClaimTypes.Name, "username"),
            // //     new Claim(ClaimTypes.Role, "Admin"),
            // //     // Tambahkan klaim tambahan jika diperlukan
            // // };

            // var claimsIdentity = new ClaimsIdentity(claims, CookieAuthenticationDefaults.AuthenticationScheme);
            // var claimsPrincipal = new ClaimsPrincipal(claimsIdentity);

            // await HttpContextAccessor?.HttpContext?.SignInAsync(CookieAuthenticationDefaults.AuthenticationScheme, claimsPrincipal);
            // await HttpContext.SignInAsync(CookieAuthenticationDefaults.AuthenticationScheme, claimsPrincipal);

            // await oLocal.GetItemAsync<string>("asd");

            // var a = (CustomAuthenticationStateProvider)AuthenticationStateProvider;
            // await a.UpdateAuthenticationState(user);

            // await _protectedSessionStorage.SetAsync("UserSession", b);
            // await _protectedSessionStorage.SetAsync("UserMenuSession", DetailMenuDtos);

            string serialize = JsonConvert.SerializeObject(user);
            var encrypt = Helper.Encrypt(serialize);

            await oLocal.SetItemAsync("dotnet", encrypt);

            if (user.GroupId is not null)
            {
                var g = await Mediator.Send(new GetGroupMenuByGroupIdRequest((int)user.GroupId));

                var encryptMenu = Helper.Encrypt(JsonConvert.SerializeObject(g));

                await oLocal.SetItemAsync("dotnet2", encryptMenu);
            }
            else
            {
                await oLocal.SetItemAsync("dotnet2", new List<string>());
            }

            var a = (CustomAuthenticationStateProvider)CustomAuth;
            await a.UpdateAuthState(user.Adapt<User>());

            NavigationManager.NavigateTo("", forceLoad: true);

            // var claims = new List<Claim>
            //     {
            //         new Claim("CustomClaimType", "CustomClaimValue")
            //     };

            // var userIdentity = new ClaimsIdentity(claims, "login");

            // ClaimsPrincipal principal = new ClaimsPrincipal(userIdentity);

            // // Serialize principal
            // var authenticationState = new AuthenticationState(principal);
            // AuthenticationStateProvider.NotifyAuthenticationStateChanged(Task.FromResult(authenticationState));

            // isSuccess = true;
        }
        else
        {
            ToastService.ShowError("Invalid Email or Password!");
            // if (string.IsNullOrWhiteSpace(User.Email) || string.IsNullOrWhiteSpace(User.Password))
            // {
            //     text = "Please insert the Email and Password";
            // }
            // isSuccess = false;
        }
    }

}