@page "/menu"
@rendermode InteractiveServer

<PageTitle>Menu</PageTitle>

<div class="wrapper">

    <McDermott.Web.Components.Layout.BaseContentHeaderLayout Title="Menu" />

    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col">
                    <div class="card">
                        <div class="card-body">
                            <DxGrid @ref="Grid"
                                    Data="Menus"
                                    PageSize="10"
                                    FilterMenuButtonDisplayMode="GridFilterMenuButtonDisplayMode.Always"
                                    KeyFieldName="Id"
                                    CustomizeDataRowEditor="Grid_CustomizeDataRowEditor"
                                    EditModelSaving="OnSave"
                                    DataItemDeleting="OnDelete"
                                    EditMode="GridEditMode.EditForm"
                                    PopupEditFormCssClass="pw-800"
                                    PagerPosition="GridPagerPosition.Bottom"
                                    PageSizeSelectorVisible="true"
                                    PageSizeSelectorItems="@(new int[] { 10, 20, 50, 100 })"
                                    PageSizeSelectorAllRowsItemVisible="true"
                                    PagerSwitchToInputBoxButtonCount="10"
                                    PagerVisibleNumericButtonCount="10"
                                    ShowGroupPanel="true"
                                    AutoExpandAllGroupRows="true"
                                    ShowFilterRow="true"
                                    ShowSearchBox="true"
                                    SelectAllCheckboxMode="GridSelectAllCheckboxMode.Mixed"
                                    KeyboardNavigationEnabled="true">
                                <Columns>
                                    <DxGridDataColumn FieldName="Name" SortIndex="0" />
                                    <DxGridDataColumn FieldName="ParentMenu" Caption="Parent" SortIndex="0" />
                                    <DxGridDataColumn FieldName="Sequence" />
                                    <DxGridDataColumn FieldName="Url" Caption="URL" />
                                    <DxGridCommandColumn Width="160px" />
                                </Columns>
                                <EditFormTemplate Context="EditFormContext">
                                    @{
                                        var a = (MenuDto)EditFormContext.EditModel;
                                    }
                                    <DxFormLayout CssClass="w-100">
                                        <DxFormLayoutItem Caption="Name:" ColSpanMd="6">
                                            @EditFormContext.GetEditor("Name")
                                        </DxFormLayoutItem>
                                        <DxFormLayoutItem Caption="Parent Menu:" ColSpanMd="6">
                                            <DxComboBox Data="@ParentMenuDto"
                                                        NullText="Select Parent Menu..."
                                                        @bind-Value="@a.ParentMenu"
                                                        TextFieldName="Name"
                                                        ValueFieldName="Name">
                                            </DxComboBox>
                                        </DxFormLayoutItem>
                                        <DxFormLayoutItem Caption="Sequence:" ColSpanMd="6">
                                            @EditFormContext.GetEditor("Sequence")
                                        </DxFormLayoutItem>
                                        <DxFormLayoutItem Caption="URL:" ColSpanMd="6">
                                            @EditFormContext.GetEditor("Url")
                                        </DxFormLayoutItem>
                                    </DxFormLayout>
                                </EditFormTemplate>
                            </DxGrid>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div> 