@page "/test"
@using DevExpress.Data.Linq
@using McDermott.Application.Dtos
@using Microsoft.AspNetCore.Authorization
@* @attribute [Authorize(AuthenticationSchemes = "CustomAuth")] // Menentukan skema otentikasi *@
@inherits OwningComponentBase
@inject Microsoft.Extensions.Configuration.IConfiguration Configuration

<h3>TestPage</h3>

<DxGrid Data="@districts"
        PageSizeSelectorItems="@(new int[] { 10, 20, 100 })"
        PageSizeSelectorAllRowsItemVisible="true"
        PagerSwitchToInputBoxButtonCount="10"
        PagerVisibleNumericButtonCount="10"
        KeyboardNavigationEnabled="true"
        PagerVisible="true"
        PageSizeSelectorVisible="true"
        PagerPosition="GridPagerPosition.Bottom"
        PageSize="@pageSize"
        PageIndexChanged="PageSizeChangedHandler" >
    <Columns>
        <DxGridDataColumn FieldName="@nameof(VillageDto.DistrictId)" />
        <DxGridDataColumn FieldName="@nameof(VillageDto.Name)" />
        <DxGridDataColumn FieldName="@nameof(VillageDto.Province.Name)" />
        <DxGridDataColumn FieldName="@nameof(VillageDto.City.Name)" />
        <DxGridDataColumn FieldName="@nameof(VillageDto.PostalCode)" />
    </Columns>
</DxGrid>

@code {
    private PaginatedList<VillageDto> districts;
    private int pageSize = 20; // Default page size

    protected override async Task OnInitializedAsync()
    {
        await LoadData();
    }

    private async Task LoadData()
    {
        districts = await Mediator.Send(new GetDistrictsQuery { PageNumber = 1, PageSize = pageSize });
    }

    private async Task PageSizeChangedHandler(int newSize)
    {
        pageSize = newSize;
        await LoadData();
    }
}