@page "/user"
@using static McDermott.Web.Helper
@rendermode InteractiveServer

<PageTitle>User</PageTitle>

<div class="wrapper">

    <McDermott.Web.Components.Layout.BaseContentHeaderLayout Title="User" />

    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col">
                    <div class="card">
                        @*  <DxGrid @ref="Grid"
                        Data="Users"
                        PageSize="10"
                        @bind-SelectedDataItems="@SelectedDataItems"
                        FilterMenuButtonDisplayMode="GridFilterMenuButtonDisplayMode.Always"
                        KeyFieldName="Id"
                        CustomizeDataRowEditor="Grid_CustomizeDataRowEditor"
                        PopupEditFormCssClass="pw-800"
                        PagerPosition="GridPagerPosition.Bottom"
                        PageSizeSelectorVisible="true"
                        PageSizeSelectorItems="@(new int[] { 10, 20, 50, 100 })"
                        PageSizeSelectorAllRowsItemVisible="true"
                        PagerSwitchToInputBoxButtonCount="10"
                        FocusedRowEnabled="true"
                        DataItemDeleting="OnDelete"
                        PagerVisibleNumericButtonCount="10"
                        FocusedRowChanged="Grid_FocusedRowChanged"
                        ShowGroupPanel="true"
                        AutoExpandAllGroupRows="true"
                        ShowFilterRow="true"
                        CustomizeElement="Grid_CustomizeElement"
                        ShowSearchBox="true"
                        SelectAllCheckboxMode="GridSelectAllCheckboxMode.Mixed"
                        KeyboardNavigationEnabled="true">
                        <ToolbarTemplate>
                        <DxToolbar ItemRenderStyleMode="ToolbarRenderStyleMode.Contained">
                        <DxToolbarItem Text="New" Click="NewItem_Click" IconCssClass="grid-toolbar-new" />
                        <DxToolbarItem Text="Edit" Click="EditItem_Click" IconCssClass="grid-toolbar-edit" Enabled="EditItemsEnabled" />
                        <DxToolbarItem Text="Delete" Click="DeleteItem_Click" IconCssClass="grid-toolbar-delete" Enabled="EditItemsEnabled" />`
                        <DxToolbarItem Text="Column Chooser" Click="ColumnChooserButton_Click" BeginGroup="true" IconCssClass="grid-toolbar-column-chooser" />
                        <DxToolbarItem Text="Export" IconCssClass="grid-toolbar-export">
                        <Items>
                        <DxToolbarItem Text="To CSV" Click="ExportCsvItem_Click" />
                        <DxToolbarItem Text="To XLSX" Click="ExportXlsxItem_Click" />
                        <DxToolbarItem Text="To XLS" Click="ExportXlsItem_Click" />
                        </Items>
                        </DxToolbarItem>
                        <DxToolbarItem Text="Upload" id="upload" IconCssClass="grid-toolbar-upload" />
                        </DxToolbar>
                        </ToolbarTemplate>
                        <Columns>
                        <DxGridSelectionColumn Width="15px" />
                        <DxGridDataColumn FieldName="Name" SortIndex="0" />
                        <DxGridDataColumn FieldName="Code" />
                        </Columns>
                        <EditFormTemplate Context="EditFormContext">
                        <DxFormLayout CssClass="w-100">
                        <DxFormLayoutItem Caption="Name:" ColSpanMd="6">
                        @EditFormContext.GetEditor("Name")
                        </DxFormLayoutItem>
                        <DxFormLayoutItem Caption="Code:" ColSpanMd="6">
                        @EditFormContext.GetEditor("Code")
                        </DxFormLayoutItem>
                        </DxFormLayout>
                        </EditFormTemplate>
                        </DxGrid> *@

                        <DxFormLayout Data="UserForm" ItemUpdating="@((pair) => OnItemUpdating(pair.Key, pair.Value))">
                            <DxFormLayoutGroup Caption="General Information" ColSpanMd="12">
                                <DxFormLayoutItem Field="@nameof(UserDto.Name)"
                                                  Caption="Name:" />
                                <DxFormLayoutItem Field="@nameof(UserDto.MobilePhone)"
                                                  Caption="Phone Number:" />
                                <DxFormLayoutItem Field="@nameof(UserDto.Email)"
                                                  Caption="Email:" />
                                <DxFormLayoutItem Field="@nameof(UserDto.MobilePhone)"
                                                  Caption="Mobile Phone Number:" />
                                <DxFormLayoutItem Caption="Religion:">
                                    <DxComboBox Data="@Religions" @bind-Value="@UserForm.ReligionId" TextFieldName="Name"
                                                ValueFieldName="Id" />
                                </DxFormLayoutItem>
                                <DxFormLayoutItem Field="@nameof(UserDto.Npwp)"
                                                  Caption="NPWP:" />
                                <DxFormLayoutItem Caption="Identity Type:">
                                    <DxComboBox Data="@IdentityTypes" @bind-Value="@UserForm.TypeId"></DxComboBox>
                                </DxFormLayoutItem>
                                <DxFormLayoutItem Visible="@UserForm.TypeId.Contains("VISA")" Field="@nameof(UserDto.ExpiredId)"
                                                  Caption="Expired Identity:" />
                                <DxFormLayoutItem Field="@nameof(UserDto.EmergencyName)"
                                                  Caption="Emergency Name:" />
                                <DxFormLayoutItem Field="@nameof(UserDto.NoId)"
                                                  Caption="Identity Number:" />
                                <DxFormLayoutItem Field="@nameof(UserDto.EmergencyRelation)"
                                                  Caption="Emergency Relation:" />
                                <DxFormLayoutItem Field="@nameof(UserDto.PlaceOfBirth)"
                                                  Caption="Place of Birth:" />
                                <DxFormLayoutItem Field="@nameof(UserDto.EmergencyEmail)"
                                                  Caption="Emergency Email:" />
                                <DxFormLayoutItem Field="@nameof(UserDto.DateOfBirth)"
                                                  Caption="Date of Birth:" />
                                <DxFormLayoutItem Field="@nameof(UserDto.EmergencyPhone)"
                                                  Caption="Emergency Phone:" />
                                <DxFormLayoutItem Caption="Gender:">
                                    <DxComboBox Data="@Genders" @bind-Value="@UserForm.GenderId"
                                                TextFieldName="Name"
                                                ValueFieldName="Id" />
                                </DxFormLayoutItem>
                                <DxFormLayoutItem Caption="Martial Status:">
                                    <DxComboBox Data="@MartialStatuss" @bind-Value="@UserForm.MartialStatus"></DxComboBox>
                                </DxFormLayoutItem>
                                <DxFormLayoutItem Caption="Domicile Address:" ColSpanMd="6">
                                    <Template>
                                        <DxGridLayout>
                                            <Rows>
                                                <DxGridLayoutRow />
                                                <DxGridLayoutRow />
                                                <DxGridLayoutRow />
                                                <DxGridLayoutRow />
                                                <DxGridLayoutRow />
                                            </Rows>
                                            <Columns>
                                                <DxGridLayoutColumn />
                                                <DxGridLayoutColumn />
                                            </Columns>
                                            <Items>
                                                <DxGridLayoutItem Row="0" Column="0" ColumnSpan="12">
                                                    <Template>
                                                        <DxTextBox @bind-Text="@UserForm.DomicileAddress1" NullText="Street 1..."></DxTextBox>
                                                    </Template>
                                                </DxGridLayoutItem>
                                                <DxGridLayoutItem Row="1" Column="0" ColumnSpan="12">
                                                    <Template>
                                                        <DxTextBox @bind-Text="@UserForm.DomicileAddress2" CssClass="mt" NullText="Street 2..."></DxTextBox>
                                                    </Template>
                                                </DxGridLayoutItem>
                                                <DxGridLayoutItem Row="2" Column="0" CssClass="mt">
                                                    <Template>
                                                        <DxComboBox Data="@Provinces"
                                                                    NullText="Select Province..."
                                                                    @bind-Value="@UserForm.DomicileProvinceId"
                                                                    TextFieldName="Name"
                                                                    ValueFieldName="Id">
                                                        </DxComboBox>
                                                    </Template>
                                                </DxGridLayoutItem>
                                                <DxGridLayoutItem Row="2" Column="1" CssClass="mt ml">
                                                    <Template>
                                                        <DxComboBox Data="@Cities"
                                                                    NullText="Select City..."
                                                                    @bind-Value="@UserForm.DomicileCityId"
                                                                    TextFieldName="Name"
                                                                    ValueFieldName="Id">
                                                        </DxComboBox>
                                                    </Template>
                                                </DxGridLayoutItem>
                                                <DxGridLayoutItem Row="3" Column="0" CssClass="mt">
                                                    <Template>
                                                        <DxComboBox Data="@Districts"
                                                                    NullText="Select District..."
                                                                    @bind-Value="@UserForm.DomicileDistrictId"
                                                                    TextFieldName="Name"
                                                                    ValueFieldName="Id">
                                                        </DxComboBox>
                                                    </Template>
                                                </DxGridLayoutItem>
                                                <DxGridLayoutItem Row="3" Column="1" CssClass="mt ml">
                                                    <Template>
                                                        <DxComboBox Data="@Villages"
                                                                    NullText="Select Village..."
                                                                    @bind-Value="@UserForm.DomicileVillageId"
                                                                    TextFieldName="Name"
                                                                    ValueFieldName="Id">
                                                        </DxComboBox>
                                                    </Template>
                                                </DxGridLayoutItem>
                                                <DxGridLayoutItem Row="4" Column="0" ColumnSpan="12" CssClass="mt">
                                                    <Template>
                                                        <DxComboBox Data="@Countries"
                                                                    NullText="Select Country..."
                                                                    @bind-Value="@UserForm.DomicileCountryId"
                                                                    TextFieldName="Name"
                                                                    ValueFieldName="Id">
                                                        </DxComboBox>
                                                    </Template>
                                                </DxGridLayoutItem>
                                            </Items>
                                        </DxGridLayout>
                                    </Template>
                                </DxFormLayoutItem>

                                <DxFormLayoutItem Caption="KTP Address:" ColSpanMd="6">
                                    <Template>
                                        <DxGridLayout>
                                            <Rows>
                                                <DxGridLayoutRow />
                                                <DxGridLayoutRow />
                                                <DxGridLayoutRow />
                                                <DxGridLayoutRow />
                                                <DxGridLayoutRow />
                                            </Rows>
                                            <Columns>
                                                <DxGridLayoutColumn />
                                                <DxGridLayoutColumn />
                                            </Columns>
                                            <Items>
                                                <DxGridLayoutItem Row="0" Column="0" ColumnSpan="12">
                                                    <Template>
                                                        <DxTextBox @bind-Text="@UserForm.IdCardAddress1" NullText="Street 1..."></DxTextBox>
                                                    </Template>
                                                </DxGridLayoutItem>
                                                <DxGridLayoutItem Row="1" Column="0" ColumnSpan="12">
                                                    <Template>
                                                        <DxTextBox @bind-Text="@UserForm.IdCardAddress2" CssClass="mt" NullText="Street 2..."></DxTextBox>
                                                    </Template>
                                                </DxGridLayoutItem>
                                                <DxGridLayoutItem Row="2" Column="0" CssClass="mt">
                                                    <Template>
                                                        <DxComboBox Data="@Provinces"
                                                                    NullText="Select Province..."
                                                                    @bind-Value="@UserForm.IdCardProvinceId"
                                                                    TextFieldName="Name"
                                                                    ValueFieldName="Id">
                                                        </DxComboBox>
                                                    </Template>
                                                </DxGridLayoutItem>
                                                <DxGridLayoutItem Row="2" Column="1" CssClass="mt ml">
                                                    <Template>
                                                        <DxComboBox Data="@Cities"
                                                                    NullText="Select City..."
                                                                    @bind-Value="@UserForm.IdCardCityId"
                                                                    TextFieldName="Name"
                                                                    ValueFieldName="Id">
                                                        </DxComboBox>
                                                    </Template>
                                                </DxGridLayoutItem>
                                                <DxGridLayoutItem Row="3" Column="0" CssClass="mt">
                                                    <Template>
                                                        <DxComboBox Data="@Districts"
                                                                    NullText="Select District..."
                                                                    @bind-Value="@UserForm.IdCardDistrictId"
                                                                    TextFieldName="Name"
                                                                    ValueFieldName="Id">
                                                        </DxComboBox>
                                                    </Template>
                                                </DxGridLayoutItem>
                                                <DxGridLayoutItem Row="3" Column="1" CssClass="mt ml">
                                                    <Template>
                                                        <DxComboBox Data="@Villages"
                                                                    NullText="Select Village..."
                                                                    @bind-Value="@UserForm.IdCardVillageId"
                                                                    TextFieldName="Name"
                                                                    ValueFieldName="Id">
                                                        </DxComboBox>
                                                    </Template>
                                                </DxGridLayoutItem>
                                                <DxGridLayoutItem Row="4" Column="0" ColumnSpan="12" CssClass="mt">
                                                    <Template>
                                                        <DxComboBox Data="@Countries"
                                                                    NullText="Select Country..."
                                                                    @bind-Value="@UserForm.IdCardCountryId"
                                                                    TextFieldName="Name"
                                                                    ValueFieldName="Id">
                                                        </DxComboBox>
                                                    </Template>
                                                </DxGridLayoutItem>
                                            </Items>
                                        </DxGridLayout>
                                    </Template>
                                </DxFormLayoutItem>

                                <DxGridLayout ColumnSpacing="6">
                                    <Rows>
                                        <DxGridLayoutRow />
                                    </Rows>
                                    <Columns>
                                        <DxGridLayoutColumn />
                                        <DxGridLayoutColumn />
                                        <DxGridLayoutColumn />
                                        <DxGridLayoutColumn />
                                    </Columns>
                                    <Items>
                                        <DxGridLayoutItem Row="0" Column="0">
                                            <Template>
                                                <DxFormLayoutItem Caption="Allow Login:">
                                                    <DxCheckBox @bind-Checked="@UserForm.IsUser" />
                                                </DxFormLayoutItem>
                                            </Template>
                                        </DxGridLayoutItem>
                                        <DxGridLayoutItem Row="0" Column="1" CssClass="layout-margin-l">
                                            <Template>
                                                <DxFormLayoutItem Caption="Practitioner:">
                                                    <DxCheckBox @bind-Checked="@UserForm.IsDoctor" />
                                                </DxFormLayoutItem>
                                            </Template>
                                        </DxGridLayoutItem>
                                        <DxGridLayoutItem Row="0" Column="2" CssClass="layout-margin-l">
                                            <Template>
                                                <DxFormLayoutItem Caption="Employee:">
                                                    <DxCheckBox @bind-Checked="@UserForm.IsEmployee" />
                                                </DxFormLayoutItem>
                                            </Template>
                                        </DxGridLayoutItem>
                                        <DxGridLayoutItem Row="0" Column="3" CssClass="layout-margin-l">
                                            <Template>
                                                <DxFormLayoutItem Caption="Patient:">
                                                    <DxCheckBox @bind-Checked="@UserForm.IsPatient" />
                                                </DxFormLayoutItem>
                                            </Template>
                                        </DxGridLayoutItem>
                                    </Items>
                                </DxGridLayout>

                            </DxFormLayoutGroup>

                            <DxFormLayoutGroup Caption="User" ColSpanMd="12" Visible="@Convert.ToBoolean(UserForm.IsUser)">
                                <Items>
                                    <DxFormLayoutItem Caption="Password:">
                                        <DxTextBox Password="true" @bind-Text="@UserForm.Password"></DxTextBox>
                                    </DxFormLayoutItem>
                                    <DxFormLayoutItem Caption="Group:">
                                        <DxComboBox Data="@Groups"
                                                    NullText="Select Group..."
                                                    @bind-Value="@UserForm.GroupId"
                                                    TextFieldName="Name"
                                                    ValueFieldName="Id">
                                        </DxComboBox>
                                    </DxFormLayoutItem>
                                </Items>
                            </DxFormLayoutGroup>

                            <DxFormLayoutGroup Caption="Practitioner License" ColSpanMd="12" Visible="@Convert.ToBoolean(UserForm.IsDoctor)">
                                <DxGridLayout ColumnSpacing="3">
                                    <Rows>
                                        <DxGridLayoutRow />
                                    </Rows>
                                    <Columns>
                                        <DxGridLayoutColumn />
                                        <DxGridLayoutColumn />
                                    </Columns>
                                    <Items>
                                        <DxGridLayoutItem Row="0" Column="0">
                                            <Template>
                                                <DxFormLayoutItem Caption="Physicion:">
                                                    <DxCheckBox @bind-Checked="@UserForm.IsPhysicion" />
                                                </DxFormLayoutItem>
                                            </Template>
                                        </DxGridLayoutItem>
                                        <DxGridLayoutItem Row="0" Column="1" CssClass="layout-margin-l">
                                            <Template>
                                                <DxFormLayoutItem Caption="Nurse:">
                                                    <DxCheckBox @bind-Checked="@UserForm.IsNurse" />
                                                </DxFormLayoutItem>
                                            </Template>
                                        </DxGridLayoutItem>
                                    </Items>
                                </DxGridLayout>

                                <DxFormLayoutItem Field="@nameof(UserDto.SipNo)"
                                                  Caption="SIP Number:" />
                                <DxFormLayoutItem Field="@nameof(UserDto.StrNo)"
                                                  Caption="STR Number:" />
                                <DxFormLayoutItem Field="@nameof(UserDto.SipFile)"
                                                  Caption="Document SIP:" />
                                <DxFormLayoutItem Field="@nameof(UserDto.StrExp)"
                                                  Caption="Expired STR:" />
                                <DxFormLayoutItem Field="@nameof(UserDto.SipExp)"
                                                  Caption="Expired SIP:" />
                            </DxFormLayoutGroup>

                            <DxFormLayoutGroup Caption="Employee" ColSpanMd="12" Visible="@Convert.ToBoolean(UserForm.IsEmployee)">
                                <DxFormLayoutItem Field="@nameof(UserDto.JobPositionId)"
                                                  Caption="Job Position:" />
                                <DxFormLayoutItem Field="@nameof(UserDto.NoBpjsTk)"
                                                  Caption="BPJS TK Number:" />
                                <DxFormLayoutItem Field="@nameof(UserDto.DepartmentId)"
                                                  Caption="Department:" />
                                <DxFormLayoutItem Field="@nameof(UserDto.JoinDate)"
                                                  Caption="Join Date:" />
                                <DxFormLayoutItem Field="@nameof(UserDto.NoBpjsKs)"
                                                  Caption="BPJS KS Number:" />
                            </DxFormLayoutGroup>
                        </DxFormLayout>
                        <DxGridLayout ColumnSpacing="1">
                            <Rows>
                                <DxGridLayoutRow />
                            </Rows>
                            <Columns>
                                <DxGridLayoutColumn />
                                <DxGridLayoutColumn />
                            </Columns>
                            <Items>
                                <DxGridLayoutItem Row="0" Column="0" ColumnSpan="11">
                                </DxGridLayoutItem>
                                <DxGridLayoutItem Row="0" Column="1">
                                    <Template>
                                        <DxButton RenderStyleMode="@ButtonRenderStyleMode.Outline"
                                                  Text="Save"
                                                  Click="OnSave"
                                                  CssClass="w-20 ml" />
                                    </Template>
                                </DxGridLayoutItem>
                            </Items>
                        </DxGridLayout>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div> 