@using Blazored.Toast
@using Blazored.Toast.Configuration
@using McHealthCare.Domain.Entities
@using McHealthCare.Web.Components.Account
@using Microsoft.AspNetCore.Antiforgery
@using Microsoft.AspNetCore.Identity
@using System.Reflection.Metadata
@using System.Security.Claims
@inject NavigationManager NavigationManager
@inject SignInManager<ApplicationUser> SignInManager
@inject IdentityUserAccessor UserAccessor
@inject AuthenticationStateProvider AuthenticationStateProvider


@inherits LayoutComponentBase
@attribute [Microsoft.AspNetCore.Authorization.Authorize]

@rendermode InteractiveServer
@DxResourceManager.RegisterScripts()

 <_Style />

<!-- tap on top starts-->
<div class="tap-top"><i data-feather="chevrons-up"></i></div>
<!-- tap on tap ends-->
<!-- page-wrapper Start-->
<div class="page-wrapper compact-wrapper" id="pageWrapper">

    <!-- Page Header Start-->
    <div class="page-header">
        <div class="header-wrapper row m-0">
            <div class="header-logo-wrapper col-auto p-0">
                <div class="logo-wrapper">
                    <a href="index.html">
                        <img class="img-fluid" src="assets/images/logo/logo.png"
                             alt="">
                    </a>
                </div>
                <div class="toggle-sidebar">
                    <i class="status_toggle middle sidebar-toggle" data-feather="align-center"></i>
                </div>
            </div>
            <div class="nav-right col-xxl-7 col-xl-6 col-md-7 col-8 pull-right right-header p-0 ms-auto">
                <ul class="nav-menus">
                    <li class="language-nav">
                        <div class="translate_wrapper">
                            <div class="current_lang">
                                <div class="lang"><i class="flag-icon flag-icon-id"></i><span class="lang-txt">ID </span></div>
                            </div>
                            <div class="more_lang">
                                <div class="lang selected" data-value="id">
                                    <i class="flag-icon flag-icon-id"></i><span class="lang-txt">Indonesia<span> (ID)</span></span>
                                </div>
                                <div class="lang" data-value="de"><i class="flag-icon flag-icon-de"></i><span class="lang-txt">Deutsch</span></div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <span class="header-search">
                            <svg>
                                <use href="assets/svg/icon-sprite.svg#search"></use>
                            </svg>
                        </span>
                    </li>
                    <li class="onhover-dropdown">
                        <svg>
                            <use href="assets/svg/icon-sprite.svg#star"></use>
                        </svg>
                        <div class="onhover-show-div bookmark-flip">
                            <div class="flip-card">
                                <div class="flip-card-inner">
                                    <div class="front">
                                        <h6 class="f-18 mb-0 dropdown-title">Bookmark</h6>
                                        <ul class="bookmark-dropdown">
                                            <li>
                                                <div class="row g-0">
                                                    <div class="col-4 text-center">
                                                        <div class="bookmark-content">
                                                            <div class="bookmark-icon"><i data-feather="file-text"></i></div><span>Forms</span>
                                                        </div>
                                                    </div>
                                                    <div class="col-4 text-center">
                                                        <div class="bookmark-content">
                                                            <div class="bookmark-icon"><i data-feather="user"></i></div><span>Profile</span>
                                                        </div>
                                                    </div>
                                                    <div class="col-4 text-center">
                                                        <div class="bookmark-content">
                                                            <div class="bookmark-icon"><i data-feather="server"></i></div><span>Tables</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="back">
                                        <ul>
                                            <li>
                                                <div class="bookmark-dropdown flip-back-content">
                                                    <input type="text" placeholder="search...">
                                                </div>
                                            </li>
                                            <li><a class="f-w-700 d-block flip-back" id="flip-back" href="javascript:void(0)">Back</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="mode">
                            <svg>
                                <use href="assets/svg/icon-sprite.svg#moon"></use>
                            </svg>
                        </div>
                    </li>
                    <li class="onhover-dropdown">
                        <div class="notification-box">
                            <svg>
                                <use href="assets/svg/icon-sprite.svg#notification"></use>
                            </svg><span class="badge rounded-pill badge-secondary">4 </span>
                        </div>
                        <div class="onhover-show-div notification-dropdown">
                            <h6 class="f-18 mb-0 dropdown-title">Notitications </h6>
                            <ul>
                                <li class="b-l-primary border-4">
                                    <p>Delivery processing <span class="font-danger">10 min.</span></p>
                                </li>
                                <li class="b-l-success border-4">
                                    <p>Order Complete<span class="font-success">1 hr</span></p>
                                </li>
                                <li class="b-l-secondary border-4">
                                    <p>Tickets Generated<span class="font-secondary">3 hr</span></p>
                                </li>
                                <li class="b-l-warning border-4">
                                    <p>Delivery Complete<span class="font-warning">6 hr</span></p>
                                </li>
                                <li><a class="f-w-700" href="#">Check all</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="profile-nav onhover-dropdown pe-0 py-0">
                        <div class="media profile-media">
                            <img class="b-r-10" src="assets/images/dashboard/profile.png" alt="">
                            <div class="media-body">
                                <AuthorizeView>
                                    <span>@context.User.Identity?.Name!</span>
                                </AuthorizeView>
                                @* <span>Emay Walter</span> *@
                                <p class="mb-0">Admin <i class="middle fa fa-angle-down"></i></p>
                            </div>
                        </div>
                        <div class="onhover-show-div bookmark-flip">
                            <div class="flip-card">
                                <div class="flip-card-inner">
                                    <div class="front">
                                        <h6 class="f-18 mb-0 dropdown-title">
                                            <AuthorizeView>
                                                <span>@context.User.Identity?.Name!</span>
                                            </AuthorizeView>
                                        </h6>
                                        <ul class="bookmark-dropdown">
                                            <li>
                                                <div class="row g-0">
                                                    <div class="col-4 text-center">
                                                        <div class="bookmark-content">
                                                            <div class="bookmark-icon"><i class="fa fa-user"></i></div><span>Profile</span>
                                                        </div>
                                                    </div>
                                                    <div class="col-4 text-center">
                                                        <div class="bookmark-content">
                                                            <div class="bookmark-icon"><i class="fa fa-lock"></i></div><span>Reset Password</span>
                                                        </div>
                                                    </div>
                                                    <div class="col-4 text-center">
                                                        <div class="bookmark-content">
                                                            <form action="Account/Logout" method="post" style="display: inline;">
                                                                <AntiforgeryToken />
                                                                <input type="hidden" name="ReturnUrl" value="" />
                                                                <button type="submit" class="nav-link" style="color:black">
                                                                    <div class="bookmark-icon">
                                                                        <i class="fa fa-sign-out"></i>
                                                                    </div><span>Log Out</span>
                                                                </button>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="text-center">
                                                <a class="flip-btn f-w-700" id="flip-btn" href="javascript:void(0)">
                                                    Add
                                                    New Bookmark
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="back">
                                        <ul>
                                            <li>
                                                <div class="bookmark-dropdown flip-back-content">
                                                    <input type="text" placeholder="search...">
                                                </div>
                                            </li>
                                            <li><a class="f-w-700 d-block flip-back" id="flip-back" href="javascript:void(0)">Back</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        @* <ul class="profile-dropdown onhover-show-div">
                        <li><a href="#"><i data-feather="user"></i><span>Account </span></a></li>
                        <li><a href="#"><i data-feather="mail"></i><span>Inbox</span></a></li>
                        <li><a href="#"><i data-feather="file-text"></i><span>Taskboard</span></a></li>
                        <li><a href="#"><i data-feather="settings"></i><span>Settings</span></a></li>
                        <li>
                        <form action="Account/Logout" method="post" style="display: inline;">
                        <AntiforgeryToken/>
                        <input type="hidden" name="ReturnUrl" value="" />
                        <button type="submit" class="nav-link" style="background: none; border: none; padding: 0; cursor: pointer;">
                        <a><i data-feather="log-out"></i><span>Log Out</span></a>
                        </button>
                        </form>
                        </li>

                        </ul> *@
                    </li>
                </ul>
            </div>
            <script class="result-template" type="text/x-handlebars-template">
                <div class="ProfileCard u-cf">
                <div class="ProfileCard-avatar"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-airplay m-0"><path d="M5 17H4a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h16a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2h-1"></path><polygon points="12 15 17 21 7 21 12 15"></polygon></svg></div>
                <div class="ProfileCard-details">
                <div class="ProfileCard-realName">{{name}}</div>
                </div>
                </div>
            </script>
            <script class="empty-template"
                    type="text/x-handlebars-template"><div class="EmptyMessage">Your search turned up 0 results. This most likely means the backend is down, yikes!</div></script>
        </div>
    </div>
    <!-- Page Header Ends -->
    <!-- Page Body Start-->
    <div class="page-body-wrapper ">

        <div class="sidebar-wrapper" data-sidebar-layout="stroke-svg">
            <div>
                <div class="logo-wrapper">
                    <a href="index.html"><img class="img-fluid for-light" src="../assets/images/logo/logo.png" alt=""><img class="img-fluid for-dark" src="../assets/images/logo/logo_dark.png" alt=""></a>
                    <div class="back-btn"><i class="fa fa-angle-left"></i></div>
                    <div class="toggle-sidebar"><i class="status_toggle middle sidebar-toggle" data-feather="grid"> </i></div>
                </div>
                <div class="logo-icon-wrapper"><a href="index.html"><img class="img-fluid" src="../assets/images/logo/logo-icon.png" alt=""></a></div>
                <nav class="sidebar-main">
                    <div class="left-arrow" id="left-arrow"><i data-feather="arrow-left"></i></div>
                    <div id="sidebar-menu">
                        <ul class="sidebar-links" id="simple-bar">
                            <li class="back-btn">
                                <a href="index.html"><img class="img-fluid" src="../assets/images/logo/logo-icon.png" alt=""></a>
                                <div class="mobile-back text-end"><span>Back</span><i class="fa fa-angle-right ps-2" aria-hidden="true"></i></div>
                            </li>

                            @foreach (var parentMenu in ParentMenus)
                            {
                                <li class="sidebar-list">
                                    <a class="sidebar-link sidebar-title">
                                        <i class="stroke-icon" data-feather="settings"></i><i class="fill-icon" data-feather="settings"></i>
                                        <span>@parentMenu.ParentName</span>
                                    </a>

                                    <ul class="sidebar-submenu">
                                        @foreach (var menu in Menus.Where(x => x.ParentId == parentMenu.ParentId))
                                        {
                                            <li><NavLink href="@menu.Url">@menu.Name</NavLink></li>

                                        }
                                    </ul>
                                </li>
                            }
                        </ul>
                    </div>
                    <div class="right-arrow" id="right-arrow"><i data-feather="arrow-right"></i></div>
                </nav>
            </div>
        </div>

        <div class="page-body">

            @Body
        </div>

        <!-- footer start-->
        <footer class="footer">
            <div class="container-fluid">
                <div class="row g-0">
                    <div class="col-md-12 footer-copyright text-center">
                        <p class="mb-0">Copyright 2023 © Cuba theme by pixelstrap </p>
                    </div>
                </div>
            </div>
        </footer>

    </div>
</div>

<BlazoredToasts Position="ToastPosition.TopRight"
                Timeout="8"
                IconType="IconType.FontAwesome"
                ShowProgressBar="true"
                SuccessClass="success-toast-override toast-custom"
                InfoClass="toast-custom"
                SuccessIcon="fa fa-thumbs-up"
                InfoIcon="fa fa-info-circle"
                WarningIcon="fa fa-warning"
                ErrorIcon="fa fa-bug">
    <CloseButtonContent>
        <div>
            <span>&times;</span>
        </div>
    </CloseButtonContent>
</BlazoredToasts>

<_Script />

@code
{
    [CascadingParameter]
    private HttpContext HttpContext { get; set; } = default!;
    private ClaimsPrincipal? user;

    private bool IsLoadingSideBar { get; set; } = false;
    private List<MenuDto> Menus { get; set; } = [];
    private List<ParentMenuTemp> ParentMenus { get; set; } = [];
    private class ParentMenuTemp
    {
        public Guid ParentId { get; set; }
        public string? ParentName { get; set; } = string.Empty;
        public long? Sequence { get; set; } = 0;
    }

    protected override async Task OnInitializedAsync()
    {
        IsLoadingSideBar = true;

        var user = await UserService.GetCurrentUserFromDatabaseAsync();

        List<MenuDto> menus = new List<MenuDto>();
        if (user?.Group?.GroupMenus != null)
        {
            var groupMenu = user.Group.GroupMenus.Select(x => x.MenuId).ToList();
            menus = (await Mediator.Send(new GetMenuQuery(x => groupMenu.Contains(x.Id)))).OrderBy(x => x.Sequence).ToList();
        }

        Menus = menus;

        ParentMenus = Menus
            .Select(x => new ParentMenuTemp
                {
                    ParentId = x.ParentId.GetValueOrDefault(),
                    ParentName = x.Parent?.Name,
                    Sequence = x.Parent?.Sequence
                })
            .DistinctBy(p => new { p.ParentId, p.ParentName, p.Sequence })
            .OrderBy(x => x.Sequence)
            .ToList();

        IsLoadingSideBar = false;

    }
}