@page "/awereness-event/education-program/{PageMode}"
@using McDermott.Web.Components.Layout
@rendermode InteractiveServer

<PageTitle>McHealthCare - Education Program</PageTitle>

@if (IsAccess && UserAccessCRUID is not null && (UserAccessCRUID.IsCreate || UserAccessCRUID.IsUpdate))
{
    <div class="wrapper">
        <BaseHeaderPage Title="Education Program" OnClickBack="@(async () => NavigationManager.NavigateTo("awereness-event/education-program"))" ShowBackButton="true" />
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col">

                        <EditForm Model="postEducationPrograms" Context="EditFormContext" onkeypress="KeyPressHandler" OnValidSubmit="HandleValidSubmit" OnInvalidSubmit="HandleInvalidSubmit">
                            <DataAnnotationsValidator />
                            <AntiforgeryToken />
                            @if (postEducationPrograms.Id != 0)
                            {
                                <div class="row justify-content-end mb-3">
                                    <div class="col-auto align-self-end">
                                        <DxTabs RenderMode="TabsRenderMode.AllTabs">
                                            <DxTab Text="Draft" Enabled="@(postEducationPrograms.Status == EnumStatusEducationProgram.Draft)"></DxTab>
                                            <DxTab Text="Active" style="background-color:green" Enabled="@(postEducationPrograms.Status == EnumStatusEducationProgram.Active)"></DxTab>
                                            <DxTab Text="Inactive" Enabled="@(postEducationPrograms.Status == EnumStatusEducationProgram.InActive)"></DxTab>
                                            <DxTab Text="Done" Enabled="@(postEducationPrograms.Status == EnumStatusEducationProgram.Done)"></DxTab>
                                            <DxTab Text="Cancel" style="background-color:red" Enabled="@(postEducationPrograms.Status == EnumStatusEducationProgram.Cancel)"></DxTab>
                                        </DxTabs>
                                    </div>
                                </div>
                            }

                            @if (postEducationPrograms.Status != EnumStatusEducationProgram.Done)
                            {
                                <div class="sticky">
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="row justify-content-between">
                                                <div class="col-auto align-self-start">
                                                    @if (postEducationPrograms.Id != 0)
                                                    {
                                                        <DxButton Text="Active" Visible="@( postEducationPrograms.Status != EnumStatusEducationProgram.Active)" RenderStyle="ButtonRenderStyle.Primary" IconCssClass="fa-solid fa-circle-check" Click="onActive"></DxButton>
                                                        <DxButton Text="InActive" Visible="@( postEducationPrograms.Status != EnumStatusEducationProgram.InActive)" RenderStyle="ButtonRenderStyle.Danger" IconCssClass="fa-solid fa-circle-xmark" Click="onInActive"></DxButton>
                                                        <DxButton Text="Done" Visible="@( postEducationPrograms.Status == EnumStatusEducationProgram.Active)" RenderStyle="ButtonRenderStyle.Primary" IconCssClass="fa-solid fa-circle-check" Click="onDone"></DxButton>
                                                        <DxButton Text="Cancel" Visible="@( postEducationPrograms.Status != EnumStatusEducationProgram.Cancel)" RenderStyle="ButtonRenderStyle.Danger" IconCssClass="fa-solid fa-circle-xmark" Click="onCancel"></DxButton>
                                                    }
                                                </div>
                                                <div class="col-auto align-self-start">
                                                    <DxButton RenderStyle="ButtonRenderStyle.Primary" Visible="@(postEducationPrograms.Id == 0 ||  postEducationPrograms.Status == EnumStatusEducationProgram.Draft)" RenderStyleMode="@ButtonRenderStyleMode.Outline" CssClass="mr-1" IconCssClass="fa-solid fa-floppy-disk" Text="Save" SubmitFormOnClick="true"></DxButton>
                                                    <DxButton RenderStyle="ButtonRenderStyle.Danger" Visible="@(postEducationPrograms.Id == 0 || postEducationPrograms.Status == EnumStatusEducationProgram.Draft)" RenderStyleMode="@ButtonRenderStyleMode.Outline" IconCssClass="fa-solid fa-xmark" Text="Discard" Click="onDiscard"></DxButton>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                            <div class="card">
                                <div class="card-body">
                                    <DxFormLayout CssClass="w-100">
                                        <DxFormLayoutGroup Caption="Event Information">
                                            <!-- Name Event (TextBox) -->
                                            <DxFormLayoutItem Caption="Name Event">
                                                <MyTextBox @bind-Text="@postEducationPrograms.EventName" NullText="Input Name Event.." />
                                                <ValidationMessage For="@(()=>postEducationPrograms.EventName)" />
                                            </DxFormLayoutItem>

                                            <!-- CategoryId (ComboBox) -->
                                            <DxFormLayoutItem Caption="Event Category" CaptionCssClass="normal-caption" ColSpanMd="6">
                                                <MyDxComboBox Data="@getAwarenessEduCategories"
                                                              NullText="Select Category"
                                                              @ref="refCategoryComboBox"
                                                              @bind-Value="@postEducationPrograms.EventCategoryId"
                                                              TextFieldName="Name"
                                                              ValueFieldName="Id"
                                                              TextChanged="((string e) => OnInputCategoryChanged(e))">
                                                    <Buttons>
                                                        <DxEditorButton Click="OnSearchCategoryIndexDecrement"
                                                                        IconCssClass="fa-solid fa-caret-left"
                                                                        Tooltip="Previous Index" />
                                                        <DxEditorButton Click="OnSearchCategory"
                                                                        IconCssClass="fa-solid fa-magnifying-glass"
                                                                        Tooltip="Search" />
                                                        <DxEditorButton Click="OnSearchCategoryIndexIncrement"
                                                                        IconCssClass="fa-solid fa-caret-right"
                                                                        Tooltip="Next Index" />
                                                    </Buttons>

                                                </MyDxComboBox>
                                                <ValidationMessage For="@(()=>postEducationPrograms.EventCategoryId)" />
                                            </DxFormLayoutItem>


                                            <!-- StartDate (DateTime) -->
                                            <DxFormLayoutItem Caption="Start Date" CaptionCssClass="normal-caption" ColSpanMd="6">
                                                <DxDateEdit @bind-Date="postEducationPrograms.StartDate" NullText="Select Start Date" Width="100%" />
                                            </DxFormLayoutItem>

                                            <!-- EndDate (DateTime) -->
                                            <DxFormLayoutItem Caption="End Date" CaptionCssClass="normal-caption" ColSpanMd="6">
                                                <DxDateEdit @bind-Date="postEducationPrograms.EndDate" NullText="Select End Date" Width="100%" />
                                            </DxFormLayoutItem>
                                        </DxFormLayoutGroup>
                                        <DxFormLayoutGroup Caption="Content">
                                            <DxFormLayoutItem Caption="Slug" ColSpanMd="6">
                                                <DxTextBox @bind-Text="@postEducationPrograms.Slug" Width="100%" Placeholder="Enter Slug">
                                                    <Buttons>
                                                        <DxEditorButton IconCssClass="fa-solid fa-copy"
                                                                        Tooltip="Copy"></DxEditorButton>
                                                        <DxEditorButton IconCssClass="fa-solid fa-arrow-up-right-from-square"
                                                                        Tooltip="Open To"></DxEditorButton>
                                                    </Buttons>
                                                </DxTextBox>
                                                <ValidationMessage For="@(() => postEducationPrograms.Slug)" />
                                            </DxFormLayoutItem>
                                            <!-- Content (HTMLEditor) -->
                                            <DxFormLayoutItem Caption="Content" ColSpanMd="12">
                                                <BlazoredTextEditor @ref="@richEditor">
                                                    <ToolbarContent>
                                                        @((MarkupString)toolbar)
                                                    </ToolbarContent>
                                                    <EditorContent>
                                                        @((MarkupString)body)
                                                    </EditorContent>
                                                </BlazoredTextEditor>
                                            </DxFormLayoutItem>

                                            <!-- Materi (HTMLEditor) -->
                                            <DxFormLayoutItem Caption="Materi" ColSpanMd="12">
                                                @* <BlazoredTextEditor  *@
                                                @* <DxHtmlEditor @bind-Content="@postEducationPrograms.MaterialContent" /> *@
                                            </DxFormLayoutItem>
                                        </DxFormLayoutGroup>
                                    </DxFormLayout>
                                </div>
                            </div>

                        </EditForm>

                    </div>
                </div>
            </div>
        </section>
    </div>
}