@page "/awereness-event/education-program/join-participant/{Slug}"
@using System.ComponentModel.DataAnnotations
@using McDermott.Application.Dtos.AwarenessEvent
@using static McDermott.Application.Features.Commands.AwarenessEvent.EducationProgramCommand
@using static McDermott.Application.Features.Commands.AwarenessEvent.ParticipanEduCommand
<PageTitle>@Helper.APP_NAME - Education Program</PageTitle>

<style>
    .centered-container {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
    }




    .dxbl-row {
        justify-content: center !important;
    }
</style>

@if (IsFound)
{
    if (IsClosed)
    {
        <div class="wrapper">
            <div class="container-fluid ">
                <div class="row centered-container">
                    <div class="col-md-10">
                        <div class="card mt-5">
                            <div class="card-header bg-primary">
                                <div class="row justify-content-center">
                                    <div class="col-auto align-self-center">
                                        <h4 class="fw-bold">@EducationPrograms.EventName</h4>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <p class="text-center">Sorry, this wellness program has ended.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    else if (!IsActive)
    {
        <div class="wrapper">
            <div class="container-fluid ">
                <div class="row centered-container">
                    <div class="col-md-10">
                        <div class="card mt-5">
                            <div class="card-header bg-primary">
                                <div class="row justify-content-center">
                                    <div class="col-auto align-self-center">
                                        <h4 class="fw-bold">@EducationPrograms.EventName</h4>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <p class="text-center">
                                    @if (EducationPrograms.Status == EnumStatusEducationProgram.Done)
                                    {
                                    <p class="text-center">This wellness program has been completed.</p>
                                    }
                                    else if (EducationPrograms.Status == EnumStatusEducationProgram.InActive)
                                    {
                                    <p class="text-center">This wellness program is currently inactive.</p>
                                    }
                                    else
                                    {
                                    <p class="text-center">This wellness program is currently in the "@EducationPrograms.Status" status.</p>
                                    }
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    else if (IsStart)
    {
        <div class="wrapper">
            <div class="container-fluid">
                <div class="row centered-container">
                    <div class="col-md-10">
                        <div class="card mt-5">
                            <div class="card-header bg-primary">
                                <div class="row justify-content-center">
                                    <div class="col-auto align-self-center">
                                        <h4 class="fw-bold">@EducationPrograms.EventName</h4>
                                        <div id="countdown" class="text-light mt-2"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <p class="text-center">This Education Awareness program has not started yet. Please check back later.</p>

                                <h5 class=" text-center mt-2">Start in: @EducationPrograms.StartDate.GetValueOrDefault().ToString("dd MMMM yyyy")</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    else
    {
        <DxLoadingPanel @bind-Visible="PanelVisible"
                        IndicatorAnimationType="WaitIndicatorAnimationType.Pulse"
                        IsContentBlocked="true"
                        ApplyBackgroundShading="true"
                        IndicatorAreaVisible="false"
                        Text="Fetching Data...">
            <div class="wrapper">
                <div class="container-fluid mt-5">
                    <div class="row">
                        <div class="col-12">
                            <div class="card">

                                <div class="card-header bg-success text-white text-center">
                                    <h4>@EducationPrograms.EventName</h4>
                                </div>
                                <div class="card-body">
                                    <div class="row justify-content-center">
                                        <div class="col-auto ">
                                            @if (!string.IsNullOrWhiteSpace(EducationPrograms.HTMLContent?.Trim()))
                                            {
                                                <div class="row mt-2 mb-3 justify-content-center">
                                                    <div class="col-12 d-flex justify-content-center">
                                                        <DxButton RenderStyle="ButtonRenderStyle.Primary"
                                                                  RenderStyleMode="@ButtonRenderStyleMode.Contained"
                                                                  Text="@(IsShowContent ? "Join Participant" : "See Content")"
                                                                  CssClass="w-130"
                                                                  Click="OnClickContent">
                                                        </DxButton>
                                                    </div>
                                                </div>
                                            }

                                            @if (!string.IsNullOrWhiteSpace(EducationPrograms.HTMLContent?.Trim()) && IsShowContent)
                                            {
                                                <div class="row justify-content-center">
                                                    <div class="col-auto content-wrappers">
                                                        @((MarkupString)@EducationPrograms.HTMLContent)
                                                    </div>
                                                </div>
                                            }
                                            else
                                            {
                                                <div class="row justify-content-center">
                                                    <div class="col-auto">
                                                        <EditForm Model="ahe" Context="EditFormContext">
                                                            <DxFormLayout CssClass="w-100">
                                                                <DxFormLayoutItem Caption="Employee Number" CaptionCssClass="normal-caption required-caption" ColSpanMd="8">
                                                                    <Template>
                                                                        <DxGridLayout>
                                                                            <Rows>
                                                                                <DxGridLayoutRow />
                                                                            </Rows>
                                                                            <Columns>
                                                                                <DxGridLayoutColumn Width="25fr" />
                                                                                <DxGridLayoutColumn Width="5fr" />
                                                                            </Columns>
                                                                            <Items>
                                                                                <DxGridLayoutItem Row="0" Column="0" CssClass="mt">
                                                                                    <Template>
                                                                                        <DxTextBox @bind-Text="@PatientNumber" NullText="Employee Number" CssClass="" ShowValidationIcon="true"></DxTextBox>
                                                                                    </Template>
                                                                                </DxGridLayoutItem>
                                                                                <DxGridLayoutItem Row="0" Column="1" CssClass="mt ml">
                                                                                    <Template>
                                                                                        <DxButton RenderStyle="ButtonRenderStyle.Primary"
                                                                                                  RenderStyleMode="@ButtonRenderStyleMode.Outline"
                                                                                                  IconCssClass="fa-solid fa-magnifying-glass"
                                                                                                  Text="Search"
                                                                                                  SubmitFormOnClick="true"
                                                                                                  Click="OnSearchPatient"
                                                                                                  CssClass="w-100 me-1">
                                                                                        </DxButton>
                                                                                    </Template>
                                                                                </DxGridLayoutItem>
                                                                            </Items>
                                                                        </DxGridLayout>
                                                                    </Template>
                                                                </DxFormLayoutItem>

                                                                @if (Patient is not null && Patient.Id != 0)
                                                                {
                                                                    <DxFormLayoutItem CaptionCssClass="normal-caption" Caption="Name" ColSpanMd="8">
                                                                        <MyTextBox @bind-Text="@Patient.Name" ReadOnly NullText="Name" />
                                                                        <ValidationMessage For="@(() => Patient.Name)" />
                                                                    </DxFormLayoutItem>
                                                                    <DxFormLayoutItem CaptionCssClass="normal-caption" Caption="Email" ColSpanMd="8">
                                                                        <MyTextBox @bind-Text="@Patient.Email" ReadOnly NullText="Email" />
                                                                        <ValidationMessage For="@(() => Patient.Email)" />
                                                                    </DxFormLayoutItem>
                                                                    <DxFormLayoutItem CaptionCssClass="normal-caption" Caption="Department" ColSpanMd="8">
                                                                        <MyTextBox @bind-Text="@Patient.Department.Name" ReadOnly NullText="Department" />
                                                                        <ValidationMessage For="@(() => Patient.Department)" />
                                                                    </DxFormLayoutItem>
                                                                }
                                                            </DxFormLayout>

                                                            @if (Patient is not null && Patient.Id != 0)
                                                            {
                                                                <div class="row mt-2">
                                                                    <div class="col-8 d-flex justify-content-end">
                                                                        <DxButton RenderStyle="ButtonRenderStyle.Primary"
                                                                                  RenderStyleMode="@ButtonRenderStyleMode.Contained"
                                                                                  Text="Join"
                                                                                  CssClass="w-130"
                                                                                  SubmitFormOnClick="true"
                                                                                  Click="OnClickJoin">
                                                                        </DxButton>
                                                                    </div>
                                                                </div>
                                                            }
                                                        </EditForm>

                                                    </div>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </DxLoadingPanel>

    }
}
else
{
    <div class="wrapper">
        <div class="container-fluid ">
            <div class="row centered-container">
                <div class="col-md-10">
                    <div class="card mt-5">
                        <div class="card-header bg-primary">
                            <div class="row justify-content-center">
                                <div class="col-auto align-self-center">
                                    <h4 class="fw-bold">Slug</h4>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <p class="text-center"> Sorry, The Program is not found, please check the URL.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}


@code {
    [Parameter] public string Slug { get; set; } = string.Empty;
    private bool IsShowContent { get; set; } = true;

    private UserDto ahe { get; set; } = new();

    private bool IsFound { get; set; } = true;
    private bool PanelVisible { get; set; } = false;
    private bool IsClosed { get; set; } = false;
    private bool IsStart { get; set; } = false;
    private bool IsActive { get; set; } = false;

    [Required]
    private string PatientNumber { get; set; } = string.Empty;

    private EducationProgramDto EducationPrograms { get; set; } = new();
    private UserDto Patient { get; set; } = new();

    private void OnClickContent()
    {
        IsShowContent = IsShowContent ? false : true;
    }

    private async Task OnClickJoin()
    {
        try
        {
            PanelVisible = true;

            var cek = await Mediator.Send(new ValidateParticipanEduQuery(x => x.PatientId == Patient.Id && x.EducationProgramId == EducationPrograms.Id));
            if (cek)
            {
                ToastService.ShowInfo("The Employee is already joined the Education & Awareness Program!");
                return;
            }

            await Mediator.Send(new CreateParticipanEduRequest(new ParticipanEduDto
                {

                    PatientId = Patient.Id,
                    EducationProgramId = EducationPrograms.Id,
                }));

            ToastService.ShowSuccess("Successfully joined the Wellness Program!");
        }
        catch (Exception ex)
        {
            ex.HandleException(ToastService);
        }
        finally { PanelVisible = false; }
    }

    private async Task OnSearchPatient()
    {
        try
        {
            PanelVisible = true;
            Patient = await Mediator.Send(new GetSingleUserQuery
                {
                    Predicate = x => x.IsPatient == true && x.IsEmployee == true && (x.Legacy != null && x.Legacy.Equals(PatientNumber)) ||
                                x.NIP != null && x.NIP.Equals(PatientNumber) ||
                                x.Oracle != null && x.Oracle.Equals(PatientNumber) ||
                                x.SAP != null && x.SAP.Equals(PatientNumber),
                    Select = x => new User
                    {
                        Id = x.Id,
                        Name = x.Name,
                        Email = x.Email,
                        Department = new Department
                        {
                            Name = x.Department != null ? x.Department.Name : "-"
                        },
                    }
                });

            if (Patient is null || Patient.Id == 0)
            {
                ToastService.ShowInfo("The Employee Number is not found.");
            }
        }
        catch (Exception ex)
        {
            ex.HandleException(ToastService);
        }
        finally { PanelVisible = false; }
    }

    protected override async Task OnInitializedAsync()
    {
        try
        {
            PanelVisible = true;
            EducationPrograms = await Mediator.Send(new GetSingleEducationProgramQuery
                {
                    Predicate = x => x.Slug == Slug
                });

            if (EducationPrograms is null)
            {
                IsFound = false;
                return;
            }

            if (EducationPrograms.EndDate is not null && EducationPrograms.EndDate < DateTime.Now)
            {
                IsClosed = true;
                return;
            }

            if (EducationPrograms.Status == EnumStatusEducationProgram.Active)
            {
                IsActive = true;
                return;
            }


            if (DateTime.Now.Date < EducationPrograms.StartDate)
            {
                // StartCountdown();
                IsStart = true;
                return;
            }

        }
        catch (Exception ex)
        {
            ex.HandleException(ToastService);
        }
        finally { PanelVisible = false; }


    }
    private string TimeRemaining { get; set; } = "Calculating...";
    private bool isStarted = false;
    private System.Threading.Timer timer;
    private void StartCountdown()
    {
        // if (WellnessProgram.StartDate <= DateTime.Now)
        // {
        //     isStarted = true;
        //     return;
        // }

        timer = new System.Threading.Timer(UpdateCountdown, null, 0, 1000);
    }

    private void UpdateCountdown(object state)
    {
        var targetDateTime = EducationPrograms.StartDate.Value.Date;  // Gunakan tanggal tanpa waktu (00:00:00)
        var timeSpan = targetDateTime - DateTime.Now;

        if (timeSpan.TotalSeconds <= 0)
        {
            isStarted = true;
            TimeRemaining = "Starts in: 00:00:00";
            timer?.Dispose();
            InvokeAsync(StateHasChanged);
            return;
        }

        // Menampilkan waktu tersisa dalam format "X day(s) left hh:mm:ss"
        if (timeSpan.Days > 0)
        {
            TimeRemaining = $"{timeSpan.Days} day{(timeSpan.Days > 1 ? "s" : "")} left {timeSpan.Hours:00}:{timeSpan.Minutes:00}:{timeSpan.Seconds:00}";
        }
        else
        {
            TimeRemaining = $"{timeSpan.Hours:00}:{timeSpan.Minutes:00}:{timeSpan.Seconds:00}";
        }

        InvokeAsync(StateHasChanged);
    }



    public void Dispose()
    {
        timer?.Dispose();
    }
}