@* @page "/transaction/counter" *@
@page "/queue/queue-counter"
@rendermode InteractiveServer
<PageTitle>McDermott - Transaction Counter</PageTitle>
<style>
    .dxbl-toolbar-dropdown-toggle {
        display: none;
    }

    .cards {
        background-color: aliceblue;
    }

        .cards:hover {
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
            transform: scaleX(1.1);
        }
</style>
<div class="wrapper ml-2 mr-2">
    <McDermott.Web.Components.Layout.BaseContentHeaderLayout Title="Counter" />
    <section class="content">
        <div class="container-fluid">
            <div class="row ">
                <div class="col">
                    @if (!GirdDetail)
                    {

                        @if (!ArchiveCard)
                        {
                            <div class="card">
                                <div class="card-header">
                                    <DxToolbar ItemRenderStyleMode="ToolbarRenderStyleMode.Contained">
                                        <Items>
                                            <DxToolbarItem Visible="@UserAccessCRUID.Create" Text="New" Click="NewItem_Click" CssClass="fs-6 fw-bolder" IconCssClass="fa-solid fa-plus" />
                                            <DxToolbarItem Text="Archive Counter" BeginGroup="true" Click="Archive_Click" IconCssClass="fa-solid fa-box-archive" Alignment="ToolbarItemAlignment.Right" />
                                        </Items>
                                    </DxToolbar>
                                </div>
                            </div>
                            <div class="row">
                                @foreach (var i in countersActive)
                                {
                                    <div class="col-md-4 ">
                                        <div class="card cards">
                                            <div class="card-header">

                                                <DxToolbar Title="@i.Name.ToUpper()" ItemRenderStyleMode="ToolbarRenderStyleMode.Plain"
                                                           CssClass="position-relative">
                                                    <Items>
                                                        <DxToolbarItem IconCssClass="fa-solid fa-ellipsis-vertical fa-lg" CssClass="position-absolute top-50 start-100 translate-middle">
                                                            <Items>
                                                                <DxToolbarItem Visible="@UserAccessCRUID.Update" Text="Edit" Click="@(() => EditItem_Click(i.Id))" IconCssClass="fa-solid fa-pen-to-square" />
                                                                <DxToolbarItem Visible="@UserAccessCRUID.Delete" Text="Delete" Click="@(() => OnDelete(i.Id))" IconCssClass="fa-solid fa-trash" />
                                                                <DxToolbarItem Text="InActive" Click="@(() => InActive_Click(i.Id))" IconCssClass="fa-solid fa-circle-xmark" />
                                                            </Items>
                                                        </DxToolbarItem>
                                                    </Items>
                                                </DxToolbar>
                                            </div>
                                            <div class="card-body">
                                                <div class="row">
                                                    @if (i.Status == "open")
                                                    {
                                                        <label>Status : <p class="text-info">Open</p></label>
                                                    }
                                                    else if (i.Status == "on process")
                                                    {
                                                        <label>Status : <p class="text-success">On Process</p> </label>

                                                    }
                                                </div>
                                                <div class="row justify-content-end mt-3">
                                                    <div class="col-md-auto align-self-center">
                                                        @if (i.Status == "open")
                                                        {
                                                            <DxButton IconCssClass="fa-solid fa-gears" RenderStyle="ButtonRenderStyle.Info" Text="Start Configuration" Click="@(()=>ShowOnProcess(i.Id))"></DxButton>
                                                        }
                                                        else if (i.Status == "on process")
                                                        {
                                                            <DxButton IconCssClass="fa-solid fa-eye" Text="view" Click="@(() => DetailList(i.Id))" />
                                                        }
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                }
                            </div>
                            <DxPopup HeaderText="@textPopUp" @bind-Visible="@PopUpVisible" HeaderCssClass="fw-bold" Width="35%">
                                <EditForm Model="@counterForm" Context="EditFormContext">
                                    <DxFormLayout CssClass="w-100">
                                        <DxFormLayoutItem ColSpanMd="12">
                                            <DxTextBox @bind-Text="@counterForm.Name" NullText="Input Name Counter.." />
                                        </DxFormLayoutItem>
                                    </DxFormLayout>
                                    <div class="row justify-content-end">
                                        <div class="col-auto align-self-end">
                                            <DxButton RenderStyle="ButtonRenderStyle.Info" RenderStyleMode="@ButtonRenderStyleMode.Outline" IconCssClass="fa-solid fa-floppy-disk" Text="Submit" SubmitFormOnClick="true" Click="OnSave"></DxButton>
                                            <DxButton RenderStyle="ButtonRenderStyle.Danger" RenderStyleMode="@ButtonRenderStyleMode.Outline" IconCssClass="fa-solid fa-xmark" Text="Discard" SubmitFormOnClick="true" Click="OnCancel"></DxButton>
                                        </div>
                                    </div>
                                </EditForm>
                            </DxPopup>
                            <DxPopup HeaderText="@textPopUp.ToUpper()" Width="55rem" Height="20em" @bind-Visible="@showFormProcess">
                                <EditForm Model="counterForm" Context="EditFormContext">
                                    <DxFormLayout CssClass="mt">
                                        <DxFormLayoutItem Caption="Service" ColSpanMd="12">
                                            <DxComboBox Data="@ServiceP"
                                                        @bind-Value="@Serviced"
                                                        NullText="Select Service.."
                                                        TextFieldName="Name" ValueFieldName="Id"></DxComboBox>
                                        </DxFormLayoutItem>
                                        <DxFormLayoutItem Caption="Service Counter" ColSpanMd="12">
                                            <DxComboBox Data="@ServiceK"
                                                        @bind-Value="@counterForm.ServiceKId"
                                                        NullText="Select Service Counter.."
                                                        TextFieldName="Name" ValueFieldName="Id"></DxComboBox>
                                        </DxFormLayoutItem>
                                        <DxFormLayoutItem Caption="Physician" ColSpanMd="12">
                                            <DxComboBox Data="@Phys"
                                                        @bind-Value="@counterForm.PhysicianId"
                                                        NullText="Select Physician.."
                                                        TextFieldName="Name" ValueFieldName="Id"></DxComboBox>
                                        </DxFormLayoutItem>
                                        <DxFormLayoutItem ColSpanMd="12">
                                            <div class="row justify-content-end mt-3">
                                                <div class="col-auto align-self-end">
                                                    <DxButton RenderStyle="ButtonRenderStyle.Info" RenderStyleMode="@ButtonRenderStyleMode.Outline" IconCssClass="fa-solid fa-gears " Text="Configuration" SubmitFormOnClick="true" Click="OnProcess"></DxButton>
                                                    <DxButton RenderStyle="ButtonRenderStyle.Danger" RenderStyleMode="@ButtonRenderStyleMode.Outline" IconCssClass="fa-solid fa-xmark" Text="Discard" SubmitFormOnClick="true" Click="OnCancel"></DxButton>
                                                </div>
                                            </div>
                                        </DxFormLayoutItem>
                                    </DxFormLayout>
                                </EditForm>
                            </DxPopup>
                        }
                        else if (ArchiveCard)
                        {
                            <div class="card">
                                <div class="card-header">
                                    <DxToolbar ItemRenderStyleMode="ToolbarRenderStyleMode.Contained">
                                        <Items>
                                            <DxToolbarItem Text="Back" Click="onBack" CssClass="fs-6 fw-bolder" IconCssClass="fa-solid fa-arrow-left" />
                                        </Items>
                                    </DxToolbar>
                                </div>
                            </div>
                            <div class="row">
                                @foreach (var i in countersInActive)
                                {
                                    <div class="col-md-4 ">
                                        <div class="card cards">
                                            <div class="card-header">
                                                <DxToolbar Title="@i.Name" ItemRenderStyleMode="ToolbarRenderStyleMode.Plain"
                                                           CssClass="position-relative">
                                                    <Items>
                                                        <DxToolbarItem IconCssClass="fa-solid fa-ellipsis-vertical fa-lg" CssClass="position-absolute top-50 start-100 translate-middle">
                                                            <Items>
                                                                <DxToolbarItem Visible="@UserAccessCRUID.Update" Text="Edit" Click="@(() => EditItem_Click(i.Id))" IconCssClass="fa-solid fa-pen-to-square" />
                                                                <DxToolbarItem Visible="@UserAccessCRUID.Delete" Text="Delete" Click="@(() => OnDelete(i.Id))" IconCssClass="fa-solid fa-trash" />
                                                                <DxToolbarItem Text="Active" Click="@(() => InActive_Click(i.Id))" IconCssClass="fa-solid fa-check" />
                                                            </Items>
                                                        </DxToolbarItem>
                                                    </Items>
                                                </DxToolbar>
                                            </div>
                                            <div class="card-body">
                                                <h4> Total Data : 60</h4>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        }
                    }
                    else if (GirdDetail)
                    {
                        <div class="Row">
                            <div class="col">
                                <div class="card">
                                    <div class="card-header">
                                        <div class="row justify-content-arround">
                                            <div class="col-md-4">
                                                <DxButton Text="Back" Click="onBack" CssClass="fs-6 fw-bolder" IconCssClass="fa-solid fa-arrow-left" />
                                            </div>
                                            <div class="col-md-6">
                                                <h4>@NameCounter.ToUpper()</h4>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="row">
                                                    <div class="col-md-3">
                                                        <label>User</label>                                                        
                                                    </div>
                                                    <div class="col-md-9">
                                                        <p class="mt-0">poli</p>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-9">
                                                        <label>Service</label>
                                                        <p></p>
                                                    </div>                                                    
                                                </div>
                                                <div class="row">
                                                    <div class="col-md">
                                                        <label>Service</label>
                                                        <p></p>
                                                    </div>                                                    
                                                </div>
                                                <div class="row">
                                                    <div class="col-md">
                                                        <label>Service</label>
                                                        <p></p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-8">
                                                <DxGrid @ref="Grid"
                                                        Data="@KiosksQueue">
                                                    <Columns>
                                                        <DxGridDataColumn FieldName="NoQueue" Caption="No" Width="60px" />
                                                        <DxGridDataColumn FieldName="Kiosk.Patient.Name" Caption="Patient Name" SortIndex="0" />
                                                        <DxGridDataColumn FieldName="Kiosk.Patient.Name" Caption="Action" SortIndex="0">
                                                            <CellDisplayTemplate>
                                                                <DxButton RenderStyle="ButtonRenderStyle.Info" RenderStyleMode="@ButtonRenderStyleMode.Outline" IconCssClass="fa-brands fa-whatsapp" Attributes="@(new Dictionary<string, object> {  ["title"] = "Call" })"></DxButton>
                                                            </CellDisplayTemplate>
                                                        </DxGridDataColumn>
                                                    </Columns>
                                                </DxGrid>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }

                </div>
            </div>
        </div>
    </section>
</div>

