@page "/queue/kiosk/{id:int}"

<PageTitle>McDermott - Transaction Kiosk</PageTitle>
@if (id != null)
{
    @if (!showQueue)
    {
        <div class="wrapper">

            <section class="content">
                <div class="container-fluid">
                    <div class="row justify-content-center">
                        <div class="col-md-8">
                            <div class="card">
                                <div class="card-header">
                                    <div class="row justify-content-center">
                                        <div class="col-auto align-self-center">
                                            <h4 class="fw-bold">@HeaderName.ToUpper()</h4>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <EditForm Model="@FormKios" Context="EditFormContext">
                                        <DxFormLayout CssClass="mt w-100">
                                            <DxFormLayoutItem Caption="Search type" ColSpanMd="12">
                                                <DxComboBox Data="@type" NullText="Search type .."
                                                            @bind-Value="@FormKios.Type"></DxComboBox>
                                            </DxFormLayoutItem>
                                            <DxFormLayoutItem Caption="Number" ColSpanMd="12">
                                                <Template>
                                                    <DxGridLayout>
                                                        <Rows>
                                                            <DxGridLayoutRow />
                                                        </Rows>
                                                        <Columns>
                                                            <DxGridLayoutColumn Width="25fr" />
                                                            <DxGridLayoutColumn Width="5fr" />
                                                        </Columns>
                                                        <Items>
                                                            <DxGridLayoutItem Row="0" Column="0" CssClass="mt ">
                                                                <Template>
                                                                    <DxTextBox @bind-Text="@FormKios.NumberType" NullText="Number Type..." CssClass=""></DxTextBox>
                                                                </Template>
                                                            </DxGridLayoutItem>
                                                            <DxGridLayoutItem Row="0" Column="1" CssClass="mt ml">
                                                                <Template>
                                                                    <DxButton RenderStyle="ButtonRenderStyle.Info" RenderStyleMode="@ButtonRenderStyleMode.Outline" IconCssClass="fa-solid fa-magnifying-glass" Text="Search" SubmitFormOnClick="true" Click="OnSearch"></DxButton>
                                                                </Template>
                                                            </DxGridLayoutItem>
                                                        </Items>
                                                    </DxGridLayout>
                                                </Template>
                                            </DxFormLayoutItem>
                                            @if (showForm)
                                            {
                                                @if (NamePatient != null)
                                                {
                                                    <DxFormLayoutItem Caption="Patient Name" ColSpanMd="12">
                                                        <DxTextBox @bind-Text="@NamePatient" NullText="Patient..." ReadOnly style="background-color:#949494" />
                                                    </DxFormLayoutItem>
                                                    @if (Bpjs != null)
                                                    {
                                                        <DxFormLayoutItem Caption="BPJS" ColSpanMd="12">
                                                            <DxTextBox @bind-Text="@FormKios.BPJS" ReadOnly style="background-color:#949494" />
                                                        </DxFormLayoutItem>
                                                        <DxFormLayoutItem Caption=" Stage Bpjs" ColSpanMd="12">
                                                            <DxCheckBox @bind-Checked="@FormKios.StageBpjs"></DxCheckBox>
                                                        </DxFormLayoutItem>
                                                    }
                                                    @if (CountServiceId > 1)
                                                    {
                                                        <DxFormLayoutItem Caption="Service" ColSpanMd="12">
                                                            <DxComboBox Data="@serv"
                                                                        FilteringMode="@DataGridFilteringMode.Contains"
                                                                        @bind-Value="@ServiceId"
                                                                        TextFieldName="Name"
                                                                        ValueFieldName="Id"></DxComboBox>
                                                        </DxFormLayoutItem>
                                                    }
                                                    else
                                                    {
                                                        <DxFormLayoutItem Caption="Service" ColSpanMd="12">
                                                            <DxComboBox Data="@Services"
                                                                        @bind-Value="@FormKios.ServiceId"
                                                                        TextFieldName="Name"
                                                                        ValueFieldName="Id"
                                                                        ReadOnly="true" />
                                                        </DxFormLayoutItem>
                                                    }
                                                    @if (showPhysician)
                                                    {
                                                        <DxFormLayoutItem Caption="Physician" ColSpanMd="12">
                                                            <DxComboBox Data="@Phys" @bind-Value="@FormKios.PhysicianId" NullText="Select Physician.." ValueFieldName="Id" TextFieldName="Name" />
                                                        </DxFormLayoutItem>
                                                    }
                                                }
                                                else
                                                {
                                                    <DxFormLayoutItem ColSpanMd="12">
                                                        <p class="text-center"> Data Not Found...</p>
                                                    </DxFormLayoutItem>
                                                }
                                            }
                                        </DxFormLayout>
                                    </EditForm>
                                </div>
                                @if (showForm)
                                {
                                    @if (NamePatient != null)
                                    {
                                        <div class="card-footer">
                                            <div class="row  justify-content-end">
                                                <div class="col-auto align-self-end">
                                                    <DxButton RenderStyle="ButtonRenderStyle.Info" RenderStyleMode="@ButtonRenderStyleMode.Outline" IconCssClass="fa-solid fa-floppy-disk" Text="Submit" SubmitFormOnClick="true" Click="OnSave"></DxButton>
                                                    <DxButton RenderStyle="ButtonRenderStyle.Danger" RenderStyleMode="@ButtonRenderStyleMode.Outline" IconCssClass="fa-solid fa-xmark" Text="Discard" SubmitFormOnClick="true" Click="OnCancel"></DxButton>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>

    }
    else
    {
        <div class="content">
            <div class="container-fluid">
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <div class="card">
                            <div class="card-body">
                                <div class="row justify-content-center">
                                    <div class="col-md">
                                        <div class="card shadow-sm mb-5 bg-white rounded ">
                                            <div class="card-body py-0">
                                                <p class="fs-3 my-0 text-center text-success">Your Number Queue  is Generated Succcesfully!!</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row justify-content-center">
                                    <div class="col-md-6 align-self-center">
                                        <div class="card rounded-3">
                                            <div class="card-body">
                                                <h4 class="mt fw-bold text-center">Number Queue</h4>
                                                <h1 class="mt-1 fw-bolder display-1 text-center"> 1001</h1>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row justify-content-between">
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
}