@page "/queue/kiosk/{Id:long}"
@page "/queue/kiosk"
@rendermode InteractiveServer
@inject NavigationManager NavigationManager

<PageTitle>McHealthCare - Queue Kiosk</PageTitle>

<style>
    .centered-container {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
    }
</style>
@if (IsAccess)
{
    @if (Id != 0)
    {
        @if (!showQueue)
        {
            <DxLoadingPanel @bind-Visible="PanelVisible"
                            IndicatorAnimationType="WaitIndicatorAnimationType.Pulse"
                            IsContentBlocked="true"
                            ApplyBackgroundShading="true"
                            IndicatorAreaVisible="false"
                            Text="Fetching Data...">
                <div class="wrapper">

                    <div class="container-fluid ">
                        <div class="row centered-container">
                            <div class="col-md-10">
                                <div class="card mt-5">
                                    <div class="card-header bg-primary">
                                        <div class="row justify-content-start">
                                            <div class="col-md-3">
                                                <DxButton Text="back" Visible="@ActiveBack"></DxButton>
                                            </div>
                                        </div>
                                        <div class="row justify-content-center">
                                            <div class="col-auto align-self-center">
                                                <h4 class="fw-bold">@HeaderName.ToUpper()</h4>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <EditForm Model="@FormKios" Context="EditFormContext">
                                            <DxFormLayout CssClass="w-100">
                                                <DxFormLayoutItem Caption="@captions" CaptionCssClass="normal-caption required-caption" ColSpanMd="12">
                                                    <Template>
                                                        <DxGridLayout>
                                                            <Rows>
                                                                <DxGridLayoutRow />
                                                            </Rows>
                                                            <Columns>
                                                                <DxGridLayoutColumn Width="25fr" />
                                                                <DxGridLayoutColumn Width="5fr" />
                                                            </Columns>
                                                            <Items>
                                                                <DxGridLayoutItem Row="0" Column="0" CssClass="mt ">
                                                                    <Template>
                                                                        <DxTextBox @bind-Text="@FormKios.NumberType" NullText="Number Type..." CssClass="" ShowValidationIcon="true"></DxTextBox>
                                                                    </Template>
                                                                </DxGridLayoutItem>
                                                                <DxGridLayoutItem Row="0" Column="1" CssClass="mt ml">
                                                                    <Template>
                                                                        <DxButton RenderStyle="ButtonRenderStyle.Primary" RenderStyleMode="@ButtonRenderStyleMode.Outline" IconCssClass="fa-solid fa-magnifying-glass" Text="Search" SubmitFormOnClick="true" Click="OnSearch" CssClass="w-100 me-1"></DxButton>
                                                                    </Template>
                                                                </DxGridLayoutItem>
                                                            </Items>
                                                        </DxGridLayout>
                                                    </Template>
                                                </DxFormLayoutItem>
                                                @if (showForm)
                                                {
                                                    <hr />
                                                    @if (NamePatient != null)
                                                    {
                                                        <DxFormLayoutItem Caption="Patient Name" ColSpanMd="12">
                                                            <DxComboBox Data="@Patients" @bind-Value="FormKios.PatientId" FilteringMode="@DataGridFilteringMode.Contains" TextFieldName="setNameFamily" ValueFieldName="Id">

                                                            </DxComboBox>
                                                        </DxFormLayoutItem>
                                                        @if (Bpjs != null)
                                                        {
                                                            <DxFormLayoutItem Caption="BPJS" ColSpanMd="12">
                                                                <DxTextBox @bind-Text="@FormKios.BPJS" ReadOnly style="background-color:#949494" />
                                                            </DxFormLayoutItem>
                                                            <DxFormLayoutItem Caption=" BPJS Status" ColSpanMd="12">
                                                                @if (FormKios.BPJS != null)
                                                                {
                                                                    <h6 class="text-success">
                                                                        <i class="fa-solid fa-circle" style="color: #05e401;"></i>
                                                                        @statBPJS
                                                                    </h6>
                                                                }
                                                                else
                                                                {
                                                                    <h6 class="text-danger">
                                                                        <i class="fa-solid fa-circle" style="color: #d20404;"></i>
                                                                        @statBPJS
                                                                    </h6>
                                                                }
                                                            </DxFormLayoutItem>
                                                        }
                                                        @if (showClass)
                                                        {
                                                            <DxFormLayoutItem Caption="Patient Class" ColSpanMd="12">
                                                                <DxComboBox Data="@classTypes"
                                                                            FilteringMode="@DataGridFilteringMode.Contains"
                                                                            NullText="Select Service.."
                                                                            @bind-Value="@FormKios.ClassTypeId"
                                                                            TextFieldName="Name"
                                                                            ValueFieldName="Id" ShowValidationIcon="true"></DxComboBox>
                                                            </DxFormLayoutItem>
                                                        }
                                                        @if (CountServiceId > 1)
                                                        {
                                                            <DxFormLayoutItem Caption="Service" ColSpanMd="12">
                                                                <DxComboBox Data="@serv"
                                                                            FilteringMode="@DataGridFilteringMode.Contains"
                                                                            NullText="Select Service.."
                                                                            @bind-Value="@ServiceId"
                                                                            TextFieldName="Name"
                                                                            ValueFieldName="Id" ShowValidationIcon="true"></DxComboBox>
                                                            </DxFormLayoutItem>
                                                        }
                                                        else
                                                        {
                                                            <DxFormLayoutItem Caption="Service" ColSpanMd="12">
                                                                <DxComboBox Data="@Services"
                                                                            @bind-Value="@FormKios.ServiceId"
                                                                            TextFieldName="Name"
                                                                            ValueFieldName="Id"
                                                                            ReadOnly="true"
                                                                            ShowValidationIcon="true" />

                                                            </DxFormLayoutItem>
                                                        }
                                                        @if (showPhysician)
                                                        {
                                                            <DxFormLayoutItem Caption="Physician" ColSpanMd="12">
                                                                <DxComboBox Data="@Phys" @bind-Value="@FormKios.PhysicianId" NullText="Select Physician.." ValueFieldName="Id" TextFieldName="Name"
                                                                            ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto" ShowValidationIcon="true" />
                                                            </DxFormLayoutItem>
                                                        }
                                                    }
                                                    else
                                                    {
                                                        <DxFormLayoutItem ColSpanMd="12">
                                                            <p class="text-center"> Data Not Found...</p>
                                                            <h5 class="text-center fw-bold">Please Register Through The Nurse!</h5>
                                                        </DxFormLayoutItem>
                                                    }
                                                }
                                            </DxFormLayout>
                                        </EditForm>
                                        @if (showForm)
                                        {
                                            @if (NamePatient != null)
                                            {
                                                <div class="row justify-content-end">
                                                    <div class="col-auto align-self-end">
                                                        <DxButton RenderStyle="ButtonRenderStyle.Primary" RenderStyleMode="@ButtonRenderStyleMode.Outline" IconCssClass="fa-solid fa-floppy-disk" Text="Submit" SubmitFormOnClick="true" Click="OnSave"></DxButton>
                                                        <DxButton RenderStyle="ButtonRenderStyle.Danger" RenderStyleMode="@ButtonRenderStyleMode.Outline" IconCssClass="fa-solid fa-xmark" Text="Discard" SubmitFormOnClick="true" Click="OnCancel"></DxButton>
                                                    </div>
                                                </div>
                                            }
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </DxLoadingPanel>
        }
        else
        {
            <div class="wrapper">
                @if (IsLoading)
                {
                    <LoadingIndicatorLayout />
                }
                else
                { 
                    <div class="container">
                        <div class="container-fluid">
                            <div class="centered-container">
                                <div class="row">
                                    <div class="col-md-12">
                                        <!-- Card with Queue Number -->
                                        <div class="card custom-card custom-card-image mb-3 shadow">
                                            <div class="card-body">
                                                <div class="row justify-content-center">
                                                    <div class="col-md">
                                                        <div class="card shadow-sm bg-white rounded">
                                                            <div class="card-body py-0">
                                                                <p class="fs-3 p-2 my-0 text-center text-success"><b>Your Queue Number is Generated Successfully!!</b></p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row justify-content-center mt-2">
                                                    <div class="col-md-6 align-self-center">
                                                        <div class="card rounded-3 shadow">
                                                            <div class="card-body">
                                                                <h4 class="mt fw-bold text-center">Queue Number</h4>
                                                                <h1 class="mt-1 fw-bolder display-1 text-center">@string.Format("{0:D3}", ViewQueue is not null ? ViewQueue.QueueNumber : string.Empty)</h1>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Buttons row -->
                                        <div class="row w-100 mt-5">
                                            <div class="col-md-12">
                                                <div class="row justify-content-center">
                                                    <div class="col-auto">
                                                        <DxButton CssClass="w-100" RenderStyle="ButtonRenderStyle.Danger" IconCssClass="fa-solid fa-trash" Text="Cancel" Click="@(() => OnCanceled(ViewQueue.Id))"></DxButton>
                                                    </div>
                                                    <div class="col-auto">
                                                        <DxButton CssClass="w-100" RenderStyle="ButtonRenderStyle.Primary" IconCssClass="fa-solid fa-print" Click="onPrint" Text="Print"></DxButton>
                                                    </div>
                                                    <div class="col-auto">
                                                        <DxButton CssClass="w-100" RenderStyle="ButtonRenderStyle.Danger" IconCssClass="fa-solid fa-circle-xmark" RenderStyleMode="@ButtonRenderStyleMode.Contained" Text="Close" Click="OnCancel"></DxButton>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        }
    } 
}
else
{
    <div class="wrapper"> 
        <LoadingIndicatorLayout />
    </div>
}