@page "/queue/kiosk-departement"
@rendermode InteractiveServer
<PageTitle>McDermott - Queue Kiosk Departement</PageTitle>
@if (IsAccess)
{
    <div class="wrapper">
        <McDermott.Web.Components.Layout.BaseContentHeaderLayout Title="Kiosk Departement" />

        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col">
                        <div class="card">
                            <div class="card-body">

                                <DxLoadingPanel @bind-Visible="PanelVisible"
                                                IndicatorAnimationType="WaitIndicatorAnimationType.Pulse"
                                                IsContentBlocked="true"
                                                ApplyBackgroundShading="true"
                                                IndicatorAreaVisible="false"
                                                Text="Fetching Data...">
                                    <DxGrid @ref="Grid" PagerNavigationMode="PagerNavigationMode.InputBox"
                                            Data="kioskDepartements"
                                            PageSize="10"
                                            @bind-SelectedDataItems="@SelectedDataItems"
                                            FilterMenuButtonDisplayMode="GridFilterMenuButtonDisplayMode.Always"
                                            KeyFieldName="Id"
                                            CustomizeDataRowEditor="Grid_CustomizeDataRowEditor"
                                            DataItemDeleting="OnDelete"
                                            AllowSelectRowByClick="true"
                                            PopupEditFormCssClass="pw-800"
                                            PagerPosition="GridPagerPosition.Bottom"
                                            PageSizeSelectorVisible="true"
                                            PageSizeSelectorItems="@(new int[] { 10, 20, 50, 100 })"
                                            PageSizeSelectorAllRowsItemVisible="true"
                                            PagerSwitchToInputBoxButtonCount="10"
                                            FocusedRowEnabled="true"
                                            PagerVisibleNumericButtonCount="10"
                                            FocusedRowChanged="Grid_FocusedRowChanged"
                                            ShowGroupPanel="true"
                                            AutoExpandAllGroupRows="true"
                                            ShowFilterRow="true"
                                            ShowSearchBox="true"
                                            SelectAllCheckboxMode="GridSelectAllCheckboxMode.Mixed"
                                            KeyboardNavigationEnabled="true">
                                        <ToolbarTemplate>
                                            <DxToolbar ItemRenderStyleMode="ToolbarRenderStyleMode.Contained">
                                                <DxToolbarItem Visible="@UserAccessCRUID.Create" Text="New" Click="NewItem_Click" IconCssClass="fa-solid fa-plus" />
                                                <DxToolbarItem Visible="@UserAccessCRUID.Update" Text="Edit" Click="EditItem_Click" IconCssClass="fa-solid fa-pen-to-square" Enabled="SelectedDataItems.Count > 0 && kioskDepartements.Count > 0" />
                                                <DxToolbarItem Visible="@UserAccessCRUID.Delete" Text="Delete" Click="DeleteItem_Click" IconCssClass="fa-solid fa-trash" Enabled="SelectedDataItems.Count > 0 && kioskDepartements.Count > 0" />
                                                @* <DxToolbarItem BeginGroup="true" Text="Refresh" Click="Refresh_Click" IconCssClass="fa-solid fa-arrows-rotate" /> *@

                                            </DxToolbar>
                                        </ToolbarTemplate>
                                        <Columns>
                                            <DxGridSelectionColumn Width="15px" />
                                            <DxGridDataColumn FieldName="ServiceP.Name" Caption="Service (P)" SortIndex="0" />
                                            <DxGridDataColumn FieldName="ServiceK.Name" Caption="Service (k)" />
                                        </Columns>
                                    </DxGrid>
                                </DxLoadingPanel>
                                <DxPopup @bind-Visible="@PopUpVisible"
                                         AllowResize="true"
                                         HeaderText="@TextPopUp"
                                         MinWidth="300"
                                         MinHeight="200"
                                         MaxWidth="800"
                                         MaxHeight="500"
                                         Width="600px"
                                         Height="200px">
                                    <EditForm Model="@FormKioskDepart" Context="EditFormContext">
                                        <DataAnnotationsValidator />
                                        <DxFormLayout CssClass="mt">
                                            <DxFormLayoutItem Caption="Service For Patient" ColSpanMd="12">
                                                <DxComboBox Data="@ServicesP" @bind-Value="@FormKioskDepart.ServicePId" NullText="Select Service For Patient" TextFieldName="Name" ValueFieldName="Id"></DxComboBox>
                                            </DxFormLayoutItem>
                                            <DxFormLayoutItem Caption="Service For Counter" ColSpanMd="12">
                                                <DxComboBox Data="@ServicesK" @bind-Value="@FormKioskDepart.ServiceKId" NullText="Select Service For Counter" TextFieldName="Name" ValueFieldName="Id"></DxComboBox>
                                            </DxFormLayoutItem>
                                            <DxFormLayoutItem ColSpanMd="12">
                                                <div class="row justify-content-end">
                                                    <div class="col-auto align-self-end">
                                                        <DxButton Text="Save" RenderStyleMode="@ButtonRenderStyleMode.Outline" RenderStyle="ButtonRenderStyle.Info" SubmitFormOnClick="true" Click="OnSave"></DxButton>
                                                        <DxButton Text="Discard" RenderStyleMode="@ButtonRenderStyleMode.Outline" RenderStyle="ButtonRenderStyle.Danger" Click="OnCancel"></DxButton>
                                                    </div>
                                                </div>
                                            </DxFormLayoutItem>
                                        </DxFormLayout>
                                    </EditForm>
                                </DxPopup>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
}

