@page "/patient/patients/{PageMode}"
@using McDermott.Application.Dtos.ClaimUserManagement
@using McDermott.Web.Components.Layout
@using McDermott.Web.Components.Pages.Pharmacies.Prescription
@using McDermott.Web.Components.Pages.Pharmacy
@rendermode InteractiveServer

<PageTitle>McHealthCare - Patients</PageTitle>

@if (IsAccess && UserAccessCRUID is not null && (UserAccessCRUID.IsCreate || UserAccessCRUID.IsUpdate))
{
    <InputFile id="fileInput" style="display:none" OnChange="@ImportExcelFile" accept=".xlsx" multiple="false"></InputFile>

    <div class="wrapper">

        <BaseHeaderPage Title="Patients" OnClickBack="@(async () => NavigationManager.NavigateTo("patient/patients"))" ShowBackButton="true" />

        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col">
                        <div class="card">
                            <div class="card-body">
                                <div class="w-100">
                                    <DxToolbar Title="Actions" ItemRenderStyleMode="ToolbarRenderStyleMode.Contained" AdaptivityMinRootItemCount="2" AdaptivityAutoHideRootItems="true" AdaptivityAutoCollapseItemsToIcons="true">
                                        <Items>
                                            <DxToolbarItem Alignment="ToolbarItemAlignment.Right" BeginGroup="true" Click="@((e) => OnClickSmartButton("Insurance Policy"))"
                                                           IconCssClass="fa-solid fa-file-invoice-dollar"
                                                           Text="@($"{InsurancePoliciesCount} Insurance Policy")" />

                                            <DxToolbarItem Alignment="ToolbarItemAlignment.Right" BeginGroup="true" Click="@((e) => OnClickSmartButton("User Claim"))"
                                                           IconCssClass="fa-solid fa-file-signature"
                                                           Text="@($"{UserClaimCount} User Claim")" />

                                            <DxToolbarItem Alignment="ToolbarItemAlignment.Right" BeginGroup="true" Click="@((e) => OnClickSmartButton("Prescription"))"
                                                           IconCssClass="fa-solid fa-prescription"
                                                           Text="@($"{PrescriptionCount} History Prescription")" />

                                            <DxToolbarItem Alignment="ToolbarItemAlignment.Right" BeginGroup="true" Click="@((e) => OnClickSmartButton("Desease"))"
                                                           IconCssClass="fa-solid fa-stethoscope"
                                                           Text="@($"History Desease")" />

                                            <DxToolbarItem Alignment="ToolbarItemAlignment.Right" BeginGroup="true"
                                                           IconCssClass="fa-solid fa-heartbeat"
                                                           Text="@($"Data General Examination")" />

                                            <DxToolbarItem Alignment="ToolbarItemAlignment.Right" BeginGroup="true"
                                                           IconCssClass="fa-solid fa-car-crash"
                                                           Text="@($"Data Accident")" />

                                            <DxToolbarItem Alignment="ToolbarItemAlignment.Right" BeginGroup="true"
                                                           IconCssClass="fa-solid fa-user-md"
                                                           Text="@($"Data MCU")" />

                                            <DxToolbarItem Alignment="ToolbarItemAlignment.Right" BeginGroup="true" Click="@((e) => OnClickSmartButton("Vaccinations"))"
                                                           IconCssClass="fa-solid fa-syringe"
                                                           Text="@($"{VaccinationCount} Vaccinations")" />

                                            <DxToolbarItem Alignment="ToolbarItemAlignment.Right" BeginGroup="true"
                                                           Click="@((e) => OnClickSmartButton("Wellness History"))"
                                                           IconCssClass="fa-solid fa-walking"
                                                           Text="@($"{WellnessAttendanceCount} Wellness History")" />
                                        </Items>

                                    </DxToolbar>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col">
                        <DxLoadingPanel @bind-Visible="IsLoading"
                                        IsContentBlocked="true"
                                        CssClass="w-100"
                                        ApplyBackgroundShading="true">
                            <EditForm Model="@UserForm" Context="EditFormContext" OnValidSubmit="@HandleValidSubmit"
                                      OnInvalidSubmit="@HandleInvalidSubmit">
                                <DataAnnotationsValidator />
                                <DxFormLayout>
                                    <div class="card w-100 sticky">
                                        <div class="card-body">
                                            <div class=" row w-100">
                                                <div class="w-100 row justify-content-end mt-2 mb-2">
                                                    <div class="col-auto align-self-end p-0 m-0">
                                                        <DxButton RenderStyle="ButtonRenderStyle.Primary" RenderStyleMode="@ButtonRenderStyleMode.Contained" IconCssClass="fa-solid fa-floppy-disk" Text="Save" SubmitFormOnClick="true">
                                                        </DxButton>
                                                        <DxButton RenderStyle="ButtonRenderStyle.Danger" RenderStyleMode="@ButtonRenderStyleMode.Contained" IconCssClass="fa-solid fa-xmark" Text="Cancel" Click="CancelItemGroupMenuGridGropMenu_Click"></DxButton>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                    @* General Information *@  
                                        <_BaseGeneralInformationUser UserForm="UserForm" IsPatientForm="true" />

                                    @* History Medical *@
                                    <div class="w-100">
                                        <div class="card">
                                            <div class="card-header">
                                                <span class="fw-bolder">History</span>
                                            </div>

                                            <div class="card-body">
                                                <div class="w-100">
                                                    <div class="card">
                                                        <div class="card-header">
                                                            <span class="fw-bolder">Allergy Data</span>
                                                        </div>

                                                        <div class="card-body">
                                                            <DxFormLayout CssClass="w-100">
                                                                <DxFormLayoutItem CaptionCssClass="normal-caption" Caption="Weather" ColSpanMd="12">
                                                                    <div class="row w-100">
                                                                        <div class="col-md-1">
                                                                            <DxCheckBox @bind-Checked="@UserForm.IsWeatherPatientAllergyIds" />
                                                                        </div>
                                                                        <div class="col-md-11">
                                                                            @if (UserForm.IsWeatherPatientAllergyIds)
                                                                            {
                                                                                <DxTagBox Data="@WeatherAllergies"
                                                                                          NullText="Select Allergy"
                                                                                          @bind-Values="@SelectedWeatherAllergies"
                                                                                          EditFormat="{0}"
                                                                                          InputId="tbMultiColumn">
                                                                                    <DxListEditorColumn FieldName="@nameof(AllergyDto.NmAllergy)"
                                                                                                        Caption="Name" />
                                                                                    <DxListEditorColumn FieldName="@nameof(AllergyDto.KdAllergy)"
                                                                                                        Caption="Code"
                                                                                                        Width="100px" />
                                                                                    <DxListEditorColumn FieldName="@nameof(AllergyDto.TypeString)"
                                                                                                        Caption="Type" />
                                                                                </DxTagBox>
                                                                            }
                                                                        </div>
                                                                    </div>
                                                                </DxFormLayoutItem>

                                                                <DxFormLayoutItem CaptionCssClass="normal-caption" Caption="Pharmacology" ColSpanMd="12">
                                                                    <div class="row w-100">
                                                                        <div class="col-md-1">
                                                                            <DxCheckBox @bind-Checked="@UserForm.IsPharmacologyPatientAllergyIds" />
                                                                        </div>
                                                                        <div class="col">
                                                                            @if (UserForm.IsPharmacologyPatientAllergyIds)
                                                                            {
                                                                                <DxTagBox Data="@PharmacologyAllergies"
                                                                                          NullText="Select Allergy"
                                                                                          @bind-Values="@SelectedPharmacologyAllergies"
                                                                                          EditFormat="{0}"
                                                                                          InputId="tbMultiColumn">
                                                                                    <DxListEditorColumn FieldName="@nameof(AllergyDto.NmAllergy)"
                                                                                                        Caption="Name" />
                                                                                    <DxListEditorColumn FieldName="@nameof(AllergyDto.KdAllergy)"
                                                                                                        Caption="Code"
                                                                                                        Width="100px" />
                                                                                    <DxListEditorColumn FieldName="@nameof(AllergyDto.TypeString)"
                                                                                                        Caption="Type" />
                                                                                </DxTagBox>
                                                                            }
                                                                        </div>
                                                                    </div>
                                                                </DxFormLayoutItem>

                                                                <DxFormLayoutItem CaptionCssClass="normal-caption" Caption="Food" ColSpanMd="12">
                                                                    <div class="row w-100">
                                                                        <div class="col-md-1">
                                                                            <DxCheckBox @bind-Checked="@UserForm.IsFoodPatientAllergyIds" />
                                                                        </div>
                                                                        <div class="col-md-11">
                                                                            @if (UserForm.IsFoodPatientAllergyIds)
                                                                            {
                                                                                <DxTagBox Data="@FoodAllergies"
                                                                                          NullText="Select Allergy"
                                                                                          @bind-Values="@SelectedFoodAllergies"
                                                                                          EditFormat="{0}"
                                                                                          InputId="tbMultiColumn">
                                                                                    <DxListEditorColumn FieldName="@nameof(AllergyDto.NmAllergy)"
                                                                                                        Caption="Name" />
                                                                                    <DxListEditorColumn FieldName="@nameof(AllergyDto.KdAllergy)"
                                                                                                        Caption="Code"
                                                                                                        Width="100px" />
                                                                                    <DxListEditorColumn FieldName="@nameof(AllergyDto.TypeString)"
                                                                                                        Caption="Type" />
                                                                                </DxTagBox>
                                                                            }
                                                                        </div>
                                                                    </div>
                                                                </DxFormLayoutItem>

                                                            </DxFormLayout>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="w-100 mt-2">
                                                    <div class="row w-100">
                                                        <div class="col-md-6">
                                                            <DxFormLayout CssClass="w-100">
                                                                <DxFormLayoutItem Caption="Family Medical History" CaptionCssClass="normal-caption" ColSpanMd="12">
                                                                    <Template>
                                                                        <DxGridLayout ColumnSpacing="8px">
                                                                            <Rows>
                                                                                <DxGridLayoutRow />
                                                                            </Rows>
                                                                            <Columns>
                                                                                <DxGridLayoutColumn />
                                                                                <DxGridLayoutColumn />
                                                                            </Columns>
                                                                            <Items>
                                                                                <DxGridLayoutItem Row="0" Column="0" CssClass="normal-caption" ColumnSpan="1">
                                                                                    <Template>
                                                                                        <MyDxComboBox Data="@Helper.YesNoOptions"
                                                                                                      NullText="Yes/No"
                                                                                                      @bind-Value="@UserForm.IsFamilyMedicalHistory">
                                                                                        </MyDxComboBox>
                                                                                    </Template>
                                                                                </DxGridLayoutItem>
                                                                                <DxGridLayoutItem Row="0" Visible="@(UserForm.IsFamilyMedicalHistory == "Yes")" Column="1" CssClass=" normal-caption " ColumnSpan="12">
                                                                                    <Template>
                                                                                        <MyDxComboBox Data="@Helper.RiwayatPenyakitKeluarga"
                                                                                                      NullText="Select Family Medical History..."
                                                                                                      @bind-Value="@UserForm.FamilyMedicalHistory">
                                                                                        </MyDxComboBox>
                                                                                    </Template>
                                                                                </DxGridLayoutItem>
                                                                            </Items>
                                                                        </DxGridLayout>
                                                                    </Template>
                                                                </DxFormLayoutItem>

                                                                <DxFormLayoutItem Caption=" " Visible="@(UserForm.FamilyMedicalHistory is not null && UserForm.FamilyMedicalHistory.Equals("Other"))" CaptionCssClass="normal-caption" ColSpanMd="12">
                                                                    <MyTextBox @bind-Text="@UserForm.FamilyMedicalHistoryOther"
                                                                               NullText="Family MedicalHistory Other" />
                                                                </DxFormLayoutItem>


                                                                <DxFormLayoutItem Caption="Medication History" CaptionCssClass="normal-caption" ColSpanMd="12">
                                                                    <Template>
                                                                        <DxGridLayout ColumnSpacing="8px">
                                                                            <Rows>
                                                                                <DxGridLayoutRow />
                                                                            </Rows>
                                                                            <Columns>
                                                                                <DxGridLayoutColumn />
                                                                                <DxGridLayoutColumn />
                                                                            </Columns>
                                                                            <Items>
                                                                                <DxGridLayoutItem Row="0" Column="0" CssClass="normal-caption" ColumnSpan="1">
                                                                                    <Template>
                                                                                        <MyDxComboBox Data="@Helper.YesNoOptions"
                                                                                                      NullText="Yes/No"
                                                                                                      @bind-Value="@UserForm.IsMedicationHistory">
                                                                                        </MyDxComboBox>
                                                                                    </Template>
                                                                                </DxGridLayoutItem>
                                                                                <DxGridLayoutItem Visible="@(UserForm.IsMedicationHistory == "Yes")" Row="0" Column="1" CssClass=" normal-caption " ColumnSpan="12">
                                                                                    <Template>
                                                                                        <MyTextBox @bind-Text="@UserForm.MedicationHistory"
                                                                                                   NullText="Medication History" />
                                                                                    </Template>
                                                                                </DxGridLayoutItem>
                                                                            </Items>
                                                                        </DxGridLayout>
                                                                    </Template>
                                                                </DxFormLayoutItem>

                                                                <DxFormLayoutItem Caption="Past Medical History" CaptionCssClass="normal-caption" ColSpanMd="12">
                                                                    <MyTextBox @bind-Text="@UserForm.PastMedicalHistory"
                                                                               NullText="Past Medical History" />
                                                                </DxFormLayoutItem>

                                                            </DxFormLayout>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                    @* Family Relation *@
                                    @if (UserForm.Id != 0)
                                    {
                                        <div class="w-100">
                                            <div class="card">
                                                <div class="card-header">
                                                    <span class="fw-bolder">Family Relation</span>
                                                </div>

                                                <_BaseMyGrid @ref="GridFamilyRelation"
                                                             Data="@Data"
                                                             @bind-SelectedDataItems="@SelectedDataItemsFamilyRelation"
                                                             EditModelSaving="OnSaveFamilyRelation"
                                                             DataItemDeleting="OnDeleteFamilyRelation"
                                                             FocusedRowChanged="GridFamilyRelation_FocusedRowChanged"
                                                             KeyFieldName="Id">

                                                    <ToolbarTemplate>
                                                        <MyDxToolbarBase TItem="PatientFamilyRelationDto"
                                                                         Items="@PatientFamilyRelations"
                                                                         SelectedDataItems="@SelectedDataItemsFamilyRelation"
                                                                         NewItem_Click="@NewItemFamilyRelation_Click"
                                                                         EditItem_Click="() => EditItemFamilyRelation_Click(GridFamilyRelation)"
                                                                         DeleteItem_Click="@DeleteItemFamilyRelation_Click"
                                                                         Refresh_Click="(() => LoadDataFamilyRelation())"
                                                                         IsImport="false"
                                                                         Grid="GridFamilyRelation"
                                                                         VisibleNew="UserAccessCRUID.IsCreate"
                                                                         VisibleEdit="UserAccessCRUID.IsUpdate"
                                                                         VisibleDelete="UserAccessCRUID.IsDelete" />
                                                    </ToolbarTemplate>

                                                    <Columns>
                                                        <DxGridSelectionColumn Context="ToolbarContext" Width="15px" />
                                                        <DxGridDataColumn FieldName="FamilyMember.Name" Caption="Family Member" SortIndex="0" /> 
                                                        <DxGridDataColumn MinWidth="200" Caption="Relation" UnboundType="GridUnboundColumnType.String">
                                                            <CellDisplayTemplate>
                                                                @if (context.DataItem is PatientFamilyRelation dataItem)
                                                                {
                                                                    var inverseRelationName = dataItem.Family?.InverseRelation?.Name;
                                                                    var currentName = dataItem.Family?.Name;

                                                                    var displayValue = string.IsNullOrWhiteSpace(inverseRelationName)
                                                                    ? ""
                                                                    : $"{inverseRelationName}-{currentName}";

                                                                    <span>@displayValue</span>
                                                                }
                                                            </CellDisplayTemplate>
                                                        </DxGridDataColumn>

                                                    </Columns>

                                                    <EditFormTemplate Context="EditFormContext2">
                                                        @{
                                                            var a = (PatientFamilyRelation)EditFormContext2.EditModel;
                                                        }
                                                        <DxFormLayout CssClass="w-100">
                                                            <DxFormLayoutItem CaptionCssClass="required-caption normal-caption" Caption="Patient Family" ColSpanMd="12">
                                                                <MyDxComboBox Data="@UserPatients"
                                                                              NullText="Select Patient Family"
                                                                              @ref="refUserFamilyRelationComboBox"
                                                                              @bind-Value="@a.FamilyMemberId"
                                                                              TextFieldName="Name"
                                                                              ValueFieldName="Id"
                                                                              TextChanged="((string e) => OnInputUserFamilyRelationChanged(e))">
                                                                    <Buttons>
                                                                        <DxEditorButton Click="OnSearchUserFamilyRelationndexDecrement"
                                                                                        IconCssClass="fa-solid fa-caret-left"
                                                                                        Tooltip="Previous Index" />
                                                                        <DxEditorButton Click="OnSearchUserFamilyRelation"
                                                                                        IconCssClass="fa-solid fa-magnifying-glass"
                                                                                        Tooltip="Search" />
                                                                        <DxEditorButton Click="OnSearchUserFamilyRelationIndexIncrement"
                                                                                        IconCssClass="fa-solid fa-caret-right"
                                                                                        Tooltip="Next Index" />
                                                                    </Buttons>
                                                                    <Columns>
                                                                        <DxListEditorColumn FieldName="NoRm" Caption="NoRm" />
                                                                        <DxListEditorColumn FieldName="Name" Caption="Name" />
                                                                        <DxListEditorColumn FieldName="Email" Caption="Email" />
                                                                        <DxListEditorColumn FieldName="MobilePhone" Caption="Mobile Phone" />
                                                                        <DxListEditorColumn FieldName="Gender" Caption="Gender" />
                                                                        <DxListEditorColumn FieldName="DateOfBirth" Caption="Date Of Birth" />
                                                                    </Columns>
                                                                </MyDxComboBox>
                                                                <ValidationMessage For="@(()=>a.FamilyMemberId)" />
                                                            </DxFormLayoutItem>

                                                            <DxFormLayoutItem CaptionCssClass="required-caption normal-caption" Caption="Family" ColSpanMd="12">
                                                                <MyDxComboBox Data="@Families"
                                                                              NullText="Select Family"
                                                                              @ref="refFamilyComboBox"
                                                                              @bind-Value="@a.FamilyId"
                                                                              TextFieldName="Name"
                                                                              ValueFieldName="Id"
                                                                              TextChanged="((string e) => OnInputFamilyChanged(e))">
                                                                    <Buttons>
                                                                        <DxEditorButton Click="OnSearchFamilyIndexDecrement"
                                                                                        IconCssClass="fa-solid fa-caret-left"
                                                                                        Tooltip="Previous Index" />
                                                                        <DxEditorButton Click="OnSearchFamily"
                                                                                        IconCssClass="fa-solid fa-magnifying-glass"
                                                                                        Tooltip="Search" />
                                                                        <DxEditorButton Click="OnSearchFamilyIndexIncrement"
                                                                                        IconCssClass="fa-solid fa-caret-right"
                                                                                        Tooltip="Next Index" />
                                                                    </Buttons>
                                                                    <Columns>
                                                                        <DxListEditorColumn FieldName="@nameof(FamilyDto.Name)" Caption="Name" />
                                                                        <DxListEditorColumn FieldName="@nameof(FamilyDto.InverseRelationString)" Caption="Relation" />
                                                                    </Columns>
                                                                </MyDxComboBox>
                                                                <ValidationMessage For="@(()=>a.FamilyId)" />
                                                            </DxFormLayoutItem>
                                                        </DxFormLayout>
                                                    </EditFormTemplate>

                                                </_BaseMyGrid>

                                            </div>
                                        </div>
                                    }
                                </DxFormLayout>
                            </EditForm>

                            <div class="mt-2"></div>
                        </DxLoadingPanel>
                    </div>
                </div>
            </div>
        </section>
    </div>
}
else if (UserAccessCRUID is not null && (!UserAccessCRUID.IsCreate && !UserAccessCRUID.IsUpdate))
{
    <InvalidPermissionPage />
}
else
{
    <LoadingIndicatorLayout />
}


<DxPopup HeaderText="Insurance Policy" @bind-Visible="@PopUpVisible" HeaderCssClass="fw-bold" CloseOnOutsideClick="false" Width="auto" Closed="OnClickCloseInsurancePolicyPopUp">
    @* <InsurancePolicyPage User="UserForm" IsPopUpForm="true"></InsurancePolicyPage> *@
    <McDermott.Web.Components.Popups.PopUpInsurancePolicyPatientPage PatientId="UserForm.Id">

    </McDermott.Web.Components.Popups.PopUpInsurancePolicyPatientPage>
</DxPopup>


<DxPopup HeaderText="History Prescription" @bind-Visible="@PrescriptionPopUp" HeaderCssClass="fw-bold" CloseOnOutsideClick="false" Width="auto" Closed="OnClickClosePrescriptionPopUp">
    <PrescriptionPage User="UserForm" IsPopUpForm="true"></PrescriptionPage>
</DxPopup>

<DxPopup HeaderText="Historical Vaccination Patients" @bind-Visible="@IsVaccinations" HeaderCssClass="fw-bold" CloseOnOutsideClick="false" Width="90%">
    <DxLoadingPanel @bind-Visible="IsLoadingGeneralConsultantServiceVaccinations"
                    IndicatorAnimationType="WaitIndicatorAnimationType.Pulse"
                    IsContentBlocked="true"
                    ApplyBackgroundShading="true"
                    IndicatorAreaVisible="false"
                    Text="Fetching Data...">
        <MyGrid @ref="GridVaccinations"
                Data="GeneralConsultanServiceVaccinations"
                KeyFieldName="Id"
                AllowSelectRowByClick="false"
                FocusedRowEnabled="false"
                @bind-SelectedDataItems="@SelectedDataItemVaccinations">

            <Columns>
                <DxGridDataColumn FieldName="RegistrationDate" DisplayFormat="ddd, dd MMM yyyy" Caption="Registration Date" SortIndex="0" />
                <DxGridDataColumn FieldName="Patient.Name" Caption="Patient" />
                <DxGridDataColumn FieldName="Payment" Caption="Payment Methode" />
                <DxGridDataColumn FieldName="Pratitioner.Name" Caption="Doctor" />
                <DxGridDataColumn FieldName="Service.Name" Caption="Service" />
                <DxGridDataColumn FieldName="TypeRegistration" Caption="Type Registration" />
                <DxGridDataColumn FieldName="StatusName" Caption="Status" />
                <DxGridDataColumn FieldName="AppointmentDate" Caption="Appoiment" />
                <DxGridDataColumn FieldName="IsAlertInformationSpecialCase" Caption="Special Case">
                    <CellDisplayTemplate>
                        @GetIssuePriorityIconHtml((context.DataItem as GeneralConsultanServiceDto))
                    </CellDisplayTemplate>
                </DxGridDataColumn>
                <DxGridDataColumn FieldName="PatientId" AllowSort="false" Width="10px" MinWidth="100" TextAlignment="GridTextAlignment.Center">
                    <CellDisplayTemplate>
                        <DxButton RenderStyle="ButtonRenderStyle.Primary"
                                  Attributes="@(new Dictionary<string, object> {  ["title"] = "Print" })"
                                  IconCssClass="fa-solid fa-circle-info"
                                  Click="@(()=> OnClickDetailHistoricalRecordPatientVaccinations((context.DataItem as GeneralConsultanServiceDto)))"
                                  CssClass="me-1" />
                    </CellDisplayTemplate>
                    <HeaderCaptionTemplate>Action</HeaderCaptionTemplate>
                </DxGridDataColumn>
            </Columns>
        </MyGrid>
    </DxLoadingPanel>
</DxPopup>

<DxPopup HeaderText="Wellness History" @bind-Visible="@IsWellnessHistory" HeaderCssClass="fw-bold" CloseOnOutsideClick="false" Width="90%">
    <DxLoadingPanel @bind-Visible="LoadingWellness"
                    IndicatorAnimationType="WaitIndicatorAnimationType.Pulse"
                    IsContentBlocked="true"
                    ApplyBackgroundShading="true"
                    IndicatorAreaVisible="false"
                    Text="Fetching Data...">
        <MyGridPaginate @ref="GridAttendance"
                        Data="WellnessProgramAttendances"
                        KeyFieldName="Id"
                        AllowSelectRowByClick="false"
                        FocusedRowEnabled="false"
                        @bind-SelectedDataItems="@SelectedDataItemAttendances"
                        SearchTextChanged="OnSearchBoxChangedAttendances">

            <ToolbarTemplate>
                <DxToolbar ItemRenderStyleMode="ToolbarRenderStyleMode.Plain">
                    <DxToolbarItem BeginGroup="true" Text="Refresh" Click="(async () => await LoadDataAttendances())" IconCssClass="fa-solid fa-arrows-rotate" />
                </DxToolbar>
            </ToolbarTemplate>

            <Columns>
                <DxGridDataColumn MinWidth="200" FieldName="Date" Caption="Attendance Join Date" DisplayFormat="@Helper.DefaultFormatDateTime" />
                <DxGridDataColumn MinWidth="200" FieldName="WellnessProgram.Name" Caption="Activity" />
                <DxGridDataColumn MinWidth="200" FieldName="WellnessProgramDetail.Name" Caption="Activity Detail" />
            </Columns>

            <GroupSummary>
                <DxGridSummaryItem SummaryType="GridSummaryItemType.Count" FieldName="TypeRegistration" />
            </GroupSummary>
        </MyGridPaginate>
        <div class="row">
            <DxFormLayout>
                <div class="col-md-8">
                    <DxFormLayoutItem>
                        <DxPager PageCount="totalCountAttendances"
                                 ActivePageIndexChanged="OnPageIndexChangedAttendances"
                                 ActivePageIndex="activePageIndexAttendances"
                                 VisibleNumericButtonCount="10"
                                 SizeMode="SizeMode.Medium"
                                 NavigationMode="PagerNavigationMode.Auto">
                        </DxPager>
                    </DxFormLayoutItem>
                </div>
                <div class="col-md-4 d-flex justify-content-end">
                    <DxFormLayoutItem Caption="Page Size:">
                        <MyDxComboBox Data="(new[] { 10, 25, 50, 100 })"
                                      NullText="Select Page Size"
                                      ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Never"
                                      SelectedItemChanged="((int e ) => OnpageSizeAttendancesIndexChanged(e))"
                                      @bind-Value="pageSizeAttendances">
                        </MyDxComboBox>
                    </DxFormLayoutItem>
                </div>
            </DxFormLayout>
        </div>
    </DxLoadingPanel>
</DxPopup>

<DxPopup HeaderText="Historical Medical Record Patient Detail" @bind-Visible="@IsDetailVaccinations" Closed="( () => IsDetailVaccinations = false)" HeaderCssClass="fw-bold" CloseOnOutsideClick="false" Width="90%">

    <_PopUpDetailVaccination GeneralConsultanService="SelectedGeneralConsultanService"
                             GeneralConsultanCPPTs="GeneralConsultanCPPTs" />
</DxPopup>

<DxPopup HeaderText="Claim History" @bind-Visible="@IsUserClaim" Closed="(()=> IsUserClaim = false)" HeaderCssClass="fw-bold" CloseOnOutsideClick="false" Width="90%">
    <DxLoadingPanel @bind-Visible="IsLoadingUserClaim"
                    IndicatorAnimationType="WaitIndicatorAnimationType.Pulse"
                    IsContentBlocked="true"
                    ApplyBackgroundShading="true"
                    IndicatorAreaVisible="false"
                    Text="Fetching Data...">
        <MyGridPaginate @ref="GridUserClaim"
                        Data="getClaimHistory"
                        @bind-SelectedDataItems="@SelectedUserClaimDataItems"
                        FocusedRowChanged="GridUserClaim_FocusedRowChanged"
                        KeyFieldName="Id">

            <ToolbarTemplate>
                <MyDxToolbarBase TItem="ClaimHistoryDto"
                                 Items="@getClaimHistory"
                                 Grid="GridUserClaim"
                                 SelectedDataItems="@SelectedUserClaimDataItems"
                                 Refresh_Click="@Refresh_UserClaim_Click"
                                 IsImport="false"
                                 IsExport="false"
                                 VisibleNew="false"
                                 VisibleEdit="false"
                                 VisibleDelete="false" />

            </ToolbarTemplate>
            <Columns>
                <DxGridDataColumn Width="50px" Caption="No">
                    <CellDisplayTemplate>
                        @{
                            var index = context.VisibleIndex + 1; // Adding 1 for 1-based numbering
                        }
                        @index
                    </CellDisplayTemplate>
                </DxGridDataColumn>
                <DxGridDataColumn MinWidth="200" FieldName="Benefit.BenefitName" Caption="Benefit" SortIndex="0" />
                <DxGridDataColumn MinWidth="200" FieldName="ClaimDate" Caption=" Claim Date" DisplayFormat="@Helper.DefaultFormatDate" />
                <DxGridDataColumn MinWidth="200" FieldName="ClaimedValue" Caption=" Claim Value" />
                <DxGridDataColumn MinWidth="200" FieldName="Phycisian.Name" Caption="Phycisian" />
            </Columns>
        </MyGridPaginate>
    </DxLoadingPanel>
</DxPopup>

