@using McDermott.Web.Components.Pages.Transaction
@using static McDermott.Application.Features.Commands.Transaction.VaccinationPlanCommand

<div class="w-100">
    <div class="w-100">
        <div class="card">
            <div class="card-header">
                <span class="fw-bolder">General Consultation Service Information</span>
            </div>

            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <DxFormLayout>
                            @if (GeneralConsultanService.Id != 0)
                            {
                                <DxFormLayoutItem ColSpanMd="12">
                                    <h3 class="fw-bolder">@GeneralConsultanService.Reference</h3>
                                </DxFormLayoutItem>
                            }
                        </DxFormLayout>
                    </div>
                    <div class="col-md-6">
                        @{
                            if (GeneralConsultanService.Patient is null)
                            {
                                GeneralConsultanService.Patient = new();
                            }
                             

                            if (GeneralConsultanService.Service is null)
                            {
                                GeneralConsultanService.Service = new();
                            }

                            if (GeneralConsultanService.Pratitioner is null)
                            {
                                GeneralConsultanService.Pratitioner = new();
                            }

                            if (GeneralConsultanService.InsurancePolicy is null)
                            {
                                GeneralConsultanService.InsurancePolicy = new();
                            }

                            if (GeneralConsultanService.Awareness is null)
                            {
                                GeneralConsultanService.Awareness = new();
                            }

                            if (GeneralConsultanService.Project is null)
                            {
                                GeneralConsultanService.Project = new();
                            }

                            if (GeneralConsultanService.Patient.Department is null)
                            {
                                GeneralConsultanService.Patient.Department = new();
                            }

                            if (GeneralConsultanService.Patient.Supervisor is null)
                            {
                                GeneralConsultanService.Patient.Supervisor = new();
                            }
                            
                            if (GeneralConsultanService.Location is null)
                            {
                                GeneralConsultanService.Location = new();
                            }
                        }
                        <DxFormLayout>
                            <DxFormLayoutItem CaptionCssClass="required-caption normal-caption normal-caption" Caption="Patient" ColSpanMd="12">
                                <DxTextBox ReadOnly
                                           NullText="Patient..."
                                           @bind-Text="@GeneralConsultanService.Patient.Name">
                                </DxTextBox>
                            </DxFormLayoutItem>
                            <DxFormLayoutItem CaptionCssClass="normal-caption" Caption="Medical Record" ColSpanMd="12">
                                <DxTextBox @bind-Text="(GeneralConsultanService.Patient.NoRm)" NullText="Medical Record Number" ReadOnly InputCssClass="fw-normal" />

                            </DxFormLayoutItem>
                            <DxFormLayoutItem CaptionCssClass="normal-caption" Caption="Identity Number" ColSpanMd="12">
                                <DxTextBox @bind-Text="(GeneralConsultanService.Patient.NoId)" NullText="Identity Number" ReadOnly InputCssClass="fw-normal" />
                            </DxFormLayoutItem>
                            <DxFormLayoutItem CaptionCssClass="required-caption normal-caption" Caption="Current Mobile" ColSpanMd="12">
                                <DxTextBox ReadOnly
                                           NullText="Current Mobile..."
                                           @bind-Text="@GeneralConsultanService.Patient.CurrentMobile">
                                </DxTextBox>
                            </DxFormLayoutItem>
                            <DxFormLayoutItem CaptionCssClass="normal-caption" Caption="Age" ColSpanMd="12">
                                <Template>
                                    <DxGridLayout>
                                        <Rows>
                                            <DxGridLayoutRow />
                                        </Rows>
                                        <Columns>
                                            <DxGridLayoutColumn Width="90%" />
                                            <DxGridLayoutColumn Width="30%" />
                                        </Columns>
                                        <Items>
                                            <DxGridLayoutItem Row="0" Column="0" CssClass="mt">
                                                <Template>
                                                    <DxSpinEdit MinValue="0" @bind-Value="@GeneralConsultanService.Age" NullText="Age" ReadOnly InputCssClass="fw-normal" />
                                                </Template>
                                            </DxGridLayoutItem>
                                            <DxGridLayoutItem Row="0" Column="1" CssClass="mt ml">
                                                <Template>
                                                    <h6 class="pl-1 pt-2 normal-caption">Year</h6>
                                                </Template>
                                            </DxGridLayoutItem>
                                        </Items>
                                    </DxGridLayout>

                                </Template>
                            </DxFormLayoutItem>
                            <DxFormLayoutItem CaptionCssClass="required-caption normal-caption" Caption="Reg Type" ColSpanMd="12">
                                <DxTextBox ReadOnly
                                           NullText="Type Registration..."
                                           @bind-Text="@GeneralConsultanService.TypeRegistration">
                                </DxTextBox>
                            </DxFormLayoutItem>
                            <DxFormLayoutItem Visible="@(GeneralConsultanService.Status.Equals(EnumStatusGeneralConsultantService.Physician))" CaptionCssClass="required-caption normal-caption" Caption="Return Status" ColSpanMd="12">
                                <DxTextBox ReadOnly
                                           NullText="Home Status..."
                                           @bind-Text="@GeneralConsultanService.HomeStatus">
                                </DxTextBox>
                            </DxFormLayoutItem>

                            <DxFormLayoutItem CaptionCssClass="normal-caption" Caption="Alert Information Special Case" ColSpanMd="12">
                                <DxCheckBox ReadOnly
                                            @bind-Checked="@GeneralConsultanService.IsAlertInformationSpecialCase" />
                            </DxFormLayoutItem>
                        </DxFormLayout>
                    </div>

                    <div class="col-md-6">
                        <DxFormLayout>
                            <DxFormLayoutItem CaptionCssClass="normal-caption" Caption="Patient Type" ColSpanMd="12">
                                <DxTextBox ReadOnly
                                           NullText="Patient..."
                                           @bind-Text="@GeneralConsultanService.ClassType">
                                </DxTextBox>
                            </DxFormLayoutItem>
                            <DxFormLayoutItem CaptionCssClass="required-caption normal-caption" Caption="Service" ColSpanMd="12">
                                <DxTextBox ReadOnly
                                           NullText="Patient..."
                                           @bind-Text="@GeneralConsultanService.Service.Name">
                                </DxTextBox>
                            </DxFormLayoutItem>
                            <DxFormLayoutItem CaptionCssClass="normal-caption" Caption="Physicion" ColSpanMd="12">
                                <DxTextBox ReadOnly
                                           NullText="Patient..."
                                           @bind-Text="@GeneralConsultanService.Pratitioner.Name">
                                </DxTextBox>
                            </DxFormLayoutItem>
                            <DxFormLayoutItem CaptionCssClass="required-caption normal-caption" Caption="Payment Method" ColSpanMd="12">
                                <DxTextBox ReadOnly
                                           NullText="Payment Method..."
                                           @bind-Text="@GeneralConsultanService.Payment">
                                </DxTextBox>
                            </DxFormLayoutItem>
                            @if (GeneralConsultanService.Payment == "Insurance" || GeneralConsultanService.Payment == "BPJS")
                            {
                               @*   <DxFormLayoutItem CaptionCssClass="required-caption normal-caption" Caption="Insurance Policy" ColSpanMd="12">
                                     <DxTextBox ReadOnly
                                                NullText="Insurance Policy..."
                                                @bind-Text="@GeneralConsultanService.InsurancePolicy.InsuranceName">
                                     </DxTextBox>
                                 </DxFormLayoutItem> *@
                            }
                            <DxFormLayoutItem CaptionCssClass="required-caption normal-caption" Caption="Registration Date" ColSpanMd="12">
                                <DxDateEdit ReadOnly
                                            @bind-Date="@GeneralConsultanService.RegistrationDate"
                                            Mask="@DateTimeMask.ShortDate"
                                            NullText="Select Registration Date">
                                </DxDateEdit>
                            </DxFormLayoutItem>

                            <DxFormLayoutItem CaptionCssClass="normal-caption" Caption="Location" ColSpanMd="12">
                                <DxTextBox ReadOnly
                                           NullText="Insurance Policy..."
                                           @bind-Text="@GeneralConsultanService.Location.NameAndParent">
                                </DxTextBox>
                            </DxFormLayoutItem>

                            <DxFormLayoutItem Visible="@(GeneralConsultanService.Status.Equals(EnumStatusGeneralConsultantService.Physician) || GeneralConsultanService.Status.Equals(EnumStatusGeneralConsultantService.Finished))" CaptionCssClass="normal-caption" Caption="Sick Leave" ColSpanMd="12">
                                <DxCheckBox ReadOnly @bind-Checked="@GeneralConsultanService.IsSickLeave" />
                            </DxFormLayoutItem>

                            <DxFormLayoutItem Visible="@(GeneralConsultanService.IsSickLeave && (GeneralConsultanService.Status.Equals(EnumStatusGeneralConsultantService.Physician) || GeneralConsultanService.Status.Equals(EnumStatusGeneralConsultantService.Finished)))" CaptionCssClass="required-caption normal-caption" Caption="Start-End Date" ColSpanMd="12">
                                <Template>
                                    <DxGridLayout ColumnSpacing="8px">
                                        <Rows>
                                            <DxGridLayoutRow />
                                        </Rows>
                                        <Columns>
                                            <DxGridLayoutColumn />
                                            <DxGridLayoutColumn />
                                        </Columns>
                                        <Items>
                                            <DxGridLayoutItem Row="0" Column="0">
                                                <Template>
                                                    <DxDateEdit ReadOnly @bind-Date="@GeneralConsultanService.StartDateSickLeave" Mask="@DateTimeMask.ShortDate" NullText="Select Start Date" />
                                                </Template>
                                            </DxGridLayoutItem>
                                            <DxGridLayoutItem Row="0" Column="1">
                                                <Template>
                                                    <DxDateEdit ReadOnly @bind-Date="@GeneralConsultanService.EndDateSickLeave" Mask="@DateTimeMask.ShortDate" NullText="Select End Date" />
                                                </Template>
                                            </DxGridLayoutItem>
                                        </Items>
                                    </DxGridLayout>
                                </Template>
                            </DxFormLayoutItem>

                            @if (GeneralConsultanService.Patient is not null && GeneralConsultanService.Patient.Gender is not null && GeneralConsultanService.Patient.Gender.Trim().Equals("Female"))
                            {
                                <DxFormLayoutItem Visible="@(GeneralConsultanService.Status.Equals(EnumStatusGeneralConsultantService.Physician) || GeneralConsultanService.Status.Equals(EnumStatusGeneralConsultantService.Finished))" CaptionCssClass="normal-caption" Caption="Maternity Leave" ColSpanMd="12">
                                    <DxCheckBox ReadOnly @bind-Checked="@GeneralConsultanService.IsMaternityLeave" />
                                </DxFormLayoutItem>
                                <DxFormLayoutItem Visible="@(GeneralConsultanService.IsMaternityLeave && (GeneralConsultanService.Status.Equals(EnumStatusGeneralConsultantService.Physician) || GeneralConsultanService.Status.Equals(EnumStatusGeneralConsultantService.Finished)))" CaptionCssClass="required-caption normal-caption" Caption="Start-End Date" ColSpanMd="12">
                                    <Template>
                                        <DxGridLayout ColumnSpacing="8px">
                                            <Rows>
                                                <DxGridLayoutRow />
                                            </Rows>
                                            <Columns>
                                                <DxGridLayoutColumn />
                                                <DxGridLayoutColumn />
                                            </Columns>
                                            <Items>
                                                <DxGridLayoutItem Row="0" Column="0">
                                                    <Template>
                                                        <DxDateEdit ReadOnly
                                                                    Date="@GeneralConsultanService.StartMaternityLeave"
                                                                    DateExpression="@(() => GeneralConsultanService.StartMaternityLeave)"
                                                                    Mask="@DateTimeMask.ShortDate"
                                                                    NullText="Select Start Date">
                                                        </DxDateEdit>
                                                    </Template>
                                                </DxGridLayoutItem>
                                                <DxGridLayoutItem Row="0" Column="1">
                                                    <Template>
                                                        <DxDateEdit ReadOnly @bind-Date="@GeneralConsultanService.EndMaternityLeave" Mask="@DateTimeMask.ShortDate" NullText="Select End Date" />
                                                    </Template>
                                                </DxGridLayoutItem>
                                            </Items>
                                        </DxGridLayout>
                                    </Template>
                                </DxFormLayoutItem>
                            }

                        </DxFormLayout>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="w-100">
    <div class="card">
        <div class="card-header">
            <span class="fw-bolder">History</span>
        </div>

        <div class="card-body">
            <div class="w-100">
                <div class="card">
                    <div class="card-header">
                        <span class="fw-bolder">Allergy Data</span>
                    </div>

                    <div class="card-body">
                        <DxFormLayout CssClass="w-100">
                            <DxFormLayoutItem CaptionCssClass="normal-caption" Caption="Weather" ColSpanMd="12">
                                <div class="row w-100">
                                    <div class="col-md-1">
                                        <DxCheckBox ReadOnly @bind-Checked="@GeneralConsultanService.IsWeather" />
                                    </div>
                                    <div class="col-md-11">
                                        @if ( GeneralConsultanService.IsWeather)
                                        {
                                            <DxTagBox Data="@WeatherAllergies"
                                                      NullText="Select Allergy..."
                                                      ReadOnly
                                                      @bind-Values="@SelectedWeatherAllergies"
                                                      EditFormat="{1}"
                                                      InputId="tbMultiColumn">
                                                <DxListEditorColumn FieldName="@nameof(AllergyDto.KdAllergy)"
                                                                    Caption="Code"
                                                                    Width="100px" />
                                                <DxListEditorColumn FieldName="@nameof(AllergyDto.NmAllergy)"
                                                                    Caption="Name" />
                                                <DxListEditorColumn FieldName="@nameof(AllergyDto.TypeString)"
                                                                    Caption="Type" />
                                            </DxTagBox>
                                        }
                                    </div>
                                </div>
                            </DxFormLayoutItem>

                            <DxFormLayoutItem CaptionCssClass="normal-caption" Caption="Pharmacology" ColSpanMd="12">
                                <div class="row w-100">
                                    <div class="col-md-1">
                                        <DxCheckBox ReadOnly @bind-Checked="@GeneralConsultanService.IsPharmacology" />
                                    </div>
                                    <div class="col">
                                        @if (GeneralConsultanService.IsPharmacology)
                                        {
                                            <DxTagBox Data="@PharmacologyAllergies"
                                                      ReadOnly
                                                      NullText="Select Allergy..."
                                                      @bind-Values="@SelectedPharmacologyAllergies"
                                                      EditFormat="{1}"
                                                      InputId="tbMultiColumn">
                                                <DxListEditorColumn FieldName="@nameof(AllergyDto.KdAllergy)"
                                                                    Caption="Code"
                                                                    Width="100px" />
                                                <DxListEditorColumn FieldName="@nameof(AllergyDto.NmAllergy)"
                                                                    Caption="Name" />
                                                <DxListEditorColumn FieldName="@nameof(AllergyDto.TypeString)"
                                                                    Caption="Type" />
                                            </DxTagBox>
                                        }
                                    </div>
                                </div>
                            </DxFormLayoutItem>

                            <DxFormLayoutItem CaptionCssClass="normal-caption" Caption="Food" ColSpanMd="12">
                                <div class="row w-100">
                                    <div class="col-md-1">
                                        <DxCheckBox ReadOnly @bind-Checked="@GeneralConsultanService.IsFood" />
                                    </div>
                                    <div class="col-md-11">
                                        @if (GeneralConsultanService.IsFood)
                                        {
                                            <DxTagBox Data="@FoodAllergies"
                                                      NullText="Select Allergy..."
                                                      @bind-Values="@SelectedFoodAllergies"
                                                      EditFormat="{1}"
                                                      ReadOnly
                                                      InputId="tbMultiColumn">
                                                <DxListEditorColumn FieldName="@nameof(AllergyDto.KdAllergy)"
                                                                    Caption="Code"
                                                                    Width="100px" />
                                                <DxListEditorColumn FieldName="@nameof(AllergyDto.NmAllergy)"
                                                                    Caption="Name" />
                                                <DxListEditorColumn FieldName="@nameof(AllergyDto.TypeString)"
                                                                    Caption="Type" />
                                            </DxTagBox>
                                        }
                                    </div>
                                </div>
                            </DxFormLayoutItem>

                        </DxFormLayout>
                    </div>
                </div>
            </div>

            <div class="w-100 mt-2">
                <div class="row w-100">
                    <div class="col-md-6">
                        <DxFormLayout CssClass="w-100">
                            <DxFormLayoutItem Caption="Family Medical History" CaptionCssClass="normal-caption" ColSpanMd="12">
                                <Template>
                                    <DxGridLayout ColumnSpacing="8px">
                                        <Rows>
                                            <DxGridLayoutRow />
                                        </Rows>
                                        <Columns>
                                            <DxGridLayoutColumn />
                                            <DxGridLayoutColumn />
                                        </Columns>
                                        <Items>
                                            <DxGridLayoutItem Row="0" Column="0" CssClass="normal-caption" ColumnSpan="1">
                                                <Template>
                                                    <DxTextBox ReadOnly
                                                               NullText="Family Medical History..."
                                                               @bind-Text="@GeneralConsultanService.Patient.IsFamilyMedicalHistory">
                                                    </DxTextBox>
                                                </Template>
                                            </DxGridLayoutItem>
                                            <DxGridLayoutItem Row="0" Visible="@(GeneralConsultanService.Patient.IsFamilyMedicalHistory == "Yes")" Column="1" CssClass=" normal-caption " ColumnSpan="12">
                                                <Template>
                                                    <DxTextBox ReadOnly
                                                               NullText="Family Medical History..."
                                                               @bind-Text="@GeneralConsultanService.Patient.IsFamilyMedicalHistory">
                                                    </DxTextBox>
                                                </Template>
                                            </DxGridLayoutItem>
                                        </Items>
                                    </DxGridLayout>
                                </Template>
                            </DxFormLayoutItem>

                            <DxFormLayoutItem Caption=" " Visible="@(GeneralConsultanService.Patient.FamilyMedicalHistory is not null && GeneralConsultanService.Patient.FamilyMedicalHistory.Equals("Other"))" CaptionCssClass="normal-caption" ColSpanMd="12">
                                <MyTextBox @bind-Text="@GeneralConsultanService.Patient.FamilyMedicalHistoryOther"
                                           NullText="Family MedicalHistory Other" />
                            </DxFormLayoutItem>


                            <DxFormLayoutItem Caption="Medication History" CaptionCssClass="normal-caption" ColSpanMd="12">
                                <Template>
                                    <DxGridLayout ColumnSpacing="8px">
                                        <Rows>
                                            <DxGridLayoutRow />
                                        </Rows>
                                        <Columns>
                                            <DxGridLayoutColumn />
                                            <DxGridLayoutColumn />
                                        </Columns>
                                        <Items>
                                            <DxGridLayoutItem Row="0" Column="0" CssClass="normal-caption" ColumnSpan="1">
                                                <Template>
                                                    <DxTextBox ReadOnly
                                                               NullText="Patient..."
                                                               @bind-Text="@GeneralConsultanService.Patient.IsMedicationHistory">
                                                    </DxTextBox>
                                                </Template>
                                            </DxGridLayoutItem>
                                            <DxGridLayoutItem Visible="@(GeneralConsultanService.Patient.IsMedicationHistory == "Yes")" Row="0" Column="1" CssClass=" normal-caption " ColumnSpan="12">
                                                <Template>
                                                    <MyTextBox @bind-Text="@GeneralConsultanService.Patient.MedicationHistory"
                                                               NullText="Medication History" />
                                                </Template>
                                            </DxGridLayoutItem>
                                        </Items>
                                    </DxGridLayout>
                                </Template>
                            </DxFormLayoutItem>

                            <DxFormLayoutItem Caption="Past Medical History" CaptionCssClass="normal-caption" ColSpanMd="12">
                                <MyTextBox @bind-Text="@GeneralConsultanService.Patient.PastMedicalHistory"
                                           NullText="Past Medical History" />
                            </DxFormLayoutItem>
                        </DxFormLayout>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="w-100">
    <div class="card">
        <div class="card-body">
            <DxTabs>
                <DxTabPage CssClass="w-100" Text="Clinical Assesment">
                    <div class="w-100 mt-2">
                        <div class="card">
                            <div class="card-header">
                                <span class="fw-bolder">Clinical Assesment</span>
                            </div>

                            <div class="card-body">
                                <div class="row w-100">
                                    <div class="col-md-6">
                                        <DxFormLayout CssClass="w-100">
                                            <DxFormLayoutItem CaptionCssClass="normal-caption" Caption="Information From" ColSpanMd="12">
                                                <MyTextBox @bind-Text="@GeneralConsultanService.InformationFrom"
                                                           ReadOnly
                                                           NullText="Information From" />
                                            </DxFormLayoutItem>

                                            <DxFormLayoutItem CaptionCssClass="normal-caption" Caption="Clinic Visit Types" ColSpanMd="12">
                                                <MyTextBox @bind-Text="@GeneralConsultanService.ClinicVisitTypes"
                                                           ReadOnly
                                                           NullText="ClinicVisit Type" />
                                            </DxFormLayoutItem>

                                            <DxFormLayoutItem CaptionCssClass="normal-caption" Caption="Weight" ColSpanMd="12">
                                                <DxSpinEdit ReadOnly MinValue="0" @bind-Value="@GeneralConsultanService.Weight" NullText="Weight" />
                                            </DxFormLayoutItem>

                                            <DxFormLayoutItem CaptionCssClass="normal-caption" Caption="Height" ColSpanMd="12">
                                                <DxSpinEdit ReadOnly MinValue="0" @bind-Value="@GeneralConsultanService.Height" NullText="Height" />
                                            </DxFormLayoutItem>

                                            <DxFormLayoutItem CaptionCssClass="normal-caption" Caption="RR" ColSpanMd="12">
                                                <DxSpinEdit ReadOnly MinValue="0" @bind-Value="@GeneralConsultanService.RR" NullText="RR" />
                                            </DxFormLayoutItem>

                                            <DxFormLayoutItem CaptionCssClass="normal-caption" Caption="SpO2" ColSpanMd="12">
                                                <DxSpinEdit ReadOnly MinValue="0" @bind-Value="@GeneralConsultanService.SpO2" />
                                            </DxFormLayoutItem>

                                            <DxFormLayoutItem CaptionCssClass="normal-caption" Caption="Waist Circumference" ColSpanMd="12">
                                                <DxSpinEdit ReadOnly MinValue="0" @bind-Value="@GeneralConsultanService.WaistCircumference" />
                                            </DxFormLayoutItem>

                                            <DxFormLayoutItem CssClass="mt-3" CaptionCssClass="normal-caption" Caption="Body Max Index" ColSpanMd="12">
                                                <h3>@GeneralConsultanService.BMIIndexString</h3>
                                            </DxFormLayoutItem>

                                            <DxFormLayoutItem CaptionCssClass="normal-caption" Caption="Scrinning Triage Scale" ColSpanMd="12">
                                                <MyDxComboBox Data="@Colors"
                                                              Context="oeee"
                                                              ReadOnly
                                                              NullText="Scrinning Triage Scale..."
                                                              @bind-Value="@GeneralConsultanService.ScrinningTriageScale">
                                                    <ItemTemplate>
                                                        @{
                                                            var item = oeee as string;
                                                        }
                                                        <div style="display: flex; align-items: center;">
                                                            <div style="width: 15px; height: 15px; background-color: @(item?.ToLower()); margin-right: 10px;"></div>
                                                            <span>@item</span>
                                                        </div>
                                                    </ItemTemplate>
                                                    <EditBoxTemplate>
                                                        <div style="display: flex; align-items: center;">
                                                            <div style="width: 15px; height: 15px; background-color: @(GeneralConsultanService.ScrinningTriageScale?.ToLower()); margin-right: 10px;"></div>
                                                            <span>@GeneralConsultanService.ScrinningTriageScale</span>
                                                        </div>
                                                    </EditBoxTemplate>
                                                </MyDxComboBox>
                                            </DxFormLayoutItem>

                                            <DxFormLayoutItem CaptionCssClass="text-bold" BeginRow="true" Caption="GCS">
                                                <p></p>
                                            </DxFormLayoutItem>

                                            <DxFormLayoutItem CaptionCssClass="normal-caption" BeginRow="true" Caption="E" ColSpanMd="12">
                                                <DxSpinEdit ReadOnly MinValue="0" @bind-Value="@GeneralConsultanService.E" NullText="E" />
                                            </DxFormLayoutItem>
                                            <DxFormLayoutItem CaptionCssClass="normal-caption" Caption="V" ColSpanMd="12">
                                                <DxSpinEdit ReadOnly MinValue="0" @bind-Value="@GeneralConsultanService.V" NullText="V" />
                                            </DxFormLayoutItem>
                                            <DxFormLayoutItem CaptionCssClass="normal-caption" Caption="M" ColSpanMd="12">
                                                <DxSpinEdit ReadOnly MinValue="0" @bind-Value="@GeneralConsultanService.M" NullText="M" />
                                            </DxFormLayoutItem>
                                        </DxFormLayout>
                                    </div>

                                    <div class="col-md-6">
                                        <DxFormLayout CssClass="w-100">
                                            <DxFormLayoutItem CaptionCssClass="normal-caption" Caption="Awareness" ColSpanMd="12">
                                                <MyTextBox @bind-Text="@GeneralConsultanService.Awareness.NmSadar"
                                                           ReadOnly
                                                           NullText="Information From" />
                                            </DxFormLayoutItem>

                                            <DxFormLayoutItem CaptionCssClass="normal-caption" Caption="Temp" ColSpanMd="12">
                                                <DxSpinEdit ReadOnly MinValue="0" @bind-Value="@GeneralConsultanService.Temp" NullText="Temp" />
                                            </DxFormLayoutItem>

                                            <DxFormLayoutItem CaptionCssClass="required-caption normal-caption" Caption="HR" ColSpanMd="12">
                                                <Template>
                                                    <DxGridLayout>
                                                        <Rows>
                                                            <DxGridLayoutRow />
                                                        </Rows>
                                                        <Columns>
                                                            <DxGridLayoutColumn Width="90%" />
                                                            <DxGridLayoutColumn Width="10%" />
                                                        </Columns>
                                                        <Items>
                                                            <DxGridLayoutItem Row="0" Column="0" CssClass="mt">
                                                                <Template>
                                                                    <DxSpinEdit ReadOnly MinValue="0" @bind-Value="@GeneralConsultanService.HR" NullText="HR" />
                                                                </Template>
                                                            </DxGridLayoutItem>
                                                            <DxGridLayoutItem Row="0" Column="1" CssClass="mt ml">
                                                                <Template>
                                                                    <h6 class="pl-1 pt-2">BPM</h6>
                                                                </Template>
                                                            </DxGridLayoutItem>
                                                        </Items>
                                                    </DxGridLayout>

                                                </Template>
                                            </DxFormLayoutItem>

                                            <DxFormLayoutItem CaptionCssClass="normal-caption" Caption="Systolic/Diastolic BP" ColSpanMd="12">
                                                <Template>
                                                    <DxGridLayout ColumnSpacing="8px">
                                                        <Rows>
                                                            <DxGridLayoutRow />
                                                        </Rows>
                                                        <Columns>
                                                            <DxGridLayoutColumn />
                                                            <DxGridLayoutColumn />
                                                        </Columns>
                                                        <Items>
                                                            <DxGridLayoutItem Row="0" Column="0">
                                                                <Template>
                                                                    <DxSpinEdit ReadOnly MinValue="0" @bind-Value="@GeneralConsultanService.Systolic" />
                                                                </Template>
                                                            </DxGridLayoutItem>
                                                            <DxGridLayoutItem Row="0" Column="2">
                                                                <Template>
                                                                    <DxSpinEdit ReadOnly MinValue="0" @bind-Value="@GeneralConsultanService.DiastolicBP" />
                                                                </Template>
                                                            </DxGridLayoutItem>
                                                        </Items>
                                                    </DxGridLayout>
                                                </Template>
                                            </DxFormLayoutItem>

                                            <DxFormLayoutItem CaptionCssClass="normal-caption" Caption="Pain Scale" ColSpanMd="12">
                                                <DxSpinEdit ReadOnly MinValue="0" MaxValue="10" @bind-Value="@GeneralConsultanService.PainScale">
                                                    <Buttons>
                                                        <DxEditorButton IconCssClass="fa-regular fa-face-smile" Click="OnClickPainScalePopUp" />
                                                    </Buttons>
                                                </DxSpinEdit>
                                            </DxFormLayoutItem>

                                            <DxFormLayoutItem CaptionCssClass="normal-caption" Caption="Diastole" ColSpanMd="12">
                                                <DxSpinEdit ReadOnly MinValue="0" @bind-Value="@GeneralConsultanService.Diastole" />
                                            </DxFormLayoutItem>

                                            <DxFormLayoutItem CaptionCssClass="normal-caption" Caption=" " ColSpanMd="12">

                                            </DxFormLayoutItem>

                                            <DxFormLayoutItem CssClass="mt-3" CaptionCssClass="normal-caption" Caption="BMI State" ColSpanMd="12">
                                                <h3>@GeneralConsultanService.BMIState</h3>
                                            </DxFormLayoutItem>

                                            <DxFormLayoutItem Caption="Risk of Falling" CaptionCssClass=" normal-caption" ColSpanMd="12">
                                                <Template>
                                                    <DxGridLayout ColumnSpacing="8px">
                                                        <Rows>
                                                            <DxGridLayoutRow />
                                                        </Rows>
                                                        <Columns>
                                                            <DxGridLayoutColumn />
                                                            <DxGridLayoutColumn />
                                                        </Columns>
                                                        <Items>
                                                            <DxGridLayoutItem Row="0" Column="0" CssClass="normal-caption" ColumnSpan="1">
                                                                <Template>
                                                                    <MyTextBox @bind-Text="@GeneralConsultanService.RiskOfFalling"
                                                                               ReadOnly
                                                                               NullText="Risk Of Falling" />
                                                                </Template>
                                                            </DxGridLayoutItem>
                                                            <DxGridLayoutItem Row="0" Column="1" CssClass=" normal-caption" ColumnSpan="6">
                                                                <Template>
                                                                    <MyTextBox @bind-Text="@GeneralConsultanService.RiskOfFallingDetail"
                                                                               ReadOnly
                                                                               NullText="Risk Of Falling Detail" />
                                                                </Template>
                                                            </DxGridLayoutItem>
                                                        </Items>
                                                    </DxGridLayout>
                                                </Template>
                                            </DxFormLayoutItem>
                                        </DxFormLayout>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </DxTabPage>

                <DxTabPage CssClass="w-100" Text="CPPT">
                    <div class="w-100 mt-2">
                        <div class="card w-100">
                            <div class="card-header">
                                <span class="fw-bolder">CPPT</span>
                            </div>

                            <div class="row w-100">
                                <div class="col-md-12 w-100">
                                    <DxFormLayout CssClass="w-100">
                                        <MyGrid @ref="GridCppt"
                                                Data="GeneralConsultanCPPTs"
                                                AllowSelectRowByClick="false"
                                                FocusedRowEnabled="false"
                                                @bind-SelectedDataItems="@SelectedDataItemsCPPT">
                                            <Columns>
                                                <DxGridDataColumn FieldName="Title" />
                                                <DxGridDataColumn FieldName="Body" />
                                                @if (GeneralConsultanService.Status.Equals(EnumStatusGeneralConsultantService.NurseStation) || GeneralConsultanService.Status.Equals(EnumStatusGeneralConsultantService.Physician))
                                                {
                                                    <DxGridCommandColumn NewButtonVisible="false" EditButtonVisible="false" Width="160px" />
                                                }
                                            </Columns>
                                        </MyGrid>
                                    </DxFormLayout>
                                </div>
                            </div>
                        </div>
                    </div>
                </DxTabPage>

                <DxTabPage Click="@(async () => await LoadVaccinationGivens())" CssClass="w-100" Text="Vaccination">
                    <DxTabs>
                        <DxTabPage Click="@(async () => await LoadVaccinationGivens())" CssClass="w-100" Text="Vaccination Given">
                            <DxFormLayout>
                                <DxFormLayoutGroup Caption="Vaccination Given" ColSpanMd="12" ExpandButtonDisplayMode="GroupExpandButtonDisplayMode.Start" AnimationType="LayoutAnimationType.Slide">
                                    <Items>
                                        <DxLoadingPanel @bind-Visible="IsLoadingVaccinationGiven"
                                                        IndicatorAnimationType="WaitIndicatorAnimationType.Pulse"
                                                        IsContentBlocked="true"
                                                        ApplyBackgroundShading="true"
                                                        IndicatorAreaVisible="false"
                                                        Text="Fetching Data...">
                                            <MyGrid @ref="GridVaccinationGiven"
                                                    Data="VaccinationGivens"
                                                    @bind-SelectedDataItems="@SelectedDataVaccinationGivenItems" 
                                                    KeyFieldName="Id">

                                                
                                                <Columns>
                                                    <DxGridSelectionColumn Width="15px" />
                                                    <DxGridDataColumn FieldName="Name" Caption="Product"></DxGridDataColumn>
                                                    <DxGridDataColumn FieldName="Product.Name" Caption="Vaccination" />
                                                    <DxGridDataColumn FieldName="ReminderDate" Caption="Reminder Date" DisplayFormat="@Helper.DefaultFormatDate" />
                                                    <DxGridDataColumn FieldName="Batch" Caption="Lot/Serial Number" />
                                                    <DxGridDataColumn FieldName="Dose" Caption="Dose" />
                                                    <DxGridDataColumn FieldName="NextDoseDate" Caption="Next Dose Date" DisplayFormat="@Helper.DefaultFormatDate" />
                                                    <DxGridDataColumn FieldName="Physician.Name" Caption="Physician" />
                                                    <DxGridDataColumn FieldName="Observations" Caption="Observations" />
                                                    <DxGridDataColumn FieldName="SalesPerson.Name" Caption="SalesPerson" />
                                                    <DxGridDataColumn FieldName="Educator.Name" Caption="Educator" />
                                                    <DxGridDataColumn FieldName="StatusName" Caption="Status" />
                                                </Columns> 
                                            </MyGrid>
                                        </DxLoadingPanel>
                                    </Items>
                                </DxFormLayoutGroup>
                            </DxFormLayout>
                        </DxTabPage>

                        <DxTabPage Click="@(async () => await LoadVaccinationPlans())" CssClass="w-100" Text="Reminder Plan">
                            <DxFormLayout>
                                <DxFormLayoutGroup Caption="Vaccination Plan" ColSpanMd="12" ExpandButtonDisplayMode="GroupExpandButtonDisplayMode.Start" AnimationType="LayoutAnimationType.Slide">
                                    <Items>
                                        <DxLoadingPanel @bind-Visible="IsLoadingVaccinationPlan"
                                                        IndicatorAnimationType="WaitIndicatorAnimationType.Pulse"
                                                        IsContentBlocked="true"
                                                        ApplyBackgroundShading="true"
                                                        IndicatorAreaVisible="false"
                                                        Text="Fetching Data...">
                                            <MyGrid @ref="GridVaccinationPlan"
                                                    Data="VaccinationPlans"
                                                    @bind-SelectedDataItems="@SelectedDataVaccinationPlanItems" 
                                                    KeyFieldName="Id">
  
                                                <Columns>
                                                    <DxGridSelectionColumn Width="15px" />
                                                    <DxGridDataColumn FieldName="Name" Caption="Product"></DxGridDataColumn>
                                                    <DxGridDataColumn FieldName="Product.Name" Caption="Vaccination" />
                                                    <DxGridDataColumn FieldName="ReminderDate" Caption="Reminder Date" DisplayFormat="@Helper.DefaultFormatDate" />
                                                    <DxGridDataColumn FieldName="Batch" Caption="Lot/Serial Number" />
                                                    <DxGridDataColumn FieldName="Dose" Caption="Dose" />
                                                    <DxGridDataColumn FieldName="NextDoseDate" Caption="Next Dose Date" DisplayFormat="@Helper.DefaultFormatDate" />
                                                    <DxGridDataColumn FieldName="Physician.Name" Caption="Physician" />
                                                    <DxGridDataColumn FieldName="Observations" Caption="Observations" />
                                                    <DxGridDataColumn FieldName="SalesPerson.Name" Caption="SalesPerson" />
                                                    <DxGridDataColumn FieldName="Educator.Name" Caption="Educator" />
                                                    <DxGridDataColumn FieldName="StatusName" Caption="Status" /> 
                                                </Columns>
                                            </MyGrid>
                                        </DxLoadingPanel>
                                    </Items>
                                </DxFormLayoutGroup>
                            </DxFormLayout>
                        </DxTabPage>
                    </DxTabs>
                </DxTabPage>
            </DxTabs>
        </div>
    </div>
</div>

<DxPopup HeaderText="Pain Scale" @bind-Visible="@IsPopUpPainScale" HeaderCssClass="fw-bold" CloseOnOutsideClick="false" Width="90%">
    <div class="row ">
        <div class="col-6 d-flex align-items-center justify-content-center">
            <img src="image/pain_scale_chart.jpg" alt="Pain Scale Image" style="height: 450px">
        </div>
        <div class="col-6">
            <ul>
                <li>
                    <strong>10 - Unspeakable pain.</strong> Bedridden and possibly despondent. Very few people will ever experience this level of pain.
                </li>
                <li>
                    <strong>9 - Excruciating pain.</strong> Unable to converse. Crying out and/or moaning uncontrollably.
                </li>
                <li>
                    <strong>8 - Intense pain.</strong> Physical activity is severely limited. Conversing requires great effort.
                </li>
                <li>
                    <strong>7 - Severe pain</strong> that dominates your senses and significantly limits your ability to perform normal daily activities or maintain social relationships. Interferes with sleep.
                </li>
                <li>
                    <strong>6 - Moderately strong pain</strong> that interferes with normal daily activities. Difficulty concentrating.
                </li>
                <li>
                    <strong>5 - Moderately strong pain.</strong> It can’t be ignored for more than a few minutes, but with effort you still can manage to work or participate in some social activities.
                </li>
                <li>
                    <strong>4 - Moderate pain.</strong> If you are deeply involved in an activity, it can be ignored for a period of time, but is still distracting.
                </li>
                <li>
                    <strong>3 - Pain</strong> is noticeable and distracting, however, you can get used to it and adapt.
                </li>
                <li>
                    <strong>2 - Minor pain.</strong> Annoying and may have occasional stronger twinges.
                </li>
                <li>
                    <strong>1 - Pain</strong> is very mild, barely noticeable. Most of the time you don’t think about it.
                </li>
                <li>
                    <strong>0 - Pain Free</strong>
                </li>
            </ul>

        </div>
    </div>
</DxPopup>


@code {
    [Parameter]
    public GeneralConsultanServiceDto GeneralConsultanService { get; set; } = new();
    [Parameter]
    public List<GeneralConsultanCPPTDto> GeneralConsultanCPPTs { get; set; } = [];

    private IGrid GridCppt { get; set; }
    private IReadOnlyList<object> SelectedDataItemsCPPT { get; set; } = [];
    private bool IsPopUpPainScale { get; set; } = false;

    private void OnClickPainScalePopUp()
    {
        IsPopUpPainScale = true;
    }

    private List<string> Colors = new List<string>
    {
        "Red",
        "Yellow",
        "Green",
        "Black",
    };

    [Parameter]
    public List<AllergyDto> WeatherAllergies { get; set; } = [];
    [Parameter]
    public List<AllergyDto> FoodAllergies { get; set; } = [];
    [Parameter]
    public List<AllergyDto> PharmacologyAllergies { get; set; } = [];


    private VaccinationPlanDto VaccinationPlan { get; set; } = new();
    private VaccinationPlanDto VaccinationGiven { get; set; } = new();
    private List<VaccinationPlanDto> VaccinationPlans { get; set; } = [];
    private List<VaccinationPlanDto> VaccinationGivens { get; set; } = [];
    private IGrid GridVaccinationPlan { get; set; }
    private IGrid GridVaccinationGiven { get; set; }
    private IReadOnlyList<object> SelectedDataVaccinationPlanItems { get; set; } = [];
    private IReadOnlyList<object> SelectedDataVaccinationGivenItems { get; set; } = [];
    private List<string> Batch = [];

    private IEnumerable<AllergyDto> SelectedWeatherAllergies { get; set; } = [];
    private IEnumerable<AllergyDto> SelectedFoodAllergies { get; set; } = [];
    private IEnumerable<AllergyDto> SelectedPharmacologyAllergies { get; set; } = [];
    protected override async Task OnInitializedAsync()
    {
        await GetPatientAllergy();
    }
    private async Task GetPatientAllergy()
    {
        FoodAllergies.Clear();
        WeatherAllergies.Clear();
        PharmacologyAllergies.Clear();
        SelectedFoodAllergies = [];
        SelectedWeatherAllergies = [];
        SelectedPharmacologyAllergies = [];

        var Allergies = await Mediator.Send(new GetAllergyQuery());

        // Filter allergies by type
        FoodAllergies = Allergies.Where(x => x.Type == "01").ToList();
        WeatherAllergies = Allergies.Where(x => x.Type == "02").ToList();
        PharmacologyAllergies = Allergies.Where(x => x.Type == "03").ToList();

        var p = (await Mediator.Send(new GetUserQuery(x => x.Id == GeneralConsultanService.PatientId))).FirstOrDefault();

        if (p is null || p.PatientAllergyIds is null)
            return;

        var allergies = await Mediator.Send(new GetAllergyQuery(x => p.PatientAllergyIds.Contains(x.Id)));
        if (allergies is not null && allergies.Count > 0)
        {
            var selectedAllergyIds = allergies.Where(x => x.Type == "01" || x.Type == "02" || x.Type == "03").Select(x => x.Id).ToList();

            SelectedFoodAllergies = FoodAllergies.Where(x => selectedAllergyIds.Contains(x.Id)).ToList();
            SelectedWeatherAllergies = WeatherAllergies.Where(x => selectedAllergyIds.Contains(x.Id)).ToList();
            SelectedPharmacologyAllergies = PharmacologyAllergies.Where(x => selectedAllergyIds.Contains(x.Id)).ToList();

            if (SelectedFoodAllergies.Count() > 0)
                GeneralConsultanService.IsFood = true;
            if (SelectedWeatherAllergies.Count() > 0)
                GeneralConsultanService.IsWeather = true;
            if (SelectedPharmacologyAllergies.Count() > 0)
                GeneralConsultanService.IsPharmacology = true;
        }
    }

    private bool IsLoadingVaccinationPlan = false;
    private bool IsLoadingVaccinationGiven = false;

    private async Task LoadVaccinationPlans()
    {
        IsLoadingVaccinationPlan = true;
        VaccinationPlans = await Mediator.Send(new GetVaccinationPlanQuery(x => x.PatientId == GeneralConsultanService.PatientId && (x.GeneralConsultanServiceId == 0 || x.GeneralConsultanServiceId == null)));
        IsLoadingVaccinationPlan = false;
    }

    private async Task LoadVaccinationGivens()
    {
        IsLoadingVaccinationGiven = true;
        VaccinationGivens = await Mediator.Send(new GetVaccinationPlanQuery(x => x.PatientId == GeneralConsultanService.PatientId && x.GeneralConsultanServiceId != null && x.GeneralConsultanServiceId == GeneralConsultanService.Id));
        IsLoadingVaccinationGiven = false;
    }
}