@using Blazored.Toast.Configuration
@using McDermott.Domain.Entities
@inherits LayoutComponentBase

<style>
    .p {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .a {
        z-index: -1;
    }

    .toast-custom {
        z-index: 1000;
    }

    .blazored-toast-container {
        z-index: 9999 !important;
    }
</style>

<div class="a">

    <BlazoredToasts Position="ToastPosition.TopRight"
                    Timeout="8"
                    IconType="IconType.FontAwesome"
                    ShowProgressBar="true"
                    SuccessClass="success-toast-override toast-custom"
                    InfoClass="toast-custom"
                    SuccessIcon="fa fa-thumbs-up"
                    InfoIcon="fa fa-info-circle"
                    WarningIcon="fa fa-warning"
                    ErrorIcon="fa fa-bug">
        <CloseButtonContent>
            <div>
                <span>&times;</span>
            </div>
        </CloseButtonContent>
    </BlazoredToasts>
</div>

<div class="wrapper">
    @if (currentUrl.Contains("queue/viewdisplay/"))
    {
        <McDermott.Web.Components.Pages.Queue.ViewDisplayPage></McDermott.Web.Components.Pages.Queue.ViewDisplayPage>

    }
    else
    {
        @if (currentUrl.Contains("queue/kiosk/"))
        {
            @*    ToastService.ShowInfo(currentUrl);*@
            @if (User == null)
            {
                <McDermott.Web.Components.Pages.LoginPage />
            }
            else @if (!currentUrl.Contains("login"))
            {
                <McDermott.Web.Components.Pages.Queue.KioskPage></McDermott.Web.Components.Pages.Queue.KioskPage>
            }
        }
        else
        {

            @if (User == null)
            {
                <McDermott.Web.Components.Pages.LoginPage />
            }
            else @if (!currentUrl.Contains("login"))
            {
                <!-- Preloader -->
                @if (showPreloader)
                {
                    <div class="preloader flex-column justify-content-center align-items-center">
                        <img class="animation__shake" src="mcdermott_logo.png" alt="AdminLTELogo" height="60" width="60">
                    </div>
                }

                <!-- Navbar -->
                <nav class="main-header navbar navbar-expand navbar-white navbar-light">
                    <!-- Left navbar links -->
                    <ul class="navbar-nav">
                        <li class="nav-item ml-2">
                            <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
                        </li>
                        <li class="nav-item d-none d-sm-inline-block">
                            <a href="" class="nav-link">Home</a>
                        </li>

                        @if (currentUrl.Contains("clinic-service/reporting-&-analytic"))
                        {
                            <li class="nav-item d-none d-sm-inline-block">
                                <a href="https://www.mcdermott.com/" class="nav-link">Report</a>
                            </li>
                        }
                    </ul>

                    <!-- Right navbar links -->
                    <ul class="navbar-nav ml-auto">
                        <!-- Navbar Search -->
                        @*    <li class="nav-item">
            <a class="nav-link" data-widget="navbar-search" href="#" role="button">
            <i class="fas fa-search"></i>
            </a>
            <div class="navbar-search-block">
            <form class="form-inline">
            <div class="input-group input-group-sm">
            <input class="form-control form-control-navbar" type="search" placeholder="Search" aria-label="Search">
            <div class="input-group-append">
            <button class="btn btn-navbar" type="submit">
            <i class="fas fa-search"></i>
            </button>
            <button class="btn btn-navbar" type="button" data-widget="navbar-search">
            <i class="fas fa-times"></i>
            </button>
            </div>
            </div>
            </form>
            </div>
            </li> *@
                        <li class="nav-item">
                            <a class="nav-link" data-widget="fullscreen" href="#" role="button">
                                <i class="fas fa-expand-arrows-alt"></i>
                            </a>
                        </li>
                        @* <li class="nav-item">
            <div class="group">
            <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" data-display="static" aria-expanded="false">
            <i class="fa fa-user" aria-hidden="true"></i>
            <label class="ml-2">@User?.Name</label>
            </button>
            <div class="dropdown-menu dropdown-menu-right dropdown-menu-lg-right">
            <button @onclick="OnClickLogout" class="dropdown-item" type="button">
            Logout
            </button>
            </div>
            </div>
            </li> *@
                        <li class="nav-item dropdown mr-2">
                            <a class="nav-link" data-toggle="dropdown" href="#">
                                <i class="fa fa-user" aria-hidden="true"></i>
                                <label class="ml-2">@User?.Name</label>
                            </a>
                            <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                                @* <span class="dropdown-item dropdown-header">15 Notifications</span> *@
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" @onclick="OnClickLogout">
                                    <i class="fa-solid fa-right-from-bracket mr-2"></i>
                                    @* <i class="fas fa-envelope mr-2"></i> *@ Logout
                                </a>
                                <div class="dropdown-divider"></div>
                            </div>
                        </li>
                        @*  <li class="nav-item dropdown">
            <a class="nav-link" data-toggle="dropdown" href="#">
            <i class="far fa-bell"></i>
            <span class="badge badge-warning navbar-badge">15</span>
            </a>
            <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
            <span class="dropdown-item dropdown-header">15 Notifications</span>
            <div class="dropdown-divider"></div>
            <a href="#" class="dropdown-item">
            <i class="fas fa-envelope mr-2"></i> 4 new messages
            <span class="float-right text-muted text-sm">3 mins</span>
            </a>
            <div class="dropdown-divider"></div>
            <a href="#" class="dropdown-item">
            <i class="fas fa-users mr-2"></i> 8 friend requests
            <span class="float-right text-muted text-sm">12 hours</span>
            </a>
            <div class="dropdown-divider"></div>
            <a href="#" class="dropdown-item">
            <i class="fas fa-file mr-2"></i> 3 new reports
            <span class="float-right text-muted text-sm">2 days</span>
            </a>
            <div class="dropdown-divider"></div>
            <a href="#" class="dropdown-item dropdown-footer">See All Notifications</a>
            </div>
            </li> *@
                    </ul>
                </nav>
                <!-- /.navbar -->
                <!-- Main Sidebar Container -->

                <aside class="main-sidebar sidebar-light-info elevation-4">
                    <!-- Brand Logo -->
                    <a href="/" class="brand-link no-underline">
                        <img src="https://www.ikariera.cz/uploads/companies/file/28129/22192/17871/c1c103e1-56b0-45cf-b02d-f6acbc7276b8/Logo%20-%20mcdermott_symbol_color%20500x500%2C%2050hrana.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
                        <span class="ms-2 brand-text font-weight-bold">McHealthCare</span>
                    </a>

                    <!-- Sidebar -->
                    <div class="sidebar">
                        <!-- Sidebar user panel (optional) -->
                        @*   <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
            <img src="AdminLTE/dist/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">
            </div>
            <div class="info">
            <a href="#" class="d-block">Alexander Pierce</a>
            </div>
            </div> *@

                        <!-- SidebarSearch Form -->
                        @*   <div class="form-inline">
            <div class="input-group" data-widget="sidebar-search">
            <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
            <div class="input-group-append">
            <button class="btn btn-sidebar">
            <i class="fas fa-search fa-fw"></i>
            </button>
            </div>
            </div>
            </div> *@

                        <!-- SidebarSearch Form -->
                        @*   <div class="form-inline">
            <div class="input-group" data-widget="sidebar-search">
            <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
            <div class="input-group-append">
            <button class="btn btn-sidebar">
            <i class="fas fa-search fa-fw"></i>
            </button>
            </div>
            </div>
            </div> *@

                        <nav class="mt-3">
                            <div class="form-inline">
                                <div class="input-group" data-widget="sidebar-search">
                                    <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search" @bind="searchQuery">
                                    @*  <div class="input-group-append">
                        <button class="btn btn-sidebar" @onclick="Search">
                        <i class="fas fa-search fa-fw"></i>
                        </button>
                        </div> *@
                                </div>
                            </div>

                            <ul class="mt-3 nav nav-pills nav-sidebar flex-column sidebar-light-info sidebar-light-bg-info" data-widget="treeview" role="menu" data-accordion="false">
                                @foreach (var h in HeaderMenuDtos.Where(x => DetailMenuDtos.Where(z => z.Name.Trim().ToLower().Contains(searchQuery.Trim().ToLower())).Select(a => a.ParentMenu).ToList().Contains(x.Name)))
                                {
                                    <li class="nav-item">
                                        <NavLink href="#" class="nav-link sidebar-light-info sidebar-light-bg-info" Match="NavLinkMatch.Prefix">
                                            @if (h.Icon != null)
                                            {
                                                @((MarkupString)h.Icon)
                                            }
                                            else
                                            {
                                                <i class="nav-icon fas fa-book"></i>
                                            }
                                            <p>
                                                @h.Name
                                                <i class="fas fa-angle-left right"></i>
                                            </p>
                                        </NavLink>

                                        @foreach (var d in DetailMenuDtos.Where(x => x.ParentMenu == h.Name && x.Name.Trim().ToLower().Contains(searchQuery.Trim().ToLower())))
                                        {
                                            if (!d.Name.ToLower().Equals("kiosk"))
                                            {
                                                var url = string.IsNullOrEmpty(d.Url) ? "test" : d.Url;
                                                <ul class="nav nav-treeview sidebar-light-bg-info sidebar-light-info">
                                                    <li class="nav-item">
                                                        <NavLink href="@url" class="nav-link sidebar-light-info sidebar-light-bg-info">
                                                            <i class="far fa-circle nav-icon"></i>
                                                            <p class="ml-3">@d.Name</p>
                                                        </NavLink>
                                                    </li>
                                                </ul>
                                            }
                                        }
                                    </li>
                                }
                            </ul>
                        </nav>

                        <!-- SidebarSearch Form -->
                        @*  <div class="form-inline">
            <div class="input-group" data-widget="sidebar-search">
            <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
            <div class="input-group-append">
            <button class="btn btn-sidebar">
            <i class="fas fa-search fa-fw"></i>
            </button>
            </div>
            </div>
            </div> *@

                        <!-- Sidebar Menu -->
                        @*  <nav class="mt-3">
            <ul class="nav nav-pills nav-sidebar flex-column sidebar-light-info sidebar-light-bg-info" data-widget="treeview" role="menu" data-accordion="false">
            <li class="nav-item mb-2">
            <div class="input-group input-group-sm">
            </div>
            <NavLink href="/" class="nav-link" Match="NavLinkMatch.All">
            <i class="nav-icon fa-solid fa-house"></i>
            <p>
            Home Page
            </p>
            </NavLink>
            </li>

            @foreach (var h in HeaderMenuDtos)
            {
            <li class="nav-item">

            <NavLink href="#" class="nav-link sidebar-light-info sidebar-light-bg-info" Match="NavLinkMatch.Prefix">
            @if (h.Icon != null)
            {
            @((MarkupString)h.Icon)
            }
            else
            {
            <i class="nav-icon fas fa-book"></i>
            }
            <p>
            @h.Name
            <i class="fas fa-angle-left right"></i>
            </p>
            </NavLink>

            @foreach (var d in DetailMenuDtos.Where(x => x.ParentMenu == h.Name))
            {
            if (!d.Name.ToLower().Equals("kiosk"))
            {

            var url = string.IsNullOrEmpty(d.Url) ? "test" : d.Url;
            <ul class="nav nav-treeview sidebar-light-bg-info sidebar-light-info">
            <li class="nav-item">
            <NavLink href="@url" class="nav-link sidebar-light-info sidebar-light-bg-info">
            <i class="far fa-circle nav-icon"></i>
            <p class="ml-3">@d.Name</p>
            </NavLink>
            </li>
            </ul>
            }
            }
            </li>
            }
            </ul>
            </nav> *@
                        <!-- /.sidebar-menu -->
                    </div>
                    <!-- /.sidebar -->
                </aside>

                <div class="content-wrapper">
                    @*  <section class="content-header">
        <div class="container-fluid">
        <div class="row mt-2">
        <div class="col-sm-6">
        <h1>Company</h1>
        </div>
        <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        @if (Breadcrumbs.Count > 0)
        {
        @foreach (Breadcrumb item in Breadcrumbs)
        {
        <li class="breadcrumb-item @(item.IsActive ? "active" : "")" aria-current="page">@item.Name</li>
        }
        }
        </ol>
        </div>
        </div>
        </div>
        </section> *@

                    @Body
                </div>

                <footer class="main-footer">
                    <strong>Copyright &copy; 2024-2029 <a class="no-underline" href="https://www.mcdermott.com/">McHealthCare</a>.</strong>
                    All rights reserved.
                    <div class="float-right d-none d-sm-inline-block">
                        <b>Version</b> @Helper.VERSION
                    </div>
                </footer>

                <!-- Control Sidebar -->
                <aside class="control-sidebar control-sidebar-dark">
                    <!-- Control sidebar content goes here -->
                </aside>
                <!-- /.control-sidebar -->
            }

            else
            {
                <McDermott.Web.Components.Pages.LoginPage></McDermott.Web.Components.Pages.LoginPage>

            }
        }
    }
</div>
<!-- ./wrapper -->