@page "/employee/employees/{PageMode}"
@using McDermott.Web.Components.Layout
@rendermode InteractiveServer

<PageTitle>McHealthCare - Employees</PageTitle>

@if (IsAccess && UserAccessCRUID is not null && (UserAccessCRUID.IsCreate || UserAccessCRUID.IsUpdate))
{
    <InputFile id="fileInput" style="display:none" OnChange="@ImportExcelFile" accept=".xlsx" multiple="false"></InputFile>
    <InputFile id="fileInput2" style="display:none" OnChange="@ImportExcelFile2" accept=".xlsx" multiple="false"></InputFile>

    <div class="wrapper">

        <BaseHeaderPage Title="Employees" OnClickBack="@(async () => NavigationManager.NavigateTo("employee/employees"))" ShowBackButton="true" />

        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col">
                        <DxLoadingPanel @bind-Visible="IsLoading"
                                        IsContentBlocked="true"
                                        CssClass="w-100"
                                        ApplyBackgroundShading="true">
                            <EditForm Model="@UserForm" Context="EditFormContext" OnValidSubmit="@HandleValidSubmit"
                                      OnInvalidSubmit="@HandleInvalidSubmit">
                                <DataAnnotationsValidator />
                                <DxFormLayout>
                                    <div class="card w-100 sticky">
                                        <div class="card-body">
                                            <div class=" row w-100">
                                                <div class="w-100 row justify-content-end mt-2 mb-2">
                                                    <div class="col-auto align-self-end p-0 m-0">
                                                        <DxButton RenderStyle="ButtonRenderStyle.Primary" RenderStyleMode="@ButtonRenderStyleMode.Contained" IconCssClass="fa-solid fa-floppy-disk" Text="Save" SubmitFormOnClick="true">
                                                        </DxButton>
                                                        <DxButton RenderStyle="ButtonRenderStyle.Danger" RenderStyleMode="@ButtonRenderStyleMode.Contained" IconCssClass="fa-solid fa-xmark" Text="Cancel" Click="CancelItemGroupMenuGridGropMenu_Click"></DxButton>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    @* General Information *@ 
                                    <_BaseGeneralInformationUser UserForm="UserForm" />

                                    @* Employee Information *@
                                    <div class="w-100">
                                        <div class="w-100">
                                            <div class="card">
                                                <div class="card-header">
                                                    <span class="fw-bolder">Employee Information </span>
                                                </div>

                                                <div class="card-body">
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <DxFormLayout>

                                                                <DxFormLayoutItem CaptionCssClass="required-caption normal-caption" Caption="Supervisor" ColSpanMd="12">
                                                                    <MyDxComboBox Data="@Supervisors"
                                                                                  NullText="Select Supervisor..."
                                                                                  @ref="refSupervisorComboBox"
                                                                                  @bind-Value="@UserForm.SupervisorId"
                                                                                  TextFieldName="Name"
                                                                                  ValueFieldName="Id"
                                                                                  TextChanged="((string e) => OnInputSupervisorChanged(e))">
                                                                        <Buttons>
                                                                            <DxEditorButton Click="OnSearchSupervisorndexDecrement"
                                                                                            IconCssClass="fa-solid fa-caret-left"
                                                                                            Tooltip="Previous Index" />
                                                                            <DxEditorButton Click="OnSearchSupervisor"
                                                                                            IconCssClass="fa-solid fa-magnifying-glass"
                                                                                            Tooltip="Search" />
                                                                            <DxEditorButton Click="OnSearchSupervisorIndexIncrement"
                                                                                            IconCssClass="fa-solid fa-caret-right"
                                                                                            Tooltip="Next Index" />
                                                                        </Buttons>
                                                                        <Columns>
                                                                            <DxListEditorColumn FieldName="@nameof(UserDto.Name)" Caption="Name" />
                                                                            <DxListEditorColumn FieldName="@nameof(UserDto.Email)" Caption="Email" />
                                                                        </Columns>
                                                                    </MyDxComboBox>
                                                                    <ValidationMessage For="@(()=>UserForm.SupervisorId)" />
                                                                </DxFormLayoutItem>
                                                                <DxFormLayoutItem CaptionCssClass="required-caption normal-caption" Caption="Job Position" ColSpanMd="12">
                                                                    <MyDxComboBox Data="@JobPositions"
                                                                                  NullText="Select JobPosition..."
                                                                                  @ref="refJobPositionComboBox"
                                                                                  @bind-Value="@UserForm.JobPositionId"
                                                                                  TextFieldName="Name"
                                                                                  ValueFieldName="Id"
                                                                                  TextChanged="((string e) => OnInputJobPositionChanged(e))">
                                                                        <Buttons>
                                                                            <DxEditorButton Click="OnSearchJobPositionndexDecrement"
                                                                                            IconCssClass="fa-solid fa-caret-left"
                                                                                            Tooltip="Previous Index" />
                                                                            <DxEditorButton Click="OnSearchJobPosition"
                                                                                            IconCssClass="fa-solid fa-magnifying-glass"
                                                                                            Tooltip="Search" />
                                                                            <DxEditorButton Click="OnSearchJobPositionIndexIncrement"
                                                                                            IconCssClass="fa-solid fa-caret-right"
                                                                                            Tooltip="Next Index" />
                                                                        </Buttons>
                                                                        <Columns>
                                                                            <DxListEditorColumn FieldName="@nameof(JobPositionDto.Name)" Caption="Name" />
                                                                            <DxListEditorColumn FieldName="Department.Name" Caption="Department" />
                                                                        </Columns>
                                                                    </MyDxComboBox>
                                                                    <ValidationMessage For="@(()=>UserForm.JobPositionId)" />
                                                                </DxFormLayoutItem>
                                                                <DxFormLayoutItem CaptionCssClass="required-caption normal-caption" Caption="Department" ColSpanMd="12">
                                                                    <MyDxComboBox Data="@Departments"
                                                                                  NullText="Select Department..."
                                                                                  @ref="refDepartmentComboBox"
                                                                                  @bind-Value="@UserForm.DepartmentId"
                                                                                  TextFieldName="Name"
                                                                                  ValueFieldName="Id"
                                                                                  TextChanged="((string e) => OnInputDepartmentChanged(e))">
                                                                        <Buttons>
                                                                            <DxEditorButton Click="OnSearchDepartmentndexDecrement"
                                                                                            IconCssClass="fa-solid fa-caret-left"
                                                                                            Tooltip="Previous Index" />
                                                                            <DxEditorButton Click="OnSearchDepartment"
                                                                                            IconCssClass="fa-solid fa-magnifying-glass"
                                                                                            Tooltip="Search" />
                                                                            <DxEditorButton Click="OnSearchDepartmentIndexIncrement"
                                                                                            IconCssClass="fa-solid fa-caret-right"
                                                                                            Tooltip="Next Index" />
                                                                        </Buttons>
                                                                        <Columns>
                                                                            <DxListEditorColumn FieldName="@nameof(DepartmentDto.Name)" Caption="Name" />
                                                                            <DxListEditorColumn FieldName="ParentDepartment.Name" Caption="Parent Department" />
                                                                            <DxListEditorColumn FieldName="Company.Name" Caption="Company" />
                                                                            <DxListEditorColumn FieldName="Manager.Name" Caption="Manager" />
                                                                            <DxListEditorColumn FieldName="DepartmentCategory" Caption="Category" />
                                                                        </Columns>
                                                                    </MyDxComboBox>
                                                                    <ValidationMessage For="@(()=>UserForm.DepartmentId)" />
                                                                </DxFormLayoutItem>
                                                                <DxFormLayoutItem CaptionCssClass="-caption normal-caption" Caption="BPJS KS Number" ColSpanMd="12">
                                                                    <DxMaskedInput @bind-Value="@UserForm.NoBpjsKs"
                                                                                   NullText="BPJS KS Number"
                                                                                   ShowValidationIcon="true"
                                                                                   ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto">
                                                                        <DxTextMaskProperties Placeholder="Placeholder" />
                                                                    </DxMaskedInput>
                                                                </DxFormLayoutItem>
                                                                <DxFormLayoutItem CaptionCssClass="-caption normal-caption" Caption="Legacy Number" ColSpanMd="12">
                                                                    <DxTextBox @bind-Text="@UserForm.Legacy" ShowValidationIcon="true" ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto" NullText="Legacy" />
                                                                </DxFormLayoutItem>
                                                                <DxFormLayoutItem CaptionCssClass="-caption normal-caption" Caption="SAP Number" ColSpanMd="12">
                                                                    <DxTextBox @bind-Text="@UserForm.SAP" ShowValidationIcon="true" ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto" NullText="SAP" />
                                                                </DxFormLayoutItem>
                                                            </DxFormLayout>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <DxFormLayout>
                                                                <DxFormLayoutItem CaptionCssClass="required-caption normal-caption" Caption="Occupational" ColSpanMd="12">
                                                                    <MyDxComboBox Data="@Occupationals"
                                                                                  NullText="Select Occupational..."
                                                                                  @ref="refOccupationalComboBox"
                                                                                  @bind-Value="@UserForm.OccupationalId"
                                                                                  TextFieldName="Name"
                                                                                  ValueFieldName="Id"
                                                                                  TextChanged="((string e) => OnInputOccupationalChanged(e))">
                                                                        <Buttons>
                                                                            <DxEditorButton Click="OnSearchOccupationalndexDecrement"
                                                                                            IconCssClass="fa-solid fa-caret-left"
                                                                                            Tooltip="Previous Index" />
                                                                            <DxEditorButton Click="OnSearchOccupational"
                                                                                            IconCssClass="fa-solid fa-magnifying-glass"
                                                                                            Tooltip="Search" />
                                                                            <DxEditorButton Click="OnSearchOccupationalIndexIncrement"
                                                                                            IconCssClass="fa-solid fa-caret-right"
                                                                                            Tooltip="Next Index" />
                                                                        </Buttons>
                                                                        <Columns>
                                                                            <DxListEditorColumn FieldName="@nameof(OccupationalDto.Name)" Caption="Name" />
                                                                            <DxListEditorColumn FieldName="@nameof(OccupationalDto.Description)" Caption="Description" />
                                                                        </Columns>
                                                                    </MyDxComboBox>
                                                                    <ValidationMessage For="@(()=>UserForm.OccupationalId)" />
                                                                </DxFormLayoutItem>

                                                                <DxFormLayoutItem CaptionCssClass="-caption normal-caption" Caption="BPJS TK Number" ColSpanMd="12">
                                                                    <DxMaskedInput @bind-Value="@UserForm.NoBpjsTk"
                                                                                   NullText="BPJS TK Number"
                                                                                   ShowValidationIcon="true"
                                                                                   ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto">
                                                                        <DxTextMaskProperties Placeholder="Placeholder" />
                                                                    </DxMaskedInput>
                                                                </DxFormLayoutItem>
                                                                <DxFormLayoutItem CaptionCssClass="-caption normal-caption" Caption="Join Date" ColSpanMd="12">
                                                                    <DxDateEdit @bind-Date="@UserForm.JoinDate" Mask="@DateTimeMask.ShortDate" NullText="Join Date" />
                                                                </DxFormLayoutItem>
                                                                <DxFormLayoutItem CaptionCssClass="-caption normal-caption" Caption="NIP Number" ColSpanMd="12">
                                                                    <DxMaskedInput @bind-Value="@UserForm.NIP"
                                                                                   NullText="NIP"
                                                                                   ShowValidationIcon="true"
                                                                                   ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto">
                                                                        <DxTextMaskProperties Placeholder="Placeholder" />
                                                                    </DxMaskedInput>
                                                                </DxFormLayoutItem>
                                                                <DxFormLayoutItem CaptionCssClass="-caption normal-caption" Caption="Oracle Number" ColSpanMd="12">
                                                                    <DxTextBox @bind-Text="@UserForm.Oracle" ShowValidationIcon="true" ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto" NullText="Oracle" />
                                                                </DxFormLayoutItem>
                                                                <DxFormLayoutItem CaptionCssClass="-caption normal-caption" Caption="Employee Type" ColSpanMd="12">
                                                                    <MyDxComboBox Data="@Helper.EmployeeTypes" @bind-Value="@UserForm.EmployeeType" NullText="Select Employee Type" />
                                                                </DxFormLayoutItem>
                                                            </DxFormLayout>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </DxFormLayout>
                            </EditForm>

                            <div class="mt-2"></div>
                        </DxLoadingPanel>
                    </div>
                </div>
            </div>
        </section>
    </div>
}
else if (UserAccessCRUID is not null && (!UserAccessCRUID.IsCreate && !UserAccessCRUID.IsUpdate))
{
    <InvalidPermissionPage />
}
else
{
    <LoadingIndicatorLayout />
}   