@page "/configuration/groups"
@page "/configuration/groups/{PageMode}"
@page "/configuration/groups/{PageMode}/{Id:guid?}"
@using static McHealthCare.Extentions.EnumHelper

<PageTitle>McHealthCare - Groups</PageTitle>

<InputFile id="fileInput" style="display:none" OnChange="@ImportExcelFileGroup" accept=".xlsx" multiple="false"></InputFile>
<InputFile id="fileInput2" style="display:none" OnChange="@ImportExcelFileGroupMenu" accept=".xlsx" multiple="false"></InputFile>

<div class="wrapper">

    <BaseHeaderPage Title="Groups" OnClickBack="@(async () => await BackButtonAsync())" ShowBackButton="@(PageMode == EnumPageMode.Create.GetDisplayName() || PageMode == EnumPageMode.Update.GetDisplayName())" />
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                @if (PageMode == EnumPageMode.Create.GetDisplayName() || PageMode == EnumPageMode.Update.GetDisplayName())
                {
                    <DxLoadingPanel @bind-Visible="IsLoading"
                                    IndicatorAnimationType="WaitIndicatorAnimationType.Pulse"
                                    IsContentBlocked="true"
                                    ApplyBackgroundShading="true"
                                    IndicatorAreaVisible="false"
                                    Text="Fetching Data...">

                        <EditForm Model="@Group" Context="EditFormContext22" OnValidSubmit="HandleValidSubmitAsync" OnInvalidSubmit="@HandleInvalidSubmitAsync">
                            <DataAnnotationsValidator />
                            <div class="card">
                                <div class="card-body">
                                    <div class="w-100 row">
                                        <div class="col align-self-center">
                                            <div class="col d-flex justify-content-end p-0">
                                                <DxButton RenderStyle="ButtonRenderStyle.Primary" RenderStyleMode="@ButtonRenderStyleMode.Outline" CssClass="me-1" IconCssClass="fa-solid fa-floppy-disk" Text="Save" SubmitFormOnClick="true"></DxButton>
                                                <DxButton RenderStyle="ButtonRenderStyle.Danger" RenderStyleMode="@ButtonRenderStyleMode.Outline" IconCssClass="fa-solid fa-xmark" Text="Cancel" Click="CancelItemGroupMenuGrid_Click"></DxButton>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="card">
                                <div class="card-header">
                                    <span class="fw-bolder">@(Group.Id == Guid.Empty ? "Add Group" : "Edit Group")</span>
                                </div>
                                <div class="card-body">
                                    <DxFormLayout CssClass="w-100">
                                        <DxFormLayoutItem CaptionPosition="CaptionPosition.Vertical" Caption="Group" CaptionCssClass="normal-caption required-caption" ColSpanMd="12">
                                            <MyTextBox @bind-Text="@Group.Name"
                                                       NullText="Group" />
                                            <ValidationMessage For="@(() => Group.Name)"   />
                                        </DxFormLayoutItem>

                                        @if (Group.Id != Guid.Empty)
                                        {
                                            <DxFormLayoutGroup Caption="Menus" CssClass="mt-3" ColSpanMd="12" ExpandButtonDisplayMode="GroupExpandButtonDisplayMode.Start" AnimationType="LayoutAnimationType.Slide">
                                                <Items>
                                                    <MyDxGrid @ref="GridGroupMenu"
                                                              Data="GroupMenus"
                                                              @bind-SelectedDataItems="@SelectedDataItemsGroupMenu"
                                                              KeyFieldName="MenuId"
                                                              FocusedRowChanged="@((GridFocusedRowChangedEventArgs args) => FocusedRowVisibleIndex2 = args.VisibleIndex)"
                                                              EditModelSaving="OnSaveGroupMenuAsync"
                                                              DataItemDeleting="OnDeleteGroupMenuAsync">

                                                        <ToolbarTemplate>
                                                            <MyDxToolbarBase TItem="GroupMenuDto"
                                                                             Items="@GroupMenus"
                                                                             SelectedDataItems="@SelectedDataItemsGroupMenu"
                                                                             NewItem_Click="@(async () => await GridGroupMenu.StartEditNewRowAsync())"
                                                                             EditItem_Click="@(async () =>  await GridGroupMenu.StartEditRowAsync(FocusedRowVisibleIndex2))"
                                                                             DeleteItem_Click="@(() => GridGroupMenu.ShowRowDeleteConfirmation(FocusedRowVisibleIndex2))"
                                                                             Refresh_Click="@LoadDataGroupMenuAsync"
                                                                             Grid="GridGroupMenu"
                                                                             IsImport="true"
                                                                             ImportFile="@(async () => await JsRuntime.InvokeVoidAsync("clickInputFile", "fileInput2"))"
                                                                             ExportToExcel="@(async () => await Helper.GenerateColumnImportTemplateExcelFileAsync(JsRuntime, FileExportService, "group_menu_template.xlsx", ExportFileDatasGroupMenus))" />
                                                        </ToolbarTemplate>

                                                        <Columns>
                                                            <DxGridSelectionColumn Width="15px" />
                                                            <DxGridDataColumn MinWidth="200" FieldName="Menu.Name" Caption="Menu" SortIndex="0" />
                                                            <DxGridDataColumn MinWidth="200" FieldName="Menu.Parent.Name" Caption="Parent Menu" SortIndex="0" />
                                                            <DxGridDataColumn MinWidth="50"  FieldName="IsCreate" Caption="Create" />
                                                            <DxGridDataColumn MinWidth="50"  FieldName="IsRead"   Caption="Read"   />
                                                            <DxGridDataColumn MinWidth="50"  FieldName="IsUpdate" Caption="Update" />
                                                            <DxGridDataColumn MinWidth="50"  FieldName="IsDelete" Caption="Delete" />
                                                            <DxGridDataColumn MinWidth="50"  FieldName="IsImport" Caption="Import" />
                                                        </Columns>
                                                        <EditFormTemplate Context="EditFormContext">
                                                            @{
                                                                var a = (GroupMenuDto)EditFormContext.EditModel;
                                                            }
                                                            <DxFormLayout CssClass="w-100">
                                                                <DxFormLayoutItem CaptionCssClass="required-caption normal-caption" Caption="Menu" ColSpanMd="12">
                                                                    <MyDxComboBox Data="@Menus"
                                                                                  NullText="Select Menu..."
                                                                                  @bind-Value="@a.MenuId"
                                                                                  TextFieldName="Name"
                                                                                  ValueFieldName="Id">
                                                                    </MyDxComboBox>
                                                                    <ValidationMessage For="@(()=>a.MenuId)" />
                                                                </DxFormLayoutItem>
                                                                <DxFormLayoutItem CaptionCssClass="normal-caption" Caption="Create">
                                                                    <DxCheckBox @bind-Checked="@a.IsCreate" />
                                                                    <ValidationMessage For="@(()=> @a.IsCreate)"   />
                                                                </DxFormLayoutItem>
                                                                <DxFormLayoutItem CaptionCssClass=" normal-caption" Caption="Read">
                                                                    <DxCheckBox @bind-Checked="@a.IsRead" />
                                                                    <ValidationMessage For="@(()=> @a.IsRead)"   />
                                                                </DxFormLayoutItem>
                                                                <DxFormLayoutItem CaptionCssClass="normal-caption" Caption="Update">
                                                                    <DxCheckBox @bind-Checked="@a.IsUpdate" />
                                                                    <ValidationMessage For="@(()=> @a.IsUpdate)"   />
                                                                </DxFormLayoutItem>
                                                                <DxFormLayoutItem CaptionCssClass="normal-caption" Caption="Delete">
                                                                    <DxCheckBox @bind-Checked="@a.IsDelete" />
                                                                    <ValidationMessage For="@(()=> @a.IsDelete)"   />
                                                                </DxFormLayoutItem>
                                                                <DxFormLayoutItem CaptionCssClass="normal-caption" Caption="Import">
                                                                    <DxCheckBox @bind-Checked="@a.IsImport" />
                                                                    <ValidationMessage For="@(()=> @a.IsImport)"   />
                                                                </DxFormLayoutItem>
                                                            </DxFormLayout>
                                                        </EditFormTemplate>
                                                    </MyDxGrid>
                                                </Items>
                                            </DxFormLayoutGroup>
                                        }
                                    </DxFormLayout>
                                </div>
                            </div>
                        </EditForm>
                    </DxLoadingPanel>
                }
                else
                {
                    <div class="card">
                        <DxLoadingPanel @bind-Visible="PanelVisible"
                                        IndicatorAnimationType="WaitIndicatorAnimationType.Pulse"
                                        IsContentBlocked="true"
                                        ApplyBackgroundShading="true"
                                        IndicatorAreaVisible="false"
                                        Text="Fetching Data...">
                            <MyDxGrid @ref="Grid"
                                      Data="Groups"
                                      @bind-SelectedDataItems="@SelectedDataItems"
                                      RowDoubleClick="@(async () => await InitializeEditAsync())"
                                      DataItemDeleting="OnDeleteAsync"
                                      FocusedRowChanged="@((GridFocusedRowChangedEventArgs args) => FocusedRowVisibleIndex = args.VisibleIndex)"
                                      KeyFieldName="Id">

                                <ToolbarTemplate>
                                    <MyDxToolbarBase TItem="GroupDto"
                                                     Items="@Groups"
                                                     Grid="Grid"
                                                     SelectedDataItems="@SelectedDataItems"
                                                     NewItem_Click="@(async () => InitializeNew())"
                                                     EditItem_Click="@(async () =>  await InitializeEditAsync())"
                                                     DeleteItem_Click="@(() => Grid.ShowRowDeleteConfirmation(FocusedRowVisibleIndex))"
                                                     Refresh_Click="@(async () => await LoadDataAsync())"
                                                     IsImport="true"
                                                     ImportFile="@(async () => await JsRuntime.InvokeVoidAsync("clickInputFile", "fileInput"))"
                                                     ExportToExcel="@(async () => await Helper.GenerateColumnImportTemplateExcelFileAsync(JsRuntime, FileExportService, "group_template.xlsx", ExportFileDatasGroup))" />

                                </ToolbarTemplate>

                                <Columns>
                                    <DxGridSelectionColumn Width="15px" />
                                    <DxGridDataColumn MinWidth="200" FieldName="Name" />
                                </Columns>
                            </MyDxGrid>
                        </DxLoadingPanel>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
