@page "/configuration/users"
@page "/configuration/users/{PageMode}"
@page "/configuration/users/{PageMode}/{Id}"
@using static McHealthCare.Extentions.EnumHelper

<PageTitle>McHealthCare - Users</PageTitle>

<BaseHeaderPage Title="Users" OnClickBack="@(async () => await BackButtonAsync())" ShowBackButton="PageMode == EnumPageMode.Create.GetDisplayName() || PageMode == EnumPageMode.Update.GetDisplayName()" />

@if (!IsLoading && UserAccess.Item1 && UserAccess.Item2.IsRead)
{
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col">
                    @if (PageMode == EnumPageMode.Create.GetDisplayName() || PageMode == EnumPageMode.Update.GetDisplayName())
                    {
                        <DxLoadingPanel @bind-Visible="IsLoading"
                                        IndicatorAnimationType="WaitIndicatorAnimationType.Pulse"
                                        IsContentBlocked="true"
                                        ApplyBackgroundShading="true"
                                        IndicatorAreaVisible="false"
                                        Text="Fetching Data...">

                            <EditForm Model="@User" Context="EditFormContext22" OnValidSubmit="HandleValidSubmitAsync" OnInvalidSubmit="@HandleInvalidSubmitAsync">
                                <DataAnnotationsValidator />
                                <div class="card">
                                    <div class="card-body">
                                        <div class="w-100 row">
                                            <div class="col align-self-center">
                                                <div class="col d-flex justify-content-end p-0">
                                                    <DxButton RenderStyle="ButtonRenderStyle.Primary" RenderStyleMode="@ButtonRenderStyleMode.Outline" CssClass="me-1" IconCssClass="fa-solid fa-floppy-disk" Text="Save" SubmitFormOnClick="true"></DxButton>
                                                    <DxButton RenderStyle="ButtonRenderStyle.Danger" RenderStyleMode="@ButtonRenderStyleMode.Outline" IconCssClass="fa-solid fa-xmark" Text="Cancel" Click="CancelItem_Click"></DxButton>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="card">
                                    <div class="card-header">
                                        <span class="fw-bolder">General Information</span>
                                    </div>
                                    <div class="card-body">
                                        <DxFormLayout>
                                            <McHealthCare.Web.Extentions.Components.GeneralInformationComponent UserForm="User"
                                                                                                                TUserForm="ApplicationUserDto"
                                                                                                                Cities="Cities"
                                                                                                                Countries="Countries"
                                                                                                                Districts="Districts"
                                                                                                                IdentityTypes="Helper.IdentityTypes"
                                                                                                                Provinces="Provinces"
                                                                                                                Religions="Religions"
                                                                                                                Villages="Villages" />
                                        </DxFormLayout>
                                    </div>
                                </div>

                                <div class="card">
                                    <div class="card-header">
                                        <span class="fw-bolder">User Setting</span>
                                    </div>
                                    <div class="card-body">
                                        <div class="row w-100 g-0">
                                                <div class="col-md-6">
                                            <DxFormLayout>
                                                    <DxFormLayoutItem CaptionCssClass="normal-caption" Caption="Password" ColSpanMd="12">
                                                        <DxTextBox ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto" Password="true" @bind-Text="@User.Password" NullText="Password" />
                                                    </DxFormLayoutItem>
                                                </DxFormLayout>
                                                </div>
                                                <div class="col-md-6">
                                            <DxFormLayout>
                                                    <DxFormLayoutItem Caption="Group" CaptionCssClass="normal-caption" ColSpanMd="12">
                                                        <MyDxComboBox Data="@Groups"
                                                                      NullText="Select Group..."
                                                                      @bind-Value="@User.GroupId"
                                                                      TextFieldName="Name"
                                                                      ValueFieldName="Id">
                                                        </MyDxComboBox>
                                                    </DxFormLayoutItem>
                                            </DxFormLayout>
                                                </div> 
                                        </div>
                                    </div>
                                </div> 

                                <div class="card">
                                    <div class="card-header">
                                        <span class="fw-bolder">Practitioner License</span>
                                    </div>
                                    <div class="card-body">
                                        <div class="row w-100 g-0">
                                            <div class="col-md-6">
                                                <DxFormLayout>
                                                    <DxFormLayoutItem ColSpanMd="12" CaptionCssClass="normal-caption" Caption="Physicion">
                                                        <DxCheckBox @bind-Checked="@Doctor.IsPhysicion" />
                                                    </DxFormLayoutItem>

                                                    <DxFormLayoutItem ColSpanMd="12" Visible="Doctor.IsPhysicion" CaptionCssClass="required-caption normal-caption" Caption="Physician Code">
                                                        <DxTextBox @bind-Text="@Doctor.PhysicanCode"
                                                                   ShowValidationIcon="true"
                                                                   ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
                                                                   NullText="Physican Code" /> 
                                                    </DxFormLayoutItem>

                                                    <DxFormLayoutItem ColSpanMd="12" CaptionCssClass="required-caption normal-caption" Caption="Sip Number">
                                                        <DxMaskedInput @bind-Value="@Doctor.SipNo"
                                                                       NullText="Sip Number"
                                                                       ShowValidationIcon="true"
                                                                       ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto">
                                                        </DxMaskedInput>
                                                    </DxFormLayoutItem>
                                                    <DxFormLayoutItem ColSpanMd="12" CaptionCssClass="-caption normal-caption" Caption="Sip File">
                                                        <DxMaskedInput @bind-Value="@Doctor.SipFile"
                                                                       ShowValidationIcon="true"
                                                                       ReadOnly="true"
                                                                       MaskMode="MaskMode.RegEx">
                                                            @*   <Buttons>
                                                    <InputFile id="sipFile" accept=".txt, .pdf, .docx" OnChange="@SelectFiles" multiple="false" style="display:none" />
                                                    <DxEditorButton Click="SelectFile" IconCssClass="fa-solid fa-upload" />
                                                    <DxEditorButton Click="DownloadFile" IconCssClass="fa-solid fa-download" />
                                                    <DxEditorButton Click="RemoveSelectedFile" IconCssClass="fa-solid fa-trash" />
                                                    </Buttons> *@
                                                        </DxMaskedInput>
                                                    </DxFormLayoutItem>
                                                    <DxFormLayoutItem ColSpanMd="12" CaptionCssClass="normal-caption" Caption="Sip Expired">
                                                        <DxDateEdit @bind-Date="@Doctor.SipExp" NullText="Sip Expired" Mask="@DateTimeMask.ShortDate" />
                                                    </DxFormLayoutItem>
                                                    <DxFormLayoutItem ColSpanMd="12" CaptionCssClass=" normal-caption" Caption="Speciality">
                                                        <Template>
                                                            <DxComboBox ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto" FilteringMode="@DataGridFilteringMode.Contains"
                                                                        Data="@Specialists"
                                                                        NullText="Select Speciality..."
                                                                        @bind-Value="@Doctor.SpecialityId"
                                                                        TextFieldName="Name"
                                                                        ValueFieldName="Id">
                                                            </DxComboBox>
                                                        </Template>
                                                    </DxFormLayoutItem>
                                                </DxFormLayout>
                                            </div>

                                            <div class="col-md-6">
                                                <DxFormLayout>
                                                    <DxFormLayoutItem ColSpanMd="12" CaptionCssClass="normal-caption" Caption="Nurse:">
                                                        <DxCheckBox @bind-Checked="@Doctor.IsNurse" />
                                                    </DxFormLayoutItem>
                                                    <DxFormLayoutItem ColSpanMd="12" CaptionCssClass="normal-caption" Caption="Str Number">
                                                        <DxMaskedInput @bind-Value="@Doctor.StrNo"
                                                                       NullText="Str Number"
                                                                       ShowValidationIcon="true"
                                                                       ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto">
                                                            <DxTextMaskProperties />
                                                        </DxMaskedInput>
                                                    </DxFormLayoutItem>
                                                    <DxFormLayoutItem ColSpanMd="12" CaptionCssClass="normal-caption" Caption="Str Expired">
                                                        <DxDateEdit @bind-Date="@Doctor.StrExp" NullText="Str Expired" Mask="@DateTimeMask.ShortDate" />
                                                    </DxFormLayoutItem>
                                                    <DxFormLayoutItem ColSpanMd="12" CaptionCssClass="normal-caption" Caption="Services">
                                                        <DxTagBox Data="@Services"
                                                                  FilteringMode="@DataGridFilteringMode.Contains"
                                                                  @bind-Values="@SelectedServices"
                                                                  TextFieldName="Name"
                                                                  NullText="Select Service"
                                                                  ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto" />
                                                    </DxFormLayoutItem>
                                                </DxFormLayout>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="card">
                                    <div class="card-header">
                                        <span class="fw-bolder">Employee</span>
                                    </div>
                                    <div class="card-body">
                                        <div class="row w-100 g-0">
                                            <div class="col-md-6">
                                                <DxFormLayout>
                                                    <DxFormLayoutItem CaptionCssClass="normal-caption" Caption="Supervisor" ColSpanMd="12">
                                                        <MyDxComboBox Data="@(Users.Where(x => x.Id != Employee.ApplicationUserId).AsEnumerable())"
                                                                      NullText="Select Supervisor..."
                                                                      TextFieldName="Name"
                                                                      ValueFieldName="Id"
                                                                      @bind-Value="Employee.SupervisorId">
                                                        </MyDxComboBox>
                                                        <ValidationMessage For="@(() => Employee.SupervisorId)" />
                                                    </DxFormLayoutItem>

                                                   @*  <DxFormLayoutItem CaptionCssClass="normal-caption" Caption="Job Position">
                                                        <DxComboBox ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto" FilteringMode="@DataGridFilteringMode.Contains"
                                                                    Data="@JobPositions"
                                                                    NullText="Select Job Position..."
                                                                    @bind-Value="@Employee.JobPositionId"
                                                                    TextFieldName="Name"
                                                                    ValueFieldName="Id">
                                                        </DxComboBox>
                                                    </DxFormLayoutItem> *@
                                                   @*  <DxFormLayoutItem CaptionCssClass="-caption normal-caption" Caption="Department">
                                                        <DxComboBox ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto" FilteringMode="@DataGridFilteringMode.Contains"
                                                                    Data="@Departments"
                                                                    NullText="Select Department..."
                                                                    @bind-Value="@Employee.DepartmentId"
                                                                    TextFieldName="Name"
                                                                    ValueFieldName="Id">
                                                        </DxComboBox>
                                                    </DxFormLayoutItem> *@
                                                    <DxFormLayoutItem CaptionCssClass="-caption normal-caption" Caption="BPJS KS Number" ColSpanMd="12">
                                                        <DxMaskedInput @bind-Value="@Employee.NoBpjsKs"
                                                                       NullText="BPJS KS Number"
                                                                       ShowValidationIcon="true"
                                                                       ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto">
                                                            
                                                        </DxMaskedInput>
                                                    </DxFormLayoutItem>

                                                    <DxFormLayoutItem CaptionCssClass="-caption normal-caption" Caption="Legacy Number" ColSpanMd="12">
                                                        <DxTextBox @bind-Text="@Employee.Legacy" ShowValidationIcon="true" ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto" NullText="Legacy" />
                                                    </DxFormLayoutItem>
                                                    <DxFormLayoutItem CaptionCssClass="-caption normal-caption" Caption="SAP Number" ColSpanMd="12">
                                                        <DxTextBox @bind-Text="@Employee.SAP" ShowValidationIcon="true" ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto" NullText="SAP" />
                                                    </DxFormLayoutItem>
                                                </DxFormLayout>
                                            </div>

                                            <div class="col-md-6">
                                                <DxFormLayout>
                                                    <DxFormLayoutItem CaptionCssClass="normal-caption" Caption="Occupational" ColSpanMd="12">
                                                        <MyDxComboBox Data="@Occupationals"
                                                                      NullText="Select Occupational..."
                                                                      TextFieldName="Name"
                                                                      ValueFieldName="Id"
                                                                      @bind-Value="Employee.OccupationalId">
                                                        </MyDxComboBox>
                                                        <ValidationMessage For="@(() => Employee.OccupationalId)" />
                                                    </DxFormLayoutItem>


                                                    <DxFormLayoutItem CaptionCssClass="-caption normal-caption" Caption="BPJS TK Number" ColSpanMd="12">
                                                        <DxMaskedInput @bind-Value="@Employee.NoBpjsTk"
                                                                       NullText="BPJS TK Number"
                                                                       ShowValidationIcon="true"
                                                                       ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto">
                                                            
                                                        </DxMaskedInput>
                                                    </DxFormLayoutItem>

                                                    <DxFormLayoutItem CaptionCssClass="-caption normal-caption" Caption="Join Date" ColSpanMd="12">
                                                        <DxDateEdit @bind-Date="@Employee.JoinDate" Mask="@DateTimeMask.ShortDate" NullText="Join Date" />
                                                    </DxFormLayoutItem>

                                                    <DxFormLayoutItem CaptionCssClass="-caption normal-caption" Caption="NIP Number" ColSpanMd="12">
                                                        <DxMaskedInput @bind-Value="@Employee.NIP"
                                                                       NullText="NIP"
                                                                       ShowValidationIcon="true"
                                                                       ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto">
                                                            
                                                        </DxMaskedInput>
                                                    </DxFormLayoutItem>

                                                    <DxFormLayoutItem CaptionCssClass="-caption normal-caption" Caption="Oracle Number" ColSpanMd="12">
                                                        <DxTextBox @bind-Text="@Employee.Oracle" ShowValidationIcon="true" ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto" NullText="Oracle" />
                                                    </DxFormLayoutItem>

                                                    <DxFormLayoutItem CaptionCssClass="-caption normal-caption" Caption="Employee Type" ColSpanMd="12">
                                                        <DxComboBox ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto" FilteringMode="@DataGridFilteringMode.Contains"
                                                                    Data="@Helper.EmployeeTypes" @bind-Value="@Employee.EmployeeType" NullText="Select Employee Type..." />
                                                    </DxFormLayoutItem>
                                                </DxFormLayout>
                                            </div> 
                                        </div>
                                    </div>
                                </div>
                            </EditForm>
                        </DxLoadingPanel>
                    }
                    else
                    {
                        <div class="card">
                            <div class="card-body">
                                <DxLoadingPanel @bind-Visible="PanelVisible"
                                                IndicatorAnimationType="WaitIndicatorAnimationType.Pulse"
                                                IsContentBlocked="true"
                                                ApplyBackgroundShading="true"
                                                IndicatorAreaVisible="false"
                                                Text="Fetching Data...">
                                    <MyDxGrid @ref="Grid"
                                              Data="Users"
                                              @bind-SelectedDataItems="@SelectedDataItems"
                                              RowDoubleClick="@(async () => await InitializeEditAsync())"
                                              DataItemDeleting="OnDeleteAsync"
                                              FocusedRowChanged="CanDeleteSelectedItems"
                                              KeyFieldName="Id">

                                        <ToolbarTemplate>
                                            <MyDxToolbarBase TItem="ApplicationUserDto"
                                                             Items="@Users"
                                                             Grid="Grid"
                                                             SelectedDataItems="@SelectedDataItems"
                                                             NewItem_Click="@(async () => InitializeNew())"
                                                             EditItem_Click="@(async () =>  await InitializeEditAsync())"
                                                             DeleteItem_Click="@(() => Grid.ShowRowDeleteConfirmation(FocusedRowVisibleIndex))"
                                                             Refresh_Click="@(async () => await LoadDataAsync())"
                                                             ImportFile="@(async () => await JsRuntime.InvokeVoidAsync("clickInputFile", "fileInput"))"
                                                             VisibleNew="UserAccess.Item2.IsCreate"
                                                             VisibleEdit="UserAccess.Item2.IsUpdate"
                                                             EnableDelete="!IsDeleted"
                                                             VisibleDelete="UserAccess.Item2.IsDelete"
                                                             VisibleImport="UserAccess.Item2.IsImport" />

                                        </ToolbarTemplate>

                                        <Columns>
                                            <DxGridSelectionColumn Width="15px" />
                                            <DxGridDataColumn MinWidth="200" FieldName="@(nameof(ApplicationUser.Name))" />
                                            <DxGridDataColumn MinWidth="200" FieldName="@(nameof(ApplicationUser.Email))" />
                                            <DxGridDataColumn MinWidth="200" FieldName="@(nameof(ApplicationUser.NoId))" />
                                            <DxGridDataColumn MinWidth="200" FieldName="@(nameof(ApplicationUser.TypeId))" />
                                            <DxGridDataColumn MinWidth="200" FieldName="@(nameof(ApplicationUser.MobilePhone))" />
                                            <DxGridDataColumn MinWidth="200" FieldName="@(nameof(ApplicationUser.PhoneNumber))" />
                                            <DxGridDataColumn MinWidth="200" FieldName="@(nameof(ApplicationUser.MobilePhone))" />
                                        </Columns>
                                    </MyDxGrid>
                                </DxLoadingPanel>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
}
else if (UserAccess.Item2 is not null && !UserAccess.Item2.IsRead)
{
    <InvalidPermissionPage />
}
else
{
    <LoadingIndicatorLayout />
}


