@page "/inventory/products/{PageMode}"
@rendermode InteractiveServer

<PageTitle>@Helper.APP_NAME - Product</PageTitle>

<style>
    /* Custom styling to make links look like toolbar items */
    .toolbar-item {
        padding: 10px;
        color: #000;
        text-decoration: none;
        display: flex;
        align-items: center;
        cursor: pointer;
        border: 2px solid #8E8A8AE0;
        border-radius: 5px;
    }

        .toolbar-item:hover {
            background-color: #f0f0f0;
            border-radius: 5px;
        }
    /* Adding spacing around the vertical divider */
    .divider {
        padding-left: 10px;
        padding-right: 10px;
    }
</style>

@if (IsAccess && UserAccessCRUID is not null && (UserAccessCRUID.IsCreate || UserAccessCRUID.IsUpdate))
{
    <div class="wrapper">
        <BaseHeaderPage Title="Product" OnClickBack="@(async () => NavigationManager.NavigateTo("inventory/products"))" ShowBackButton="true" />
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col">
                        <EditForm Model="@PostProductDetails" Context="EditFormContext" OnInvalidSubmit="@HandleInvalidSubmit" OnValidSubmit="@HandleValidSubmit">
                            <DataAnnotationsValidator />
                            <AntiforgeryToken />
                            <div class="card sticky">
                                <div class="card-body">
                                    <div class=" row w-100">
                                        <div class="w-100 row justify-content-end mt-2 mb-2">
                                            <div class="col-auto align-self-end p-0 m-0">
                                                <DxButton RenderStyle="ButtonRenderStyle.Primary" RenderStyleMode="@ButtonRenderStyleMode.Outline" CssClass="mr-1" IconCssClass="fa-solid fa-floppy-disk" Text="Save" SubmitFormOnClick="true"></DxButton>
                                                <DxButton RenderStyle="ButtonRenderStyle.Danger" RenderStyleMode="@ButtonRenderStyleMode.Outline" IconCssClass="fa-solid fa-xmark" Text="Discard" SubmitFormOnClick="true" Click="onDiscard"></DxButton>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                @if (_SmartButton)
                                {
                                    <div class="card-header">
                                        <div class="d-flex justify-content-between">
                                            @if (PostProductDetails.HospitalType != "Medical Equipment")
                                            {
                                                <a @onclick="NewTableStock_Item" class="toolbar-item">
                                                    <span class="me-2"><i class="fa-solid fa-boxes-stacked"></i></span>
                                                    <span>On Hand</span>
                                                    <span class="ms-2 badge bg-secondary">@TotalQty @NameUom</span>
                                                </a>
                                            }
                                            else
                                            {
                                                <a href="#" class="toolbar-item">
                                                    <span class="me-2"><i class="fa-solid fa-file-arrow-up"></i></span>
                                                    <span>Upload</span>
                                                </a>
                                                <div class="divider border-start"></div>
                                                <a @onclick="NewTableEquipment_Scrap" class="toolbar-item">
                                                    <span class="me-2"><i class="fa-solid fa-trash"></i></span>
                                                    <span>Scrap</span>
                                                    <span class="ms-2 badge bg-secondary">@TotalScrapQty Unit</span>
                                                </a>
                                                <div class="divider border-start"></div>
                                                <a @onclick="NewTableStock_Item" class="toolbar-item">
                                                    <span class="me-2"><i class="fa-solid fa-boxes-stacked"></i></span>
                                                    <span>On Hand</span>
                                                    <span class="ms-2 badge bg-secondary">@TotalQty Unit</span>
                                                </a>
                                                <div class="divider border-start"></div>
                                                <a @onclick="NewTableEquipment_Item" class="toolbar-item">
                                                    <span class="me-2"><i class="fa-solid fa-trash"></i></span>
                                                    <span>Maintenance</span>
                                                    <span class="ms-2 badge bg-secondary">@TotalMaintenanceQty Unit</span>
                                                </a>
                                            }
                                        </div>
                                    </div>
                                }

                                <DxLoadingPanel @bind-Visible="PanelVisible"
                                                IndicatorAnimationType="WaitIndicatorAnimationType.Pulse"
                                                IsContentBlocked="true"
                                                ApplyBackgroundShading="true"
                                                IndicatorAreaVisible="false"
                                                Text="Fetching Data...">
                                    <div class="card-body">
                                        <DxFormLayout CssClass="mt w-100">
                                            <DxFormLayoutItem Caption="Name Product" CaptionCssClass="normal-caption" ColSpanMd="12">
                                                <DxTextBox @bind-Text="@PostProductDetails.Name"
                                                           NullText="Name Product"
                                                           ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
                                                           ShowValidationIcon="true"></DxTextBox>
                                                <ValidationMessage For="@(()=>PostProductDetails.Name)" />
                                            </DxFormLayoutItem>
                                        </DxFormLayout>
                                        <hr />
                                        <div class="cw-480">
                                            <DxTabs>
                                                <DxTabPage Text="GENERAL INFORMATION" TabIconCssClass="fa-solid fa-circle-info">
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <DxFormLayout CssClass="mt w-100">
                                                                <DxFormLayoutItem Caption="Product Type" CaptionCssClass="normal-caption" ColSpanMd="12">
                                                                    <DxComboBox Data="@ProductTypes"
                                                                                @bind-Value="@PostProductDetails.ProductType"
                                                                                ShowValidationIcon="true"
                                                                                ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
                                                                                FilteringMode="@DataGridFilteringMode.Contains"></DxComboBox>
                                                                </DxFormLayoutItem>
                                                                <DxFormLayoutItem Caption="Hospital Type" CaptionCssClass=" normal-caption" ColSpanMd="12">
                                                                    <DxComboBox Data="@HospitalProducts"
                                                                                @bind-Value="@PostProductDetails.HospitalType"
                                                                                ShowValidationIcon="true"
                                                                                ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
                                                                                SelectedItemChanged="@((string city) => SelectedItemChanged(city))"
                                                                                FilteringMode="@DataGridFilteringMode.Contains"></DxComboBox>
                                                                </DxFormLayoutItem>

                                                                @* Ini Untuk Medical Equipment *@
                                                                <DxFormLayoutItem Caption="Brand" Visible="@(PostProductDetails.HospitalType is not null && PostProductDetails.HospitalType.Equals("Medical Equipment"))" CaptionCssClass="normal-caption" ColSpanMd="12">
                                                                    <MyTextBox @bind-Text="PostProductDetails.Brand"
                                                                               NullText="Brand" />
                                                                </DxFormLayoutItem>

                                                                <DxFormLayoutItem Caption="Equipment Code" Visible="@(PostProductDetails.HospitalType is not null && PostProductDetails.HospitalType.Equals("Medical Equipment"))" CaptionCssClass="normal-caption" ColSpanMd="12">
                                                                    <MyTextBox @bind-Text="PostProductDetails.EquipmentCode"
                                                                               NullText="Equipment Code" />
                                                                </DxFormLayoutItem>

                                                                <DxFormLayoutItem CaptionCssClass="normal-caption" Visible="@(PostProductDetails.HospitalType is not null && PostProductDetails.HospitalType.Equals("Medical Equipment"))" Caption="Year Of Purchase" ColSpanMd="12">
                                                                    <DxDateEdit @bind-Date="@PostProductDetails.YearOfPurchase"
                                                                                Mask="@DateTimeMask.ShortDate"
                                                                                NullText="Year Of Purchase">
                                                                    </DxDateEdit>
                                                                </DxFormLayoutItem>

                                                                <DxFormLayoutItem Caption="Last Calibration Date" Visible="@(PostProductDetails.HospitalType is not null && PostProductDetails.HospitalType.Equals("Medical Equipment"))" CaptionCssClass=" normal-caption" ColSpanMd="12">
                                                                    <Template>
                                                                        <DxGridLayout ColumnSpacing="8px">
                                                                            <Rows>
                                                                                <DxGridLayoutRow />
                                                                            </Rows>
                                                                            <Columns>
                                                                                <DxGridLayoutColumn />
                                                                                <DxGridLayoutColumn />
                                                                            </Columns>
                                                                            <Items>
                                                                                <DxGridLayoutItem Row="0" Column="0" CssClass="normal-caption" ColumnSpan="1">
                                                                                    <Template>
                                                                                        <DxDateEdit @bind-Date="@PostProductDetails.LastCalibrationDate"
                                                                                                    Mask="@DateTimeMask.ShortDate"
                                                                                                    NullText="Year Of Purchase">
                                                                                        </DxDateEdit>
                                                                                    </Template>
                                                                                </DxGridLayoutItem>
                                                                                <DxGridLayoutItem Row="0" Column="1" CssClass=" normal-caption" ColumnSpan="6">
                                                                                    <Template>
                                                                                        <DxDateEdit @bind-Date="@PostProductDetails.NextCalibrationDate"
                                                                                                    Mask="@DateTimeMask.ShortDate"
                                                                                                    NullText="Next Calibration Date">
                                                                                        </DxDateEdit>
                                                                                    </Template>
                                                                                </DxGridLayoutItem>
                                                                            </Items>
                                                                        </DxGridLayout>
                                                                    </Template>
                                                                </DxFormLayoutItem>

                                                                <DxFormLayoutItem CaptionCssClass="normal-caption" Visible="@(PostProductDetails.HospitalType is not null && PostProductDetails.HospitalType.Equals("Medical Equipment"))" Caption="Equipment Condition" ColSpanMd="12">
                                                                    <MyDxComboBox Data="@EquipmentConditions"
                                                                                  NullText="Equipment Condition..."
                                                                                  @bind-Value="@PostProductDetails.EquipmentCondition">
                                                                    </MyDxComboBox>
                                                                </DxFormLayoutItem>

                                                                <DxFormLayoutItem Caption="BPJS Classification" CaptionCssClass=" normal-caption" ColSpanMd="12">
                                                                    <DxComboBox Data="@GetBPJSCl"
                                                                                @bind-Value="@PostProductDetails.BpjsClassificationId"
                                                                                NullText="Select BPJS Classification.."
                                                                                TextFieldName="Name"
                                                                                ValueFieldName="Id"
                                                                                ShowValidationIcon="true"
                                                                                ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
                                                                                FilteringMode="@DataGridFilteringMode.Contains"></DxComboBox>
                                                                </DxFormLayoutItem>
                                                                <DxFormLayoutItem Caption="Unit Of Measure" CaptionCssClass="required-caption normal-caption" ColSpanMd="12">
                                                                    <MyDxComboBox Data="@GetUoms"
                                                                                  NullText="Select Uom"
                                                                                  @ref="refUomComboBox"
                                                                                  @bind-Value="@PostProductDetails.UomId"
                                                                                  TextFieldName="Name"
                                                                                  ValueFieldName="Id"
                                                                                  SelectedItemChanged="@((UomDto Id)=>SelectedChangeUoM(Id))"
                                                                                  TextChanged="((string e) => OnInputUomChanged(e))">
                                                                        <Buttons>
                                                                            <DxEditorButton Click="OnSearchUomIndexDecrement"
                                                                                            IconCssClass="fa-solid fa-caret-left"
                                                                                            Tooltip="Previous Index" />
                                                                            <DxEditorButton Click="OnSearchUom"
                                                                                            IconCssClass="fa-solid fa-magnifying-glass"
                                                                                            Tooltip="Search" />
                                                                            <DxEditorButton Click="OnSearchUomIndexIncrement"
                                                                                            IconCssClass="fa-solid fa-caret-right"
                                                                                            Tooltip="Next Index" />
                                                                        </Buttons>
                                                                        <Columns>
                                                                            <DxListEditorColumn FieldName="@nameof(Uom.Name)" Caption="Name" />
                                                                            <DxListEditorColumn FieldName="@nameof(Uom.Type)" Caption="Type" />
                                                                            <DxListEditorColumn FieldName="@nameof(Uom.UomCategory.Name)" Caption="Uom category" />
                                                                            <DxListEditorColumn FieldName="@nameof(Uom.BiggerRatio)" Caption="Big Ratio" />
                                                                        </Columns>
                                                                    </MyDxComboBox>
                                                                </DxFormLayoutItem>
                                                                <DxFormLayoutItem Caption="Purchase UoM" CaptionCssClass="required-caption normal-caption" ColSpanMd="12">
                                                                    <MyDxComboBox Data="@GetUomPurchases"
                                                                                  NullText="Select Uom Purchase"
                                                                                  @ref="refUomPurchaseComboBox"
                                                                                  @bind-Value="@PostProductDetails.PurchaseUomId"
                                                                                  TextFieldName="Name"
                                                                                  ValueFieldName="Id"
                                                                                  TextChanged="((string e) => OnInputUomPurchaseChanged(e))">
                                                                        <Buttons>
                                                                            <DxEditorButton Click="OnSearchUomPurchaseIndexDecrement"
                                                                                            IconCssClass="fa-solid fa-caret-left"
                                                                                            Tooltip="Previous Index" />
                                                                            <DxEditorButton Click="OnSearchUomPurchase"
                                                                                            IconCssClass="fa-solid fa-magnifying-glass"
                                                                                            Tooltip="Search" />
                                                                            <DxEditorButton Click="OnSearchUomPurchaseIndexIncrement"
                                                                                            IconCssClass="fa-solid fa-caret-right"
                                                                                            Tooltip="Next Index" />
                                                                        </Buttons>
                                                                        <Columns>
                                                                            <DxListEditorColumn FieldName="@nameof(Uom.Name)" Caption="Name" />
                                                                            <DxListEditorColumn FieldName="@nameof(Uom.Type)" Caption="Type" />
                                                                            <DxListEditorColumn FieldName="@nameof(Uom.UomCategory.Name)" Caption="Uom category" />
                                                                            <DxListEditorColumn FieldName="@nameof(Uom.BiggerRatio)" Caption="Big Ratio" />
                                                                        </Columns>
                                                                    </MyDxComboBox>
                                                                    <ValidationMessage For="@(()=> PostProductDetails.PurchaseUomId)"   />
                                                                </DxFormLayoutItem>
                                                                <DxFormLayoutItem Caption="Batch & Expired" CaptionCssClass="normal-caption" ColSpanMd="12">
                                                                    <DxCheckBox @bind-Checked="@PostProductDetails.TraceAbility"></DxCheckBox>
                                                                </DxFormLayoutItem>
                                                            </DxFormLayout>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <DxFormLayout CssClass="mt">
                                                                <DxFormLayoutItem Caption="Sale Price" CaptionCssClass=" normal-caption" ColSpanMd="12">
                                                                    <DxMaskedInput @bind-Value="@PostProductDetails.SalesPrice" Mask="@NumericMask.Currency" ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto" ShowValidationIcon="true">
                                                                        <DxNumericMaskProperties Culture="Culture"></DxNumericMaskProperties>
                                                                    </DxMaskedInput>
                                                                </DxFormLayoutItem>
                                                                <DxFormLayoutItem Caption="Customer Tax" CaptionCssClass=" normal-caption" ColSpanMd="12">
                                                                    <DxTextBox @bind-Text="@PostProductDetails.Tax" ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto" ShowValidationIcon="true" />
                                                                </DxFormLayoutItem>
                                                                <DxFormLayoutItem Caption="Cost" CaptionCssClass=" normal-caption" ColSpanMd="12">
                                                                    <DxMaskedInput @bind-Value="@PostProductDetails.Cost" Mask="@NumericMask.Currency" ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto" ShowValidationIcon="true">
                                                                        <DxNumericMaskProperties Culture="Culture"></DxNumericMaskProperties>
                                                                    </DxMaskedInput>
                                                                </DxFormLayoutItem>
                                                                <DxFormLayoutItem Caption="Category Product" CaptionCssClass=" normal-caption" ColSpanMd="12">
                                                                    <MyDxComboBox Data="@GetProductCategories"
                                                                                  NullText="Select Category Product.."
                                                                                  @ref="refProductCategoryComboBox"
                                                                                  @bind-Value="@PostProductDetails.ProductCategoryId"
                                                                                  TextFieldName="Name"
                                                                                  ValueFieldName="Id"
                                                                                  TextChanged="((string e) => OnInputProductCategoryChanged(e))">
                                                                        <Buttons>
                                                                            <DxEditorButton Click="OnSearchProductCategoryIndexDecrement"
                                                                                            IconCssClass="fa-solid fa-caret-left"
                                                                                            Tooltip="Previous Index" />
                                                                            <DxEditorButton Click="OnSearchProductCategory"
                                                                                            IconCssClass="fa-solid fa-magnifying-glass"
                                                                                            Tooltip="Search" />
                                                                            <DxEditorButton Click="OnSearchProductCategoryIndexIncrement"
                                                                                            IconCssClass="fa-solid fa-caret-right"
                                                                                            Tooltip="Next Index" />
                                                                        </Buttons>
                                                                        <Columns>
                                                                            <DxListEditorColumn FieldName="@nameof(ProductCategory.Name)" Caption="Name" />
                                                                            <DxListEditorColumn FieldName="@nameof(ProductCategory.Code)" Caption="Code" />

                                                                        </Columns>
                                                                    </MyDxComboBox>
                                                                </DxFormLayoutItem>
                                                                <DxFormLayoutItem Caption="Internal Reference" CaptionCssClass=" normal-caption" ColSpanMd="12">
                                                                    <DxMemo @bind-Text="@PostProductDetails.InternalReference"
                                                                            NullText="Internal Reference.."
                                                                            ShowValidationIcon="true" />
                                                                </DxFormLayoutItem>

                                                            </DxFormLayout>
                                                        </div>
                                                    </div>
                                                </DxTabPage>
                                                <DxTabPage Text="MEDICAMENT" Visible="@(PostProductDetails.HospitalType == "Medicament")" TabIconCssClass="fa-solid fa-pills">
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <DxFormLayout CssClass="mt w-100">
                                                                <DxFormLayoutItem Caption="Drug Form" CaptionCssClass=" normal-caption" ColSpanMd="12">
                                                                    <MyDxComboBox Data="@GetDrugForms"
                                                                                  NullText="Select Drug Form"
                                                                                  @ref="refDrugFormComboBox"
                                                                                  @bind-Value="@PostProductDetails.FormId"
                                                                                  TextFieldName="Name"
                                                                                  ValueFieldName="Id"
                                                                                  TextChanged="((string e) => OnInputDrugFormChanged(e))">
                                                                        <Buttons>
                                                                            <DxEditorButton Click="OnSearchDrugFormIndexDecrement"
                                                                                            IconCssClass="fa-solid fa-caret-left"
                                                                                            Tooltip="Previous Index" />
                                                                            <DxEditorButton Click="OnSearchDrugForm"
                                                                                            IconCssClass="fa-solid fa-magnifying-glass"
                                                                                            Tooltip="Search" />
                                                                            <DxEditorButton Click="OnSearchDrugFormIndexIncrement"
                                                                                            IconCssClass="fa-solid fa-caret-right"
                                                                                            Tooltip="Next Index" />
                                                                        </Buttons>
                                                                        <Columns>
                                                                            <DxListEditorColumn FieldName="@nameof(DrugForm.Name)" Caption="Name" />
                                                                            <DxListEditorColumn FieldName="@nameof(DrugForm.Code)" Caption="Code" />
                                                                        </Columns>
                                                                    </MyDxComboBox>
                                                                </DxFormLayoutItem>

                                                                <DxFormLayoutItem Caption="Route" CaptionCssClass="normal-caption" ColSpanMd="12">
                                                                    <MyDxComboBox Data="@GetDrugRoutes"
                                                                                  NullText="Select Routes"
                                                                                  @ref="refDrugRouteComboBox"
                                                                                  @bind-Value="@PostProductDetails.RouteId"
                                                                                  TextFieldName="Route"
                                                                                  ValueFieldName="Id"
                                                                                  TextChanged="((string e) => OnInputDrugRouteChanged(e))">
                                                                        <Buttons>
                                                                            <DxEditorButton Click="OnSearchDrugRouteIndexDecrement"
                                                                                            IconCssClass="fa-solid fa-caret-left"
                                                                                            Tooltip="Previous Index" />
                                                                            <DxEditorButton Click="OnSearchDrugRoute"
                                                                                            IconCssClass="fa-solid fa-magnifying-glass"
                                                                                            Tooltip="Search" />
                                                                            <DxEditorButton Click="OnSearchDrugRouteIndexIncrement"
                                                                                            IconCssClass="fa-solid fa-caret-right"
                                                                                            Tooltip="Next Index" />
                                                                        </Buttons>
                                                                        <Columns>
                                                                            <DxListEditorColumn FieldName="@nameof(DrugRoute.Route)" Caption="Name" />
                                                                            <DxListEditorColumn FieldName="@nameof(DrugRoute.Code)" Caption="Code" />
                                                                        </Columns>
                                                                    </MyDxComboBox>
                                                                </DxFormLayoutItem>
                                                                <DxFormLayoutItem Caption="Dosage" CaptionCssClass=" normal-caption" ColSpanMd="12">
                                                                    <Template>
                                                                        <DxGridLayout ColumnSpacing="8px">
                                                                            <Rows>
                                                                                <DxGridLayoutRow />
                                                                            </Rows>
                                                                            <Columns>
                                                                                <DxGridLayoutColumn />
                                                                                <DxGridLayoutColumn />
                                                                            </Columns>
                                                                            <Items>
                                                                                <DxGridLayoutItem Row="0" Column="0" CssClass="normal-caption " ColumnSpan="1">
                                                                                    <Template>
                                                                                        <DxSpinEdit @bind-Value="@PostProductDetails.Dosage" ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto" ShowValidationIcon="true"></DxSpinEdit>
                                                                                    </Template>
                                                                                </DxGridLayoutItem>
                                                                                <DxGridLayoutItem Row="0" Column="1" CssClass=" normal-caption " ColumnSpan="6">
                                                                                    <Template>
                                                                                        <MyDxComboBox Data="@GetUoms"
                                                                                                      NullText="Select Uom"
                                                                                                      @ref="refUomComboBox"
                                                                                                      @bind-Value="@PostProductDetails.UomMId"
                                                                                                      TextFieldName="Name"
                                                                                                      ValueFieldName="Id"
                                                                                                      TextChanged="((string e) => OnInputUomChanged(e))">
                                                                                            <Buttons>
                                                                                                <DxEditorButton Click="OnSearchUomIndexDecrement"
                                                                                                                IconCssClass="fa-solid fa-caret-left"
                                                                                                                Tooltip="Previous Index" />
                                                                                                <DxEditorButton Click="OnSearchUom"
                                                                                                                IconCssClass="fa-solid fa-magnifying-glass"
                                                                                                                Tooltip="Search" />
                                                                                                <DxEditorButton Click="OnSearchUomIndexIncrement"
                                                                                                                IconCssClass="fa-solid fa-caret-right"
                                                                                                                Tooltip="Next Index" />
                                                                                            </Buttons>
                                                                                            <Columns>
                                                                                                <DxListEditorColumn FieldName="@nameof(Uom.Name)" Caption="Name" />
                                                                                                <DxListEditorColumn FieldName="@nameof(Uom.Type)" Caption="Type" />
                                                                                                <DxListEditorColumn FieldName="@nameof(Uom.UomCategory.Name)" Caption="Uom category" />
                                                                                                <DxListEditorColumn FieldName="@nameof(Uom.BiggerRatio)" Caption="Big Ratio" />
                                                                                            </Columns>
                                                                                        </MyDxComboBox>
                                                                                    </Template>
                                                                                </DxGridLayoutItem>
                                                                            </Items>
                                                                        </DxGridLayout>
                                                                    </Template>
                                                                </DxFormLayoutItem>
                                                                <DxFormLayoutItem Caption="Chronies" CaptionCssClass=" normal-caption" ColSpanMd="12">
                                                                    <DxCheckBox @bind-Checked="@Checkin" LabelPosition="LabelPosition.Left" CssClass="w-100" />
                                                                </DxFormLayoutItem>
                                                                @if (Chronis)
                                                                {
                                                                    <DxFormLayoutItem Caption="Montly Max" CaptionCssClass=" normal-caption" ColSpanMd="12">
                                                                        <DxTextBox @bind-Text="@PostProductDetails.MontlyMax" NullText="0.00" />
                                                                    </DxFormLayoutItem>
                                                                }
                                                                <DxFormLayoutItem Caption="High Alert" CaptionCssClass=" normal-caption" ColSpanMd="12">
                                                                    <DxCheckBox @bind-Checked="@PostProductDetails.HighAlert" LabelPosition="LabelPosition.Left" CssClass="w-100" />
                                                                </DxFormLayoutItem>
                                                            </DxFormLayout>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <DxFormLayout CssClass="mt w-100">
                                                                <DxFormLayoutItem Caption="Instruction" CaptionCssClass=" normal-caption" ColSpanMd="12">
                                                                    <MyDxComboBox Data="@GetDrugDosage"
                                                                                  NullText="Select DrugDosage"
                                                                                  @ref="refDrugDosageComboBox"
                                                                                  @bind-Value="@PostProductDetails.FrequencyId"
                                                                                  TextFieldName="Frequency"
                                                                                  ValueFieldName="Id"
                                                                                  TextChanged="((string e) => OnInputDrugDosageChanged(e))">
                                                                        <Buttons>
                                                                            <DxEditorButton Click="OnSearchDrugDosageIndexDecrement"
                                                                                            IconCssClass="fa-solid fa-caret-left"
                                                                                            Tooltip="Previous Index" />
                                                                            <DxEditorButton Click="OnSearchDrugDosage"
                                                                                            IconCssClass="fa-solid fa-magnifying-glass"
                                                                                            Tooltip="Search" />
                                                                            <DxEditorButton Click="OnSearchDrugDosageIndexIncrement"
                                                                                            IconCssClass="fa-solid fa-caret-right"
                                                                                            Tooltip="Next Index" />
                                                                        </Buttons>
                                                                        <Columns>
                                                                            <DxListEditorColumn FieldName="@nameof(DrugDosage.Frequency)" Caption="Intructoin" />
                                                                            <DxListEditorColumn FieldName="@nameof(DrugDosage.TotalQtyPerDay)" Caption="Total Dosage" />
                                                                            <DxListEditorColumn FieldName="@nameof(DrugDosage.Days)" Caption="Day" />
                                                                            <DxListEditorColumn FieldName="@nameof(DrugDosage.DrugRoute.Route)" Caption="Big Ratio" />
                                                                        </Columns>
                                                                    </MyDxComboBox>
                                                                </DxFormLayoutItem>
                                                                <DxFormLayoutItem Caption="Active Component" CaptionCssClass=" normal-caption" ColSpanMd="12">
                                                                    <DxTagBox Data="@ActiveComponents"
                                                                              FilteringMode="@DataGridFilteringMode.Contains"
                                                                              @bind-Values="@selectedActiveComponents"
                                                                              NullText="Select Active Component.."
                                                                              ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
                                                                              TextFieldName="Name" />
                                                                </DxFormLayoutItem>
                                                                <DxFormLayoutItem Caption="Pregnancy Warning" CaptionCssClass=" normal-caption" ColSpanMd="12">
                                                                    <DxCheckBox @bind-Checked="@PostProductDetails.PregnancyWarning" />
                                                                </DxFormLayoutItem>
                                                                <DxFormLayoutItem CaptionCssClass="normal-caption" Caption="Medicine Type" ColSpanMd="12">
                                                                    <DxCheckBox CssClass="normal-caption" @bind-Checked="@PostProductDetails.IsTopicalMedication">
                                                                        <div class="normal-caption">Topical Medication</div>
                                                                    </DxCheckBox>
                                                                    <DxCheckBox @bind-Checked="@(PostProductDetails.IsOralMedication)">
                                                                        <div class="normal-caption">Oral Medication</div>
                                                                    </DxCheckBox>
                                                                </DxFormLayoutItem>
                                                            </DxFormLayout>
                                                        </div>
                                                    </div>
                                                </DxTabPage>

                                            </DxTabs>
                                        </div>

                                        <hr />
                                        @* <DxFormLayout class="mt">
                                    <div class="col d-flex justify-content-end">
                                    </div>
                                    </DxFormLayout> *@
                                    </div>
                                </DxLoadingPanel>
                            </div>
                        </EditForm>
                    </div>
                </div>
            </div>
        </section>
    </div>
}

<!--  Show Table Data Stock Product -->
<DxPopup Visible="@showStockProduct" HeaderText="Stock Product" Width="85%" CloseOnOutsideClick="false" ShowCloseButton="true" Closed="Back_Click">
    <div class="card">
        <div class="card-header">
            <span class="normal-caption">Product Name : </span> <h4 class="fw-bolder"> @NameProduct</h4>
        </div>
        <DxLoadingPanel @bind-Visible="PanelVisible"
                        IsContentBlocked="true"
                        ApplyBackgroundShading="true"
                        IndicatorAreaVisible="true"
                        Text="Fetching Data...">
            <MyGrid @ref="GridStock"
                    Data="StockProducts"
                    FocusedRowEnabled="false"
                    KeyFieldName="Id"
                    AllowSelectRowByClick="false">
                <ToolbarTemplate>
                    <DxToolbar ItemRenderStyleMode="ToolbarRenderStyleMode.Plain">
                        <DxToolbarItem BeginGroup="true" Text="Back To Product" Click="Back_Click" IconCssClass="fa-solid fa-arrow-left" />
                        <DxToolbarItem BeginGroup="true" Text="Refresh" Click="RefreshStock_Click" IconCssClass="fa-solid fa-arrows-rotate" />
                    </DxToolbar>
                </ToolbarTemplate>
                <Columns>
                    <DxGridDataColumn FieldName="DestinanceName" Caption="Location" GroupIndex="0" />
                    @if (FieldHideStock == true)
                    {
                        <DxGridDataColumn FieldName="Batch" Caption="Batch" />
                    }
                    <DxGridDataColumn FieldName="ProductName" Caption="Product Name" />
                    <DxGridDataColumn FieldName="Qty" Caption="On Hand Qty" />
                    <DxGridDataColumn FieldName="UomName" Caption="Unit Of Measure" />
                    @if (FieldHideStock == true)
                    {
                        <DxGridDataColumn FieldName="Expired" Caption="Expired Date" DisplayFormat="dd MMMM yyyy" />
                    }
                </Columns>
            </MyGrid>
        </DxLoadingPanel>
    </div>
</DxPopup>

<!-- Histroy Maintenance Status Scrap-->
<DxPopup Visible="@showScrapProduct" HeaderText="Scrap Product" Width="85%" CloseOnOutsideClick="false" ShowCloseButton="true" Closed="Back_Click">
    <div class="card">
        <div class="card-header">
            @* <span class="normal-caption">Product Name : </span><h4 class="fw-bolder"> @NameProduct</h4> *@
        </div>
        <DxLoadingPanel @bind-Visible="PanelVisible"
                        IsContentBlocked="true"
                        ApplyBackgroundShading="true"
                        IndicatorAreaVisible="true"
                        Text="Fetching Data...">
            <MyGrid @ref="GridScrap"
                            Data="@GetMaintenanceScrap"
                            FocusedRowEnabled="false"
                            KeyFieldName="Id"
                            AllowSelectRowByClick="false">
                <ToolbarTemplate>
                    <DxToolbar ItemRenderStyleMode="ToolbarRenderStyleMode.Plain">
                        <DxToolbarItem BeginGroup="true" Text="Back To Product" Click="Back_Click" IconCssClass="fa-solid fa-arrow-left" />
                        <DxToolbarItem BeginGroup="true" Text="Refresh" Click="RefreshScrap_Click" IconCssClass="fa-solid fa-arrows-rotate" />
                    </DxToolbar>
                </ToolbarTemplate>
                <Columns>
                    <DxGridDataColumn FieldName="Title" Caption="Subject" />
                    <DxGridDataColumn FieldName="Maintenance.RequestBy.Name" Caption="Employee" />
                    <DxGridDataColumn FieldName="Maintenance.ResponsibleBy.Name" Caption="Technical" />
                    <DxGridDataColumn FieldName="SerialNumber" Caption="Batch" GroupIndex="0" />
                    <DxGridDataColumn FieldName="Product.Name" Caption="Brand" /> 
                    <DxGridDataColumn FieldName="Maintenance.RequestDate" DisplayFormat="dd MMMM yyyy" Caption="Schedule Date" />
                    @* <DxGridDataColumn FieldName="Status" Caption="Status">
                        <CellDisplayTemplate>
                            @((MarkupString)GetIssueStatusIconHtmlMaintenance((context.DataItem as MaintenanceDto).Status))
                        </CellDisplayTemplate>
                    </DxGridDataColumn> *@
                </Columns>
                
            </MyGrid>
            

        </DxLoadingPanel>
    </div>
</DxPopup>

<!-- Histroy Maintenance  -->
 