@page "/inventory/products"
@rendermode InteractiveServer

<PageTitle>@Helper.APP_NAME - Product</PageTitle>

@if (IsAccess)
{
    <div class="wrapper">

        <BaseHeaderPage Title="Product" OnClickBack="@(async () => NavigationManager.NavigateTo("inventory/products"))" ShowBackButton="true" />

        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col">
                        <InputFile id="fileInputMedicalEquipment" style="display:none" OnChange="@ImportExcelFileMedicalEquipment" accept=".xlsx" multiple="false"></InputFile>


                        <div class="card">
                            <DxLoadingPanel @bind-Visible="PanelVisible"
                                            IsContentBlocked="true"
                                            ApplyBackgroundShading="true"
                                            IndicatorAreaVisible="true"
                                            Text="Fetching Data...">
                                <MyGridPaginate @ref="Grid"
                                                Data="Products"
                                                @bind-SelectedDataItems="@SelectedDataItems"
                                                DataItemDeleting="OnDelete"
                                                FocusedRowChanged="Grid_FocusedRowChanged"
                                                KeyFieldName="Id">
                                    <ToolbarTemplate>
                                        <MyDxToolbarBase TItem="ProductDto"
                                                         Items="@Products"
                                                         Grid="Grid"
                                                         SelectedDataItems="@SelectedDataItems"
                                                         NewItem_Click="@NewItem_Click"
                                                         EditItem_Click="@(async () => await EditItem_Click())"
                                                         DeleteItem_Click="@DeleteItem_Click"
                                                         Refresh_Click="@Refresh_Click"
                                                         IsImport="false"
                                                         VisibleEdit="UserAccessCRUID.IsUpdate"
                                                         VisibleDelete="UserAccessCRUID.IsDelete" />

                                    </ToolbarTemplate>
                                    <Columns>
                                        <DxGridSelectionColumn Width="15px" />
                                        <DxGridDataColumn FieldName="Name" Caption="Product Name" SortIndex="0" />
                                        <DxGridDataColumn FieldName="InternalReference" Caption="Internal Reference" />
                                        <DxGridDataColumn FieldName="SalesPrice" Caption="Sales Price" />
                                        <DxGridDataColumn FieldName="Qtys" Caption="Qty On Hand" />
                                        <DxGridDataColumn FieldName="UomName" Caption="Unit Of Measure" />
                                    </Columns>
                                    <TotalSummary>
                                        <DxGridSummaryItem SummaryType="GridSummaryItemType.Count"
                                                           FieldName="Name"
                                                           Visible="true" />
                                    </TotalSummary>
                                </MyGridPaginate>
                                <div class="row">
                                    <DxFormLayout>
                                        <div class="col-md-9">
                                            <DxFormLayoutItem>
                                                <DxPager PageCount="totalCount"
                                                         ActivePageIndexChanged="OnPageIndexChanged"
                                                         ActivePageIndex="activePageIndex"
                                                         VisibleNumericButtonCount="10"
                                                         SizeMode="SizeMode.Medium"
                                                         NavigationMode="PagerNavigationMode.Auto">
                                                </DxPager>
                                            </DxFormLayoutItem>
                                        </div>
                                        <div class="col-md-3 d-flex justify-content-end">
                                            <DxFormLayoutItem Caption="Page Size:">
                                                <MyDxComboBox Data="(new[] { 10, 25, 50, 100 })"
                                                              NullText="Select Page Size"
                                                              ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Never"
                                                              SelectedItemChanged="((int e ) => OnPageSizeIndexChanged(e))"
                                                              @bind-Value="pageSize">
                                                </MyDxComboBox>
                                            </DxFormLayoutItem>
                                        </div>
                                    </DxFormLayout>
                                </div>

                            </DxLoadingPanel>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
}
else
{
    <McDermott.Web.Components.Layout.BaseContentHeaderLayout Title="Product" />

    <DxLoadingPanel></DxLoadingPanel>
}



