@page "/inventory/products"
@rendermode InteractiveServer

<PageTitle>@Helper.APP_NAME - Product</PageTitle>

@if (IsAccess)
{
    <div class="wrapper">

        <BaseHeaderPage Title="Product" OnClickBack="@(async () => await LoadData())" ShowBackButton="showForm" />

        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col">
                        <div class="card">
                            <DxLoadingPanel @bind-Visible="PanelVisible"
                                            IsContentBlocked="true"
                                            ApplyBackgroundShading="true"
                                            IndicatorAreaVisible="true"
                                            Text="Fetching Data...">
                                <DxGrid @ref="Grid" PagerNavigationMode="PagerNavigationMode.InputBox"
                                        Data="Products"
                                        PageSize="10"
                                        @bind-SelectedDataItems="@SelectedDataItems"
                                        FilterMenuButtonDisplayMode="GridFilterMenuButtonDisplayMode.Always"
                                        KeyFieldName="Id"
                                        DataItemDeleting="OnDelete"
                                        CustomizeDataRowEditor="Grid_CustomizeDataRowEditor"
                                        EditorRenderMode="GridEditorRenderMode.Detached"
                                        PagerPosition="GridPagerPosition.Bottom"
                                        AllowSelectRowByClick="true"
                                        PageSizeSelectorVisible="true"
                                        PageSizeSelectorItems="@(new int[] { 10, 20, 50, 100 })"
                                        PageSizeSelectorAllRowsItemVisible="true"
                                        PagerSwitchToInputBoxButtonCount="10"
                                        FocusedRowEnabled="true"
                                        PagerVisibleNumericButtonCount="10"
                                        FocusedRowChanged="Grid_FocusedRowChanged"
                                        ShowGroupPanel="true"
                                        AutoExpandAllGroupRows="true"
                                        CssClass="ch-480"
                                        ShowFilterRow="true"
                                        RowDoubleClick="OnRowDoubleClick"
                                        TextWrapEnabled="false"
                                        CustomizeElement="Grid_CustomizeElement"
                                        ShowSearchBox="true"
                                        SelectAllCheckboxMode="GridSelectAllCheckboxMode.Mixed"
                                        KeyboardNavigationEnabled="true">
                                    <ToolbarTemplate>
                                        <DxToolbar ItemRenderStyleMode="ToolbarRenderStyleMode.Plain">
                                            <DxToolbarItem Visible="@UserAccessCRUID.IsCreate" Text="New" Click="NewItem_Click" IconCssClass="fa-solid fa-plus" />
                                            <DxToolbarItem Visible="@UserAccessCRUID.IsUpdate" Text="Edit" Click="() => EditItem_Click()" IconCssClass="fa-solid fa-pen-to-square" Enabled="SelectedDataItems.Count > 0 && Products.Count > 0" />
                                            <DxToolbarItem Visible="@UserAccessCRUID.IsDelete" Text="Delete" Click="DeleteItem_Click" IconCssClass="fa-solid fa-trash" Enabled="SelectedDataItems.Count > 0 && Products.Count > 0" />
                                            <DxToolbarItem BeginGroup="true" Text="Refresh" Click="Refresh_Click" IconCssClass="fa-solid fa-arrows-rotate" />

                                        </DxToolbar>
                                    </ToolbarTemplate>
                                    <Columns>
                                        <DxGridSelectionColumn Width="15px" />
                                        <DxGridDataColumn FieldName="Name" Caption="Product Name" SortIndex="0" />
                                        <DxGridDataColumn FieldName="InternalReference" Caption="Internal Reference" />
                                        <DxGridDataColumn FieldName="SalesPrice" Caption="Sales Price" />
                                        <DxGridDataColumn FieldName="Qtys" Caption="Qty On Hand" />
                                        <DxGridDataColumn FieldName="UomName" Caption="Unit Of Measure" />
                                    </Columns>
                                </DxGrid>
                            </DxLoadingPanel>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
}
else
{
    <McDermott.Web.Components.Layout.BaseContentHeaderLayout Title="Product" />

    <DxLoadingPanel></DxLoadingPanel>
}



