@page "/configuration/users/{PageMode}"
@rendermode InteractiveServer

<PageTitle>McHealthCare - Users</PageTitle>

@if (IsAccess && UserAccessCRUID is not null && (UserAccessCRUID.IsCreate || UserAccessCRUID.IsUpdate))
{
    <InputFile id="fileInput" style="display:none" OnChange="@ImportExcelFile" accept=".xlsx" multiple="false"></InputFile>
    <InputFile id="fileInput2" style="display:none" OnChange="@ImportExcelFile2" accept=".xlsx" multiple="false"></InputFile>

    <div class="wrapper">

        <BaseHeaderPage Title="Users" OnClickBack="@(async () => NavigationManager.NavigateTo("configuration/users"))" ShowBackButton="true" />

        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col">
                        <DxLoadingPanel @bind-Visible="IsLoading"
                                        IsContentBlocked="true"
                                        CssClass="w-100"
                                        ApplyBackgroundShading="true">
                            <EditForm Model="@UserForm" Context="EditFormContext" OnValidSubmit="@HandleValidSubmit"
                                      OnInvalidSubmit="@HandleInvalidSubmit">
                                <DataAnnotationsValidator />
                                <DxFormLayout>
                                    <div class="card w-100 sticky">
                                        <div class="card-body">
                                            <div class=" row w-100">
                                                <div class="w-100 row justify-content-end mt-2 mb-2">
                                                    <div class="col-auto align-self-end p-0 m-0">
                                                        <DxButton RenderStyle="ButtonRenderStyle.Primary" RenderStyleMode="@ButtonRenderStyleMode.Contained" IconCssClass="fa-solid fa-floppy-disk" Text="Save" SubmitFormOnClick="true">
                                                        </DxButton>
                                                        <DxButton RenderStyle="ButtonRenderStyle.Danger" RenderStyleMode="@ButtonRenderStyleMode.Contained" IconCssClass="fa-solid fa-xmark" Text="Cancel" Click="CancelItemGroupMenuGridGropMenu_Click"></DxButton>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    @* General Information *@
                                    <_BaseGeneralInformationUser UserForm="UserForm" />

                                    @* Roles Information *@
                                    <div class="w-100">
                                        <div class="w-100">
                                            <div class="card">
                                                <div class="card-header">
                                                    <span class="fw-bolder">Roles Information</span>
                                                </div>

                                                <div class="card-body">
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <DxFormLayout>
                                                                <DxFormLayoutItem CaptionCssClass="normal-caption" Caption="Allow Login">
                                                                    <DxCheckBox @bind-Checked="@UserForm.IsUser" />
                                                                </DxFormLayoutItem>

                                                                <DxFormLayoutItem CaptionCssClass="normal-caption" Caption="Practitioner">
                                                                    <DxCheckBox @bind-Checked="@UserForm.IsDoctor" />
                                                                </DxFormLayoutItem>

                                                                <DxFormLayoutItem CaptionCssClass="normal-caption" Caption="Employee">
                                                                    <DxCheckBox @bind-Checked="@UserForm.IsEmployee" />
                                                                </DxFormLayoutItem>

                                                                <DxFormLayoutItem CaptionCssClass="normal-caption" Caption="Patient">
                                                                    <DxCheckBox @bind-Checked="@UserForm.IsPatient" />
                                                                </DxFormLayoutItem>
                                                            </DxFormLayout>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <DxFormLayout>
                                                                <DxFormLayoutItem CaptionCssClass="normal-caption" Caption="Pharmacy">
                                                                    <DxCheckBox @bind-Checked="@UserForm.IsPharmacy" />
                                                                </DxFormLayoutItem>

                                                                <DxFormLayoutItem CaptionCssClass="normal-caption" Caption="MCU">
                                                                    <DxCheckBox @bind-Checked="@UserForm.IsMcu" />
                                                                </DxFormLayoutItem>

                                                                <DxFormLayoutItem CaptionCssClass="normal-caption" Caption="HR">
                                                                    <DxCheckBox @bind-Checked="@UserForm.IsHr" />
                                                                </DxFormLayoutItem>
                                                            </DxFormLayout>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    @* User Information *@
                                    @if (Convert.ToBoolean(UserForm.IsUser))
                                    {
                                        <div class="w-100">
                                            <div class="w-100">
                                                <div class="card">
                                                    <div class="card-header">
                                                        <span class="fw-bolder">User Information</span>
                                                    </div>

                                                    <div class="card-body">
                                                        <div class="row">
                                                            <div class="col-md-6">
                                                                <DxFormLayout>
                                                                    <DxFormLayoutItem CaptionCssClass="normal-caption" Caption="Password" ColSpanMd="12">
                                                                        <DxTextBox ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
                                                                                   @bind-Text="@UserForm.Password"
                                                                                   Password="showPassword"
                                                                                   NullText="Password">
                                                                            <Buttons>
                                                                                <DxEditorButton IconCssClass="@showPasswordIcon" Tooltip="show password" Click="@TogglePasswordVisibility" />
                                                                            </Buttons>
                                                                        </DxTextBox>
                                                                    </DxFormLayoutItem>
                                                                </DxFormLayout>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <DxFormLayout>
                                                                    <DxFormLayoutItem CaptionCssClass="required-caption normal-caption" Caption="Group" ColSpanMd="12">
                                                                        <MyDxComboBox Data="@Groups"
                                                                                      NullText="Select Group"
                                                                                      @ref="refGroupComboBox"
                                                                                      @bind-Value="@UserForm.GroupId"
                                                                                      TextFieldName="Name"
                                                                                      ValueFieldName="Id"
                                                                                      TextChanged="((string e) => OnInputGroupChanged(e))">
                                                                            <Buttons>
                                                                                <DxEditorButton Click="OnSearchGroupndexDecrement"
                                                                                                IconCssClass="fa-solid fa-caret-left"
                                                                                                Tooltip="Previous Index" />
                                                                                <DxEditorButton Click="OnSearchGroup"
                                                                                                IconCssClass="fa-solid fa-magnifying-glass"
                                                                                                Tooltip="Search" />
                                                                                <DxEditorButton Click="OnSearchGroupIndexIncrement"
                                                                                                IconCssClass="fa-solid fa-caret-right"
                                                                                                Tooltip="Next Index" />
                                                                            </Buttons>
                                                                            <Columns>
                                                                                <DxListEditorColumn FieldName="@nameof(GroupDto.Name)" Caption="Name" />
                                                                            </Columns>
                                                                        </MyDxComboBox>
                                                                        <ValidationMessage For="@(()=>UserForm.GroupId)" />
                                                                    </DxFormLayoutItem>
                                                                </DxFormLayout>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }

                                    @* Practitioner License Information *@
                                    <_BasePractitionerLicenseInformationUser  UserForm="UserForm"/>

                                    @* Employee Information *@
                                    <_BaseEmployeeInformationUser UserForm="UserForm"/> 
                                </DxFormLayout>
                            </EditForm>

                            <div class="mt-2"></div>
                        </DxLoadingPanel>
                    </div>
                </div>
            </div>
        </section>
    </div>
}
else if (UserAccessCRUID is not null && (!UserAccessCRUID.IsCreate && !UserAccessCRUID.IsUpdate))
{
    <InvalidPermissionPage />
}
else
{
    <LoadingIndicatorLayout />
}   