@page "/configuration/users/{PageMode}"
@rendermode InteractiveServer

<PageTitle>McHealthCare - Users</PageTitle>

@if (IsAccess && UserAccessCRUID is not null && (UserAccessCRUID.IsCreate || UserAccessCRUID.IsUpdate))
{
    <InputFile id="fileInput" style="display:none" OnChange="@ImportExcelFile" accept=".xlsx" multiple="false"></InputFile>
    <InputFile id="fileInput2" style="display:none" OnChange="@ImportExcelFile2" accept=".xlsx" multiple="false"></InputFile>

    <div class="wrapper">

        <BaseHeaderPage Title="Users" OnClickBack="@(async () => NavigationManager.NavigateTo("configuration/users"))" ShowBackButton="true" />

        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col">
                        <DxLoadingPanel @bind-Visible="IsLoading"
                                        IsContentBlocked="true"
                                        CssClass="w-100"
                                        ApplyBackgroundShading="true">
                            <EditForm Model="@UserForm" Context="EditFormContext" OnValidSubmit="@HandleValidSubmit"
                                      OnInvalidSubmit="@HandleInvalidSubmit">
                                <DataAnnotationsValidator />
                                <DxFormLayout>
                                    <div class="card w-100 sticky">
                                        <div class="card-body">
                                            <div class=" row w-100">
                                                <div class="w-100 row justify-content-end mt-2 mb-2">
                                                    <div class="col-auto align-self-end p-0 m-0">
                                                        <DxButton RenderStyle="ButtonRenderStyle.Primary" RenderStyleMode="@ButtonRenderStyleMode.Contained" IconCssClass="fa-solid fa-floppy-disk" Text="Save" SubmitFormOnClick="true">
                                                        </DxButton>
                                                        <DxButton RenderStyle="ButtonRenderStyle.Danger" RenderStyleMode="@ButtonRenderStyleMode.Contained" IconCssClass="fa-solid fa-xmark" Text="Cancel" Click="CancelItemGroupMenuGridGropMenu_Click"></DxButton>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    @* General Information *@
                                    <_BaseGeneralInformationUser UserForm="UserForm" />

                                    @* Roles Information *@
                                    <div class="w-100">
                                        <div class="w-100">
                                            <div class="card">
                                                <div class="card-header">
                                                    <span class="fw-bolder">Roles Information</span>
                                                </div>

                                                <div class="card-body">
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <DxFormLayout>
                                                                <DxFormLayoutItem CaptionCssClass="normal-caption" Caption="Allow Login">
                                                                    <DxCheckBox @bind-Checked="@UserForm.IsUser" />
                                                                </DxFormLayoutItem>

                                                                <DxFormLayoutItem CaptionCssClass="normal-caption" Caption="Practitioner">
                                                                    <DxCheckBox @bind-Checked="@UserForm.IsDoctor" />
                                                                </DxFormLayoutItem>

                                                                <DxFormLayoutItem CaptionCssClass="normal-caption" Caption="Employee">
                                                                    <DxCheckBox @bind-Checked="@UserForm.IsEmployee" />
                                                                </DxFormLayoutItem>

                                                                <DxFormLayoutItem CaptionCssClass="normal-caption" Caption="Patient">
                                                                    <DxCheckBox @bind-Checked="@UserForm.IsPatient" />
                                                                </DxFormLayoutItem>
                                                            </DxFormLayout>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <DxFormLayout>
                                                                <DxFormLayoutItem CaptionCssClass="normal-caption" Caption="Pharmacy">
                                                                    <DxCheckBox @bind-Checked="@UserForm.IsPharmacy" />
                                                                </DxFormLayoutItem>

                                                                <DxFormLayoutItem CaptionCssClass="normal-caption" Caption="MCU">
                                                                    <DxCheckBox @bind-Checked="@UserForm.IsMcu" />
                                                                </DxFormLayoutItem>

                                                                <DxFormLayoutItem CaptionCssClass="normal-caption" Caption="HR">
                                                                    <DxCheckBox @bind-Checked="@UserForm.IsHr" />
                                                                </DxFormLayoutItem>
                                                            </DxFormLayout>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    @* User Information *@
                                    @if (Convert.ToBoolean(UserForm.IsUser))
                                    {
                                        <div class="w-100">
                                            <div class="w-100">
                                                <div class="card">
                                                    <div class="card-header">
                                                        <span class="fw-bolder">User Information</span>
                                                    </div>

                                                    <div class="card-body">
                                                        <div class="row">
                                                            <div class="col-md-6">
                                                                <DxFormLayout>
                                                                    <DxFormLayoutItem CaptionCssClass="normal-caption" Caption="Password" ColSpanMd="12">
                                                                        <DxTextBox ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
                                                                                   @bind-Text="@UserForm.Password"
                                                                                   Password="showPassword"
                                                                                   NullText="Password">
                                                                            <Buttons>
                                                                                <DxEditorButton IconCssClass="@showPasswordIcon" Tooltip="show password" Click="@TogglePasswordVisibility" />
                                                                            </Buttons>
                                                                        </DxTextBox>
                                                                    </DxFormLayoutItem>
                                                                </DxFormLayout>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <DxFormLayout>
                                                                    <DxFormLayoutItem CaptionCssClass="required-caption normal-caption" Caption="Group" ColSpanMd="12">
                                                                        <MyDxComboBox Data="@Groups"
                                                                                      NullText="Select Group"
                                                                                      @ref="refGroupComboBox"
                                                                                      @bind-Value="@UserForm.GroupId"
                                                                                      TextFieldName="Name"
                                                                                      ValueFieldName="Id"
                                                                                      TextChanged="((string e) => OnInputGroupChanged(e))">
                                                                            <Buttons>
                                                                                <DxEditorButton Click="OnSearchGroupndexDecrement"
                                                                                                IconCssClass="fa-solid fa-caret-left"
                                                                                                Tooltip="Previous Index" />
                                                                                <DxEditorButton Click="OnSearchGroup"
                                                                                                IconCssClass="fa-solid fa-magnifying-glass"
                                                                                                Tooltip="Search" />
                                                                                <DxEditorButton Click="OnSearchGroupIndexIncrement"
                                                                                                IconCssClass="fa-solid fa-caret-right"
                                                                                                Tooltip="Next Index" />
                                                                            </Buttons>
                                                                            <Columns>
                                                                                <DxListEditorColumn FieldName="@nameof(GroupDto.Name)" Caption="Name" />
                                                                            </Columns>
                                                                        </MyDxComboBox>
                                                                        <ValidationMessage For="@(()=>UserForm.GroupId)" />
                                                                    </DxFormLayoutItem>
                                                                </DxFormLayout>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }

                                    @* Practitioner License Information *@
                                    @if (Convert.ToBoolean(UserForm.IsDoctor))
                                    {
                                        <div class="w-100">
                                            <div class="w-100">
                                                <div class="card">
                                                    <div class="card-header">
                                                        <span class="fw-bolder">Practitioner License Information</span>
                                                    </div>

                                                    <div class="card-body">
                                                        <div class="row">
                                                            <div class="col-md-6">
                                                                <DxFormLayout>
                                                                    <DxFormLayoutItem ColSpanMd="12" CaptionCssClass="normal-caption" Caption="Physicion">
                                                                        <DxCheckBox @bind-Checked="@UserForm.IsPhysicion" />
                                                                    </DxFormLayoutItem>

                                                                    <DxFormLayoutItem ColSpanMd="12" Visible="UserForm.IsPhysicion" CaptionCssClass="required-caption normal-caption" Caption="Physician Code">
                                                                        <DxTextBox @bind-Text="@UserForm.PhysicanCode"
                                                                                   ShowValidationIcon="true"
                                                                                   ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
                                                                                   NullText="Physican Code" />
                                                                        <ValidationMessage For="@(() => UserForm.PhysicanCode)"   />
                                                                    </DxFormLayoutItem>

                                                                    <DxFormLayoutItem ColSpanMd="12" CaptionCssClass="required-caption normal-caption" Caption="Sip Number">
                                                                        <DxMaskedInput @bind-Value="@UserForm.SipNo"
                                                                                       NullText="Sip Number"
                                                                                       ShowValidationIcon="true"
                                                                                       ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto">
                                                                            <DxTextMaskProperties Placeholder="Placeholder" />
                                                                        </DxMaskedInput>
                                                                    </DxFormLayoutItem>
                                                                    <DxFormLayoutItem ColSpanMd="12" CaptionCssClass="-caption normal-caption" Caption="Sip File">
                                                                        <DxMaskedInput @bind-Value="@UserForm.SipFile"
                                                                                       ShowValidationIcon="true"
                                                                                       ReadOnly="true"
                                                                                       MaskMode="MaskMode.RegEx">
                                                                            <Buttons>
                                                                                <InputFile id="sipFile" accept=".txt, .pdf, .docx" OnChange="@HandleFileSelected" multiple="false" style="display:none" />
                                                                                <DxEditorButton Click="SelectFile" IconCssClass="fa-solid fa-upload" />
                                                                                @if (!string.IsNullOrEmpty(UserForm.SipFile))
                                                                                {
                                                                                    <DxEditorButton Click="DownloadFile" IconCssClass="fa-solid fa-download" />
                                                                                    <DxEditorButton Click="RemoveSelectedFile" IconCssClass="fa-solid fa-trash" />
                                                                                }
                                                                            </Buttons>
                                                                        </DxMaskedInput>
                                                                    </DxFormLayoutItem>

                                                                    <DxFormLayoutItem ColSpanMd="12" CaptionCssClass="normal-caption" Caption="Sip Expired">
                                                                        <DxDateEdit @bind-Date="@UserForm.SipExp" NullText="Sip Expired" Mask="@DateTimeMask.ShortDate" />
                                                                    </DxFormLayoutItem>

                                                                    <DxFormLayoutItem CaptionCssClass="required-caption normal-caption" Caption="Speciality" ColSpanMd="12">
                                                                        <MyDxComboBox Data="@Specialities"
                                                                                      NullText="Select Speciality"
                                                                                      @ref="refSpecialityComboBox"
                                                                                      @bind-Value="@UserForm.SpecialityId"
                                                                                      TextFieldName="Name"
                                                                                      ValueFieldName="Id"
                                                                                      TextChanged="((string e) => OnInputSpecialityChanged(e))">
                                                                            <Buttons>
                                                                                <DxEditorButton Click="OnSearchSpecialityndexDecrement"
                                                                                                IconCssClass="fa-solid fa-caret-left"
                                                                                                Tooltip="Previous Index" />
                                                                                <DxEditorButton Click="OnSearchSpeciality"
                                                                                                IconCssClass="fa-solid fa-magnifying-glass"
                                                                                                Tooltip="Search" />
                                                                                <DxEditorButton Click="OnSearchSpecialityIndexIncrement"
                                                                                                IconCssClass="fa-solid fa-caret-right"
                                                                                                Tooltip="Next Index" />
                                                                            </Buttons>
                                                                            <Columns>
                                                                                <DxListEditorColumn FieldName="@nameof(SpecialityDto.Name)" Caption="Name" />
                                                                                <DxListEditorColumn FieldName="@nameof(SpecialityDto.Code)" Caption="Code" />
                                                                            </Columns>
                                                                        </MyDxComboBox>
                                                                        <ValidationMessage For="@(()=>UserForm.SpecialityId)" />
                                                                    </DxFormLayoutItem>
                                                                </DxFormLayout>
                                                            </div>

                                                            <div class="col-md-6">
                                                                <DxFormLayout>

                                                                    <DxFormLayoutItem ColSpanMd="12" CaptionCssClass="normal-caption" Caption="Nurse:">
                                                                        <DxCheckBox @bind-Checked="@UserForm.IsNurse" />
                                                                    </DxFormLayoutItem>

                                                                    <DxFormLayoutItem ColSpanMd="12" CaptionCssClass="normal-caption" Caption="Str Number">
                                                                        <DxMaskedInput @bind-Value="@UserForm.StrNo"
                                                                                       NullText="Str Number"
                                                                                       ShowValidationIcon="true"
                                                                                       ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto">
                                                                            <DxTextMaskProperties Placeholder="Placeholder" />
                                                                        </DxMaskedInput>
                                                                    </DxFormLayoutItem>

                                                                    <DxFormLayoutItem ColSpanMd="12" CaptionCssClass="normal-caption" Caption="Str Expired">
                                                                        <DxDateEdit @bind-Date="@UserForm.StrExp" NullText="Str Expired" Mask="@DateTimeMask.ShortDate" />
                                                                    </DxFormLayoutItem>

                                                                    <DxFormLayoutItem ColSpanMd="12" CaptionCssClass="normal-caption" Caption="Services">
                                                                        <Template>
                                                                            <div class="row w-100">
                                                                                <div class="col-md-12">
                                                                                    <DxMaskedInput NullText="Search Service"
                                                                                                   ValueExpression="@(() => SearchTextService)"
                                                                                                   Value="SearchTextService"
                                                                                                   ValueChanged="@((string s) => OnSearchService(s))"
                                                                                                   ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto">
                                                                                        <Buttons>
                                                                                            <DxEditorButton Click="OnSearchServicendexDecrement"
                                                                                                            IconCssClass="fa-solid fa-caret-left"
                                                                                                            Tooltip="Previous Index" />
                                                                                            <DxEditorButton Click="OnSearchServiceClick"
                                                                                                            IconCssClass="fa-solid fa-magnifying-glass"
                                                                                                            Tooltip="Search" />
                                                                                            <DxEditorButton Click="OnSearchServiceIndexIncrement"
                                                                                                            IconCssClass="fa-solid fa-caret-right"
                                                                                                            Tooltip="Next Index" />
                                                                                        </Buttons>
                                                                                    </DxMaskedInput>
                                                                                </div>
                                                                                <div class="col-md-12 mt-2">
                                                                                    <DxTagBox Data="@Services"
                                                                                              FilteringMode="@DataGridFilteringMode.Contains"
                                                                                              @bind-Values="@SelectedServices"
                                                                                              TextFieldName="Name"
                                                                                              CssClass="w-100"
                                                                                              NullText="Select Service"
                                                                                              ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto">
                                                                                        <Columns>
                                                                                            <DxListEditorColumn FieldName="@nameof(Service.Name)" Caption="Name" />
                                                                                            <DxListEditorColumn FieldName="@nameof(Service.Code)" Caption="Code" />
                                                                                            <DxListEditorColumn FieldName="@nameof(Service.Quota)" Caption="Quota" />
                                                                                        </Columns>
                                                                                    </DxTagBox>
                                                                                </div>
                                                                            </div>
                                                                        </Template>
                                                                    </DxFormLayoutItem>

                                                                    @* <DxFormLayoutItem ColSpanMd="12" CaptionCssClass="normal-caption" Caption="Services"> *@
                                                                    @*     <Template> *@
                                                                    @*         <div class="row w-100">  *@
                                                                    @*             <div class="col-md-12"> *@
                                                                    @*                 <DxTagBox Data="@Services"  *@
                                                                    @*                           @bind-Values="@SelectedServices" *@
                                                                    @*                           TextFieldName="Name" *@
                                                                    @*                           @oninput="OnInputService"   *@
                                                                    @*                           CssClass="w-100" *@
                                                                    @*                           NullText="Select Service" *@
                                                                    @*                           ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"> *@
                                                                    @*                     <Columns> *@
                                                                    @*                         <DxListEditorColumn FieldName="@nameof(Service.Name)" Caption="Name" /> *@
                                                                    @*                         <DxListEditorColumn FieldName="@nameof(Service.Code)" Caption="Code" /> *@
                                                                    @*                         <DxListEditorColumn FieldName="@nameof(Service.Quota)" Caption="Quota" /> *@
                                                                    @*                     </Columns> *@
                                                                    @*                 </DxTagBox> *@
                                                                    @*             </div> *@
                                                                    @*         </div> *@
                                                                    @*     </Template> *@
                                                                    @* </DxFormLayoutItem> *@

                                                                </DxFormLayout>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }

                                    @* Employee Information *@
                                    @if (@Convert.ToBoolean(UserForm.IsEmployee))
                                    {
                                        <div class="w-100">
                                            <div class="w-100">
                                                <div class="card">
                                                    <div class="card-header">
                                                        <span class="fw-bolder">Employee Information </span>
                                                    </div>

                                                    <div class="card-body">
                                                        <div class="row">
                                                            <div class="col-md-6">
                                                                <DxFormLayout>

                                                                    <DxFormLayoutItem CaptionCssClass="required-caption normal-caption" Caption="Supervisor" ColSpanMd="12">
                                                                        <MyDxComboBox Data="Users"
                                                                                      NullText="Select Supervisor"
                                                                                      TextFieldName="Name"
                                                                                      ValueFieldName="Id"
                                                                                      @oninput="OnInputUser"
                                                                                      SelectedItemChanged="((UserDto e) => SelectedItemChanged(e))"
                                                                                      @bind-Value="@UserForm.SupervisorId">
                                                                            <Columns>
                                                                                <DxListEditorColumn FieldName="@nameof(UserDto.Name)" Caption="Name" />
                                                                                <DxListEditorColumn FieldName="@nameof(UserDto.Email)" Caption="Email" />
                                                                            </Columns>
                                                                        </MyDxComboBox>
                                                                        <ValidationMessage For="@(()=>UserForm.SupervisorId)" />
                                                                    </DxFormLayoutItem>
                                                                    <DxFormLayoutItem CaptionCssClass="required-caption normal-caption" Caption="Job Position" ColSpanMd="12">
                                                                        <MyDxComboBox Data="JobPositions"
                                                                                      NullText="Select JobPosition"
                                                                                      TextFieldName="Name"
                                                                                      ValueFieldName="Id"
                                                                                      @oninput="OnInputJobPosition"
                                                                                      SelectedItemChanged="((JobPositionDto e) => SelectedItemChanged(e))"
                                                                                      @bind-Value="@UserForm.JobPositionId">
                                                                            <Columns>
                                                                                <DxListEditorColumn FieldName="@nameof(JobPositionDto.Name)" Caption="Name" />
                                                                                <DxListEditorColumn FieldName="Department.Name" Caption="Department" />
                                                                            </Columns>
                                                                        </MyDxComboBox>
                                                                        <ValidationMessage For="@(()=>UserForm.JobPositionId)" />
                                                                    </DxFormLayoutItem>
                                                                    <DxFormLayoutItem CaptionCssClass="required-caption normal-caption" Caption="Department" ColSpanMd="12">
                                                                        <MyDxComboBox Data="Departments"
                                                                                      NullText="Select Department"
                                                                                      TextFieldName="Name"
                                                                                      ValueFieldName="Id"
                                                                                      @oninput="OnInputDepartment"
                                                                                      SelectedItemChanged="((DepartmentDto e) => SelectedItemChanged(e))"
                                                                                      @bind-Value="UserForm.DepartmentId">
                                                                            <Columns>
                                                                                <DxListEditorColumn FieldName="@nameof(DepartmentDto.Name)" Caption="Name" />
                                                                                <DxListEditorColumn FieldName="ParentDepartment.Name" Caption="Parent Department" />
                                                                                <DxListEditorColumn FieldName="Company.Name" Caption="Company" />
                                                                                <DxListEditorColumn FieldName="Manager.Name" Caption="Manager" />
                                                                                <DxListEditorColumn FieldName="DepartmentCategory" Caption="Category" />
                                                                            </Columns>
                                                                        </MyDxComboBox>
                                                                        <ValidationMessage For="@(()=>UserForm.DepartmentId)" />
                                                                    </DxFormLayoutItem>
                                                                    <DxFormLayoutItem CaptionCssClass="-caption normal-caption" Caption="BPJS KS Number" ColSpanMd="12">
                                                                        <DxMaskedInput @bind-Value="@UserForm.NoBpjsKs"
                                                                                       NullText="BPJS KS Number"
                                                                                       ShowValidationIcon="true"
                                                                                       ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto">
                                                                            <DxTextMaskProperties Placeholder="Placeholder" />
                                                                        </DxMaskedInput>
                                                                    </DxFormLayoutItem>
                                                                    <DxFormLayoutItem CaptionCssClass="caption normal-caption" Caption="Legacy Number" ColSpanMd="12">
                                                                        <DxTextBox @bind-Text="@UserForm.Legacy" ShowValidationIcon="true" ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto" NullText="Legacy" />
                                                                    </DxFormLayoutItem>
                                                                    <DxFormLayoutItem CaptionCssClass="caption normal-caption" Caption="SAP Number" ColSpanMd="12">
                                                                        <DxTextBox @bind-Text="@UserForm.SAP" ShowValidationIcon="true" ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto" NullText="SAP" />
                                                                    </DxFormLayoutItem>
                                                                </DxFormLayout>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <DxFormLayout>
                                                                    <DxFormLayoutItem CaptionCssClass="required-caption normal-caption" Caption="Occupational" ColSpanMd="12">
                                                                        <MyDxComboBox Data="Occupationals"
                                                                                      NullText="Select Occupational"
                                                                                      TextFieldName="Name"
                                                                                      ValueFieldName="Id"
                                                                                      @oninput="OnInputOccupational"
                                                                                      SelectedItemChanged="((OccupationalDto e) => SelectedItemChanged(e))"
                                                                                      @bind-Value="UserForm.OccupationalId">
                                                                            <Columns>
                                                                                <DxListEditorColumn FieldName="@nameof(Occupational.Name)" Caption="Name" />
                                                                                <DxListEditorColumn FieldName="@nameof(Occupational.Description)" Caption="Description" />
                                                                            </Columns>
                                                                        </MyDxComboBox>
                                                                        <ValidationMessage For="@(()=>UserForm.OccupationalId)" />
                                                                    </DxFormLayoutItem>

                                                                    <DxFormLayoutItem CaptionCssClass="-caption normal-caption" Caption="BPJS TK Number" ColSpanMd="12">
                                                                        <DxMaskedInput @bind-Value="@UserForm.NoBpjsTk"
                                                                                       NullText="BPJS TK Number"
                                                                                       ShowValidationIcon="true"
                                                                                       ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto">
                                                                            <DxTextMaskProperties Placeholder="Placeholder" />
                                                                        </DxMaskedInput>
                                                                    </DxFormLayoutItem>
                                                                    <DxFormLayoutItem CaptionCssClass="-caption normal-caption" Caption="Join Date" ColSpanMd="12">
                                                                        <DxDateEdit @bind-Date="@UserForm.JoinDate" Mask="@DateTimeMask.ShortDate" NullText="Join Date" />
                                                                    </DxFormLayoutItem>
                                                                    <DxFormLayoutItem CaptionCssClass="-caption normal-caption" Caption="NIP Number" ColSpanMd="12">
                                                                        <DxMaskedInput @bind-Value="@UserForm.NIP"
                                                                                       NullText="NIP"
                                                                                       ShowValidationIcon="true"
                                                                                       ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto">
                                                                            <DxTextMaskProperties Placeholder="Placeholder" />
                                                                        </DxMaskedInput>
                                                                    </DxFormLayoutItem>
                                                                    <DxFormLayoutItem CaptionCssClass="-caption normal-caption" Caption="Oracle Number" ColSpanMd="12">
                                                                        <DxTextBox @bind-Text="@UserForm.Oracle" ShowValidationIcon="true" ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto" NullText="Oracle" />
                                                                    </DxFormLayoutItem>
                                                                    <DxFormLayoutItem CaptionCssClass="-caption normal-caption" Caption="Employee Type" ColSpanMd="12">
                                                                        <MyDxComboBox Data="@Helper.EmployeeTypes" @bind-Value="@UserForm.EmployeeType" NullText="Select Employee Type" />
                                                                    </DxFormLayoutItem>
                                                                </DxFormLayout>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                </DxFormLayout>
                            </EditForm>

                            <div class="mt-2"></div>
                        </DxLoadingPanel>
                    </div>
                </div>
            </div>
        </section>
    </div>
}
else if (UserAccessCRUID is not null && (!UserAccessCRUID.IsCreate && !UserAccessCRUID.IsUpdate))
{
    <InvalidPermissionPage />
}
else
{
    <LoadingIndicatorLayout />
}   