@page "/medical/practitioners/{PageMode}"
@using McDermott.Web.Components.Layout
@rendermode InteractiveServer

<PageTitle>McHealthCare - Practitioners</PageTitle>

@if (IsAccess && UserAccessCRUID is not null && (UserAccessCRUID.IsCreate || UserAccessCRUID.IsUpdate))
{
    <InputFile id="fileInput" style="display:none" OnChange="@ImportExcelFile" accept=".xlsx" multiple="false"></InputFile>
    <InputFile id="fileInput2" style="display:none" OnChange="@ImportExcelFile2" accept=".xlsx" multiple="false"></InputFile>

    <div class="wrapper">

        <BaseHeaderPage Title="Practitioners" OnClickBack="@(async () => NavigationManager.NavigateTo("medical/practitioners"))" ShowBackButton="true" />

        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col">
                        <DxLoadingPanel @bind-Visible="IsLoading"
                                        IsContentBlocked="true"
                                        CssClass="w-100"
                                        ApplyBackgroundShading="true">
                            <EditForm Model="@UserForm" Context="EditFormContext" OnValidSubmit="@HandleValidSubmit"
                                      OnInvalidSubmit="@HandleInvalidSubmit">
                                <DataAnnotationsValidator />
                                <DxFormLayout>
                                    <div class="card w-100 sticky">
                                        <div class="card-body">
                                            <div class=" row w-100">
                                                <div class="w-100 row justify-content-end mt-2 mb-2">
                                                    <div class="col-auto align-self-end p-0 m-0">
                                                        <DxButton RenderStyle="ButtonRenderStyle.Primary" RenderStyleMode="@ButtonRenderStyleMode.Contained" IconCssClass="fa-solid fa-floppy-disk" Text="Save" SubmitFormOnClick="true">
                                                        </DxButton>
                                                        <DxButton RenderStyle="ButtonRenderStyle.Danger" RenderStyleMode="@ButtonRenderStyleMode.Contained" IconCssClass="fa-solid fa-xmark" Text="Cancel" Click="CancelItemGroupMenuGridGropMenu_Click"></DxButton>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    @* General Information *@  
                                    <_BaseGeneralInformationUser UserForm="UserForm" />

                                    @* Practitioner License Information *@
                                    <div class="w-100">
                                        <div class="w-100">
                                            <div class="card">
                                                <div class="card-header">
                                                    <span class="fw-bolder">Practitioner License Information</span>
                                                </div>

                                                <div class="card-body">
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <DxFormLayout>
                                                                <DxFormLayoutItem ColSpanMd="12" CaptionCssClass="normal-caption" Caption="Physicion">
                                                                    <DxCheckBox @bind-Checked="@UserForm.IsPhysicion" />
                                                                </DxFormLayoutItem>

                                                                <DxFormLayoutItem ColSpanMd="12" Visible="UserForm.IsPhysicion" CaptionCssClass="required-caption normal-caption" Caption="Physician Code">
                                                                    <DxTextBox @bind-Text="@UserForm.PhysicanCode"
                                                                               ShowValidationIcon="true"
                                                                               ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
                                                                               NullText="Physican Code" />
                                                                    <ValidationMessage For="@(() => UserForm.PhysicanCode)"   />
                                                                </DxFormLayoutItem>

                                                                <DxFormLayoutItem ColSpanMd="12" CaptionCssClass="required-caption normal-caption" Caption="Sip Number">
                                                                    <DxMaskedInput @bind-Value="@UserForm.SipNo"
                                                                                   NullText="Sip Number"
                                                                                   ShowValidationIcon="true"
                                                                                   ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto">
                                                                        <DxTextMaskProperties Placeholder="Placeholder" />
                                                                    </DxMaskedInput>
                                                                </DxFormLayoutItem>
                                                                <DxFormLayoutItem ColSpanMd="12" CaptionCssClass="-caption normal-caption" Caption="Sip File">
                                                                    <DxMaskedInput @bind-Value="@UserForm.SipFile"
                                                                                   ShowValidationIcon="true"
                                                                                   ReadOnly="true"
                                                                                   MaskMode="MaskMode.RegEx">
                                                                        <Buttons>
                                                                            <InputFile id="sipFile" accept=".txt, .pdf, .docx" OnChange="@HandleFileSelected" multiple="false" style="display:none" />
                                                                            <DxEditorButton Click="SelectFile" IconCssClass="fa-solid fa-upload" />
                                                                            @if (!string.IsNullOrEmpty(UserForm.SipFile))
                                                                            {
                                                                                <DxEditorButton Click="DownloadFile" IconCssClass="fa-solid fa-download" />
                                                                                <DxEditorButton Click="RemoveSelectedFile" IconCssClass="fa-solid fa-trash" />
                                                                            } 
                                                                        </Buttons>
                                                                    </DxMaskedInput>
                                                                </DxFormLayoutItem>

                                                                <DxFormLayoutItem ColSpanMd="12" CaptionCssClass="normal-caption" Caption="Sip Expired">
                                                                    <DxDateEdit @bind-Date="@UserForm.SipExp" NullText="Sip Expired" Mask="@DateTimeMask.ShortDate" />
                                                                </DxFormLayoutItem>

                                                                <DxFormLayoutItem CaptionCssClass="required-caption normal-caption" Caption="Speciality" ColSpanMd="12">
                                                                    <MyDxComboBox Data="@Specialities"
                                                                                  NullText="Select Speciality"
                                                                                  @ref="refSpecialityComboBox"
                                                                                  @bind-Value="@UserForm.SpecialityId"
                                                                                  TextFieldName="Name"
                                                                                  ValueFieldName="Id"
                                                                                  TextChanged="((string e) => OnInputSpecialityChanged(e))">
                                                                        <Buttons>
                                                                            <DxEditorButton Click="OnSearchSpecialityndexDecrement"
                                                                                            IconCssClass="fa-solid fa-caret-left"
                                                                                            Tooltip="Previous Index" />
                                                                            <DxEditorButton Click="OnSearchSpeciality"
                                                                                            IconCssClass="fa-solid fa-magnifying-glass"
                                                                                            Tooltip="Search" />
                                                                            <DxEditorButton Click="OnSearchSpecialityIndexIncrement"
                                                                                            IconCssClass="fa-solid fa-caret-right"
                                                                                            Tooltip="Next Index" />
                                                                        </Buttons>
                                                                        <Columns>
                                                                            <DxListEditorColumn FieldName="@nameof(SpecialityDto.Name)" Caption="Name" />
                                                                            <DxListEditorColumn FieldName="Speciality.Name" Caption="Speciality" />
                                                                            <DxListEditorColumn FieldName="@nameof(SpecialityDto.Code)" Caption="Code" />
                                                                        </Columns>
                                                                    </MyDxComboBox>
                                                                    <ValidationMessage For="@(()=>UserForm.SpecialityId)" />
                                                                </DxFormLayoutItem>
                                                            </DxFormLayout>
                                                        </div>

                                                        <div class="col-md-6">
                                                            <DxFormLayout>

                                                                <DxFormLayoutItem ColSpanMd="12" CaptionCssClass="normal-caption" Caption="Nurse:">
                                                                    <DxCheckBox @bind-Checked="@UserForm.IsNurse" />
                                                                </DxFormLayoutItem>

                                                                <DxFormLayoutItem ColSpanMd="12" CaptionCssClass="normal-caption" Caption="Str Number">
                                                                    <DxMaskedInput @bind-Value="@UserForm.StrNo"
                                                                                   NullText="Str Number"
                                                                                   ShowValidationIcon="true"
                                                                                   ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto">
                                                                        <DxTextMaskProperties Placeholder="Placeholder" />
                                                                    </DxMaskedInput>
                                                                </DxFormLayoutItem>

                                                                <DxFormLayoutItem ColSpanMd="12" CaptionCssClass="normal-caption" Caption="Str Expired">
                                                                    <DxDateEdit @bind-Date="@UserForm.StrExp" NullText="Str Expired" Mask="@DateTimeMask.ShortDate" />
                                                                </DxFormLayoutItem>

                                                                <DxFormLayoutItem ColSpanMd="12" CaptionCssClass="normal-caption" Caption="Services">
                                                                    <Template>
                                                                        <div class="row w-100">
                                                                            <div class="col-md-12">
                                                                                <DxMaskedInput NullText="Search Service"
                                                                                               ValueExpression="@(() => SearchTextService)"
                                                                                               Value="SearchTextService"
                                                                                               ValueChanged="@((string s) => OnSearchService(s))"
                                                                                               ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto">
                                                                                    <Buttons>
                                                                                        <DxEditorButton Click="OnSearchServicendexDecrement"
                                                                                                        IconCssClass="fa-solid fa-caret-left"
                                                                                                        Tooltip="Previous Index" />
                                                                                        <DxEditorButton Click="OnSearchServiceClick"
                                                                                                        IconCssClass="fa-solid fa-magnifying-glass"
                                                                                                        Tooltip="Search" />
                                                                                        <DxEditorButton Click="OnSearchServiceIndexIncrement"
                                                                                                        IconCssClass="fa-solid fa-caret-right"
                                                                                                        Tooltip="Next Index" />
                                                                                    </Buttons>
                                                                                </DxMaskedInput>
                                                                            </div>
                                                                            <div class="col-md-12 mt-2">
                                                                                <DxTagBox Data="@Services"
                                                                                          FilteringMode="@DataGridFilteringMode.Contains"
                                                                                          @bind-Values="@SelectedServices"
                                                                                          TextFieldName="Name"
                                                                                          ValueFieldName="Id"
                                                                                          CssClass="w-100"
                                                                                          NullText="Select Service"
                                                                                          ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto">
                                                                                    <Columns>
                                                                                        <DxListEditorColumn FieldName="@nameof(Service.Name)" Caption="Name" />
                                                                                        <DxListEditorColumn FieldName="@nameof(Service.Code)" Caption="Code" />
                                                                                        <DxListEditorColumn FieldName="@nameof(Service.Quota)" Caption="Quota" />
                                                                                    </Columns>
                                                                                </DxTagBox>
                                                                            </div>
                                                                        </div>
                                                                    </Template>
                                                                </DxFormLayoutItem>

                                                            </DxFormLayout>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </DxFormLayout>
                            </EditForm>

                            <div class="mt-2"></div>
                        </DxLoadingPanel>
                    </div>
                </div>
            </div>
        </section>
    </div>
}
else if (UserAccessCRUID is not null && (!UserAccessCRUID.IsCreate && !UserAccessCRUID.IsUpdate))
{
    <InvalidPermissionPage />
}
else
{
    <LoadingIndicatorLayout />
}   