@page "/medical/sample-types"

@using McHealthCare.Application.Dtos.Medical


<PageTitle>McHealthCare - Sample Type</PageTitle>

<BaseHeaderPage Title="Sample Type" OnClickBack="@(async () => await LoadData())" ShowBackButton="false" />

@if (!IsLoading && UserAccess.Item1 && UserAccess.Item2.IsRead)
{
    <div class="content">
        <div class="container-fluid">
            <div class="card">
                <div class="card-body">
                    <div>
                        <DxLoadingPanel @bind-Visible="PanelVisible"
                                        IndicatorAnimationType="WaitIndicatorAnimationType.Pulse"
                                        IsContentBlocked="true"
                                        ApplyBackgroundShading="true"
                                        IndicatorAreaVisible="false"
                                        Text="Fetching Data...">
                            <MyDxGrid @ref="Grid"
                                      Data="getSampleType"
                                      @bind-SelectedDataItems="@SelectedDataItems"
                                      RowDoubleClick="@(async () =>  await Grid.StartEditRowAsync(FocusedRowVisibleIndex))"
                                      EditModelSaving="OnSave"
                                      DataItemDeleting="OnDelete"
                                      FocusedRowChanged="@((GridFocusedRowChangedEventArgs args) => FocusedRowVisibleIndex = args.VisibleIndex)"
                                      KeyFieldName="Id">

                                <ToolbarTemplate>
                                    <MyDxToolbarBase TItem="SampleTypeDto"
                                                     Items="@getSampleType"
                                                     Grid="Grid"
                                                     SelectedDataItems="@SelectedDataItems"
                                                     NewItem_Click="@(async () => await Grid.StartEditNewRowAsync())"
                                                     EditItem_Click="@(async () => await Grid.StartEditRowAsync(FocusedRowVisibleIndex))"
                                                     DeleteItem_Click="@(() => Grid.ShowRowDeleteConfirmation(FocusedRowVisibleIndex))"
                                                     Refresh_Click="@(async () => await LoadData())"
                                                     ImportFile="@(async () => await JsRuntime.InvokeVoidAsync("clickInputFile", "fileInput"))"
                                                     ExportToExcel="@(async () => await Helper.GenerateColumnImportTemplateExcelFileAsync(JsRuntime, FileExportService, "countries_template.xlsx", ExportFileDatas))"
                                                     VisibleNew="UserAccess.Item2.IsCreate"
                                                     VisibleEdit="UserAccess.Item2.IsUpdate"
                                                     VisibleDelete="UserAccess.Item2.IsDelete"
                                                     VisibleImport="UserAccess.Item2.VisibleImport" />
                                </ToolbarTemplate>

                                <Columns>
                                    <DxGridSelectionColumn Width="15px" />
                                    <DxGridDataColumn FieldName="Name" Caption="Name" SortIndex="0" />
                                    @* <DxGridDataColumn FieldName="Code" Caption="Code" /> *@
                                </Columns>
                                <EditFormTemplate Context="EditFormContext">
                                    <AntiforgeryToken />
                                    @{
                                        var a = (SampleTypeDto)EditFormContext.EditModel;
                                    }
                                    <DxFormLayout CssClass="w-100">
                                        <DxFormLayoutItem CaptionCssClass="required-caption normal-caption" Caption="Sample Type" ColSpanMd="12">
                                            <MyTextBox @bind-Text="@a.Name" NullText="Sample Type..." />
                                            <ValidationMessage For="@(()=>a.Name)" />
                                        </DxFormLayoutItem>
                                       
                                    </DxFormLayout>
                                </EditFormTemplate>
                            </MyDxGrid>
                        </DxLoadingPanel>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
else if (UserAccess.Item2 is not null && !UserAccess.Item2.IsRead)
{
    <InvalidPermissionPage />
}
else
{
    <LoadingIndicatorLayout />
}
