@page "/bpjs/system-parameters"
@rendermode InteractiveServer

<PageTitle>McHealthCare - System Parameter</PageTitle>

@if (IsAccess)
{
    <div class="wrapper">

        <BaseHeaderPage Title="System Parameter" ShowBackButton="false" />

        @*         <InputFile id="fileInput" style="display:none" OnChange="@ImportExcelFile" accept=".xlsx" multiple="false"></InputFile>
    *@
        <section class="content">
            <div class="container-fluid">
                <DxLoadingPanel @bind-Visible="PanelVisible"
                                IsContentBlocked="true"
                                ApplyBackgroundShading="true"
                                IndicatorAreaVisible="true"
                                Text="Fetching Data...">
                    <EditForm Context="EditFormContext" Model="SystemParameter" OnValidSubmit="OnValidSubmit" OnInvalidSubmit="OnInvalidSubmit">
                        <AntiforgeryToken />
                        <DataAnnotationsValidator />

                        <div class="card sticky">
                            <div class="card-body">
                                <div class=" row w-100">
                                    <div class="col-auto pe-0 ">
                                        <DxButton IconCssClass="fa-solid fa-check"
                                                  Text="Save"
                                                  SubmitFormOnClick="true"
                                                  RenderStyle="ButtonRenderStyle.Primary">
                                        </DxButton>
                                         
                                        <DxButton IconCssClass="fa-solid fa-file-import"
                                                  Text="Import"
                                                  Click="ImportFile" 
                                                  RenderStyle="ButtonRenderStyle.Success">
                                        </DxButton> 
                                        <InputFile id="fileInput" accept=".json" style="display:none" OnChange="ImportSettings" />
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col">
                                <div class="card card-outline card-info">
                                    <div class="card-header">
                                        <h3 class="card-title">
                                            Base URL
                                        </h3>
                                    </div>
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <DxFormLayout>
                                                    <DxFormLayoutItem CaptionCssClass="required-caption normal-caption" Caption="PCare Base URL" ColSpanMd="12">
                                                        <MyTextBox @bind-Text="@SystemParameter.PCareBaseURL"
                                                                   NullText="PCare Base URL" />
                                                        <ValidationMessage For="@(() => SystemParameter.PCareBaseURL)"   />
                                                    </DxFormLayoutItem>
                                                </DxFormLayout>
                                            </div>
                                            <div class="col-md-6">
                                                <DxFormLayout>
                                                    <DxFormLayoutItem CaptionCssClass="required-caption normal-caption" Caption="Antrean FKTP" ColSpanMd="12">
                                                        <MyTextBox @bind-Text="@SystemParameter.AntreanFKTPBaseURL"
                                                                   NullText="Antrean FKTP Base URL" />
                                                        <ValidationMessage For="@(() => SystemParameter.AntreanFKTPBaseURL)"   />
                                                    </DxFormLayoutItem>
                                                </DxFormLayout>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col">
                                <div class="card card-outline card-info">
                                    <div class="card-header">
                                        <h3 class="card-title">
                                            Variables
                                        </h3>
                                    </div>
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <DxFormLayout>
                                                    <DxFormLayoutItem CaptionCssClass="required-caption normal-caption" Caption="Cons Id" ColSpanMd="12">
                                                        <MyTextBox @bind-Text="@SystemParameter.ConsId"
                                                                   NullText="Cons Id" />
                                                        <ValidationMessage For="@(() => SystemParameter.ConsId)"   />
                                                    </DxFormLayoutItem>
                                                    <DxFormLayoutItem CaptionCssClass="required-caption normal-caption" Caption="Username" ColSpanMd="12">
                                                        <MyTextBox @bind-Text="@SystemParameter.Username"
                                                                   NullText="Username" />
                                                        <ValidationMessage For="@(() => SystemParameter.Username)"   />
                                                    </DxFormLayoutItem>
                                                    <DxFormLayoutItem CaptionCssClass="required-caption normal-caption" Caption="Password" ColSpanMd="12">
                                                        <MyTextBox @bind-Text="@SystemParameter.Password"
                                                                   NullText="Password" />
                                                        <ValidationMessage For="@(() => SystemParameter.Password)"   />
                                                    </DxFormLayoutItem>
                                                    <DxFormLayoutItem CaptionCssClass="required-caption normal-caption" Caption="PCare Code Provider" ColSpanMd="12">
                                                        <MyTextBox @bind-Text="@SystemParameter.PCareCodeProvider"
                                                                   NullText="PCare Code Provider" />
                                                        <ValidationMessage For="@(() => SystemParameter.PCareCodeProvider)"   />
                                                    </DxFormLayoutItem>
                                                </DxFormLayout>
                                            </div>
                                            <div class="col-md-6">
                                                <DxFormLayout>
                                                    <DxFormLayoutItem CaptionCssClass="required-caption normal-caption" Caption="Application Code" ColSpanMd="12">
                                                        <MyTextBox @bind-Text="@SystemParameter.KdAplikasi"
                                                                   NullText="Application Code" />
                                                        <ValidationMessage For="@(() => SystemParameter.KdAplikasi)"   />
                                                    </DxFormLayoutItem>
                                                    <DxFormLayoutItem CaptionCssClass="required-caption normal-caption" Caption="Secret Key" ColSpanMd="12">
                                                        <MyTextBox @bind-Text="@SystemParameter.SecretKey"
                                                                   NullText="Secret Key" />
                                                        <ValidationMessage For="@(() => SystemParameter.SecretKey)"   />
                                                    </DxFormLayoutItem>
                                                    <DxFormLayoutItem CaptionCssClass="required-caption normal-caption" Caption="User Key" ColSpanMd="12">
                                                        <MyTextBox @bind-Text="@SystemParameter.UserKey"
                                                                   NullText="User Key" />
                                                        <ValidationMessage For="@(() => SystemParameter.UserKey)"   />
                                                    </DxFormLayoutItem>
                                                </DxFormLayout>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </EditForm>
                </DxLoadingPanel>
            </div>
        </section> 
    </div>
}
else
{
    <LoadingIndicatorLayout />
}