@page "/inventory/maintainance/{PageMode}"
@using McDermott.Web.Components.Layout
@rendermode InteractiveServer

<PageTitle>McHealthCare - Maintainance</PageTitle>

@if (IsAccess && UserAccessCRUID is not null && (UserAccessCRUID.IsCreate || UserAccessCRUID.IsUpdate))
{
    <div class="wrapper">
        <BaseHeaderPage Title="Group" OnClickBack="@(async () => NavigationManager.NavigateTo("inventory/maintainance"))" ShowBackButton="true" />

        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col">
                        @if (postMaintainance.Id != 0)
                        {
                            <div class="row justify-content-end mb-3">
                                <div class="col-auto align-self-end">
                                    <DxTabs RenderMode="TabsRenderMode.AllTabs">
                                        <DxTab Text="Requst" Enabled="@(postMaintainance.Status == EnumStatusMaintainance.Request)"></DxTab>
                                        <DxTab Text="In Progress" Enabled="@(postMaintainance.Status == EnumStatusMaintainance.InProgress)"></DxTab>
                                        <DxTab Text="Repair" Enabled="@(postMaintainance.Status == EnumStatusMaintainance.Repaired)"></DxTab>
                                        <DxTab Text="Scrap" Enabled="@(postMaintainance.Status == EnumStatusMaintainance.Scrap)"></DxTab>
                                        <DxTab Text="Done" Enabled="@(postMaintainance.Status == EnumStatusMaintainance.Done)"></DxTab>
                                        <DxTab Text="Cancel" Enabled="@(postMaintainance.Status == EnumStatusMaintainance.Canceled)"></DxTab>
                                    </DxTabs>
                                </div>
                            </div>
                        }

                        @if (postMaintainance.Status != EnumStatusMaintainance.Done && postMaintainance.Status != EnumStatusMaintainance.Canceled && postMaintainance.Status != EnumStatusMaintainance.Scrap)
                        {
                            <div class="sticky">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="row justify-content-between">
                                            <div class="col-auto align-self-start">
                                                <DxButton Text="In Progress" Visible="@(postMaintainance.Status == EnumStatusMaintainance.Request)" RenderStyle="ButtonRenderStyle.Primary" IconCssClass="fa-solid fa-check" Click="InProgress_Click"></DxButton>
                                                <DxButton Text="Cancel" Visible="@(postMaintainance.Status == EnumStatusMaintainance.Request)" RenderStyle="ButtonRenderStyle.Danger" IconCssClass="fa-solid fa-xmark" Click="Cancel_Click"></DxButton>
                                                <DxButton Text="Repair" Visible="@(postMaintainance.Status == EnumStatusMaintainance.InProgress)" RenderStyle="ButtonRenderStyle.Warning" IconCssClass="fa-solid fa-check" Click="Repaired_Click"></DxButton>
                                                <DxButton Text="Scrap" Visible="@(postMaintainance.Status == EnumStatusMaintainance.Repaired || postMaintainance.Status == EnumStatusMaintainance.InProgress)" RenderStyle="ButtonRenderStyle.Warning" IconCssClass="fa-solid fa-check" Click="Scrap_Click"></DxButton>
                                                <DxButton Text="Done" Visible="@(postMaintainance.Status == EnumStatusMaintainance.Repaired)" RenderStyle="ButtonRenderStyle.Success" IconCssClass="fa-solid fa-check" Click="Done_Click"></DxButton>
                                                <DxButton Text="Cancel" Visible="@(postMaintainance.Status == EnumStatusMaintainance.Repaired ||postMaintainance.Status == EnumStatusMaintainance.InProgress || postMaintainance.Status == EnumStatusMaintainance.Scrap)" RenderStyle="ButtonRenderStyle.Danger" IconCssClass="fa-solid fa-xmark" Click="Cancel_Click"></DxButton>
                                            </div>
                                            <div class="col-auto align-self-start">
                                                <DxButton RenderStyle="ButtonRenderStyle.Primary" Visible="@(postMaintainance.Id == 0 || postMaintainance.Status == EnumStatusMaintainance.Request)" RenderStyleMode="@ButtonRenderStyleMode.Outline" IconCssClass="fa-solid fa-floppy-disk" Text="Save" SubmitFormOnClick="true" Click="OnSave"></DxButton>
                                                <DxButton RenderStyle="ButtonRenderStyle.Danger" Visible="@(postMaintainance.Id == 0 || postMaintainance.Status == EnumStatusMaintainance.Request)" RenderStyleMode="@ButtonRenderStyleMode.Outline" IconCssClass="fa-solid fa-xmark" CssClass="ml-1" Text="Discard" Click="onDiscard"></DxButton>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        }

                        <DxLoadingPanel @bind-Visible="PanelVisible"
                                        IsContentBlocked="true"
                                        ApplyBackgroundShading="true"
                                        IndicatorAreaVisible="true"
                                        Text="Fetching Data...">
                            <div class="card">
                                <div class="card-body">
                                    <EditForm Model="@postMaintainance" Context="EditContext" OnInvalidSubmit="@HandleInvalidSubmit" OnValidSubmit="@HandleValidSubmit">
                                        <DataAnnotationsValidator />
                                        <AntiforgeryToken />
                                        <div class="row w-100">
                                            <DxFormLayout CssClass="w-100">
                                                <DxFormLayoutItem ColSpanMd="12" CssClass="ml-2" Caption="Sequence Kode">
                                                    <h5>@postMaintainance.Sequence</h5>
                                                </DxFormLayoutItem>
                                            </DxFormLayout>
                                            <DxFormLayout CssClass="w-100">
                                                <DxFormLayoutItem CaptionCssClass="normal-caption" CssClass="ml-2" ColSpanMd="12" Caption="Title">
                                                    <MyTextBox @bind-Text="@postMaintainance.Title"
                                                               NullText="Input Title..."
                                                               ReadOnly="@(postMaintainance.Id != 0 && postMaintainance.Status != EnumStatusMaintainance.Request)"
                                                               ShowValidationIcon="true" />
                                                    <ValidationMessage For="@(()=>postMaintainance.Title)"></ValidationMessage>
                                                </DxFormLayoutItem>
                                            </DxFormLayout>
                                            <div class="col-md-6">
                                                <DxFormLayout CssClass="mt w-100">

                                                    <DxFormLayoutItem CaptionCssClass="normal-caption" ColSpanMd="12" Caption="Request By">
                                                        <MyDxComboBox Data="@getRequestBy"
                                                                      NullText="Select Request By.."
                                                                      @ref="refRequestByComboBox"
                                                                      @bind-Value="@postMaintainance.RequestById"
                                                                      TextFieldName="Name"
                                                                      ReadOnly="@(postMaintainance.Id != 0 && postMaintainance.Status != EnumStatusMaintainance.Request)"
                                                                      ValueFieldName="Id"
                                                                      TextChanged="((string e) => OnInputRequestByChanged(e))">
                                                            <Buttons>
                                                                <DxEditorButton Click="OnSearchRequestByIndexDecrement"
                                                                                IconCssClass="fa-solid fa-caret-left"
                                                                                Tooltip="Previous Index" />
                                                                <DxEditorButton Click="OnSearchRequestBy"
                                                                                IconCssClass="fa-solid fa-magnifying-glass"
                                                                                Tooltip="Search" />
                                                                <DxEditorButton Click="OnSearchRequestByIndexIncrement"
                                                                                IconCssClass="fa-solid fa-caret-right"
                                                                                Tooltip="Next Index" />
                                                            </Buttons>
                                                            <Columns>
                                                                <DxListEditorColumn FieldName="@nameof(User.Name)" Caption="Name" />
                                                                @* <DxListEditorColumn FieldName="@nameof(Locations.Type)" Caption="Code" /> *@
                                                            </Columns>
                                                        </MyDxComboBox>
                                                    </DxFormLayoutItem>
                                                    <DxFormLayoutItem CaptionCssClass="normal-caption" ColSpanMd="12" Caption="Request Date">
                                                        <DxDateEdit @bind-Date="@postMaintainance.RequestDate" DisplayFormat="dd MMMM yyyy" ReadOnly="@(postMaintainance.Id != 0 && postMaintainance.Status != EnumStatusMaintainance.Request)"></DxDateEdit>
                                                    </DxFormLayoutItem>
                                                    <DxFormLayoutItem CaptionCssClass="normal-caption" ColSpanMd="12" Caption="Location">
                                                        <MyDxComboBox Data="@getLocation"
                                                                      NullText="Select Location"
                                                                      @ref="refLocationComboBox"
                                                                      @bind-Value="@postMaintainance.LocationId"
                                                                      TextFieldName="Name"
                                                                      ReadOnly="@(postMaintainance.Id != 0 && postMaintainance.Status != EnumStatusMaintainance.Request)"
                                                                      ValueFieldName="Id"
                                                                      TextChanged="((string e) => OnInputLocationChanged(e))">
                                                            <Buttons>
                                                                <DxEditorButton Click="OnSearchLocationIndexDecrement"
                                                                                IconCssClass="fa-solid fa-caret-left"
                                                                                Tooltip="Previous Index" />
                                                                <DxEditorButton Click="OnSearchLocation"
                                                                                IconCssClass="fa-solid fa-magnifying-glass"
                                                                                Tooltip="Search" />
                                                                <DxEditorButton Click="OnSearchLocationIndexIncrement"
                                                                                IconCssClass="fa-solid fa-caret-right"
                                                                                Tooltip="Next Index" />
                                                            </Buttons>
                                                            <Columns>
                                                                <DxListEditorColumn FieldName="@nameof(Locations.Name)" Caption="Name" />
                                                                <DxListEditorColumn FieldName="@nameof(Locations.Type)" Caption="Code" />
                                                            </Columns>
                                                        </MyDxComboBox>
                                                    </DxFormLayoutItem>
                                                    <DxFormLayoutItem CaptionCssClass="normal-caption" ColSpanMd="12" Caption="Maintainance By">
                                                        <DxCheckBox Checked="postMaintainance.isInternal"
                                                                    CheckedExpression="@(()=>postMaintainance.isInternal)"
                                                                    CssClass="w-100"
                                                                    ReadOnly="@(postMaintainance.Id != 0 && postMaintainance.Status != EnumStatusMaintainance.Request)"
                                                                    CheckedChanged="@((bool value)=>unCheckIN(value))">
                                                            <div class="normal-caption">
                                                                Internal
                                                            </div>
                                                        </DxCheckBox>
                                                        <div class="row">
                                                            <div class="col-md-4">
                                                                <DxCheckBox Checked="@postMaintainance.isExternal"
                                                                            CssClass="w-100"
                                                                            ReadOnly="@(postMaintainance.Id != 0 && postMaintainance.Status != EnumStatusMaintainance.Request)"
                                                                            CheckedExpression="@(()=>postMaintainance.isExternal)"
                                                                            CheckedChanged="@((bool value)=>unCheckEX(value))">
                                                                    <div class="normal-caption">
                                                                        External
                                                                    </div>
                                                                </DxCheckBox>
                                                            </div>
                                                            @if (postMaintainance.isExternal)
                                                            {
                                                                <div class="col-md-8">
                                                                    <MyTextBox @bind-Text="@postMaintainance.VendorBy" ReadOnly="@(postMaintainance.Id != 0 && postMaintainance.Status != EnumStatusMaintainance.Request)" NullText="Vendor By" />
                                                                </div>
                                                            }
                                                        </div>
                                                    </DxFormLayoutItem>

                                                </DxFormLayout>
                                            </div>
                                            <div class="col-md-6">
                                                <DxFormLayout CssClass="mt w-100">
                                                    <DxFormLayoutItem CaptionCssClass="normal-caption" ColSpanMd="12" Caption="Responsible">
                                                        <MyDxComboBox Data="@getResponsibleBy"
                                                                      NullText="select Responsible..."
                                                                      @bind-Value="@postMaintainance.ResponsibleById"
                                                                      ReadOnly="@(postMaintainance.Id != 0 && postMaintainance.Status != EnumStatusMaintainance.Request)"
                                                                      TextFieldName="Name"
                                                                      ValueFieldName="Id"></MyDxComboBox>
                                                    </DxFormLayoutItem>
                                                    <DxFormLayoutItem CaptionCssClass="normal-caption" ColSpanMd="12" Caption="Schedule Date">
                                                        <DxDateEdit @bind-Date="@postMaintainance.ScheduleDate" DisplayFormat="dd MMMM yyyy" ReadOnly="@(postMaintainance.Id != 0 && postMaintainance.Status != EnumStatusMaintainance.Request)"></DxDateEdit>
                                                    </DxFormLayoutItem>
                                                    <DxFormLayoutItem CaptionCssClass="normal-caption" ColSpanMd="12" Caption="Maintainance Type">
                                                        <DxCheckBox Checked="postMaintainance.isCorrective"
                                                                    CheckedExpression="@(()=>postMaintainance.isCorrective)"
                                                                    CssClass="w-100"
                                                                    ReadOnly="@(postMaintainance.Id != 0 && postMaintainance.Status != EnumStatusMaintainance.Request)"
                                                                    CheckedChanged="@((bool value)=>unCheckCR(value))">
                                                            <div class="normal-caption">
                                                                Corrective
                                                            </div>
                                                        </DxCheckBox>
                                                        <DxCheckBox Checked="@postMaintainance.isPreventive"
                                                                    CssClass="w-100"
                                                                    ReadOnly="@(postMaintainance.Id != 0 && postMaintainance.Status != EnumStatusMaintainance.Request)"
                                                                    CheckedExpression="@(()=>postMaintainance.isPreventive)"
                                                                    CheckedChanged="@((bool value)=>unCheckPR(value))">
                                                            <div class="normal-caption">
                                                                Preventive
                                                            </div>
                                                        </DxCheckBox>
                                                    </DxFormLayoutItem>
                                                    @if (postMaintainance.isPreventive)
                                                    {
                                                        <DxFormLayoutItem CaptionCssClass="normal-caption" Caption="Recurrent" ColSpanMd="12">
                                                            <DxCheckBox Checked="postMaintainance.Recurrent"
                                                                        CheckedExpression="@(()=>postMaintainance.Recurrent)"
                                                                        CheckedChanged="@((bool value)=>unCheckRE(value))"
                                                                        ReadOnly="@(postMaintainance.Id != 0 && postMaintainance.Status != EnumStatusMaintainance.Request)"
                                                                        CssClass="w-100">
                                                            </DxCheckBox>
                                                        </DxFormLayoutItem>
                                                    }
                                                    @if (postMaintainance.Recurrent)
                                                    {
                                                        var aa = postMaintainance.Recurrent;
                                                        <DxFormLayoutItem CaptionCssClass="normal-caption" ColSpanMd="12" Caption="Repeat Every">
                                                            <div class="row">
                                                                <div class="col-md-3">
                                                                    <DxSpinEdit @bind-Value="@postMaintainance.RepeatNumber" NullText="Number" ReadOnly="@(postMaintainance.Id != 0 && postMaintainance.Status != EnumStatusMaintainance.Request)" />
                                                                </div>
                                                                <div class="col-md-9">
                                                                    <MyDxComboBox Data="@RepeatWork" @bind-Value="@postMaintainance.RepeatWork" ReadOnly="@(postMaintainance.Id != 0 && postMaintainance.Status != EnumStatusMaintainance.Request)"></MyDxComboBox>
                                                                </div>
                                                            </div>
                                                        </DxFormLayoutItem>
                                                    }
                                                </DxFormLayout>
                                            </div>
                                        </div>
                                        @if (postMaintainance.Id != 0)
                                        {
                                            <DxFormLayout CssClass="w-100">
                                                <DxFormLayoutItem CaptionCssClass=" required-caption" Context="ItemContext" CaptionPosition="CaptionPosition.Vertical" ColSpanMd="12">
                                                    <Template>
                                                        <DxLoadingPanel @bind-Visible="PanelVisible"
                                                                        IsContentBlocked="true"
                                                                        ApplyBackgroundShading="true"
                                                                        IndicatorAreaVisible="true"
                                                                        Text="Fetching Data...">
                                                            <MyGridPaginate @ref="Grid"
                                                                            Data="getMaintainanceProduct"
                                                                            @bind-SelectedDataItems="@SelectedDataItems"
                                                                            EditModelSaving="OnSaveProduct"
                                                                            DataItemDeleting="DeleteProduct"
                                                                            FocusedRowChanged="Grid_FocusedRowChanged"
                                                                            SearchTextChanged="OnSearchBoxChanged"
                                                                            KeyFieldName="Id">
                                                                <ToolbarTemplate>
                                                                    <MyDxToolbarBase TItem="MaintainanceProductDto"
                                                                                     Items="@getMaintainanceProduct"
                                                                                     SelectedDataItems="@SelectedDataItems"
                                                                                     NewItem_Click="@NewItem_Click"
                                                                                     EditItem_Click="@(()=>EditItem_Click(context.Grid))"
                                                                                     DeleteItem_Click="@DeleteItem_Click"
                                                                                     Refresh_Click="@Refresh_Click"
                                                                                     IsImport="false"
                                                                                     VisibleNew="UserAccessCRUID.IsCreate"
                                                                                     VisibleEdit="UserAccessCRUID.IsUpdate"
                                                                                     VisibleDelete="UserAccessCRUID.IsDelete" />
                                                                </ToolbarTemplate>
                                                                <Columns>
                                                                    <DxGridSelectionColumn Width="15px" />
                                                                    <DxGridDataColumn FieldName="Product.Name" Caption="Product Name" SortIndex="0" />
                                                                    <DxGridDataColumn FieldName="SerialNumber" Caption="Serial Number" />
                                                                    <DxGridDataColumn FieldName="expired" Caption="Expired" />
                                                                    <DxGridDataColumn FieldName="Note" Caption="note" />
                                                                </Columns>
                                                                <EditFormTemplate Context="EditFormContextt">
                                                                    @{
                                                                        var a = (MaintainanceProductDto)EditFormContextt.EditModel;
                                                                    }
                                                                    <div class="row">
                                                                        <div class="col-6">
                                                                            <DxFormLayout CssClass="w-100">
                                                                                <DxFormLayoutItem CaptionCssClass="normal-caption" ColSpanMd="12" Caption="Product Name">
                                                                                    <MyDxComboBox Data="@getProduct"
                                                                                                  NullText="Select Product..."
                                                                                                  @ref="refProductsComboBox"
                                                                                                  @bind-Value="@postMaintainanceProduct.ProductId"
                                                                                                  TextFieldName="Name"
                                                                                                  ValueFieldName="Id"
                                                                                                  SelectedItemChanged="((ProductDto value)=>selectByProduct(value))"
                                                                                                  TextChanged="((string e) => OnInputProductsChanged(e))">
                                                                                        <Buttons>
                                                                                            <DxEditorButton Click="OnSearchProductsIndexDecrement"
                                                                                                            IconCssClass="fa-solid fa-caret-left"
                                                                                                            Tooltip="Previous Index" />
                                                                                            <DxEditorButton Click="OnSearchProducts"
                                                                                                            IconCssClass="fa-solid fa-magnifying-glass"
                                                                                                            Tooltip="Search" />
                                                                                            <DxEditorButton Click="OnSearchProductsIndexIncrement"
                                                                                                            IconCssClass="fa-solid fa-caret-right"
                                                                                                            Tooltip="Next Index" />
                                                                                        </Buttons>
                                                                                        <Columns>
                                                                                            <DxListEditorColumn FieldName="@nameof(ProductDto.Name)" Caption="Name" />
                                                                                            <DxListEditorColumn FieldName="@nameof(ProductDto.Brand)" Caption="Brand" />
                                                                                        </Columns>
                                                                                    </MyDxComboBox>
                                                                                </DxFormLayoutItem>
                                                                                <DxFormLayoutItem Caption="Batch" CaptionCssClass="normal-caption" ColSpanMd="12">
                                                                                    <MyDxComboBox Data="@Batch"
                                                                                                  NullText="Select Batch..."
                                                                                                  @bind-Value="@postMaintainanceProduct.SerialNumber"></MyDxComboBox>
                                                                                </DxFormLayoutItem>
                                                                                <DxFormLayoutItem Caption="current Expiry Date" CaptionCssClass="normal-caption" ColSpanMd="12">
                                                                                    <DxDateEdit @bind-Date="@currentExpiryDate" ReadOnly></DxDateEdit>
                                                                                </DxFormLayoutItem>
                                                                            </DxFormLayout>
                                                                        </div>
                                                                        <div class="col-6">
                                                                            <DxFormLayout CssClass="w-100">
                                                                                <DxFormLayoutItem Caption="current Expiry Date" CaptionCssClass="normal-caption" ColSpanMd="12">
                                                                                    <DxDateEdit @bind-Date="@postMaintainanceProduct.Expired" ReadOnly></DxDateEdit>
                                                                                </DxFormLayoutItem>
                                                                                <DxFormLayoutItem Caption="Note" CaptionCssClass="normal-caption" ColSpanMd="12">
                                                                                    <DxMemo @bind-Text="@postMaintainanceProduct.Note" NullText="Entri Note Here..."></DxMemo>
                                                                                </DxFormLayoutItem>

                                                                            </DxFormLayout>
                                                                        </div>
                                                                    </div>
                                                                </EditFormTemplate>
                                                            </MyGridPaginate>
                                                        </DxLoadingPanel>
                                                    </Template>
                                                </DxFormLayoutItem>
                                            </DxFormLayout>
                                        }

                                    </EditForm>
                                </div>
                            </div>
                        </DxLoadingPanel>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
else if (UserAccessCRUID is not null && !UserAccessCRUID.IsRead)
{
    <InvalidPermissionPage />
}
else
{
    <LoadingIndicatorLayout />
}
