@page "/inventory/maintainance-history/{PageMode}"
@rendermode InteractiveServer

<PageTitle>@Helper.APP_NAME - Product</PageTitle>

@if (IsAccess && UserAccessCRUID is not null && (UserAccessCRUID.IsCreate || UserAccessCRUID.IsUpdate))
{
    <div class="wrapper">
        <BaseHeaderPage Title="Group" OnClickBack="@(async () => NavigationManager.NavigateTo("inventory/products"))" ShowBackButton="true" />
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="fw-bolder"> @NameProduct</h4>
                            </div>
                            <DxLoadingPanel @bind-Visible="PanelVisible"
                                            IsContentBlocked="true"
                                            ApplyBackgroundShading="true"
                                            IndicatorAreaVisible="true"
                                            Text="Fetching Data...">
                                <MyGrid @ref="Grid"
                                        Data="@GetMaintainances"
                                        FocusedRowEnabled="false"
                                        KeyFieldName="Id"
                                        AllowSelectRowByClick="false">
                                    <ToolbarTemplate>
                                        <DxToolbar ItemRenderStyleMode="ToolbarRenderStyleMode.Plain">
                                            <DxToolbarItem BeginGroup="true" Text="Back To Product" Click="Back_Click" IconCssClass="fa-solid fa-arrow-left" />
                                            <DxToolbarItem BeginGroup="true" Text="Refresh" Click="Refresh_Click" IconCssClass="fa-solid fa-arrows-rotate" />
                                        </DxToolbar>
                                    </ToolbarTemplate>
                                    <Columns>
                                        <DxGridDataColumn FieldName="Title" Caption="Subject" />
                                        <DxGridDataColumn FieldName="RequestBy.Name" Caption="Employee" />
                                        <DxGridDataColumn FieldName="ResponsibleBy.Name" Caption="Technical" />
                                        <DxGridDataColumn FieldName="SerialNumber" Caption="Batch" GroupIndex="0" />
                                        <DxGridDataColumn FieldName="Equipment.Name" Caption="Brand" />
                                        <DxGridDataColumn FieldName="RequestDate" DisplayFormat="dd MMMM yyyy" Caption="Schedule Date" />
                                        <DxGridDataColumn FieldName="Status" Caption="Status">
                                            <CellDisplayTemplate>
                                                @((MarkupString)GetIssueStatusIconHtmlMaintainance((context.DataItem as MaintainanceDto).Status))
                                            </CellDisplayTemplate>
                                        </DxGridDataColumn>
                                    </Columns>
                                </MyGrid>
                            </DxLoadingPanel>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
}