@page "/bpjs-integration/diagnoses"
@rendermode InteractiveAuto

<PageTitle>McHealthCare - Diagnosis</PageTitle>

@if (!IsLoading)
{
    <div class="wrapper">
        <McDermott.Web.Components.Layout.BaseContentHeaderLayout Title="Diagnosis" />

        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col">
                        <div class="card">
                            <div class="card-body">
                                <DxFormLayout CssClass="w-100">
                                    <DxFormLayoutItem Caption="Diagnosis" CaptionCssClass="normal-caption required-caption" ColSpanMd="6">
                                        <DxEditorButton IconCssClass="fa-solid fa-magnifying-glass" />

                                        <DxMaskedInput NullText="Type Code or Diagnosa"
                                                       @bind-Value="Diagnosa"
                                                       @ref="refDiagnosa"
                                                       
                                                       ShowValidationIcon="true"
                                                       ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto">
                                            <Buttons>
                                                <DxEditorButton Click="OnSearchDiagnosis"
                                                                Tooltip="Search Diagnosa"
                                                                IconCssClass="fa-solid fa-magnifying-glass" />
                                            </Buttons>
                                        </DxMaskedInput>
                                    </DxFormLayoutItem>

                                    <DxFormLayoutItem Context="ItemContexxt" ColSpanMd="12">
                                        <DxLoadingPanel @bind-Visible="PanelVisible"
                                                        IndicatorAnimationType="WaitIndicatorAnimationType.Pulse"
                                                        IsContentBlocked="true"
                                                        ApplyBackgroundShading="true"
                                                        IndicatorAreaVisible="false"
                                                        Text="Fetching Data...">
                                            <DxGrid @ref="Grid"
                                                    Data="@_diagnosisBPJSIntegrationTemp"
                                                    PagerVisible="true"
                                                    KeyFieldName="Code"
                                                    PagerNavigationMode="PagerNavigationMode.InputBox"
                                                    TextWrapEnabled="false"
                                                    FilterMenuButtonDisplayMode="GridFilterMenuButtonDisplayMode.Always"
                                                    PageSizeSelectorVisible="true"
                                                    PagerPosition="GridPagerPosition.Bottom"
                                                    EditorRenderMode="GridEditorRenderMode.Detached"
                                                    PageIndex="@parameter1"
                                                    PageSize="@parameter2"
                                                    ShowGroupPanel="true"
                                                    CustomizeElement="GridExtention.Grid_CustomizeElement"
                                                    AutoExpandAllGroupRows="true"
                                                    ShowFilterRow="true"
                                                    KeyboardNavigationEnabled="true"
                                                    ShowSearchBox="true"
                                                    PageIndexChanged="HandlePageIndexChanged"
                                                    PageSizeChanged="HandlePageSizeChanged">
                                                <ToolbarTemplate>
                                                    <DxToolbar ItemRenderStyleMode="ToolbarRenderStyleMode.Contained">
                                                        <DxToolbarItem BeginGroup="true" Text="Refresh" Click="LoadData" IconCssClass="fa-solid fa-arrows-rotate" />
                                                        <DxToolbarItem Text="Column Chooser" Click="ColumnChooserButton_Click" BeginGroup="true" IconCssClass="fa-solid fa-table-columns" />
                                                        <DxToolbarItem Text="Export" BeginGroup="true" IconCssClass="fa-solid fa-file-export">
                                                            <Items>
                                                                <DxToolbarItem Text="To CSV" Click="ExportCsvItem_Click" />
                                                                <DxToolbarItem Text="To XLSX" Click="ExportXlsxItem_Click" />
                                                                <DxToolbarItem Text="To XLS" Click="ExportXlsItem_Click" />
                                                            </Items>
                                                        </DxToolbarItem>
                                                    </DxToolbar>
                                                </ToolbarTemplate>
                                                <Columns>
                                                    <DxGridDataColumn MinWidth="200" FieldName="@nameof(DiagnosisBPJSIntegrationTemp.KdDiag)" Caption="Code" />
                                                    <DxGridDataColumn MinWidth="200" FieldName="@nameof(DiagnosisBPJSIntegrationTemp.NmDiag)" Caption="Diagnosis" />
                                                    <DxGridDataColumn MinWidth="200" FieldName="@nameof(DiagnosisBPJSIntegrationTemp.NonSpesialis)" Caption="Non Spesialis" />
                                                </Columns>
                                            </DxGrid>
                                        </DxLoadingPanel>
                                    </DxFormLayoutItem>
                                </DxFormLayout>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
}
else
{
    <div class="wrapper">
        <McDermott.Web.Components.Layout.BaseContentHeaderLayout Title="Diagnosis" />

        <LoadingIndicatorLayout></LoadingIndicatorLayout>
    </div>
}