@page "/bpjs-integration/drugs"
@rendermode InteractiveAuto

<PageTitle>McHealthCare - Obat</PageTitle>

@if (!IsLoading)
{
    <div class="wrapper">
        <McDermott.Web.Components.Layout.BaseContentHeaderLayout Title="Drug" />

        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col">
                        <div class="card">
                            <div class="card-body">
                                <DxFormLayout CssClass="w-100">
                                    <DxFormLayoutItem Caption="Drug" CaptionCssClass="normal-caption required-caption" ColSpanMd="6">
                                        <DxComboBox Data="@Products"
                                                    NullText="Select Drug..."
                                                    @bind-Value="@SelectedProduct"
                                                    SelectedItemChanged="@((ProductDto req)=> SelectChangeProduct(req))"
                                                    FilteringMode="DataGridFilteringMode.Contains"
                                                    EditFormat="{0} {1}">
                                            <Columns>
                                                <DxListEditorColumn FieldName="@nameof(ProductDto.Name)"
                                                                    Caption="Name" />
                                                <DxListEditorColumn FieldName="@nameof(ProductDto.InternalReference)"
                                                                    Caption="Internal Reference" />
                                            </Columns>
                                        </DxComboBox>

                                    </DxFormLayoutItem>

                                    <DxFormLayoutItem Context="ItemContexxt" ColSpanMd="12">
                                        <DxLoadingPanel @bind-Visible="PanelVisible"
                                                        IndicatorAnimationType="WaitIndicatorAnimationType.Pulse"
                                                        IsContentBlocked="true"
                                                        ApplyBackgroundShading="true"
                                                        IndicatorAreaVisible="false"
                                                        Text="Fetching Data...">
                                            <DxGrid @ref="Grid"
                                                    Data="@_ObatBPJSIntegrationTemp"
                                                    PagerVisible="true"
                                                    KeyFieldName="Code"
                                                    PagerNavigationMode="PagerNavigationMode.InputBox"
                                                    TextWrapEnabled="false"
                                                    FilterMenuButtonDisplayMode="GridFilterMenuButtonDisplayMode.Always"
                                                    PageSizeSelectorVisible="true"
                                                    PagerPosition="GridPagerPosition.Bottom"
                                                    EditorRenderMode="GridEditorRenderMode.Detached"
                                                    PageIndex="@parameter1"
                                                    PageSize="@parameter2"
                                                    ShowGroupPanel="true"
                                                    CustomizeElement="GridExtention.Grid_CustomizeElement"
                                                    AutoExpandAllGroupRows="true"
                                                    ShowFilterRow="true"
                                                    KeyboardNavigationEnabled="true"
                                                    ShowSearchBox="true"
                                                    PageIndexChanged="HandlePageIndexChanged"
                                                    PageSizeChanged="HandlePageSizeChanged">
                                                <ToolbarTemplate>
                                                    <DxToolbar ItemRenderStyleMode="ToolbarRenderStyleMode.Contained">
                                                        <DxToolbarItem BeginGroup="true" Text="Refresh" Click="LoadData" IconCssClass="fa-solid fa-arrows-rotate" />
                                                        <DxToolbarItem Text="Column Chooser" Click="ColumnChooserButton_Click" BeginGroup="true" IconCssClass="fa-solid fa-table-columns" />
                                                        <DxToolbarItem Text="Export" BeginGroup="true" IconCssClass="fa-solid fa-file-export">
                                                            <Items>
                                                                <DxToolbarItem Text="To CSV" Click="ExportCsvItem_Click" />
                                                                <DxToolbarItem Text="To XLSX" Click="ExportXlsxItem_Click" />
                                                                <DxToolbarItem Text="To XLS" Click="ExportXlsItem_Click" />
                                                            </Items>
                                                        </DxToolbarItem>
                                                    </DxToolbar>
                                                </ToolbarTemplate>
                                                <Columns>
                                                    <DxGridDataColumn MinWidth="200" FieldName="@nameof(ObatBPJSIntegrationTemp.KdObat)" Caption="Code" />
                                                    <DxGridDataColumn MinWidth="200" FieldName="@nameof(ObatBPJSIntegrationTemp.NmObat)" Caption="Drug" />
                                                    <DxGridDataColumn MinWidth="200" FieldName="@nameof(ObatBPJSIntegrationTemp.Sedia)" Caption="Sedia" />
                                                </Columns>
                                            </DxGrid>
                                        </DxLoadingPanel>
                                    </DxFormLayoutItem>
                                </DxFormLayout>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
}
else
{
    <div class="wrapper">
        <McDermott.Web.Components.Layout.BaseContentHeaderLayout Title="Diagnosis" />

        <LoadingIndicatorLayout></LoadingIndicatorLayout>
    </div>
}