@page "/medical/lab-tests"

@rendermode InteractiveServer

<PageTitle>McHealthCare - Lab Test</PageTitle>

@if (IsAccess && UserAccessCRUID is not null && UserAccessCRUID.IsRead)
{
    <div class="wrapper">
        <BaseHeaderPage Title="Lab Test" OnClickBack="@(async () => NavigationManager.NavigateTo("medical/lab-tests"))" ShowBackButton="false" />

        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col">
                        <div class="card">
                            <InputFile id="fileInput" style="display:none" OnChange="@ImportExcelFile" accept=".xlsx" multiple="false"></InputFile>

                            <_BaseMyGrid @ref="Grid"
                                         Data="@Data"
                                         @bind-SelectedDataItems="@SelectedDataItems"
                                         DataItemDeleting="OnDelete"
                                         FocusedRowChanged="Grid_FocusedRowChanged"
                                         KeyFieldName="Id">

                                <ToolbarTemplate>
                                    <MyDxToolbarBase TItem="LabTestDto"
                                                     Items="@LabTests"
                                                     SelectedDataItems="@SelectedDataItems"
                                                     NewItem_Click="@NewItem_Click"
                                                     EditItem_Click="@EditItem_Click"
                                                     DeleteItem_Click="@DeleteItem_Click"
                                                     Refresh_Click="@Refresh_Click"
                                                     IsImport="UserAccessCRUID.IsImport"
                                                     Grid="Grid"
                                                     ImportFile="ImportFile"
                                                     ExportToExcel="ExportToExcel"
                                                     VisibleNew="UserAccessCRUID.IsCreate"
                                                     VisibleEdit="UserAccessCRUID.IsUpdate"
                                                     VisibleDelete="UserAccessCRUID.IsDelete" />
                                </ToolbarTemplate>
                                <Columns>
                                    <DxGridSelectionColumn Width="15px" />
                                    <DxGridDataColumn MinWidth="200" FieldName="Name" SortIndex="0" />
                                    <DxGridDataColumn MinWidth="200" FieldName="Code" SortIndex="0" />
                                    <DxGridDataColumn MinWidth="200" FieldName="SampleType.Name" Caption="Sample Type" SortIndex="0" />
                                    <DxGridDataColumn MinWidth="200" FieldName="ResultType" Caption="ResultType" SortIndex="0" />
                                </Columns>

                            </_BaseMyGrid>

                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
}
else if (UserAccessCRUID is not null && !UserAccessCRUID.IsRead)
{
    <InvalidPermissionPage />
}
else
{
    <LoadingIndicatorLayout />
}