@page "/pharmacy/active-components"
@rendermode InteractiveServer

<PageTitle>McHealthCare - Active Component</PageTitle>


@if (IsAccess && UserAccessCRUID is not null && UserAccessCRUID.IsRead)
{
    <div class="wrapper">

        <BaseHeaderPage Title="Active Component" OnClickBack="@(async () => await LoadData())" ShowBackButton="false" />

        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col">
                        <div class="card">
                            <InputFile id="fileInput" style="display:none" OnChange="@ImportExcelFile" accept=".xlsx" multiple="false"></InputFile>

                            <DxLoadingPanel @bind-Visible="PanelVisible"
                                            IsContentBlocked="true"
                                            ApplyBackgroundShading="true"
                                            IndicatorAreaVisible="true"
                                            Text="Fetching Data...">

                                <MyGridPaginate @ref="Grid"
                                                Data="ActiveComponents"
                                                PageSize="10"
                                                @bind-SelectedDataItems="@SelectedDataItems"
                                                KeyFieldName="Id"
                                                EditModelSaving="OnSave"
                                                DataItemDeleting="OnDelete"
                                                FocusedRowChanged="Grid_FocusedRowChanged">

                                    <ToolbarTemplate>
                                        <MyDxToolbarBase TItem="ActiveComponentDto"
                                                         Items="@ActiveComponents"
                                                         SelectedDataItems="@SelectedDataItems"
                                                         NewItem_Click="@NewItem_Click"
                                                         EditItem_Click="@EditItem_Click"
                                                         DeleteItem_Click="@DeleteItem_Click"
                                                         Refresh_Click="(async () => await LoadData())"
                                                         IsImport="UserAccessCRUID.IsImport"
                                                         Grid="Grid"
                                                         ImportFile="ImportFile"
                                                         ExportToExcel="ExportToExcel"
                                                         VisibleNew="UserAccessCRUID.IsCreate"
                                                         VisibleEdit="UserAccessCRUID.IsUpdate"
                                                         VisibleDelete="UserAccessCRUID.IsDelete" />
                                    </ToolbarTemplate>

                                    <Columns>
                                        <DxGridSelectionColumn Width="15px" />
                                        <DxGridDataColumn FieldName="Name" SortIndex="0" />
                                        <DxGridDataColumn FieldName="AmountOfComponent" Caption="Amount Of Component" />
                                        <DxGridDataColumn FieldName="Uom.Name" Caption="Unit of Measure" />

                                    </Columns>
                                    <EditFormTemplate Context="EditFormContext">
                                        @{
                                            var a = (ActiveComponentDto)EditFormContext.EditModel;
                                        }
                                        <DxFormLayout CssClass="w-100">

                                            <DxFormLayoutItem CaptionCssClass="required-caption normal-caption" Caption="Name" ColSpanMd="12">
                                                <MyTextBox @bind-Text="@a.Name"
                                                           NullText="Name" />
                                                <ValidationMessage For="@(()=> a.Name)"   />
                                            </DxFormLayoutItem>

                                            <DxFormLayoutItem CaptionCssClass="normal-caption" Caption="Amount of Component" ColSpanMd="12">
                                                <DxSpinEdit @bind-Value="@a.AmountOfComponent"
                                                            NullText="Amount of Component..."
                                                            MinValue="1"
                                                            ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
                                                            BindValueMode="BindValueMode.OnInput" />
                                                <ValidationMessage For="@(()=> a.AmountOfComponent)"   />
                                            </DxFormLayoutItem>

                                            <DxFormLayoutItem CaptionCssClass="required-caption normal-caption" Caption="Uom" ColSpanMd="12">
                                                <MyDxComboBox Data="@Uoms"
                                                              NullText="Select Uom"
                                                              @ref="refUomComboBox"
                                                              @bind-Value="@a.UomId"
                                                              TextFieldName="Name"
                                                              ValueFieldName="Id"
                                                              TextChanged="((string e) => OnInputUomChanged(e))">
                                                    <Buttons>
                                                        <DxEditorButton Click="OnSearchUomIndexDecrement"
                                                                        IconCssClass="fa-solid fa-caret-left"
                                                                        Tooltip="Previous Index" />
                                                        <DxEditorButton Click="OnSearchUom"
                                                                        IconCssClass="fa-solid fa-magnifying-glass"
                                                                        Tooltip="Search" />
                                                        <DxEditorButton Click="OnSearchUomIndexIncrement"
                                                                        IconCssClass="fa-solid fa-caret-right"
                                                                        Tooltip="Next Index" />
                                                    </Buttons>
                                                    <Columns>
                                                        <DxListEditorColumn FieldName="Name" Caption="Name" />
                                                        <DxListEditorColumn FieldName="UomCategory.Name" Caption="Category" />
                                                        <DxListEditorColumn FieldName="BiggerRatio" Caption="Bigger Ratio" />
                                                        <DxListEditorColumn FieldName="Type" />
                                                        <DxListEditorColumn FieldName="Active" />
                                                        <DxListEditorColumn FieldName="RoundingPrecision" Caption="Rounding Precision" />
                                                    </Columns>
                                                </MyDxComboBox>
                                                <ValidationMessage For="@(()=>a.UomId)" />
                                            </DxFormLayoutItem>
                                        </DxFormLayout>
                                    </EditFormTemplate>
                                    <TotalSummary>
                                        <DxGridSummaryItem SummaryType="GridSummaryItemType.Count"
                                                           FieldName="Name"
                                                           Visible="true" />
                                    </TotalSummary>
                                </MyGridPaginate>
                                <div class="row">
                                    <DxFormLayout>
                                        <div class="col-md-9">
                                            <DxFormLayoutItem>
                                                <DxPager PageCount="totalCount"
                                                         ActivePageIndexChanged="OnPageIndexChanged"
                                                         ActivePageIndex="activePageIndex"
                                                         VisibleNumericButtonCount="10"
                                                         SizeMode="SizeMode.Medium"
                                                         NavigationMode="PagerNavigationMode.Auto">
                                                </DxPager>
                                            </DxFormLayoutItem>
                                        </div>
                                        <div class="col-md-3 d-flex justify-content-end">
                                            <DxFormLayoutItem Caption="Page Size:">
                                                <MyDxComboBox Data="(new[] { 10, 25, 50, 100 })"
                                                              NullText="Select Page Size"
                                                              ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Never"
                                                              SelectedItemChanged="((int e ) => OnPageSizeIndexChanged(e))"
                                                              @bind-Value="pageSize">
                                                </MyDxComboBox>
                                            </DxFormLayoutItem>
                                        </div>
                                    </DxFormLayout>
                                </div>
                            </DxLoadingPanel>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
}
else if (UserAccessCRUID is not null && !UserAccessCRUID.IsRead)
{
    <InvalidPermissionPage />
}
else
{
    <LoadingIndicatorLayout />
}