@page "/pharmacy/medicine-dosages"
@rendermode InteractiveServer

<PageTitle>McHealthCare - Regimen of Use</PageTitle>

@if (IsAccess)
{
    <div class="wrapper">

        <McDermott.Web.Components.Layout.BaseContentHeaderLayout Title="Medicine Dosage" />

        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col">
                        <div class="card">
                            <div class="card-body">
                                <DxLoadingPanel @bind-Visible="PanelVisible"
                                                IsContentBlocked="true"
                                                ApplyBackgroundShading="true"
                                                IndicatorAreaVisible="true"
                                                Text="Fetching Data...">

                                    <MyGridPaginate @ref="Grid"
                                                    Data="GetDrugDosages"
                                                    @bind-SelectedDataItems="@SelectedDataItems"
                                                    EditModelSaving="OnSave"
                                                    DataItemDeleting="OnDelete"
                                                    SearchTextChanged="OnSearchBoxChanged"
                                                    FocusedRowChanged="Grid_FocusedRowChanged"
                                                    KeyFieldName="Id">
                                        <ToolbarTemplate>
                                            <MyDxToolbarBase TItem="DrugDosageDto"
                                                             Items="@GetDrugDosages"
                                                             SelectedDataItems="@SelectedDataItems"
                                                             NewItem_Click="@NewItem_Click"
                                                             EditItem_Click="@EditItem_Click"
                                                             DeleteItem_Click="@DeleteItem_Click"
                                                             Refresh_Click="@Refresh_Click"
                                                             Grid="Grid"
                                                             ImportFile="ImportFile"
                                                             ExportToExcel="ExportToExcel"
                                                             IsImport="UserAccessCRUID.IsImport"
                                                             VisibleNew="UserAccessCRUID.IsCreate"
                                                             VisibleEdit="UserAccessCRUID.IsUpdate"
                                                             VisibleDelete="UserAccessCRUID.IsDelete" />
                                        </ToolbarTemplate>
                                        <Columns>
                                            <DxGridSelectionColumn Width="15px" />
                                            <DxGridDataColumn MinWidth="200" FieldName="Frequency" SortIndex="0" />
                                            <DxGridDataColumn MinWidth="200" FieldName="DrugRoute.Route" Caption="Route" />
                                            <DxGridDataColumn MinWidth="100" FieldName="TotalQtyPerDay" Caption="Total Qty Per Day" />
                                            <DxGridDataColumn MinWidth="100" FieldName="Days" Caption="Days" />

                                        </Columns>
                                        <EditFormTemplate Context="EditFormContext">
                                            @{
                                                var a = (DrugDosageDto)EditFormContext.EditModel;
                                            }
                                            <DxFormLayout CssClass="w-100">

                                                <DxFormLayoutItem CaptionCssClass="required-caption normal-caption" Caption="Frequency" ColSpanMd="12">
                                                    <DxTextBox @bind-Text="@a.Frequency"
                                                               ShowValidationIcon="true"
                                                               ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
                                                               NullText="Frequency" />
                                                    <ValidationMessage For="@(()=> a.Frequency)"   />
                                                </DxFormLayoutItem>

                                                <DxFormLayoutItem CaptionCssClass="normal-caption" Caption="Route" ColSpanMd="12">
                                                    <DxComboBox ShowValidationIcon="true"
                                                                ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto" FilteringMode="@DataGridFilteringMode.Contains"
                                                                Data="@DrugRoutes"
                                                                NullText="Select Route..."
                                                                @bind-Value="@a.DrugRouteId"
                                                                TextFieldName="Route"
                                                                ValueFieldName="Id">
                                                    </DxComboBox>
                                                    <ValidationMessage For="@(()=>a.DrugRouteId)" />
                                                </DxFormLayoutItem>

                                                <DxFormLayoutItem CaptionCssClass="normal-caption" Caption="Total Qty Per Day" ColSpanMd="12">
                                                    <DxSpinEdit @bind-Value="@a.TotalQtyPerDay"
                                                                NullText="Total Qty Per Day..."
                                                                ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
                                                                BindValueMode="BindValueMode.OnInput" />
                                                    <ValidationMessage For="@(()=> a.TotalQtyPerDay)"   />
                                                </DxFormLayoutItem>

                                                <DxFormLayoutItem CaptionCssClass="normal-caption" Caption="Days" ColSpanMd="12">
                                                    <DxSpinEdit @bind-Value="@a.Days"
                                                                NullText="Days..."
                                                                ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
                                                                BindValueMode="BindValueMode.OnInput" />
                                                    <ValidationMessage For="@(()=> a.Days)"   />
                                                </DxFormLayoutItem>
                                            </DxFormLayout>
                                        </EditFormTemplate>
                                    </MyGridPaginate>
                                </DxLoadingPanel>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
}
else
{
    <div class="wrapper">
        <McDermott.Web.Components.Layout.BaseContentHeaderLayout Title="Regimen of Use" />

        <LoadingIndicatorLayout></LoadingIndicatorLayout>
    </div>
}