@page "/pharmacy/medicament-group"
@rendermode InteractiveServer

<PageTitle>Pharmacy - Medicament Group</PageTitle>
@if (IsAccess)
{
    <div class="wrapper">
        <McDermott.Web.Components.Layout.BaseContentHeaderLayout Title="Medicamen Group" />
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col">
                        <div class="card">
                            <div class="card-body">
                                @if (!showForm)
                                {
                                    <DxLoadingPanel @bind-Visible="PanelVisible"
                                                    IndicatorAnimationType="WaitIndicatorAnimationType.Pulse"
                                                    IsContentBlocked="true"
                                                    ApplyBackgroundShading="true"
                                                    IndicatorAreaVisible="false"
                                                    Text="Fetching Data...">
                                        <DxGrid @ref="Grid"
                                                PagerNavigationMode="PagerNavigationMode.InputBox"
                                                Data="medicamentGroups"
                                                PageSize="10"
                                                @bind-SelectedDataItems="@SelectedDataItems"
                                                FilterMenuButtonDisplayMode="GridFilterMenuButtonDisplayMode.Always"
                                                KeyFieldName="Id"
                                                CustomizeDataRowEditor="Grid_CustomizeDataRowEditor"
                                                EditorRenderMode="GridEditorRenderMode.Detached"
                                                DataItemDeleting="OnDelete"
                                                AllowSelectRowByClick="true"
                                                PagerPosition="GridPagerPosition.Bottom"
                                                PageSizeSelectorVisible="true"
                                                PageSizeSelectorItems="@(new int[] { 10, 20, 50, 100 })"
                                                PageSizeSelectorAllRowsItemVisible="true"
                                                PagerSwitchToInputBoxButtonCount="10"
                                                FocusedRowEnabled="true"
                                                PagerVisibleNumericButtonCount="10"
                                                FocusedRowChanged="Grid_FocusedRowChanged"
                                                ShowGroupPanel="true"
                                                AutoExpandAllGroupRows="true"
                                                ShowFilterRow="true"
                                                CustomizeElement="Grid_CustomizeElement"
                                                ShowSearchBox="true"
                                                SelectAllCheckboxMode="GridSelectAllCheckboxMode.Mixed"
                                                KeyboardNavigationEnabled="true">
                                            <ToolbarTemplate>
                                                <DxToolbar ItemRenderStyleMode="ToolbarRenderStyleMode.Plain">
                                                    <DxToolbarItem Visible="@UserAccessCRUID.Create" Text="New" Click="NewItem_Click" IconCssClass="fa-solid fa-plus" />
                                                    <DxToolbarItem Visible="@UserAccessCRUID.Update" Text="Edit" Click="EditItem_Click" IconCssClass="fa-solid fa-pen-to-square" Enabled="SelectedDataItems.Count > 0 && medicamentGroups.Count > 0" />
                                                    <DxToolbarItem Visible="@UserAccessCRUID.Delete" Text="Delete" Click="DeleteItem_Click" IconCssClass="fa-solid fa-trash" Enabled="SelectedDataItems.Count > 0 && medicamentGroups.Count > 0" />
                                                    <DxToolbarItem BeginGroup="true" Text="Refresh" Click="Refresh_Click" IconCssClass="fa-solid fa-arrows-rotate" />
                                                </DxToolbar>
                                            </ToolbarTemplate>
                                            <Columns>
                                                <DxGridSelectionColumn Width="15px" />
                                                <DxGridDataColumn FieldName="Name" Caption="Group Name" SortIndex="0" />
                                                <DxGridDataColumn FieldName="Phycisian.Name" Caption="Phycisian" />
                                            </Columns>
                                        </DxGrid>
                                    </DxLoadingPanel>
                                }
                                else
                                {
                                    <div class="card-header bg-primary">
                                        <div class="row">

                                            <div class="col">
                                                <h4 class="text-center">Add Medicament Group</h4>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <EditForm Model="MGFrom" Context="FormEditContext">
                                            <DataAnnotationsValidator />
                                            <DxFormLayout CssClass="mt">
                                                <DxFormLayoutItem Caption="Name" CaptionCssClass="required-caption normal-caption" ColSpanMd="12">
                                                    <DxTextBox @bind-Text="@MGFrom.Name"
                                                               ShowValidationIcon="true"
                                                               ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
                                                               NullText="Name" />
                                                </DxFormLayoutItem>

                                                <DxFormLayoutItem Caption="Is Concoction?" ColSpanMd="12">
                                                    <DxCheckBox @bind-Checked="@Checkin"
                                                                LabelPosition="LabelPosition.Left" CssClass="w-100" />
                                                </DxFormLayoutItem>
                                            </DxFormLayout>
                                            <DxFormLayout CssClass="mt">
                                                <div class="col-md-6">
                                                    <DxFormLayoutItem Caption="Phycisian" CaptionCssClass="normal-caption" ColSpanMd="12">
                                                        <DxComboBox Data="@Phy"
                                                                    @bind-Value="@MGFrom.PhycisianId"
                                                                    NullText="Select Phycisian ..."
                                                                    TextFieldName="Name"
                                                                    ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
                                                                    ShowValidationIcon="true"></DxComboBox>
                                                    </DxFormLayoutItem>

                                                </div>
                                                <div class="col-md-6 ">
                                                    @if (Concotions)
                                                    {
                                                        <DxFormLayoutItem Caption="Unit Of Dosage" CaptionCssClass="normal-caption mr-1" ColSpanMd="12">
                                                            <DxComboBox Data="@UoMs"
                                                                        @bind-Value="@MGFrom.RegimentOfUseId"
                                                                        NullText="Select Unit Of Dosage ..."
                                                                        TextFieldName="Name"
                                                                        ValueFieldName="Id"
                                                                        ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
                                                                        ShowValidationIcon="true"></DxComboBox>
                                                        </DxFormLayoutItem>
                                                        <DxFormLayoutItem Caption="From" CaptionCssClass="normal-caption mr-5" ColSpanMd="12">
                                                            <DxComboBox Data="@FormDrugs"
                                                                        @bind-Value="@MGFrom.FormDrugId"
                                                                        NullText="Select From ..."
                                                                        TextFieldName="Name"
                                                                        ValueFieldName="Id"
                                                                        ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
                                                                        ShowValidationIcon="true"></DxComboBox>
                                                        </DxFormLayoutItem>
                                                    }
                                                </div>
                                            </DxFormLayout>
                                            <hr />
                                            <DxGrid @ref="Grid"
                                                    Data="@medicamentGroups"
                                                    ShowGroupPanel="true"
                                                    ShowFilterRow="true"
                                                    TextWrapEnabled="false"
                                                    AutoExpandAllGroupRows="true"
                                                    EditorRenderMode="GridEditorRenderMode.Detached"
                                                    PagerNavigationMode="PagerNavigationMode.InputBox"
                                                    PageSizeSelectorVisible="true"
                                                    PageSizeSelectorAllRowsItemVisible="true"
                                                    PageSizeSelectorItems="@(new int[] { 5,10,20 })"
                                                    CustomizeFilterRowEditor="Grid_CustomizeFilterRowEditor"
                                                    KeyboardNavigationEnabled="KeyboardNavigationEnabled">
                                                <!-- Add this line -->
                                                <ToolbarTemplate>
                                                    <DxToolbar ItemRenderStyleMode="ToolbarRenderStyleMode.Plain">
                                                        <DxToolbarItem Text="New" Click="NewItemMedicamentGroupDetail_Click" IconCssClass="fa-solid fa-plus" />
                                                        <DxToolbarItem Text="Delete" Click="DeleteItemMedicamentGroupDetail_Click" IconCssClass="fa-solid fa-trash" />
                                                        <DxToolbarItem Text="Save" IconCssClass="fa-solid fa-floppy-disk" Click="SaveItemMedicamentGroupDetailGrid_Click" />
                                                        <DxToolbarItem Text="Cancel" IconCssClass="fa-solid fa-rotate-left" Click="CancelItemMedicamentGroupDetailGrid_Click" />
                                                    </DxToolbar>
                                                </ToolbarTemplate>
                                                <Columns>
                                                    <DxGridSelectionColumn Width="15px" />
                                                    <DxGridDataColumn MinWidth="200" FieldName="Name" Caption="Medicamen Name" SortIndex="0" />
                                                    <DxGridDataColumn MinWidth="200" FieldName="ActiveComponent.Name" Caption="Active Component" />
                                                    <DxGridDataColumn MinWidth="200" FieldName="ActiveComponent.Name" Caption="Medicament Dosage" />
                                                    <DxGridDataColumn MinWidth="200" FieldName="ActiveComponent.Name" Caption="Medicament Unit Of Dosage" />
                                                    @if (!Concotions)
                                                    {
                                                        @* <DxGridDataColumn MinWidth="200" FieldName="ActiveComponent.Name" Caption="Allow Substitution" /> *@
                                                        <DxGridDataColumn MinWidth="200" FieldName="ActiveComponent.Name" Caption="Dosage Frequency" />
                                                    }
                                                    <DxGridDataColumn MinWidth="200" FieldName="ActiveComponent.Name" Caption="Dosage" />
                                                    <DxGridDataColumn MinWidth="200" FieldName="ActiveComponent.Name" Caption="Unit Of Dosage" />
                                                    @if (!Concotions)
                                                    {
                                                        @* <DxGridDataColumn MinWidth="200" FieldName="ActiveComponent.Name" Caption="Qty Per Day" /> *@
                                                        <DxGridDataColumn MinWidth="200" FieldName="ActiveComponent.Name" Caption="Day" />
                                                    }
                                                    <DxGridDataColumn MinWidth="200" FieldName="ActiveComponent.Name" Caption="Total Qty" />
                                                    <DxGridDataColumn MinWidth="200" FieldName="ActiveComponent.Name" Caption="comment" />
                                                </Columns>
                                            </DxGrid>
                                        </EditForm>
                                    </div>
                                    <DxPopup @bind-Visible="@FormMedicaments" HeaderText="Add Detail Medicament Group">
                                        <EditForm Model="@FormMedicamenDetails" Context="FormEditContext">
                                            <DxFormLayout CssClass="mt w-100">
                                                <DxFormLayoutItem Caption="Medicines Name" ColSpanMd="12">
                                                    <DxTextBox @bind-Text="@FormMedicamenDetails.MedicaneName" NullText="select Medicane Name"></DxTextBox>
                                                </DxFormLayoutItem>
                                                <DxFormLayoutItem Caption="Active Component" ColSpanMd="12">
                                                    <DxTagBox Data="@ActiveComponents"
                                                              FilteringMode="@DataGridFilteringMode.Contains"
                                                              @bind-Values="@selectedActiveComponents"
                                                              NullText="Select Counter.."
                                                              ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
                                                              TextFieldName="Name" />
                                                </DxFormLayoutItem>
                                                <DxFormLayoutItem Caption="Medicines Dosage" ColSpanMd="12">
                                                    <DxTextBox @bind-Text="@FormMedicamenDetails.MedicaneDosage"></DxTextBox>
                                                    <ValidationMessage For="@(()=> FormMedicamenDetails.MedicaneDosage)" ) />
                                                </DxFormLayoutItem>
                                                <DxFormLayoutItem Caption="Medicines Unit Dosage" ColSpanMd="12">
                                                    <DxTextBox @bind-Text="@FormMedicamenDetails.MedicaneUnitDosage"></DxTextBox>
                                                </DxFormLayoutItem>
                                                @* <DxFormLayoutItem Caption="Allow Subtitutions" ColSpanMd="12">
                                                    <DxCheckBox @bind-Checked="@FormMedicamenDetails.AllowSubtitation"
                                                                LabelPosition="LabelPosition.Left" CssClass="w-100" />
                                                </DxFormLayoutItem> *@
                                                @if (!Concotions)
                                                {
                                                    <DxFormLayoutItem Caption="Signa" ColSpanMd="12">
                                                        <DxComboBox Data="@Signas"
                                                        @bind-Value="@FormMedicamenDetails.SignaId"
                                                        NullText="Select Dosage signa ..."
                                                        TextFieldName="Name"
                                                        ValueFieldName="Id"
                                                        ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
                                                        ShowValidationIcon="true"></DxComboBox>
                                                    </DxFormLayoutItem>
                                                }
                                                <DxFormLayoutItem Caption="Dosage" ColSpanMd="12">
                                                    <DxTextBox @bind-Text="@FormMedicamenDetails.Dosage" NullText="0.00"></DxTextBox>
                                                    <ValidationMessage For="@(()=> FormMedicamenDetails.Dosage)" ) />
                                                </DxFormLayoutItem>
                                                <DxFormLayoutItem Caption="Unit Of Dosage" ColSpanMd="12">
                                                    <DxComboBox Data="@UoMs"
                                                                @bind-Value="@FormMedicamenDetails.RegimentOfUseId"
                                                                NullText="Select Unit Of Dosage ..."
                                                                TextFieldName="Name"
                                                                ValueFieldName="Id"
                                                                ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
                                                                ShowValidationIcon="true"></DxComboBox>
                                                </DxFormLayoutItem>
                                                @* <DxFormLayoutItem Caption="Qty Per Day" ColSpanMd="12">
                                                    <DxTextBox @bind-Text="@FormMedicamenDetails.QtyByDay" NullText="0.00"></DxTextBox>
                                                    <ValidationMessage For="@(()=> FormMedicamenDetails.QtyByDay)" ) />
                                                </DxFormLayoutItem> *@
                                                @if (!Concotions)
                                                {
                                                    <DxFormLayoutItem Caption="Day" ColSpanMd="12">
                                                        <DxTextBox @bind-Text="@FormMedicamenDetails.Days" NullText="0.00"></DxTextBox>
                                                        <ValidationMessage For="@(()=> FormMedicamenDetails.Days)" ) />
                                                    </DxFormLayoutItem>
                                                }
                                                <DxFormLayoutItem Caption="Total Qty" ColSpanMd="12">
                                                    <DxTextBox @bind-Text="@FormMedicamenDetails.TotalQty" NullText="0.00"></DxTextBox>
                                                    <ValidationMessage For="@(()=> FormMedicamenDetails.TotalQty)" ) />
                                                </DxFormLayoutItem>
                                                <DxFormLayoutItem Caption="Comment" ColSpanMd="12">
                                                    <DxTextBox @bind-Text="@FormMedicamenDetails.Comment"></DxTextBox>
                                                </DxFormLayoutItem>
                                            </DxFormLayout>
                                            <hr />
                                            <div class="row justify-content-end">
                                                <div class="col-auto align-self-end">
                                                    <DxButton RenderStyle="ButtonRenderStyle.Primary" RenderStyleMode="@ButtonRenderStyleMode.Outline" IconCssClass="fa-solid fa-floppy-disk" Text="Save" SubmitFormOnClick="true" Click="onSaveDetail"></DxButton>
                                                    @* <DxButton RenderStyle="ButtonRenderStyle.Danger" RenderStyleMode="@ButtonRenderStyleMode.Outline" IconCssClass="fa-solid fa-xmark" Text="Discard" SubmitFormOnClick="true" Click="onCancle"></DxButton> *@
                                                </div>
                                            </div>
                                        </EditForm>
                                    </DxPopup>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
}
else
{
    <div class="wrapper">
        <McDermott.Web.Components.Layout.BaseContentHeaderLayout Title="Medicamen Group" />

        <LoadingIndicatorLayout></LoadingIndicatorLayout>
    </div>
}