@page "/pharmacy/prescription"
@page "/pharmacy/prescription/{Id:long}"
@rendermode InteractiveServer

@if (!IsPopUpForm)
{
    <PageTitle>McHealthCare - Insurance Policy</PageTitle>
}

@if (IsAccess)
{
    <div class="wrapper">
        @if (!IsPopUpForm)
        {
            <section class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1>Prescription</h1>
                        </div>
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item"><a href="/">Home</a></li>
                                <li class="breadcrumb-item"><a href="/pharmacy/prescription">Pharmacy</a></li>
                                <li class="breadcrumb-item" @onclick="LoadDataPharmacy"><a href="/pharmacy/prescription">Prescription</a></li>
                            </ol>
                        </div>
                    </div>
                </div>
            </section>
        }
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col">
                        @if (IsLoading)
                        {
                            <LoadingIndicatorLayout></LoadingIndicatorLayout>
                        }
                        else
                        {
                            @if (!ShowForm)
                            {
                                <div class="card">
                                    <div class="card-body">
                                        <DxLoadingPanel @bind-Visible="PanelVisible"
                                                        IndicatorAnimationType="WaitIndicatorAnimationType.Pulse"
                                                        IsContentBlocked="true"
                                                        ApplyBackgroundShading="true"
                                                        IndicatorAreaVisible="false"
                                                        Text="Fetching Data...">
                                            <DxGrid @ref="Grid"
                                                    PagerNavigationMode="PagerNavigationMode.InputBox"
                                                    Data="Pharmacies"
                                                    PageSize="10"
                                                    @bind-SelectedDataItems="@SelectedDataItems"
                                                    FilterMenuButtonDisplayMode="GridFilterMenuButtonDisplayMode.Always"
                                                    KeyFieldName="Id"
                                                    CustomizeDataRowEditor="Grid_CustomizeDataRowEditor"
                                                    EditorRenderMode="GridEditorRenderMode.Detached"
                                                    DataItemDeleting="OnDeletePharmacy"
                                                    AllowSelectRowByClick="true"
                                                    PagerPosition="GridPagerPosition.Bottom"
                                                    PageSizeSelectorVisible="true"
                                                    PageSizeSelectorItems="@(new int[] { 10, 20, 50, 100 })"
                                                    PageSizeSelectorAllRowsItemVisible="true"
                                                    PagerSwitchToInputBoxButtonCount="10"
                                                    FocusedRowEnabled="true"
                                                    RowDoubleClick="EditItemPharmacy_Click"
                                                    PagerVisibleNumericButtonCount="10"
                                                    FocusedRowChanged="Grid_FocusedRowChanged"
                                                    ShowGroupPanel="true"
                                                    AutoExpandAllGroupRows="true"
                                                    ShowFilterRow="true"
                                                    CustomizeElement="@GridExtention.Grid_CustomizeElement"
                                                    ShowSearchBox="true"
                                                    SelectAllCheckboxMode="GridSelectAllCheckboxMode.Mixed"
                                                    KeyboardNavigationEnabled="true">
                                                
                                                <ToolbarTemplate>
                                                    <DxToolbar ItemRenderStyleMode="ToolbarRenderStyleMode.Plain">
                                                        <DxToolbarItem Visible="@UserAccessCRUID.Create" Text="New" Click="NewItem_Click" IconCssClass="fa-solid fa-plus" Enabled="!IsPopUpForm" />
                                                        <DxToolbarItem Visible="@UserAccessCRUID.Update" Text="Edit" Click="EditItemPharmacy_Click" IconCssClass="fa-solid fa-pen-to-square" Enabled="SelectedDataItems.Count > 0 && Pharmacies.Count > 0 && !IsPopUpForm" />
                                                        <DxToolbarItem Visible="@UserAccessCRUID.Delete" Text="Delete" Click="DeleteItem_Click" IconCssClass="fa-solid fa-trash" Enabled="SelectedDataItems.Count > 0 && Pharmacies.Count > 0 && !IsPopUpForm" />
                                                        <DxToolbarItem BeginGroup="true" Text="Refresh" Click="Refresh_Click" IconCssClass="fa-solid fa-arrows-rotate" Enabled="!IsPopUpForm" />
                                                        <DxToolbarItem Text="Column Chooser" Click="ColumnChooserButton_Click" BeginGroup="true" IconCssClass="fa-solid fa-table-columns" Enabled="!IsPopUpForm" />
                                                        <DxToolbarItem Text="Export" BeginGroup="true" IconCssClass="fa-solid fa-file-export" Enabled="!IsPopUpForm">
                                                            <Items>
                                                                <DxToolbarItem Text="To CSV" Click="ExportCsvItem_Click" />
                                                                <DxToolbarItem Text="To XLSX" Click="ExportXlsxItem_Click" />
                                                                <DxToolbarItem Text="To XLS" Click="ExportXlsItem_Click" />
                                                            </Items>
                                                        </DxToolbarItem>
                                                    </DxToolbar>
                                                </ToolbarTemplate>
                                                
                                                <Columns>
                                                    <DxGridSelectionColumn Width="15px" />
                                                    <DxGridDataColumn MinWidth="200" FieldName="ReceiptDate" Caption="Prescription Date" SortIndex="0" />
                                                    <DxGridDataColumn MinWidth="200" FieldName="Patient.Name" Caption="Patient" />
                                                    <DxGridDataColumn MinWidth="200" FieldName="Practitioner.Name" Caption="Prescribing Doctor" />
                                                    <DxGridDataColumn MinWidth="200" FieldName="StatusText" Caption="Status" />
                                                </Columns>
                                            </DxGrid>
                                        </DxLoadingPanel>
                                    </div>
                                </div>
                            }
                            else
                            {
                                <DxLoadingPanel @bind-Visible="IsLoading"
                                                IsContentBlocked="true"
                                                CssClass="w-100"
                                                ApplyBackgroundShading="true">
                                    <EditForm Model="@Pharmacy" Context="EditFormContext" OnInvalidSubmit="@HandleInvalidSubmit" OnValidSubmit="@HandleValidSubmit">
                                        <DataAnnotationsValidator />
                                        <div class="card">
                                            <div class="card-body ">
                                                <div class="w-100">
                                                    <div class="row w-100">
                                                        <div class="col-md-6">
                                                            <DxFormLayout CssClass="mt w-100">
                                                                <DxFormLayoutItem Caption="Patient" CaptionCssClass="required-caption normal-caption" ColSpanMd="12">
                                                                    <DxComboBox ShowValidationIcon="true"
                                                                                ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto" FilteringMode="@DataGridFilteringMode.Contains"
                                                                                Data="@Patients"
                                                                                NullText="Select Patient..."
                                                                                @bind-Value="@Pharmacy.PatientId"
                                                                                TextFieldName="Name"
                                                                                ValueFieldName="Id">
                                                                    </DxComboBox>
                                                                    <ValidationMessage For="@(()=> Pharmacy.PatientId)" />
                                                                </DxFormLayoutItem>
                                                                <DxFormLayoutItem Caption="Practitioner" CaptionCssClass="required-caption normal-caption" ColSpanMd="12">
                                                                    <DxComboBox ShowValidationIcon="true"
                                                                                ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto" FilteringMode="@DataGridFilteringMode.Contains"
                                                                                Data="@Practitioners"
                                                                                NullText="Select Practitioner..."
                                                                                @bind-Value="@Pharmacy.PractitionerId"
                                                                                SelectedItemChanged="@((UserDto practitioner)=>SelectedChangePractition(practitioner))"
                                                                                TextFieldName="Name"
                                                                                ValueFieldName="Id">
                                                                    </DxComboBox>
                                                                    <ValidationMessage For="@(()=> Pharmacy.PractitionerId)" />
                                                                </DxFormLayoutItem>

                                                                <DxFormLayoutItem Caption="Preciption Location" CaptionCssClass="required-caption normal-caption" ColSpanMd="12">
                                                                    <DxComboBox ShowValidationIcon="true"
                                                                                ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto" FilteringMode="@DataGridFilteringMode.Contains"
                                                                                Data="@PreciptionLocations"
                                                                                NullText="Select Preciption Location..."
                                                                                @bind-Value="@Pharmacy.PrescriptionLocationId"
                                                                                TextFieldName="NameAndParent"
                                                                                ValueFieldName="Id">
                                                                    </DxComboBox>
                                                                    <ValidationMessage For="@(()=> Pharmacy.PrescriptionLocationId)" />
                                                                </DxFormLayoutItem>

                                                                <DxFormLayoutItem Caption=" Medicament Group" CaptionCssClass="required-caption normal-caption" ColSpanMd="12">
                                                                    <DxComboBox Data="@MedicamentGroups"
                                                                                @bind-Value="@Pharmacy.MedicamentGroupId"
                                                                                NullText="Select Medicament Group..."
                                                                                TextFieldName="Name"
                                                                                ValueFieldName="Id"
                                                                                SelectedItemChanged="@((MedicamentGroupDto medicament)=>SelectedMedicament(medicament))"
                                                                                ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
                                                                                ShowValidationIcon="true"></DxComboBox>
                                                                </DxFormLayoutItem>

                                                                <DxFormLayoutItem CaptionCssClass="normal-caption" Caption="Weather" ColSpanMd="12">
                                                                    <DxCheckBox @bind-Checked="@Pharmacy.IsWeather" />
                                                                </DxFormLayoutItem>

                                                                <DxFormLayoutItem CaptionCssClass="normal-caption" Caption="Farmacologi" ColSpanMd="12">
                                                                    <DxCheckBox @bind-Checked="@Pharmacy.IsFarmacologi" />
                                                                </DxFormLayoutItem>

                                                                <DxFormLayoutItem CaptionCssClass="normal-caption" Caption="Food" ColSpanMd="12">
                                                                    <DxCheckBox @bind-Checked="@Pharmacy.IsFood" />
                                                                </DxFormLayoutItem>
                                                            </DxFormLayout>
                                                        </div>

                                                        <div class="col-md-6">
                                                            <DxFormLayout CssClass="mt w-100">
                                                                <DxFormLayoutItem CaptionCssClass="normal-caption" Caption="Service" ColSpanMd="12">
                                                                    <DxComboBox ShowValidationIcon="true" Data="@Services"
                                                                                NullText="Select Service..."
                                                                                ReadOnly
                                                                                ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
                                                                                FilteringMode="@DataGridFilteringMode.Contains"
                                                                                @bind-Value="Pharmacy.ServiceId"
                                                                                TextFieldName="Name"
                                                                                ValueFieldName="Id">
                                                                    </DxComboBox>
                                                                    <ValidationMessage For="@(() => Pharmacy.ServiceId)" />
                                                                </DxFormLayoutItem>

                                                                <DxFormLayoutItem CaptionCssClass="normal-caption" Caption="Payment Method" ColSpanMd="12">
                                                                    <DxComboBox ShowValidationIcon="true" Data="@Payments"
                                                                                NullText="Select Payment Method..."
                                                                                ReadOnly
                                                                                ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
                                                                                FilteringMode="@DataGridFilteringMode.Contains"
                                                                                @bind-Value="Pharmacy.PaymentMethod">
                                                                    </DxComboBox>
                                                                    <ValidationMessage For="@(() => Pharmacy.PaymentMethod)" />
                                                                </DxFormLayoutItem>

                                                                <DxFormLayoutItem CaptionCssClass="normal-caption text-center" Caption="Prescription Date" ColSpanMd="12">
                                                                    <DxDateEdit @bind-Date="@Pharmacy.ReceiptDate"
                                                                                ReadOnly
                                                                                TimeSectionVisible="true" />
                                                                </DxFormLayoutItem>

                                                            </DxFormLayout>
                                                        </div>
                                                    </div>

                                                    <hr />

                                                    <DxTabs>
                                                        <DxTabPage Text="Prescription Lines">
                                                            <DxLoadingPanel @bind-Visible="PanelVisible"
                                                                            IndicatorAnimationType="WaitIndicatorAnimationType.Pulse"
                                                                            IsContentBlocked="true"
                                                                            ApplyBackgroundShading="true"
                                                                            IndicatorAreaVisible="false"
                                                                            Text="Fetching Data...">
                                                                <DxGrid @ref="GridPrescriptionLines"
                                                                        PagerNavigationMode="PagerNavigationMode.InputBox"
                                                                        Data="Prescriptions"
                                                                        PageSize="10"
                                                                        EditMode="GridEditMode.EditForm"
                                                                        @bind-SelectedDataItems="@SelectedDataItemsPrescriptionLines"
                                                                        FilterMenuButtonDisplayMode="GridFilterMenuButtonDisplayMode.Always"
                                                                        KeyFieldName="Id"
                                                                        CustomizeDataRowEditor="Grid_CustomizeDataRowEditor"
                                                                        EditorRenderMode="GridEditorRenderMode.Detached"
                                                                        DataItemDeleting="OnDeletePrescriptionLines"
                                                                        EditModelSaving="OnSavePrescription"
                                                                        AllowSelectRowByClick="true"
                                                                        PagerPosition="GridPagerPosition.Bottom"
                                                                        PageSizeSelectorVisible="true"
                                                                        PageSizeSelectorItems="@(new int[] { 10, 20, 50, 100 })"
                                                                        PageSizeSelectorAllRowsItemVisible="true"
                                                                        PagerSwitchToInputBoxButtonCount="10"
                                                                        FocusedRowEnabled="true"
                                                                        PagerVisibleNumericButtonCount="10"
                                                                        FocusedRowChanged="GridFocusedRowVisibleIndexPrescriptionLines_FocusedRowChanged"
                                                                        ShowGroupPanel="true"
                                                                        AutoExpandAllGroupRows="true"
                                                                        ShowFilterRow="true"
                                                                        CustomizeElement="Grid_CustomizeElement"
                                                                        ShowSearchBox="true"
                                                                        SelectAllCheckboxMode="GridSelectAllCheckboxMode.Mixed"
                                                                        KeyboardNavigationEnabled="true">
                                                                    <ToolbarTemplate>
                                                                        <DxToolbar ItemRenderStyleMode="ToolbarRenderStyleMode.Plain">
                                                                            <DxToolbarItem Visible="@UserAccessCRUID.Create" Text="New" Click="NewItemPrescriptionLines_Click" IconCssClass="fa-solid fa-plus" />
                                                                            <DxToolbarItem Visible="@UserAccessCRUID.Update" Text="Edit" Click="() => EditItemPrescriptionLines_Click(context.Grid)" IconCssClass="fa-solid fa-pen-to-square" Enabled="SelectedDataItemsPrescriptionLines.Count > 0 && Prescriptions.Count > 0" />
                                                                            <DxToolbarItem Visible="@UserAccessCRUID.Delete" Text="Delete" Click="DeleteItemPrescriptionLines_Click" IconCssClass="fa-solid fa-trash" Enabled="SelectedDataItemsPrescriptionLines.Count > 0 && Prescriptions.Count > 0 && !IsPopUpForm" />
                                                                            <DxToolbarItem BeginGroup="true" Text="Refresh" Click="RefreshPrescriptionLines_Click" IconCssClass="fa-solid fa-arrows-rotate" />
                                                                            <DxToolbarItem Text="Column Chooser" Click="ColumnChooserButtonGridPrescriptionLines_Click" BeginGroup="true" IconCssClass="fa-solid fa-table-columns" />
                                                                        </DxToolbar>
                                                                    </ToolbarTemplate>
                                                                    <Columns>
                                                                        <DxGridSelectionColumn Width="15px" />
                                                                        <DxGridDataColumn MinWidth="200" FieldName="Product.Name" Caption="Medicine Name" SortIndex="0" />
                                                                        <DxGridDataColumn MinWidth="200" FieldName="GivenAmount" Caption="Prescription Quantity" />
                                                                        <DxGridDataColumn MinWidth="200" FieldName="ActiveComponentNames" Caption="Active Component" />
                                                                        <DxGridDataColumn MinWidth="200" FieldName="Stock" Caption="Stock" />
                                                                        <DxGridDataColumn MinWidth="200" FieldName="DosageFrequency" Caption="Dosage/Frequency" />
                                                                        <DxGridDataColumn MinWidth="200" FieldName="PriceUnit" Caption="Price Unit" />
                                                                        <DxGridDataColumn MinWidth="200" FieldName="DrugRoute.Route" Caption="Route" />
                                                                    </Columns>
                                                                    <EditFormTemplate Context="EditFormContextPrescriptionLines">
                                                                        @{
                                                                            Prescription = (PrescriptionDto)EditFormContextPrescriptionLines.EditModel;
                                                                        }
                                                                        <DxFormLayout CssClass="w-100">
                                                                            <DxFormLayoutItem CaptionCssClass="normal-caption" Caption="Medical Name" ColSpanMd="6">
                                                                                <DxComboBox ShowValidationIcon="true" Data="@Products"
                                                                                            NullText="Select Medical Name..."
                                                                                            ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
                                                                                            FilteringMode="@DataGridFilteringMode.Contains"
                                                                                            SelectedItemChanged="@((ProductDto value) => SelectedProductPrescriptions(value))"
                                                                                            @bind-Value="Prescription.ProductId"
                                                                                            TextFieldName="Name"
                                                                                            ValueFieldName="Id">
                                                                                </DxComboBox>
                                                                                <ValidationMessage For="@(() => Prescription.ProductId)" />
                                                                            </DxFormLayoutItem>
                                                                            <DxFormLayoutItem Caption="Active Component" CaptionCssClass="normal-caption" ColSpanMd="6">
                                                                                <DxTagBox Data="@ActiveComponents"
                                                                                          FilteringMode="@DataGridFilteringMode.Contains"
                                                                                          @bind-Values="@selectedActiveComponentPrescriptions" 
                                                                                          NullText="Select Active Component.."
                                                                                          ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
                                                                                          TextFieldName="Name" />
                                                                                <ValidationMessage For="@(()=> Prescription.ActiveComponentId)" />
                                                                            </DxFormLayoutItem>

                                                                            <DxFormLayoutItem CaptionCssClass="normal-caption" Caption="Drug From" ColSpanMd="6">
                                                                                <DxComboBox ShowValidationIcon="true" Data="@DrugForms"
                                                                                            NullText="Select Drug From..."
                                                                                            ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
                                                                                            FilteringMode="@DataGridFilteringMode.Contains"
                                                                                            @bind-Value="Prescription.DrugFromId"
                                                                                            TextFieldName="Name"
                                                                                            ValueFieldName="Id">
                                                                                </DxComboBox>
                                                                                <ValidationMessage For="@(() => Prescription.DrugFromId)" />
                                                                            </DxFormLayoutItem>

                                                                            <DxFormLayoutItem CaptionCssClass="normal-caption" Caption="Stock" ColSpanMd="6">
                                                                                <DxSpinEdit @bind-Value="Prescription.Stock"
                                                                                            NullText="Stock..."
                                                                                            ReadOnly
                                                                                            ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
                                                                                            BindValueMode="BindValueMode.OnInput" />
                                                                                <ValidationMessage For="@(()=> Prescription.Stock)"   />
                                                                            </DxFormLayoutItem>
                                                                            <DxFormLayoutItem CaptionCssClass="normal-caption" Caption="Prescription Quantity" ColSpanMd="6">
                                                                                <DxSpinEdit @bind-Value="Prescription.GivenAmount"
                                                                                            NullText="Given Amount..."
                                                                                            MinValue="0"
                                                                                            ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
                                                                                            BindValueMode="BindValueMode.OnInput" />
                                                                                <ValidationMessage For="@(()=> Prescription.GivenAmount)"   />
                                                                            </DxFormLayoutItem>

                                                                            <DxFormLayoutItem CaptionCssClass="normal-caption" Caption="Drug Route" ColSpanMd="6">
                                                                                <DxComboBox ShowValidationIcon="true" Data="@DrugRoutes"
                                                                                            NullText="Drug Route..."
                                                                                            ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
                                                                                            FilteringMode="@DataGridFilteringMode.Contains"
                                                                                            @bind-Value="Prescription.DrugRouteId"
                                                                                            TextFieldName="Route"
                                                                                            ValueFieldName="Id">
                                                                                </DxComboBox>
                                                                                <ValidationMessage For="@(() => Prescription.DrugRouteId)" />
                                                                            </DxFormLayoutItem>

                                                                            <DxFormLayoutItem CaptionCssClass="normal-caption" Caption="Dosage/Frequency" ColSpanMd="6">
                                                                                <Template>
                                                                                    <DxGridLayout ColumnSpacing="8px" RowSpacing="8px">
                                                                                        <Rows>
                                                                                            <DxGridLayoutRow />
                                                                                        </Rows>
                                                                                        <Columns>
                                                                                            <DxGridLayoutColumn />
                                                                                            <DxGridLayoutColumn />
                                                                                        </Columns>
                                                                                        <Items>
                                                                                            <DxGridLayoutItem Row="0" Column="0" CssClass="normal-caption">
                                                                                                <Template>
                                                                                                    <DxSpinEdit @bind-Value="@Prescription.Dosage" MinValue="0" NullText="Input Dosage..." ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto" ShowValidationIcon="true"></DxSpinEdit>
                                                                                                </Template>
                                                                                            </DxGridLayoutItem>
                                                                                            <DxGridLayoutItem Row="0" Column="1" CssClass=" normal-caption">
                                                                                                <Template>
                                                                                                    <DxComboBox Data="@DrugDosages"
                                                                                                                @bind-Value="@Prescription.DrugDosageId"
                                                                                                                NullText="Select Frequency.."
                                                                                                                TextFieldName="Frequency"
                                                                                                                ValueFieldName="Id"
                                                                                                                ShowValidationIcon="true"
                                                                                                                ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
                                                                                                                FilteringMode="@DataGridFilteringMode.Contains"></DxComboBox>
                                                                                                </Template>
                                                                                            </DxGridLayoutItem>
                                                                                        </Items>
                                                                                    </DxGridLayout>
                                                                                </Template>
                                                                            </DxFormLayoutItem>

                                                                            <DxFormLayoutItem CaptionCssClass="normal-caption" Caption="Price Unit" ColSpanMd="6">
                                                                                <DxSpinEdit @bind-Value="Prescription.PriceUnit"
                                                                                            NullText="Price Unit..."
                                                                                            ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
                                                                                            BindValueMode="BindValueMode.OnInput" />
                                                                                <ValidationMessage For="@(()=> Prescription.PriceUnit)"   />
                                                                            </DxFormLayoutItem>
                                                                        </DxFormLayout>
                                                                    </EditFormTemplate>
                                                                </DxGrid>
                                                            </DxLoadingPanel>
                                                        </DxTabPage>

                                                        <DxTabPage Text="Prescription Concoction">
                                                            <DxLoadingPanel @bind-Visible="PanelVisible"
                                                                            IndicatorAnimationType="WaitIndicatorAnimationType.Pulse"
                                                                            IsContentBlocked="true"
                                                                            ApplyBackgroundShading="true"
                                                                            IndicatorAreaVisible="false"
                                                                            Text="Fetching Data...">
                                                                <DxGrid @ref="GridConcoction"
                                                                        PagerNavigationMode="PagerNavigationMode.InputBox"
                                                                        Data="Concoctions"
                                                                        PageSize="10"
                                                                        @bind-SelectedDataItems="@SelectedDataItemsConcoction"
                                                                        FilterMenuButtonDisplayMode="GridFilterMenuButtonDisplayMode.Always"
                                                                        KeyFieldName="Id"
                                                                        CustomizeDataRowEditor="Grid_CustomizeDataRowEditor"
                                                                        EditorRenderMode="GridEditorRenderMode.Detached"
                                                                        DataItemDeleting="OnDeleteConcoction"
                                                                        AllowSelectRowByClick="true"
                                                                        PagerPosition="GridPagerPosition.Bottom"
                                                                        PageSizeSelectorVisible="true"
                                                                        PageSizeSelectorItems="@(new int[] { 10, 20, 50, 100 })"
                                                                        PopupEditFormCssClass="custom-width-grid-popup"
                                                                        PageSizeSelectorAllRowsItemVisible="true"
                                                                        EditMode="GridEditMode.PopupEditForm"
                                                                        PagerSwitchToInputBoxButtonCount="10"
                                                                        FocusedRowEnabled="true"
                                                                        PagerVisibleNumericButtonCount="10"
                                                                        FocusedRowChanged="GridFocusedRowVisibleIndexPrescriptionConcoction_FocusedRowChanged"
                                                                        ShowGroupPanel="true"
                                                                        AutoExpandAllGroupRows="true"
                                                                        ShowFilterRow="true"
                                                                        CustomizeElement="Grid_CustomizeElement"
                                                                        ShowSearchBox="true"
                                                                        SelectAllCheckboxMode="GridSelectAllCheckboxMode.Mixed"
                                                                        KeyboardNavigationEnabled="true">
                                                                    <ToolbarTemplate>
                                                                        <DxToolbar ItemRenderStyleMode="ToolbarRenderStyleMode.Plain">
                                                                            <DxToolbarItem Visible="@UserAccessCRUID.Create" Text="New" Click=" NewItemConcoction_Click" IconCssClass="fa-solid fa-plus" />
                                                                            <DxToolbarItem Visible="@UserAccessCRUID.Update" Text="Edit" Click="()=>EditItemPrescriptionConcoction_Click(context.Grid)" IconCssClass="fa-solid fa-pen-to-square" Enabled="SelectedDataItemsConcoction.Count > 0 && Concoctions.Count > 0" />
                                                                            <DxToolbarItem Visible="@UserAccessCRUID.Delete" Text="Delete" Click="DeleteItemPrescriptionConcoction_Click" IconCssClass="fa-solid fa-trash" Enabled="SelectedDataItemsConcoction.Count > 0 && Concoctions.Count > 0 && IsPopUpForm" />
                                                                            <DxToolbarItem BeginGroup="true" Text="Refresh" Click="RefreshPrescriptionConcoction_Click" IconCssClass="fa-solid fa-arrows-rotate" />
                                                                            <DxToolbarItem Text="Column Chooser" Click="ColumnChooserButtonConcoction_Click" BeginGroup="true" IconCssClass="fa-solid fa-table-columns" />
                                                                        </DxToolbar>
                                                                    </ToolbarTemplate>
                                                                    <Columns>
                                                                        <DxGridSelectionColumn Width="15px" />
                                                                        <DxGridDataColumn MinWidth="200" FieldName="MedicamentGroupName" Caption="Medicamen Name" SortIndex="0" />
                                                                        <DxGridDataColumn MinWidth="200" FieldName="Qty" Caption="Qty Dose" />
                                                                        <DxGridDataColumn MinWidth="200" FieldName="UomName" Caption="Unit of Dosage" />
                                                                        <DxGridDataColumn MinWidth="200" Visible="false" FieldName="DrugDosageName" Caption="Frequency" />
                                                                        <DxGridDataColumn MinWidth="200" FieldName="QtyByDay" Caption="Qty Per Day" />
                                                                        <DxGridDataColumn MinWidth="200" FieldName="Days" Caption="Days" />
                                                                        <DxGridDataColumn MinWidth="200" FieldName="TotalQty" Caption="Total Qty" />
                                                                    </Columns>
                                                                </DxGrid>
                                                            </DxLoadingPanel>
                                                        </DxTabPage>
                                                    </DxTabs>
                                                </div>
                                            </div>
                                            <div class="card-footer">
                                                <div class="row justify-content-end">
                                                    <div class="col-auto align-self-end">
                                                        <DxButton Enabled="!IsLoading" RenderStyle="ButtonRenderStyle.Primary" RenderStyleMode="@ButtonRenderStyleMode.Contained" IconCssClass="fa-solid fa-floppy-disk" Text="Save" SubmitFormOnClick="true">

                                                        </DxButton>
                                                        <DxButton RenderStyle="ButtonRenderStyle.Danger" RenderStyleMode="@ButtonRenderStyleMode.Contained" IconCssClass="fa-solid fa-xmark" Text="Discard" Click="OnDiscard" SubmitFormOnClick="true"></DxButton>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </EditForm>

                                </DxLoadingPanel>
                            }
                        }

                    </div>
                </div>
            </div>
        </section>
    </div>
}
else
{
    <div class="wrapper">
        <McDermott.Web.Components.Layout.BaseContentHeaderLayout Title="Prescription" />

        <LoadingIndicatorLayout></LoadingIndicatorLayout>
    </div>
}

@* Prescription Concoction *@
<DxPopup HeaderText="Concoction" @bind-Visible="@PopUpConcoctionDetail" HeaderCssClass="fw-bold"
         HorizontalAlignment="@DevExpress.Blazor.HorizontalAlignment.Center"
         VerticalAlignment="@DevExpress.Blazor.VerticalAlignment.Center" CloseOnOutsideClick="false" Width="auto">
    <EditForm Model="@Concoction" Context="EditFormContext" OnInvalidSubmit="@HandleInvalidConcoctionSubmit" OnValidSubmit="@HandleValidConcoctionSubmit">
        <DataAnnotationsValidator />
        <div class="row w-100">
            <div class="col-md-6">
                <DxFormLayout CssClass="mt w-100">
                    <DxFormLayoutItem Caption="Prescribing Doctor" CaptionCssClass="normal-caption" ColSpanMd="12">
                        <DxComboBox ShowValidationIcon="true"
                                    ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto" FilteringMode="@DataGridFilteringMode.Contains"
                                    Data="@Practitioners"
                                    NullText="Select Prescribing Doctor..."
                                    @bind-Value="@Pharmacy.PractitionerId"
                                    TextFieldName="Name"
                                    ReadOnly
                                    ValueFieldName="Id">
                        </DxComboBox>
                        <ValidationMessage For="@(()=> Pharmacy.PractitionerId)" />
                    </DxFormLayoutItem>

                    <DxFormLayoutItem Caption="Medicament Group" CaptionCssClass="normal-caption" ColSpanMd="12">
                        <DxComboBox ShowValidationIcon="true"
                                    ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto" FilteringMode="@DataGridFilteringMode.Contains"
                                    Data="@MedicamentGroupsConcoction"
                                    NullText="Select Medicament Group..."
                                    @bind-Value="@Concoction.MedicamentGroupId"
                                    SelectedItemChanged="@((MedicamentGroupDto value) =>  SelectedMedicamentGroupConcoction(value))"
                                    TextFieldName="Name"
                                    ValueFieldName="Id">
                        </DxComboBox>
                        <ValidationMessage For="@(()=> Concoction.MedicamentGroupId)" />
                    </DxFormLayoutItem>

                    <DxFormLayoutItem Caption="Medicine Name" CaptionCssClass="normal-caption" ColSpanMd="12">
                        <DxTextBox @bind-Text="@Concoction.MedicamentName"
                                   ShowValidationIcon="true"
                                   ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
                                   NullText="Name" />
                        <ValidationMessage For="@(() => Concoction.MedicamentName)"   />
                    </DxFormLayoutItem>

                    <DxFormLayoutItem Caption="Unit of Dosage" CaptionCssClass="normal-caption" ColSpanMd="12">
                        <DxComboBox ShowValidationIcon="true"
                                    ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto" FilteringMode="@DataGridFilteringMode.Contains"
                                    Data="@Uoms"
                                    NullText="Select UoM..."
                                    @bind-Value="@Concoction.UomId"
                                    TextFieldName="Name"
                                    ValueFieldName="Id">
                        </DxComboBox>
                        <ValidationMessage For="@(()=> Concoction.UomId)" />
                    </DxFormLayoutItem>

                    <DxFormLayoutItem Caption="Form" CaptionCssClass="normal-caption" ColSpanMd="12">
                        <DxComboBox ShowValidationIcon="true"
                                    ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto" FilteringMode="@DataGridFilteringMode.Contains"
                                    Data="@DrugForms"
                                    NullText="Select Form..."
                                    @bind-Value="@Concoction.DrugFromId"
                                    TextFieldName="Name"
                                    ValueFieldName="Id">
                        </DxComboBox>
                        <ValidationMessage For="@(()=> Concoction.DrugFromId)" />
                    </DxFormLayoutItem>
                </DxFormLayout>
            </div>

            <div class="col-md-6">
                <DxFormLayout CssClass="mt w-100">
                    <DxFormLayoutItem Caption="Qty Dosage" CaptionCssClass="normal-caption" ColSpanMd="12">
                        <DxSpinEdit Value="@Concoction.Qty"
                                    NullText="0"
                                    MinValue="0"
                                    ValueExpression="@(()=>Concoction.Qty)"
                                    ValueChanged="((long value)=>OnValueChangedTotalQty(value))"
                                    ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
                                    ShowValidationIcon="true" />
                        <ValidationMessage For="@(()=> Concoction.Qty)"   />
                    </DxFormLayoutItem>

                    <DxFormLayoutItem Caption="Frequency" CaptionCssClass="normal-caption" ColSpanMd="12">
                        <DxComboBox Data="@DrugDosages"
                                    @bind-Value="@Concoction.DrugDosageId"
                                    FilteringMode="@DataGridFilteringMode.Contains"
                                    NullText="Select Dosage signa ..."
                                    TextFieldName="Frequency"
                                    ValueFieldName="Id"
                                    SelectedItemChanged="@((DrugDosageDto freq)=>SelectChangeFrequency(freq))"
                                    ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
                                    ShowValidationIcon="true" />
                        <ValidationMessage For="@(()=> Concoction.DrugDosageId)"   />
                    </DxFormLayoutItem>
                    <DxFormLayoutItem Caption="Qty Per Day" CaptionCssClass="normal-caption" ColSpanMd="12">
                        <DxSpinEdit Value="@Concoction.QtyByDay"
                                    NullText="0"
                                    ValueExpression="@(() =>Concoction.QtyByDay)"
                                    ValueChanged="((long value)=>OnValueChangedTotalQtyDays(value))"
                                    MinValue="0"
                                    ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
                                    ShowValidationIcon="true"></DxSpinEdit>
                        <ValidationMessage For="@(()=> Concoction.QtyByDay)"   />
                    </DxFormLayoutItem>

                    <DxFormLayoutItem Caption="Days" CaptionCssClass="normal-caption" ColSpanMd="12">
                        <DxSpinEdit @bind-Value="@Concoction.Days"
                                    NullText="Days..."
                                    ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto" />
                        <ValidationMessage For="@(()=> Concoction.Days)"   />
                    </DxFormLayoutItem>

                    <DxFormLayoutItem Caption="Total Qty" CaptionCssClass="normal-caption" ColSpanMd="12">
                        <DxSpinEdit @bind-Value="@Concoction.TotalQty"
                                    NullText="Total Qty..."
                                    ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto" />
                        <ValidationMessage For="@(()=> Concoction.TotalQty)"   />
                    </DxFormLayoutItem>
                </DxFormLayout>
            </div>
        </div>

        <hr />

        <DxTabs>
            <DxTabPage Text="Concoction Lines">
                <DxLoadingPanel @bind-Visible="PanelVisible"
                                IndicatorAnimationType="WaitIndicatorAnimationType.Pulse"
                                IsContentBlocked="true"
                                ApplyBackgroundShading="true"
                                IndicatorAreaVisible="false"
                                Text="Fetching Data...">
                    <DxGrid @ref="GridConcoctionLines"
                            PagerNavigationMode="PagerNavigationMode.InputBox"
                            Data="ConcoctionLines"
                            PageSize="10"
                            @bind-SelectedDataItems="@SelectedDataItemsConcoctionLines"
                            FilterMenuButtonDisplayMode="GridFilterMenuButtonDisplayMode.Always"
                            KeyFieldName="Id"
                            CustomizeDataRowEditor="Grid_CustomizeDataRowEditor"
                            EditorRenderMode="GridEditorRenderMode.Detached"
                            DataItemDeleting="OnDeleteConcoctionLine"
                            EditModelSaving="OnSaveConcoctionLines"
                            AllowSelectRowByClick="true"
                            PagerPosition="GridPagerPosition.Bottom"
                            PageSizeSelectorVisible="true"
                            PageSizeSelectorItems="@(new int[] { 10, 20, 50, 100 })"
                            PageSizeSelectorAllRowsItemVisible="true"
                            PagerSwitchToInputBoxButtonCount="10"
                            FocusedRowEnabled="true"
                            PagerVisibleNumericButtonCount="10"
                            FocusedRowChanged="GridFocusedRowVisibleIndexConcoctionLines_FocusedRowChanged"
                            ShowGroupPanel="true"
                            AutoExpandAllGroupRows="true"
                            ShowFilterRow="true"
                            CustomizeElement="Grid_CustomizeElement"
                            ShowSearchBox="true"
                            SelectAllCheckboxMode="GridSelectAllCheckboxMode.Mixed"
                            KeyboardNavigationEnabled="true">
                        <ToolbarTemplate>
                            <DxToolbar ItemRenderStyleMode="ToolbarRenderStyleMode.Plain">
                                <DxToolbarItem Visible="@UserAccessCRUID.Create" Text="New" Click="NewItemConcoctionLines_Click" IconCssClass="fa-solid fa-plus" />
                                <DxToolbarItem Visible="@UserAccessCRUID.Update" Text="Edit" Click="()=>EditItemConcoctionLines_Click(context.Grid)" IconCssClass="fa-solid fa-pen-to-square" Enabled="SelectedDataItemsConcoctionLines.Count > 0 && ConcoctionLines.Count > 0" />
                                <DxToolbarItem Visible="@UserAccessCRUID.Delete" Text="Delete" Click="DeleteItemConcoctionLines_Click" IconCssClass="fa-solid fa-trash" Enabled="SelectedDataItemsConcoctionLines.Count > 0 && ConcoctionLines.Count > 0 && IsPopUpForm" />
                                <DxToolbarItem BeginGroup="true" Text="Refresh" Click="RefreshConcoctionLines_Click" IconCssClass="fa-solid fa-arrows-rotate" />
                                <DxToolbarItem Text="Column Chooser" Click="ColumnChooserButton_Click" BeginGroup="true" IconCssClass="fa-solid fa-table-columns" />
                            </DxToolbar>
                        </ToolbarTemplate>
                        <Columns>
                            <DxGridSelectionColumn Width="15px" />
                            <DxGridDataColumn FieldName="ProductName" Caption="Medicine Name" SortIndex="0" />
                            <DxGridDataColumn FieldName="ActiveComponentName" Caption="Active Component" />
                            <DxGridDataColumn FieldName="MedicamentDosage" Caption="MedicineDosage" />
                            <DxGridDataColumn FieldName="Qty" Caption="Qty Dosage" />
                            <DxGridDataColumn FieldName="UomName" Caption="Unit Of Dosage" />
                            <DxGridDataColumn FieldName="TotalQty" Caption="Total Qty" />
                            <DxGridDataColumn FieldName="AvaliableQty" Caption="Avaliable Qty" />
                        </Columns>
                        <EditFormTemplate Context="EditFormContextConcoctionLines">
                            @* <EditForm Model="@ConcoctionLine" Context="EditFormContextPrescriptionConcoctionLinesForm" OnInvalidSubmit="@HandleValidConcoctionSubmit" OnValidSubmit="@HandleInvalidConcoctionSubmit"> *@
                            <DataAnnotationsValidator />
                            @{
                                ConcoctionLine = (ConcoctionLineDto)EditFormContextConcoctionLines.EditModel;
                            }
                            <div class="row w-100">
                                <div class="col-md-6">
                                    <DxFormLayout CssClass="mt w-100">
                                        <DxFormLayoutItem Caption="Medicine Name" CaptionCssClass="normal-caption" ColSpanMd="12">
                                            <DxComboBox ShowValidationIcon="true"
                                                        ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto" FilteringMode="@DataGridFilteringMode.Contains"
                                                        Data="@Products"
                                                        NullText="Select Medicine Name..."
                                                        @bind-Value="@ConcoctionLine.ProductId"
                                                        SelectedItemChanged="@((ProductDto product)=> ChangeProduct(product))"
                                                        TextFieldName="Name"
                                                        ValueFieldName="Id">
                                            </DxComboBox>
                                            <ValidationMessage For="@(()=> ConcoctionLine.ProductId)" />
                                        </DxFormLayoutItem>

                                        <DxFormLayoutItem Caption="Active Component" CaptionCssClass="normal-caption" ColSpanMd="12">
                                            <DxTagBox Data="@ActiveComponents"
                                                      FilteringMode="@DataGridFilteringMode.Contains"
                                                      @bind-Values="@selectedActiveComponents"
                                                      NullText="Select Active Component.."
                                                      ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
                                                      TextFieldName="Name" />
                                            <ValidationMessage For="@(()=> ConcoctionLine.ActiveComponentId)" />
                                        </DxFormLayoutItem>

                                        <DxFormLayoutItem Caption="Medicine Dosage" CaptionCssClass="normal-caption" ColSpanMd="12">
                                            <DxSpinEdit @bind-Value="@ConcoctionLine.MedicamentDosage"
                                                        NullText="Medicine Unit Of Dosage..."
                                                        ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
                                                        BindValueMode="BindValueMode.OnInput" />
                                            <ValidationMessage For="@(()=> ConcoctionLine.MedicamentDosage)"   />
                                        </DxFormLayoutItem>
                                    </DxFormLayout>
                                </div>

                                <div class="col-md-6">
                                    <DxFormLayout CssClass="mt w-100">

                                        <DxFormLayoutItem Caption="Dosage" CaptionCssClass="normal-caption" ColSpanMd="12">
                                            <DxSpinEdit @bind-Value="@ConcoctionLine.Qty"
                                                        NullText="Qty Dose..."
                                                        ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
                                                        BindValueMode="BindValueMode.OnInput" />
                                            <ValidationMessage For="@(()=> ConcoctionLine.Qty)"   />
                                        </DxFormLayoutItem>

                                        <DxFormLayoutItem Caption="Unit of Dosage" CaptionCssClass="normal-caption" ColSpanMd="12">
                                            <DxComboBox ShowValidationIcon="true"
                                                        ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto" FilteringMode="@DataGridFilteringMode.Contains"
                                                        Data="@Uoms"
                                                        NullText="Select UoM..."
                                                        @bind-Value="@ConcoctionLine.UomId"
                                                        TextFieldName="Name"
                                                        ValueFieldName="Id">
                                            </DxComboBox>
                                            <ValidationMessage For="@(()=> ConcoctionLine.UomId)" />
                                        </DxFormLayoutItem>

                                        <DxFormLayoutItem Caption="Total Qty" CaptionCssClass="normal-caption" ColSpanMd="12">
                                            <DxSpinEdit @bind-Value="@ConcoctionLine.TotalQty"
                                                        NullText="Total Qty..."
                                                        ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
                                                        BindValueMode="BindValueMode.OnInput" />
                                            <ValidationMessage For="@(()=> ConcoctionLine.TotalQty)"   />
                                        </DxFormLayoutItem>

                                        <DxFormLayoutItem Caption="Available Qty" CaptionCssClass="normal-caption" ColSpanMd="12">
                                            <DxSpinEdit @bind-Value="@ConcoctionLine.AvaliableQty"
                                                        NullText="Available Qty..."
                                                        ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
                                                        BindValueMode="BindValueMode.OnInput" />
                                            <ValidationMessage For="@(()=> ConcoctionLine.AvaliableQty)"   />
                                        </DxFormLayoutItem>
                                    </DxFormLayout>
                                </div>
                            </div>
                            @* </EditForm> *@
                        </EditFormTemplate>
                    </DxGrid>
                </DxLoadingPanel>
            </DxTabPage>
        </DxTabs>
        <div class="card-footer">
            <div class="row  justify-content-end">
                <div class="col-auto align-self-end">
                    <DxButton Enabled="!IsLoading" RenderStyle="ButtonRenderStyle.Primary" RenderStyleMode="@ButtonRenderStyleMode.Contained" IconCssClass="fa-solid fa-floppy-disk" Text="Save" SubmitFormOnClick="true">
                    </DxButton>
                    <DxButton RenderStyle="ButtonRenderStyle.Danger" RenderStyleMode="@ButtonRenderStyleMode.Contained" IconCssClass="fa-solid fa-xmark" Text="Discard" Click="OnDiscardConcoctionLines"></DxButton>
                </div>
            </div>
        </div>
    </EditForm>
</DxPopup>