@page "/pharmacy/prescription"
@rendermode InteractiveServer

<PageTitle>McHealthCare - Prescription</PageTitle>

@if (IsAccess)
{
                                <div class="wrapper">
                                    <section class="content-header">
                                        <div class="container-fluid">
                                            <div class="row mb-2">
                                                <div class="col-sm-6">
                                                    <h1>Prescription</h1>
                                                </div>
                                                <div class="col-sm-6">
                                                    <ol class="breadcrumb float-sm-right">
                                                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                                                        <li class="breadcrumb-item"><a href="/pharmacy/prescription">Pharmacy</a></li>
                                                        <li class="breadcrumb-item" @onclick="LoadData"><a href="/pharmacy/prescription">Prescription</a></li>
                                                    </ol>
                                                </div>
                                            </div>
                                        </div>
                                    </section>
                                    <section class="content">
                                        <div class="container-fluid">
                                            <div class="row">
                                                <div class="col">
                                                    <div class="card">
                                                        <div class="card-body">
                                @if (IsLoading)
                                {
                                                                                            <LoadingIndicatorLayout></LoadingIndicatorLayout>
                                }
                                else
                                {
                                    @if (!ShowForm)
                                    {
                                                                                                                            <DxLoadingPanel @bind-Visible="PanelVisible"
                                                                                                                                            IndicatorAnimationType="WaitIndicatorAnimationType.Pulse"
                                                                                                                                            IsContentBlocked="true"
                                                                                                                                            ApplyBackgroundShading="true"
                                                                                                                                            IndicatorAreaVisible="false"
                                                                                                                                            Text="Fetching Data...">
                                                                                                                                <DxGrid @ref="Grid"
                                                                                                                                        PagerNavigationMode="PagerNavigationMode.InputBox"
                                                                                                                                        Data="Pharmacies"
                                                                                                                                        PageSize="10"
                                                                                                                                        @bind-SelectedDataItems="@SelectedDataItems"
                                                                                                                                        FilterMenuButtonDisplayMode="GridFilterMenuButtonDisplayMode.Always"
                                                                                                                                        KeyFieldName="Id"
                                                                                                                                        CustomizeDataRowEditor="Grid_CustomizeDataRowEditor"
                                                                                                                                        EditorRenderMode="GridEditorRenderMode.Detached"
                                                                                                                                        DataItemDeleting="OnDelete"
                                                                                                                                        AllowSelectRowByClick="true"
                                                                                                                                        PagerPosition="GridPagerPosition.Bottom"
                                                                                                                                        PageSizeSelectorVisible="true"
                                                                                                                                        PageSizeSelectorItems="@(new int[] { 10, 20, 50, 100 })"
                                                                                                                                        PageSizeSelectorAllRowsItemVisible="true"
                                                                                                                                        PagerSwitchToInputBoxButtonCount="10"
                                                                                                                                        FocusedRowEnabled="true"
                                                                                                                                        PagerVisibleNumericButtonCount="10"
                                                                                                                                        FocusedRowChanged="Grid_FocusedRowChanged"
                                                                                                                                        ShowGroupPanel="true"
                                                                                                                                        AutoExpandAllGroupRows="true"
                                                                                                                                        ShowFilterRow="true"
                                                                                                                                        CustomizeElement="Grid_CustomizeElement"
                                                                                                                                        ShowSearchBox="true"
                                                                                                                                        SelectAllCheckboxMode="GridSelectAllCheckboxMode.Mixed"
                                                                                                                                        KeyboardNavigationEnabled="true">
                                                                                                                                    <ToolbarTemplate>
                                                                                                                                        <DxToolbar ItemRenderStyleMode="ToolbarRenderStyleMode.Contained">
                                                                                                                                            <DxToolbarItem Visible="@UserAccessCRUID.Create" Text="New" Click="NewItem_Click" IconCssClass="fa-solid fa-plus" />
                                                                                                                                            <DxToolbarItem Visible="@UserAccessCRUID.Update" Text="Edit" Click="EditItem_Click" IconCssClass="fa-solid fa-pen-to-square" Enabled="SelectedDataItems.Count > 0 && Prescriptions.Count > 0" />
                                                                                                                                            <DxToolbarItem Visible="@UserAccessCRUID.Delete" Text="Delete" Click="DeleteItem_Click" IconCssClass="fa-solid fa-trash" Enabled="SelectedDataItems.Count > 0 && Prescriptions.Count > 0" />
                                                                                                                                            <DxToolbarItem BeginGroup="true" Text="Refresh" Click="Refresh_Click" IconCssClass="fa-solid fa-arrows-rotate" />
                                                                                                                                            <DxToolbarItem Text="Column Chooser" Click="ColumnChooserButton_Click" BeginGroup="true" IconCssClass="fa-solid fa-table-columns" />
                                                                                                                                            <DxToolbarItem Text="Export" BeginGroup="true" IconCssClass="fa-solid fa-file-export">
                                                                                                                                                <Items>
                                                                                                                                                    <DxToolbarItem Text="To CSV" Click="ExportCsvItem_Click" />
                                                                                                                                                    <DxToolbarItem Text="To XLSX" Click="ExportXlsxItem_Click" />
                                                                                                                                                    <DxToolbarItem Text="To XLS" Click="ExportXlsItem_Click" />
                                                                                                                                                </Items>
                                                                                                                                            </DxToolbarItem>
                                                                                                                                        </DxToolbar>
                                                                                                                                    </ToolbarTemplate>
                                                                                                                                    <Columns>
                                                                                                                                        <DxGridSelectionColumn Width="15px" />
                                                                                                                                        <DxGridDataColumn MinWidth="200" FieldName="ReceiptDate" Caption="Prescription Date" SortIndex="0" />
                                                                                                                                        <DxGridDataColumn MinWidth="200" FieldName="Patient.Name" Caption="Patient" />
                                                                                                                                        <DxGridDataColumn MinWidth="200" FieldName="Practitioner.Name" Caption="Prescribing Doctor" />
                                                                                                                                        <DxGridDataColumn MinWidth="200" FieldName="StatusText" Caption="Status" />
                                                                                                                                    </Columns>
                                                                                                                                </DxGrid>
                                                                                                                            </DxLoadingPanel>
                                    }
                                    else
                                    {
                                                                                                                            <EditForm Model="@Pharmacy" Context="EditFormContext" OnInvalidSubmit="@HandleInvalidSubmit" OnValidSubmit="@HandleValidSubmit">
                                                                                                                                <DataAnnotationsValidator />
                                                                                                                                <div class="row w-100">
                                                                                                                                    <div class="col-md-6">
                                                                                                                                        <DxFormLayout CssClass="mt w-100">
                                                                                                                                            <DxFormLayoutItem Caption="Patient" CaptionCssClass="normal-caption" ColSpanMd="12">
                                                                                                                                                <DxComboBox ShowValidationIcon="true"
                                                                                                                                                            ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto" FilteringMode="@DataGridFilteringMode.Contains"
                                                                                                                                                            Data="@Patients"
                                                                                                                                                            NullText="Select Patient..."
                                                                                                                                                            @bind-Value="@Pharmacy.PatientId"
                                                                                                                                                            TextFieldName="Name"
                                                                                                                                                            ValueFieldName="Id">
                                                                                                                                                </DxComboBox>
                                                                                                                                                <ValidationMessage For="@(()=> Pharmacy.PatientId)" />
                                                                                                                                            </DxFormLayoutItem>

                                                                                                                                            <DxFormLayoutItem Caption="Practitioner" CaptionCssClass="normal-caption" ColSpanMd="12">
                                                                                                                                                <DxComboBox ShowValidationIcon="true"
                                                                                                                                                            ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto" FilteringMode="@DataGridFilteringMode.Contains"
                                                                                                                                                            Data="@Practitioners"
                                                                                                                                                            NullText="Select Practitioner..."
                                                                                                                                                            @bind-Value="@Pharmacy.PractitionerId"
                                                                                                                                                            TextFieldName="Name"
                                                                                                                                                            ValueFieldName="Id">
                                                                                                                                                </DxComboBox>
                                                                                                                                                <ValidationMessage For="@(()=> Pharmacy.PractitionerId)" />
                                                                                                                                            </DxFormLayoutItem>

                                                                                                                                            <DxFormLayoutItem Caption="Preciption Location" CaptionCssClass="normal-caption" ColSpanMd="12">
                                                                                                                                                <DxComboBox ShowValidationIcon="true"
                                                                                                                                                            ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto" FilteringMode="@DataGridFilteringMode.Contains"
                                                                                                                                                            Data="@PreciptionLocations"
                                                                                                                                                            NullText="Select Preciption Location..."
                                                                                                                                                            @bind-Value="@Pharmacy.PrescriptionLocationId"
                                                                                                                                                            TextFieldName="Name"
                                                                                                                                                            ValueFieldName="Id">
                                                                                                                                                </DxComboBox>
                                                                                                                                                <ValidationMessage For="@(()=> Pharmacy.PrescriptionLocationId)" />
                                                                                                                                            </DxFormLayoutItem>

                                                                                                                                            <DxFormLayoutItem CaptionCssClass="normal-caption" Caption="Weather" ColSpanMd="12">
                                                                                                                                                <DxCheckBox @bind-Checked="@Pharmacy.IsWeather" />
                                                                                                                                            </DxFormLayoutItem>

                                                                                                                                            <DxFormLayoutItem CaptionCssClass="normal-caption" Caption="Farmacologi" ColSpanMd="12">
                                                                                                                                                <DxCheckBox @bind-Checked="@Pharmacy.IsFarmacologi" />
                                                                                                                                            </DxFormLayoutItem>

                                                                                                                                            <DxFormLayoutItem CaptionCssClass="normal-caption" Caption="Food" ColSpanMd="12">
                                                                                                                                                <DxCheckBox @bind-Checked="@Pharmacy.IsFood" />
                                                                                                                                            </DxFormLayoutItem>
                                                                                                                                        </DxFormLayout>
                                                                                                                                    </div>

                                                                                                                                    <div class="col-md-6">
                                                                                                                                        <DxFormLayout CssClass="mt w-100">
                                                                                                                                            <DxFormLayoutItem CaptionCssClass="normal-caption" Caption="Service" ColSpanMd="12">
                                                                                                                                                <DxComboBox ShowValidationIcon="true" Data="@Services"
                                                                                                                                                            NullText="Select Service..."
                                                                                                                                                            ReadOnly
                                                                                                                                                            ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
                                                                                                                                                            FilteringMode="@DataGridFilteringMode.Contains"
                                                                                                                                                            @bind-Value="Pharmacy.ServiceId"
                                                                                                                                                            TextFieldName="Name"
                                                                                                                                                            ValueFieldName="Id">
                                                                                                                                                </DxComboBox>
                                                                                                                                                <ValidationMessage For="@(() => Pharmacy.ServiceId)" />
                                                                                                                                            </DxFormLayoutItem>

                                                                                                                                            <DxFormLayoutItem CaptionCssClass="normal-caption" Caption="Payment Method" ColSpanMd="12">
                                                                                                                                                <DxComboBox ShowValidationIcon="true" Data="@Payments"
                                                                                                                                                            NullText="Select Payment Method..."
                                                                                                                                                            ReadOnly
                                                                                                                                                            ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
                                                                                                                                                            FilteringMode="@DataGridFilteringMode.Contains"
                                                                                                                                                            @bind-Value="Pharmacy.PaymentMethod">
                                                                                                                                                </DxComboBox>
                                                                                                                                                <ValidationMessage For="@(() => Pharmacy.PaymentMethod)" />
                                                                                                                                            </DxFormLayoutItem>

                                                                                                                                            <DxFormLayoutItem CaptionCssClass="normal-caption text-center" Caption="Prescription Date" ColSpanMd="12">
                                                                                                                                                <DxDateEdit @bind-Date="@Pharmacy.ReceiptDate"
                                                                                                                                                            ReadOnly
                                                                                                                                                            TimeSectionVisible="true" />
                                                                                                                                            </DxFormLayoutItem>

                                                                                                                                        </DxFormLayout>
                                                                                                                                    </div>
                                                                                                                                </div>

                                                                                                                                <hr />

                                                                                                                                <DxTabs>
                                                                                                                                    <DxTabPage Text="Prescription Lines">
                                                                                                                                        <DxLoadingPanel @bind-Visible="PanelVisible"
                                                                                                                                                        IndicatorAnimationType="WaitIndicatorAnimationType.Pulse"
                                                                                                                                                        IsContentBlocked="true"
                                                                                                                                                        ApplyBackgroundShading="true"
                                                                                                                                                        IndicatorAreaVisible="false"
                                                                                                                                                        Text="Fetching Data...">
                                                                                                                                            <DxGrid @ref="GridPrescriptionLines"
                                                                                                                                                    PagerNavigationMode="PagerNavigationMode.InputBox"
                                                                                                                                                    Data="Prescriptions"
                                                                                                                                                    PageSize="10"
                                                                                                                                                    @bind-SelectedDataItems="@SelectedDataItemsPrescriptionLines"
                                                                                                                                                    FilterMenuButtonDisplayMode="GridFilterMenuButtonDisplayMode.Always"
                                                                                                                                                    KeyFieldName="Id"
                                                                                                                                                    CustomizeDataRowEditor="Grid_CustomizeDataRowEditor"
                                                                                                                                                    EditorRenderMode="GridEditorRenderMode.Detached"
                                                                                                                                                    DataItemDeleting="OnDelete"
                                                                                                                                                    AllowSelectRowByClick="true"
                                                                                                                                                    PagerPosition="GridPagerPosition.Bottom"
                                                                                                                                                    PageSizeSelectorVisible="true"
                                                                                                                                                    PageSizeSelectorItems="@(new int[] { 10, 20, 50, 100 })"
                                                                                                                                                    PageSizeSelectorAllRowsItemVisible="true"
                                                                                                                                                    PagerSwitchToInputBoxButtonCount="10"
                                                                                                                                                    FocusedRowEnabled="true"
                                                                                                                                                    PagerVisibleNumericButtonCount="10"
                                                                                                                                                    FocusedRowChanged="GridFocusedRowVisibleIndexPrescriptionLines_FocusedRowChanged"
                                                                                                                                                    ShowGroupPanel="true"
                                                                                                                                                    AutoExpandAllGroupRows="true"
                                                                                                                                                    ShowFilterRow="true"
                                                                                                                                                    CustomizeElement="Grid_CustomizeElement"
                                                                                                                                                    ShowSearchBox="true"
                                                                                                                                                    SelectAllCheckboxMode="GridSelectAllCheckboxMode.Mixed"
                                                                                                                                                    KeyboardNavigationEnabled="true">
                                                                                                                                                <ToolbarTemplate>
                                                                                                                                                    <DxToolbar ItemRenderStyleMode="ToolbarRenderStyleMode.Contained">
                                                                                                                                                        <DxToolbarItem Visible="@UserAccessCRUID.Create" Text="New" Click="NewItemPrescriptionLines_Click" IconCssClass="fa-solid fa-plus" />
                                                                                                                                                        <DxToolbarItem Visible="@UserAccessCRUID.Update" Text="Edit" Click="EditItemPrescriptionLines_Click" IconCssClass="fa-solid fa-pen-to-square" Enabled="SelectedDataItems.Count > 0 && Prescriptions.Count > 0" />
                                                                                                                                                        <DxToolbarItem Visible="@UserAccessCRUID.Delete" Text="Delete" Click="DeleteItemPrescriptionLines_Click" IconCssClass="fa-solid fa-trash" Enabled="SelectedDataItems.Count > 0 && Prescriptions.Count > 0" />
                                                                                                                                                        <DxToolbarItem BeginGroup="true" Text="Refresh" Click="RefreshPrescriptionLines_Click" IconCssClass="fa-solid fa-arrows-rotate" />
                                                                                                                                                        <DxToolbarItem Text="Column Chooser" Click="ColumnChooserButton_Click" BeginGroup="true" IconCssClass="fa-solid fa-table-columns" />
                                                                                                                                                    </DxToolbar>
                                                                                                                                                </ToolbarTemplate>
                                                                                                                                                <Columns>
                                                                                                                                                    <DxGridSelectionColumn Width="15px" />
                                                                                                                                                    <DxGridDataColumn MinWidth="200" FieldName="Product.Name" Caption="Medicine Name" SortIndex="0" />
                                                                                                                                                    <DxGridDataColumn MinWidth="200" FieldName="DrugDosage.Frequency" Caption="Dosage/Frequency" />
                                                                                                                                                    <DxGridDataColumn MinWidth="200" FieldName="Signa.Name" Caption="Signa" />
                                                                                                                                                    <DxGridDataColumn MinWidth="200" FieldName="DrugRoute.Route" Caption="Route" />
                                                                                                                                                    <DxGridDataColumn MinWidth="200" FieldName="DrugDosage.Frequency" Caption="Dosage" />
                                                                                                                                                </Columns>
                                                                                                                                                <EditFormTemplate Context="EditFormContextPrescriptionLines">
                                                                                                                                                    <DxFormLayout CssClass="w-100">
                                                                                                                                                        <DxFormLayoutItem CaptionCssClass="normal-caption" Caption="Medical Name" ColSpanMd="12">
                                                                                                                                                            <DxComboBox ShowValidationIcon="true" Data="@Products"
                                                                                                                                                                        NullText="Select Medical Name..."
                                                                                                                                                                        ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
                                                                                                                                                                        FilteringMode="@DataGridFilteringMode.Contains"
                                                                                                                                                                        @bind-Value="Prescription.ProductId"
                                                                                                                                                                        TextFieldName="Name"
                                                                                                                                                                        ValueFieldName="Id">
                                                                                                                                                            </DxComboBox>
                                                                                                                                                            <ValidationMessage For="@(() => Prescription.ProductId)" />
                                                                                                                                                        </DxFormLayoutItem>

                                                                                                                                                        <DxFormLayoutItem CaptionCssClass="normal-caption" Caption="Drug From" ColSpanMd="12">
                                                                                                                                                            <DxComboBox ShowValidationIcon="true" Data="@DrugForms"
                                                                                                                                                                        NullText="Select Drug From..."
                                                                                                                                                                        ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
                                                                                                                                                                        FilteringMode="@DataGridFilteringMode.Contains"
                                                                                                                                                                        @bind-Value="Prescription.DrugFromId"
                                                                                                                                                                        TextFieldName="Name"
                                                                                                                                                                        ValueFieldName="Id">
                                                                                                                                                            </DxComboBox>
                                                                                                                                                            <ValidationMessage For="@(() => Prescription.DrugFromId)" />
                                                                                                                                                        </DxFormLayoutItem>

                                                                                                                                                        <DxFormLayoutItem CaptionCssClass="normal-caption" Caption="Stock" ColSpanMd="12">
                                                                                                                                                            <DxSpinEdit @bind-Value="@Prescription.Stock"
                                                                                                                                                                        NullText="Stock..."
                                                                                                                                                                        ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
                                                                                                                                                                        BindValueMode="BindValueMode.OnInput" />
                                                                                                                                                            <ValidationMessage For="@(()=> Prescription.Stock)"   />
                                                                                                                                                        </DxFormLayoutItem>
@* 
                                                                                                                                                        <DxFormLayoutItem CaptionCssClass="normal-caption" Caption="Prescribed Amount" ColSpanMd="12">
                                                                                                                                                            <DxSpinEdit @bind-Value="@Prescription.PrescribedAmount"
                                                                                                                                                                        NullText="Prescribed Amount..."
                                                                                                                                                                        ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
                                                                                                                                                                        BindValueMode="BindValueMode.OnInput" />
                                                                                                                                                            <ValidationMessage For="@(()=> Prescription.PrescribedAmount)"   />
                                                                                                                                                        </DxFormLayoutItem> *@

                                                                    <DxFormLayoutItem CaptionCssClass="normal-caption" Caption="Prescription quantity" ColSpanMd="12">
                                                                                                                                                            <DxSpinEdit @bind-Value="@Prescription.GivenAmount"
                                                                                                                                                                        NullText="Given Amount..."
                                                                                                                                                                        ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
                                                                                                                                                                        BindValueMode="BindValueMode.OnInput" />
                                                                                                                                                            <ValidationMessage For="@(()=> Prescription.GivenAmount)"   />
                                                                                                                                                        </DxFormLayoutItem>

                                                                                                                                                        <DxFormLayoutItem CaptionCssClass="normal-caption" Caption="Signa" ColSpanMd="12">
                                                                                                                                                            <DxComboBox ShowValidationIcon="true" Data="@Signas"
                                                                                                                                                                        NullText="Signa..."
                                                                                                                                                                        ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
                                                                                                                                                                        FilteringMode="@DataGridFilteringMode.Contains"
                                                                                                                                                                        @bind-Value="Prescription.SignaId"
                                                                                                                                                                        TextFieldName="Name"
                                                                                                                                                                        ValueFieldName="Id">
                                                                                                                                                            </DxComboBox>
                                                                                                                                                            <ValidationMessage For="@(() => Prescription.SignaId)" />
                                                                                                                                                        </DxFormLayoutItem>

                                                                                                                                                        <DxFormLayoutItem CaptionCssClass="normal-caption" Caption="Drug Route" ColSpanMd="12">
                                                                                                                                                            <DxComboBox ShowValidationIcon="true" Data="@DrugRoutes"
                                                                                                                                                                        NullText="Drug Route..."
                                                                                                                                                                        ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
                                                                                                                                                                        FilteringMode="@DataGridFilteringMode.Contains"
                                                                                                                                                                        @bind-Value="Prescription.DrugRouteId"
                                                                                                                                                                        TextFieldName="Route"
                                                                                                                                                                        ValueFieldName="Id">
                                                                                                                                                            </DxComboBox>
                                                                                                                                                            <ValidationMessage For="@(() => Prescription.DrugRouteId)" />
                                                                                                                                                        </DxFormLayoutItem>

                                                                                                                                                        <DxFormLayoutItem CaptionCssClass="normal-caption" Caption="Dosage/Frequency" ColSpanMd="12">
                                                                                                                                                            <DxComboBox ShowValidationIcon="true" Data="@DrugDosages"
                                                                                                                                                                        NullText="Select Dosage/Frequency..."
                                                                                                                                                                        ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
                                                                                                                                                                        FilteringMode="@DataGridFilteringMode.Contains"
                                                                                                                                                                        @bind-Value="Prescription.DrugDosageId"
                                                                                                                                                                        TextFieldName="Frequency"
                                                                                                                                                                        ValueFieldName="Id">
                                                                                                                                                            </DxComboBox>
                                                                                                                                                            <ValidationMessage For="@(() => Prescription.DrugDosageId)" />
                                                                                                                                                        </DxFormLayoutItem>

                                                                                                                                                        <DxFormLayoutItem CaptionCssClass="normal-caption" Caption="Price Unit" ColSpanMd="12">
                                                                                                                                                            <DxSpinEdit @bind-Value="@Prescription.PriceUnit"
                                                                                                                                                                        NullText="Price Unit..."
                                                                                                                                                                        ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
                                                                                                                                                                        BindValueMode="BindValueMode.OnInput" />
                                                                                                                                                            <ValidationMessage For="@(()=> Prescription.PriceUnit)"   />
                                                                                                                                                        </DxFormLayoutItem>

                                                                                                                                                    </DxFormLayout>
                                                                                                                                                </EditFormTemplate>
                                                                                                                                            </DxGrid>
                                                                                                                                        </DxLoadingPanel>
                                                                                                                                    </DxTabPage>

                                                                                                                                    <DxTabPage Text="Prescription Concoction">
                                                                                                                                        <DxLoadingPanel @bind-Visible="PanelVisible"
                                                                                                                                                        IndicatorAnimationType="WaitIndicatorAnimationType.Pulse"
                                                                                                                                                        IsContentBlocked="true"
                                                                                                                                                        ApplyBackgroundShading="true"
                                                                                                                                                        IndicatorAreaVisible="false"
                                                                                                                                                        Text="Fetching Data...">
                                                                                                                                            <DxGrid @ref="GridConcoction"
                                                                                                                                                    PagerNavigationMode="PagerNavigationMode.InputBox"
                                                                                                                                                    Data="Concoctions"
                                                                                                                                                    PageSize="10"
                                                                                                                                                    @bind-SelectedDataItems="@SelectedDataItemsPrescriptionConcoction"
                                                                                                                                                    FilterMenuButtonDisplayMode="GridFilterMenuButtonDisplayMode.Always"
                                                                                                                                                    KeyFieldName="Id"
                                                                                                                                                    CustomizeDataRowEditor="Grid_CustomizeDataRowEditor"
                                                                                                                                                    EditorRenderMode="GridEditorRenderMode.Detached"
                                                                                                                                                    DataItemDeleting="OnDelete"
                                                                                                                                                    AllowSelectRowByClick="true"
                                                                                                                                                    PagerPosition="GridPagerPosition.Bottom"
                                                                                                                                                    PageSizeSelectorVisible="true"
                                                                                                                                                    PageSizeSelectorItems="@(new int[] { 10, 20, 50, 100 })"
                                                                                                                                                    PopupEditFormCssClass="custom-width-grid-popup"
                                                                                                                                                    PageSizeSelectorAllRowsItemVisible="true"
                                                                                                                                                    EditMode="GridEditMode.PopupEditForm"
                                                                                                                                                    PagerSwitchToInputBoxButtonCount="10"
                                                                                                                                                    FocusedRowEnabled="true"
                                                                                                                                                    PagerVisibleNumericButtonCount="10"
                                                                                                                                                    FocusedRowChanged="GridFocusedRowVisibleIndexPrescriptionConcoction_FocusedRowChanged"
                                                                                                                                                    ShowGroupPanel="true"
                                                                                                                                                    AutoExpandAllGroupRows="true"
                                                                                                                                                    ShowFilterRow="true"
                                                                                                                                                    CustomizeElement="Grid_CustomizeElement"
                                                                                                                                                    ShowSearchBox="true"
                                                                                                                                                    SelectAllCheckboxMode="GridSelectAllCheckboxMode.Mixed"
                                                                                                                                                    KeyboardNavigationEnabled="true">
                                                                                                                                                <ToolbarTemplate>
                                                                                                                                                    <DxToolbar ItemRenderStyleMode="ToolbarRenderStyleMode.Contained">
                                                                                                                                                        <DxToolbarItem Visible="@UserAccessCRUID.Create" Text="New" Click="NewItemPrescriptionConcoction_Click" IconCssClass="fa-solid fa-plus" />
                                                                                                                                                        <DxToolbarItem Visible="@UserAccessCRUID.Update" Text="Edit" Click="EditItemPrescriptionConcoction_Click" IconCssClass="fa-solid fa-pen-to-square" Enabled="SelectedDataItems.Count > 0 && Prescriptions.Count > 0" />
                                                                                                                                                        <DxToolbarItem Visible="@UserAccessCRUID.Delete" Text="Delete" Click="DeleteItemPrescriptionConcoction_Click" IconCssClass="fa-solid fa-trash" Enabled="SelectedDataItems.Count > 0 && Prescriptions.Count > 0" />
                                                                                                                                                        <DxToolbarItem BeginGroup="true" Text="Refresh" Click="RefreshPrescriptionConcoction_Click" IconCssClass="fa-solid fa-arrows-rotate" />
                                                                                                                                                        <DxToolbarItem Text="Column Chooser" Click="ColumnChooserButton_Click" BeginGroup="true" IconCssClass="fa-solid fa-table-columns" />
                                                                                                                                                    </DxToolbar>
                                                                                                                                                </ToolbarTemplate>
                                                                                                                                                <Columns>
                                                                                                                                                    <DxGridSelectionColumn Width="15px" />
                                                                                                                                                    <DxGridDataColumn MinWidth="200" FieldName="MedicamentName" Caption="Name" SortIndex="0" />
                                                                                                                                                    <DxGridDataColumn MinWidth="200" FieldName="DrugDosage.Frequency" Caption="Dosage/Frequency" />
                                                                                                                                                    <DxGridDataColumn MinWidth="200" FieldName="QtyPerDay" Caption="Qty Per Day" />
                                                                                                                                                    <DxGridDataColumn MinWidth="200" FieldName="Qty Dose" Caption="Qty Dose" />
                                                                                                                                                    <DxGridDataColumn MinWidth="200" FieldName="Days" Caption="Days" />
                                                                                                                                                    <DxGridDataColumn MinWidth="200" FieldName="TotalQty" Caption="Total Qty" />
                                                                                                                                                </Columns>
                                                                                                                                            </DxGrid>
                                                                                                                                        </DxLoadingPanel>
                                                                                                                                    </DxTabPage>
                                                                                                                                </DxTabs>
                                                                                                                            </EditForm>
                                    }
                                }
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </section>
                                </div>
}
else
{
                                <div class="wrapper">
                                    <McDermott.Web.Components.Layout.BaseContentHeaderLayout Title="Prescription" />

                                    <LoadingIndicatorLayout></LoadingIndicatorLayout>
                                </div>
}

<DxPopup HeaderText="Concoction" @bind-Visible="@PopUpConcoctionDetail" HeaderCssClass="fw-bold"
         HorizontalAlignment="@HorizontalAlignment.Center"
         VerticalAlignment="@VerticalAlignment.Center" CloseOnOutsideClick="false" Width="auto">
    <EditForm Model="@Concoction" Context="EditFormContext" OnInvalidSubmit="@HandleValidConcoctionSubmit" OnValidSubmit="@HandleInvalidConcoctionSubmit">
        <DataAnnotationsValidator />
        <div class="row w-100">
            <div class="col-md-6">
                <DxFormLayout CssClass="mt w-100">

                    <DxFormLayoutItem Caption="Prescribing Doctor" CaptionCssClass="normal-caption" ColSpanMd="12">
                        <DxComboBox ShowValidationIcon="true"
                                    ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto" FilteringMode="@DataGridFilteringMode.Contains"
                                    Data="@Practitioners"
                                    NullText="Select Prescribing Doctor..."
                                    @bind-Value="@Pharmacy.PractitionerId"
                                    TextFieldName="Name"
                                    ReadOnly
                                    ValueFieldName="Id">
                        </DxComboBox>
                        <ValidationMessage For="@(()=> Pharmacy.PractitionerId)" />
                    </DxFormLayoutItem>

                    <DxFormLayoutItem Caption="Medicament Group" CaptionCssClass="normal-caption" ColSpanMd="12">
                        <DxComboBox ShowValidationIcon="true"
                                    ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto" FilteringMode="@DataGridFilteringMode.Contains"
                                    Data="@MedicamentGroups"
                                    NullText="Select Medicament Group..."
                                    @bind-Value="@Concoction.MedicamentGroupId"
                                    TextFieldName="Name"
                                    ValueFieldName="Id">
                        </DxComboBox>
                        <ValidationMessage For="@(()=> Concoction.MedicamentGroupId)" />
                    </DxFormLayoutItem>

                    @{
                        var medicamentGroup = MedicamentGroups.FirstOrDefault(x => x.Id == Concoction.MedicamentGroupId);
                        if (medicamentGroup is not null)
                        {
                            Concoction.MedicamentName = medicamentGroup.Name;
                        }
                    }

                    <DxFormLayoutItem Caption="Medicine Name" CaptionCssClass="normal-caption" ColSpanMd="12">
                        <DxTextBox @bind-Text="@Concoction.MedicamentName"
                                   ShowValidationIcon="true"
                                   ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
                                   NullText="Name" />
                        <ValidationMessage For="@(() => Concoction.MedicamentName)"   />
                    </DxFormLayoutItem>

                    <DxFormLayoutItem Caption="Qty Dose" CaptionCssClass="normal-caption" ColSpanMd="12">
                        <DxSpinEdit @bind-Value="@Concoction.QtyDose"
                                    NullText="Qty Dose..."
                                    ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
                                    BindValueMode="BindValueMode.OnInput" />
                        <ValidationMessage For="@(()=> Concoction.QtyDose)"   />
                    </DxFormLayoutItem>

                    <DxFormLayoutItem Caption="Unit of Dosage" CaptionCssClass="normal-caption" ColSpanMd="12">
                        <DxComboBox ShowValidationIcon="true"
                                    ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto" FilteringMode="@DataGridFilteringMode.Contains"
                                    Data="@Uoms"
                                    NullText="Select UoM..."
                                    @bind-Value="@Concoction.UomId"
                                    TextFieldName="Name"
                                    ValueFieldName="Id">
                        </DxComboBox>
                        <ValidationMessage For="@(()=> Concoction.UomId)" />
                    </DxFormLayoutItem>

                    <DxFormLayoutItem Caption="Form" CaptionCssClass="normal-caption" ColSpanMd="12">
                        <DxComboBox ShowValidationIcon="true"
                                    ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto" FilteringMode="@DataGridFilteringMode.Contains"
                                    Data="@DrugForms"
                                    NullText="Select Form..."
                                    @bind-Value="@Concoction.DrugFromId"
                                    TextFieldName="Name"
                                    ValueFieldName="Id">
                        </DxComboBox>
                        <ValidationMessage For="@(()=> Concoction.DrugFromId)" />
                    </DxFormLayoutItem>
                </DxFormLayout>
            </div>

            <div class="col-md-6">
                <DxFormLayout CssClass="mt w-100">
                    <DxFormLayoutItem Caption="Qty Per Day" CaptionCssClass="normal-caption" ColSpanMd="12">
                        <DxSpinEdit @bind-Value="@Concoction.QtyPerDay"
                                    NullText="Qty Per Day..."
                                    ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
                                    BindValueMode="BindValueMode.OnInput" />
                        <ValidationMessage For="@(()=> Concoction.QtyPerDay)"   />
                    </DxFormLayoutItem>

                    <DxFormLayoutItem Caption="Days" CaptionCssClass="normal-caption" ColSpanMd="12">
                        <DxSpinEdit @bind-Value="@Concoction.Days"
                                    NullText="Days..."
                                    ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
                                    BindValueMode="BindValueMode.OnInput" />
                        <ValidationMessage For="@(()=> Concoction.Days)"   />
                    </DxFormLayoutItem>

                    <DxFormLayoutItem Caption="Total Qty" CaptionCssClass="normal-caption" ColSpanMd="12">
                        <DxSpinEdit @bind-Value="@Concoction.TotalQty"
                                    NullText="Total Qty..."
                                    ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
                                    BindValueMode="BindValueMode.OnInput" />
                        <ValidationMessage For="@(()=> Concoction.TotalQty)"   />
                    </DxFormLayoutItem>
                </DxFormLayout>
            </div>
        </div>

        <hr />

        <DxTabs>
            <DxTabPage Text="Concoction Lines">
                <DxLoadingPanel @bind-Visible="PanelVisible"
                                IndicatorAnimationType="WaitIndicatorAnimationType.Pulse"
                                IsContentBlocked="true"
                                ApplyBackgroundShading="true"
                                IndicatorAreaVisible="false"
                                Text="Fetching Data...">
                    <DxGrid @ref="GridConcoctionLines"
                            PagerNavigationMode="PagerNavigationMode.InputBox"
                            Data="ConcoctionLines"
                            PageSize="10"
                            @bind-SelectedDataItems="@SelectedDataItemsPrescriptionLines"
                            FilterMenuButtonDisplayMode="GridFilterMenuButtonDisplayMode.Always"
                            KeyFieldName="Id"
                            CustomizeDataRowEditor="Grid_CustomizeDataRowEditor"
                            EditorRenderMode="GridEditorRenderMode.Detached"
                            DataItemDeleting="OnDelete"
                            AllowSelectRowByClick="true"
                            PagerPosition="GridPagerPosition.Bottom"
                            PageSizeSelectorVisible="true"
                            PageSizeSelectorItems="@(new int[] { 10, 20, 50, 100 })"
                            PageSizeSelectorAllRowsItemVisible="true"
                            PagerSwitchToInputBoxButtonCount="10"
                            FocusedRowEnabled="true"
                            PagerVisibleNumericButtonCount="10"
                            FocusedRowChanged="GridFocusedRowVisibleIndexPrescriptionLines_FocusedRowChanged"
                            ShowGroupPanel="true"
                            AutoExpandAllGroupRows="true"
                            ShowFilterRow="true"
                            CustomizeElement="Grid_CustomizeElement"
                            ShowSearchBox="true"
                            SelectAllCheckboxMode="GridSelectAllCheckboxMode.Mixed"
                            KeyboardNavigationEnabled="true">
                        <ToolbarTemplate>
                            <DxToolbar ItemRenderStyleMode="ToolbarRenderStyleMode.Contained">
                                <DxToolbarItem Visible="@UserAccessCRUID.Create" Text="New" Click="NewItemConcoctionLines_Click" IconCssClass="fa-solid fa-plus" />
                                <DxToolbarItem Visible="@UserAccessCRUID.Update" Text="Edit" Click="EditItemConcoctionLines_Click" IconCssClass="fa-solid fa-pen-to-square" Enabled="SelectedDataItems.Count > 0 && Concoctions.Count > 0" />
                                <DxToolbarItem Visible="@UserAccessCRUID.Delete" Text="Delete" Click="DeleteItemConcoctionLines_Click" IconCssClass="fa-solid fa-trash" Enabled="SelectedDataItems.Count > 0 && Concoctions.Count > 0" />
                                <DxToolbarItem BeginGroup="true" Text="Refresh" Click="RefreshConcoctionLines_Click" IconCssClass="fa-solid fa-arrows-rotate" />
                                <DxToolbarItem Text="Column Chooser" Click="ColumnChooserButton_Click" BeginGroup="true" IconCssClass="fa-solid fa-table-columns" />
                            </DxToolbar>
                        </ToolbarTemplate>
                        <Columns>
                            <DxGridSelectionColumn Width="15px" />
                            <DxGridDataColumn FieldName="Product.Name" Caption="Medicine Name" SortIndex="0" />
                            <DxGridDataColumn FieldName="DrugDosage.Frequency" Caption="Dosage/Frequency" />
                            <DxGridDataColumn FieldName="Practitioner.Name" Caption="Prescribing Doctor" />
                        </Columns>
                        <EditFormTemplate Context="EditFormContextPrescriptionConcoctionLines">
                            <EditForm Model="@Concoction" Context="EditFormContextPrescriptionConcoctionLinesForm" OnInvalidSubmit="@HandleValidConcoctionSubmit" OnValidSubmit="@HandleInvalidConcoctionSubmit">
                                <DataAnnotationsValidator />
                                <div class="row w-100">
                                    <div class="col-md-6">
                                        <DxFormLayout CssClass="mt w-100">
                                            <DxFormLayoutItem Caption="Medicine Name" CaptionCssClass="normal-caption" ColSpanMd="12">
                                                <DxComboBox ShowValidationIcon="true"
                                                            ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto" FilteringMode="@DataGridFilteringMode.Contains"
                                                            Data="@MedicamentGroups"
                                                            NullText="Select Medicine Name..."
                                                            @bind-Value="@ConcoctionLine.MedicamentId"
                                                            TextFieldName="Name"
                                                            ValueFieldName="Id">
                                                </DxComboBox>
                                                <ValidationMessage For="@(()=> ConcoctionLine.MedicamentId)" />
                                            </DxFormLayoutItem>

                                            @{
                                                var medicamentGroup = MedicamentGroups.FirstOrDefault(x => x.Id == Concoction.MedicamentGroupId);
                                                if (medicamentGroup is not null)
                                                {
                                                    Concoction.MedicamentName = medicamentGroup.Name;
                                                }
                                            }

                                            <DxFormLayoutItem Caption="Medicine Name" CaptionCssClass="normal-caption" ColSpanMd="12">
                                                <DxTextBox @bind-Text="@Concoction.MedicamentName"
                                                           ShowValidationIcon="true"
                                                           ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
                                                           NullText="Name" />
                                                <ValidationMessage For="@(() => Concoction.MedicamentName)"   />
                                            </DxFormLayoutItem>

                                            <DxFormLayoutItem Caption="Active Component" CaptionCssClass="normal-caption" ColSpanMd="12">
                                                <DxComboBox ShowValidationIcon="true"
                                                            ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto" FilteringMode="@DataGridFilteringMode.Contains"
                                                            Data="@ActiveComponents"
                                                            NullText="Select Active Component..."
                                                            @bind-Value="@ConcoctionLine.ActiveComponentId"
                                                            TextFieldName="Name"
                                                            ValueFieldName="Id">
                                                </DxComboBox>
                                                <ValidationMessage For="@(()=> ConcoctionLine.ActiveComponentId)" />
                                            </DxFormLayoutItem>

                                            <DxFormLayoutItem Caption="Medicine Dosage" CaptionCssClass="normal-caption" ColSpanMd="12">
                                                <DxSpinEdit @bind-Value="@ConcoctionLine.MedicineUnitOfDosage"
                                                            NullText="Medicine Unit Of Dosage..."
                                                            ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
                                                            BindValueMode="BindValueMode.OnInput" />
                                                <ValidationMessage For="@(()=> ConcoctionLine.MedicineUnitOfDosage)"   />
                                            </DxFormLayoutItem>
                                        </DxFormLayout>
                                    </div>

                                    <div class="col-md-6">
                                        <DxFormLayout CssClass="mt w-100">

                                            <DxFormLayoutItem Caption="Qty Dose" CaptionCssClass="normal-caption" ColSpanMd="12">
                                                <DxSpinEdit @bind-Value="@ConcoctionLine.QtyDose"
                                                            NullText="Qty Dose..."
                                                            ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
                                                            BindValueMode="BindValueMode.OnInput" />
                                                <ValidationMessage For="@(()=> ConcoctionLine.QtyDose)"   />
                                            </DxFormLayoutItem>

                                            <DxFormLayoutItem Caption="Unit of Dosage" CaptionCssClass="normal-caption" ColSpanMd="12">
                                                <DxComboBox ShowValidationIcon="true"
                                                            ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto" FilteringMode="@DataGridFilteringMode.Contains"
                                                            Data="@Uoms"
                                                            NullText="Select UoM..."
                                                            @bind-Value="@ConcoctionLine.MedicineUnitUomId"
                                                            TextFieldName="Name"
                                                            ValueFieldName="Id">
                                                </DxComboBox>
                                                <ValidationMessage For="@(()=> ConcoctionLine.MedicineUnitUomId)" />
                                            </DxFormLayoutItem>

                                            <DxFormLayoutItem Caption="Total Qty" CaptionCssClass="normal-caption" ColSpanMd="12">
                                                <DxSpinEdit @bind-Value="@ConcoctionLine.TotalQty"
                                                            NullText="Total Qty..."
                                                            ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
                                                            BindValueMode="BindValueMode.OnInput" />
                                                <ValidationMessage For="@(()=> ConcoctionLine.TotalQty)"   />
                                            </DxFormLayoutItem>

                                            <DxFormLayoutItem Caption="Available Qty" CaptionCssClass="normal-caption" ColSpanMd="12">
                                                <DxSpinEdit @bind-Value="@ConcoctionLine.AvailableQty"
                                                            NullText="Available Qty..."
                                                            ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
                                                            BindValueMode="BindValueMode.OnInput" />
                                                <ValidationMessage For="@(()=> ConcoctionLine.AvailableQty)"   />
                                            </DxFormLayoutItem>
                                        </DxFormLayout>
                                    </div>
                                </div>
                            </EditForm>
                        </EditFormTemplate>
                    </DxGrid>
                </DxLoadingPanel>
            </DxTabPage>
        </DxTabs>
    </EditForm>
</DxPopup>