@page "/inventory/uom-categories"
@rendermode InteractiveServer

<PageTitle>McHealthCare - Master Data Unit of Measure Categories</PageTitle>

@if (IsAccess)
{
    <div class="wrapper">

        <McDermott.Web.Components.Layout.BaseContentHeaderLayout Title="Unit of Measure Category" />

        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col">
                        <div class="card">
                            <div class="card-body">
                                <DxLoadingPanel @bind-Visible="PanelVisible"
                                                IsContentBlocked="true"
                                                ApplyBackgroundShading="true"
                                                IndicatorAreaVisible="true"
                                                Text="Fetching Data...">
                                    <MyGridPaginate @ref="Grid"
                                                    Data="UomCategories"
                                                    @bind-SelectedDataItems="@SelectedDataItems"
                                                    EditModelSaving="OnSave"
                                                    DataItemDeleting="OnDelete"
                                                    SearchTextChanged="OnSearchBoxChanged"
                                                    KeyFieldName="Id">
                                        <ToolbarTemplate>
                                            <MyDxToolbarBase TItem="UomCategoryDto"
                                                             Items="@UomCategories"
                                                             SelectedDataItems="@SelectedDataItems"
                                                             NewItem_Click="@NewItem_Click"
                                                             EditItem_Click="@EditItem_Click"
                                                             DeleteItem_Click="@DeleteItem_Click"
                                                             Refresh_Click="@Refresh_Click"
                                                             IsImport="UserAccessCRUID.IsImport"
                                                             Grid="Grid"
                                                             ImportFile="ImportFile"
                                                             ExportToExcel="ExportToExcel"
                                                             VisibleNew="UserAccessCRUID.IsCreate"
                                                             VisibleEdit="UserAccessCRUID.IsUpdate"
                                                             VisibleDelete="UserAccessCRUID.IsDelete" />
                                        </ToolbarTemplate>
                                        <Columns>
                                            <DxGridSelectionColumn Width="15px" />
                                            <DxGridDataColumn FieldName="Name" SortIndex="0" />
                                            <DxGridDataColumn FieldName="Type" />

                                        </Columns>
                                        <TotalSummary>
                                            <DxGridSummaryItem SummaryType="GridSummaryItemType.Count"
                                                               FieldName="Name"
                                                               Visible="true" />
                                        </TotalSummary>
                                        <EditFormTemplate Context="EditFormContext">
                                            @{
                                                var a = (UomCategoryDto)EditFormContext.EditModel;
                                            }
                                            <DxFormLayout CssClass="w-100">

                                                <DxFormLayoutItem CaptionCssClass="required-caption normal-caption" Caption="Name" ColSpanMd="12">
                                                    <DxTextBox @bind-Text="@a.Name"
                                                               ShowValidationIcon="true"
                                                               ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
                                                               NullText="Name" />
                                                    <ValidationMessage For="@(()=> a.Name)"   />
                                                </DxFormLayoutItem>

                                                <DxFormLayoutItem CaptionCssClass="normal-caption" Caption="Type" ColSpanMd="12">
                                                    <DxComboBox ShowValidationIcon="true"
                                                                Data="@Types"
                                                                NullText="Select Type..."
                                                                ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
                                                                FilteringMode="@DataGridFilteringMode.Contains"
                                                                @bind-Value="@a.Type">
                                                    </DxComboBox>
                                                    <ValidationMessage For="@(()=> a.Type)"   />
                                                </DxFormLayoutItem>
                                            </DxFormLayout>
                                           
                                        </EditFormTemplate>
                                    </MyGridPaginate>
                                    <div class="row">
                                        <DxFormLayout>
                                            <div class="col-md-8">
                                                <DxFormLayoutItem>
                                                    <DxPager PageCount="totalCount"
                                                             ActivePageIndexChanged="OnPageIndexChanged"
                                                             ActivePageIndex="activePageIndex"
                                                             VisibleNumericButtonCount="10"
                                                             SizeMode="SizeMode.Medium"
                                                             NavigationMode="PagerNavigationMode.Auto">
                                                    </DxPager>
                                                </DxFormLayoutItem>
                                            </div>
                                            <div class="col-md-4 d-flex justify-content-end">
                                                <DxFormLayoutItem Caption="Page Size:">
                                                    <MyDxComboBox Data="(new[] { 10, 25, 50, 100 })"
                                                                  NullText="Select Page Size"
                                                                  ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Never"
                                                                  SelectedItemChanged="((int e ) => OnPageSizeIndexChanged(e))"
                                                                  @bind-Value="pageSize">
                                                    </MyDxComboBox>
                                                </DxFormLayoutItem>
                                            </div>
                                        </DxFormLayout>
                                    </div>

                                </DxLoadingPanel>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
}
else
{
    <div class="wrapper">
        <McDermott.Web.Components.Layout.BaseContentHeaderLayout Title="Unit of Measure Category" />

        <LoadingIndicatorLayout></LoadingIndicatorLayout>
    </div>
}