@page "/inventory/internal-transfer"
@rendermode InteractiveServer

<PageTitle> Internal Transfer</PageTitle>
<div class="wrapper">
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Internal Transfer</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a class="no-underline" href="/">Home</a></li>
                        <li class="breadcrumb-item" @onclick="LoadData"><a class="no-underline" href="/inventory/internal-transfer">Internal Transfer</a></li>
                    </ol>
                </div>
            </div>
        </div>
    </section>
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col">
                    <div class="card">
                        <div class="card-body">
                            <DxLoadingPanel @bind-Visible="PanelVisible"
                                            IsContentBlocked="true"
                                            ApplyBackgroundShading="true"
                                            IndicatorAreaVisible="true"
                                            Text="Fetching Data...">
                                <DxGrid @ref="Grid" PagerNavigationMode="PagerNavigationMode.InputBox"
                                        Data="TransactionStocks"
                                        PageSize="10"
                                        @bind-SelectedDataItems="@SelectedDataItems"
                                        FilterMenuButtonDisplayMode="GridFilterMenuButtonDisplayMode.Always"
                                        KeyFieldName="Id"
                                        DataItemDeleting="OnDelete"
                                        CustomizeDataRowEditor="Grid_CustomizeDataRowEditor"
                                        EditorRenderMode="GridEditorRenderMode.Detached"
                                        PagerPosition="GridPagerPosition.Bottom"
                                        AllowSelectRowByClick="true"
                                        PageSizeSelectorVisible="true"
                                        PageSizeSelectorItems="@(new int[] { 10, 20, 50, 100 })"
                                        PageSizeSelectorAllRowsItemVisible="true"
                                        PagerSwitchToInputBoxButtonCount="10"
                                        FocusedRowEnabled="true"
                                        PagerVisibleNumericButtonCount="10"
                                        FocusedRowChanged="Grid_FocusedRowChanged"
                                        ShowGroupPanel="true"
                                        AutoExpandAllGroupRows="true"
                                        CssClass="ch-480"
                                        ShowFilterRow="true"
                                        RowDoubleClick="OnRowDoubleClick"
                                        TextWrapEnabled="false"
                                        CustomizeElement="Grid_CustomizeElement"
                                        ShowSearchBox="true"
                                        SelectAllCheckboxMode="GridSelectAllCheckboxMode.Mixed"
                                        KeyboardNavigationEnabled="true">
                                    <ToolbarTemplate>
                                        <DxToolbar ItemRenderStyleMode="ToolbarRenderStyleMode.Plain">
                                            <DxToolbarItem Visible="@UserAccessCRUID.Create" Text="New" Click="NewItem_Click" IconCssClass="fa-solid fa-plus" />
                                            <DxToolbarItem Visible="@UserAccessCRUID.Update" Text="Edit" Click=" EditItem_Click" IconCssClass="fa-solid fa-pen-to-square" Enabled="SelectedDataItems.Count > 0 && StockProducts.Count > 0" />
                                            <DxToolbarItem Visible="@UserAccessCRUID.Delete" Text="Delete" Click="DeleteItem_Click" IconCssClass="fa-solid fa-trash" Enabled="SelectedDataItems.Count > 0 && StockProducts.Count > 0" />
                                            <DxToolbarItem BeginGroup="true" Text="Refresh" Click="Refresh_Click" IconCssClass="fa-solid fa-arrows-rotate" />
                                        </DxToolbar>
                                    </ToolbarTemplate>
                                    <Columns>
                                        <DxGridSelectionColumn Width="15px" />
                                        <DxGridDataColumn FieldName="KodeTransaksi" Caption="No Transaksi" SortIndex="0" />
                                        <DxGridDataColumn FieldName="Source.Name" Caption="Source Location" SortIndex="0" />
                                        @* @if (FieldHideStock == true)
                                        { *@
                                        <DxGridDataColumn FieldName="Destinance.Name" Caption="Destination Location" />
                                        @* } *@
                                        <DxGridDataColumn FieldName="Product.Name" Caption="Product Name" />
                                        <DxGridDataColumn FieldName="Qty" Caption=" Qty" MinWidth="130" />
                                        <DxGridDataColumn FieldName="Uom.Name" Caption="Unit Of Measure" />
                                        @* @if (FieldHideStock == true)
                                        {
                                        <DxGridDataColumn FieldName="Expired" Caption="Expired Date" />
                                        } *@
                                    </Columns>
                                </DxGrid>
                                <DxPopup Visible="showForm" Width="70%" MinWidth="40%" HeaderText="@header">
                                    <EditForm Model="@FormInternalTransfer" Context="EditFormContext" OnInvalidSubmit="@HandleInvalidSubmit" OnValidSubmit="@HandleValidSubmit">
                                        <DataAnnotationsValidator />
                                        <DxFormLayout CssClass="mt">
                                            @if (FormInternalTransfer.Id != null)
                                            {
                                                <DxFormLayoutItem ColSpanMd="12">
                                                    <h2>@FormInternalTransfer.KodeTransaksi</h2>
                                                </DxFormLayoutItem>
                                            }
                                            <DxFormLayoutItem Caption="Source Location" CaptionCssClass="normal-caption" ColSpanMd="12">
                                                <DxComboBox Data="@Locations"
                                                            @bind-Value="@FormInternalTransfer.Source"
                                                            NullText=" Select Location Source..."
                                                            TextFieldName="Name"
                                                            ValueFieldName="Id"
                                                            ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
                                                            ShowValidationIcon="true"></DxComboBox>
                                                <ValidationMessage For="@(()=>FormInternalTransfer.SourceId)"></ValidationMessage>
                                            </DxFormLayoutItem>

                                            <DxFormLayoutItem Caption="Destination Location" CaptionCssClass="normal-caption" ColSpanMd="12">
                                                <DxComboBox Data="@Locations"
                                                            @bind-Value="@FormInternalTransfer.DestinationId"
                                                            NullText=" Select Location Destinance..."
                                                            TextFieldName="Name"
                                                            ValueFieldName="Id"
                                                            ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
                                                            ShowValidationIcon="true"></DxComboBox>
                                                <ValidationMessage For="@(()=>FormInternalTransfer.DestinationId)"></ValidationMessage>
                                            </DxFormLayoutItem>
                                            <DxFormLayoutItem Caption="Schendule Date" CaptionCssClass="normal-caption" ColSpanMd="12">
                                                <DxDateEdit @bind-Date="@FormInternalTransfer.SchenduleDate" ShowValidationIcon="true"></DxDateEdit>
                                            </DxFormLayoutItem>
                                            <DxFormLayoutItem Caption="Reference" CaptionCssClass="normal-caption" ColSpanMd="12">
                                                <DxMemo @bind-Text="@FormInternalTransfer.Reference" NullText="Input Reference.." ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto" ShowValidationIcon="true"></DxMemo>
                                            </DxFormLayoutItem>
                                            <DxFormLayoutGroup Caption="Tranfer Lines">

                                                <div class="col-md-4">
                                                    <DxFormLayoutItem Caption="Product Name" CaptionCssClass="normal-caption" ColSpanMd="12" CaptionPosition="CaptionPosition.Vertical">
                                                        <DxComboBox Data="@Products"
                                                                    @bind-Value="@FormInternalTransfer.ProductId"
                                                                    NullText="Select Product.."
                                                                    TextFieldName="Name"
                                                                    ValueFieldName="Id"
                                                                    ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
                                                                    SelectedItemChanged="@((ProductDto product)=> SelectedItemProduct(product))"
                                                                    ShowValidationIcon="true"></DxComboBox>
                                                        <ValidationMessage For="@(()=>FormInternalTransfer.ProductId)"></ValidationMessage>
                                                    </DxFormLayoutItem>
                                                </div>
                                                <div class="col-md-4">
                                                    <DxFormLayoutItem Caption="Quantity Stock" CaptionCssClass="normal-caption" ColSpanMd="12" CaptionPosition="CaptionPosition.Vertical">
                                                        <DxSpinEdit @bind-Value="@FormInternalTransfer.QtyStock"
                                                                    NullText="Input Quantity Stock..."
                                                                    MinValue="0"
                                                                    ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
                                                                    ShowValidationIcon="true"></DxSpinEdit>
                                                        <ValidationMessage For="@(()=>FormInternalTransfer.QtyStock)"></ValidationMessage>
                                                    </DxFormLayoutItem>
                                                </div>
                                                <div class="col-md-4">
                                                    <DxFormLayoutItem Caption="Unit Of Measure" CaptionCssClass="normal-caption" ColSpanMd="12" CaptionPosition="CaptionPosition.Vertical">
                                                        <DxTextBox @bind-Text="@FormInternalTransfer.UomName"
                                                                   NullText="Unit Of Measure"
                                                                   ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
                                                                   ReadOnly
                                                                   ShowValidationIcon="true"></DxTextBox>
                                                    </DxFormLayoutItem>
                                                </div>

                                            </DxFormLayoutGroup>
                                        </DxFormLayout>
                                        <hr />
                                        <DxFormLayout class="mt">
                                            <div class="col d-flex justify-content-end">
                                                <DxButton RenderStyle="ButtonRenderStyle.Primary" RenderStyleMode="@ButtonRenderStyleMode.Outline" CssClass="mr-1" IconCssClass="fa-solid fa-floppy-disk" Text="Save" SubmitFormOnClick="true"></DxButton>
                                                <DxButton RenderStyle="ButtonRenderStyle.Danger" RenderStyleMode="@ButtonRenderStyleMode.Outline" IconCssClass="fa-solid fa-xmark" Text="Discard" Click="onDiscard"></DxButton>
                                            </div>
                                        </DxFormLayout>
                                    </EditForm>
                                </DxPopup>
                            </DxLoadingPanel>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>