@page "/inventory/product"
@rendermode InteractiveServer

<PageTitle>@Helper.APP_NAME - Product</PageTitle>

@if (IsAccess)
{
    <div class="wrapper">

        <BaseHeaderPage Title="Product" OnClickBack="@(async () => await LoadData())" ShowBackButton="showForm" />


        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col">
                        @if (!showForm && !StockProductView)
                        {
                            <div class="card">
                                <DxLoadingPanel @bind-Visible="PanelVisible"
                                                IsContentBlocked="true"
                                                ApplyBackgroundShading="true"
                                                IndicatorAreaVisible="true"
                                                Text="Fetching Data...">
                                    <DxGrid @ref="Grid" PagerNavigationMode="PagerNavigationMode.InputBox"
                                            Data="Products"
                                            PageSize="10"
                                            @bind-SelectedDataItems="@SelectedDataItems"
                                            FilterMenuButtonDisplayMode="GridFilterMenuButtonDisplayMode.Always"
                                            KeyFieldName="Id"
                                            DataItemDeleting="OnDelete"
                                            CustomizeDataRowEditor="Grid_CustomizeDataRowEditor"
                                            EditorRenderMode="GridEditorRenderMode.Detached"
                                            PagerPosition="GridPagerPosition.Bottom"
                                            AllowSelectRowByClick="true"
                                            PageSizeSelectorVisible="true"
                                            PageSizeSelectorItems="@(new int[] { 10, 20, 50, 100 })"
                                            PageSizeSelectorAllRowsItemVisible="true"
                                            PagerSwitchToInputBoxButtonCount="10"
                                            FocusedRowEnabled="true"
                                            PagerVisibleNumericButtonCount="10"
                                            FocusedRowChanged="Grid_FocusedRowChanged"
                                            ShowGroupPanel="true"
                                            AutoExpandAllGroupRows="true"
                                            CssClass="ch-480"
                                            ShowFilterRow="true"
                                            RowDoubleClick="OnRowDoubleClick"
                                            TextWrapEnabled="false"
                                            CustomizeElement="Grid_CustomizeElement"
                                            ShowSearchBox="true"
                                            SelectAllCheckboxMode="GridSelectAllCheckboxMode.Mixed"
                                            KeyboardNavigationEnabled="true">
                                        <ToolbarTemplate>
                                            <DxToolbar ItemRenderStyleMode="ToolbarRenderStyleMode.Plain">
                                                <DxToolbarItem Visible="@UserAccessCRUID.Create" Text="New" Click="NewItem_Click" IconCssClass="fa-solid fa-plus" />
                                                <DxToolbarItem Visible="@UserAccessCRUID.Update" Text="Edit" Click="() => EditItem_Click(null)" IconCssClass="fa-solid fa-pen-to-square" Enabled="SelectedDataItems.Count > 0 && Products.Count > 0" />
                                                <DxToolbarItem Visible="@UserAccessCRUID.Delete" Text="Delete" Click="DeleteItem_Click" IconCssClass="fa-solid fa-trash" Enabled="SelectedDataItems.Count > 0 && Products.Count > 0" />
                                                <DxToolbarItem BeginGroup="true" Text="Refresh" Click="Refresh_Click" IconCssClass="fa-solid fa-arrows-rotate" />

                                            </DxToolbar>
                                        </ToolbarTemplate>
                                        <Columns>
                                            <DxGridSelectionColumn Width="15px" />
                                            <DxGridDataColumn FieldName="Name" Caption="Product Name" SortIndex="0" />
                                            <DxGridDataColumn FieldName="InternalReference" Caption="Internal Reference" />
                                            <DxGridDataColumn FieldName="SalesPrice" Caption="Sales Price" />
                                            <DxGridDataColumn FieldName="Qtys" Caption="Qty On Hand" />
                                            <DxGridDataColumn FieldName="UomName" Caption="Unit Of Measure" />
                                        </Columns>
                                    </DxGrid>
                                </DxLoadingPanel>
                            </div>
                        }
                        else if (showForm && !StockProductView)
                        {
                            @if (smartButtonShow)
                            {
                                <div class="card-body">
                                    <div class="card">
                                        <div class="row justify-content-between mt-2 mx-2">
                                            <div class="col-md-3 col-sm-5 col-12 align-self-center">
                                                <h5 class="fw-bolder ">Action: </h5>
                                            </div>

                                            <div class="col-md-4 col-sm-6 col-12 ">
                                                <div class="info-box shadow border">
                                                    <DxButton class="info-box-icon bg-info" style="border:none" Click="NewTableStock_Item"><i class="fa-solid fa-boxes-stacked"></i></DxButton>

                                                    <div class="info-box-content">
                                                        <h3 class="info-box-number"> @TotalQty </h3>
                                                        <h4 class="info-box-text"> @NameUom</h4>
                                                        <span class="info-box-text">On Hand</span>
                                                    </div>
                                                    <!-- /.info-box-content -->
                                                </div>
                                                <!-- /.info-box -->
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            }
                            <div class="card">
                                <div class="card-body">
                                    <EditForm Model="@FormProductDetails" Context="EditFormContext" OnInvalidSubmit="@HandleInvalidSubmit" OnValidSubmit="@HandleValidSubmit">
                                        <DataAnnotationsValidator />
                                        <DxFormLayout CssClass="mt w-100">
                                            <DxFormLayoutItem Caption="Name" CaptionCssClass="normal-caption" ColSpanMd="12">
                                                <DxTextBox @bind-Text="@FormProductDetails.Name"
                                                           NullText="Name Product"
                                                           ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
                                                           ShowValidationIcon="true"></DxTextBox>
                                                <ValidationMessage For="@(()=>FormProductDetails.Name)" />
                                            </DxFormLayoutItem>
                                        </DxFormLayout>
                                        <hr />
                                        <div class="cw-480">
                                            <DxTabs>
                                                @if (showTabs)
                                                {
                                                    <DxTabPage Text="MEDICAMENT" TabIconCssClass="fa-solid fa-pills">
                                                        <div class="row">
                                                            <div class="col-md-6">
                                                                <DxFormLayout CssClass="mt w-100">
                                                                    <DxFormLayoutItem Caption="Drug Form" CaptionCssClass=" normal-caption" ColSpanMd="12">
                                                                        <DxComboBox Data="@DrugForms"
                                                                                    @bind-Value="@FormProductDetails.FormId"
                                                                                    ShowValidationIcon="true"
                                                                                    NullText="Select Drug Form.."
                                                                                    TextFieldName="Name"
                                                                                    ValueFieldName="Id"
                                                                                    ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
                                                                                    FilteringMode="@DataGridFilteringMode.Contains"></DxComboBox>
                                                                    </DxFormLayoutItem>

                                                                    @* <DxFormLayoutItem Caption="Drug Form" CaptionCssClass=" normal-caption" ColSpanMd="12">
                                                                        <DxComboBox Data="@colors" Context="contexta" @bind-Value="@selectedColor" TextFieldName="Name" ValueFieldName="Color">
                                                                            <ItemTemplate>
                                                                                @{
                                                                                    var item = contexta as ColorItem;
                                                                                }
                                                                                <div style="display: flex; align-items: center;">
                                                                                    <div style="width: 15px; height: 15px; background-color: @(item?.Color); margin-right: 10px;"></div>
                                                                                    <span>@item?.Name</span>
                                                                                </div>
                                                                            </ItemTemplate>
                                                                            <EditBoxTemplate>
                                                                                @{
                                                                                    var selectedItem = colors.FirstOrDefault(c => c.Color == selectedColor);
                                                                                }
                                                                                <div style="display: flex; align-items: center;">
                                                                                    <div style="width: 15px; height: 15px; background-color: @(selectedItem?.Color); margin-right: 10px;"></div>
                                                                                    <span>@selectedItem?.Name</span>
                                                                                </div>
                                                                            </EditBoxTemplate>
                                                                        </DxComboBox>
                                                                    </DxFormLayoutItem> *@

                                                                    <DxFormLayoutItem Caption="Route" CaptionCssClass="normal-caption" ColSpanMd="12">
                                                                        <DxComboBox Data="@DrugRoutes"
                                                                                    @bind-Value="@FormProductDetails.RouteId"
                                                                                    ShowValidationIcon="true"
                                                                                    NullText="Select Drug Route.."
                                                                                    TextFieldName="Route"
                                                                                    ValueFieldName="Id"
                                                                                    ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
                                                                                    FilteringMode="@DataGridFilteringMode.Contains"></DxComboBox>
                                                                    </DxFormLayoutItem>
                                                                    <DxFormLayoutItem Caption="Dosage" CaptionCssClass=" normal-caption" ColSpanMd="12">
                                                                        <Template>
                                                                            <DxGridLayout ColumnSpacing="8px">
                                                                                <Rows>
                                                                                    <DxGridLayoutRow />
                                                                                </Rows>
                                                                                <Columns>
                                                                                    <DxGridLayoutColumn />
                                                                                    <DxGridLayoutColumn />
                                                                                </Columns>
                                                                                <Items>
                                                                                    <DxGridLayoutItem Row="0" Column="0" CssClass="normal-caption " ColumnSpan="1">
                                                                                        <Template>
                                                                                            <DxSpinEdit @bind-Value="@FormProductDetails.Dosage" ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto" ShowValidationIcon="true"></DxSpinEdit>
                                                                                        </Template>
                                                                                    </DxGridLayoutItem>
                                                                                    <DxGridLayoutItem Row="0" Column="1" CssClass=" normal-caption " ColumnSpan="6">
                                                                                        <Template>
                                                                                            <DxComboBox Data="@Uoms"
                                                                                                        @bind-Value="@FormProductDetails.UomMId"
                                                                                                        NullText="Select UoM.."
                                                                                                        TextFieldName="Name"
                                                                                                        ValueFieldName="Id"
                                                                                                        ShowValidationIcon="true"
                                                                                                        ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
                                                                                                        FilteringMode="@DataGridFilteringMode.Contains"></DxComboBox>
                                                                                        </Template>
                                                                                    </DxGridLayoutItem>
                                                                                </Items>
                                                                            </DxGridLayout>
                                                                        </Template>
                                                                    </DxFormLayoutItem>
                                                                    <DxFormLayoutItem Caption="Chronies" CaptionCssClass=" normal-caption" ColSpanMd="12">
                                                                        <DxCheckBox @bind-Checked="@Checkin" LabelPosition="LabelPosition.Left" CssClass="w-100" />
                                                                    </DxFormLayoutItem>
                                                                    @if (Chronis)
                                                                    {
                                                                        <DxFormLayoutItem Caption="Montly Max" CaptionCssClass=" normal-caption" ColSpanMd="12">
                                                                            <DxTextBox @bind-Text="@FormProductDetails.MontlyMax" NullText="0.00" />
                                                                        </DxFormLayoutItem>
                                                                    }
                                                                </DxFormLayout>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <DxFormLayout CssClass="mt w-100">
                                                                    <DxFormLayoutItem Caption="Frequency" CaptionCssClass=" normal-caption" ColSpanMd="12">
                                                                        <DxComboBox Data="@Frequencys"
                                                                                    @bind-Value="@FormProductDetails.FrequencyId"
                                                                                    TextFieldName="Frequency"
                                                                                    NullText="Select Frequency.."
                                                                                    ValueFieldName="Id"
                                                                                    ShowValidationIcon="true"
                                                                                    ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
                                                                                    FilteringMode="@DataGridFilteringMode.Contains"></DxComboBox>
                                                                    </DxFormLayoutItem>
                                                                    <DxFormLayoutItem Caption="Active Component" CaptionCssClass=" normal-caption" ColSpanMd="12">
                                                                        <DxTagBox Data="@ActiveComponents"
                                                                                  FilteringMode="@DataGridFilteringMode.Contains"
                                                                                  @bind-Values="@selectedActiveComponents"
                                                                                  NullText="Select Active Component.."
                                                                                  ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
                                                                                  TextFieldName="Name" />
                                                                    </DxFormLayoutItem>
                                                                    <DxFormLayoutItem Caption="Pregnancy Warning" CaptionCssClass=" normal-caption" ColSpanMd="12">
                                                                        <DxCheckBox @bind-Checked="@FormProductDetails.PregnancyWarning" />
                                                                    </DxFormLayoutItem>
                                                                     <DxFormLayoutItem CaptionCssClass="normal-caption" Caption="Medicine Type" ColSpanMd="12">
                                                                    <DxCheckBox CssClass="normal-caption" @bind-Checked="@FormProductDetails.IsTopicalMedication">
                                                                        <div class="normal-caption">Topical Medication</div>
                                                                    </DxCheckBox>
                                                                    <DxCheckBox @bind-Checked="@(FormProductDetails.IsOralMedication)">
                                                                        <div class="normal-caption">Oral Medication</div>
                                                                    </DxCheckBox>
                                                                </DxFormLayoutItem> 
                                                                </DxFormLayout>
                                                            </div>
                                                            @* <DxFormLayout CssClass="mt-1">
                                                <DxFormLayoutGroup Caption="Alergy Data" CaptionCssClass="fw-bold ">
                                                <DxFormLayoutItem ColSpanMd="4" Caption="Pharmacology" CaptionCssClass="normal-caption">
                                                <DxCheckBox @bind-Checked="@FormProductDetails.Pharmacologi" LabelPosition="LabelPosition.Left" CssClass="w-100" />
                                                </DxFormLayoutItem>
                                                <DxFormLayoutItem ColSpanMd="4" Caption="Weather" CaptionCssClass="normal-caption">
                                                <DxCheckBox @bind-Checked="@FormProductDetails.Weather" LabelPosition="LabelPosition.Left" CssClass="w-100" />
                                                </DxFormLayoutItem>
                                                <DxFormLayoutItem ColSpanMd="4" Caption="Food" CaptionCssClass="normal-caption">
                                                <DxCheckBox @bind-Checked="@FormProductDetails.Food" LabelPosition="LabelPosition.Left" CssClass="w-100" />
                                                </DxFormLayoutItem>
                                                </DxFormLayoutGroup>
                                                </DxFormLayout> *@
                                                        </div>
                                                    </DxTabPage>
                                                }
                                                <DxTabPage Text="GENERAL INFORMATION" TabIconCssClass="fa-solid fa-circle-info">
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <DxFormLayout CssClass="mt w-100">
                                                                <DxFormLayoutItem Caption="Product Type" CaptionCssClass="normal-caption" ColSpanMd="12">
                                                                    <DxComboBox Data="@ProductTypes"
                                                                                @bind-Value="@FormProductDetails.ProductType"
                                                                                ShowValidationIcon="true"
                                                                                ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
                                                                                FilteringMode="@DataGridFilteringMode.Contains"></DxComboBox>
                                                                </DxFormLayoutItem>
                                                                <DxFormLayoutItem Caption="Hospital Type" CaptionCssClass=" normal-caption" ColSpanMd="12">
                                                                    <DxComboBox Data="@HospitalProducts"
                                                                                @bind-Value="@FormProductDetails.HospitalType"
                                                                                ShowValidationIcon="true"
                                                                                ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
                                                                                SelectedItemChanged="@((string city) => SelectedItemChanged(city))"
                                                                                FilteringMode="@DataGridFilteringMode.Contains"></DxComboBox>
                                                                </DxFormLayoutItem>

                                                                @* Ini Untuk Medical Equipment *@
                                                                <DxFormLayoutItem Caption="Brand" Visible="@(FormProductDetails.HospitalType is not null && FormProductDetails.HospitalType.Equals("Medical Equipment"))" CaptionCssClass="normal-caption" ColSpanMd="12">
                                                                    <MyTextBox @bind-Text="FormProductDetails.Brand"
                                                                               NullText="Brand" />
                                                                </DxFormLayoutItem>

                                                                <DxFormLayoutItem Caption="Equipment Code" Visible="@(FormProductDetails.HospitalType is not null && FormProductDetails.HospitalType.Equals("Medical Equipment"))" CaptionCssClass="normal-caption" ColSpanMd="12">
                                                                    <MyTextBox @bind-Text="FormProductDetails.EquipmentCode"
                                                                               NullText="Equipment Code" />
                                                                </DxFormLayoutItem>

                                                                <DxFormLayoutItem CaptionCssClass="normal-caption" Visible="@(FormProductDetails.HospitalType is not null && FormProductDetails.HospitalType.Equals("Medical Equipment"))" Caption="Year Of Purchase" ColSpanMd="12">
                                                                    <DxDateEdit @bind-Date="@FormProductDetails.YearOfPurchase"
                                                                                Mask="@DateTimeMask.ShortDate"
                                                                                NullText="Year Of Purchase">
                                                                    </DxDateEdit>
                                                                </DxFormLayoutItem>

                                                                <DxFormLayoutItem Caption="Last Calibration Date" Visible="@(FormProductDetails.HospitalType is not null && FormProductDetails.HospitalType.Equals("Medical Equipment"))" CaptionCssClass=" normal-caption" ColSpanMd="12">
                                                                    <Template>
                                                                        <DxGridLayout ColumnSpacing="8px">
                                                                            <Rows>
                                                                                <DxGridLayoutRow />
                                                                            </Rows>
                                                                            <Columns>
                                                                                <DxGridLayoutColumn />
                                                                                <DxGridLayoutColumn />
                                                                            </Columns>
                                                                            <Items>
                                                                                <DxGridLayoutItem Row="0" Column="0" CssClass="normal-caption" ColumnSpan="1">
                                                                                    <Template>
                                                                                        <DxDateEdit @bind-Date="@FormProductDetails.LastCalibrationDate"
                                                                                                    Mask="@DateTimeMask.ShortDate"
                                                                                                    NullText="Year Of Purchase">
                                                                                        </DxDateEdit>
                                                                                    </Template>
                                                                                </DxGridLayoutItem>
                                                                                <DxGridLayoutItem Row="0" Column="1" CssClass=" normal-caption" ColumnSpan="6">
                                                                                    <Template>
                                                                                        <DxDateEdit @bind-Date="@FormProductDetails.NextCalibrationDate"
                                                                                                    Mask="@DateTimeMask.ShortDate"
                                                                                                    NullText="Next Calibration Date">
                                                                                        </DxDateEdit>
                                                                                    </Template>
                                                                                </DxGridLayoutItem>
                                                                            </Items>
                                                                        </DxGridLayout>
                                                                    </Template>
                                                                </DxFormLayoutItem>

                                                                <DxFormLayoutItem CaptionCssClass="normal-caption" Visible="@(FormProductDetails.HospitalType is not null && FormProductDetails.HospitalType.Equals("Medical Equipment"))" Caption="Equipment Condition" ColSpanMd="12">
                                                                    <MyDxComboBox Data="@EquipmentConditions"
                                                                                  NullText="Equipment Condition..."
                                                                                  @bind-Value="@FormProductDetails.EquipmentCondition">
                                                                    </MyDxComboBox>
                                                                </DxFormLayoutItem>

                                                                <DxFormLayoutItem Caption="BPJS Classification" CaptionCssClass=" normal-caption" ColSpanMd="12">
                                                                    <DxComboBox Data="@BpjsClassifications"
                                                                                @bind-Value="@FormProductDetails.BpjsClassificationId"
                                                                                NullText="Select BPJS Classification.."
                                                                                TextFieldName="Name"
                                                                                ValueFieldName="Id"
                                                                                ShowValidationIcon="true"
                                                                                ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
                                                                                FilteringMode="@DataGridFilteringMode.Contains"></DxComboBox>
                                                                </DxFormLayoutItem>
                                                                <DxFormLayoutItem Caption="Unit Of Measure" CaptionCssClass="required-caption normal-caption" ColSpanMd="12">
                                                                    <MyDxComboBox Data="@Uoms"
                                                                                  @bind-Value="@FormProductDetails.UomId"
                                                                                  NullText="Select Unit Of Measure..."
                                                                                  TextFieldName="Name"
                                                                                  ValueFieldName="Id"
                                                                                  SelectedItemChanged="@((UomDto uomId)=>SelectedChangeUoM(uomId))" />
                                                                    <ValidationMessage For="@(()=> FormProductDetails.UomId)"   />
                                                                </DxFormLayoutItem>
                                                                <DxFormLayoutItem Caption="Purchase UoM" CaptionCssClass="required-caption normal-caption" ColSpanMd="12">
                                                                    <MyDxComboBox Data="@Uoms"
                                                                                  @bind-Value="@FormProductDetails.PurchaseUomId"
                                                                                  NullText="Select Purchase UoM..."
                                                                                  TextFieldName="Name"
                                                                                  ValueFieldName="Id" />

                                                                    <ValidationMessage For="@(()=> FormProductDetails.PurchaseUomId)"   />
                                                                </DxFormLayoutItem>
                                                                <DxFormLayoutItem Caption="Batch & Expired" CaptionCssClass="normal-caption" ColSpanMd="12">
                                                                    <DxCheckBox @bind-Checked="@FormProductDetails.TraceAbility"></DxCheckBox>
                                                                </DxFormLayoutItem>
                                                            </DxFormLayout>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <DxFormLayout CssClass="mt">
                                                                <DxFormLayoutItem Caption="Sale Price" CaptionCssClass=" normal-caption" ColSpanMd="12">
                                                                    <DxMaskedInput @bind-Value="@FormProductDetails.SalesPrice" Mask="@NumericMask.Currency" ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto" ShowValidationIcon="true">
                                                                        <DxNumericMaskProperties Culture="Culture"></DxNumericMaskProperties>
                                                                    </DxMaskedInput>
                                                                </DxFormLayoutItem>
                                                                <DxFormLayoutItem Caption="Customer Tax" CaptionCssClass=" normal-caption" ColSpanMd="12">
                                                                    <DxTextBox @bind-Text="@FormProductDetails.Tax" ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto" ShowValidationIcon="true" />
                                                                </DxFormLayoutItem>
                                                                <DxFormLayoutItem Caption="Cost" CaptionCssClass=" normal-caption" ColSpanMd="12">
                                                                    <DxMaskedInput @bind-Value="@FormProductDetails.Cost" Mask="@NumericMask.Currency" ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto" ShowValidationIcon="true">
                                                                        <DxNumericMaskProperties Culture="Culture"></DxNumericMaskProperties>
                                                                    </DxMaskedInput>
                                                                </DxFormLayoutItem>
                                                                <DxFormLayoutItem Caption="Category Product" CaptionCssClass=" normal-caption" ColSpanMd="12">
                                                                    <DxComboBox Data="@productCategories"
                                                                                @bind-Value="@FormProductDetails.ProductCategoryId"
                                                                                NullText="Select Product Category..."
                                                                                TextFieldName="Name"
                                                                                ValueFieldName="Id"
                                                                                ShowValidationIcon="true"
                                                                                ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
                                                                                FilteringMode="@DataGridFilteringMode.Contains"></DxComboBox>
                                                                </DxFormLayoutItem>
                                                                <DxFormLayoutItem Caption="Internal Reference" CaptionCssClass=" normal-caption" ColSpanMd="12">
                                                                    <DxMemo @bind-Text="@FormProductDetails.InternalReference"
                                                                            NullText="Internal Reference.."
                                                                            ShowValidationIcon="true" />
                                                                </DxFormLayoutItem>
                                                               
                                                            </DxFormLayout>
                                                        </div>
                                                    </div>
                                                </DxTabPage>
                                            </DxTabs>
                                        </div>

                                        <hr />
                                        <DxFormLayout class="mt">
                                            <div class="col d-flex justify-content-end">
                                                <DxButton RenderStyle="ButtonRenderStyle.Primary" RenderStyleMode="@ButtonRenderStyleMode.Outline" CssClass="mr-1" IconCssClass="fa-solid fa-floppy-disk" Text="Save" SubmitFormOnClick="true"></DxButton>
                                                <DxButton RenderStyle="ButtonRenderStyle.Danger" RenderStyleMode="@ButtonRenderStyleMode.Outline" IconCssClass="fa-solid fa-xmark" Text="Discard" SubmitFormOnClick="true" Click="onDiscard"></DxButton>
                                            </div>
                                        </DxFormLayout>
                                    </EditForm>
                                </div>
                            </div>
                        }
                        else if (!showForm && StockProductView)
                        {
                            <div class="card">
                                <div class="card-header">
                                    <h5> Stock Product @NameProduct</h5>
                                </div>
                                <DxLoadingPanel @bind-Visible="PanelVisible"
                                                IsContentBlocked="true"
                                                ApplyBackgroundShading="true"
                                                IndicatorAreaVisible="true"
                                                Text="Fetching Data...">
                                    <MyGrid @ref="GridStock"
                                            Data="StockProducts"
                                            FocusedRowEnabled="false"
                                            KeyFieldName="Id"
                                            DataItemDeleting="onDeleteStock"
                                            AllowSelectRowByClick="false">
                                        <ToolbarTemplate>
                                            <DxToolbar ItemRenderStyleMode="ToolbarRenderStyleMode.Plain">
                                                <DxToolbarItem BeginGroup="true" Text="Back To Product" Click="Back_Click" IconCssClass="fa-solid fa-arrow-left" />
                                                <DxToolbarItem BeginGroup="true" Text="Refresh" Click="RefreshStock_Click" IconCssClass="fa-solid fa-arrows-rotate" />
                                            </DxToolbar>
                                        </ToolbarTemplate>
                                        <Columns> 
                                            <DxGridDataColumn FieldName="DestinanceName" Caption="Location" GroupIndex="0" />
                                            @if (FieldHideStock == true)
                                            {
                                                <DxGridDataColumn FieldName="Batch" Caption="Batch" />
                                            }
                                            <DxGridDataColumn FieldName="ProductName" Caption="Product Name" />
                                            <DxGridDataColumn FieldName="Qty" Caption="On Hand Qty" />
                                            <DxGridDataColumn FieldName="UomName" Caption="Unit Of Measure" />
                                            @if (FieldHideStock == true)
                                            {
                                                <DxGridDataColumn FieldName="Expired" Caption="Expired Date" DisplayFormat="dd MMMM yyyy" />
                                            }
                                        </Columns>
                                    </MyGrid>
                                </DxLoadingPanel>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </section>
    </div>
}
else
{
    <McDermott.Web.Components.Layout.BaseContentHeaderLayout Title="Product" />

    <DxLoadingPanel></DxLoadingPanel>
}

<DxPopup Visible="@FormStockPopUp" HeaderText="Add Stock Product" Width="70%" CloseOnOutsideClick="false">
    <EditForm Model="@FormStockProduct" Context="EditFormContext">
        <DxFormLayout CssClass="mt">
            <DxFormLayoutItem Caption="Location" CaptionCssClass="normal-caption" ColSpanMd="6">
                <DxComboBox Data="Locations" @bind-Value="@FormStockProduct.SourceId"
                            NullText="Select Location .."
                            ShowValidationIcon="true"
                            TextFieldName="Name"
                            ValueFieldName="Id"
                            ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto">
                </DxComboBox>
            </DxFormLayoutItem>
            @if (FieldHideStock == true)
            {
                <DxFormLayoutItem Caption="Batch" CaptionCssClass="normal-caption" ColSpanMd="6">
                    <DxTextBox @bind-Text="@FormStockProduct.Batch" NullText="Batch.." ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto" ShowValidationIcon="true"></DxTextBox>
                </DxFormLayoutItem>
            }
            <DxFormLayoutItem Caption=" On Hand Qty" CaptionCssClass="normal-caption" ColSpanMd="6">
                <DxSpinEdit @bind-Value="@FormStockProduct.Qty" NullText="0" ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto" ShowValidationIcon="true"></DxSpinEdit>
            </DxFormLayoutItem>
            <DxFormLayoutItem Caption="Product" CaptionCssClass="normal-caption" ColSpanMd="6">
                <DxComboBox Data="DataProducts" @bind-Value="@FormStockProduct.ProductId"
                            NullText="Select Product..."
                            ShowValidationIcon="true"
                            TextFieldName="Name"
                            ValueFieldName="Id"
                            ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto">
                </DxComboBox>
            </DxFormLayoutItem>
            <DxFormLayoutItem Caption="Unit Of Measure" CaptionCssClass="normal-caption" ColSpanMd="6">
                <DxComboBox Data="@Uoms"
                            @bind-Value="@FormStockProduct.UomId"
                            NullText="Select Unit of Measure..."
                            ValueFieldName="Id"
                            TextFieldName="Name"
                            ReadOnly
                            ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
                            ShowValidationIcon="true"></DxComboBox>
            </DxFormLayoutItem>
            @if (FieldHideStock == true)
            {
                <DxFormLayoutItem Caption="Expired Date" CaptionCssClass="normal-caption" ColSpanMd="6">
                    <DxDateEdit @bind-Date="FormStockProduct.Expired"
                                ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
                                ShowValidationIcon="true"></DxDateEdit>
                </DxFormLayoutItem>
            }
            @*     <DxFormLayoutItem Caption="Reference" CaptionCssClass="normal-caption" ColSpanMd="6">
            <DxMemo @bind-Text="@FormStockProduct.Referency"
            NullText="Reference.."
            ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
            ShowValidationIcon="true"></DxMemo>
            </DxFormLayoutItem> *@
        </DxFormLayout>
        <hr />
        <DxFormLayout CssClass="mt">
            <div class="col d-flex justify-content-end">
                <DxButton RenderStyle="ButtonRenderStyle.Primary" RenderStyleMode="@ButtonRenderStyleMode.Outline" CssClass="mr-1" IconCssClass="fa-solid fa-floppy-disk" Text="Save" SubmitFormOnClick="true" Click="onSaveStock"></DxButton>
                <DxButton RenderStyle="ButtonRenderStyle.Danger" RenderStyleMode="@ButtonRenderStyleMode.Outline" IconCssClass="fa-solid fa-xmark" Text="Discard" SubmitFormOnClick="true" Click="onDiscardStock"></DxButton>
            </div>
        </DxFormLayout>
    </EditForm>
</DxPopup>

@code {

}