@page "/inventory/product-categories"
@rendermode InteractiveServer

<PageTitle>McDermott - Master Data Product Category</PageTitle>

@if (IsAccess)
{
    <div class="wrapper">

        <McDermott.Web.Components.Layout.BaseContentHeaderLayout Title="Master Data Product Category" />

        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col">
                        @*    <div class="card">
                    <div class="card-body">
                    <div class="w-100">
                    <DxToolbar Title="Actions" ItemRenderStyleMode="ToolbarRenderStyleMode.Contained" AdaptivityMinRootItemCount="2" AdaptivityAutoHideRootItems="true" AdaptivityAutoCollapseItemsToIcons="true">
                    <Items>
                    <DxToolbarItem Alignment="ToolbarItemAlignment.Left" BeginGroup="true"
                    IconCssClass="fa-solid fa-notes-medical"
                    Text="Products" />
                    </Items>
                    </DxToolbar>
                    </div>
                    </div>
                    </div> *@

                        <div class="card">
                            <div class="card-body">
                                <DxLoadingPanel @bind-Visible="PanelVisible"
                                                IsContentBlocked="true"
                                                ApplyBackgroundShading="true"
                                                IndicatorAreaVisible="true"
                                                Text="Fetching Data...">

                                    <DxGrid @ref="Grid" PagerNavigationMode="PagerNavigationMode.InputBox"
                                            Data="ProductCategories"
                                            PageSize="10"
                                            @bind-SelectedDataItems="@SelectedDataItems"
                                            FilterMenuButtonDisplayMode="GridFilterMenuButtonDisplayMode.Always"
                                            KeyFieldName="Id"
                                            CustomizeDataRowEditor="Grid_CustomizeDataRowEditor"
                                            EditModelSaving="OnSave"
                                            DataItemDeleting="OnDelete"
                                            EditorRenderMode="GridEditorRenderMode.Detached"
                                            EditMode="GridEditMode.PopupEditForm"
                                            PopupEditFormCssClass="custom-width-grid-popup"
                                            PagerPosition="GridPagerPosition.Bottom"
                                            AllowSelectRowByClick="true"
                                            PageSizeSelectorVisible="true"
                                            PageSizeSelectorItems="@(new int[] { 10, 20, 50, 100 })"
                                            PageSizeSelectorAllRowsItemVisible="true"
                                            PagerSwitchToInputBoxButtonCount="10"
                                            FocusedRowEnabled="true"
                                            PagerVisibleNumericButtonCount="10"
                                            FocusedRowChanged="Grid_FocusedRowChanged"
                                            ShowGroupPanel="true"
                                            AutoExpandAllGroupRows="true"
                                            CssClass="ch-480"
                                            ShowFilterRow="true"
                                            TextWrapEnabled="false"
                                            CustomizeElement="Grid_CustomizeElement"
                                            ShowSearchBox="true"
                                            SelectAllCheckboxMode="GridSelectAllCheckboxMode.Mixed"
                                            KeyboardNavigationEnabled="true">
                                        <ToolbarTemplate>
                                            <DxToolbar ItemRenderStyleMode="ToolbarRenderStyleMode.Contained">
                                                <DxToolbarItem Visible="@UserAccessCRUID.Create" Text="New" Click="NewItem_Click" IconCssClass="fa-solid fa-plus" />
                                                <DxToolbarItem Visible="@UserAccessCRUID.Update" Text="Edit" Click="EditItem_Click" IconCssClass="fa-solid fa-pen-to-square" Enabled="SelectedDataItems.Count > 0 && ProductCategories.Count > 0" />
                                                <DxToolbarItem Visible="@UserAccessCRUID.Delete" Text="Delete" Click="DeleteItem_Click" IconCssClass="fa-solid fa-trash" Enabled="SelectedDataItems.Count > 0 && ProductCategories.Count > 0" />
                                                <DxToolbarItem BeginGroup="true" Text="Refresh" Click="Refresh_Click" IconCssClass="fa-solid fa-arrows-rotate" />
                                                <DxToolbarItem Text="Column Chooser" Click="ColumnChooserButton_Click" BeginGroup="true" IconCssClass="fa-solid fa-table-columns" />
                                                <DxToolbarItem Text="Export" BeginGroup="true" IconCssClass="fa-solid fa-file-export">
                                                    <Items>
                                                        <DxToolbarItem Text="To CSV" Click="ExportCsvItem_Click" />
                                                        <DxToolbarItem Text="To XLSX" Click="ExportXlsxItem_Click" />
                                                        <DxToolbarItem Text="To XLS" Click="ExportXlsItem_Click" />
                                                    </Items>
                                                </DxToolbarItem>
                                                <DxToolbarItem Visible="false" Text="Import" id="upload" IconCssClass="fa-solid fa-file-import" />
                                            </DxToolbar>
                                        </ToolbarTemplate>
                                        <Columns>
                                            <DxGridSelectionColumn Width="15px" />
                                            <DxGridDataColumn FieldName="Name" SortIndex="0" />
                                            <DxGridDataColumn FieldName="CostingMethod" Caption="Costing Method" />
                                            <DxGridDataColumn FieldName="InventoryValuation" Caption="Inventory Valuation" />

                                        </Columns>
                                        <EditFormTemplate Context="EditFormContext">
                                            @{
                                                var a = (ProductCategoryDto)EditFormContext.EditModel;
                                                a.CostingMethod = CostingMethod[0];
                                                a.InventoryValuation = InventoryValiation[0];
                                            }
                                            <DxFormLayout CssClass="w-100">
                                                <div class="card w-100">
                                                    <div class="card-body">
                                                        <div class="w-100">
                                                            <DxToolbar Title="Actions" ItemRenderStyleMode="ToolbarRenderStyleMode.Contained" AdaptivityMinRootItemCount="2" AdaptivityAutoHideRootItems="true" AdaptivityAutoCollapseItemsToIcons="true">
                                                                <Items>
                                                                    <DxToolbarItem Alignment="ToolbarItemAlignment.Left" BeginGroup="true"
                                                                                   IconCssClass="fa-solid fa-notes-medical"
                                                                                   Text="Products" />
                                                                </Items>
                                                            </DxToolbar>
                                                        </div>
                                                    </div>
                                                </div>

                                                <DxFormLayoutItem CaptionCssClass="required-caption normal-caption" Caption="Name" ColSpanMd="12">
                                                    <DxTextBox @bind-Text="@a.Name"
                                                               ShowValidationIcon="true"
                                                               ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
                                                               NullText="Name" />
                                                    <ValidationMessage For="@(()=> a.Name)"   />
                                                </DxFormLayoutItem>

                                                <DxFormLayoutItem CaptionCssClass="normal-caption" Caption="Costing Method" ColSpanMd="12">
                                                    <DxComboBox ShowValidationIcon="true"
                                                                Data="@CostingMethod"
                                                                NullText="Select Costing Method..."
                                                                FilteringMode="@DataGridFilteringMode.Contains"
                                                                @bind-Value="@a.CostingMethod">
                                                    </DxComboBox>
                                                    <ValidationMessage For="@(()=> a.CostingMethod)"   />
                                                </DxFormLayoutItem>

                                                <DxFormLayoutItem CaptionCssClass="normal-caption" Caption="Inventory Valiation" ColSpanMd="12">
                                                    <DxComboBox ShowValidationIcon="true"
                                                                Data="@InventoryValiation"
                                                                NullText="Select Inventory Valiation..."
                                                                FilteringMode="@DataGridFilteringMode.Contains"
                                                                @bind-Value="@a.InventoryValuation">
                                                    </DxComboBox>
                                                    <ValidationMessage For="@(()=> a.InventoryValuation)"   />
                                                </DxFormLayoutItem>

                                            </DxFormLayout>
                                        </EditFormTemplate>
                                    </DxGrid>
                                </DxLoadingPanel>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
}
else
{
    <div class="wrapper">
        <McDermott.Web.Components.Layout.BaseContentHeaderLayout Title="Master Data Product Category" />

        <LoadingIndicatorLayout></LoadingIndicatorLayout>
    </div>
}