@page "/inventory/receiving-transfer"
@rendermode InteractiveServer

<PageTitle>Good Receipt</PageTitle>

<style>
    .my-style {
        min-width: 800px;
    }

</style>

<div class="wrapper">
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Good Receipt</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a class="no-underline" href="/">Home</a></li>
                        <li class="breadcrumb-item" @onclick="LoadData"><a class="no-underline" href="/inventory/receiving-transfer">Good Receipt</a></li>
                    </ol>
                </div>
            </div>
        </div>
    </section>
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col">
                    @if (!showForm)
                    {
                        <div class="card">
                            <div class="card-body">
                                <DxLoadingPanel @bind-Visible="PanelVisible"
                                                IsContentBlocked="true"
                                                ApplyBackgroundShading="true"
                                                IndicatorAreaVisible="true"
                                                Text="Fetching Data...">
                                    <DxGrid @ref="Grid"
                                            PagerNavigationMode="PagerNavigationMode.InputBox"
                                            Data="ReceivingStocks"
                                            PageSize="10"
                                            @bind-SelectedDataItems="@SelectedDataItems"
                                            FilterMenuButtonDisplayMode="GridFilterMenuButtonDisplayMode.Always"
                                            KeyFieldName="Id"
                                            DataItemDeleting="OnDelete"
                                            CustomizeDataRowEditor="Grid_CustomizeDataRowEditor"
                                            EditorRenderMode="GridEditorRenderMode.Detached"
                                            PagerPosition="GridPagerPosition.Bottom"
                                            AllowSelectRowByClick="true"
                                            PageSizeSelectorVisible="true"
                                            PageSizeSelectorItems="@(new int[] { 10, 20, 50, 100 })"
                                            PageSizeSelectorAllRowsItemVisible="true"
                                            PagerSwitchToInputBoxButtonCount="10"
                                            FocusedRowEnabled="true"
                                            PagerVisibleNumericButtonCount="10"
                                            FocusedRowChanged="Grid_FocusedRowChanged"
                                            ShowGroupPanel="true"
                                            AutoExpandAllGroupRows="true"
                                            CssClass="ch-480"
                                            ShowFilterRow="true"
                                            RowDoubleClick="OnRowDoubleClick"
                                            TextWrapEnabled="false"
                                            CustomizeElement="Grid_CustomizeElement"
                                            ShowSearchBox="true"
                                            SelectAllCheckboxMode="GridSelectAllCheckboxMode.Mixed"
                                            KeyboardNavigationEnabled="true">
                                        <ToolbarTemplate>
                                            <DxToolbar ItemRenderStyleMode="ToolbarRenderStyleMode.Plain">
                                                <DxToolbarItem Visible="@UserAccessCRUID.Create" Text="New" Click="NewItem_Click" IconCssClass="fa-solid fa-plus" />
                                                <DxToolbarItem Visible="@UserAccessCRUID.Update" Text="Edit" Click="() => EditItem_Click(null)" IconCssClass="fa-solid fa-pen-to-square" Enabled="SelectedDataItems.Count > 0 && ReceivingStocks.Count > 0 && isActiveButton" />
                                                <DxToolbarItem Visible="@UserAccessCRUID.Delete" Text="Delete" Click="DeleteItem_Click" IconCssClass="fa-solid fa-trash" Enabled="SelectedDataItems.Count > 0 && ReceivingStocks.Count > 0 && isActiveButton" />
                                                <DxToolbarItem BeginGroup="true" Text="Refresh" Click="Refresh_Click" IconCssClass="fa-solid fa-arrows-rotate" />
                                            </DxToolbar>
                                        </ToolbarTemplate>
                                        <Columns>
                                            <DxGridSelectionColumn Width="15px" />
                                            <DxGridDataColumn FieldName="Destination.Name" Caption="Destination Name" />
                                            <DxGridDataColumn FieldName="SchenduleDate" Caption="Schendule Date" />
                                            <DxGridDataColumn FieldName="StatusReceived" Caption="Status">
                                                <CellDisplayTemplate>
                                                    @GetIssueStatusIconHtml((context.DataItem as ReceivingStockDto).StatusReceived)
                                                </CellDisplayTemplate>
                                            </DxGridDataColumn>
                                        </Columns>
                                    </DxGrid>
                                </DxLoadingPanel>
                            </div>
                        </div>
                    }
                    else
                    {
                        //Button
                        @if (FormReceivingStocks.Id != 0)
                        {
                            <div class="row justify-content-end mb-3">
                                <div class="col-auto align-self-end">
                                    <DxTabs RenderMode="TabsRenderMode.AllTabs">
                                        <DxTab Text="Draft" Enabled="@(FormReceivingStocks.StatusReceived == "Draft")"></DxTab>
                                        <DxTab Text="Done" Enabled="@(FormReceivingStocks.StatusReceived == "Done")"></DxTab>
                                        <DxTab Text="Cancel" Enabled="@(FormReceivingStocks.StatusReceived == "Cancel")"></DxTab>
                                    </DxTabs>
                                </div>
                            </div>
                            <div class="row justify-content-start mb-3">
                                <div class="col-12 align-self-start">
                                    @if (FormReceivingStocks.StatusReceived == "Draft")
                                    {
                                        <div class="card">
                                            <div class="card-body">
                                                <DxButton Text="Receiving" RenderStyle="ButtonRenderStyle.Primary" RenderStyleMode="ButtonRenderStyleMode.Outline" IconCssClass="fa-solid fa-circle-check" Click="onValidation"></DxButton>
                                                <DxButton Text="Cancel" RenderStyle="ButtonRenderStyle.Danger" RenderStyleMode="ButtonRenderStyleMode.Outline" IconCssClass="fa-solid fa-circle-xmark" Click="onCancel"></DxButton>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        }

                        <div class="card">
                            <div class="card-header">
                                <span class="fw-bolder">@header</span>
                            </div>
                            <div class="card-body">
                                <EditForm Model="@FormReceivingStocks" Context="EditFormContext" OnInvalidSubmit="@HandleInvalidSubmit" OnValidSubmit="@HandleValidSubmit">
                                    <DataAnnotationsValidator />
                                    <DxFormLayout CssClass="mt">
                                        @if (FormReceivingStocks.Id != 0)
                                        {
                                            <DxFormLayoutItem ColSpanMd="12">
                                                <h3 class="fw-bolder">@FormReceivingStocks.KodeReceiving</h3>
                                            </DxFormLayoutItem>
                                        }
                                        <DxFormLayoutItem Caption="Schendule Date" CaptionCssClass="normal-caption" ColSpanMd="12">
                                            <DxDateEdit @bind-Date="@FormReceivingStocks.SchenduleDate" Enabled="@isActiveButton" DisplayFormat="dd MMMM yyyy" Format="d"></DxDateEdit>
                                        </DxFormLayoutItem>
                                        <DxFormLayoutItem Caption="Destination Location" CaptionCssClass="normal-caption" ColSpanMd="12">
                                            <DxComboBox Data="@Locations" @bind-Value="@FormReceivingStocks.DestinationId"
                                                        NullText="Select Destination Location......"
                                                        ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
                                                        ShowValidationIcon="true"
                                                        FilteringMode="@DataGridFilteringMode.Contains"
                                                        TextFieldName="NameAndParent"
                                                        ValueFieldName="Id"
                                                        Enabled="@isActiveButton"></DxComboBox>
                                            <ValidationMessage For="@(()=>FormReceivingStocks.DestinationId)"></ValidationMessage>
                                        </DxFormLayoutItem>
                                        <DxFormLayoutGroup Caption="Product Lines" ColSpanMd="12">
                                            <Items>
                                                <DxGrid @ref="GridProduct"
                                                        PagerNavigationMode="PagerNavigationMode.InputBox"
                                                        Data="TempReceivingStockDetails"
                                                        PageSize="10"
                                                        @bind-SelectedDataItems="@SelectedDataItemsDetail"
                                                        FilterMenuButtonDisplayMode="GridFilterMenuButtonDisplayMode.Always"
                                                        KeyFieldName="Id"
                                                        EditModelSaving="OnSave_Detail"
                                                        DataItemDeleting="OnDelete_Detail"
                                                        EditMode="GridEditMode.EditForm"
                                                        PopupEditFormCssClass="my-style"
                                                        CustomizeDataRowEditor="Grid_CustomizeDataRowEditor"
                                                        EditorRenderMode="GridEditorRenderMode.Detached"
                                                        PagerPosition="GridPagerPosition.Bottom"
                                                        AllowSelectRowByClick="true"
                                                        PageSizeSelectorVisible="true"
                                                        PageSizeSelectorItems="@(new int[] { 10, 20, 50, 100 })"
                                                        PageSizeSelectorAllRowsItemVisible="true"
                                                        PagerSwitchToInputBoxButtonCount="10"
                                                        FocusedRowEnabled="true"
                                                        PagerVisibleNumericButtonCount="10"
                                                        FocusedRowChanged="Grid_FocusedRowChangedDetail"
                                                        ShowGroupPanel="true"
                                                        AutoExpandAllGroupRows="true"
                                                        CssClass="ch-480"
                                                        ShowFilterRow="true"
                                                        RowDoubleClick="OnRowDoubleClickDetail"
                                                        TextWrapEnabled="false"
                                                        CustomizeElement="Grid_CustomizeElement"
                                                        ShowSearchBox="true"
                                                        SelectAllCheckboxMode="GridSelectAllCheckboxMode.Mixed"
                                                        KeyboardNavigationEnabled="true">
                                                    <ToolbarTemplate>
                                                        <DxToolbar ItemRenderStyleMode="ToolbarRenderStyleMode.Plain">
                                                            <DxToolbarItem Visible="@UserAccessCRUID.Create" Text="New" Click="NewItemDetail_Click" IconCssClass="fa-solid fa-plus" Enabled="isActiveButton" />
                                                            <DxToolbarItem Visible="@UserAccessCRUID.Update" Text="Edit" Click=" EditItemDetail_Click" IconCssClass="fa-solid fa-pen-to-square" Enabled="SelectedDataItemsDetail.Count > 0 && TempReceivingStockDetails.Count > 0 && isActiveButton" />
                                                            <DxToolbarItem Visible="@UserAccessCRUID.Delete" Text="Delete" Click="DeleteItemDetail_Click" IconCssClass="fa-solid fa-trash" Enabled="SelectedDataItemsDetail.Count > 0 && TempReceivingStockDetails.Count > 0 && isActiveButton" />

                                                        </DxToolbar>
                                                    </ToolbarTemplate>
                                                    <Columns>
                                                        <DxGridSelectionColumn Width="15px" />
                                                        <DxGridDataColumn FieldName="ProductName" Caption="Product Name" SortIndex="0" />
                                                        <DxGridDataColumn FieldName="Qty" Caption="Stock" MinWidth="90" Width="190" />
                                                        <DxGridDataColumn FieldName="PurchaseName" Caption="Purchase Of Measure" MinWidth="90" Width="190" />
                                                        <DxGridDataColumn FieldName="UomName" Caption="Unit Of Measure" />
                                                        <DxGridDataColumn FieldName="Batch" Caption="Serial Number" />
                                                        <DxGridDataColumn FieldName="ExpiredDate" Caption="Expired Date" />
                                                    </Columns>
                                                    <EditFormTemplate Context="EditFormContextt">
                                                        @{
                                                            TempFormReceivingStockDetail = (ReceivingStockProductDto)EditFormContextt.EditModel;
                                                        }
                                                        <DxFormLayout CssClass="w-100 mt">

                                                            <div class="col-md-6">
                                                                <DxFormLayoutItem Caption="Product Name" CaptionCssClass="normal-caption" ColSpanMd="12" CaptionPosition="CaptionPosition.Vertical">
                                                                    <DxComboBox Data="@Products"
                                                                                @bind-Value="@TempFormReceivingStockDetail.ProductId"
                                                                                NullText="Select Product Name.."
                                                                                TextFieldName="Name"
                                                                                ValueFieldName="Id"
                                                                                FilteringMode="@DataGridFilteringMode.Contains"
                                                                                SelectedItemChanged="@((ProductDto product)=> SelectedChangeProduct(product))"
                                                                                ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
                                                                                ShowValidationIcon="true"></DxComboBox>
                                                                    <ValidationMessage For="@(()=>TempFormReceivingStockDetail.ProductId)"></ValidationMessage>
                                                                </DxFormLayoutItem>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <DxFormLayoutItem Caption="Quantity Stock" CaptionCssClass="normal-caption" ColSpanMd="12" CaptionPosition="CaptionPosition.Vertical">
                                                                    <DxSpinEdit @bind-Value="@TempFormReceivingStockDetail.Qty"
                                                                                NullText="Quantity Stock..." MinValue="0"
                                                                                ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
                                                                                ShowValidationIcon="true"></DxSpinEdit>
                                                                    <ValidationMessage For="@(()=>TempFormReceivingStockDetail.Qty)"></ValidationMessage>
                                                                </DxFormLayoutItem>
                                                            </div>
                                                        </DxFormLayout>
                                                        <DxFormLayout CssClass="w-100 mt">
                                                            <div class="col-md-6">
                                                                <DxFormLayoutItem Caption="Purchase Of Measure" CaptionCssClass="normal-caption" ColSpanMd="12" CaptionPosition="CaptionPosition.Vertical">
                                                                    <DxTextBox @bind-Text="@TempFormReceivingStockDetail.PurchaseName" ReadOnly></DxTextBox>
                                                                </DxFormLayoutItem>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <DxFormLayoutItem Caption="Unit Of Measure" CaptionCssClass="normal-caption" ColSpanMd="12" CaptionPosition="CaptionPosition.Vertical">
                                                                    <DxTextBox @bind-Text="@TempFormReceivingStockDetail.UomName" ReadOnly></DxTextBox>
                                                                </DxFormLayoutItem>
                                                            </div>
                                                        </DxFormLayout>
                                                        @if (TempFormReceivingStockDetail.TraceAbility == true)
                                                        {
                                                            <DxFormLayout CssClass="w-100 mt">
                                                                <div class="col-md-6">
                                                                    <DxFormLayoutItem Caption="Select Serial Number/LoT" CaptionCssClass="normal-caption" CaptionPosition="CaptionPosition.Vertical" ColSpanMd="12">
                                                                        <DxTextBox @bind-Text="@TempFormReceivingStockDetail.Batch" NullText="Select Serial Number/LoT" ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
                                                                                   ShowValidationIcon="true"></DxTextBox>
                                                                    </DxFormLayoutItem>
                                                                </div>
                                                                <div class="col-md-6">
                                                                    <DxFormLayoutItem Caption="Expired Date" CaptionCssClass="normal-caption" CaptionPosition="CaptionPosition.Vertical" ColSpanMd="12">
                                                                        <DxDateEdit @bind-Date="@TempFormReceivingStockDetail.ExpiredDate" DisplayFormat="dd MMMM yyyy" Format="d"></DxDateEdit>
                                                                    </DxFormLayoutItem>
                                                                </div>
                                                            </DxFormLayout>
                                                        }
                                                    </EditFormTemplate>
                                                </DxGrid>
                                            </Items>
                                        </DxFormLayoutGroup>
                                    </DxFormLayout>
                                    <hr />
                                    @if (isActiveButton)
                                    {
                                        <DxFormLayout class="mt">
                                            <div class="col d-flex justify-content-end">
                                                <DxButton RenderStyle="ButtonRenderStyle.Primary" RenderStyleMode="@ButtonRenderStyleMode.Outline" CssClass="mr-1" IconCssClass="fa-solid fa-floppy-disk" Text="Save" SubmitFormOnClick="true"></DxButton>
                                                <DxButton RenderStyle="ButtonRenderStyle.Danger" RenderStyleMode="@ButtonRenderStyleMode.Outline" IconCssClass="fa-solid fa-xmark" Text="Discard" Click="onDiscard"></DxButton>
                                            </div>
                                        </DxFormLayout>
                                    }
                                </EditForm>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </section>
</div>