@page "/configuration/companies";
@rendermode InteractiveServer

<PageTitle>McHealthCare - Companies</PageTitle>

@if (IsAccess && UserAccessCRUID is not null && UserAccessCRUID.IsRead)
{
    <div class="wrapper">
        <BaseHeaderPage Title="Companies" ShowBackButton="false" />

        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col">
                        <div class="card">
                            <DxLoadingPanel @bind-Visible="PanelVisible"
                                            IndicatorAnimationType="WaitIndicatorAnimationType.Pulse"
                                            IsContentBlocked="true"
                                            ApplyBackgroundShading="true"
                                            IndicatorAreaVisible="false"
                                            Text="Fetching Data...">
                                <MyGridPaginate @ref="Grid"
                                                FocusedRowChanged="Grid_FocusedRowChanged"
                                                @bind-SelectedDataItems="@SelectedDataItems"
                                                EditModelSaving="OnSave"
                                                DataItemDeleting="OnDelete"
                                                KeyFieldName="Id"
                                                Data="Companys">
                                    <ToolbarTemplate>
                                        <MyDxToolbarBase TItem="CompanyDto"
                                                         Items="@Companys"
                                                         SelectedDataItems="@SelectedDataItems"
                                                         NewItem_Click="@NewItem_Click"
                                                         EditItem_Click="@EditItem_Click"
                                                         DeleteItem_Click="@DeleteItem_Click"
                                                         Refresh_Click="(async () => await LoadData())"
                                                         Grid="Grid"
                                                         IsImport="false"
                                                         VisibleNew="UserAccessCRUID.IsCreate"
                                                         VisibleEdit="UserAccessCRUID.IsUpdate"
                                                         VisibleDelete="UserAccessCRUID.IsDelete" />
                                    </ToolbarTemplate>
                                    <Columns>
                                        <DxGridSelectionColumn Width="15px" />
                                        <DxGridDataColumn MinWidth="200" FieldName="Name" Caption="Name" SortIndex="0" />
                                        <DxGridDataColumn MinWidth="200" FieldName="@nameof(Company.Email)" Caption="Email" />
                                        <DxGridDataColumn MinWidth="200" FieldName="@nameof(Company.Phone)" Caption="Phone" />
                                        <DxGridDataColumn MinWidth="200" FieldName="@nameof(Company.Website)" Caption="Website" />
                                        <DxGridDataColumn MinWidth="200" FieldName="@nameof(Company.VAT)" Caption="VAT" />
                                        <DxGridDataColumn MinWidth="200" FieldName="Country.Name" Caption="Country" />
                                    </Columns>
                                    <TotalSummary>
                                        <DxGridSummaryItem SummaryType="GridSummaryItemType.Count"
                                                           FieldName="Name"
                                                           Visible="true" />
                                    </TotalSummary>
                                    <EditFormTemplate Context="EditFormContext">
                                        @{
                                            var a = (CompanyDto)EditFormContext.EditModel;
                                        }
                                        <DxFormLayout CssClass="mt">
                                            <DxFormLayoutItem CaptionCssClass="required-caption normal-caption" caption="Name" ColSpanMd="12">
                                                <DxTextBox @bind-Text="@a.Name" ShowValidationIcon="true" ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto" NullText="Name Company" />
                                                <ValidationMessage For="@(() => a.Name)" />
                                            </DxFormLayoutItem>
                                            <DxFormLayoutItem CaptionCssClass="caption normal-caption" caption="Email" ColSpanMd="12">
                                                <DxTextBox @bind-Text="@a.Email" ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto" NullText="Email Company" />
                                            </DxFormLayoutItem>
                                            <DxFormLayoutItem CaptionCssClass="caption normal-caption" caption="Phone" ColSpanMd="12">
                                                <DxTextBox @bind-Text="@a.Phone" ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto" NullText="Phone Company" />
                                            </DxFormLayoutItem>
                                            <DxFormLayoutItem CaptionCssClass="caption normal-caption" caption="Website" ColSpanMd="12">
                                                <DxTextBox @bind-Text="@a.Website" ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto" NullText="Website Company" />
                                            </DxFormLayoutItem>
                                            <DxFormLayoutItem CaptionCssClass="caption normal-caption" caption="VAT" ColSpanMd="12">
                                                <DxTextBox @bind-Text="@a.VAT" ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto" NullText="VAT" />
                                            </DxFormLayoutItem>
                                            <DxFormLayoutItem CaptionCssClass="-caption normal-caption" Caption="Address" ColSpanMd="12">
                                                <Template>
                                                    <DxGridLayout ColumnSpacing="8px" RowSpacing="8px">
                                                        <Rows>
                                                            <DxGridLayoutRow />
                                                            <DxGridLayoutRow />
                                                            <DxGridLayoutRow />
                                                            <DxGridLayoutRow />
                                                        </Rows>
                                                        <Columns>
                                                            <DxGridLayoutColumn />
                                                            <DxGridLayoutColumn />
                                                        </Columns>
                                                        <Items>
                                                            <DxGridLayoutItem Row="0" Column="0" ColumnSpan="12">
                                                                <Template>
                                                                    <DxTextBox @bind-Text="@a.Street1" ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto" NullText="Street 1" />
                                                                </Template>
                                                            </DxGridLayoutItem>
                                                            <DxGridLayoutItem Row="1" Column="0" ColumnSpan="12">
                                                                <Template>
                                                                    <DxTextBox @bind-Text="@a.Street2" ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto" NullText="Street 2" />
                                                                </Template>
                                                            </DxGridLayoutItem>
                                                            <DxGridLayoutItem Row="2" Column="0" CssClass="mt">
                                                                <Template>
                                                                    <MyDxComboBox Data="@Countries"
                                                                                  Context="Ctxz"
                                                                                  NullText="Select Country..."
                                                                                  @ref="refCountryComboBox"
                                                                                  @bind-Value="@a.CountryId"
                                                                                  TextFieldName="Name"
                                                                                  ValueFieldName="Id"
                                                                                  TextChanged="((string e) => OnInputCountryChanged(e))">
                                                                        <Buttons>
                                                                            <DxEditorButton Click="OnSearchCountryIndexDecrement"
                                                                                            IconCssClass="fa-solid fa-caret-left"
                                                                                            Tooltip="Previous Index" />
                                                                            <DxEditorButton Click="OnSearchCountry"
                                                                                            IconCssClass="fa-solid fa-magnifying-glass"
                                                                                            Tooltip="Search" />
                                                                            <DxEditorButton Click="OnSearchCountryIndexIncrement"
                                                                                            IconCssClass="fa-solid fa-caret-right"
                                                                                            Tooltip="Next Index" />
                                                                        </Buttons>
                                                                        <Columns>
                                                                            <DxListEditorColumn FieldName="@nameof(Country.Name)" Caption="Name" />
                                                                            <DxListEditorColumn FieldName="@nameof(Country.Code)" Caption="Code" />
                                                                        </Columns>
                                                                    </MyDxComboBox>
                                                                    <ValidationMessage For="@(() => a.CountryId)" />
                                                                </Template>
                                                            </DxGridLayoutItem>
                                                            <DxGridLayoutItem Row="2" Column="1" CssClass="mt ml">
                                                                <Template>

                                                                    <MyDxComboBox Data="@Provinces" Context="Ctxz1"
                                                                                  NullText="Select Province..."
                                                                                  @ref="refProvinceComboBox"
                                                                                  @bind-Value="@a.ProvinceId"
                                                                                  TextFieldName="Name"
                                                                                  ValueFieldName="Id"
                                                                                  TextChanged="((string e) => OnInputProvinceChanged(e))">
                                                                        <Buttons>
                                                                            <DxEditorButton Click="OnSearchProvinceIndexDecrement"
                                                                                            IconCssClass="fa-solid fa-caret-left"
                                                                                            Tooltip="Previous Index" />
                                                                            <DxEditorButton Click="OnSearchProvince"
                                                                                            IconCssClass="fa-solid fa-magnifying-glass"
                                                                                            Tooltip="Search" />
                                                                            <DxEditorButton Click="OnSearchProvinceIndexIncrement"
                                                                                            IconCssClass="fa-solid fa-caret-right"
                                                                                            Tooltip="Next Index" />
                                                                        </Buttons>
                                                                        <Columns>
                                                                            <DxListEditorColumn FieldName="@nameof(ProvinceDto.Name)" Caption="Name" />
                                                                            <DxListEditorColumn FieldName="Country.Name" Caption="Country" />
                                                                            <DxListEditorColumn FieldName="@nameof(ProvinceDto.Code)" Caption="Code" />
                                                                        </Columns>
                                                                    </MyDxComboBox>
                                                                    <ValidationMessage For="@(() => a.ProvinceId)" />

                                                                </Template>
                                                            </DxGridLayoutItem>
                                                            <DxGridLayoutItem Row="3" Column="0" CssClass="mt">
                                                                <Template>
                                                                    <MyDxComboBox Data="@Cities" Context="Ctxz2"
                                                                                  NullText="Select City..."
                                                                                  @ref="refCityComboBox"
                                                                                  @bind-Value="@a.CityId"
                                                                                  TextFieldName="Name"
                                                                                  ValueFieldName="Id"
                                                                                  TextChanged="((string e) => OnInputCityChanged(e))">
                                                                        <Buttons>
                                                                            <DxEditorButton Click="OnSearchCityIndexDecrement"
                                                                                            IconCssClass="fa-solid fa-caret-left"
                                                                                            Tooltip="Previous Index" />
                                                                            <DxEditorButton Click="OnSearchCity"
                                                                                            IconCssClass="fa-solid fa-magnifying-glass"
                                                                                            Tooltip="Search" />
                                                                            <DxEditorButton Click="OnSearchCityIndexIncrement"
                                                                                            IconCssClass="fa-solid fa-caret-right"
                                                                                            Tooltip="Next Index" />
                                                                        </Buttons>
                                                                        <Columns>
                                                                            <DxListEditorColumn FieldName="@nameof(CityDto.Name)" Caption="Name" />
                                                                            <DxListEditorColumn FieldName="Province.Name" Caption="Province" />
                                                                        </Columns>
                                                                    </MyDxComboBox>
                                                                    <ValidationMessage For="@(() => a.CityId)" />
                                                                </Template>
                                                            </DxGridLayoutItem>
                                                            <DxGridLayoutItem Row="3" Column="1" CssClass="ml">
                                                                <Template>
                                                                    <DxTextBox @bind-Text="@a.Zip" ShowValidationIcon="true" ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto" NullText="Postal Code" />
                                                                </Template>
                                                            </DxGridLayoutItem>
                                                        </Items>
                                                    </DxGridLayout>
                                                </Template>
                                            </DxFormLayoutItem>

                                        </DxFormLayout>
                                    </EditFormTemplate>
                                </MyGridPaginate>
                                <div class="row">
                                    <DxFormLayout>
                                        <div class="col-md-9">
                                            <DxFormLayoutItem>
                                                <DxPager PageCount="totalCount"
                                                         ActivePageIndexChanged="OnPageIndexChanged"
                                                         ActivePageIndex="activePageIndex"
                                                         VisibleNumericButtonCount="10"
                                                         SizeMode="SizeMode.Medium"
                                                         NavigationMode="PagerNavigationMode.Auto">
                                                </DxPager>
                                            </DxFormLayoutItem>
                                        </div>
                                        <div class="col-md-3 d-flex justify-content-end">
                                            <DxFormLayoutItem Caption="Page Size:">
                                                <MyDxComboBox Data="(new[] { 10, 25, 50, 100 })"
                                                              NullText="Select Page Size"
                                                              ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Never"
                                                              SelectedItemChanged="((int e ) => OnPageSizeIndexChanged(e))"
                                                              @bind-Value="pageSize">
                                                </MyDxComboBox>
                                            </DxFormLayoutItem>
                                        </div>
                                    </DxFormLayout>
                                </div>
                            </DxLoadingPanel>

                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
}
else if (UserAccessCRUID is not null && !UserAccessCRUID.IsRead)
{
    <InvalidPermissionPage />
}
else
{
    <LoadingIndicatorLayout />
}