@page "/configuration/districts"
@rendermode InteractiveServer

<PageTitle>McHealthCare - Master Data District</PageTitle>

@if (IsAccess && UserAccessCRUID is not null && UserAccessCRUID.IsRead)

{
    <div class="wrapper">

        <BaseHeaderPage Title="District" ShowBackButton="false" />

        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col">
                        <div class="card">
                            <InputFile id="fileInput" style="display:none" OnChange="@ImportExcelFile" accept=".xlsx" multiple="false"></InputFile>

                            <_BaseMyGrid @ref="Grid"
                                         Data="@Data"
                                         @bind-SelectedDataItems="@SelectedDataItems"
                                         EditModelSaving="OnSave"
                                         DataItemDeleting="OnDelete"
                                         FocusedRowChanged="Grid_FocusedRowChanged"
                                         KeyFieldName="Id">

                                <ToolbarTemplate>
                                    <MyDxToolbarBase TItem="District"
                                                     SelectedDataItems="@SelectedDataItems"
                                                     NewItem_Click="@NewItem_Click"
                                                     EditItem_Click="@EditItem_Click"
                                                     DeleteItem_Click="@DeleteItem_Click"
                                                     Refresh_Click="@Refresh_Click"
                                                     Grid="Grid"
                                                     ImportFile="ImportFile"
                                                     ExportToExcel="ExportToExcel"
                                                     IsImport="UserAccessCRUID.IsImport"
                                                     VisibleNew="UserAccessCRUID.IsCreate"
                                                     VisibleEdit="UserAccessCRUID.IsUpdate"
                                                     VisibleDelete="UserAccessCRUID.IsDelete" />
                                </ToolbarTemplate>
                                <Columns>
                                    <DxGridSelectionColumn Width="15px" />
                                    <DxGridDataColumn MinWidth="200" FieldName="Name" SortIndex="0" />
                                    <DxGridDataColumn MinWidth="200" FieldName="Province.Name" Caption="Province" />
                                    <DxGridDataColumn MinWidth="200" FieldName="City.Name" Caption="City" />

                                </Columns>

                                <EditFormTemplate Context="EditFormContext">
                                    @{
                                        District = (District)EditFormContext.EditModel;
                                        if (District.ProvinceId is null)
                                        {
                                            Cities = [];

                                            District.CityId = null;
                                        }
                                    }
                                    <DxFormLayout CssClass="w-100">
                                        <DxFormLayoutItem CaptionCssClass="required-caption normal-caption" Caption="Name" ColSpanMd="12">
                                            <DxTextBox @bind-Text="@District.Name" ShowValidationIcon="true" ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto" NullText="Name" />
                                            <ValidationMessage For="@(()=> District.Name)"   />
                                        </DxFormLayoutItem>

                                        <DxFormLayoutItem CaptionCssClass="required-caption normal-caption" Caption="Province" ColSpanMd="12">
                                            <_BaseMyComboBox TData="Province"
                                                             TValue="long?"
                                                             CustomData="@LoadCustomDataProvince"
                                                             @bind-Value="@District.ProvinceId"
                                                             TextFieldName="Name"
                                                             ValueFieldName="Id">
                                                <Columns>
                                                    <DxListEditorColumn FieldName="@nameof(ProvinceDto.Name)" Caption="Name" />
                                                    <DxListEditorColumn FieldName="Country.Name" Caption="Country" />
                                                </Columns>
                                            </_BaseMyComboBox>
                                            <ValidationMessage For="@(()=>District.ProvinceId)" />
                                        </DxFormLayoutItem>

                                        <DxFormLayoutItem CaptionCssClass="required-caption normal-caption" Caption="City" ColSpanMd="12">
                                            <_BaseMyComboBox TData="City"
                                                             TValue="long?"
                                                             CustomData="@LoadCustomDataCity"
                                                             @bind-Value="@District.CityId"
                                                             TextFieldName="Name"
                                                             ValueFieldName="Id">
                                                <Columns>
                                                    <DxListEditorColumn FieldName="@nameof(CityDto.Name)" Caption="Name" />
                                                    <DxListEditorColumn FieldName="Province.Name" Caption="Province" />
                                                </Columns>
                                            </_BaseMyComboBox>
                                            <ValidationMessage For="@(()=>District.CityId)" />
                                        </DxFormLayoutItem>

                                    </DxFormLayout>
                                </EditFormTemplate>

                            </_BaseMyGrid>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
}
else if (UserAccessCRUID is not null && !UserAccessCRUID.IsRead)
{
    <InvalidPermissionPage />
}
else
{
    <LoadingIndicatorLayout />
}