@page "/config/email-setting"
@rendermode InteractiveServer

<PageTitle>McDermott - Master Data Email Setting</PageTitle>
<style>
    .my-style {
        min-width: 50%;
    }
</style>
@if (IsAccess)
{
    <div class="wrapper">

        <McDermott.Web.Components.Layout.BaseContentHeaderLayout Title="Email Setting" />

        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col">
                        <div class="card">
                            <div class="card-body">
                                <DxLoadingPanel @bind-Visible="PanelVisible"
                                                IndicatorAnimationType="WaitIndicatorAnimationType.Pulse"
                                                IsContentBlocked="true"
                                                ApplyBackgroundShading="true"
                                                IndicatorAreaVisible="false"
                                                Text="Fetching Data...">

                                    <DxGrid @ref="Grid" PagerNavigationMode="PagerNavigationMode.InputBox"
                                            Data="EmailSettings"
                                            PageSize="10"
                                            @bind-SelectedDataItems="@SelectedDataItems"
                                            FilterMenuButtonDisplayMode="GridFilterMenuButtonDisplayMode.Always"
                                            KeyFieldName="Id"
                                            CustomizeDataRowEditor="Grid_CustomizeDataRowEditor"
                                            DataItemDeleting="OnDelete"
                                            PopupEditFormCssClass="my-style"
                                            PagerPosition="GridPagerPosition.Bottom"
                                            PageSizeSelectorVisible="true"
                                            PageSizeSelectorItems="@(new int[] { 10, 20, 50, 100 })"
                                            PageSizeSelectorAllRowsItemVisible="true"
                                            PagerSwitchToInputBoxButtonCount="10"
                                            AllowSelectRowByClick="true"
                                            FocusedRowEnabled="true"
                                            PagerVisibleNumericButtonCount="10"
                                            FocusedRowChanged="Grid_FocusedRowChanged"
                                            ShowGroupPanel="true"
                                            AutoExpandAllGroupRows="true"
                                            ShowFilterRow="true"
                                            CustomizeElement="Grid_CustomizeElement"
                                            ShowSearchBox="true"
                                            SelectAllCheckboxMode="GridSelectAllCheckboxMode.Mixed"
                                            KeyboardNavigationEnabled="true">
                                        <ToolbarTemplate>
                                            <DxToolbar ItemRenderStyleMode="ToolbarRenderStyleMode.Contained">
                                                <DxToolbarItem Visible="@UserAccessCRUID.Create" Text="New" Click="NewItem_Click" IconCssClass="fa-solid fa-plus" />
                                                <DxToolbarItem Visible="@UserAccessCRUID.Update" Text="Edit" Click="EditItem_Click" IconCssClass="fa-solid fa-pen-to-square" Enabled="SelectedDataItems.Count > 0 && EmailSettings.Count > 0" />
                                                <DxToolbarItem Visible="@UserAccessCRUID.Delete" Text="Delete" Click="DeleteItem_Click" IconCssClass="fa-solid fa-trash" Enabled="SelectedDataItems.Count > 0 && EmailSettings.Count > 0" />
                                            </DxToolbar>
                                        </ToolbarTemplate>
                                        <Columns>
                                            <DxGridSelectionColumn Width="15px" />
                                            <DxGridDataColumn FieldName="Sequence" Caption="Priority" SortIndex="0" />
                                            <DxGridDataColumn FieldName="Description" Caption="Description" />
                                            <DxGridDataColumn FieldName="Smtp_Host" Caption="SMTP Server" />
                                            <DxGridDataColumn FieldName="Smtp_user" Caption="Username" />
                                            <DxGridDataColumn FieldName="Smtp_Encryption" Caption="Connection Scurity" />
                                        </Columns>
                                    </DxGrid>
                                </DxLoadingPanel>
                                <DxPopup @bind-Visible="@PopUpVisible"
                                         HeaderText="@TextPopUp"
                                         Width="60%"
                                         Height="90%">
                                    <BodyTemplate Context="PopupContext">
                                        <div style="padding-top: 1rem; padding-bottom: 1rem">
                                            @{
                                                var data = "";
                                                if (FormEmails.Smpt_Encryption == "TLS (STARTTLS)")
                                                {
                                                    data = "25";
                                                   
                                                }
                                                else if (FormEmails.Smpt_Encryption == "SSL/TLS")
                                                {
                                                    data = "465";
                                                   
                                                }
                                                else if (FormEmails.Smpt_Encryption == "none")
                                                {
                                                    data = "";
                                                    
                                                }
                                            }
                                            <DxFormLayout CssClass="mt">
                                                <DxFormLayoutGroup Caption="Configuration Email" ColSpanLg="12">
                                                    <DxFormLayoutItem ColSpanMd="6" Caption="Description:">
                                                        <DxTextBox @bind-Text="@FormEmails.Description" NullText="Description..." ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto" />
                                                    </DxFormLayoutItem>
                                                    <DxFormLayoutItem ColSpanMd="6" Caption="Priority:">
                                                        <DxSpinEdit @bind-Value="@FormEmails.Sequence" NullText="Priority" MinValue="0" ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto" />
                                                    </DxFormLayoutItem>
                                                </DxFormLayoutGroup>
                                                <DxFormLayoutGroup Caption="Connection Information" ColSpanMd="12">
                                                    <DxFormLayoutItem ColSpanMd="6" Caption="SMTP Server:">
                                                        <DxTextBox  @bind-Text="@FormEmails.Smpt_Host" NullText="SMPTP Server" ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto" />
                                                    </DxFormLayoutItem>
                                                    <DxFormLayoutItem ColSpanMd="6" Caption="SMTP Port:">
                                                        <DxTextBox  @bind-text="@FormEmails.Smpt_Port" NullText="SMTP PORT" ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto" />
                                                    </DxFormLayoutItem>
                                                </DxFormLayoutGroup>
                                                <DxFormLayoutGroup Caption="Security And Authentication" ColSpanMd="12">
                                                    <DxFormLayoutItem ColSpanMd="12" Caption="Conection Scurity:">
                                                        <Template>
                                                            <DxComboBox Data="@Stts_Ecrypt"
                                                                        NullText="Select Ecrypt..."
                                                                        @bind-Value="@OnSmptEncryptionChange">
                                                            </DxComboBox>
                                                        </Template>
                                                    </DxFormLayoutItem>
                                                    <DxFormLayoutItem ColSpanMd="12" Caption="Username:">
                                                        <DxTextBox @bind-Text="@FormEmails.Smpt_User" NullText="Username" ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto" />
                                                    </DxFormLayoutItem>
                                                    <DxFormLayoutItem ColSpanMd="12" Caption="Password:">
                                                        <DxTextBox @bind-Text="@FormEmails.Smpt_Pass"
                                                                   NullText="Password"
                                                                   Password="true"
                                                                   ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
                                                                   InputId="tbPassword" />
                                                    </DxFormLayoutItem>
                                                </DxFormLayoutGroup>
                                            </DxFormLayout>
                                            <DxFormLayout CssClass="col-12">
                                                <DxFormLayoutItem ColSpanMd="5">
                                                    <DxButton IconCssClass="fa-solid fa-wifi"
                                                              RenderStyleMode="@ButtonRenderStyleMode.Outline"
                                                              Text="Test Conenction"
                                                              onclick="@TestConnect"
                                                              CssClass="w-20 ml" />
                                                </DxFormLayoutItem>
                                                <DxFormLayoutItem ColSpanMd="6">
                                                    @if (isLoading)
                                                    {
                                                        <LoadingIndicatorLayout></LoadingIndicatorLayout>
                                                    }
                                                    else
                                                    {

                                                        @if (IsConnected)
                                                        {
                                                            <p class="text-success">Connection successful!</p>
                                                        }
                                                        else if (!IsConnected)
                                                        {
                                                            <p class="text-danger">Connection failed.</p>
                                                        }
                                                        else
                                                        {

                                                            <p></p>
                                                        }
                                                    }

                                                </DxFormLayoutItem>
                                            </DxFormLayout>
                                        </div>
                                    </BodyTemplate>
                                </DxPopup>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

}