@page "/config/group"
@using McDermott.Web.Components.Layout
@rendermode InteractiveServer

<PageTitle>McHealthCare - Group</PageTitle>

@if (IsAccess)
{

    <div class="wrapper">

        <BaseHeaderPage Title="Group" OnClickBack="@(async () => await LoadData())" ShowBackButton="ShowForm" />

        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col">
                        <div class="card">
                            @if (!ShowForm)
                            {
                                <DxLoadingPanel @bind-Visible="PanelVisible"
                                                IndicatorAnimationType="WaitIndicatorAnimationType.Pulse"
                                                IsContentBlocked="true"
                                                ApplyBackgroundShading="true"
                                                IndicatorAreaVisible="false"
                                                Text="Fetching Data...">
                                    <MyGrid @ref="Grid"
                                            @bind-SelectedDataItems="@SelectedDataItems"
                                            Data="Groups"
                                            KeyFieldName="Id"
                                            DataItemDeleting="OnDelete"
                                            FocusedRowChanged="Grid_FocusedRowChanged"
                                            RowDoubleClick="EditItem_Click">

                                        <ToolbarTemplate>
                                            <MyDxToolbarBase TItem="GroupDto"
                                                             Grid="Grid"
                                                             Items="@Groups"
                                                             SelectedDataItems="@SelectedDataItems"
                                                             NewItem_Click="@NewItem_Click"
                                                             EditItem_Click="@EditItem_Click"
                                                             DeleteItem_Click="@DeleteItem_Click"
                                                             Refresh_Click="@Refresh_Click"
                                                             IsImport="false"
                                                             VisibleNew="UserAccessCRUID.Create"
                                                             VisibleEdit="UserAccessCRUID.Update"
                                                             VisibleDelete="UserAccessCRUID.Delete" />
                                        </ToolbarTemplate>

                                        <Columns>
                                            <DxGridSelectionColumn Width="15px" />
                                            <DxGridDataColumn FieldName="Name" MinWidth="200" SortIndex="0" />
                                        </Columns>
                                        <DetailRowTemplate>
                                            <Grid_GroupPage_NestedGrid_DetailContent Group="(GroupDto)context.DataItem"></Grid_GroupPage_NestedGrid_DetailContent>
                                        </DetailRowTemplate>
                                    </MyGrid>
                                </DxLoadingPanel>
                            }
                            else
                            {
                                <div class="card-body">
                                    <DxLoadingPanel @bind-Visible="IsLoading"
                                                    IndicatorAnimationType="WaitIndicatorAnimationType.Pulse"
                                                    IsContentBlocked="true"
                                                    ApplyBackgroundShading="true"
                                                    IndicatorAreaVisible="false"
                                                    Text="Fetching Data...">
                                        <EditForm Model="@Group" @onkeypress="@KeyPressHandler" Context="EditFormContext22" OnValidSubmit="HandleValidSubmit" OnInvalidSubmit="@HandleInvalidSubmit">
                                            <DataAnnotationsValidator />
                                            <DxFormLayout CssClass="w-100">
                                                <DxFormLayoutItem CaptionPosition="CaptionPosition.Vertical" Caption="Group" CaptionCssClass="normal-caption required-caption" ColSpanMd="12">
                                                    <DxTextBox @bind-Text="@Group.Name"
                                                               ShowValidationIcon="true"
                                                               ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
                                                               NullText="Group" />
                                                    <ValidationMessage For="@(() => Group.Name)"   />
                                                </DxFormLayoutItem>

                                                <DxFormLayoutItem CaptionCssClass="normal-caption" Context="ItemContext" CaptionPosition="CaptionPosition.Vertical" Caption="Menu" ColSpanMd="12">
                                                    <Template>
                                                        <MyGrid @ref="GridGropMenu"
                                                                Data="GroupMenus.Where(x => x.Menu is not null)"
                                                                @bind-SelectedDataItems="@SelectedDataItemsGroupMenu"
                                                                KeyFieldName="MenuId"
                                                                FocusedRowChanged="GridGroupMenu_FocusedRowChanged"
                                                                EditModelSaving="OnSaveGroupMenu"
                                                                DataItemDeleting="OnDeleteGroupMenu">

                                                            <ToolbarTemplate>
                                                                <MyDxToolbarBase TItem="GroupMenuDto"
                                                                                 Items="@GroupMenus"
                                                                                 SelectedDataItems="@SelectedDataItems"
                                                                                 NewItem_Click="@NewItemGroup_Click"
                                                                                 EditItem_Click="() => EditItemGroup_Click(GridGropMenu)"
                                                                                 DeleteItem_Click="@DeleteItem_Click"
                                                                                 Refresh_Click="@Refresh_Click"
                                                                                 IsImport="false"
                                                                                 Grid="GridGropMenu"
                                                                                 VisibleNew="UserAccessCRUID.Create"
                                                                                 VisibleEdit="UserAccessCRUID.Update"
                                                                                 VisibleDelete="UserAccessCRUID.Delete" />
                                                            </ToolbarTemplate>

                                                            <Columns>
                                                                <DxGridSelectionColumn Context="ToolbarContext" Width="15px" />
                                                                <DxGridDataColumn MinWidth="200" Context="ToolbarContext" FieldName="Menu.Name" Caption="Menu" SortIndex="0" />
                                                                <DxGridDataColumn MinWidth="50" Context="ToolbarContext" FieldName="Create" />
                                                                <DxGridDataColumn MinWidth="50" Context="ToolbarContext" FieldName="Read" />
                                                                <DxGridDataColumn MinWidth="50" Context="ToolbarContext" FieldName="Update" />
                                                                <DxGridDataColumn MinWidth="50" Context="ToolbarContext" FieldName="Delete" />
                                                                <DxGridDataColumn MinWidth="50" Context="ToolbarContext" FieldName="Import" />
                                                            </Columns>
                                                            <EditFormTemplate Context="EditFormContext">
                                                                <DxFormLayout CssClass="w-100">
                                                                    @*  <DxFormLayoutItem CaptionCssClass="required-caption normal-caption" Caption="Menu:" ColSpanMd="12">
                                                            <DxComboBox Data="@(Menus.Where(x => !string.IsNullOrWhiteSpace(x.ParentMenu) || (string.IsNullOrEmpty(x.ParentMenu) && x.Name.Equals("All"))))"
                                                            NullText="Select Menu..."
                                                            ShowValidationIcon="true"
                                                            FilteringMode="@DataGridFilteringMode.Contains"
                                                            @bind-Value="@GroupMenu.MenuId"
                                                            TextFieldName="Name"
                                                            ValueFieldName="Id">
                                                            </DxComboBox>
                                                            <ValidationMessage For="@(() => GroupMenu.MenuId)"   />
                                                            </DxFormLayoutItem> *@
                                                                    <DxFormLayoutItem CaptionCssClass="required-caption normal-caption" Caption="Menu:" ColSpanMd="12">
                                                                        <MyDxComboBox Data="@(Menus.Where(x => !string.IsNullOrWhiteSpace(x.ParentMenu) || (string.IsNullOrEmpty(x.ParentMenu) && x.Name.Equals("All"))))"
                                                                                      @bind-Value="@GroupMenu.MenuId"
                                                                                      ValueFieldName="Id"
                                                                                      EditFormat="{0}">
                                                                            <Columns>
                                                                                <DxListEditorColumn Visible="false" FieldName="@nameof(MenuDto.Id)"
                                                                                                    Caption="Id" />
                                                                                <DxListEditorColumn FieldName="@nameof(MenuDto.Name)"
                                                                                                    Caption="Name" />
                                                                                <DxListEditorColumn FieldName="@nameof(MenuDto.ParentMenu)"
                                                                                                    Caption="Parent Menu" />
                                                                                <DxListEditorColumn FieldName="@nameof(MenuDto.Sequence)"
                                                                                                    Caption="Sequence" />
                                                                                <DxListEditorColumn FieldName="@nameof(MenuDto.Url)"
                                                                                                    Caption="Url" />
                                                                            </Columns>
                                                                        </MyDxComboBox>
                                                                    </DxFormLayoutItem>
                                                                    <DxFormLayoutItem CaptionCssClass="normal-caption" Caption="Create">
                                                                        <DxCheckBox @bind-Checked="@GroupMenu.Create" />
                                                                        <ValidationMessage For="@(()=> @GroupMenu.Create)"   />
                                                                    </DxFormLayoutItem>
                                                                    <DxFormLayoutItem CaptionCssClass=" normal-caption" Caption="Read">
                                                                        <DxCheckBox @bind-Checked="@GroupMenu.Read" />
                                                                        <ValidationMessage For="@(()=> @GroupMenu.Read)"   />
                                                                    </DxFormLayoutItem>
                                                                    <DxFormLayoutItem CaptionCssClass="normal-caption" Caption="Update">
                                                                        <DxCheckBox @bind-Checked="@GroupMenu.Update" />
                                                                        <ValidationMessage For="@(()=> @GroupMenu.Update)"   />
                                                                    </DxFormLayoutItem>
                                                                    <DxFormLayoutItem CaptionCssClass="normal-caption" Caption="Delete">
                                                                        <DxCheckBox @bind-Checked="@GroupMenu.Delete" />
                                                                        <ValidationMessage For="@(()=> @GroupMenu.Delete)"   />
                                                                    </DxFormLayoutItem>
                                                                    <DxFormLayoutItem CaptionCssClass="normal-caption" Caption="Import">
                                                                        <DxCheckBox @bind-Checked="@GroupMenu.Import" />
                                                                        <ValidationMessage For="@(()=> @GroupMenu.Import)"   />
                                                                    </DxFormLayoutItem>
                                                                </DxFormLayout>
                                                            </EditFormTemplate>
                                                        </MyGrid>
                                                    </Template>
                                                </DxFormLayoutItem>
                                            </DxFormLayout>
                                            <div class="w-100 row justify-content-end mt-2 mb-2">
                                                <div class="col-auto align-self-end p-0 m-0">
                                                    <DxButton RenderStyle="ButtonRenderStyle.Primary" RenderStyleMode="@ButtonRenderStyleMode.Outline" IconCssClass="fa-solid fa-floppy-disk" Text="Save" SubmitFormOnClick="true">
                                                    </DxButton>
                                                    <DxButton RenderStyle="ButtonRenderStyle.Danger" RenderStyleMode="@ButtonRenderStyleMode.Outline" IconCssClass="fa-solid fa-xmark" Text="Cancel" Click="CancelItemGroupMenuGrid_Click"></DxButton>
                                                </div>
                                            </div>
                                        </EditForm>
                                    </DxLoadingPanel>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
}
else
{
    <LoadingIndicatorLayout />
}