@page "/config/menu"
@rendermode InteractiveServer

<PageTitle>McDermott - Master Data Menu</PageTitle>

@if (IsAccess)
{
    <div class="wrapper">

        <McDermott.Web.Components.Layout.BaseContentHeaderLayout Title="Menu" />

        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col">
                        <div class="card">
                            <div class="card-body">
                                <DxGrid @ref="Grid" PagerNavigationMode="PagerNavigationMode.InputBox"
                                        ColumnResizeMode="GridColumnResizeMode.ColumnsContainer"
                                        TextWrapEnabled="false"
                                        Data="Menus.OrderBy(x => x.ParentMenu == null).ThenBy(x => x.Sequence.ToInt32())"
                                        PageSize="10"
                                        @bind-SelectedDataItems="@SelectedDataItems"
                                        FilterMenuButtonDisplayMode="GridFilterMenuButtonDisplayMode.Always"
                                        KeyFieldName="Id"
                                        CustomizeDataRowEditor="Grid_CustomizeDataRowEditor"
                                        EditModelSaving="OnSave"
                                        DataItemDeleting="OnDelete"
                                        AllowSelectRowByClick="true"
                                        EditMode="GridEditMode.PopupEditForm"
                                        PopupEditFormCssClass="pw-800"
                                        PagerPosition="GridPagerPosition.Bottom"
                                        PageSizeSelectorVisible="true"
                                        PageSizeSelectorItems="@(new int[] { 10, 20, 50, 100 })"
                                        PageSizeSelectorAllRowsItemVisible="true"
                                        PagerSwitchToInputBoxButtonCount="10"
                                        FocusedRowEnabled="true"
                                        PagerVisibleNumericButtonCount="10"
                                        FocusedRowChanged="Grid_FocusedRowChanged"
                                        ShowGroupPanel="true"
                                        AutoExpandAllGroupRows="true"
                                        ShowFilterRow="true"
                                        CustomizeElement="Grid_CustomizeElement"
                                        ShowSearchBox="true"
                                        SelectAllCheckboxMode="GridSelectAllCheckboxMode.Mixed"
                                        KeyboardNavigationEnabled="true">
                                    <ToolbarTemplate>
                                        <DxToolbar ItemRenderStyleMode="ToolbarRenderStyleMode.Contained">
                                            <DxToolbarItem Visible="@UserAccessCRUID.Create" Text="New" Click="NewItem_Click" IconCssClass="fa-solid fa-plus" />
                                            <DxToolbarItem Visible="@UserAccessCRUID.Update" Text="Edit" Click="EditItem_Click" IconCssClass="fa-solid fa-pen-to-square" Enabled="SelectedDataItems.Count > 0 && Menus.Count > 0" />
                                            <DxToolbarItem Visible="@UserAccessCRUID.Delete" Text="Delete" Click="DeleteItem_Click" IconCssClass="fa-solid fa-trash" Enabled="SelectedDataItems.Count > 0 && Menus.Count > 0" />
                                            <DxToolbarItem Text="Column Chooser" Click="ColumnChooserButton_Click" BeginGroup="true" IconCssClass="fa-solid fa-table-columns" />
                                            <DxToolbarItem Text="Export" BeginGroup="true" IconCssClass="fa-solid fa-file-export">
                                                <Items>
                                                    <DxToolbarItem Text="To CSV" Click="ExportCsvItem_Click" />
                                                    <DxToolbarItem Text="To XLSX" Click="ExportXlsxItem_Click" />
                                                    <DxToolbarItem Text="To XLS" Click="ExportXlsItem_Click" />
                                                </Items>
                                            </DxToolbarItem>
                                            <DxToolbarItem Visible="false" Text="Import" id="upload" IconCssClass="fa-solid fa-file-import" />
                                        </DxToolbar>
                                        @*  <DxComboBox Data="EnumEditModeDatas"
                                    NullText="Select Grid Edit Mode..."
                                    TextFieldName="@nameof(EnumEditModeData.DisplayName)"
                                    ValueFieldName="@nameof(EnumEditModeData.Value)"
                                    @bind-Value="@Value"
                                    AllowUserInput="true" />

                                    <DxUpload Visible="@UploadVisible"
                                    ExternalSelectButtonCssSelector="#upload"
                                    ExternalDropZoneCssSelector="#upload"
                                    ExternalDropZoneDragOverCssClass="bg-light border-secondary text-dark"
                                    FileUploadStarted="@OnFileUploadStarted"
                                    AllowedFileExtensions="@extentions"
                                    MaxFileSize="15000000">
                                    </DxUpload>*@
                                    </ToolbarTemplate>
                                    <Columns>
                                        <DxGridSelectionColumn Width="15px" />
                                        <DxGridDataColumn FieldName="Name" SortIndex="0" />
                                        <DxGridDataColumn FieldName="ParentMenu" Caption="Parent" SortIndex="0" />
                                        <DxGridDataColumn FieldName="Sequence" />
                                        <DxGridDataColumn FieldName="Url" Caption="URL" />

                                    </Columns>
                                    <EditFormTemplate Context="EditFormContext">
                                        @{
                                            var a = (MenuDto)EditFormContext.EditModel;
                                        }
                                        <DxFormLayout CssClass="w-100">
                                            <DxFormLayoutItem CaptionCssClass="required-caption normal-caption" Caption="Name" ColSpanMd="12">
                                                @EditFormContext.GetEditor("Name")
                                            </DxFormLayoutItem>
                                            <DxFormLayoutItem CaptionCssClass="normal-caption" Caption="Parent Menu" ColSpanMd="12">
                                                <DxComboBox
                                                            ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
                                                            FilteringMode="@DataGridFilteringMode.Contains"
                                                            Data="@ParentMenuDto"
                                                            NullText="Select Parent Menu..."
                                                            @bind-Value="@a.ParentMenu"
                                                            TextFieldName="Name"
                                                            ValueFieldName="Name">
                                                </DxComboBox>
                                            </DxFormLayoutItem>
                                            <DxFormLayoutItem CaptionCssClass="normal-caption" Caption="Sequence" ColSpanMd="12">
                                                @EditFormContext.GetEditor("Sequence")
                                            </DxFormLayoutItem>
                                            @*   <DxFormLayoutItem Caption="URL:" ColSpanMd="12">
                                        @EditFormContext.GetEditor("Url")
                                        </DxFormLayoutItem> *@
                                        </DxFormLayout>
                                    </EditFormTemplate>
                                </DxGrid>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
}