@page "/config/menu"
@rendermode InteractiveServer

<PageTitle>Menu</PageTitle>

<div class="wrapper">

    <McDermott.Web.Components.Layout.BaseContentHeaderLayout Title="Menu" />

    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col">
                    <div class="card">
                        <div class="card-body">
                            <DxGrid @ref="Grid"
                                    Data="Menus.OrderBy(x => x.ParentMenu == null).ThenBy(x => x.Sequence.ToInt32())"
                                    PageSize="10"
                                    @bind-SelectedDataItems="@SelectedDataItems"
                                    FilterMenuButtonDisplayMode="GridFilterMenuButtonDisplayMode.Always"
                                    KeyFieldName="Id"
                                    CustomizeDataRowEditor="Grid_CustomizeDataRowEditor"
                                    EditModelSaving="OnSave"
                                    DataItemDeleting="OnDelete"
                                    EditMode="GridEditMode.PopupEditForm"
                                    PopupEditFormCssClass="pw-800"
                                    PagerPosition="GridPagerPosition.Bottom"
                                    PageSizeSelectorVisible="true"
                                    PageSizeSelectorItems="@(new int[] { 10, 20, 50, 100 })"
                                    PageSizeSelectorAllRowsItemVisible="true"
                                    PagerSwitchToInputBoxButtonCount="10"
                                    FocusedRowEnabled="true"
                                    PagerVisibleNumericButtonCount="10"
                                    FocusedRowChanged="Grid_FocusedRowChanged"
                                    ShowGroupPanel="true"
                                    AutoExpandAllGroupRows="true"
                                    ShowFilterRow="true"
                                    CustomizeElement="Grid_CustomizeElement"
                                    ShowSearchBox="true"
                                    SelectAllCheckboxMode="GridSelectAllCheckboxMode.Mixed"
                                    KeyboardNavigationEnabled="true">
                                <ToolbarTemplate>
                                    <DxToolbar ItemRenderStyleMode="ToolbarRenderStyleMode.Contained">
                                        <DxToolbarItem Text="New" Click="NewItem_Click" IconCssClass="grid-toolbar-new" />
                                        <DxToolbarItem Text="Edit" Click="EditItem_Click" IconCssClass="grid-toolbar-edit" Enabled="EditItemsEnabled" />
                                        <DxToolbarItem Text="Delete" Click="DeleteItem_Click" IconCssClass="grid-toolbar-delete" Enabled="SelectedDataItems != null" />`
                                        @* <DxToolbarItem Text="Column Chooser" Click="ColumnChooserButton_Click" BeginGroup="true" IconCssClass="grid-toolbar-column-chooser" /> *@
                                        <DxToolbarItem Text="Export" IconCssClass="grid-toolbar-export">
                                            <Items>
                                                <DxToolbarItem Text="To CSV" Click="ExportCsvItem_Click" />
                                                <DxToolbarItem Text="To XLSX" Click="ExportXlsxItem_Click" />
                                                <DxToolbarItem Text="To XLS" Click="ExportXlsItem_Click" />
                                            </Items>
                                        </DxToolbarItem>
                                        @* <DxToolbarItem Text="Upload" id="upload" IconCssClass="grid-toolbar-upload" /> *@
                                    </DxToolbar>
                                    @*  <DxComboBox Data="EnumEditModeDatas"
                                    NullText="Select Grid Edit Mode..."
                                    TextFieldName="@nameof(EnumEditModeData.DisplayName)"
                                    ValueFieldName="@nameof(EnumEditModeData.Value)"
                                    @bind-Value="@Value"
                                    AllowUserInput="true" />

                                    <DxUpload Visible="@UploadVisible"
                                    ExternalSelectButtonCssSelector="#upload"
                                    ExternalDropZoneCssSelector="#upload"
                                    ExternalDropZoneDragOverCssClass="bg-light border-secondary text-dark"
                                    FileUploadStarted="@OnFileUploadStarted"
                                    AllowedFileExtensions="@extentions"
                                    MaxFileSize="15000000">
                                    </DxUpload>*@
                                </ToolbarTemplate>
                                <Columns>
                                    <DxGridSelectionColumn Width="15px" />
                                    <DxGridDataColumn FieldName="Name" SortIndex="0" />
                                    <DxGridDataColumn FieldName="ParentMenu" Caption="Parent" SortIndex="0" />
                                    <DxGridDataColumn FieldName="Sequence" />
                                    <DxGridDataColumn FieldName="Url" Caption="URL" />

                                </Columns>
                                <EditFormTemplate Context="EditFormContext">
                                    @{
                                        var a = (MenuDto)EditFormContext.EditModel;
                                    }
                                    <DxFormLayout CssClass="w-100">
                                        <DxFormLayoutItem Caption="Name:" ColSpanMd="12">
                                            @EditFormContext.GetEditor("Name")
                                        </DxFormLayoutItem>
                                        <DxFormLayoutItem Caption="Parent Menu:" ColSpanMd="12">
                                            <DxComboBox Data="@ParentMenuDto"
                                                        NullText="Select Parent Menu..."
                                                        @bind-Value="@a.ParentMenu"
                                                        TextFieldName="Name"
                                                        ValueFieldName="Name">
                                            </DxComboBox>
                                        </DxFormLayoutItem>
                                        <DxFormLayoutItem Caption="Sequence:" ColSpanMd="12">
                                            @EditFormContext.GetEditor("Sequence")
                                        </DxFormLayoutItem>
                                        <DxFormLayoutItem Caption="URL:" ColSpanMd="12">
                                            @EditFormContext.GetEditor("Url")
                                        </DxFormLayoutItem>
                                    </DxFormLayout>
                                </EditFormTemplate>
                            </DxGrid>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div> 