@page "/configuration/menus"
@rendermode InteractiveServer

<PageTitle>McHealthCare - Menu</PageTitle>

@if (IsAccess)
{
    <div class="wrapper">

        <BaseHeaderPage Title="Menu" OnClickBack="@(async () => await LoadData())" ShowBackButton="false" />

        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col">
                        <div class="card">
                            <InputFile id="fileInput" style="display:none" OnChange="@ImportExcelFile" accept=".xlsx" multiple="false"></InputFile>
                            <_BaseMyGrid @ref="Grid"
                                         Data="@Data"
                                         @bind-SelectedDataItems="@SelectedDataItems"
                                         EditModelSaving="OnSave"
                                         DataItemDeleting="OnDelete"
                                         FocusedRowChanged="Grid_FocusedRowChanged"
                                         KeyFieldName="Id">

                                <ToolbarTemplate>
                                    <MyDxToolbarBase TItem="Menu" 
                                                     SelectedDataItems="@SelectedDataItems"
                                                     NewItem_Click="@NewItem_Click"
                                                     EditItem_Click="@EditItem_Click"
                                                     Grid="Grid"
                                                     DeleteItem_Click="@DeleteItem_Click"
                                                     Refresh_Click="@Refresh_Click"
                                                     IsImport="true"
                                                     ImportFile="ImportFile"
                                                     ExportToExcel="ExportToExcel"
                                                     VisibleNew="UserAccessCRUID.IsCreate"
                                                     VisibleEdit="UserAccessCRUID.IsUpdate"
                                                     VisibleDelete="UserAccessCRUID.IsDelete" />
                                </ToolbarTemplate>

                                <Columns>
                                    <DxGridSelectionColumn Width="15px" />
                                    <DxGridDataColumn MinWidth="200" FieldName="Name" />
                                    <DxGridDataColumn MinWidth="200" FieldName="Parent.Name" Caption="Parent Menu" />
                                    <DxGridDataColumn MinWidth="200" FieldName="Sequence" SortIndex="0" />
                                    <DxGridDataColumn MinWidth="200" FieldName="Url" Caption="URL" />

                                </Columns>
                                <EditFormTemplate Context="EditFormContext">
                                    @{
                                        var a = (Menu)EditFormContext.EditModel;
                                    }
                                    <DxFormLayout CssClass="w-100">
                                        <DxFormLayoutItem CaptionCssClass="required-caption normal-caption" Caption="Name" ColSpanMd="12">
                                            <DxTextBox @bind-Text="@a.Name" ShowValidationIcon="true" ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto" NullText="Name" />
                                            <ValidationMessage For="@(()=> a.Name)"   />
                                        </DxFormLayoutItem>

                                        <DxFormLayoutItem CaptionCssClass="required-caption normal-caption" Caption="Parent Menu" ColSpanMd="12">
                                            <MyDxComboBox Data="ParentMenus"
                                                          NullText="Select Parent Menu"
                                                          TextFieldName="Name"
                                                          ValueFieldName="Id"
                                                          @oninput="OnInputMenu"
                                                          SelectedItemChanged="((MenuDto e) => SelectedItemChanged(e))"
                                                          @bind-Value="a.ParentId">
                                                <Columns>
                                                    <DxListEditorColumn FieldName="@nameof(MenuDto.Name)" Caption="Name" />
                                                    <DxListEditorColumn FieldName="@nameof(MenuDto.Sequence)" Caption="Sequence" />
                                                </Columns>
                                            </MyDxComboBox>
                                            <ValidationMessage For="@(()=>a.ParentId)" />
                                        </DxFormLayoutItem>


                                        <DxFormLayoutItem CaptionCssClass="normal-caption" Caption="Sequence" ColSpanMd="12">
                                            <DxSpinEdit ShowValidationIcon="true" MinValue="1" @bind-Value="@a.Sequence" NullText="Sequence" ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto" />
                                        </DxFormLayoutItem>

                                        <DxFormLayoutItem CaptionCssClass="normal-caption" Caption="Url" ColSpanMd="12">
                                            <MyDxComboBox Data="@Helper.URLS"
                                                          NullText="Select URL"
                                                          FilteringMode="DataGridFilteringMode.Contains"
                                                          @bind-Value="@a.Url">
                                            </MyDxComboBox>
                                            <ValidationMessage For="@(()=> a.Url)"   />
                                        </DxFormLayoutItem>
                                    </DxFormLayout>
                                </EditFormTemplate>
                            </_BaseMyGrid> 
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
}
else
{
    <LoadingIndicatorLayout />
}