@page "/configuration/provinces"
@rendermode InteractiveServer

<PageTitle>McHealthCare - Province</PageTitle>

@if (IsAccess && UserAccessCRUID is not null && UserAccessCRUID.IsRead)
{
    <div class="wrapper">

        <BaseHeaderPage Title="Province" OnClickBack="@(async () => await LoadData())" ShowBackButton="false" />

        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col">
                        <div class="card">
                            <InputFile id="fileInput" style="display:none" OnChange="@ImportExcelFile" accept=".xlsx" multiple="false"></InputFile>

                            <_BaseMyGrid @ref="Grid"
                                         Data="@Data"
                                         @bind-SelectedDataItems="@SelectedDataItems"
                                         EditModelSaving="OnSave"
                                         DataItemDeleting="OnDelete"
                                         FocusedRowChanged="Grid_FocusedRowChanged"
                                         KeyFieldName="Id">

                                <ToolbarTemplate>
                                    <MyDxToolbarBase TItem="Province"
                                                     SelectedDataItems="@SelectedDataItems"
                                                     NewItem_Click="@NewItem_Click"
                                                     EditItem_Click="@EditItem_Click"
                                                     DeleteItem_Click="@DeleteItem_Click"
                                                     Refresh_Click="@Refresh_Click"
                                                     Grid="Grid"
                                                     ImportFile="ImportFile"
                                                     ExportToExcel="ExportToExcel"
                                                     IsImport="UserAccessCRUID.IsImport"
                                                     VisibleNew="UserAccessCRUID.IsCreate"
                                                     VisibleEdit="UserAccessCRUID.IsUpdate"
                                                     VisibleDelete="UserAccessCRUID.IsDelete" />
                                </ToolbarTemplate>

                                <Columns>
                                    <DxGridSelectionColumn Width="15px" />
                                    <DxGridDataColumn MinWidth="200" FieldName="Name" SortIndex="0" />
                                    <DxGridDataColumn MinWidth="200" FieldName="Country.Name" Caption="Country" />
                                </Columns>

                                <EditFormTemplate Context="EditFormContext">
                                    @{
                                        var a = (Province)EditFormContext.EditModel;
                                    }
                                    <DxFormLayout CssClass="w-100">
                                        <DxFormLayoutItem CaptionCssClass="required-caption normal-caption" Caption="Name" ColSpanMd="12">
                                            <DxTextBox @bind-Text="@a.Name" ShowValidationIcon="true" ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto" NullText="Name" />
                                            <ValidationMessage For="@(()=> a.Name)"   />
                                        </DxFormLayoutItem>


                                        <DxFormLayoutItem CaptionCssClass="required-caption normal-caption" Caption="Country" ColSpanMd="12">
                                            <MyDxComboBox Data="Countries"
                                                          NullText="Select Country"
                                                          TextFieldName="Name"
                                                          ValueFieldName="Id"
                                                          @oninput="OnInputCountry"
                                                          
                                                          SelectedItemChanged="((CountryDto e) => SelectedItemChanged(e))"
                                                          @bind-Value="a.CountryId">
                                                <Columns>
                                                    <DxListEditorColumn FieldName="@nameof(Country.Name)" Caption="Name" />
                                                    <DxListEditorColumn FieldName="@nameof(Country.Code)" Caption="Code" />
                                                </Columns>
                                            </MyDxComboBox>
                                            <ValidationMessage For="@(()=>a.CountryId)" />
                                        </DxFormLayoutItem>

                                    </DxFormLayout>
                                </EditFormTemplate>

                            </_BaseMyGrid>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
}
else if (UserAccessCRUID is not null && !UserAccessCRUID.IsRead)
{
    <InvalidPermissionPage />
}
else
{
    <LoadingIndicatorLayout />
}