@page "/configuration/sub-districts"
@rendermode InteractiveServer

<PageTitle>McHealthCare - Villages</PageTitle>

@if (IsAccess && UserAccessCRUID is not null && UserAccessCRUID.IsRead)
{
    <div class="wrapper">

        <BaseHeaderPage Title="Villages" ShowBackButton="false" />

        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col">
                        <div class="card">
                            <InputFile id="fileInput" style="display:none" OnChange="@ImportExcelFile" accept=".xlsx" multiple="false"></InputFile>

                            <_BaseMyGrid @ref="Grid"
                                         Data="@Data"
                                         @bind-SelectedDataItems="@SelectedDataItems"
                                         EditModelSaving="OnSave"
                                         DataItemDeleting="OnDelete"
                                         FocusedRowChanged="Grid_FocusedRowChanged"
                                         KeyFieldName="Id">

                                <ToolbarTemplate>
                                    <MyDxToolbarBase TItem="Village"
                                                     SelectedDataItems="@SelectedDataItems"
                                                     NewItem_Click="@NewItem_Click"
                                                     EditItem_Click="@EditItem_Click"
                                                     DeleteItem_Click="@DeleteItem_Click"
                                                     Refresh_Click="@Refresh_Click"
                                                     Grid="Grid"
                                                     ImportFile="ImportFile"
                                                     ExportToExcel="ExportToExcel"
                                                     IsImport="UserAccessCRUID.IsImport"
                                                     VisibleNew="UserAccessCRUID.IsCreate"
                                                     VisibleEdit="UserAccessCRUID.IsUpdate"
                                                     VisibleDelete="UserAccessCRUID.IsDelete" />
                                </ToolbarTemplate>

                                <Columns>
                                    <DxGridSelectionColumn Width="15px" />
                                    <DxGridDataColumn FieldName="Name" SortIndex="0" />
                                    <DxGridDataColumn FieldName="PostalCode" />
                                    <DxGridDataColumn FieldName="Province.Name" Caption="Province" />
                                    <DxGridDataColumn FieldName="City.Name" Caption="City" />
                                    <DxGridDataColumn FieldName="District.Name" Caption="District" />
                                </Columns>

                                <EditFormTemplate Context="EditFormContext">
                                    @{

                                        Village = (Village)EditFormContext.EditModel;
                                        if (Village.ProvinceId == null)
                                        { 
                                            Village.CityId = null; 
                                        }
                                        if (Village.CityId is null)
                                        { 
                                            Village.DistrictId = null;
                                        }
                                    }

                                    <DxFormLayout CssClass="w-100">
                                        <DxFormLayoutItem CaptionCssClass="required-caption normal-caption" Caption="Name" ColSpanMd="12">
                                            <DxTextBox @bind-Text="@Village.Name" ShowValidationIcon="true" ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto" NullText="Name" />
                                            <ValidationMessage For="@(()=> Village.Name)"   />
                                        </DxFormLayoutItem>

                                        <DxFormLayoutItem CaptionCssClass="normal-caption normal-caption" Caption="Postal Code" ColSpanMd="12">
                                            <DxTextBox @bind-Text="@Village.PostalCode" ShowValidationIcon="true" ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto" NullText="Postal Code" />
                                            <ValidationMessage For="@(()=> Village.PostalCode)"   />
                                        </DxFormLayoutItem>

                                        <DxFormLayoutItem CaptionCssClass="required-caption normal-caption" Caption="Province" ColSpanMd="12">
                                            <_BaseMyComboBox TData="Province"
                                                             TValue="long?"
                                                             CustomData="@LoadCustomDataProvince"
                                                             @bind-Value="@Village.ProvinceId"
                                                             TextFieldName="Name"
                                                             ValueFieldName="Id">
                                                <Columns>
                                                    <DxListEditorColumn FieldName="@nameof(ProvinceDto.Name)" Caption="Name" />
                                                    <DxListEditorColumn FieldName="Country.Name" Caption="Country" />
                                                </Columns>
                                            </_BaseMyComboBox>
                                            <ValidationMessage For="@(()=>Village.ProvinceId)" />
                                        </DxFormLayoutItem>

                                        <DxFormLayoutItem CaptionCssClass="required-caption normal-caption" Caption="City" ColSpanMd="12">
                                            <_BaseMyComboBox TData="City"
                                                             TValue="long?"
                                                             CustomData="@LoadCustomDataCity"
                                                             @bind-Value="@Village.CityId"
                                                             TextFieldName="Name"
                                                             ValueFieldName="Id">
                                                <Columns>
                                                    <DxListEditorColumn FieldName="@nameof(CityDto.Name)" Caption="Name" />
                                                    <DxListEditorColumn FieldName="Province.Name" Caption="Province" />
                                                </Columns>
                                            </_BaseMyComboBox>
                                            <ValidationMessage For="@(()=>Village.CityId)" />
                                        </DxFormLayoutItem>

                                        <DxFormLayoutItem CaptionCssClass="required-caption normal-caption" Caption="District" ColSpanMd="12">
                                            <_BaseMyComboBox TData="District"
                                                             TValue="long?"
                                                             CustomData="@LoadCustomDataDistrict"
                                                             @bind-Value="@Village.DistrictId"
                                                             TextFieldName="Name"
                                                             ValueFieldName="Id">
                                                <Columns>
                                                    <DxListEditorColumn FieldName="@nameof(District.Name)" Caption="Name" />
                                                    <DxListEditorColumn FieldName="Province.Name" Caption="Province" />
                                                    <DxListEditorColumn FieldName="City.Name" Caption="City" />
                                                </Columns>
                                            </_BaseMyComboBox>
                                            <ValidationMessage For="@(()=>Village.DistrictId)" />
                                        </DxFormLayoutItem>
                                    </DxFormLayout>
                                </EditFormTemplate>

                            </_BaseMyGrid>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
}
else if (UserAccessCRUID is not null && !UserAccessCRUID.IsRead)
{
    <InvalidPermissionPage />
}
else
{
    <LoadingIndicatorLayout />
}