@page "/clinic-service/accidents"
@rendermode InteractiveServer

<PageTitle>McHealthCare - Accidents</PageTitle>

@if (IsAccess && UserAccessCRUID is not null && UserAccessCRUID.IsRead)
{
    <div class="wrapper">

        <BaseHeaderPage Title="Accidents" OnClickBack="@(async () => await LoadData())" ShowBackButton="false" />

        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col">
                        <div class="card">
                            <DxLoadingPanel @bind-Visible="PanelVisible"
                                            IndicatorAnimationType="WaitIndicatorAnimationType.Pulse"
                                            IsContentBlocked="true"
                                            ApplyBackgroundShading="true"
                                            IndicatorAreaVisible="false"
                                            Text="Fetching Data...">

                                <MyGridPaginate @ref="Grid"
                                                Data="GeneralConsultanServices"
                                                PageSize="10"
                                                @bind-SelectedDataItems="@SelectedDataItems"
                                                DataItemDeleting="OnDelete"
                                                RowDoubleClick="EditItem_Click"
                                                FocusedRowChanged="Grid_FocusedRowChanged"
                                                SearchTextChanged="OnSearchBoxChanged">


                                    <ToolbarTemplate>
                                        <MyDxToolbarBase TItem="GeneralConsultanServiceDto"
                                                         Items="@GeneralConsultanServices"
                                                         SelectedDataItems="@SelectedDataItems"
                                                         NewItem_Click="@NewItem_Click"
                                                         EditItem_Click="@EditItem_Click"
                                                         DeleteItem_Click="@DeleteItem_Click"
                                                         Refresh_Click="@Refresh_Click"
                                                         IsImport="false"
                                                         Grid="Grid"
                                                         VisibleNew="UserAccessCRUID.IsCreate"
                                                         VisibleEdit="UserAccessCRUID.IsUpdate"
                                                         VisibleDelete="UserAccessCRUID.IsDelete" />
                                    </ToolbarTemplate>


                                    <Columns>
                                        <DxGridSelectionColumn Width="15px" />
                                        <DxGridDataColumn MinWidth="200" FieldName="Patient.Name" Caption="Patient" />
                                        <DxGridDataColumn MinWidth="200" FieldName="Accident.SafetyPersonnel.Name" Caption="Safety Personnel" />
                                        <DxGridDataColumn MinWidth="200" FieldName="Pratitioner.Name" Caption="Doctor" />
                                        <DxGridDataColumn MinWidth="200" DisplayFormat="dd MMM yyyy HH:mm:ss" FieldName="Accident.DateOfOccurrence" Caption="Date Of Occurrence" />
                                        <DxGridDataColumn MinWidth="200" DisplayFormat="dd MMM yyyy HH:mm:ss" FieldName="Accident.DateOfFirstTreatment" Caption="Date Of First Treatment" />
                                        <DxGridDataColumn MinWidth="200" FieldName="Accident.RibbonSpecialCase" Caption="Ribbon Special Case" />
                                        <DxGridDataColumn MinWidth="200" FieldName="Accident.Sent" Caption="Sent" />
                                        <DxGridDataColumn MinWidth="200" FieldName="Accident.EmployeeClass" Caption="Employee Class" />
                                        <DxGridDataColumn MinWidth="200" FieldName="Accident.EstimatedDisability" Caption="Estimated Disability" />
                                        <DxGridDataColumn MinWidth="200" FieldName="Accident.AreaOfYard" Caption="Area Of Yard" />
                                        <DxGridDataColumn MinWidth="200" FieldName="Accident.StatusName" Caption="Accident Status" />
                                        <DxGridDataColumn MinWidth="200" FieldName="Accident.EmployeeDescription" Caption="Employee Description" />
                                        <DxGridDataColumn MinWidth="200" FieldName="Accident.AccidentLocation" Caption="Accident Location" />
                                    </Columns>

                                    <TotalSummary>
                                        <DxGridSummaryItem SummaryType="GridSummaryItemType.Count"
                                                           FieldName="Name"
                                                           Visible="true" />
                                    </TotalSummary>
                                </MyGridPaginate>
                                <div class="row">
                                    <DxFormLayout>
                                        <div class="col-md-8">
                                            <DxFormLayoutItem>
                                                <DxPager PageCount="totalCount"
                                                         ActivePageIndexChanged="OnPageIndexChanged"
                                                         ActivePageIndex="activePageIndex"
                                                         VisibleNumericButtonCount="10"
                                                         SizeMode="SizeMode.Medium"
                                                         NavigationMode="PagerNavigationMode.Auto">
                                                </DxPager>
                                            </DxFormLayoutItem>
                                        </div>
                                        <div class="col-md-4 d-flex justify-content-end">
                                            <DxFormLayoutItem Caption="Page Size:">
                                                <MyDxComboBox Data="(new[] { 10, 25, 50, 100 })"
                                                              NullText="Select Page Size"
                                                              ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Never"
                                                              SelectedItemChanged="((int e ) => OnPageSizeIndexChanged(e))"
                                                              @bind-Value="pageSize">
                                                </MyDxComboBox>
                                            </DxFormLayoutItem>
                                        </div>
                                    </DxFormLayout>
                                </div>

                            </DxLoadingPanel>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
}
else if (UserAccessCRUID is not null && !UserAccessCRUID.IsRead)
{
    <InvalidPermissionPage />
}
else
{
    <LoadingIndicatorLayout />
}