@if (!ShowForm)
{
    <InputFile id="fileInput" style="display:none" OnChange="@ImportExcelFile" accept=".xlsx" multiple="false"></InputFile>

    <DxLoadingPanel @bind-Visible="PanelVisible"
                    IndicatorAnimationType="WaitIndicatorAnimationType.Pulse"
                    IsContentBlocked="true"
                    ApplyBackgroundShading="true"
                    IndicatorAreaVisible="false"
                    Text="Fetching Data...">
        <DxGrid @ref="Grid" PagerNavigationMode="PagerNavigationMode.InputBox"
                Data="InsurancePolicies"
                PageSize="10"
                @bind-SelectedDataItems="@SelectedDataItems"
                FilterMenuButtonDisplayMode="GridFilterMenuButtonDisplayMode.Always"
                KeyFieldName="Id"
                CustomizeDataRowEditor="Grid_CustomizeDataRowEditor"
                EditModelSaving="OnSave"
                DataItemDeleting="OnDelete"
                AllowSelectRowByClick="true"
                EditMode="GridEditMode.PopupEditForm"
                PopupEditFormCssClass="pw-800"
                PagerPosition="GridPagerPosition.Bottom"
                PageSizeSelectorVisible="true"
                PageSizeSelectorItems="@(new int[] { 10, 20, 50, 100 })"
                PageSizeSelectorAllRowsItemVisible="true"
                PagerSwitchToInputBoxButtonCount="10"
                FocusedRowEnabled="true"
                PagerVisibleNumericButtonCount="10"
                FocusedRowChanged="Grid_FocusedRowChanged"
                ShowGroupPanel="true"
                AutoExpandAllGroupRows="true"
                ShowFilterRow="true"
                ShowSearchBox="true"
                SelectAllCheckboxMode="GridSelectAllCheckboxMode.Mixed"
                KeyboardNavigationEnabled="true">
            <ToolbarTemplate>
                <DxToolbar ItemRenderStyleMode="ToolbarRenderStyleMode.Contained">
                    <DxToolbarItem Visible="@UserAccessCRUID.IsCreate" Text="New" Click="NewItem_Click" IconCssClass="fa-solid fa-plus" />
                    <DxToolbarItem Visible="@UserAccessCRUID.IsUpdate" Text="Edit" Click="EditItem_Click" IconCssClass="fa-solid fa-pen-to-square" Enabled="SelectedDataItems.Count > 0 && Countries.Count > 0" />
                    <DxToolbarItem Visible="@UserAccessCRUID.IsDelete" Text="Delete" Click="DeleteItem_Click" IconCssClass="fa-solid fa-trash" Enabled="SelectedDataItems.Count > 0 && Countries.Count > 0" />
                    <DxToolbarItem BeginGroup="true" Text="Refresh" Click="Refresh_Click" IconCssClass="fa-solid fa-arrows-rotate" />
                    <DxToolbarItem Text="Column Chooser" Click="ColumnChooserButton_Click" BeginGroup="true" IconCssClass="fa-solid fa-table-columns" />
                    <DxToolbarItem Text="Export" BeginGroup="true" IconCssClass="fa-solid fa-file-export">
                        <Items>
                            <DxToolbarItem Text="To CSV" Click="ExportCsvItem_Click" />
                            <DxToolbarItem Text="To XLSX" Click="ExportXlsxItem_Click" />
                            <DxToolbarItem Text="To XLS" Click="ExportXlsItem_Click" />
                        </Items>
                    </DxToolbarItem>
                    <DxToolbarItem Visible="@UserAccessCRUID.IsImport" Click="@ImportFile" Text="Import" IconCssClass="fa-solid fa-file-import" />
                </DxToolbar>
            </ToolbarTemplate>
            <Columns>
                <DxGridSelectionColumn Width="15px" />
                <DxGridDataColumn FieldName="User.Name" Caption="Patient" SortIndex="0" />
                <DxGridDataColumn FieldName="Insurance.Name" Caption="Insurance Company" />
                <DxGridDataColumn FieldName="PolicyNumber" Caption="Policy Number" />
                <DxGridDataColumn FieldName="Active" />
            </Columns>
        </DxGrid>
    </DxLoadingPanel>
}
else
{
    <EditForm Model="@InsurancePoliciyForm" Context="EditFormContext" OnValidSubmit="@HandleValidSubmit"
              OnInvalidSubmit="@HandleInvalidSubmit">
        <DataAnnotationsValidator /> 
        <div class="ml-2 mt-1 mb-2 mr-3">
            <div class="row justify-content-end">
                <div class="col-auto align-self-end">
                    <DxButton RenderStyleMode="@ButtonRenderStyleMode.Outline"
                              Text="Save"
                              RenderStyle="ButtonRenderStyle.Info"
                              SubmitFormOnClick="true"
                              IconCssClass="fa-solid fa-floppy-disk"
                              CssClass="w-20 ml" />
                    <DxButton RenderStyleMode="@ButtonRenderStyleMode.Outline"
                              Text="Cancel"
                              RenderStyle="ButtonRenderStyle.Danger"
                              Click="OnCancel"
                              IconCssClass="fa-solid fa-xmark"
                              CssClass="w-20 ml" />
                </div>
            </div>
        </div>
    </EditForm>
}

@code {
    private List<CountryDto> Countries = [];
    private List<ProvinceDto> Provinces = [];

    [Parameter]
    public UserDto User { get; set; } = new()
        {
            Name = "-"
        };

    private List<UserDto> Users = [];
    private List<InsuranceDto> Insurances = [];
    private List<InsurancePolicyDto> InsurancePolicies = [];
    private InsurancePolicyDto InsurancePoliciyForm = new();

    #region Data

    private bool IsBPJS = false;
    private long _InsuranceId = 0;

    private long InsuranceId
    {
        get => _InsuranceId;
        set
        {
            InsurancePoliciyForm.InsuranceId = value;
            _InsuranceId = value;

            IsBPJS = Insurances.Any(x => x.IsBPJSKesehatan == true && x.Id == value) ? true : false;
        }
    }

    #endregion Data

    #region Grid Properties

    private GroupMenuDto UserAccessCRUID = new();

    private bool ShowForm { get; set; } = false;
    private bool IsAccess = false;
    private bool PanelVisible { get; set; } = true;
    private int FocusedRowVisibleIndex { get; set; }
    private bool FormValidationState = true;

    public IGrid Grid { get; set; }
    private IReadOnlyList<object> SelectedDataItems { get; set; } = new ObservableRangeCollection<object>();

    #endregion Grid Properties

    #region LoadData

    protected override async Task OnInitializedAsync()
    {
        try
        {
            var result = await NavigationManager.CheckAccessUser(oLocal);
            IsAccess = result.Item1;
            UserAccessCRUID = result.Item2;
        }
        catch { }

        Insurances = (await Mediator.Send(new GetInsuranceQuery())).Item1;

        await LoadData();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await base.OnAfterRenderAsync(firstRender);

        if (firstRender)
        {
            try
            {
                var result = await NavigationManager.CheckAccessUser(oLocal);
                IsAccess = result.Item1;
                UserAccessCRUID = result.Item2;
            }
            catch { }
        }
    }

     [Parameter]
    public EventCallback<List<InsurancePolicyDto>> InsurancePoliciesUpdated { get; set; }
    private async Task LoadData()
    {
        PanelVisible = true;
        SelectedDataItems = new ObservableRangeCollection<object>();
        var countries = await Mediator.Send(new GetCountryQuery());
        Countries = countries.Item1;
        InsurancePolicies = (await Mediator.Send(new GetInsurancePolicyQuery())).Item1;

        if (User != null && User.Id != 0)
        {
            InsurancePolicies = InsurancePolicies.Where(x => x.UserId == User.Id).ToList();
            InsurancePoliciyForm.UserId = User.Id;
        }

        await InsurancePoliciesUpdated.InvokeAsync(InsurancePolicies);

        PanelVisible = false;
    }

    #endregion LoadData

    #region Grid Function

    private void Grid_FocusedRowChanged(GridFocusedRowChangedEventArgs args)
    {
        FocusedRowVisibleIndex = args.VisibleIndex;
    }

    private void Grid_CustomizeDataRowEditor(GridCustomizeDataRowEditorEventArgs e)
    {
        ((ITextEditSettings)e.EditSettings).ShowValidationIcon = true;
    }

    #region SaveDelete

    private async Task OnDelete(GridDataItemDeletingEventArgs e)
    {
        try
        {
            if (SelectedDataItems is null)
            {
                await Mediator.Send(new DeleteInsurancePolicyRequest(((InsuranceDto)e.DataItem).Id));
            }
            else
            {
                await Mediator.Send(new DeleteInsurancePolicyRequest(ids: SelectedDataItems.Adapt<List<InsuranceDto>>().Select(x => x.Id).ToList()));
            }

            await LoadData();
        }
        catch { }
    }

    private async Task OnSave()
    {
        try
        {
            if (string.IsNullOrWhiteSpace(User.Name))
            {
                ToastService.ShowInfo("Please select the Patient first.");
                return;
            }

            if (InsurancePoliciyForm.Id == 0)
                await Mediator.Send(new CreateInsurancePolicyRequest(InsurancePoliciyForm));
            else
                await Mediator.Send(new UpdateInsurancePolicyRequest(InsurancePoliciyForm));

            ShowForm = false;

            await LoadData();
        }
        catch { }
    }

    #endregion SaveDelete

    #region ToolBar Button

    public async Task ImportExcelFile(InputFileChangeEventArgs e)
    {
    }

    private async Task Refresh_Click()
    {
        await LoadData();
    }

    private void NewItem_Click()
    {
        InsurancePoliciyForm = new()
        {
            UserId = User.Id,
        };
        ShowForm = true;
    }

    private void EditItem_Click()
    {
        try
        {
            InsurancePoliciyForm = SelectedDataItems[0].Adapt<InsurancePolicyDto>();
            ShowForm = true;
        }
        catch { }
    }

    private void DeleteItem_Click()
    {
        Grid.ShowRowDeleteConfirmation(FocusedRowVisibleIndex);
    }

    private void ColumnChooserButton_Click()
    {
        Grid.ShowColumnChooser();
    }

    private async Task ExportXlsxItem_Click()
    {
        await Grid.ExportToXlsxAsync("ExportResult", new GridXlExportOptions()
            {
                ExportSelectedRowsOnly = true,
            });
    }

    private async Task ExportXlsItem_Click()
    {
        await Grid.ExportToXlsAsync("ExportResult", new GridXlExportOptions()
            {
                ExportSelectedRowsOnly = true,
            });
    }

    private async Task ExportCsvItem_Click()
    {
        await Grid.ExportToCsvAsync("ExportResult", new GridCsvExportOptions
            {
                ExportSelectedRowsOnly = true,
            });
    }

    private async Task ImportFile()
    {
        await JsRuntime.InvokeVoidAsync("clickInputFile");
    }

    #endregion ToolBar Button

    #endregion Grid Function

    #region Form

    private async Task HandleValidSubmit()
    {
        FormValidationState = true;

        await OnSave();
    }

    private void HandleInvalidSubmit()
    {
        FormValidationState = false;
    }

    private void OnCancel()
    {
        InsurancePoliciyForm = new();
        ShowForm = false;
    }

    #endregion Form
}