@page "/patient/insurance-policy"
@rendermode InteractiveServer

@if (!IsPopUpForm)
{
    <PageTitle>McDermott - Master Data Insurance Policy</PageTitle>
}

@if (IsAccess)
{
    <div class="wrapper">

        @if (!IsPopUpForm)
        {
            <McDermott.Web.Components.Layout.BaseContentHeaderLayout Title="Insurance Policy" />
        }
        else
        {
            <section class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1>Insurance Policy</h1>
                        </div>
                    </div>
                </div>
            </section>
        }

        @if (!ShowForm)
        {
            <section class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col">
                            <div class="card">
                                <div class="card-body">
                                    <InputFile id="fileInput" style="display:none" OnChange="@ImportExcelFile" accept=".xlsx" multiple="false"></InputFile>

                                    <DxLoadingPanel @bind-Visible="PanelVisible"
                                                    IndicatorAnimationType="WaitIndicatorAnimationType.Pulse"
                                                    IsContentBlocked="true"
                                                    ApplyBackgroundShading="true"
                                                    IndicatorAreaVisible="false"
                                                    Text="Fetching Data...">
                                        <DxGrid @ref="Grid" PagerNavigationMode="PagerNavigationMode.InputBox"
                                                Data="InsurancePolicies"
                                                PageSize="10"
                                                @bind-SelectedDataItems="@SelectedDataItems"
                                                FilterMenuButtonDisplayMode="GridFilterMenuButtonDisplayMode.Always"
                                                KeyFieldName="Id"
                                                CustomizeDataRowEditor="Grid_CustomizeDataRowEditor"
                                                EditModelSaving="OnSave"
                                                DataItemDeleting="OnDelete"
                                                AllowSelectRowByClick="true"
                                                EditMode="GridEditMode.PopupEditForm"
                                                PopupEditFormCssClass="pw-800"
                                                PagerPosition="GridPagerPosition.Bottom"
                                                PageSizeSelectorVisible="true"
                                                PageSizeSelectorItems="@(new int[] { 10, 20, 50, 100 })"
                                                PageSizeSelectorAllRowsItemVisible="true"
                                                PagerSwitchToInputBoxButtonCount="10"
                                                FocusedRowEnabled="true"
                                                PagerVisibleNumericButtonCount="10"
                                                FocusedRowChanged="Grid_FocusedRowChanged"
                                                ShowGroupPanel="true"
                                                AutoExpandAllGroupRows="true"
                                                ShowFilterRow="true"
                                                ShowSearchBox="true"
                                                SelectAllCheckboxMode="GridSelectAllCheckboxMode.Mixed"
                                                KeyboardNavigationEnabled="true">
                                            <ToolbarTemplate>
                                                <DxToolbar ItemRenderStyleMode="ToolbarRenderStyleMode.Contained">
                                                    <DxToolbarItem Visible="@UserAccessCRUID.Create" Text="New" Click="NewItem_Click" IconCssClass="fa-solid fa-plus" />
                                                    <DxToolbarItem Visible="@UserAccessCRUID.Update" Text="Edit" Click="EditItem_Click" IconCssClass="fa-solid fa-pen-to-square" Enabled="SelectedDataItems.Count > 0 && Countries.Count > 0" />
                                                    <DxToolbarItem Visible="@UserAccessCRUID.Delete" Text="Delete" Click="DeleteItem_Click" IconCssClass="fa-solid fa-trash" Enabled="SelectedDataItems.Count > 0 && Countries.Count > 0" />
                                                    <DxToolbarItem BeginGroup="true" Text="Refresh" Click="Refresh_Click" IconCssClass="fa-solid fa-arrows-rotate" />
                                                    <DxToolbarItem Text="Column Chooser" Click="ColumnChooserButton_Click" BeginGroup="true" IconCssClass="fa-solid fa-table-columns" />
                                                    <DxToolbarItem Text="Export" BeginGroup="true" IconCssClass="fa-solid fa-file-export">
                                                        <Items>
                                                            <DxToolbarItem Text="To CSV" Click="ExportCsvItem_Click" />
                                                            <DxToolbarItem Text="To XLSX" Click="ExportXlsxItem_Click" />
                                                            <DxToolbarItem Text="To XLS" Click="ExportXlsItem_Click" />
                                                        </Items>
                                                    </DxToolbarItem>
                                                    <DxToolbarItem Visible="@UserAccessCRUID.Import" Click="@ImportFile" Text="Import" IconCssClass="fa-solid fa-file-import" />
                                                </DxToolbar>
                                            </ToolbarTemplate>
                                            <Columns>
                                                <DxGridSelectionColumn Width="15px" />
                                                <DxGridDataColumn FieldName="User.Name" Caption="Patient" SortIndex="0" />
                                                <DxGridDataColumn FieldName="Insurance.Name" Caption="Insurance Company" />
                                                <DxGridDataColumn FieldName="PolicyNumber" Caption="Policy Number" />
                                                <DxGridDataColumn FieldName="Active" />
                                            </Columns>
                                        </DxGrid>
                                    </DxLoadingPanel>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        }
        else
        {
            <section class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col">
                            <div class="card">
                                <EditForm Model="@InsurancePoliciyForm" Context="EditFormContext" OnValidSubmit="@HandleValidSubmit"
                                          OnInvalidSubmit="@HandleInvalidSubmit">
                                    <DataAnnotationsValidator />
                                    <DxFormLayout CssClass="mt">
                                        <DxFormLayout CssClass="w-100">
                                            <DxFormLayoutItem CaptionCssClass="required-caption normal-caption" Caption="Patient" ColSpanMd="12">
                                                @* <DxComboBox Data="@Users"
                                        NullText="Select Patient..."
                                        @bind-Value="@InsurancePoliciyForm.UserId"
                                        TextFieldName="Name"
                                        ValueFieldName="Id">
                                        </DxComboBox> *@
                                                <p>@User.Name</p>
                                            </DxFormLayoutItem>

                                            <DxFormLayoutItem CaptionCssClass="required-caption normal-caption" Caption="Insurance Company" ColSpanMd="12">
                                                <DxComboBox Data="@Insurances"
                                                            NullText="Select Insurance Company..."
                                                            ShowValidationIcon="true"
                                                            @bind-Value="@InsurancePoliciyForm.InsuranceId"
                                                            FilteringMode="@DataGridFilteringMode.Contains"
                                                            TextFieldName="Name"
                                                            SelectedItemChanged="@((InsuranceDto e) => SelectedItemInsuranceChanged(e))"
                                                            ValueFieldName="Id">
                                                </DxComboBox>
                                                <ValidationMessage For="@(()=>InsurancePoliciyForm.InsuranceId)"   />
                                            </DxFormLayoutItem>

                                            <DxFormLayoutItem CaptionCssClass="caption normal-caption" Caption="Policy Number" ColSpanMd="12">
                                                <DxTextBox @bind-Text="@InsurancePoliciyForm.PolicyNumber"
                                                           ShowValidationIcon="true"
                                                           ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
                                                           NullText="Policy Number" />
                                                <ValidationMessage For="@(()=>InsurancePoliciyForm.PolicyNumber)"   />
                                            </DxFormLayoutItem>

                                            <DxFormLayoutItem CaptionCssClass="required-caption normal-caption" Caption="Active" ColSpanMd="12">
                                                <DxCheckBox @bind-Checked="@InsurancePoliciyForm.Active" />
                                            </DxFormLayoutItem>

                                            <DxFormLayoutGroup Caption="BPJS Integration" ColSpanMd="12" CssClass="mt-3" Visible="IsBPJS">
                                                <Items>

                                                    <DxFormLayoutItem CaptionCssClass="normal-caption" Caption="Prolanis">
                                                        <DxTextBox @bind-Text="@InsurancePoliciyForm.Prolanis"
                                                                   ShowValidationIcon="true"
                                                                   ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
                                                                   NullText="Prolanis" />
                                                    </DxFormLayoutItem>

                                                    <DxFormLayoutItem CaptionCssClass="normal-caption" Caption="Treatment Class">
                                                        <DxTextBox @bind-Text="@InsurancePoliciyForm.Class"
                                                                   ShowValidationIcon="true"
                                                                   ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
                                                                   NullText="Treatment Class" />
                                                    </DxFormLayoutItem>

                                                    <DxFormLayoutItem CaptionCssClass="normal-caption" Caption="Participant Name">
                                                        <DxTextBox @bind-Text="@InsurancePoliciyForm.ParticipantName"
                                                                   ShowValidationIcon="true"
                                                                   ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
                                                                   NullText="Participant Name" />
                                                    </DxFormLayoutItem>

                                                    <DxFormLayoutItem CaptionCssClass="normal-caption" Caption="Diagnosis">
                                                        <DxTextBox @bind-Text="@InsurancePoliciyForm.Diagnosa"
                                                                   ShowValidationIcon="true"
                                                                   ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
                                                                   NullText="Diagnosis" />
                                                    </DxFormLayoutItem>

                                                    <DxFormLayoutItem CaptionCssClass="normal-caption" Caption="Card Number">
                                                        <DxTextBox @bind-Text="@InsurancePoliciyForm.NoCard"
                                                                   ShowValidationIcon="true"
                                                                   ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
                                                                   NullText="Card Number" />
                                                    </DxFormLayoutItem>

                                                    <DxFormLayoutItem CaptionCssClass="normal-caption" Caption="Poly">
                                                        <DxTextBox @bind-Text="@InsurancePoliciyForm.Poly"
                                                                   ShowValidationIcon="true"
                                                                   ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
                                                                   NullText="Poly" />
                                                    </DxFormLayoutItem>

                                                    <DxFormLayoutItem CaptionCssClass="normal-caption" Caption="NIK">
                                                        <DxTextBox @bind-Text="@InsurancePoliciyForm.NoId"
                                                                   ShowValidationIcon="true"
                                                                   ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
                                                                   NullText="NIK" />
                                                    </DxFormLayoutItem>

                                                    <DxFormLayoutItem CaptionCssClass="normal-caption" Caption="Doctor">
                                                        <DxTextBox @bind-Text="@InsurancePoliciyForm.Doctor"
                                                                   ShowValidationIcon="true"
                                                                   ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
                                                                   NullText="Doctor" />
                                                    </DxFormLayoutItem>

                                                    <DxFormLayoutItem CaptionCssClass="normal-caption" Caption="Sex">
                                                        <DxTextBox @bind-Text="@InsurancePoliciyForm.Sex"
                                                                   ShowValidationIcon="true"
                                                                   ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
                                                                   NullText="Sex" />
                                                    </DxFormLayoutItem>

                                                    <DxFormLayoutItem CaptionCssClass="normal-caption" Caption="Date of Birth">
                                                        <DxDateEdit @bind-Date="@InsurancePoliciyForm.DateOfBirth"
                                                                    NullText="Date of Birth" />
                                                    </DxFormLayoutItem>

                                                    <DxFormLayoutItem CaptionCssClass="normal-caption" Caption="Nursing Class">
                                                        <DxTextBox @bind-Text="@InsurancePoliciyForm.NursingClass"
                                                                   ShowValidationIcon="true"
                                                                   ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
                                                                   NullText="Nursing Class" />
                                                    </DxFormLayoutItem>

                                                    <DxFormLayoutItem CaptionCssClass="normal-caption" Caption="Card Print Date">
                                                        <DxDateEdit @bind-Date="@InsurancePoliciyForm.CardPrintDate"
                                                                    NullText="Card Print Date" />
                                                    </DxFormLayoutItem>

                                                    <DxFormLayoutItem CaptionCssClass="normal-caption" Caption="Medical Record Number">
                                                        <DxTextBox @bind-Text="@InsurancePoliciyForm.MedicalRecordNo"
                                                                   ShowValidationIcon="true"
                                                                   ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
                                                                   NullText="Medical Record Number" />
                                                    </DxFormLayoutItem>

                                                    <DxFormLayoutItem CaptionCssClass="normal-caption" Caption="TAT">
                                                        <DxDateEdit @bind-Date="@InsurancePoliciyForm.TatDate"
                                                                    NullText="TAT" />
                                                    </DxFormLayoutItem>

                                                    <DxFormLayoutItem CaptionCssClass="normal-caption" Caption="Phone Number">
                                                        <DxTextBox @bind-Text="@InsurancePoliciyForm.PhoneNumber"
                                                                   ShowValidationIcon="true"
                                                                   ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
                                                                   NullText="Phone Number" />
                                                    </DxFormLayoutItem>

                                                    <DxFormLayoutItem CaptionCssClass="normal-caption" Caption="TMT">
                                                        <DxDateEdit @bind-Date="@InsurancePoliciyForm.TmtDate"
                                                                    NullText="TMT" />
                                                    </DxFormLayoutItem>

                                                    <DxFormLayoutItem CaptionCssClass="normal-caption" Caption="PPK Code">
                                                        <DxTextBox @bind-Text="@InsurancePoliciyForm.ServicePPKCode"
                                                                   ShowValidationIcon="true"
                                                                   ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
                                                                   NullText="PPK Code" />
                                                    </DxFormLayoutItem>

                                                    <DxFormLayoutItem CaptionCssClass="normal-caption" Caption="Participant Status">
                                                        <DxTextBox @bind-Text="@InsurancePoliciyForm.ParticipantStatus"
                                                                   ShowValidationIcon="true"
                                                                   ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
                                                                   NullText="Participant Status" />
                                                    </DxFormLayoutItem>

                                                    <DxFormLayoutItem CaptionCssClass="normal-caption" Caption="PPK Name">
                                                        <DxTextBox @bind-Text="@InsurancePoliciyForm.ServicePPKName"
                                                                   ShowValidationIcon="true"
                                                                   ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
                                                                   NullText="PPK Name" />
                                                    </DxFormLayoutItem>

                                                    <DxFormLayoutItem CaptionCssClass="normal-caption" Caption="Service Type">
                                                        <DxTextBox @bind-Text="@InsurancePoliciyForm.ServiceType"
                                                                   ShowValidationIcon="true"
                                                                   ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
                                                                   NullText="Service Type" />
                                                    </DxFormLayoutItem>

                                                    <DxFormLayoutItem CaptionCssClass="normal-caption" Caption="Service Participant">
                                                        <DxTextBox @bind-Text="@InsurancePoliciyForm.ServiceParticipant"
                                                                   ShowValidationIcon="true"
                                                                   ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
                                                                   NullText="Service Participant" />
                                                    </DxFormLayoutItem>

                                                    <DxFormLayoutItem CaptionCssClass="normal-caption" Caption="Current Age">
                                                        <DxDateEdit @bind-Date="@InsurancePoliciyForm.CurrentAge"
                                                                    NullText="Current Age" />
                                                    </DxFormLayoutItem>

                                                    <DxFormLayoutItem CaptionCssClass="normal-caption" Caption="Age At Time Of Service">
                                                        <DxDateEdit @bind-Date="@InsurancePoliciyForm.AgeAtTimeOfService"
                                                                    NullText="Age At Time Of Service" />
                                                    </DxFormLayoutItem>

                                                    <DxFormLayoutItem CaptionCssClass="normal-caption" Caption="DinSos">
                                                        <DxTextBox @bind-Text="@InsurancePoliciyForm.DinSos"
                                                                   ShowValidationIcon="true"
                                                                   ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
                                                                   NullText="DinSos" />
                                                    </DxFormLayoutItem>

                                                    <DxFormLayoutItem CaptionCssClass="normal-caption" Caption="Prolanis PBR">
                                                        <DxTextBox @bind-Text="@InsurancePoliciyForm.PronalisPBR"
                                                                   ShowValidationIcon="true"
                                                                   ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
                                                                   NullText="Prolanis PBR" />
                                                    </DxFormLayoutItem>

                                                    <DxFormLayoutItem CaptionCssClass="normal-caption" Caption="No. SKTM">
                                                        <DxTextBox @bind-Text="@InsurancePoliciyForm.NoSKTM"
                                                                   ShowValidationIcon="true"
                                                                   ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
                                                                   NullText="No. SKTM" />
                                                    </DxFormLayoutItem>

                                                    <DxFormLayoutItem CaptionCssClass="normal-caption" Caption="Insurance No.">
                                                        <DxTextBox @bind-Text="@InsurancePoliciyForm.InsuranceNo"
                                                                   ShowValidationIcon="true"
                                                                   ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
                                                                   NullText="Insurance No." />
                                                    </DxFormLayoutItem>

                                                    <DxFormLayoutItem CaptionCssClass="normal-caption" Caption="Insurance Name">
                                                        <DxTextBox @bind-Text="@InsurancePoliciyForm.InsuranceName"
                                                                   ShowValidationIcon="true"
                                                                   ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
                                                                   NullText="Insurance Name" />
                                                    </DxFormLayoutItem>

                                                    <DxFormLayoutItem CaptionCssClass="normal-caption" Caption="Provider Name">
                                                        <DxTextBox @bind-Text="@InsurancePoliciyForm.ProviderName"
                                                                   ShowValidationIcon="true"
                                                                   ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
                                                                   NullText="Provider Name" />
                                                    </DxFormLayoutItem>

                                                </Items>
                                            </DxFormLayoutGroup>
                                        </DxFormLayout>
                                    </DxFormLayout>
                                    <div class="ml-2 mt-1 mb-2 mr-3">
                                        <div class="row justify-content-end">
                                            <div class="col-auto align-self-end">
                                                <DxButton RenderStyleMode="@ButtonRenderStyleMode.Outline"
                                                          Text="Save"
                                                          RenderStyle="ButtonRenderStyle.Info"
                                                          SubmitFormOnClick="true"
                                                          IconCssClass="fa-solid fa-floppy-disk"
                                                          CssClass="w-20 ml" />
                                                <DxButton RenderStyleMode="@ButtonRenderStyleMode.Outline"
                                                          Text="Cancel"
                                                          RenderStyle="ButtonRenderStyle.Danger"
                                                          Click="OnCancel"
                                                          IconCssClass="fa-solid fa-xmark"
                                                          CssClass="w-20 ml" />
                                            </div>
                                        </div>
                                    </div>
                                </EditForm>
                                <div class="mt-2"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        }
    </div>
}
else
{
    <div class="wrapper">
        <McDermott.Web.Components.Layout.BaseContentHeaderLayout Title="Insurance Police" />

        <LoadingIndicatorLayout></LoadingIndicatorLayout>
    </div>
}