@page "/patient/insurance-policy"
@rendermode InteractiveServer

@if (!IsPopUpForm)
{
    <PageTitle>McHealthCare - Master Data Insurance Policy</PageTitle>
}

@if (IsAccess)
{
    <div class="wrapper">

        @if (!IsPopUpForm)
        {
            <McDermott.Web.Components.Layout.BaseContentHeaderLayout Title="Insurance Policy" />
        }
        else
        {
            @* <section class="content-header">
    <div class="container-fluid">
    <div class="row mb-2">
    <div class="col-sm-6">
    <h1>Insurance Policy</h1>
    </div>
    </div>
    </div>
    </section> *@
        }

        @if (!ShowForm)
        {
            <section class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col">
                            <div class="card">
                                <div class="card-body">
                                    <InputFile id="fileInput" style="display:none" OnChange="@ImportExcelFile" accept=".xlsx" multiple="false"></InputFile>

                                    <DxLoadingPanel @bind-Visible="PanelVisible"
                                                    IndicatorAnimationType="WaitIndicatorAnimationType.Pulse"
                                                    IsContentBlocked="true"
                                                    ApplyBackgroundShading="true"
                                                    IndicatorAreaVisible="false"
                                                    Text="Fetching Data...">
                                        <DxGrid @ref="Grid" PagerNavigationMode="PagerNavigationMode.InputBox"
                                                Data="InsurancePolicies"
                                                PageSize="10"
                                                @bind-SelectedDataItems="@SelectedDataItems"
                                                FilterMenuButtonDisplayMode="GridFilterMenuButtonDisplayMode.Always"
                                                KeyFieldName="Id"
                                                CustomizeDataRowEditor="Grid_CustomizeDataRowEditor"
                                                EditModelSaving="OnSave"
                                                DataItemDeleting="OnDelete"
                                                AllowSelectRowByClick="true"
                                                EditMode="GridEditMode.PopupEditForm"
                                                PopupEditFormCssClass="pw-800"
                                                PagerPosition="GridPagerPosition.Bottom"
                                                PageSizeSelectorVisible="true"
                                                PageSizeSelectorItems="@(new int[] { 10, 20, 50, 100 })"
                                                PageSizeSelectorAllRowsItemVisible="true"
                                                PagerSwitchToInputBoxButtonCount="10"
                                                FocusedRowEnabled="true"
                                                PagerVisibleNumericButtonCount="10"
                                                FocusedRowChanged="Grid_FocusedRowChanged"
                                                ShowGroupPanel="true"
                                                AutoExpandAllGroupRows="true"
                                                ShowFilterRow="true"
                                                ShowSearchBox="true"
                                                SelectAllCheckboxMode="GridSelectAllCheckboxMode.Mixed"
                                                KeyboardNavigationEnabled="true">
                                            <ToolbarTemplate>
                                                <DxToolbar ItemRenderStyleMode="ToolbarRenderStyleMode.Contained">
                                                    <DxToolbarItem Visible="@UserAccessCRUID.Create" Text="New" Click="NewItem_Click" IconCssClass="fa-solid fa-plus" />
                                                    <DxToolbarItem Visible="@UserAccessCRUID.Update" Text="Edit" Click="EditItem_Click" IconCssClass="fa-solid fa-pen-to-square" Enabled="SelectedDataItems.Count > 0 && Countries.Count > 0" />
                                                    <DxToolbarItem Visible="@UserAccessCRUID.Delete" Text="Delete" Click="DeleteItem_Click" IconCssClass="fa-solid fa-trash" Enabled="SelectedDataItems.Count > 0 && Countries.Count > 0" />
                                                    <DxToolbarItem BeginGroup="true" Text="Refresh" Click="Refresh_Click" IconCssClass="fa-solid fa-arrows-rotate" />
                                                    <DxToolbarItem Text="Column Chooser" Click="ColumnChooserButton_Click" BeginGroup="true" IconCssClass="fa-solid fa-table-columns" />
                                                    <DxToolbarItem Text="Export" BeginGroup="true" IconCssClass="fa-solid fa-file-export">
                                                        <Items>
                                                            <DxToolbarItem Text="To CSV" Click="ExportCsvItem_Click" />
                                                            <DxToolbarItem Text="To XLSX" Click="ExportXlsxItem_Click" />
                                                            <DxToolbarItem Text="To XLS" Click="ExportXlsItem_Click" />
                                                        </Items>
                                                    </DxToolbarItem>
                                                    <DxToolbarItem Visible="@UserAccessCRUID.Import" Click="@ImportFile" Text="Import" IconCssClass="fa-solid fa-file-import" />
                                                </DxToolbar>
                                            </ToolbarTemplate>
                                            <Columns>
                                                <DxGridSelectionColumn Width="15px" />
                                                <DxGridDataColumn FieldName="User.Name" Caption="Patient" SortIndex="0" />
                                                <DxGridDataColumn FieldName="Insurance.Name" Caption="Insurance Company" />
                                                <DxGridDataColumn FieldName="PolicyNumber" Caption="Policy Number" />
                                                <DxGridDataColumn FieldName="Active" />
                                            </Columns>
                                        </DxGrid>
                                    </DxLoadingPanel>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        }
        else
        {
            <section class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col">
                            <div class="card">
                                <EditForm Model="@InsurancePoliciyForm" Context="EditFormContext" OnValidSubmit="@HandleValidSubmit"
                                          OnInvalidSubmit="@HandleInvalidSubmit">
                                    <DataAnnotationsValidator />
                                    <DxFormLayout CssClass="mt">
                                        <DxFormLayout CssClass="w-100">
                                            <DxFormLayoutItem CaptionCssClass="required-caption normal-caption" Caption="Patient" ColSpanMd="12">
                                                <p>@User.Name</p>
                                            </DxFormLayoutItem>

                                            <DxFormLayoutItem CaptionCssClass="required-caption normal-caption" Caption="Insurance Company" ColSpanMd="12">
                                                <DxComboBox Data="@Insurances"
                                                            NullText="Select Insurance Company..."
                                                            ShowValidationIcon="true"
                                                            @bind-Value="@InsurancePoliciyForm.InsuranceId"
                                                            FilteringMode="@DataGridFilteringMode.Contains"
                                                            TextFieldName="Name"
                                                            SelectedItemChanged="@((InsuranceDto e) => SelectedItemInsuranceChanged(e))"
                                                            ValueFieldName="Id">
                                                    @*  <Buttons>
                                            <DxEditorButton Visible="IsBPJS"
                                            Text="Get BPJS"
                                            Tooltip="Get BPJS" />
                                            </Buttons> *@
                                                </DxComboBox>
                                                <ValidationMessage For="@(()=>InsurancePoliciyForm.InsuranceId)"   />
                                            </DxFormLayoutItem>

                                            <DxFormLayoutItem Visible="IsBPJS" Caption=" " ColSpanMd="12">
                                                <DxButton Text="Get BPJS"
                                                          Click="OnClickGetBPJS"
                                                          RenderStyle="ButtonRenderStyle.Primary" />
                                            </DxFormLayoutItem>

                                            <DxFormLayoutItem CaptionCssClass="caption normal-caption" Caption="Policy Number" ColSpanMd="12">
                                                <DxTextBox @bind-Text="@InsurancePoliciyForm.PolicyNumber"
                                                           ShowValidationIcon="true"
                                                           ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
                                                           NullText="Policy Number" />
                                                <ValidationMessage For="@(()=>InsurancePoliciyForm.PolicyNumber)"   />
                                            </DxFormLayoutItem>

                                            <DxFormLayoutItem CaptionCssClass="required-caption normal-caption" Caption="Active" ColSpanMd="12">
                                                <DxCheckBox @bind-Checked="@InsurancePoliciyForm.Active" />
                                            </DxFormLayoutItem>

                                            <DxFormLayoutGroup Caption="BPJS Integration" ColSpanMd="12" CssClass="mt-3" Visible="IsBPJS" ExpandButtonDisplayMode="GroupExpandButtonDisplayMode.Start" AnimationType="LayoutAnimationType.Slide">
                                                <div class="row w-100">

                                                    @if (IsLoadingGetBPJS)
                                                    {
                                                        <div class="col-md-12 text-center">
                                                            <DxLoadingPanel IndicatorAnimationType="WaitIndicatorAnimationType.Pulse"
                                                                            CssClass="loading-panel"
                                                                            IndicatorVisible="true"
                                                                            IndicatorAreaVisible="true"
                                                                            Visible="true"
                                                                            Text="Processing..."
                                                                            TextAlignment="LoadingPanelTextAlignment.Right">
                                                            </DxLoadingPanel>
                                                        </div>
                                                    }
                                                    else
                                                    {
                                                        <div class="col-md-6">
                                                            <DxFormLayout>

                                                                <DxFormLayoutItem CaptionCssClass="normal-caption" Caption="Card Number" ColSpanMd="12">
                                                                    <DxTextBox @bind-Text="@BPJSIntegration.NoKartu"
                                                                               NullText="Card Number"
                                                                               ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto" />
                                                                </DxFormLayoutItem>

                                                                <DxFormLayoutItem CaptionCssClass="normal-caption" Caption="Name" ColSpanMd="12">
                                                                    <DxTextBox @bind-Text="@BPJSIntegration.Nama"
                                                                               NullText="Name"
                                                                               ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto" />
                                                                </DxFormLayoutItem>

                                                                <DxFormLayoutItem CaptionCssClass="normal-caption" Caption="Family Relation" ColSpanMd="12">
                                                                    <DxTextBox @bind-Text="@BPJSIntegration.HubunganKeluarga"
                                                                               NullText="Family Relation"
                                                                               ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto" />
                                                                </DxFormLayoutItem>

                                                                <DxFormLayoutItem CaptionCssClass="normal-caption" Caption="Sex" ColSpanMd="12">
                                                                    <DxTextBox @bind-Text="@BPJSIntegration.Sex"
                                                                               NullText="Sex"
                                                                               ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto" />
                                                                </DxFormLayoutItem>

                                                                <DxFormLayoutItem CaptionCssClass="normal-caption" Caption="Date of Birth" ColSpanMd="12">
                                                                    <DxDateEdit NullText="Date of Birth" @bind-Date="@BPJSIntegration.TglLahir" Mask="@DateTimeMask.ShortDate" />
                                                                </DxFormLayoutItem>

                                                                <DxFormLayoutItem CaptionCssClass="normal-caption" Caption="Start Active Date" ColSpanMd="12">
                                                                    <DxDateEdit NullText="Date of Birth" @bind-Date="@BPJSIntegration.TglMulaiAktif" Mask="@DateTimeMask.ShortDate" />
                                                                </DxFormLayoutItem>

                                                                <DxFormLayoutItem CaptionCssClass="normal-caption" Caption="Start End Date" ColSpanMd="12">
                                                                    <DxDateEdit NullText="Date of Birth" @bind-Date="@BPJSIntegration.TglAkhirBerlaku" Mask="@DateTimeMask.ShortDate" />
                                                                </DxFormLayoutItem>

                                                                <DxFormLayoutItem CaptionCssClass="normal-caption" Caption="Blood Type" ColSpanMd="12">
                                                                    <DxTextBox @bind-Text="@BPJSIntegration.GolDarah"
                                                                               NullText="Blood Type"
                                                                               ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto" />
                                                                </DxFormLayoutItem>

                                                                <DxFormLayoutItem CaptionCssClass="normal-caption" Caption="Phone Number" ColSpanMd="12">
                                                                    <DxTextBox @bind-Text="@BPJSIntegration.NoHP"
                                                                               NullText="Phone Number"
                                                                               ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto" />
                                                                </DxFormLayoutItem>

                                                                <DxFormLayoutItem CaptionCssClass="normal-caption" Caption="Identity Number" ColSpanMd="12">
                                                                    <DxTextBox @bind-Text="@BPJSIntegration.NoKTP"
                                                                               NullText="Identity Number"
                                                                               ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto" />
                                                                </DxFormLayoutItem>

                                                                <DxFormLayoutItem CaptionCssClass="normal-caption" Caption="Pst Prol" ColSpanMd="12">
                                                                    <DxTextBox @bind-Text="@BPJSIntegration.PstProl"
                                                                               NullText="Pst Prol"
                                                                               ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto" />
                                                                </DxFormLayoutItem>

                                                                <DxFormLayoutItem CaptionCssClass="normal-caption" Caption="Pst Prb" ColSpanMd="12">
                                                                    <DxTextBox @bind-Text="@BPJSIntegration.PstPrb"
                                                                               NullText="Pst Prb"
                                                                               ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto" />
                                                                </DxFormLayoutItem>

                                                                <DxFormLayoutItem CaptionCssClass="normal-caption" Caption="Active" ColSpanMd="12">
                                                                    <DxCheckBox @bind-Checked="@BPJSIntegration.Aktif" />
                                                                </DxFormLayoutItem>

                                                                <DxFormLayoutItem CaptionCssClass="normal-caption" Caption="Ket Active" ColSpanMd="12">
                                                                    <DxTextBox @bind-Text="@BPJSIntegration.KetAktif"
                                                                               NullText="Ket Active"
                                                                               ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto" />
                                                                </DxFormLayoutItem>
                                                            </DxFormLayout>
                                                        </div>

                                                        <div class="col-md-6">
                                                            <DxFormLayout>
                                                                <DxFormLayoutItem CaptionCssClass="normal-caption" Caption="PST Kd Provider" ColSpanMd="12">
                                                                    <DxTextBox @bind-Text="@BPJSIntegration.KdProviderPstt.KdProvider"
                                                                               NullText="PST Kd Provider"
                                                                               ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto" />
                                                                </DxFormLayoutItem>

                                                                <DxFormLayoutItem CaptionCssClass="normal-caption" Caption="PST Nm Provider" ColSpanMd="12">
                                                                    <DxTextBox @bind-Text="@BPJSIntegration.KdProviderPstt.NmProvider"
                                                                               NullText="PST Nm Provider"
                                                                               ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto" />
                                                                </DxFormLayoutItem>

                                                                <DxFormLayoutItem CaptionCssClass="normal-caption" Caption="Dental Kd Provider" ColSpanMd="12">
                                                                    <DxTextBox @bind-Text="@BPJSIntegration.KdProviderGigii.KdProvider"
                                                                               NullText="Dental Kd Provider"
                                                                               ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto" />
                                                                </DxFormLayoutItem>

                                                                <DxFormLayoutItem CaptionCssClass="normal-caption" Caption="Dental Nm Provider" ColSpanMd="12">
                                                                    <DxTextBox @bind-Text="@BPJSIntegration.KdProviderGigii.NmProvider"
                                                                               NullText="Dental Nm Provider"
                                                                               ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto" />
                                                                </DxFormLayoutItem>

                                                                <DxFormLayoutItem CaptionCssClass="normal-caption" Caption="Jns Class Name" ColSpanMd="12">
                                                                    <DxTextBox @bind-Text="@BPJSIntegration.JnsKelass.Nama"
                                                                               NullText="Jns Class"
                                                                               ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto" />
                                                                </DxFormLayoutItem>

                                                                <DxFormLayoutItem CaptionCssClass="normal-caption" Caption="Jns Class Code" ColSpanMd="12">
                                                                    <DxTextBox @bind-Text="@BPJSIntegration.JnsKelass.Kode"
                                                                               NullText="Jns Class Code"
                                                                               ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto" />
                                                                </DxFormLayoutItem>

                                                                <DxFormLayoutItem CaptionCssClass="normal-caption" Caption="Jns Participant Name" ColSpanMd="12">
                                                                    <DxTextBox @bind-Text="@BPJSIntegration.JnsPesertaa.Nama"
                                                                               NullText="Jns Participant Name"
                                                                               ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto" />
                                                                </DxFormLayoutItem>

                                                                <DxFormLayoutItem CaptionCssClass="normal-caption" Caption="Jns Participant Code" ColSpanMd="12">
                                                                    <DxTextBox @bind-Text="@BPJSIntegration.JnsPesertaa.Kode"
                                                                               NullText="Jns Participant Code"
                                                                               ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto" />
                                                                </DxFormLayoutItem>

                                                                <DxFormLayoutItem CaptionCssClass="normal-caption" Caption="Kd Insurance" ColSpanMd="12">
                                                                    <DxTextBox @bind-Text="@BPJSIntegration.Asuransii.KdAsuransi"
                                                                               NullText="Kd Insurance"
                                                                               ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto" />
                                                                </DxFormLayoutItem>

                                                                <DxFormLayoutItem CaptionCssClass="normal-caption" Caption="Nm Insurance" ColSpanMd="12">
                                                                    <DxTextBox @bind-Text="@BPJSIntegration.Asuransii.NmAsuransi"
                                                                               NullText="Nm Insurance"
                                                                               ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto" />
                                                                </DxFormLayoutItem>

                                                                <DxFormLayoutItem CaptionCssClass="normal-caption" Caption="No Insurance" ColSpanMd="12">
                                                                    <DxTextBox @bind-Text="@BPJSIntegration.Asuransii.NoAsuransi"
                                                                               NullText="No Insurance"
                                                                               ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto" />
                                                                </DxFormLayoutItem>

                                                                <DxFormLayoutItem CaptionCssClass="normal-caption" Caption="Cob Insurance" ColSpanMd="12">
                                                                    <DxCheckBox @bind-Checked="@BPJSIntegration.Asuransii.Cob" />
                                                                </DxFormLayoutItem>

                                                                <DxFormLayoutItem CaptionCssClass="normal-caption" Caption="Arrears" ColSpanMd="12">
                                                                    <DxSpinEdit @bind-Value="@BPJSIntegration.Tunggakan"
                                                                                NullText="Arrears"
                                                                                ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto" />
                                                                </DxFormLayoutItem>
                                                            </DxFormLayout>
                                                        </div>
                                                    }

                                                </div>
                                            </DxFormLayoutGroup>

                                        </DxFormLayout>
                                    </DxFormLayout>
                                    <div class="ml-2 mt-1 mb-2 mr-3">
                                        <div class="row justify-content-end">
                                            <div class="col-auto align-self-end">
                                                <DxButton RenderStyleMode="@ButtonRenderStyleMode.Outline"
                                                          Text="Save"
                                                          RenderStyle="ButtonRenderStyle.Info"
                                                          SubmitFormOnClick="true"
                                                          IconCssClass="fa-solid fa-floppy-disk"
                                                          CssClass="w-20 ml" />
                                                <DxButton RenderStyleMode="@ButtonRenderStyleMode.Outline"
                                                          Text="Cancel"
                                                          RenderStyle="ButtonRenderStyle.Danger"
                                                          Click="OnCancel"
                                                          IconCssClass="fa-solid fa-xmark"
                                                          CssClass="w-20 ml" />
                                            </div>
                                        </div>
                                    </div>
                                </EditForm>
                                <div class="mt-2"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        }
    </div>
}
else
{
    <div class="wrapper">
        <McDermott.Web.Components.Layout.BaseContentHeaderLayout Title="Insurance Police" />

        <LoadingIndicatorLayout></LoadingIndicatorLayout>
    </div>
}