@page "/patient/patient-data"
@using McDermott.Web.Components.LayoutComponents
@using McDermott.Web.Components.Pages.Pharmacy
@inject IHttpContextAccessor _httpContextAccessor

<PageTitle>McHealthCare - Master Data Patient</PageTitle>

@if (IsAccess)
{
    <div class="wrapper">

        <BaseHeaderPage Title="Patients" OnClickBack="@(async () => await LoadData())" ShowBackButton="ShowForm" />

        @if (ShowForm)
        {
            <section class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col">
                            <div class="card">
                                <div class="card-body">
                                    <div class="w-100">
                                        <DxToolbar Title="Actions" ItemRenderStyleMode="ToolbarRenderStyleMode.Contained" AdaptivityMinRootItemCount="2" AdaptivityAutoHideRootItems="true" AdaptivityAutoCollapseItemsToIcons="true">
                                            <Items>

                                                <DxToolbarItem Alignment="ToolbarItemAlignment.Right" BeginGroup="true" Click="@((e) => OnClickSmartButton("Insurance Policy"))"
                                                               IconCssClass="fa-solid fa-notes-medical"
                                                               Text="@($"{InsurancePoliciesCount} Insurance Policy")" />
                                                <DxToolbarItem Alignment="ToolbarItemAlignment.Right" BeginGroup="true" Click="@((e) => OnClickSmartButton("Prescription"))"
                                                               IconCssClass="fa-solid fa-syringe"
                                                               Text="@($"{PrescriptionCount} History Prescription")" />
                                                <DxToolbarItem Alignment="ToolbarItemAlignment.Right" BeginGroup="true" Click="@((e) => OnClickSmartButton("Desease"))"
                                                               IconCssClass="fa-solid fa-syringe"
                                                               Text="@($"History Desease")" />
                                                <DxToolbarItem Alignment="ToolbarItemAlignment.Right" BeginGroup="true" Click="@((e) => OnClickSmartButton("0"))"
                                                               IconCssClass="fa-solid fa-virus-slash"
                                                               Text="@($"Data General Examination")" />
                                                <DxToolbarItem Alignment="ToolbarItemAlignment.Right" BeginGroup="true" Click="@((e) => OnClickSmartButton("0"))"
                                                               IconCssClass="fa-solid fa-person-falling"
                                                               Text="@($"Data Accident")" />
                                                <DxToolbarItem Alignment="ToolbarItemAlignment.Right" BeginGroup="true" Click="@((e) => OnClickSmartButton("0"))"
                                                               IconCssClass="fa-solid fa-notes-medical"
                                                               Text="@($"Data MCU")" />
                                                <DxToolbarItem Alignment="ToolbarItemAlignment.Right" BeginGroup="true" Click="@((e) => OnClickSmartButton("Vaccinations"))"
                                                               IconCssClass="fa-solid fa-syringe"
                                                               Text="@($"{VaccinationCount} Vaccinations")" />

                                                <DxToolbarItem Alignment="ToolbarItemAlignment.Right" BeginGroup="true" Click="@((e) => OnClickSmartButton("0"))"
                                                               IconCssClass="fa-solid fa-syringe"
                                                               Text="@($"Data wellness")" />

                                            </Items>
                                        </DxToolbar>

                                        @if (TabIndex != -1)
                                        {
                                            <div class="ml-2 mt-3 mb-2">
                                                <div class="row justify-content-end">
                                                    <div class="col-auto align-self-end">
                                                        <DxButton RenderStyleMode="@ButtonRenderStyleMode.Outline"
                                                                  Text="Close"
                                                                  RenderStyle="ButtonRenderStyle.Danger"
                                                                  Click="OnClose"
                                                                  IconCssClass="fa-solid fa-xmark"
                                                                  CssClass="w-20 ml" />
                                                    </div>
                                                </div>
                                            </div>
                                        }

                                        @switch (TabIndex)
                                        {
                                            case 0:
                                                <InsurancePolicyPageListForm User="@UserForm" />
                                                break;
                                            case 1:
                                                <PrescriptionPage User="@UserForm" />
                                                break;
                                            default:
                                                break;
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        }

        @if (TabIndex == -1)
        {

            <section class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col">
                            <div class="card">
                                @if (!ShowForm)
                                {
                                    <DxLoadingPanel @bind-Visible="PanelVisible"
                                                    IndicatorAnimationType="WaitIndicatorAnimationType.Pulse"
                                                    IsContentBlocked="true"
                                                    ApplyBackgroundShading="true"
                                                    IndicatorAreaVisible="false"
                                                    Text="Fetching Data...">
                                        <MyGrid @ref="Grid"
                                                Data="Users"
                                                @bind-SelectedDataItems="@SelectedDataItems"
                                                DataItemDeleting="OnDelete"
                                                RowDoubleClick="OnRowDoubleClick"
                                                KeyFieldName="Id"
                                                FocusedRowChanged="Grid_FocusedRowChanged">

                                            <ToolbarTemplate>
                                                <MyDxToolbarBase TItem="UserDto"
                                                                 Items="@Users"
                                                                 SelectedDataItems="@SelectedDataItems"
                                                                 NewItem_Click="@NewItem_Click"
                                                                 EditItem_Click="@EditItem"
                                                                 DeleteItem_Click="@DeleteItem_Click"
                                                                 Refresh_Click="@Refresh_Click"
                                                                 EnableDelete="!IsDeleted"
                                                                 IsImport="false"
                                                                 Grid="Grid"
                                                                 VisibleNew="UserAccessCRUID.IsCreate"
                                                                 VisibleEdit="UserAccessCRUID.IsUpdate"
                                                                 VisibleDelete="UserAccessCRUID.IsDelete" />
                                            </ToolbarTemplate>
                                            <Columns>
                                                <DxGridSelectionColumn Width="15px" />
                                                <DxGridDataColumn MinWidth="200" FieldName="NoRm" Caption="Medical Record" SortOrder="GridColumnSortOrder.Descending" />
                                                <DxGridDataColumn MinWidth="200" FieldName="Name" />
                                                <DxGridDataColumn MinWidth="200" FieldName="DateOfBirth" Caption="Date of Birth" />
                                            </Columns>
                                        </MyGrid>
                                    </DxLoadingPanel>
                                }
                                else
                                {
                                    <EditForm Model="@UserForm" Context="EditFormContext" OnValidSubmit="@HandleValidSubmit"
                                              OnInvalidSubmit="@HandleInvalidSubmit">
                                        <DataAnnotationsValidator />
                                        <AntiforgeryToken />
                                        <DxFormLayout CssClass="mt">
                                            <DxFormLayoutGroup Caption="General Information" ColSpanMd="12">
                                                <div class="row w-100">
                                                    <div class="col-md-6">
                                                        <DxFormLayout CssClass="mt">
                                                            <DxFormLayoutItem CaptionCssClass="required-caption normal-caption" Caption="Name" ColSpanMd="12">
                                                                <DxTextBox @bind-Text="@UserForm.Name"
                                                                           ShowValidationIcon="true"
                                                                           ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
                                                                           NullText="Name" />
                                                                <ValidationMessage For="@(() => UserForm.Name)"   />
                                                            </DxFormLayoutItem>
                                                            <DxFormLayoutItem CaptionCssClass="normal-caption" Caption="Medical Record" ColSpanMd="12">
                                                                <p>@UserForm.NoRm</p>
                                                            </DxFormLayoutItem>
                                                            <DxFormLayoutItem CaptionCssClass="required-caption normal-caption" Caption="Email" ColSpanMd="12">
                                                                <DxMaskedInput @bind-Value="@UserForm.Email"
                                                                               Mask="@EmailMask"
                                                                               ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
                                                                               NullText="mail@domain.com"
                                                                               ShowValidationIcon="true"
                                                                               MaskMode="MaskMode.RegEx">
                                                                    <Buttons>
                                                                        <DxEditorButton IconCssClass="fa-solid fa-envelope" />
                                                                    </Buttons>
                                                                    <ChildContent>
                                                                        <DxRegExMaskProperties MaskAutoCompleteMode="@MaskAutoCompleteMode.Strong"
                                                                                               Placeholder="@('_')"
                                                                                               PlaceholdersVisible="true" />
                                                                    </ChildContent>
                                                                </DxMaskedInput>
                                                                <ValidationMessage For="@(() => UserForm.Email)"   />
                                                            </DxFormLayoutItem>
                                                            <DxFormLayoutItem Caption="Identity Number" ColSpanMd="12" CaptionCssClass="normal-caption">
                                                                <DxMaskedInput @bind-Value="@UserForm.NoId"
                                                                               ShowValidationIcon="true"
                                                                               ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
                                                                               NullText="Identity Number">
                                                                    <DxTextMaskProperties Placeholder="Placeholder" />
                                                                </DxMaskedInput>
                                                            </DxFormLayoutItem>
                                                            <DxFormLayoutItem CaptionCssClass="normal-caption" Caption="Identity Type" ColSpanMd="12">
                                                                <DxComboBox ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto" FilteringMode="@DataGridFilteringMode.Contains" Data="@IdentityTypes" @bind-Value="@UserForm.TypeId"></DxComboBox>
                                                            </DxFormLayoutItem>
                                                            <DxFormLayoutItem CaptionCssClass="normal-caption" ColSpanMd="12" Caption="Expired Identity"
                                                                              Visible="@((UserForm.TypeId == null || UserForm.TypeId.Contains("VISA") || UserForm.TypeId.Contains("SIM")))">
                                                                <DxDateEdit NullText="Expired Identity" @bind-Date="@UserForm.ExpiredId" Mask="@DateTimeMask.ShortDate" />
                                                            </DxFormLayoutItem>
                                                            <DxFormLayoutItem CaptionCssClass="normal-caption" Caption="Religion" ColSpanMd="12">
                                                                <DxComboBox ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto" FilteringMode="@DataGridFilteringMode.Contains"
                                                                            Data="@Religions" NullText="Religion" @bind-Value="@UserForm.ReligionId" TextFieldName="Name" ValueFieldName="Id" />
                                                            </DxFormLayoutItem>
                                                            <DxFormLayoutItem CaptionCssClass="normal-caption" Caption="Date of Birth" ColSpanMd="12">
                                                                <DxDateEdit @bind-Date="@UserForm.DateOfBirth" NullText="Date of Birth" MaxDate="DateTime.Now" Mask="@DateTimeMask.ShortDate" />
                                                            </DxFormLayoutItem>
                                                            <DxFormLayoutItem CaptionCssClass="normal-caption" Caption="Gender" ColSpanMd="12">
                                                                <DxComboBox ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto" FilteringMode="@DataGridFilteringMode.Contains"
                                                                            Data="@Genders" NullText="Gender" @bind-Value="@UserForm.Gender" TextFieldName="Name" ValueFieldName="Id" />
                                                            </DxFormLayoutItem>
                                                            <DxFormLayoutItem CaptionCssClass="normal-caption" Caption="Martial Status" ColSpanMd="12">
                                                                <DxComboBox ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto" FilteringMode="@DataGridFilteringMode.Contains"
                                                                            Data="@MartialStatuss" @bind-Value="@UserForm.MartialStatus" NullText="Select Martial Status..."></DxComboBox>
                                                            </DxFormLayoutItem>
                                                        </DxFormLayout>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <DxFormLayout CssClass="mt">
                                                            <DxFormLayoutItem CaptionCssClass="required-caption normal-caption" Caption="Mobile" ColSpanMd="12">
                                                                <DxMaskedInput @bind-Value="@UserForm.MobilePhone"
                                                                               ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
                                                                               NullText="Mobile Phone"
                                                                               ShowValidationIcon="true">
                                                                    <DxTextMaskProperties Placeholder="Placeholder" />
                                                                </DxMaskedInput>
                                                                <ValidationMessage For="@(() => UserForm.MobilePhone)"   />
                                                            </DxFormLayoutItem>
                                                            <DxFormLayoutItem CaptionCssClass="normal-caption" Caption="Phone" ColSpanMd="12">
                                                                <DxMaskedInput @bind-Value="@UserForm.HomePhoneNumber"
                                                                               ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
                                                                               ShowValidationIcon="true"
                                                                               NullText="Home Mobile Phone">
                                                                    <DxTextMaskProperties Placeholder="Placeholder" />
                                                                </DxMaskedInput>
                                                            </DxFormLayoutItem>
                                                            <DxFormLayoutItem CaptionCssClass="normal-caption" Caption="NPWP" ColSpanMd="12">
                                                                <DxTextBox @bind-Text="@UserForm.Npwp" ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto" NullText="NPWP" />
                                                            </DxFormLayoutItem>

                                                            <DxFormLayoutItem CaptionCssClass="normal-caption" Caption="Emergency Name" ColSpanMd="12">
                                                                <DxTextBox @bind-Text="@UserForm.EmergencyName" ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto" NullText="Emergency Name" />
                                                            </DxFormLayoutItem>
                                                            <DxFormLayoutItem CaptionCssClass="normal-caption" Caption="Emergency Relation" ColSpanMd="12">
                                                                <DxTextBox @bind-Text="@UserForm.EmergencyRelation" ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto" NullText="Emergency Relation" />
                                                            </DxFormLayoutItem>
                                                            <DxFormLayoutItem CaptionCssClass="normal-caption" Caption="Emergency Email" ColSpanMd="12">
                                                                <DxTextBox @bind-Text="@UserForm.EmergencyEmail" ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto" NullText="Emergency Email" />
                                                            </DxFormLayoutItem>
                                                            <DxFormLayoutItem CaptionCssClass="normal-caption" Caption="Emergency Phone" ColSpanMd="12">
                                                                <DxMaskedInput @bind-Value="@UserForm.EmergencyPhone"
                                                                               NullText="Emergency Phone"
                                                                               ShowValidationIcon="true"
                                                                               ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto">
                                                                    <DxTextMaskProperties Placeholder="Placeholder" />
                                                                </DxMaskedInput>
                                                            </DxFormLayoutItem>
                                                        </DxFormLayout>
                                                    </div>
                                                </div>
                                                <div class="row w-100">
                                                    <div class="col-md-12">
                                                        <DxFormLayoutItem CaptionCssClass="normal-caption" Caption="Residence Address" ColSpanMd="12">
                                                            <DxCheckBox @bind-Checked="@UserForm.IsSameDomicileAddress" />
                                                        </DxFormLayoutItem>
                                                    </div>
                                                </div>
                                                <DxFormLayoutItem CaptionCssClass="normal-caption" Caption="KTP Address" ColSpanMd="12">
                                                    <Template>
                                                        <DxGridLayout ColumnSpacing="8px" RowSpacing="8px">
                                                            <Rows>
                                                                <DxGridLayoutRow />
                                                                <DxGridLayoutRow />
                                                                <DxGridLayoutRow />
                                                                <DxGridLayoutRow />
                                                                <DxGridLayoutRow />
                                                                <DxGridLayoutRow />
                                                            </Rows>
                                                            <Columns>
                                                                <DxGridLayoutColumn />
                                                                <DxGridLayoutColumn />
                                                            </Columns>
                                                            <Items>
                                                                <DxGridLayoutItem Row="0" Column="0" ColumnSpan="12">
                                                                    <Template>
                                                                        <DxTextBox ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto" @bind-Text="@UserForm.IdCardAddress1" NullText="Street 1..." />
                                                                    </Template>
                                                                </DxGridLayoutItem>
                                                                <DxGridLayoutItem Row="1" Column="0" ColumnSpan="12">
                                                                    <Template>
                                                                        <DxTextBox ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto" @bind-Text="@UserForm.IdCardAddress2" NullText="Street 2..." />
                                                                    </Template>
                                                                </DxGridLayoutItem>
                                                                <DxGridLayoutItem Row="2" Column="0" ColumnSpan="12">
                                                                    <Template>
                                                                        <DxTextBox ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto" @bind-Text="@UserForm.IdCardRtRw" NullText="RT/RW..." />
                                                                    </Template>
                                                                </DxGridLayoutItem>
                                                                <DxGridLayoutItem Row="3" Column="0">
                                                                    <Template>
                                                                        <DxComboBox Data="@Provinces" ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto" FilteringMode="@DataGridFilteringMode.Contains"
                                                                                    NullText="Select Province..."
                                                                                    @bind-Value="@UserForm.IdCardProvinceId"
                                                                                    TextFieldName="Name"
                                                                                    ValueFieldName="Id">
                                                                        </DxComboBox>
                                                                    </Template>
                                                                </DxGridLayoutItem>
                                                                <DxGridLayoutItem Row="3" Column="1">
                                                                    <Template>
                                                                        <DxComboBox Data="@Cities.Where(x => x.ProvinceId == UserForm.IdCardProvinceId)"
                                                                                    NullText="Select City..." ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto" FilteringMode="@DataGridFilteringMode.Contains"
                                                                                    @bind-Value="@UserForm.IdCardCityId"
                                                                                    TextFieldName="Name"
                                                                                    ValueFieldName="Id">
                                                                        </DxComboBox>
                                                                    </Template>
                                                                </DxGridLayoutItem>
                                                                <DxGridLayoutItem Row="4" Column="0">
                                                                    <Template>
                                                                        <DxComboBox Data="@Districts.Where(x => x.CityId == UserForm.IdCardCityId && x.ProvinceId == UserForm.IdCardProvinceId)"
                                                                                    NullText="Select District..." ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto" FilteringMode="@DataGridFilteringMode.Contains"
                                                                                    @bind-Value="@UserForm.IdCardDistrictId"
                                                                                    TextFieldName="Name"
                                                                                    ValueFieldName="Id">
                                                                        </DxComboBox>
                                                                    </Template>
                                                                </DxGridLayoutItem>
                                                                <DxGridLayoutItem Row="4" Column="1">
                                                                    <Template>
                                                                        <DxComboBox Data="@Villages.Where(x => x.CityId == UserForm.IdCardCityId && x.ProvinceId == UserForm.IdCardProvinceId && x.DistrictId == UserForm.IdCardDistrictId)"
                                                                                    NullText="Select Village..." ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto" FilteringMode="@DataGridFilteringMode.Contains"
                                                                                    @bind-Value="@UserForm.IdCardVillageId"
                                                                                    TextFieldName="Name"
                                                                                    ValueFieldName="Id">
                                                                        </DxComboBox>
                                                                    </Template>
                                                                </DxGridLayoutItem>
                                                                <DxGridLayoutItem Row="5" Column="0" ColumnSpan="12">
                                                                    <Template>
                                                                        <DxComboBox Data="@Countries.Where(x => UserForm.IdCardProvinceId == null || x.Id == Provinces.FirstOrDefault(z => z.Id == UserForm.IdCardProvinceId)?.CountryId)"
                                                                                    NullText="Select Country..." ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto" FilteringMode="@DataGridFilteringMode.Contains"
                                                                                    @bind-Value="@UserForm.IdCardCountryId"
                                                                                    TextFieldName="Name"
                                                                                    ValueFieldName="Id">
                                                                        </DxComboBox>
                                                                    </Template>
                                                                </DxGridLayoutItem>
                                                            </Items>
                                                        </DxGridLayout>
                                                    </Template>
                                                </DxFormLayoutItem>
                                                <DxFormLayoutItem Visible="@(!UserForm.IsSameDomicileAddress)" CaptionCssClass="normal-caption" Caption="Residence Address" ColSpanMd="12">
                                                    <Template>
                                                        <DxGridLayout ColumnSpacing="8px" RowSpacing="8px">
                                                            <Rows>
                                                                <DxGridLayoutRow />
                                                                <DxGridLayoutRow />
                                                                <DxGridLayoutRow />
                                                                <DxGridLayoutRow />
                                                                <DxGridLayoutRow />
                                                                <DxGridLayoutRow />
                                                            </Rows>
                                                            <Columns>
                                                                <DxGridLayoutColumn />
                                                                <DxGridLayoutColumn />
                                                            </Columns>
                                                            <Items>
                                                                <DxGridLayoutItem Row="0" Column="0" ColumnSpan="12">
                                                                    <Template>
                                                                        <DxTextBox ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto" @bind-Text="@UserForm.DomicileAddress1" NullText="Street 1..." />
                                                                    </Template>
                                                                </DxGridLayoutItem>
                                                                <DxGridLayoutItem Row="1" Column="0" ColumnSpan="12">
                                                                    <Template>
                                                                        <DxTextBox ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto" @bind-Text="@UserForm.DomicileAddress2" NullText="Street 2..." />
                                                                    </Template>
                                                                </DxGridLayoutItem>
                                                                <DxGridLayoutItem Row="2" Column="0" ColumnSpan="12">
                                                                    <Template>
                                                                        <DxTextBox ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto" @bind-Text="@UserForm.DomicileRtRw" NullText="RT/RW..." />
                                                                    </Template>
                                                                </DxGridLayoutItem>
                                                                <DxGridLayoutItem Row="3" Column="0">
                                                                    <Template>
                                                                        <DxComboBox Data="@Provinces" ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto" FilteringMode="@DataGridFilteringMode.Contains"
                                                                                    NullText="Select Province..."
                                                                                    @bind-Value="@UserForm.DomicileProvinceId"
                                                                                    TextFieldName="Name"
                                                                                    ValueFieldName="Id">
                                                                        </DxComboBox>
                                                                    </Template>
                                                                </DxGridLayoutItem>
                                                                <DxGridLayoutItem Row="3" Column="1" CssClass="mt ml">
                                                                    <Template>
                                                                        <DxComboBox Data="@Cities.Where(x => x.ProvinceId == UserForm.DomicileProvinceId.GetValueOrDefault())"
                                                                                    NullText="Select City..." ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto" FilteringMode="@DataGridFilteringMode.Contains"
                                                                                    @bind-Value="@UserForm.DomicileCityId"
                                                                                    TextFieldName="Name"
                                                                                    ValueFieldName="Id">
                                                                        </DxComboBox>
                                                                    </Template>
                                                                </DxGridLayoutItem>
                                                                <DxGridLayoutItem Row="4" Column="0">
                                                                    <Template>
                                                                        <DxComboBox Data="@Districts.Where(x => x.CityId == UserForm.DomicileCityId && x.ProvinceId == UserForm.DomicileProvinceId)"
                                                                                    NullText="Select District..."
                                                                                    @bind-Value="@UserForm.DomicileDistrictId" ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto" FilteringMode="@DataGridFilteringMode.Contains"
                                                                                    TextFieldName="Name"
                                                                                    ValueFieldName="Id">
                                                                        </DxComboBox>
                                                                    </Template>
                                                                </DxGridLayoutItem>
                                                                <DxGridLayoutItem Row="4" Column="1">
                                                                    <Template>
                                                                        <DxComboBox Data="@Villages.Where(x => x.CityId == UserForm.DomicileCityId && x.ProvinceId == UserForm.DomicileProvinceId && x.DistrictId == UserForm.DomicileDistrictId)"
                                                                                    NullText="Select Village..." ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto" FilteringMode="@DataGridFilteringMode.Contains"
                                                                                    @bind-Value="@UserForm.DomicileVillageId"
                                                                                    TextFieldName="Name"
                                                                                    ValueFieldName="Id">
                                                                        </DxComboBox>
                                                                    </Template>
                                                                </DxGridLayoutItem>
                                                                <DxGridLayoutItem Row="5" Column="0" ColumnSpan="12">
                                                                    <Template>
                                                                        <DxComboBox Data="@Countries.Where(x => UserForm.DomicileProvinceId == null || x.Id == Provinces.FirstOrDefault(z => z.Id == UserForm.DomicileProvinceId)?.CountryId)"
                                                                                    NullText="Select Country..." ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto" FilteringMode="@DataGridFilteringMode.Contains"
                                                                                    @bind-Value="@UserForm.DomicileCountryId"
                                                                                    TextFieldName="Name"
                                                                                    ValueFieldName="Id">
                                                                        </DxComboBox>
                                                                    </Template>
                                                                </DxGridLayoutItem>
                                                            </Items>
                                                        </DxGridLayout>
                                                    </Template>
                                                </DxFormLayoutItem>

                                                <div class="text-center row-12">
                                                    <DxGridLayout ColumnSpacing="12">
                                                        <Rows>
                                                            <DxGridLayoutRow />
                                                        </Rows>
                                                        <Columns>
                                                            <DxGridLayoutColumn />
                                                        </Columns>
                                                        <Items>
                                                            <DxGridLayoutItem Row="0" Column="0">
                                                                <Template>
                                                                    <DxFormLayoutItem CaptionCssClass="normal-caption" Caption="Employee Relation">
                                                                        <DxCheckBox @bind-Checked="@UserForm.IsEmployee" />
                                                                    </DxFormLayoutItem>
                                                                </Template>
                                                            </DxGridLayoutItem>
                                                        </Items>
                                                    </DxGridLayout>
                                                </div>
                                            </DxFormLayoutGroup>

                                            <DxFormLayoutGroup Caption="Employee" ColSpanMd="12" Visible="@Convert.ToBoolean(UserForm.IsEmployee)">

                                                <DxFormLayoutItem CaptionCssClass="normal-caption" Caption="Supervisor" ColSpanMd="6">
                                                    <MyDxComboBox Data="@(Users.Where(x => x.Id != UserForm.Id).AsEnumerable())"
                                                                  NullText="Select Supervisor..."
                                                                  TextFieldName="Name"
                                                                  ValueFieldName="Id"
                                                                  @bind-Value="UserForm.SupervisorId">
                                                    </MyDxComboBox>
                                                    <ValidationMessage For="@(() => UserForm.SupervisorId)" />
                                                </DxFormLayoutItem>

                                                <DxFormLayoutItem CaptionCssClass="normal-caption" Caption="Occupational" ColSpanMd="6">
                                                    <MyDxComboBox Data="@Occupationals"
                                                                  NullText="Select Occupational..."
                                                                  TextFieldName="Name"
                                                                  ValueFieldName="Id"
                                                                  @bind-Value="UserForm.OccupationalId">
                                                    </MyDxComboBox>
                                                    <ValidationMessage For="@(() => UserForm.OccupationalId)" />
                                                </DxFormLayoutItem>

                                                <DxFormLayoutItem CaptionCssClass="-caption normal-caption" Caption="Job Position">
                                                    <MyDxComboBox Data="@JobPositions"
                                                                  NullText="Select Job Position..."
                                                                  @bind-Value="@UserForm.JobPositionId"
                                                                  TextFieldName="Name"
                                                                  ValueFieldName="Id">
                                                    </MyDxComboBox>
                                                </DxFormLayoutItem>
                                                <DxFormLayoutItem CaptionCssClass="-caption normal-caption" Caption="BPJS TK Number">
                                                    <DxMaskedInput @bind-Value="@UserForm.NoBpjsTk"
                                                                   NullText="BPJS TK Number"
                                                                   ShowValidationIcon="true"
                                                                   ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto">
                                                        <DxTextMaskProperties Placeholder="Placeholder" />
                                                    </DxMaskedInput>
                                                </DxFormLayoutItem>
                                                <DxFormLayoutItem CaptionCssClass="-caption normal-caption" Caption="Department">
                                                    <MyDxComboBox Data="@Departments"
                                                                  NullText="Select Department..."
                                                                  @bind-Value="@UserForm.DepartmentId"
                                                                  TextFieldName="Name"
                                                                  ValueFieldName="Id">
                                                    </MyDxComboBox>
                                                </DxFormLayoutItem>
                                                <DxFormLayoutItem CaptionCssClass="-caption normal-caption" Caption="Join Date">
                                                    <DxDateEdit @bind-Date="@UserForm.JoinDate" Mask="@DateTimeMask.ShortDate" NullText="Join Date" />
                                                </DxFormLayoutItem>
                                                <DxFormLayoutItem CaptionCssClass="-caption normal-caption" Caption="BPJS KS Number">
                                                    <DxMaskedInput @bind-Value="@UserForm.NoBpjsKs"
                                                                   NullText="BPJS KS Number"
                                                                   ShowValidationIcon="true"
                                                                   ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto">
                                                        <DxTextMaskProperties Placeholder="Placeholder" />
                                                    </DxMaskedInput>
                                                </DxFormLayoutItem>
                                                <DxFormLayoutItem CaptionCssClass="-caption normal-caption" Caption="NIP Number">
                                                    <DxMaskedInput @bind-Value="@UserForm.NIP"
                                                                   NullText="NIP"
                                                                   ShowValidationIcon="true"
                                                                   ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto">
                                                        <DxTextMaskProperties Placeholder="Placeholder" />
                                                    </DxMaskedInput>
                                                </DxFormLayoutItem>
                                                <DxFormLayoutItem CaptionCssClass="-caption normal-caption" Caption="Legacy Number">
                                                    <DxTextBox @bind-Text="@UserForm.Legacy" ShowValidationIcon="true" ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto" NullText="Legacy" />
                                                </DxFormLayoutItem>
                                                <DxFormLayoutItem CaptionCssClass="-caption normal-caption" Caption="Oracle Number">
                                                    <DxTextBox @bind-Text="@UserForm.Oracle" ShowValidationIcon="true" ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto" NullText="Oracle" />
                                                </DxFormLayoutItem>
                                                <DxFormLayoutItem CaptionCssClass="-caption normal-caption" Caption="SAP Number">
                                                    <DxTextBox @bind-Text="@UserForm.SAP" ShowValidationIcon="true" ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto" NullText="SAP" />
                                                </DxFormLayoutItem>
                                            </DxFormLayoutGroup>


                                            <DxFormLayoutGroup Caption="Allergy Data" ColSpanMd="12" ExpandButtonDisplayMode="GroupExpandButtonDisplayMode.Start" AnimationType="LayoutAnimationType.Slide">
                                                <Items>
                                                    <DxFormLayoutItem ColSpanMd="12" CaptionCssClass="normal-caption" Caption="Allergies">
                                                        <DxTagBox Data="@Allergies"
                                                                  NullText="Select Allergy..."
                                                                  ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
                                                                  @bind-Values="@SelectedAllergies"
                                                                  EditFormat="{1}"
                                                                  InputId="tbMultiColumn">
                                                            <DxListEditorColumn FieldName="@nameof(AllergyDto.KdAllergy)"
                                                                                Caption="Code"
                                                                                Width="100px" />
                                                            <DxListEditorColumn FieldName="@nameof(AllergyDto.NmAllergy)"
                                                                                Caption="Name" />
                                                            <DxListEditorColumn FieldName="@nameof(AllergyDto.TypeString)"
                                                                                Caption="Type" />
                                                        </DxTagBox>
                                                    </DxFormLayoutItem>

                                                    <DxFormLayoutItem Caption="Family Medical History" CaptionCssClass="normal-caption" ColSpanMd="12">
                                                        <Template>
                                                            <DxGridLayout ColumnSpacing="8px">
                                                                <Rows>
                                                                    <DxGridLayoutRow />
                                                                </Rows>
                                                                <Columns>
                                                                    <DxGridLayoutColumn />
                                                                    <DxGridLayoutColumn />
                                                                </Columns>
                                                                <Items>
                                                                    <DxGridLayoutItem Row="0" Column="0" CssClass="normal-caption" ColumnSpan="1">
                                                                        <Template>
                                                                            <MyDxComboBox Data="@YesNoOptions"
                                                                                          NullText="Yes/No"
                                                                                          @bind-Value="@UserForm.IsFamilyMedicalHistory">
                                                                            </MyDxComboBox>
                                                                        </Template>
                                                                    </DxGridLayoutItem>
                                                                    <DxGridLayoutItem Row="0" Visible="@(UserForm.IsFamilyMedicalHistory == "Yes")" Column="1" CssClass=" normal-caption " ColumnSpan="12">
                                                                        <Template>
                                                                            <MyDxComboBox Data="@RiwayatPenyakitKeluarga"
                                                                                          NullText="Select Family Medical History..."
                                                                                          @bind-Value="@UserForm.FamilyMedicalHistory">
                                                                            </MyDxComboBox>
                                                                        </Template>
                                                                    </DxGridLayoutItem>
                                                                </Items>
                                                            </DxGridLayout>
                                                        </Template>
                                                    </DxFormLayoutItem>

                                                    <DxFormLayoutItem Caption=" " Visible="@(UserForm.FamilyMedicalHistory is not null && UserForm.FamilyMedicalHistory.Equals("Other"))" CaptionCssClass="normal-caption" ColSpanMd="12">
                                                        <MyTextBox @bind-Text="@UserForm.FamilyMedicalHistoryOther"
                                                                   NullText="Family MedicalHistory Other" />
                                                    </DxFormLayoutItem>


                                                    <DxFormLayoutItem Caption="Medication History" CaptionCssClass="normal-caption" ColSpanMd="12">
                                                        <Template>
                                                            <DxGridLayout ColumnSpacing="8px">
                                                                <Rows>
                                                                    <DxGridLayoutRow />
                                                                </Rows>
                                                                <Columns>
                                                                    <DxGridLayoutColumn />
                                                                    <DxGridLayoutColumn />
                                                                </Columns>
                                                                <Items>
                                                                    <DxGridLayoutItem Row="0" Column="0" CssClass="normal-caption" ColumnSpan="1">
                                                                        <Template>
                                                                            <MyDxComboBox Data="@YesNoOptions"
                                                                                          NullText="Yes/No"
                                                                                          @bind-Value="@UserForm.IsMedicationHistory">
                                                                            </MyDxComboBox>
                                                                        </Template>
                                                                    </DxGridLayoutItem>
                                                                    <DxGridLayoutItem Visible="@(UserForm.IsMedicationHistory == "Yes")" Row="0" Column="1" CssClass=" normal-caption " ColumnSpan="12">
                                                                        <Template>
                                                                            <MyTextBox @bind-Text="@UserForm.MedicationHistory"
                                                                                       NullText="Medication History" />
                                                                        </Template>
                                                                    </DxGridLayoutItem>
                                                                </Items>
                                                            </DxGridLayout>
                                                        </Template>
                                                    </DxFormLayoutItem>

                                                    <DxFormLayoutItem Caption="Past Medical History" CaptionCssClass="normal-caption" ColSpanMd="12">
                                                        <MyTextBox @bind-Text="@UserForm.PastMedicalHistory"
                                                                   NullText="Past Medical History" />
                                                    </DxFormLayoutItem>
                                                </Items>
                                            </DxFormLayoutGroup>

                                            <DxFormLayoutGroup Caption="Family Relation" ColSpanMd="12" ExpandButtonDisplayMode="GroupExpandButtonDisplayMode.Start" AnimationType="LayoutAnimationType.Slide">
                                                <Items>
                                                    <DxLoadingPanel @bind-Visible="PanelVisible"
                                                                    IndicatorAnimationType="WaitIndicatorAnimationType.Pulse"
                                                                    IsContentBlocked="true"
                                                                    ApplyBackgroundShading="true"
                                                                    IndicatorAreaVisible="false"
                                                                    Text="Fetching Data...">

                                                        <DxGrid @ref="GridFamilyRelation" PagerNavigationMode="PagerNavigationMode.InputBox"
                                                                Data="PatientFamilyRelations"
                                                                PageSize="10"
                                                                @bind-SelectedDataItems="@SelectedDataFamilyRelationItems"
                                                                FilterMenuButtonDisplayMode="GridFilterMenuButtonDisplayMode.Always"
                                                                KeyFieldName="Id"
                                                                CustomizeDataRowEditor="Grid_CustomizeDataRowEditor"
                                                                EditModelSaving="OnSaveFamilyMember"
                                                                DataItemDeleting="OnDeleteFamilyRelation"
                                                                EditMode="GridEditMode.PopupEditForm"
                                                                PopupEditFormCssClass="pw-800"
                                                                PagerPosition="GridPagerPosition.Bottom"
                                                                PageSizeSelectorVisible="true"
                                                                PageSizeSelectorItems="@(new int[] { 10, 20, 50, 100 })"
                                                                PageSizeSelectorAllRowsItemVisible="true"
                                                                PagerSwitchToInputBoxButtonCount="10"
                                                                AllowSelectRowByClick="true"
                                                                FocusedRowEnabled="true"
                                                                PagerVisibleNumericButtonCount="10"
                                                                FocusedRowChanged="GridFamilyMember_FocusedRowChanged"
                                                                ShowGroupPanel="true"
                                                                AutoExpandAllGroupRows="true"
                                                                ShowFilterRow="true"
                                                                ShowSearchBox="true"
                                                                SelectAllCheckboxMode="GridSelectAllCheckboxMode.Mixed"
                                                                KeyboardNavigationEnabled="true">
                                                            <ToolbarTemplate>
                                                                <DxToolbar ItemRenderStyleMode="ToolbarRenderStyleMode.Contained">
                                                                    <DxToolbarItem Text="New" Click="NewFamilyRelationItem_Click" IconCssClass="fa-solid fa-plus" />
                                                                    <DxToolbarItem Text="Edit" Click="EditFamilyRelationItem_Click" IconCssClass="fa-solid fa-pen-to-square" Enabled="SelectedDataFamilyRelationItems.Count > 0 && PatientFamilyRelations.Count > 0" />
                                                                    <DxToolbarItem Text="Delete" Click="DeleteFamilyRelationItem_Click" IconCssClass="fa-solid fa-trash" Enabled="SelectedDataFamilyRelationItems.Count > 0 && PatientFamilyRelations.Count > 0" />
                                                                    <DxToolbarItem Text="Column Chooser" Click="ColumnChooserButton_Click" BeginGroup="true" IconCssClass="fa-solid fa-table-columns" />
                                                                    <DxToolbarItem Text="Export" BeginGroup="true" IconCssClass="fa-solid fa-file-export">
                                                                        <Items>
                                                                            <DxToolbarItem Text="To CSV" Click="ExportCsvItem_Click" />
                                                                            <DxToolbarItem Text="To XLSX" Click="ExportXlsxItem_Click" />
                                                                            <DxToolbarItem Text="To XLS" Click="ExportXlsItem_Click" />
                                                                        </Items>
                                                                    </DxToolbarItem>
                                                                </DxToolbar>
                                                            </ToolbarTemplate>
                                                            <Columns>
                                                                <DxGridSelectionColumn Width="15px" />
                                                                <DxGridDataColumn FieldName="FamilyMember.Name" Caption="Family Member" SortIndex="0" />
                                                                <DxGridDataColumn FieldName="Family.Relation" Caption="Relation" />
                                                            </Columns>
                                                            <EditFormTemplate Context="EditFormContext2">
                                                                @{
                                                                    var a = (PatientFamilyRelationDto)EditFormContext2.EditModel;
                                                                }
                                                                <DxFormLayout CssClass="w-100">
                                                                    <DxFormLayoutItem CaptionCssClass="normal-caption" Caption="Patient" ColSpanMd="12">
                                                                        <DxComboBox ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto" FilteringMode="@DataGridFilteringMode.Contains"
                                                                                    Data="@Patiens"
                                                                                    NullText="Select Family Member..."
                                                                                    @bind-Value="@a.FamilyMemberId"
                                                                                    TextFieldName="Name"
                                                                                    ValueFieldName="Id">
                                                                        </DxComboBox>
                                                                        <ValidationMessage For="@(()=> a.FamilyMemberId)"   />
                                                                    </DxFormLayoutItem>
                                                                    <DxFormLayoutItem CaptionCssClass=" normal-caption" Caption="Relation" ColSpanMd="12">
                                                                        <DxComboBox ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto" FilteringMode="@DataGridFilteringMode.Contains"
                                                                                    Data="@Families"
                                                                                    NullText="Select Relation..."
                                                                                    @bind-Value="@a.FamilyId"
                                                                                    TextFieldName="Relation"
                                                                                    ValueFieldName="Id">
                                                                        </DxComboBox>
                                                                        <ValidationMessage For="@(()=> a.FamilyId)"   />
                                                                    </DxFormLayoutItem>
                                                                </DxFormLayout>
                                                            </EditFormTemplate>
                                                        </DxGrid>
                                                    </DxLoadingPanel>
                                                </Items>
                                            </DxFormLayoutGroup>
                                        </DxFormLayout>
                                        <div class="ml-2 mt-1 mb-2 mr-3">
                                            <div class="row justify-content-end">
                                                <div class="col-auto align-self-end">
                                                    <DxButton RenderStyleMode="@ButtonRenderStyleMode.Outline"
                                                              Text="Save"
                                                              RenderStyle="ButtonRenderStyle.Info"
                                                              SubmitFormOnClick="true"
                                                              IconCssClass="fa-solid fa-floppy-disk"
                                                              CssClass="w-20 ml" />
                                                    <DxButton RenderStyleMode="@ButtonRenderStyleMode.Outline"
                                                              Text="Cancel"
                                                              RenderStyle="ButtonRenderStyle.Danger"
                                                              Click="OnCancel"
                                                              IconCssClass="fa-solid fa-xmark"
                                                              CssClass="w-20 ml" />
                                                </div>
                                            </div>
                                        </div>
                                    </EditForm>
                                    <div class="mt-2"></div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        }
    </div>
}
else
{
    <div class="wrapper">
        <McDermott.Web.Components.Layout.BaseContentHeaderLayout Title="Patient Data" />

        <LoadingIndicatorLayout></LoadingIndicatorLayout>
    </div>
}

<DxPopup HeaderText="Insurance Policy" @bind-Visible="@PopUpVisible" HeaderCssClass="fw-bold" CloseOnOutsideClick="false" Width="auto" Closed="OnClickCloseInsurancePolicyPopUp">
    <InsurancePolicyPage User="UserForm" IsPopUpForm="true"></InsurancePolicyPage>
</DxPopup>

<DxPopup HeaderText="History Prescription" @bind-Visible="@PrescriptionPopUp" HeaderCssClass="fw-bold" CloseOnOutsideClick="false" Width="auto" Closed="OnClickClosePrescriptionPopUp">
    <PrescriptionPage User="UserForm" IsPopUpForm="true"></PrescriptionPage>
</DxPopup>

<DxPopup HeaderText="Historical Vaccination Patients" @bind-Visible="@IsVaccinations" HeaderCssClass="fw-bold" CloseOnOutsideClick="false" Width="90%">
    <DxLoadingPanel @bind-Visible="IsLoadingGeneralConsultantServiceVaccinations"
                    IndicatorAnimationType="WaitIndicatorAnimationType.Pulse"
                    IsContentBlocked="true"
                    ApplyBackgroundShading="true"
                    IndicatorAreaVisible="false"
                    Text="Fetching Data...">
        <MyGrid @ref="GridVaccinations"
                Data="GeneralConsultanServiceVaccinations"
                KeyFieldName="Id"
                AllowSelectRowByClick="false"
                FocusedRowEnabled="false"
                @bind-SelectedDataItems="@SelectedDataItemVaccinations">

            <Columns>
                <DxGridDataColumn FieldName="RegistrationDate" DisplayFormat="ddd, dd MMM yyyy" Caption="Registration Date" SortIndex="0" />
                <DxGridDataColumn FieldName="Patient.Name" Caption="Patient" />
                <DxGridDataColumn FieldName="Payment" Caption="Payment Methode" />
                <DxGridDataColumn FieldName="Pratitioner.Name" Caption="Doctor" />
                <DxGridDataColumn FieldName="Service.Name" Caption="Service" />
                <DxGridDataColumn FieldName="TypeRegistration" Caption="Type Registration" />
                <DxGridDataColumn FieldName="StatusName" Caption="Status" />
                <DxGridDataColumn FieldName="AppointmentDate" Caption="Appoiment" />
                <DxGridDataColumn FieldName="IsAlertInformationSpecialCase" Caption="Special Case">
                    <CellDisplayTemplate>
                        @GetIssuePriorityIconHtml((context.DataItem as GeneralConsultanServiceDto))
                    </CellDisplayTemplate>
                </DxGridDataColumn>
                <DxGridDataColumn FieldName="PatientId" AllowSort="false" Width="10px" MinWidth="100" TextAlignment="GridTextAlignment.Center">
                    <CellDisplayTemplate>
                        <DxButton RenderStyle="ButtonRenderStyle.Primary"
                                  Attributes="@(new Dictionary<string, object> {  ["title"] = "Print" })"
                                  IconCssClass="fa-solid fa-circle-info"
                                  Click="@(()=> OnClickDetailHistoricalRecordPatientVaccinations((context.DataItem as GeneralConsultanServiceDto)))"
                                  CssClass="me-1" />
                    </CellDisplayTemplate>
                    <HeaderCaptionTemplate>Action</HeaderCaptionTemplate>
                </DxGridDataColumn>
            </Columns>
        </MyGrid>
    </DxLoadingPanel>
</DxPopup>

<DxPopup HeaderText="Historical Medical Record Patient Detail" @bind-Visible="@IsDetailVaccinations" Closed="( () => IsDetailVaccinations = false)" HeaderCssClass="fw-bold" CloseOnOutsideClick="false" Width="90%">

    <_PopUpDetailVaccination GeneralConsultanService="SelectedGeneralConsultanService"
                             GeneralConsultanCPPTs="GeneralConsultanCPPTs" />
</DxPopup>