@page "/employee/departments"
@rendermode InteractiveServer

<PageTitle>McHealthCare - Department</PageTitle>

@if (IsAccess && UserAccessCRUID is not null && UserAccessCRUID.IsRead)
{
    <div class="wrapper">

        <BaseHeaderPage Title="Department" OnClickBack="@(async () => await LoadData())" ShowBackButton="false" />

        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col">
                        <div class="card">
                            <InputFile id="fileInput" style="display:none" OnChange="@ImportExcelFile" accept=".xlsx" multiple="false"></InputFile>

                            <DxLoadingPanel @bind-Visible="PanelVisible"
                                            IndicatorAnimationType="WaitIndicatorAnimationType.Pulse"
                                            IsContentBlocked="true"
                                            ApplyBackgroundShading="true"
                                            IndicatorAreaVisible="false"
                                            Text="Fetching Data...">
                                <MyGridPaginate @ref="Grid"
                                                Data="Departments"
                                                PageSize="10"
                                                @bind-SelectedDataItems="@SelectedDataItems"
                                                EditModelSaving="OnSave"
                                                DataItemDeleting="OnDelete"
                                                FocusedRowChanged="Grid_FocusedRowChanged"
                                                SearchTextChanged="OnSearchBoxChanged">

                                    <ToolbarTemplate>
                                        <MyDxToolbarBase TItem="DepartmentDto"
                                                         Items="@Departments"
                                                         SelectedDataItems="@SelectedDataItems"
                                                         NewItem_Click="@NewItem_Click"
                                                         EditItem_Click="@EditItem_Click"
                                                         DeleteItem_Click="@DeleteItem_Click"
                                                         Refresh_Click="(async () => await LoadData())"
                                                         IsImport="UserAccessCRUID.IsImport"
                                                         Grid="Grid"
                                                         ImportFile="ImportFile"
                                                         ExportToExcel="ExportToExcel"
                                                         VisibleNew="UserAccessCRUID.IsCreate"
                                                         VisibleEdit="UserAccessCRUID.IsUpdate"
                                                         VisibleDelete="UserAccessCRUID.IsDelete" />
                                    </ToolbarTemplate>

                                    <Columns>
                                        <DxGridSelectionColumn Width="15px" />
                                        <DxGridDataColumn FieldName="Name" SortIndex="0" />
                                        <DxGridDataColumn FieldName="ParentDepartment.Name" Caption="Parent" />
                                        <DxGridDataColumn FieldName="Company.Name" Caption="Company" />
                                        <DxGridDataColumn FieldName="Manager.Name" Caption="Manager" />
                                        <DxGridDataColumn FieldName="DepartmentCategory" Caption="Category" />
                                    </Columns>

                                    <EditFormTemplate Context="EditFormContext">
                                        @{
                                            var a = (DepartmentDto)EditFormContext.EditModel;
                                        }
                                        <DxFormLayout CssClass="w-100">
                                            <DxFormLayoutItem CaptionCssClass="required-caption normal-caption" Caption="Name" ColSpanMd="12">
                                                <MyTextBox @bind-Text="@a.Name" NullText="Name" />
                                                <ValidationMessage For="@(() => a.Name)"   />
                                            </DxFormLayoutItem>

                                            <DxFormLayoutItem CaptionCssClass="required-caption normal-caption" Caption="Parent Department" ColSpanMd="12">
                                                <MyDxComboBox Data="@ParentDepartments"
                                                              NullText="Select Parent Department"
                                                              @ref="refParentDepartmentComboBox"
                                                              @bind-Value="@a.ParentDepartmentId"
                                                              TextFieldName="Name"
                                                              ValueFieldName="Id"
                                                              TextChanged="((string e) => OnInputParentDepartmentChanged(e))">
                                                    <Buttons>
                                                        <DxEditorButton Click="OnSearchParentDepartmentndexDecrement"
                                                                        IconCssClass="fa-solid fa-caret-left"
                                                                        Tooltip="Previous Index" />
                                                        <DxEditorButton Click="OnSearchParentDepartment"
                                                                        IconCssClass="fa-solid fa-magnifying-glass"
                                                                        Tooltip="Search" />
                                                        <DxEditorButton Click="OnSearchParentDepartmentIndexIncrement"
                                                                        IconCssClass="fa-solid fa-caret-right"
                                                                        Tooltip="Next Index" />
                                                    </Buttons>
                                                    <Columns>
                                                        <DxListEditorColumn FieldName="@nameof(DepartmentDto.Name)" Caption="Name" />
                                                        <DxListEditorColumn FieldName="Company.Name" Caption="Company" />
                                                        <DxListEditorColumn FieldName="Manager.Name" Caption="Manager" />
                                                        <DxListEditorColumn FieldName="DepartmentCategory" Caption="Category" />
                                                    </Columns>
                                                </MyDxComboBox>
                                                <ValidationMessage For="@(()=>a.ParentDepartmentId)" />
                                            </DxFormLayoutItem>

                                            <DxFormLayoutItem CaptionCssClass="required-caption normal-caption" Caption="Company" ColSpanMd="12">
                                                <MyDxComboBox Data="@Companies"
                                                              NullText="Select Company"
                                                              @ref="refCompanyComboBox"
                                                              @bind-Value="@a.CompanyId"
                                                              TextFieldName="Name"
                                                              ValueFieldName="Id"
                                                              TextChanged="((string e) => OnInputCompanyChanged(e))">
                                                    <Buttons>
                                                        <DxEditorButton Click="OnSearchCompanyndexDecrement"
                                                                        IconCssClass="fa-solid fa-caret-left"
                                                                        Tooltip="Previous Index" />
                                                        <DxEditorButton Click="OnSearchCompany"
                                                                        IconCssClass="fa-solid fa-magnifying-glass"
                                                                        Tooltip="Search" />
                                                        <DxEditorButton Click="OnSearchCompanyIndexIncrement"
                                                                        IconCssClass="fa-solid fa-caret-right"
                                                                        Tooltip="Next Index" />
                                                    </Buttons>
                                                    <Columns>
                                                        <DxListEditorColumn FieldName="@nameof(CompanyDto.Name)" Caption="Name" />
                                                        <DxListEditorColumn FieldName="@nameof(CompanyDto.Email)" Caption="Email" />
                                                    </Columns>
                                                </MyDxComboBox>
                                                <ValidationMessage For="@(()=>a.CompanyId)" />
                                            </DxFormLayoutItem>


                                            <DxFormLayoutItem CaptionCssClass="required-caption normal-caption" Caption="Manager" ColSpanMd="12">
                                                <MyDxComboBox Data="@Users"
                                                              NullText="Select Manager"
                                                              @ref="refUserComboBox"
                                                              @bind-Value="@a.ManagerId"
                                                              TextFieldName="Name"
                                                              ValueFieldName="Id"
                                                              TextChanged="((string e) => OnInputUserChanged(e))">
                                                    <Buttons>
                                                        <DxEditorButton Click="OnSearchUserndexDecrement"
                                                                        IconCssClass="fa-solid fa-caret-left"
                                                                        Tooltip="Previous Index" />
                                                        <DxEditorButton Click="OnSearchUser"
                                                                        IconCssClass="fa-solid fa-magnifying-glass"
                                                                        Tooltip="Search" />
                                                        <DxEditorButton Click="OnSearchUserIndexIncrement"
                                                                        IconCssClass="fa-solid fa-caret-right"
                                                                        Tooltip="Next Index" />
                                                    </Buttons>
                                                    <Columns>
                                                        <DxListEditorColumn FieldName="@nameof(UserDto.Name)" Caption="Name" /> 
                                                        <DxListEditorColumn FieldName="@nameof(UserDto.Email)" Caption="Email" />
                                                    </Columns>
                                                </MyDxComboBox>
                                                <ValidationMessage For="@(()=>a.ManagerId)" />
                                            </DxFormLayoutItem>

                                            <DxFormLayoutItem CaptionCssClass="-caption normal-caption" Caption="Category" ColSpanMd="12">
                                                <Template>
                                                    <DxComboBox ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
                                                                NullText="Select Department Category" FilteringMode="@DataGridFilteringMode.Contains" Data="@DepartmentCategories" @bind-Value="@a.DepartmentCategory" />
                                                                
                                                <ValidationMessage For="@(()=>a.ManagerId)" />
                                                </Template>
                                            </DxFormLayoutItem>
                                        </DxFormLayout>
                                    </EditFormTemplate>
                                    <TotalSummary>
                                        <DxGridSummaryItem SummaryType="GridSummaryItemType.Count"
                                                           FieldName="Name"
                                                           Visible="true" />
                                    </TotalSummary>
                                </MyGridPaginate>
                                <div class="row">
                                    <DxFormLayout>
                                        <div class="col-md-9">
                                            <DxFormLayoutItem>
                                                <DxPager PageCount="totalCount"
                                                         ActivePageIndexChanged="OnPageIndexChanged"
                                                         ActivePageIndex="activePageIndex"
                                                         VisibleNumericButtonCount="10"
                                                         SizeMode="SizeMode.Medium"
                                                         NavigationMode="PagerNavigationMode.Auto">
                                                </DxPager>
                                            </DxFormLayoutItem>
                                        </div>
                                        <div class="col-md-3 d-flex justify-content-end">
                                            <DxFormLayoutItem Caption="Page Size:">
                                                <MyDxComboBox Data="(new[] { 10, 25, 50, 100 })"
                                                              NullText="Select Page Size"
                                                              ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Never"
                                                              SelectedItemChanged="((int e ) => OnPageSizeIndexChanged(e))"
                                                              @bind-Value="pageSize">
                                                </MyDxComboBox>
                                            </DxFormLayoutItem>
                                        </div>
                                    </DxFormLayout>
                                </div>
                            </DxLoadingPanel>

                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
}
else if (UserAccessCRUID is not null && !UserAccessCRUID.IsRead)
{
    <InvalidPermissionPage />
}
else
{
    <LoadingIndicatorLayout />
}