@page "/employee/sick-leave"
@page "/employee/sick-leave/{Id:long}"
@page "/employee/sick-leave/PrintToLeave/{Id:long}"
@rendermode InteractiveServer

<PageTitle>@Helper.APP_NAME - Sick Leave</PageTitle>

<div class="wrapper">
    <BaseHeaderPage Title="Sick Leave" OnClickBack="@(async () => await LoadData())" ShowBackButton="false" />

    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col">
                    <div class="card">
                        <DxLoadingPanel @bind-Visible="IsLoading"
                                        IndicatorAnimationType="WaitIndicatorAnimationType.Pulse"
                                        IsContentBlocked="true"
                                        ApplyBackgroundShading="true"
                                        IndicatorAreaVisible="false"
                                        Text="Fetching Data...">
                            <MyGrid @ref="@Grid"
                                    Data="@SickLeaves"
                                    @bind-SelectedDataItems="@SelectedDataItems"
                                    FocusedRowChanged="Grid_FocusedRowChanged">

                                <ToolbarTemplate>
                                    <DxToolbar ItemRenderStyleMode="ToolbarRenderStyleMode.Contained">
                                        <DxToolbarItem Text="Send Email" RenderStyle="ButtonRenderStyle.Primary" CssClass="w-100" Click="ConfirmAndSendEmail" IconCssClass="fa-solid fa-envelope-circle-check" Enabled="SelectedDataItems.Count > 0 && SickLeaves.Count > 0 && Employee" />
                                    </DxToolbar>
                                </ToolbarTemplate>

                                <Columns>
                                    <DxGridSelectionColumn Width="15px" />
                                    <DxGridDataColumn FieldName="PatientId" AllowSort="false" Width="10px" MinWidth="100" TextAlignment="GridTextAlignment.Center">
                                        <CellDisplayTemplate>
                                            <DxButton RenderStyle="ButtonRenderStyle.Success"
                                                      Attributes="@(new Dictionary<string, object> {  ["title"] = "Print" })"
                                                      IconCssClass="fa-solid fa-print"
                                                      Click="@(()=>PrintToLeave((context.DataItem as SickLeaveDto).GeneralConsultans.PatientId))"
                                                      CssClass="me-1" />

                                            @*  <DxButton RenderStyle="ButtonRenderStyle.Primary"
                                            Attributes="@(new Dictionary<string, object> {  ["title"] = "Send To Email" })"
                                            IconCssClass="fa-solid fa-paper-plane"
                                            Click="@(()=>SendToEmail((context.DataItem as SickLeaveDto).PatientId))"
                                            IconPosition="ButtonIconPosition.AfterText" /> *@
                                        </CellDisplayTemplate>
                                        <HeaderCaptionTemplate>Action</HeaderCaptionTemplate>
                                    </DxGridDataColumn>
                                    <DxGridDataColumn MinWidth="200" FieldName="GeneralConsultans.Patient.Name" Caption="Patient Name" />
                                    <DxGridDataColumn MinWidth="150" FieldName="GeneralConsultans.NoRM" Caption="NO RM" />
                                    <DxGridDataColumn MinWidth="150" FieldName="TypeLeave" Caption="Type" />

                                    @if (TypeLeaves == "SickLeave")
                                    {
                                        <DxGridDataColumn MinWidth="150" FieldName="GeneralConsultans.StartDateSickLeave" Caption="Start Date Leave" DisplayFormat="dd MMMM yyyy" />
                                        <DxGridDataColumn MinWidth="150" FieldName="GeneralConsultans.EndDateSickLeave" Caption="End Date Leave" DisplayFormat="dd MMMM yyyy" />
                                    }
                                    else if (TypeLeaves == "Maternity")
                                    {
                                        <DxGridDataColumn MinWidth="150" FieldName="GeneralConsultans.StartMaternityLeave" Caption="Start Date Leave" DisplayFormat="dd MMMM yyyy" />
                                        <DxGridDataColumn MinWidth="150" FieldName="GeneralConsultans.EndMaternityLeave" Caption="End Date Leave" DisplayFormat="dd MMMM yyyy" />

                                    }
                                    <DxGridDataColumn MinWidth="200" FieldName="Diagnosis" Caption="Diagnosis" />
                                    <DxGridDataColumn MinWidth="130" FieldName="Status" Caption="Status" />
                                </Columns>
                            </MyGrid>
                        </DxLoadingPanel>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<DxPopup Visible="isPrint" Width="874px">
    <DxRichEdit ActiveRibbonTabIndex="5" DocumentContent="@DocumentContent" CssClass="w-100 ch-720">
        <MailMergeSettings>
            <DxMailMergeSettings ViewMergedData="true" Data="SickLeaves"></DxMailMergeSettings>
        </MailMergeSettings>
    </DxRichEdit>
</DxPopup>

<DxPopup Visible="isShow" HeaderText="Send Email" CloseOnOutsideClick="false" CloseOnEscape="false" ShowFooter="true" ShowCloseButton="false" Width="300" MinWidth="100">
    <BodyContentTemplate>
        <div class="text-wrap">
            <p class="fw-4">Are you sure you want to send this email? </p>
        </div>
    </BodyContentTemplate>
    <FooterContentTemplate Context="Context">
        <DxButton Enabled="!IsLoading" CssClass="popup-button my-1 ms-2" Click="SendToEmail" RenderStyle="ButtonRenderStyle.Primary" Text="Yes" SubmitFormOnClick="true" />
        <DxButton CssClass="popup-button my-1 ms-2" Click="Cancel" RenderStyle="ButtonRenderStyle.Danger" Text="No" />
    </FooterContentTemplate>
</DxPopup>