@page "/employee/sick-leave"
@page "/employee/sick-leave/{Id:long}"
@rendermode InteractiveServer

<div class="wrapper">
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Employee</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li class="breadcrumb-item" @onclick="LoadData"><a href="/employee/sick-leave">Sick Leave Mangement</a></li>
                    </ol>
                </div>
            </div>
        </div>
    </section>

    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col">
                    <div class="card">
                        <div class="card-body">
                            <DxLoadingPanel @bind-Visible="IsLoading"
                                            IndicatorAnimationType="WaitIndicatorAnimationType.Pulse"
                                            IsContentBlocked="true"
                                            ApplyBackgroundShading="true"
                                            IndicatorAreaVisible="false"
                                            Text="Fetching Data...">
                                <DxGrid @ref="@Grid"
                                        Data="@SickLeaves"
                                        PagerNavigationMode="PagerNavigationMode.InputBox"
                                        PageSize="10"
                                        @bind-SelectedDataItems="@SelectedDataItems"
                                        AllowSelectRowByClick="true"
                                        FilterMenuButtonDisplayMode="GridFilterMenuButtonDisplayMode.Always"
                                        KeyFieldName="Id"
                                        CustomizeDataRowEditor="Grid_CustomizeDataRowEditor"
                                        FocusedRowEnabled="true"
                                        PopupEditFormCssClass="pw-800"
                                        PagerPosition="GridPagerPosition.Bottom"
                                        PageSizeSelectorVisible="true"
                                        PageSizeSelectorItems="@(new int[] { 10, 20, 50, 100 })"
                                        RowDoubleClick="OnRowDoubleClick"
                                        PageSizeSelectorAllRowsItemVisible="true"
                                        PagerSwitchToInputBoxButtonCount="10"
                                        PagerVisibleNumericButtonCount="10"
                                        FocusedRowChanged="Grid_FocusedRowChanged"
                                        ShowGroupPanel="true"
                                        CustomizeElement="GridExtention.Grid_CustomizeElement"
                                        AutoExpandAllGroupRows="true"
                                        ShowFilterRow="true"
                                        ShowSearchBox="true"
                                        SelectAllCheckboxMode="GridSelectAllCheckboxMode.Mixed"
                                        KeyboardNavigationEnabled="true">
                                    <Columns>
                                        <DxGridSelectionColumn Width="15px" />
                                        <DxGridDataColumn FieldName="PatientId" AllowSort="false" Width="70px" MinWidth="200" TextAlignment="GridTextAlignment.Center">
                                            <CellDisplayTemplate>
                                                <DxButton RenderStyle="ButtonRenderStyle.Success"                                                         
                                                          Attributes="@(new Dictionary<string, object> {  ["title"] = "Print" })"
                                                          IconCssClass="fa-solid fa-print"
                                                          CssClass="me-1" />

                                                <DxButton RenderStyle="ButtonRenderStyle.Primary"                                                          
                                                          Attributes="@(new Dictionary<string, object> {  ["title"] = "Send To Email" })"
                                                          IconCssClass="fa-solid fa-paper-plane"
                                                          IconPosition="ButtonIconPosition.AfterText" />
                                            </CellDisplayTemplate>
                                            <HeaderCaptionTemplate>Action</HeaderCaptionTemplate>
                                        </DxGridDataColumn>
                                        <DxGridDataColumn MinWidth="200" FieldName="PatientName" Caption="Patient Name" />
                                        <DxGridDataColumn MinWidth="200" FieldName="NoRM" Caption="NO RM" />
                                        <DxGridDataColumn MinWidth="200" FieldName="StartSickLeave" Caption="Start Date" DisplayFormat="dd MMMM yyyy"/>
                                        <DxGridDataColumn MinWidth="200" FieldName="EndSickLeave" Caption="End Date" DisplayFormat="dd MMMM yyyy" />
                                        <DxGridDataColumn MinWidth="200" FieldName="Diagnosis" Caption="Diagnosis" />
                                    </Columns>
                                </DxGrid>
                            </DxLoadingPanel>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
